; @copyright (c) Copyright 2011 Palantir.net

; This makefile specifies the current versions of and patches to Search API and
; Search API Solr required to make Sarnia work.

core = "7.x"
api = "2"

; Contrib modules
projects[] = views
projects[] = ctools
projects[] = entity

projects[search_api][version] = "1.x-dev"
projects[search_api][patch][] = "http://drupal.org/files/1197538-17-search_api-random_sort.patch"
