/* ==========================================================================
   Main Styles
   ========================================================================== */

/**
 * Main Menu Styles
 */
#menu {
	font-family: $robo;
	color: $grey;
	width: 100%;
	text-align: left;
	li {
		padding: 0px;
		margin-top: 0px;
		a {
			@include font-size(19px);
			color: $menu;
			padding-right: 8px;
			font-weight: normal;
			font-family: $robo;
			text-shadow:none;
			margin-top: 0px;
			text-transform: $low;
			&:hover {
				color: $orange;
			}
		}
	}
}
