/********************/
/* CUSTOM STYLE CSS */
/********************/
/* 
Put your custom css and css overrides in this file. By restricting your css changes to 
custom-style.css, your changes will not be overwritten when upgrading to a new version of this theme.

Steps to customize your theme:
1. Add your custom css to this file;
2. Uncomment different examples below and modify data as you wish;
3. Clear cached data at admin/settings/performance or, if you use Administration Menu module, "Flush all caches".
	 You can also check "Rebuild theme registry on every page" at /admin/appearance/settings/zeropoint during development;
4. Don't forget to save a copy of this file with a different name to avoid loosing it after a theme update.
*/



/* Erase or comment the lines below to get rid of the image in the right sidebar and the brand image at the bottom */
#middlecontainer {
	background: transparent url(../images/all/_sidebarimg.png) 99% 99% no-repeat;
}
#brand {
	background: url(../images/all/_brand.png) 50% 0 no-repeat;
	margin: 0 auto;
	height: 50px;
}


/***********************/
/* CHANGE DEFAULT FONT */
/***********************/
/*
html, .pure-g [class*="pure-u"] {
	font-family: Verdana, Helvetica;
}*/


/**********************/
/* ROUND USER PICTURE */
/**********************/
/*
.user-picture img {
	border-radius: 100% !important;
}*/


/*************************/
/* DROP DOWN ADJUSTMENTS */
/*************************/

/* no dropdown shadows */
/*
.pure-menu-children {
	box-shadow: none;
}*/

/* big arrows */
/*
.pure-menu-horizontal .pure-menu-has-children > .pure-menu-link:after {
	content: "\25BC";
}
.pure-menu-has-children .pure-menu-has-children > .pure-menu-link:after {
	content: "\25B6";
}*/


/**************************/
/* INDIVIDUAL MENU COLORS */
/**************************/
/* Uncomment the following lines to have different colors for menu items. 
 * Change the values below accordingly: XXX=menu item number; YYY=color. */

/* Individual menu item */
/*
.menu-XXX {
	background: #YYY;
}*/

/* First/last menu item */
/*
.first.pure-menu-link {
	background: #YYY;
}*/

/* Middle menu items */
/*
.pure-menu-link {
	background: #YYY;
}*/

/* Children color */
/*
.pure-menu-children .pure-menu-link {
	color: #YYY !important;
	background: YYY;
}*/


/*********************************/
/* HIDE some TITLES and READMORE */
/*********************************/
/* Uncomment the first declaration below to hide all titles on the front page 
 * Addapt the second declaration to hide a certain title on the frontpage. 
 * Third one is for no "Read more" on the front page. */ 
/*
.front #main h2.title a {
	display: none;
}
.front #main #node-XXX h2.title a {
	display: none;
}
.front .node-readmore {
	display: none;
}
*/


/*******************************/
/* UPDATE ICONS FOR NEW BLOCKS */
/*******************************/
/* where ID is the block id */

/*
#ID .block-icon {
	background: transparent url(../images/all/icons/blocks/icon_24_48.png) no-repeat;
}
*/


/*************************/
/* USER BLOCKS ALIGNMENT */
/*************************/
/*
#section1 .block {
	min-height: 250px;
}*/


/*************************/
/* CENTERED BLOCK IMAGES */
/*************************/
/*
.block img {
	margin: auto;
}*/


/************************/
/* OTHER SOCIAL NETWORK */
/***********************/
/*
#soclinks .myother { 
	background: transparent url(myother-social-network_32.png) no-repeat scroll center center; 
}*/


/***********************/
/* CHANGE HEADER IMAGE */
/***********************/
/* Deactivate the image rotator in theme's settings, put your new image in the _custom folder and uncomment the lines below */
/*
.himg #headimg, #headimg {
	background: #fff url(YOUR_IMAGE.png) no-repeat 100% 100%;
}*/


/***********************/
/* CHANGEs for MOBILES */
/***********************/

@media screen and (max-width: 48em) {

/* HEADER IMAGE */
/* Comment or erase the lines below and images rotator will work on mobiles too.
	 You can also change the image with "mobi-sq" or use your own. */
	.himg #headimg, #headimg {
		background: #fff url(../images/all/mobi-dot.png) repeat;
	}
}
