<phpunit backupGlobals="false"
    backupStaticAttributes="false"
    syntaxCheck="false"
    bootstrap="build_test_class.inc">
  <testsuites>
    <testsuite name="Drush Instance Test Suite">
      <directory>.</directory>
    </testsuite>
  </testsuites>

  <php>
    <includePath>.</includePath>
  </php>
</phpunit>
