table {
  width: 100%;
}

div.tasks table th {
  padding: 0 5px;
}

div.tasks table td {
  padding: 0 5px;
}

div.successful {
  color: green;
}

div.error {
  color: red;
}

div.batch-percent {
  position: relative;
  float: right;
}

div.batch-complete {
  position: relative;
  float: left;
}
