#theme-utils {
  position: fixed;
  bottom: 0;
  right: 0;
}

#theme-utils .theme-utils-box {
  background-color: #333;
  color: #fff;
  float: right;
  clear: right;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-size: 10px;
  padding: 8px;
  margin-bottom: 3px;
  margin-right: 3px;
  cursor: pointer;
  zoom: 1;
  filter: alpha(opacity=80);
  opacity: 0.8;
}

#theme-utils-media-query .query {
  display: none;
}
