#nnloader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
   background: url('../images/novalnetloader.gif') 50% 50% no-repeat;
}
.commerce-credit-card-expiration {
  margin-bottom: 1em;
}
.commerce-credit-card-expiration .form-item {
  display: inline;
  margin-bottom: 1em;
}
.nn_map_header {
    background-color: #0080c9;
    color: #fff;
    font-family: calibri;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    text-align: center;
}
.nn_map_header a {
    color: #fff;
    font-family: calibri;
    font-size: 16px;
    font-weight: bold;
}
.nn_map_header:hover {
    background-color: #878787;
    color: #fff;
}
