/**
 * Admin styles for Commerce Restrict Area.
 */

#commerce-restrict-area-settings-form .form-item {
  margin-left: 20px;
}
#commerce-restrict-area-settings-form .fieldset-description {
  margin-bottom: 20px;
}
#commerce-restrict-area-settings-form select {
  margin-left: 20px;
}
