#search-box input {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px 10px;
}
.page-admin-reports-developer-docs h3 {
  text-align: center;
  text-transform: uppercase;
  display: block;
  padding: 5px 0;
}

#search-box {
  margin: 10px;
}
