/**
 * @file
 * Custom CSS for our file revisions management.
 *
 */
 
.fer_history_header_name,
.fer_history {
  display: table-cell;
  margin: 0.1em 0.25em;
  padding: 0.1em 0.25em;
  border: 1px solid #000;
}

.fer_history_header {
  display: table-header-group;
}

.fer_history_row {
  display: table-row;
}

.fer_history_top {
  display: table;
}

.utp-current-config {
    border: 1px outset #eee;
    border-radius: 0.25em;
    display: inline-block;
    margin: 0 1em 2.5em 0;
    padding: 0.15em 0.25em;
}

.utp-warning-config {
  color: #f00;
}

.fer-live-revision {
    color: #f00;
    font-weight: bold;
}

.workflow-current-state,
.workflow-current-state-label {
    display: inline-block;
    font-family: "Open Sans","Segoe UI","Helvetica",sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin: 0 0.5em 0.5em 0;
}

.workflow-current-state {
    font-weight: 500;
}