/* --- Articles (nodes) --- */
.node-article {
  margin-bottom: 40px; /* Articles spacing */
}

/* Teaser */
.node-teaser {
}

/* Article Title */
.node-article > .header {
}

.node-title {
  color: #333;
  font-size: 2em;
  margin: 0;
}

.node-title a,
.node-title a:visited {
  color: #333;
}

.node-title a:hover,
.node-title a:active,
.node-title a:focus {
  background: #333;
  color: #fff;
  text-decoration: none;
}

/* User Picture */
.node-article .user-picture {
  display: inline;
  margin-right: .5em;
}

.node-article .user-picture img {
}

/* Meta */
.node-author {
}

.username {
}

.node-article > .submitted {
  color: #7b7b7b;
  line-height: 1;
  padding: 0.455em 0 1.5em;
}

.node-article > .submitted a {
}

.node-article > .submitted a:hover,
.node-article > .submitted a:active,
.node-article > .submitted a:focus {
}

.node-article > .submitted .username {
  font-weight: bold;
}

.node-article > .submitted .time {
}

/* Field Image */
.node-article .field-type-image {
  border: 3px solid #ccc;
  float: right;
  margin-bottom: 1em;
  margin-left: 1.5em;
}

/* Article Lists */
.node-article ul {
}

.node-article ul li {
}

.node-article ol {
}

.node-article ol li {
}

/* Article Links */
.node-article .menu {
  margin-top: 1.5em;
}

.node-article ul.links {
  color: #999;
  font-size: 0.846em;
  margin: 0;
}

.node-article ul.links li {
  margin: 0 0.455em 0 0;
  padding: 0;
}

.node-article ul.links li a {
  background: #ddd;
  color: #7b7b7b;
  display: inline-block;
  font-weight: bold;
  padding: 3px 10px;
}

.node-article ul.links li a:hover,
.node-article ul.links li a:active,
.node-article ul.links li a:focus {
  background: #333;
  color: #fff;
  text-decoration: none;
}

.node-article ul.links li.node-readmore a {
  background: #333;
  color: #fff;
}

.node-article ul.links li.comment-add a {
}

.node-article ul.links li.comment-comments a {
}

.node-article ul.links li.comment-new-comments a {
}

.node-article ul.links li.blog_usernames_blog a {
}

.node-article ul.links li.print_html a {
}

.node-article ul.links li.print_email a {
}

.node-article ul.links li.print_pdf a {
}

.node-article ul.links li.first {
}

.node-article ul.links li.last {
}

/* Workflow states */
.node-article-add {
}

.node-article-edit {
}

.node-article-delete {
}

.node-article-preview {
}

.node-article-sticky {
}

.node-article-promoted {
}

/* Status */
.node-article-unpublished {
}

/* --- Blogs --- */
.page-blog .node-article {
}

/* Teaser */
.page-blog .node-teaser {
}

/* Blog Title */
.node-blog > .header {
}

.node-blog .node-title {
}

.node-blog .node-title a,
.node-blog .node-title a:visited {
}

.node-blog .node-title a:hover,
.node-blog .node-title a:active,
.node-blog .node-title a:focus {
}

/* Blog User Picture */
.node-blog .user-picture {
  display: inline-block;
  vertical-align: text-top;
}

.node-blog .user-picture img {
}

/* Blog Meta */
.node-blog > .submitted {
}

.node-blog > .submitted a {
}

.node-blog > .submitted a:hover,
.node-blog > .submitted a:active,
.node-blog > .submitted a:focus {
}

.node-blog > .submitted .username {
}

.node-blog > .submitted .time {
}

/* Blog Field Image */
.node-blog .field-type-image {
  border: 0;
}

/* Blog Links */
.node-blog .menu {
}

.node-blog ul.links {
}

.node-blog ul.links li {
}

.node-blog ul.links li a {
}

.node-blog ul.links li a:hover,
.node-blog ul.links li a:active,
.node-blog ul.links li a:focus {
}

.node-blog ul.links li.node-readmore a {
}

.node-blog ul.links li.comment-add a {
}

.node-blog ul.links li.comment-comments a {
}

.node-blog ul.links li.comment-new-comments a {
}

.node-blog ul.links li.blog_usernames_blog a {
}

.node-blog ul.links li.print_html a {
}

.node-blog ul.links li.print_email a {
}

.node-blog ul.links li.print_pdf a {
}

.node-blog ul.links li.first {
}

.node-blog ul.links li.last {
}

/* Blog Workflow states */
.page-blog .node-article-add {
}

.page-blog .node-article-edit {
}

.page-blog .node-article-delete {
}

.page-blog .node-article-preview {
}

.page-blog .node-article-sticky {
}

.page-blog .node-article-promoted {
}

/* Status */
.page-blog .node-article-unpublished {
}

/**
 * Misc.
 */

/* Skinr article title alignment */
.ta-l .node-article-title {
  text-align: left;
}

.ta-r .node-article-title {
  text-align: right;
}

.ta-c .node-article-title {
  text-align: center;
}
