.update {
    .project {
        font-weight: bold;
    }
    .version-status {
        float: right;
    }
    .version-date {
        white-space: nowrap;
    }
    .info {
        padding: 1em 1em .25em 1em;
        margin: 0;
    }
    .version {
        tbody {
            border: none;
        }
        .version-title {
            width: 14em;
            padding-left: 1em;
        }
        .version-details {
            padding-right: .5em;
        }
        .version-links {
            padding-right: 1em;
            text-align: right;
        }
    }
    .version-recommended-strong {
        .version-title {
            font-weight: bold;
        }
    }
    .security-error {
        font-weight: bold;
    }
    .check-manually {
        padding-left: 1em;
    }
}
.current-version,
.new-version {
    direction: ltr;
}
.update,
.update .version {
    width: 100%;
    margin-top: .5em;
    border: none;
}
.update .version tr,
.update .version td {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
}
.update-project-name {
    width: 50%;
}
