.views-jqfx-imageflow {
}

.views-jqfx-imageflow .navigation {
  z-index: 1000;
}

.views-jqfx-imageflow .caption {
  z-index: 1001;
}

.views-jqfx-imageflow .scrollbar {
  z-index: 1002;
}

.views-jqfx-imageflow .slider {
  z-index: 1003;
}

.views-jqfx-imageflow .button {
}

.views-jqfx-imageflow .previous {
}

.views-jqfx-imageflow .next {
}

.views-jqfx-imageflow .slideshow {
  z-index: 1003;
}

.views-jqfx-imageflow .slideshow .play {
}

.views-jqfx-imageflow .slideshow .pause {
}
