.jGrowl.top-left {
    top: 40px;
    left: 0;
}
.jGrowl.center {
    top: 40px;
    left: 50%;
    margin: 0 0 0 -140px;
}
.jGrowl.top-right {
    top: 40px;
    right: 0;
}
.jGrowl.bottom-left {
    bottom: 40px;
    left: 0;
}
.jGrowl.bottom-right {
    bottom: 40px;
    right: 0;
}