/* $Id$ */

.auto_opengraph_element .form-item {
  margin: 0 0 4px;
  padding: 0;
}

.auto_opengraph_element .form-item label {
  float:left;
  min-width:126px;
  text-align:right;
  margin-right:6px;
}