@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400);
/* line 4, ../sass/admin.scss */
.section-admin table {
  width: 100%;
}
/* line 7, ../sass/admin.scss */
.section-admin table td.menu-operations a {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0099e5), color-stop(100%, #0079b5));
  background-image: -webkit-linear-gradient(#0099e5, #0079b5);
  background-image: -moz-linear-gradient(#0099e5, #0079b5);
  background-image: -o-linear-gradient(#0099e5, #0079b5);
  background-image: linear-gradient(#0099e5, #0079b5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 1px 5px 3px 5px;
  border: 1px solid #0072ab;
  background: #0099e5;
  color: white;
  font-size: 1.1em;
  font-family: "Open Sans Condensed", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
  padding: .2em .5em;
}
/* line 111, ../sass/_custom.scss */
.section-admin table td.menu-operations a:hover {
  background: #0079b5;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #008fd6), color-stop(100%, #006fa6));
  background-image: -webkit-linear-gradient(#008fd6, #006fa6);
  background-image: -moz-linear-gradient(#008fd6, #006fa6);
  background-image: -o-linear-gradient(#008fd6, #006fa6);
  background-image: linear-gradient(#008fd6, #006fa6);
}
/* line 116, ../sass/_custom.scss */
.section-admin table td.menu-operations a:active {
  background: #0079b5;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0079b5), color-stop(100%, #0099e5));
  background-image: -webkit-linear-gradient(#0079b5, #0099e5);
  background-image: -moz-linear-gradient(#0079b5, #0099e5);
  background-image: -o-linear-gradient(#0079b5, #0099e5);
  background-image: linear-gradient(#0079b5, #0099e5);
}

/* line 19, ../sass/admin.scss */
.section-admin dd, .section-node-add dd {
  margin: 0 0 20px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #ebebeb;
}
/* line 24, ../sass/admin.scss */
.section-admin div.admin-panel .body, .section-node-add div.admin-panel .body {
  padding: 0 4px 2px 0;
}

/* line 30, ../sass/admin.scss */
#edit-redhen-contact-email th.field-label {
  padding: .5em 1em;
  color: black;
  font-family: "Open Sans Condensed", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  font-size: 1.1em;
}
/* line 36, ../sass/admin.scss */
#edit-redhen-contact-email label {
  color: black;
}
/* line 39, ../sass/admin.scss */
#edit-redhen-contact-email td {
  padding: 9px 5px;
}
/* line 42, ../sass/admin.scss */
#edit-redhen-contact-email .form-item-redhen-contact-email-und-0-label-id {
  display: block;
}
/* line 45, ../sass/admin.scss */
#edit-redhen-contact-email .form-item-redhen-contact-email-und-0-default {
  clear: left;
  margin-left: 72%;
}

/* line 53, ../sass/admin.scss */
.page-admin-structure-views .action-links li {
  float: left;
}

/* line 59, ../sass/admin.scss */
.form-actions {
  width: 100%;
}
/* line 61, ../sass/admin.scss */
.form-actions input {
  display: inline;
}

/* line 67, ../sass/admin.scss */
.vertical-tabs .fieldset-wrapper {
  margin-top: 0;
  background: white;
  border: none;
  padding: 0 1em;
}

/* line 76, ../sass/admin.scss */
.section-admin ul.action-links {
  margin: 3em 0;
}
/* line 78, ../sass/admin.scss */
.section-admin ul.action-links li {
  display: inline-block;
  margin-right: 1em;
}

/* line 85, ../sass/admin.scss */
.theme-selector .operations li {
  padding: 0 1em;
}

/* line 88, ../sass/admin.scss */
.theme-selector .operations li.last {
  padding: 0 0 0 1em;
  /* LTR */
}

/* line 91, ../sass/admin.scss */
.theme-selector .operations li.first {
  padding: 0 1 0 0;
  /* LTR */
}

/* line 96, ../sass/admin.scss */
.page-admin-structure-redhen .admin-list dt {
  font-family: "Open Sans Condensed", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  font-size: 1.4em;
}

/* Module overrides -- need to move some where else */
/* line 103, ../sass/admin.scss */
.views-displays .secondary a:hover, .views-displays .secondary .active a {
  color: #0088cc;
}

/* line 110, ../sass/admin.scss */
.page-admin-reports-updates .version-links li {
  list-style: none;
  margin-bottom: 1em;
}
/* line 116, ../sass/admin.scss */
.page-admin-reports-updates .update table.version .version-title {
  padding-left: 1em;
  width: 9em;
}
/* line 122, ../sass/admin.scss */
.page-admin-reports-updates .info .placeholder {
  color: #444444;
  text-transform: capitalize;
}
