@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400);
/**
 * @file
 * Form Styling
 */
/* line 9, ../sass/forms.scss */
.form-item {
  /* Wrapper for a form element (or group of form elements) and its label */
  margin: 1.5em 0;
}
/* line 14, ../sass/forms.scss */
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  /* Highlight the form elements that caused a form submission error */
  border: 1px solid #b94a48;
}
/* line 18, ../sass/forms.scss */
.form-item label {
  /* The label for a form element */
  display: block;
  font-weight: bold;
  font-family: "Open Sans Condensed", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  font-size: 1.1em;
}
/* line 25, ../sass/forms.scss */
.form-item label.option {
  /* The label for a radio button or checkbox */
  display: inline;
  font-weight: normal;
}
/* line 30, ../sass/forms.scss */
.form-item .form-required {
  /* The part of the label that indicates a required field */
  color: #b94a48;
}
/* line 34, ../sass/forms.scss */
.form-item .description {
  /* The descriptive help text (separate from the label) */
  font-size: 0.85em;
}
/* line 39, ../sass/forms.scss */
.form-checkboxes .form-item, .form-radios .form-item {
  /* Pack groups of checkboxes and radio buttons closer together */
  margin: 0;
  /* Drupal core uses "0.4em 0" */
}
/* line 42, ../sass/forms.scss */
.form-item input[type="text"], .form-item input[type="password"] {
  background: #fafafa;
  border: 1px solid #d2d2d2;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.06) ;
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.06) ;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.06) ;
  height: 35px;
  font-size: 1.5em;
  font-family: "Open Sans Condensed", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  color: #525252;
  padding: 0 .5em;
}
/* line 53, ../sass/forms.scss */
.form-item input[type="text"]:focus, .form-item input[type="password"]:focus {
  -webkit-box-shadow: 1px 1px 4.9px 0.1px rgba(82, 168, 236, 0.86) ;
  -moz-box-shadow: 1px 1px 4.9px 0.1px rgba(82, 168, 236, 0.86) ;
  box-shadow: 1px 1px 4.9px 0.1px rgba(82, 168, 236, 0.86) ;
}

/* line 59, ../sass/forms.scss */
.form-textarea-wrapper textarea {
  padding: .2em .5em;
  border: 1px solid #d2d2d2;
}

/* line 64, ../sass/forms.scss */
.form-submit, input[type="submit"], #edit-cancel {
  /* The submit button */
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0099e5), color-stop(100%, #0079b5));
  background-image: -webkit-linear-gradient(#0099e5, #0079b5);
  background-image: -moz-linear-gradient(#0099e5, #0079b5);
  background-image: -o-linear-gradient(#0099e5, #0079b5);
  background-image: linear-gradient(#0099e5, #0079b5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 1px 5px 3px 5px;
  border: 1px solid #0072ab;
  background: #0099e5;
  color: white;
  font-size: 1.1em;
  font-family: "Open Sans Condensed", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
}
/* line 111, ../sass/_custom.scss */
.form-submit:hover, input[type="submit"]:hover, #edit-cancel:hover {
  background: #0079b5;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #008fd6), color-stop(100%, #006fa6));
  background-image: -webkit-linear-gradient(#008fd6, #006fa6);
  background-image: -moz-linear-gradient(#008fd6, #006fa6);
  background-image: -o-linear-gradient(#008fd6, #006fa6);
  background-image: linear-gradient(#008fd6, #006fa6);
}
/* line 116, ../sass/_custom.scss */
.form-submit:active, input[type="submit"]:active, #edit-cancel:active {
  background: #0079b5;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0079b5), color-stop(100%, #0099e5));
  background-image: -webkit-linear-gradient(#0079b5, #0099e5);
  background-image: -moz-linear-gradient(#0079b5, #0099e5);
  background-image: -o-linear-gradient(#0079b5, #0099e5);
  background-image: linear-gradient(#0079b5, #0099e5);
}

/* line 71, ../sass/forms.scss */
.container-inline div,
.container-inline label {
  /* Inline labels and form divs */
  display: inline;
}

/* line 76, ../sass/forms.scss */
.tips {
  /* Tips for Drupal's input formats */
}

/* line 79, ../sass/forms.scss */
a.button {
  /* Buttons used by contrib modules like Media */
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

/*
 * Password confirmation
 */
/* line 88, ../sass/forms.scss */
.password-parent,
.confirm-parent {
  margin: 0;
}

/*
 * Search (search-block-form.tpl.php)
 */
/* line 96, ../sass/forms.scss */
#block-search-form {
  /* Wrapper for the search form */
}

/*
 * Drupal's default login form block
 */
/* line 103, ../sass/forms.scss */
#user-login-form {
  text-align: left;
  /* LTR */
  /*
   * OpenID
   *
   * The default styling for the OpenID login link seems to assume Garland's
   * styling of list items.
   */
}
/* line 113, ../sass/forms.scss */
#user-login-form ul {
  /* OpenID creates a new ul above the login form's links. */
  margin-bottom: 0;
  /* Position OpenID's ul next to the rest of the links. */
}
/* line 118, ../sass/forms.scss */
html.js #user-login-form li.openid-link,
#user-login-form li.openid-link {
  /* The "Log in using OpenID" link. */
  margin-top: 1.5em;
  margin-left: -20px;
  /* LTR */
  /* Un-do some of the padding on the ul list. */
}
/* line 123, ../sass/forms.scss */
#user-login-form li.user-link {
  /* The "Cancel OpenID login" link. */
  margin-top: 1.5em;
}
/* line 127, ../sass/forms.scss */
#user-login-form input[type="submit"] {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0099e5), color-stop(100%, #0079b5));
  background-image: -webkit-linear-gradient(#0099e5, #0079b5);
  background-image: -moz-linear-gradient(#0099e5, #0079b5);
  background-image: -o-linear-gradient(#0099e5, #0079b5);
  background-image: linear-gradient(#0099e5, #0079b5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 1px 5px 3px 5px;
  border: 1px solid #0072ab;
  background: #0099e5;
  color: white;
  font-size: 1.1em;
  font-family: "Open Sans Condensed", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
}
/* line 111, ../sass/_custom.scss */
#user-login-form input[type="submit"]:hover {
  background: #0079b5;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #008fd6), color-stop(100%, #006fa6));
  background-image: -webkit-linear-gradient(#008fd6, #006fa6);
  background-image: -moz-linear-gradient(#008fd6, #006fa6);
  background-image: -o-linear-gradient(#008fd6, #006fa6);
  background-image: linear-gradient(#008fd6, #006fa6);
}
/* line 116, ../sass/_custom.scss */
#user-login-form input[type="submit"]:active {
  background: #0079b5;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0079b5), color-stop(100%, #0099e5));
  background-image: -webkit-linear-gradient(#0079b5, #0099e5);
  background-image: -moz-linear-gradient(#0079b5, #0099e5);
  background-image: -o-linear-gradient(#0079b5, #0099e5);
  background-image: linear-gradient(#0079b5, #0099e5);
}

/* line 132, ../sass/forms.scss */
#user-login ul {
  margin: 1.5em 0;
}

/*
 * Drupal admin tables
 *
 * We overrode these styles in normalize.css, but restore them for the admin
 * section of the site.
 */
/* line 144, ../sass/forms.scss */
form th {
  text-align: left;
  /* LTR */
  padding-right: 1em;
  /* LTR */
  border-bottom: 3px solid #ccc;
}
/* line 150, ../sass/forms.scss */
form tbody {
  border-top: 1px solid #ccc;
}
/* line 154, ../sass/forms.scss */
form tr.even {
  background-color: #fff;
}
/* line 158, ../sass/forms.scss */
form table .item-list ul {
  margin: 0;
}

/*
 * Drupal core wrongly puts this in system.menus.css. Since we override that, add it back.
 */
/* line 177, ../sass/forms.scss */
td.menu-disabled {
  background: #ccc;
}

/* line 182, ../sass/forms.scss */
.form-wrapper input[type="submit"] {
  margin-right: 5px;
}

/* line 188, ../sass/forms.scss */
.form-actions input {
  margin-right: 5px;
}

/* line 194, ../sass/forms.scss */
ul li.collapsed {
  list-style-image: url("../images/menu-collapsed.png") no-repeat;
}

/* Animated throbber */
/* line 199, ../sass/forms.scss */
html.js input.form-autocomplete {
  background-image: url("../images/throbber.gif");
  background-position: 100% 12px;
  /* LTR */
}

/* line 203, ../sass/forms.scss */
html.js input.throbbing {
  background-position: 100% -15px;
  /* LTR */
}

/* line 208, ../sass/forms.scss */
.action-links {
  padding-left: 0;
  margin: 1em 0 3em 0;
}
/* line 211, ../sass/forms.scss */
.action-links li {
  list-style: none;
}
/* line 214, ../sass/forms.scss */
.action-links a {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0099e5), color-stop(100%, #0079b5));
  background-image: -webkit-linear-gradient(#0099e5, #0079b5);
  background-image: -moz-linear-gradient(#0099e5, #0079b5);
  background-image: -o-linear-gradient(#0099e5, #0079b5);
  background-image: linear-gradient(#0099e5, #0079b5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 1px 5px 3px 5px;
  border: 1px solid #0072ab;
  background: #0099e5;
  color: white;
  font-size: 1.1em;
  font-family: "Open Sans Condensed", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
  padding: 2px 5px 3px 5px;
}
/* line 111, ../sass/_custom.scss */
.action-links a:hover {
  background: #0079b5;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #008fd6), color-stop(100%, #006fa6));
  background-image: -webkit-linear-gradient(#008fd6, #006fa6);
  background-image: -moz-linear-gradient(#008fd6, #006fa6);
  background-image: -o-linear-gradient(#008fd6, #006fa6);
  background-image: linear-gradient(#008fd6, #006fa6);
}
/* line 116, ../sass/_custom.scss */
.action-links a:active {
  background: #0079b5;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0079b5), color-stop(100%, #0099e5));
  background-image: -webkit-linear-gradient(#0079b5, #0099e5);
  background-image: -moz-linear-gradient(#0079b5, #0099e5);
  background-image: -o-linear-gradient(#0079b5, #0099e5);
  background-image: linear-gradient(#0079b5, #0099e5);
}

/* line 220, ../sass/forms.scss */
#redhen-filter-form {
  margin-bottom: 20px;
}

/* line 225, ../sass/forms.scss */
fieldset {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}

/* line 232, ../sass/forms.scss */
fieldset.collapsed legend a {
  background: url("../images/white-carrot.png") no-repeat left center;
}

/* line 236, ../sass/forms.scss */
legend {
  width: 100%;
}
/* line 239, ../sass/forms.scss */
legend a {
  display: block;
  width: 100%;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  padding: .2em 0;
  font-family: "Open Sans Condensed", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  font-size: 1.2em;
  color: white;
  text-decoration: none;
  padding: 0 0 0 15px;
  background: url("../images/white-carrot-collapsed.png") no-repeat left center;
  min-height: 12px;
}

/* line 254, ../sass/forms.scss */
html.js fieldset.collapsed .fieldset-legend, html.js fieldset.collapsible .fieldset-legend {
  display: block;
  background: #0099e5;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0099e5), color-stop(100%, #0079b5));
  background-image: -webkit-linear-gradient(#0099e5, #0079b5);
  background-image: -moz-linear-gradient(#0099e5, #0079b5);
  background-image: -o-linear-gradient(#0099e5, #0079b5);
  background-image: linear-gradient(#0099e5, #0079b5);
  color: white;
  padding: 0 .5em;
  border: 1px solid #0072ab;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
}
/* line 263, ../sass/forms.scss */
html.js fieldset.collapsed .fieldset-legend a, html.js fieldset.collapsible .fieldset-legend a {
  color: white;
}
/* line 267, ../sass/forms.scss */
html.js fieldset.collapsed .fieldset-legend:hover, html.js fieldset.collapsible .fieldset-legend:hover {
  background: #0099e5;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #008fd6), color-stop(100%, #006fa6));
  background-image: -webkit-linear-gradient(#008fd6, #006fa6);
  background-image: -moz-linear-gradient(#008fd6, #006fa6);
  background-image: -o-linear-gradient(#008fd6, #006fa6);
  background-image: linear-gradient(#008fd6, #006fa6);
  cursor: pointer;
  color: white;
}
/* line 273, ../sass/forms.scss */
html.js fieldset.collapsed .fieldset-legend:hover a, html.js fieldset.collapsed .fieldset-legend:hover a:link, html.js fieldset.collapsed .fieldset-legend:hover a:visited, html.js fieldset.collapsible .fieldset-legend:hover a, html.js fieldset.collapsible .fieldset-legend:hover a:link, html.js fieldset.collapsible .fieldset-legend:hover a:visited {
  color: white;
}
/* line 278, ../sass/forms.scss */
html.js fieldset.collapsed .fieldset-legend:active, html.js fieldset.collapsible .fieldset-legend:active {
  background: #0099e5;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0079b5), color-stop(100%, #0099e5));
  background-image: -webkit-linear-gradient(#0079b5, #0099e5);
  background-image: -moz-linear-gradient(#0079b5, #0099e5);
  background-image: -o-linear-gradient(#0079b5, #0099e5);
  background-image: linear-gradient(#0079b5, #0099e5);
}
/* line 285, ../sass/forms.scss */
html.js fieldset.collapsed .fieldset-legend span.summary, html.js fieldset.collapsible .fieldset-legend span.summary {
  display: none;
}

/* line 290, ../sass/forms.scss */
html.js fieldset.collapsed .fieldset-legend {
  border: 1px solid #0072ab;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px 5px;
  -ms-border-radius: 5px 5px;
  -o-border-radius: 5px 5px;
  border-radius: 5px 5px;
}

/* line 295, ../sass/forms.scss */
fieldset .fieldset-legend {
  display: block;
  background: #0099e5;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0099e5), color-stop(100%, #0079b5));
  background-image: -webkit-linear-gradient(#0099e5, #0079b5);
  background-image: -moz-linear-gradient(#0099e5, #0079b5);
  background-image: -o-linear-gradient(#0099e5, #0079b5);
  background-image: linear-gradient(#0099e5, #0079b5);
  color: white;
  padding: 0 .5em;
  border: 1px solid #0072ab;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
}
/* line 305, ../sass/forms.scss */
fieldset .fieldset-legend a {
  color: white;
}
/* line 309, ../sass/forms.scss */
fieldset .fieldset-legend:hover {
  background: #0099e5;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #008fd6), color-stop(100%, #006fa6));
  background-image: -webkit-linear-gradient(#008fd6, #006fa6);
  background-image: -moz-linear-gradient(#008fd6, #006fa6);
  background-image: -o-linear-gradient(#008fd6, #006fa6);
  background-image: linear-gradient(#008fd6, #006fa6);
  cursor: pointer;
  color: white;
}
/* line 315, ../sass/forms.scss */
fieldset .fieldset-legend:hover a, fieldset .fieldset-legend:hover a:link, fieldset .fieldset-legend:hover a:visited {
  color: white;
}
/* line 320, ../sass/forms.scss */
fieldset .fieldset-legend:active {
  background: #0099e5;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0079b5), color-stop(100%, #0099e5));
  background-image: -webkit-linear-gradient(#0079b5, #0099e5);
  background-image: -moz-linear-gradient(#0079b5, #0099e5);
  background-image: -o-linear-gradient(#0079b5, #0099e5);
  background-image: linear-gradient(#0079b5, #0099e5);
}
/* line 327, ../sass/forms.scss */
fieldset .fieldset-legend span.summary {
  display: none;
}

/* line 333, ../sass/forms.scss */
.fieldset-wrapper {
  background: #f2f2f2;
  border-left: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  padding: 1em 0 1em 1em;
  margin-top: -5px;
  overflow: hidden;
}

/* line 345, ../sass/forms.scss */
fieldset.collapsed {
  margin-bottom: 40px;
}

/* line 350, ../sass/forms.scss */
.section-admin fieldset legend, fieldset#edit-fieldset legend, fieldset#edit-filters legend, fieldset#edit-options legend {
  width: 100%;
}
/* line 353, ../sass/forms.scss */
.section-admin fieldset legend span, fieldset#edit-fieldset legend span, fieldset#edit-filters legend span, fieldset#edit-options legend span {
  display: block;
  width: 98.7%;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  padding: .2em 0 .2em 1%;
  font-family: "Open Sans Condensed", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  font-size: 1.4em;
  color: white;
  text-decoration: none;
  min-height: 12px;
}
/* line 366, ../sass/forms.scss */
.section-admin fieldset .fieldset-legend:hover, fieldset#edit-fieldset .fieldset-legend:hover, fieldset#edit-filters .fieldset-legend:hover, fieldset#edit-options .fieldset-legend:hover {
  background: #0099e5;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0099e5), color-stop(100%, #0079b5));
  background-image: -webkit-linear-gradient(#0099e5, #0079b5);
  background-image: -moz-linear-gradient(#0099e5, #0079b5);
  background-image: -o-linear-gradient(#0099e5, #0079b5);
  background-image: linear-gradient(#0099e5, #0079b5);
  cursor: default;
  color: white;
}
/* line 372, ../sass/forms.scss */
.section-admin fieldset .fieldset-legend:hover a, .section-admin fieldset .fieldset-legend:hover a:link, .section-admin fieldset .fieldset-legend:hover a:visited, fieldset#edit-fieldset .fieldset-legend:hover a, fieldset#edit-fieldset .fieldset-legend:hover a:link, fieldset#edit-fieldset .fieldset-legend:hover a:visited, fieldset#edit-filters .fieldset-legend:hover a, fieldset#edit-filters .fieldset-legend:hover a:link, fieldset#edit-filters .fieldset-legend:hover a:visited, fieldset#edit-options .fieldset-legend:hover a, fieldset#edit-options .fieldset-legend:hover a:link, fieldset#edit-options .fieldset-legend:hover a:visited {
  color: white;
}

/* line 381, ../sass/forms.scss */
fieldset fieldset .fieldset-wrapper {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  margin-right: 4%;
  border: none;
  background: white;
}
/* line 387, ../sass/forms.scss */
fieldset fieldset .fieldset-wrapper .form-item:nth-child(1) {
  margin-top: 3px;
}

/* line 394, ../sass/forms.scss */
html.js fieldset.collapsed fieldset .fieldset-legend, html.js fieldset.collapsible fieldset .fieldset-legend {
  margin-right: 4%;
  border: none;
  background: none;
  background-image: none;
  color: #444;
  font-size: 14px;
  font-family: "Open Sans Condensed", Helvetica, Arial, "Nimbus Sans L", sans-serif;
}
/* line 403, ../sass/forms.scss */
html.js fieldset.collapsed fieldset .fieldset-legend:hover, html.js fieldset.collapsible fieldset .fieldset-legend:hover {
  background: none;
  background-image: none;
  color: #444;
}

/* line 412, ../sass/forms.scss */
.fieldset-wrapper table {
  width: 80%;
}

/* line 418, ../sass/forms.scss */
.form-item input[type="password"].password-field, .form-item input[type="password"].password-confirm {
  width: 45%;
}

/* line 423, ../sass/forms.scss */
div.password-strength, div.password-confirm {
  width: 45%;
  margin-top: 2.9em;
  font-size: 0.85em;
}

/* line 429, ../sass/forms.scss */
.ok {
  color: #468847;
  font-weight: bold;
  text-transform: uppercase;
}

/* line 435, ../sass/forms.scss */
.password-confirm .error {
  font-weight: bold;
  text-transform: uppercase;
}

/* line 440, ../sass/forms.scss */
div.form-item div.password-suggestions {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #e1e1e1;
  padding: .7em 1em;
  background: #fdfdfd;
}
