/* OM Subthemer preview page */
.node .content div.om-actions { height: 30px; margin: 10px 0; }
.node .content div.om-actions a.om-btn { background-color: #999; display: block; padding: 5px 10px; color: #fff; float: left; margin-right: 5px; }
.node .content div.om-actions a.om-btn:hover { background-color: #ccc; text-decoration: none; }
.node .content iframe { border: 1px solid #ccc !important; }

/* OM Subthemer table page */
table tr.om-subtheme-list label { float: left; padding: 5px;}
table tr.om-subtheme-list h5 { float: left; padding: 10px 5px; width: 200px; }
table tr.om-subtheme-list .screenshot { float: right; padding: 5px;}

table tr.om-row-region td { background-color: #ccc; color: #fff; border-bottom: 1px solid #fff; font-weight: bold; }


