/* CSS Document */

.default-time-wrapper.container-inline-date .date-padding,
#studyroom-hours-field .date-padding {
  padding: 5px 0;
}

#studyroom-hours-field td.weekday {
  width: 100px;
  font-weight: bold;
}
