/* ladder.css */

/* Make rungs on the ladder form look like a ladder. */


div.ladder-rung,
div.section-title {
  height:40px;
  width:150px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  margin-right: 20px;
  float:left;
}
div.ladder-rung .rung-line {
  height:11px;
  border-bottom: 1px solid black;
}



div.ladder-rung-provisional {
  border-color: #ccc;
  border-style: none dotted dotted dotted;
}


div.ladder .flag {
  float: right;
}

div.ladder h3 {
  margin: 0;
}

/* Default ladder status styling. */

.ladder-in-development .ladder-rung { background-color: #E8E8E8; }
.ladder-complete .ladder-rung { background-color: #D3F0D8; }
.ladder-not-started .form-item { color: black; }
.ladder-in-development .form-item { color: gray; }

/* Zebra-stripe the ladder sections */
.field-name-field-ladder-sections .field-item.even {
  background-color: #f9f9f9;
}
.field-name-field-ladder-sections .field-item.odd {
  background-color: #f0f0f0;
}
