
#stager {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-image: none;
  background-color: #3E3E3E;
  color: #eee;
  padding: 10px;
  font-size: 13px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
}

#stager a {
  color: #018fe2;
}