//
// Custom sass mixins
//

@mixin transparent($color, $alpha) {
  $rgba: rgba($color, $alpha);
  $ie-hex-str: ie-hex-str($rgba);
  background-color: transparent;
  background-color: $rgba;
  zoom: 1;
}

@mixin inline-block ( $vertical-align: baseline ) {
  display: inline-block;
  vertical-align: $vertical-align;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
}

@mixin move-off-screen () {
  position: absolute;
  top: -999em;
  left: -999em;
}

@mixin clearfix {
  *zoom: 1;
  
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  
  &:after {
    clear: both;
  }
}

/* Button Groups */
@mixin button-group {
  list-style: none;
  margin: 0.25em 0;
  padding: 0;
  *zoom: 1; 
  &:before, 
  &:after {
    content: " ";
    display: table; }
  &:after {
    clear: both; }
  & > * {
    margin: 0 0 0 -1px;
    float: left; 
    a { 
    	border-left: solid 1px #a1a1a1; }
    }
  & > *:first-child {
      margin-left: 0; 
      a { 
      	border-left: none; }
      }
  &.radius > *:first-child, 
  &.radius > *:first-child > a, 
  &.radius > *:first-child > button, 
  &.radius > *:first-child > .button {
    @include border-radius(0.25em); }
  &.radius > *:last-child, 
  &.radius > *:last-child > a, 
  &.radius > *:last-child > button, 
  &.radius > *:last-child > .button {
    @include border-radius(0.25em); }
  &.round > *:first-child, 
  &.round > *:first-child > a, 
  &.round > *:first-child > button, 
  &.round > *:first-child > .button {
    @include border-radius(100em); }
  &.round > *:last-child, 
  &.round > *:last-child > a, 
  &.round > *:last-child > button, 
  &.round > *:last-child > .button {
    @include border-radius(100em); }
  &.even-2 li {
    width: 50%; }
  &.even-2 li button, 
  &.even-2 li .button {
      width: 100%; }
  &.even-3 li {
    width: 33.33333%; }
  &.even-3 li button, 
  &.even-3 li .button {
      width: 100%; }
  &.even-4 li {
    width: 25%; }
  &.even-4 li button, 
  &.even-4 li .button {
      width: 100%; }
  &.even-5 li {
    width: 20%; }
  &.even-5 li button, 
  &.even-5 li .button {
      width: 100%; }
  &.even-6 li {
    width: 16.66667%; }
  &.even-6 li button, 
  &.even-6 li .button {
      width: 100%; }
  &.even-7 li {
    width: 14.28571%; }
  &.even-7 li button, 
  &.even-7 li .button {
      width: 100%; }
  &.even-8 li {
    width: 12.5%; }
  &.even-8 li button, 
  &.even-8 li .button {
      width: 100%; }
}