<div ng-controller="ControllerRestServer as c" class="ngapp-example">
  <p ng-if="c.endpoint">Using <code>drupalServices</code> factory to GET {{ c.data.length }} nodes from <a href="{{ c.endpoint }}" target="_blank">{{ c.endpoint }}</a></p>
  <ul class="nav nav-tabs">
    <li role="presentation"
      ng-repeat="row in c.data"
      ng-class="{true: 'active', false: ''}[c.active.nid == row.nid]">
        <a
          ng-click="c.setActive(row.nid);">
            {{ row.title }}
        </a>
    </li>
  </ul>
  <div ng-if="c.active" id="active-pane">
    <p>Using <code>drupalServices</code> factory to GET 1 node from <a href="{{ c.active.endpoint }}" target="_blank">{{ c.active.endpoint }}</a></p>
    <h3>{{ c.active.title }}</h3>
    <!-- Note the injection of ngSanitize in ngapp.js -->
    <div ng-bind-html="c.active.body.und[0].safe_value"></div>
  </div>
</div>
