#pusherapi_shoutbox_channel .shoutbox-container { margin-bottom: 10px; border-bottom: 1px solid #666666; }
#pusherapi_shoutbox_channel .shoutbox-container .shoutbox-name { font-weight: bold; }
#pusherapi_shoutbox_channel .shoutbox-container .shoutbox-time { font-style: italic; font-size: 80%; }
