; $Id$
;
; Use this .ini file to overide the settings stored in the database
; This makes it easier to distribute changes across several sites, since trying to move data to many sites is difficult
; To enable this file rename it to multisite_api.ini
; Surround strings with double quotes (so that you can set something blank by using "")

[servers]
multisite_api_development = "localhost"
multisite_api_staging = "staging"
multisite_api_testing = "testing"

[visibility]
multisite_api_excluded = "intra"
multisite_api_private = ""

[caching]
; 0 == off, 1 == on
multisite_api_caching = 1