/* ---- Drupal admin CSS file
  Contains styles for various admin interface bits
  (tabs, errors, messages, etc.)
---- */

/* Pagers */

.item-list .pager li {
  margin-right: 4px;
  padding: 0;
  display: inline-block;
}

.item-list .pager li a,
.item-list .pager li.pager-current,
.item-list .pager li a:hover,
.item-list .pager li a:focus {
  padding: 2px 6px;
}

.item-list .pager li.pager-current,
.item-list .pager li a:hover,
.item-list .pager li a:focus {
  color: #fff;
}

.item-list .pager li a {
  background: #454545;
  color: #fff;
  text-decoration: none;
}

/* Errors & messages */

div.messages {
  border: none;
  padding: 10px 10px 10px 40px;
}

div.messages p:last-child {
  margin-bottom: 0;
}

div.status,
table tr.ok {
  background: url(../images/status-icon.png) 10px 10px no-repeat #eaffbf;
}

div.warning,
table tr.warning {
  background: url(../images/warning-icon.png) 10px 10px no-repeat #fff8c5;
}

div.error,
table tr.error {
  background: url(../images/error-icon.png) 10px 10px no-repeat #fce3d8;
}

/* Tabs and admin links */

#content ul.primary {
  border: none;
  float: right;
  margin: -2em 0 0 0;
  padding-left: 0;
}

ul.primary li a,
ul.primary li a.active {
  border: none;
  padding: 4px 10px;
}

ul.primary li a {
  background: #e9ddcb;
}

ul.primary li a.active {
  color: #fff;
}

#content ul.action-links {
  list-style: none;
  margin-left: 0;
}

/* filter */

.filter-wrapper {
  padding: 10px 0;
}

.filter-wrapper .form-item,
.filter-guidelines {
  padding: 0;
}

#content .filter-guidelines ul.tips {
  margin-left: 14px;
  padding-top: 8px;
}

/* Node/edit pages */

/* The tabs */

div.vertical-tabs {
  border: none;
  margin: 15px 0 0;
  overflow: auto;
}

#content div.vertical-tabs ul {
  list-style: none;
  margin-left: 0;
}

.vertical-tabs ul.vertical-tabs-list li {
  background: #e9ddcb;
  border: none;
}

.vertical-tabs ul.vertical-tabs-list li.selected {
  background: #424242;
  color: #e9ddcb;
}

.vertical-tabs ul.vertical-tabs-list li.selected a,
.vertical-tabs ul.vertical-tabs-list .selected strong {
  color: #e9ddcb;
}

/* Stuff in the tabs */

.book-outline-form .form-item {
  margin-bottom: 15px;
}

html.js input.form-autocomplete {
  background-position: 99% 6px;
}
