/* ----  Layout adjustments for IE 7
	Served to IE7 and below
---- */

/* Inline-block elements */

#header .menu li,
#main-menu li,
#content .node > .links li,
.item-list .pager li {
  float: left;
}

#header .menu li {
  margin-right: 8px;
}

#main-menu-region {
  overflow: auto;
}

#main-menu-region #main-menu {
  float: right;
}

#content .node > .links {
  overflow: auto;
}

/* Search form */

html.js #block-search-form input.form-submit {
  text-transform: capitalize; /* weird trick to make text-indent work */
}

/* User login form fields */

#block-user-login input {
  width: 150px;
}
