#comments .solved .comment-text
{
  border: 2px solid #8DD059;
}

#comments .solved .comment-arrow
{
  background: url(comment-arrow.gif) no-repeat scroll 0 center transparent;
  border-right: 2px solid #FFFFFF;
  margin-left: -48px;
}

#forum-comments .solved .forum-post-panel-main
{
  background-color: #8DD059;
}

.forum-topic-title.solved,
.top-post.solved .forum-post-title
{
  background: url(flag_solved.png) no-repeat scroll 0px transparent;
  padding-left: 20px;
}

.forum-table-topics .solved .topic-icon,
#forum .solved .topic-status-default
{
    background-image: url(flag_solved.png);
}
