<div ng-controller="ControllerServicesViews as c" class="ngapp-example">
  <p ng-if="c.endpoint">Using <code>drupalServices</code> factory to GET {{ c.data.length }} nodes from <a href="{{ c.endpoint }}" target="_blank">{{ c.endpoint }}</a></p>
  <nav>
    <ul class="pager">
      <li>
        <a aria-label="Previous"
           ng-if="c.offset > 0"
           ng-click="c.doPage(-1)"><span aria-hidden="true">&laquo; previous</span></a>
      </li>
      <li>
        <a aria-label="Next"
           ng-click="c.doPage(1)"><span aria-hidden="true">next &raquo;</span></a>
      </li>
    </ul>
  </nav>
  <div class="row" ng-repeat="row in c.data">
    <div style="border-top:solid 1px #e7e7e7; padding: 10px 15px;">
      <h4><a href="{{ row.path }}">{{ row.title }}</a></h4>
      <!-- Note the injection of ngSanitize in ngapp.js -->
      <p ng-bind-html="row.summary"></p>
      <em>Tagged with: <span ng-bind-html="row.tags"></span></em>
    </div>
  </div>
</div>
