/**
 *  @file
 *  Breadcrumb styles
 */
#breadcrumbs
  margin: .5em 0
  line-height: 1.9em
  color: $color-breadcrumbs
  .breadcrumb
    > *
      margin-right: 2px
    > a:first-child
      @extend .hide-modern
      background: image-url('home.png') 0 0 no-repeat
      width: 25px
      height: 22px
      display: block
      float: left
      margin-right: 6px
  .breadcrumb_next
    opacity: 0.6