/**
 * @file
 * Search
 */

@import "base";

/*
 * Custom Search
 */
#search-form,
#search-block-form,
#custom-search-blocks-form-1 {
  margin-top: .3em;
  text-align: left;
  margin: 0;

  .form-type-textfield,
  .form-actions {
    display: inline;
  }

  .form-type-textfield {
    input {
      height: 1.9em;
      width: 75%;
    }
  }
  .form-actions {
    input {
      width: 2.5em;
    }
  }

  fieldset {
    display: none;
  }

  input[type="submit"] {
    background-image: inline-image("search.png");
    background-position: .5em .4em;
    background-repeat: no-repeat;
    height: 2em;
    margin: 0;
    text-indent: -9999em;
  }
}

.search-form {
  margin-bottom: .3em;
}
