/**
 * @file
 * Style for module "Logintoboggan".
 */

@import "base";

/**
 * Logintobbogan
 */

.toboggan-unified {
  #login-message {
    background-color: $orange;
    margin: 0;
    margin-bottom: 1em;
    padding: .4em;
    color: $white;
  }

  .login-link {
    background-color: $dark-blue;
    border: 0;
    color: $white;
    margin: .5em;
    margin-left: 0;
    padding: .4em;
    &.lt-active {
      background-color: $light-blue;
    }
  }
}
