.form-item-make-sticky {
  display: none;
  padding-left: 20px;
}

.form-item-make-promote {
  display: none;
  padding-left: 20px;
}

.ms_paypublish_sticky_text {
  display: none;
}

.ms_paypublish_promote_text {
  display: none;
}
