.ms_paypublish_conditional_field {
  padding: 0 5px 5px;
  margin: 5px 0;
}
.ms_paypublish_field_supported_plans {
  display: none;
}
.ms_paypublish_field_blurred .ms_paypublish_field_supported_plans {
  font-weight: bold;
  border: 2px solid #F66;
  display: block;
}
.ms_paypublish_field_blurred .ms_paypublish_conditional_field_inner {
  display: none;
}
