div.opac-edit-menu {
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  color: black;
  position: absolute;
  z-index: 999;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
}

div.opac-edit-menu ul {
  margin: 0 0.5em;
  padding: 0;
}

div.opac-edit-menu ul li {
  display: block;
  list-style-type: none;
  padding: 0;
}

div.opac-edit-menu.collapsed {
  display: none;
}
