body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#page {
  background: #fff url('../images/container_bg.jpg') no-repeat left top;
  width: 992px;
  margin: 4px;
  margin-left: auto;
  margin-right: auto;
}

#header {
  height: 136px;
  padding-top: 22px;
  margin-left: 24px;
}

#header-logo {
  float: left;
  width: 235px;
  height: 151px;
  padding: 25px 0 0 0;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#header-left {
  float: left;
  width: 116px;
  height: 132px;
  padding: 20px 2px 1px 1px;
  overflow: auto;
}

#header-center {
  float: left;
  width: 340px;
  height: 107px;
  padding: 45px 0 0 40px;
  overflow: hidden;
}

#header-right {
  float: left;
  width: 198px;
  height: 132px;
  padding: 20px 10px 1px 10px;
  overflow: auto;
}

#header-bottom {
  float: right;
  width: 655px;
  height: 27px;
  padding: 1px;
  margin: 7px 17px 0px 0px;
  overflow: hidden;
}

#highlighted {
  width: 630px;
}

#search-box {
  height: 206px;
  margin: 0 20px 0 330px;
}

#sidebar-first {
  float: left;
  width: 225px;
  margin: 38px 0 0 28px;
}

#main {
  float: right;
  width: 635px;
  margin: 12px 40px 0 0;
}

#footer {
  clear: both;
  margin: 20px 30px 0px 310px;
  text-align: center;
  border-top: 1px dotted #cccccc;
  background-color: #f9f7ea;
}

#site-name a,
#site-name a:visited {
  display: block;
  margin: 0;
  color: #87a448;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 2.9em;
  font-weight: bold;
  text-decoration: none;
}

#site-slogan {
  color: #bf8a44;
  margin-left: 42px;
  font-size: 1.7em;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: bold;
}

form#search-theme-form {
  margin: 85px auto 0;
  padding: 0;
  background: none;
  font-size: 1.3em;
  text-align: center;
}

form#search-theme-form input {
  margin: 0 auto;
  font-size: 1.3em;
  width: 172px;
}

form#search-theme-form .form-submit {
  display: none;
}

#mission {
  background: #f4f7f0;
  margin: 15px 0;
  padding: 30px;
  border: 1px dotted #ebe2b7;
  font-style: italic;
}

h2.block-title {
  background-color: #f5f9eb;
  padding: 5px;
  border-top: 1px dotted #ceac86;
  border-bottom: 1px dotted #ceac86;
  font-size: 1.2em;
  color: #a6bb7a;
}

#sidebar-first ul.menu {
  font-weight: bold;
  color: #990000;
  margin: 0;
  padding: 0;
}

#sidebar-first ul.menu li {
  list-style-type: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

#sidebar-first ul.menu li a.active {
  background: #fff url('../images/menu.png') no-repeat 0 -45px;
  color: #562930;
}

#sidebar-first ul.menu li.active-trail li a {
  margin-left: 15px;
}

#sidebar-first ul.menu li.active-trail li li a {
  margin-left: 30px;
}

#sidebar-first ul.menu li.active-trail li li li a {
  margin-left: 45px;
}

#sidebar-first ul.menu li a {
  display: block;
  padding: 17px 0 0 37px;
  background: #fff url('../images/menu.png') no-repeat;
  margin-bottom: 1px;
  height: 27px;
}

#sidebar-first ul.menu li a,
#sidebar-first ul.menu li a:visited {
  color: #93b26e;
  text-decoration: none;
}

#sidebar-first ul.menu li a:hover {
  background: #fff url('../images/menu.png') no-repeat 0 -45px;
  color: #562930;
}
#sidebar-first ul.menu li ul.menu li a {
  font-size: 90%;
  height: 20px;
  background: url('../images/submenu.png') 0 -9px;
  padding-top: 9px;
  text-indent: 10px;
}
#sidebar-first ul.menu li ul.menu li  a:hover {
  background: url('../images/submenu.png') 0 -54px;
  color: #562930;
}
#sidebar-first ul.menu li ul.menu li ul.menu li a {
  text-indent: 20px;
  font-size: 80%;
}

h2.node-title {
  height: 31px;
  background-color: #ffffff;
  padding-top: 20px;
  padding-left: 75px;
  font-size: 1.6em;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: bold;
}

h2.node-title a,
h2.node-title a:visited {
  color: #84a54a;
  text-decoration: none;
}

.date_box {
  background: #fff url('../images/date.jpg') no-repeat;
  height: 51px;
  width: 52px;
  float: left;
  margin: 5px;
}

.date_box_month {
  padding-top: 6px;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 3px;
  text-align: center;
  color: #75a006;
}

.date_box_day {
  font-size: 22px;
  font-weight: bold;
  padding-left: 3px;
  text-align: center;
  font-style: italic;
  color: #654040;
}

.user-picture img {
  margin: 0 5px;
  float: right;
  clear: both;
}

.terms-inline {
  float: left;
  margin-top: 5px;
  width: 375px;
}

.terms-inline ul.links,
.terms-inline ul,
.terms-inline menu,
.terms-inline dir {
  padding: 0;
}

.terms-inline ul.links {
  float: none;
}

.node-links ul.links {
  padding: 3px;
  float: right;
  font-weight: bold;
  font-style: italic;
  width: 100%;
  text-align: right;
}

.status {
  padding: 10px;
  background: #f4f7f0;
  border: 1px dotted #ebe2b7;
  margin: 15px;
}

#forum tr td.forum {
  background-image: none;
}

.comment-odd {
  padding: 15px;
  background: #fbf9f4;
}

.poll .bar {
  background-color: #eef2e0;
}

.poll .bar .foreground {
  background-color: #84a54a;
}

form#user-login-form ul li {
  list-style-type: none;
  list-style-image: none;
  margin-left: 0;
}

/*
*  Common Elements
*/

form {
  padding: 10px;
  background: #fbf9f4;
}

input,
textarea {
  background: #eef2e0;
  border-top: 1px solid #e3e4e9;
  border-left: 1px solid #e3e4e9;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  margin-top: 3px;
  margin-bottom: 3px;
}

label {
  color: #a5bb73;
  font-style: italic;
}

p {
  margin-bottom: 15px;
  margin-top: 15px;
}

blockquote {
  background: #f4f7f0;
  margin: 15px 0;
  padding: 30px;
  border: 1px dotted #ebe2b7;
  font-style: italic;
}

a,
a:visited {
  color: #83a956;
  text-decoration: none;
}

a:hover {
  color: #821115;
  text-decoration: none;
}

a:active {
  color: #577e2d;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #84a54a;
}

table {
  margin: 1em 0;
  width: 100%;
}

thead th {
  border-bottom: 2px solid #e4e4e4;
  color: #313131;
  font-weight: bold;
}

th a:link,
th a:visited {
  color: #6f9dbd;
}

td,
th {
  padding: .3em .5em;
}

tr.even,
tr.odd,
tbody th {
  border: solid #e4e4e4;
  border-width: 1px 0;
}

tr.odd,
tr.info {
  background-color: #f5f9eb;
}

tr.even {
  background-color: #fff;
}

tr.drag {
  background-color: #fffff0;
}

tr.drag-previous {
  background-color: #ffd;
}

tr.odd td.active {
  background-color: #f5f9eb;
}

tr.even td.active {
  background-color: #ffffff;
}

ul.primary {
  border-bottom: 0px;
  border-collapse: collapse;
  height: auto;
  line-height: normal;
  list-style: none outside none;
  margin: 0px;
  padding: 0px 0px 0px 1em;
  white-space: nowrap;
}

h2.with-tabs {
  border-bottom: 1px dotted rgb(204, 204, 204);
}

.node-teaser h2 a {
  font-style:italic;
  text-decoration:underline;
}
 