#docket-wrapper {
  overflow: hidden;
  border: 1px solid #ccc;
}
#docket-tabs {
  width: 20%;
  float: left;
}
#docket-tabs ul {
  margin: 0;
}
#docket-tabs ul li {
  display: block;
  border-bottom: 1px solid #ccc;
}
#docket-tabs ul li:nth-child(3):after {
  content: '';
  width: 100%;
  height: 10px;
  display: block;
  border-top: 1px solid #ccc;
  background-color: #ddd;
}
#docket-tabs ul li a {
  padding: 10px;
  display: block;
  background-color: #eee;
  font-weight: bold;
  color: #0074BD;
}
#docket-tabs ul li a.selected,
#docket-tabs ul li a.selected:hover {
  background-color: #fff;
}
#docket-tabs ul li a:hover {
  background: #d5d5d5;
  text-decoration: none;
}
#docket-list {
  width: 79%;
  float: left;
}
.docket-count {
  color: #667;
  font-weight: normal;
}
