/**
 * Functions
 *
 */

// Working in ems is annoying. Think in pixels by using this handy function, emCalc(#px)
@function emCalc($pxWidth) {
  @return $pxWidth / $base-font-size * 1em;
}

// Creating rems and pixels
@function remCalc($pxWidth) {
  @return $pxWidth / $base-font-size * 1rem;
}

@function flex-grid($columns, $container-columns: $fg-max-columns) {
  $par-width: $container-columns * $column-width;
  $par-width: $par-width + (($container-columns - 1) * $column-gutter);

  $width: $columns * $column-width;
  $width: $width + (($columns - 1) * $column-gutter);

  @return percentage($width / $par-width);
}

@function flex-gutter($container-columns: $fg-max-columns, $gutter: $fg-gutter) {
  $par-width: $container-columns * $column-width;
  $par-width: $par-width + (($container-columns - 1) * $column-gutter);

  @return percentage($column-gutter / $par-width);
}