/* $Id: style.css,v 1.13.2.2 2007/01/04 21:19:48 killes Exp $ 
**HTML elements
*/

/*
**Added by Openflows for the MNN project
*/

table.facility-daily-chart {
  border-spacing: 0;
  cellpadding: 0;
  margin-left: none;
  margin-right: none; 
  text-align: center; 
}

div.cm_airing_grid {
  text-align: center;
}

table.cm_airing_grid_header {
  border-spacing: 3;
  margin-left: auto;
  margin-right: auto;
}

table.cm_airing_grid {
  border-spacing: 2;

  margin-left: auto;
  margin-right: auto;  
  border-style: solid;  
}
table.cm_airing_grid_bordered {
  border-spacing: 3;

  margin-left: auto;
  margin-right: auto;
  border-style: solid
}
table.cm_airing_grid_internal_grid {
  border-spacing: 1px 1px;
  margin: 0;
}
table.cm_airing_grid_internal_grid td{

}

tr.cm_airing_grid {
  border: 1px solid #000000;
  padding: 0.1em 0.6em;
}

td.cm_airing_grid_live {
  text-align: center;
  background: #FFFFAA;
  padding: 0 0 0 0;
  vertical-align: bottom;
}
td.cm_airing_grid_no_device {
  text-align: center;
  background: #AAFFC0;
  padding: 0 0 0 0;
  vertical-align: bottom;
}

td.cm_airing_grid_short {
  text-align: center;
  background: #CC9966;
  padding: 0 0 0 0;
  vertical-align: bottom;
}
td.cm_airing_grid_no_episode {
  text-align: center;
  background: #FF6666;  
  padding: 0 0 0 0;
  vertical-align: bottom;
}
td.cm_airing_grid_data {
  text-align: center;
  padding: 0 0 0 0;
  background: #FFD1B3;  
  vertical-align: bottom;
}
td.cm_airing_grid_cell {
  border: 1px solid #CCCCCC;
  text-align: center;
}


td.cm_airing_grid_blank {
  border: 1px solid #CCCCCC;
  text-align: center;
padding: 0 0 0 0;
}

td.cm_airing_grid_blackout {
  border: 1px solid #000000;
  text-align: center;
  padding: 0.4em 0.6em;
  background: #606060;

}

table.cm_airing_grid_navigation_box {
  background-color: #FAF0E6;
  width: 30%;
}

td.unselected-tab {
  white-space: nowrap;
  background: #ccc;
  border-color: #666;
  border-width: 1px;
  border-style: solid solid solid solid;
  margin-right: 0.5em;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
  width: 150px;
}
td.selected-tab {
  white-space: nowrap;
  background: #fff;
  border-width: 1px;
  border-style: solid solid solid;
  border-bottom:none;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
  width: 150px;
}

.view-project-show-jump-menu .contextual-links-wrapper {
    display: none;
}

div.cm-airing-grid-nav-box {
    background-color: #F2F2F2;
    border: 1px solid #E3E3E3;
    border-radius: 6px 6px 6px 6px;
    margin: 1em 0;
    width: 40%;
    padding: .5em .5em 0;
    text-align: center;
}

div.airing_detail_filled {
    background-color: red;
    border: 1px solid #E3E3E3;
    border-radius: 6px 6px 6px 6px;
    margin: 1em 0;
    padding: .5em .5em 0;
    position: relative;
}

input.cmag.form-submit, a.button{
  padding: 4px 12px;
  margin-bottom: .3em;
  margin-top: .3em;
  margin-right: .3em;
  margin-left: .3em;
}

img.cm_airing_grid_add_img{
  margin-bottom: 0;
  margin-top: .5em;
}

div.cm-airing-grid-nav-box td{
  padding: 0 5px;
  margin: 0;
}
td.cm_airing_grid_right_links {
  float: right;
}
td.views-field-nothing-2 {
    white-space: nowrap;
}