/**
 * @file
 * RTL styles for main theme stylesheet
 */

/* PAGES (from pages-rtl.css)
------------------------------------------------------------------------------------------------------- */

/*
 * Header
 */
#logo /* Wrapping link for logo */ {
  float: right;
}

#name-and-slogan /* Wrapper for website name and slogan */ {
  float: right;
}

/*
 * Main (container for everything else)
 */

.more-help-link /* Link to more help */ {
  text-align: left;  
}

/*
 * Content
 */
.more-link /* Aggregator, blog, and forum more link */ {
  text-align: left;
}

#postscript .section .block {
  float: right;
  margin-left: 15px; 
}


/* NAVIGATION (from navigation-rtl.css)
------------------------------------------------------------------------------------------------------- */

#navigation .content ul /* Main menu and secondary menu links */ {
  text-align: right;
}

#navigation .content li /* A simple method to get navigation links to appear in one line. */ {
  float: right;
  padding: 0 0 0 10px;
}

/* format search block if put in nav region */
#navigation .block-search {
  margin: 0 0 0 5px; 
  float: left; 
}

/* Main menu AND formatting for menu blocks if they are put in */
/* nav region instead of using main menu                       */
#navigation .block-menu,
#navigation #main-menu {
  float: right;  
  padding-right: 10px;  
}

/* Secondary menu, upper right corner */
#secondary-menu {
  float: left;  
  margin: 0 0 0 15px;
}

/* BLOCKS (from blocks-rtl.css)
------------------------------------------------------------------------------------------------------- */

.block ul {
  margin-right: 15px;
  padding-right: 0;
}

.block ul li.expanded ul {
  margin-right: 20px;
}

/* COMMENTS(from comments.css)
------------------------------------------------------------------------------------------------------- */

.comment .submitted {
  clear: right;
}

/* FORMS(from forms.css)
------------------------------------------------------------------------------------------------------- */

.form-submit {
  margin-left: 5px;   
}

.block-search .form-item input.form-text,
.white_bg .region-header .block-search .form-item input.form-text,
.white_bg #navigation .block-search .form-item input.form-text {
  border-left: none;
  float: right;
  -webkit-border-radius: 0 5px 5px 0; 
  -moz-border-radius: 0 5px 5px 0; 
  -ms-border-radius: 0 5px 5px 0; 
  -o-border-radius: 0 5px 5px 0; 
  border-radius: 0 5px 5px 0;
}

.block-search form input.form-submit {
  border-right: 0;
  -webkit-border-radius: 5px 0 0 5px;  
  -moz-border-radius: 5px 0 0 5px;  
  -ms-border-radius: 5px 0 0 5px; 
  -o-border-radius: 5px 0 0 5px; 
  border-radius: 5px 0 0 5px;  
}

/* If in header or navbar */
.region-header .block-search,
#navigation .block-search  {
  float: left;
  clear: left;
}

/*
 * Drupal's default login form block
 */
#user-login-form {
  text-align: right;
}

/*
 * OpenID
 */
#user-login li.openid-link,
#user-login li.user-link /* The OpenID links on the /user form. */ {
  margin-right: -2em; /* Un-do all of the padding on the ul list. */
}

/*
 * Drupal admin tables
 */
form th,
form thead th {
  text-align: right;
  padding-left: 1em; 
}

/* MESSAGES (from messages.css)
------------------------------------------------------------------------------------------------------- */

div.messages,
div.status,
div.warning,
div.error /* Important messages (status, warning, and error) for the user */ {
  padding: 5px 35px 5px 5px; 
  background-position: 5px 5px; 
}

/* TABS (from tabs.css)
------------------------------------------------------------------------------------------------------- */

ul.primary {
  padding: 0 10px 0 0;  
}

ul.primary li {
  float: right;
}

ul.secondary {
  padding: 0 5px 0 0;  
}

ul.secondary li {
  float: right;
  border-left: none;
}

