/**
 * @file
 * Merged styles from multiple Zen stylesheets
 */

/* PAGES (from pages.css)
------------------------------------------------------------------------------------------------------- */
/*
 * Body
 */
body {
  margin: 0;
}

#skip-link a,
#skip-link a:visited {
  position: absolute;
  display: block;
  left: 0;
  top: -500px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  text-align: center;
  background-color: #666;
  color: #fff;
}

#skip-link a:hover,
#skip-link a:active,
#skip-link a:focus {
  position: static;
  width: 100%;
  height: auto;
  padding: 2px 0 3px 0;
}

/*
 * Header
 */
#header .section {
    padding: 10px;
}

#logo /* Wrapping link for logo */ {
  float: left; /* LTR */
  margin: 0 0 0 10px; /* LTR */
}

#logo img {
  vertical-align: bottom;
}

#name-and-slogan /* Wrapper for website name and slogan */ {
  float: left; /* LTR */
  margin: 5px 10px;
  line-height: 0;
}

h1#site-name,
div#site-name /* The name of the website */ {
  margin: 0;
  font-size: 2em;
  font-weight: bold;
  padding: 0;
  line-height: 1em;
}

#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}

#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

#site-slogan /* The slogan (or tagline) of a website */ {
  margin: 12px 0 5px 0;
  font-size: 1.4em;
  font-weight: normal;
  line-height: .3em;
}

/*
 * Main (container for everything else)
 */
.breadcrumb {
  padding-bottom: 0; /* Undo system.css */
  font-size: 95%;
  margin-bottom: 5px;
  color: #888;
}

.breadcrumb a {
  color: #888;
}

h1.title, /* The title of the page */
h2.title, /* Block title or the title of a piece of content when it is given in a list of content */
h3.title /* Comment title */ {
  margin: 0;
}

h1.title {
  font-weight: normal;
  margin-bottom: 5px;
  color: #323232;
}

.help /* Help text on a page */ {
  margin: 1em 0;
}

.more-help-link /* Link to more help */ {
  font-size: 0.85em;
  text-align: right; /* LTR */
}

ul.links /* List of links */ {
  margin: 1em 0;
  padding: 0;
}

ul.links.inline {
  margin: 0;
  display: inline;
}

ul.links li {
  display: inline;
  list-style-type: none;
  padding: 0 0.75em 0 0;
}

.pager /* A list of page numbers when more than 1 page of content is available */ {
  clear: both;
  margin: 1em 0;
  text-align: center;
}

.pager a,
.pager strong.pager-current /* Each page number in the pager list */ {
  padding: 0.5em;
}

.feed-icons /* The links to the RSS or Atom feeds for the current list of content */ {
  margin: 1em 0;
}

.more-link /* Aggregator, blog, and forum more link */ {
  text-align: right; /* LTR */
}

.region-content-bottom /* Wrapper for any blocks placed in the "content bottom" region */ {
}

/*
 * Postscript 
 */
#postscript .section {
  padding: 10px 20px;
}

#postscript .section .block {
  float: left; /* LTR */
  margin-right: 15px; /* LTR */
}

/*
 * Footer
 */
#footer {
  clear: both;
}

#footer .section {
  padding: 10px 20px;
  text-align: center;
}

#footer-message {
  margin-bottom: 10px;
}

/*
 * Page bottom
 */
.region-bottom /* Wrapper for any blocks placed in the page bottom region */ {
}


/* NAVIGATION (from navigation.css)
------------------------------------------------------------------------------------------------------- */

/* The active item in a Drupal menu */
li a.active {
  color: #000;
}

/* Navigation bar */
#navigation {
  /* overflow: hidden; /* Sometimes you want to prevent overlapping with main div. */
  height: 43px;
}

#navigation .block .content {
  padding: 0;
}

#navigation .content ul /* Main menu and secondary menu links */ {
  margin: 0; 
  padding: 0;
  text-align: left; /* LTR */
}

#navigation .content li /* A simple method to get navigation links to appear in one line. */ {
  float: left; /* LTR */
  padding: 0 10px 0 0; /* LTR */
}

/* format search block if put in nav region */
#navigation .block-search {
  margin: 0 5px 0 0; /* LTR */
  float: right; /* LTR */
}

#navigation .block-search .form-submit {
  font-size: 110%;
}

/* Main menu, other menu blocks, superfish menus in navbar */
#navigation .block-menu,
#navigation #main-menu,
#navigation .block-superfish {
  float: left; /* LTR */
  margin: 0;
  line-height: 37px;
  padding-left: 10px; /* LTR */
}

#navigation .block-menu h2.block-title,
#navigation .block-superfish h2.block-title {
  display: none;
}

#navigation .block-menu ul.links,
#navigation #main-menu ul,
#navigation .block-superfish ul.sf-menu {
  display: inline;
  padding: 0;
  margin: 0;
  list-style-image: none;
}

#navigation .block-menu ul.links li,
#navigation .block-superfish ul.sf-menu li,
#navigation #main-menu ul li{
  list-style: none;
}

#navigation .block-menu ul.menu a,
#navigation .block-superfish ul.sf-menu a,
#navigation #main-menu a {
  padding: 0 10px;
  text-decoration: none;
  font-size: 120%;
  font-weight: bold;
}

/* Superfish */
#navigation ul.sf-menu {
  line-height: 37px;
}

#navigation ul.sf-menu ul li {
  background: #343434;
  margin: 0;
  border-top: 1px solid #535353;
}

#navigation ul.sf-menu ul ul {
  margin-left: 10px;
  margin-top: 3px;
}

#navigation ul.sf-menu ul li:hover,
#navigation ul.sf-menu ul li.sfHover,
#navigation ul.sf-menu ul li.active a,
#navigation ul.sf-menu ul a:focus,
#navigation ul.sf-menu ul a:hover,
#navigation ul.sf-menu ul a:active {
  background: #535353;
  color: #FFF;
}

#navigation ul.sf-menu li ul {
  background-color: transparent;
}

/* Secondary menu, upper right corner */
#secondary-menu {
  float: right; /* LTR */
  margin: 0 15px 0 0; /* LTR */
  padding: 0;
}

/* Clear bullets from lists in navbar */
#navigation .block ul li,
#navigation .block ul li.expanded,
#navigation .block ul li.collapsed,
#navigation .block ul li.leaf{
  list-style: none;
  list-style-image: none;
}


/* NODES (from nodes.css)
------------------------------------------------------------------------------------------------------- */

h2.node-title {
  line-height: 1em;
  margin-bottom: 0.2em;
}

.node-teaser {
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #E0E0E0;
}

.node-unpublished div.unpublished,
.comment-unpublished div.unpublished /* The word "Unpublished" displayed underneath the content. */ {
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word; /* A very nice CSS3 property */
}

.marker /* "New" or "Updated" marker for content that is new or updated for the current user */ {
  color: #c00;
}

.node.node-unpublished .picture,
.comment.comment-unpublished .picture {
  position: relative; /* Otherwise floated pictures will appear below the "Unpublished" text. */
}

.node .submitted /* The "posted by" information */ {
  font-size: 90%;
  color: #666;
}

.node ul.links {
  display: block;
  margin: 10px 0;
  padding: 5px 10px;
}

body.three-px-corners .node ul.links {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

body.seven-px-corners .node ul.links {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}

body.eleven-px-corners .node ul.links {
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  border-radius: 11px;
}

.node ul.links a {
  font-weight: bold;
}



/* BLOCKS (from blocks.css)
------------------------------------------------------------------------------------------------------- */

.block {
  border: none;
  padding: 0;
  margin-bottom: 15px;
}

.region-header .block,
#navigation .block {
  margin-bottom: 5px;
}

body.three-px-corners .block {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

body.seven-px-corners .block {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}

body.eleven-px-corners .block {
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  border-radius: 11px;
}

.block .content {
  padding: 10px;
}

#block-system-main .content {
  padding: 0;
}

h2.block-title {
  padding: 3px 2px;
  margin: 0;
  font-weight: normal;
  font-size: 140%;
}


body.three-px-corners h2.block-title {
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}

body.seven-px-corners h2.block-title {
  -moz-border-radius: 7px 7px 0 0;
  -webkit-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
}

body.eleven-px-corners h2.block-title {
  -moz-border-radius: 11px 11px 0 0;
  -webkit-border-radius: 11px 11px 0 0;
  border-radius: 11px 11px 0 0;
}

.block ul {
  margin-top: 5px;
  margin-left: 15px; /* LTR */
  padding-left: 0; /* LTR */
}

.block ul li {
  margin-bottom: 4px;
}

.block ul li.expanded ul {
  margin-top: 4px;
  margin-left: 20px; /* LTR */
}

#postscript-top .block,
#postscript-bottom .block  {
  padding: 10px 15px;
  margin: 0 10px;
}

#postscript-top h2.block-title,
#postscript-bottom h2.block-title {
  padding: 5px;
}

/* COMMENTS(from comments.css)
------------------------------------------------------------------------------------------------------- */

#comments   {
  clear: both;
  margin: 20px 0;
}

#comments h2.title {
  padding: 3px 10px;
  margin: 5px 0 15px 0;  
  font-size: 130%;
  font-weight: normal;
}

body.three-px-corners #comments h2.title {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

body.seven-px-corners #comments h2.title {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}

body.eleven-px-corners #comments h2.title {
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  border-radius: 11px;
}

#comments h2.comment-form {
  padding: 3px 10px;
  margin: 5px 0;  
  font-size: 120%;
}

.comment {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #D6D6D6;
}

body.three-px-corners .comment {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

body.seven-px-corners .comment {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}

body.eleven-px-corners .comment {
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  border-radius: 11px;
}

#comments .comment ul.links {
  width: auto;
}

.new {
  color: #c00;
}

.comment div.links {
  margin: 1em 0;
}

.comment .submitted {
  clear: left; /*LTR*/
}

h3.comment-title {
  line-height: .5em;
}

.comment .content {
  margin: 10px 0;
}


/* FORMS(from forms.css)
------------------------------------------------------------------------------------------------------- */

.form-item,
.form-checkboxes,
.form-radios /* Wrapper for a form element (or group of form elements) and its label */ {
  margin: 1em 0;
}

.form-item input.error,
.form-item textarea.error,
.form-item select.error /* Highlight the form elements that caused a form submission error */ {
  border: 1px solid #c00;
}

.form-item label /* The label for a form element */ {
  display: block;
  font-weight: bold;
}

.form-item label.option /* The label for a radio button or checkbox */ {
  display: inline;
  font-weight: normal;
}

.form-required /* The part of the label that indicates a required field */ {
  color: #c00;
}

.form-item .description /* The descriptive help text (separate from the label) */ {
  font-size: 0.85em;
}

.form-checkboxes .form-item,
.form-radios .form-item /* Pack groups of checkboxes and radio buttons closer together */ {
  margin: 0.4em 0;
}

.form-submit {
  margin-right: 5px; /* LTR */
  background-color: #eeeeee;
  background: url(../images/color-schemes/gray-btn.png) top left repeat-x;
  border: 1px solid #aaa;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  line-height: 1;
  padding: 3px 8px 4px 8px;
  text-align: center;
  font-size: 100%;
  font-weight: bold;
  color: #333;
}

.container-inline div,
.container-inline label /* Inline labels and form divs */ {
  display: inline;
}

/*
 * Search (search-block-form.tpl.php)
 */

#block-search-form.block .inner .content {
  padding-top: 0;
}

.block-search .form-item input.form-text,
.white_bg .region-header .block-search .form-item input.form-text,
.white_bg #navigation .block-search .form-item input.form-text {
  border: 1px solid #ccc;
  border-right: none;
  float: left; /* LTR */
  height: 12px;
  padding: 6px;
  -webkit-border-radius: 5px 0 0 5px; /* LTR */
  -moz-border-radius: 5px 0 0 5px; /* LTR */
  -ms-border-radius: 5px 0 0 5px; /* LTR */
  -o-border-radius: 5px 0 0 5px; /* LTR */
  border-radius: 5px 0 0 5px; /* LTR */
  color: #4e4e4e;
  background-color: #FAFAFA;
}

.block-search form input.form-submit {
  border:none;
  background:url('../images/search-submit.png') center left no-repeat;
  width:31px;
  height:26px;
  border: 1px solid #ccc;
  border-left: 0;
  text-indent:-9999px;
  -webkit-border-radius: 0 5px 5px 0; /* LTR */
  -moz-border-radius: 0 5px 5px 0; /* LTR */
  -ms-border-radius: 0 5px 5px 0; /* LTR */
  -o-border-radius: 0 5px 5px 0; /* LTR */
  border-radius: 0 5px 5px 0; /* LTR */
  margin:0;
}

.block-search .form-submit:hover,
.block-search .form-submit:focus,
.block-search .form-submit:active {
  cursor: pointer;
}

/* If in header or navbar */
.region-header .block-search,
#navigation .block-search  {
  float: right; /* LTR */
  clear: right; /* LTR */
  width: 220px;
}

.region-header .block-search .form-item input.form-text,
#navigation .block-search .form-item input.form-text {
  border: none;
  height: 14px;
} 

.region-header .block-search .content {
  margin-top: 10px;
  padding: 0;
}

.region-header .block-search .form-item input.form-text,
#navigation .block-search .form-item input.form-text {
  width: 150px;
}

#navigation .block-search .content {
  padding: 0;
  margin-top: 5px;
}

/* If in sidebar */
.sidebar  .block-search .form-item input.form-text  {
  width: 95px;
}

/*
 * Drupal's default login form block
 */
#user-login-form {
  text-align: left; /* LTR */
}

/*
 * OpenID
 */
#user-login-form ul /* OpenID creates a new ul above the login form's links. */ {
  margin-bottom: 0; /* Position OpenID's ul next to the rest of the links. */
}

#user-login-form li.openid-link /* The "Log in using OpenID" link. */ {
  margin-top: 1em;
  margin-left: -20px; /* LTR */ /* Un-do some of the padding on the ul list. */
}

#user-login-form li.user-link /* The "Cancel OpenID login" link. */ {
  margin-top: 1em;
}

#user-login ul {
  margin: 1em 0;
}

#user-login li.openid-link,
#user-login li.user-link /* The OpenID links on the /user form. */ {
  margin-left: -2em; /* LTR */ /* Un-do all of the padding on the ul list. */
}

/*
 * Drupal admin tables
 */
form tbody {
  border-top: 1px solid #ccc;
}

form th,
form thead th {
  text-align: left; /* LTR */
  padding-right: 1em; /* LTR */
  border-bottom: 3px solid #ccc;
}

form tbody th {
  border-bottom: 1px solid #ccc;
}

/* MESSAGES (from messages.css)
------------------------------------------------------------------------------------------------------- */

div.messages,
div.status,
div.warning,
div.error /* Important messages (status, warning, and error) for the user */ {
  min-height: 21px;
  margin: 0 1em 5px 1em;
  border: 1px solid #ff7;
  padding: 5px 5px 5px 35px; /* LTR */
  color: #000;
  background-color: #ffc;
  background-image: url(../images/messages-status.png);
  background-repeat: no-repeat;
  background-position: 5px 5px; /* LTR */
}

div.status /* Normal priority messages */ {
}

div.warning /* Medium priority messages */ {
  border-color: #fc0;
  background-image: url(../images/messages-warning.png);
}

div.warning,
tr.warning {
  color: #000; /* Drupal core uses #220 */
  background-color: #ffc;
}

div.error /* High priority messages. See also the .error declaration in pages.css. */ {
  /* border: 1px solid #d77; */ /* Drupal core uses: 1px solid #d77 */
  border-color: #c00;
  background-image: url(../images/messages-error.png);
}

div.error,
tr.error {
  color: #900; /* Drupal core uses #200 */
  background-color: #fee;
}

div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}


/* TABS (from tabs.css)
------------------------------------------------------------------------------------------------------- */

div.tabs {
  margin: 0 0 5px 0;
}

ul.primary {
  margin: 0;
  padding: 0 0 0 10px; /* LTR */
  border-width: 0;
  list-style: none;
  white-space: nowrap;
  line-height: normal;
  background: url(../images/tab-bar.png) repeat-x left bottom; }

ul.primary li {
  float: left; /* LTR */
  margin: 0;
  padding: 0;
}

ul.primary li a {
  display: block;
  height: 24px;
  margin: 0;
  padding: 0 0 0 5px; /* width of tab-left.png */ /* LTR */
  border-width: 0;
  font-weight: bold;
  text-decoration: none;
  color: #777;
  background-color: transparent;
  background: url(../images/tab-left.png) no-repeat left -38px; 
}

ul.primary li a .tab {
  display: block;
  height: 20px; /* 24px (parent) - 4px (padding) */
  margin: 0;
  padding: 4px 13px 0 6px;
  border-width: 0;
  line-height: 20px;
  background: url(../images/tab-right.png) no-repeat right -38px; 
}

ul.primary li a:hover {
  border-width: 0;
  background-color: transparent;
  background: url(../images/tab-left.png) no-repeat left -76px; 
}

ul.primary li a:hover .tab {
  background: url(../images/tab-right.png) no-repeat right -76px; 
}

ul.primary li.active a,
ul.primary li.active a:hover {
  border-width: 0;
  color: #000;
  background-color: transparent;
  background: url(../images/tab-left.png) no-repeat left 0;
}

ul.primary li.active a .tab,
ul.primary li.active a:hover .tab {
  background: url(../images/tab-right.png) no-repeat right 0;
}

ul.secondary {
  margin: 0;
  padding: 0 0 0 5px; /* LTR */
  border-bottom: 1px solid #c0c0c0;
  list-style: none;
  white-space: nowrap;
  background: url(../images/tab-secondary-bg.png) repeat-x left bottom;
}

ul.secondary li {
  float: left; /* LTR */
  margin: 0 5px 0 0;
  padding: 5px 0;
  border-right: none; /* LTR */
}

ul.secondary a {
  display: block;
  height: 24px;
  margin: 0;
  padding: 0;
  border: 1px solid #c0c0c0;
  text-decoration: none;
  color: #777;
  background: url(../images/tab-secondary.png) repeat-x left -56px;
}

ul.secondary a .tab {
  display: block;
  height: 18px; /* 24px (parent) - 6px (padding) */
  margin: 0;
  padding: 3px 8px;
  line-height: 18px;
}

ul.secondary a:hover {
  background: url(../images/tab-secondary.png) repeat-x left bottom;
}

ul.secondary a.active,
ul.secondary a.active:hover {
  border: 1px solid #c0c0c0;
  color: #000;
  background: url(../images/tab-secondary.png) repeat-x left top;
}


/* WIREFRAMES (from wireframes.css)
------------------------------------------------------------------------------------------------------- */

.with-wireframes #header .section,
.with-wireframes #content .section,
.with-wireframes #navigation .section,
.with-wireframes .region-sidebar-first .section,
.with-wireframes .region-sidebar-second .section,
.with-wireframes #footer .section,
.with-wireframes .region-page-closure {
  outline: 1px solid #ccc;
}

/* POLLS
------------------------------------------------------------------------------------------------------- */
.block-poll .content ul.links {
  background: none;
  border: 0;
  margin-top: 10px;
}

.block-poll .content ul.links li.first {
  margin-right: 10px;
}

/* MISC 
------------------------------------------------------------------------------------------------------- */

/* More links */
.more-link a {
  background-color: #eeeeee;
  background: url(../images/color-schemes/gray-btn.png) top left repeat-x;
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  text-shadow: 0 1px 0 #eee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  line-height: 1;
  padding: 5px 12px;
  text-align: center;
  width: 150px; 
  font-weight: bold;
  color: #888;
}

.more-link a:hover {
    cursor: pointer; 
}

/* CUSTOM COLOR SCHEME ADJUSTMENTS 
------------------------------------------------------------------------------------------------------- */
/* Clear out some styles if using custom color scheme, to simplify */
.custom #navigation {
  margin-top: -40px;
}

.custom #main #content,
.custom #main .sidebar {
  margin-top: 20px;
}

.custom #header,
.custom #main-wrapper {
  background-image: none;
}

.custom #main-wrapper .block h2.block-title {
  font-size: 120%;
  font-weight: bold;
  padding: 5px 10px;
}

.custom .region-sidebar-first h2.block-title {
  margin: 0;
}

.custom #main-wrapper .block  {
  padding: 0;
  border: 0;
}


.custom #postscript-top h2.block-title, 
.custom #postscript-top tr.odd, 
.custom #postscript-top tr.even,
.custom #postscript-bottom h2.block-title, 
.custom #postscript-bottom tr.odd, 
.custom #postscript-bottom tr.even {
  border-bottom: none;
}

.custom .more-link a {
  background: none;
  border: 0;
  text-shadow: none;
}

.custom #comments h2.title, 
.custom #comments h2.comment-form, 
.custom .content ul.links {
  background-color: transparent;
  border: 0;
}