/* ========================= RESOURCES ========================= */
.view-resources td,
.view-resources tr th {
  border: 1px solid #fff;
  padding: 5px 10px 5px 10px;
}


/* ========================= PROJECTS ========================= */
.view-display-id-featured_projects .featured-projects-image {
  float: left;
  margin-right: 10px;
}

.view-display-id-featured_projects .views-row {
  border-bottom: 1px dashed #ccc;
  margin-bottom: 15px;
  padding-bottom: 10px;
}


/* ========================= EVENTS ========================= */
.view-upcomming-events .upcoming-event-image {
  float: left;
  margin-right: 10px;
}


/* ========================= PROFILES ========================= */
.view-profiles table {
  width: 100%;
}

.view-profiles tr:nth-child(odd) {
  background: rgba(0, 0, 0, 0.0625);
}

.view-profiles tr:nth-child(even) {
  background: rgba(0, 0, 0, 0.101563);
}

.view-profiles td {
  padding: 5px 15px;
  border: 1px solid white;
}

.view-profiles .profile-name a{
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.view-profiles .profile-picture {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.view-profiles .views-label {
  font-weight: bold;
}