/**
 * @file
 * Form styles.
 */

/* General */

.description {
  color: #777;
}

/* Fieldsets */

fieldset .fieldset-legend {
  margin-top: 1em;
  padding-left: 15px;
  position: absolute;
  text-transform: uppercase;
}

legend {
  font-weight: bold;
}

fieldset {
  border: 1px solid #CCC;
  padding: 3em 0 0;
  position: relative;
  margin: 1em 0;
}

fieldset .fieldset-wrapper {
  padding: 0 15px 10px;
}

html.js fieldset.collapsed {
  border-width: 1px;
  height: auto;
}

fieldset.collapsed {
  background-color: transparent;
}

a.fieldset-title {
  text-decoration: none;
  vertical-align: middle;
}

/* Vertical tabs */

.vertical-tabs fieldset.vertical-tabs-pane {
  padding: 10px;
}

.vertical-tabs fieldset.vertical-tabs-pane .fieldset-wrapper {
  padding: 0;
}

.vertical-tabs ul.vertical-tabs-list li a {
  overflow: hidden;
}

