.block-social-share-statistics .fb_count,
.block-social-share-statistics .twt_count,
.block-social-share-statistics .total_count {
  float: left;
  width: 75px;
  text-align: center;
}

.block-social-share-statistics .total_count {
  width: 100px;
}

.block-social-share-statistics label {
  text-align: center;
}
