@import url(jquery.hashcash.io/jquery.hashcash.io.min.css);

.pow-captcha-progress-wrapper {
  display: none;
}

.pow-captcha-ie-warning {
    display: none;
}

.pow-captcha-attached fieldset.captcha {
    border: none;
    margin: 0;
    padding: 0;
}

.pow-captcha-attached fieldset.captcha > .fieldset-wrapper {
    margin: 0;
}

.pow-captcha-attached fieldset.captcha > legend,
.pow-captcha-attached fieldset.captcha > .fieldset-wrapper > .fieldset-description {
    display: none;
}

.hashcash-onoffswitch {
    top: -2px;
    margin-right: .5em;
}

.hashcash-disabled {
    opacity: 0.25;
    cursor: not-allowed !important;
}
