
body {
  color:#222;
  background-color:#FFF;
  line-height: 1;
  font: 13px/1.5 Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
}

p {
  margin: 0 0 10px 0;
  clear:both;
  text-align:justify;
}
ol {
    list-style-type: decimal;
    color:#222;
}
ol {
    display: block;
}

ul li {
    display: list-item;
    list-style-type: disc;
    color:#222;
}

/*.container-inline div, .container-inline label {
  display: block;
}*/
fieldset {
    border: 1px solid silver;
    margin: 0 0 1.2em;
    /*width:604px;*/
    padding: 0.6em 2%;
    color:#222;
}
#edit-basic .form-type-textfield label{
  display: block;
}
.form-item select, .form-item textarea {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: silver;
    border-style: solid;
    border-width: 1px;
    font-size: 13px;
    line-height: 1.2em;
    padding: 0;
    width: 100%;
}
.form-item input {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #fff;
  border-color: silver;
  border-style: solid;
  border-width: 1px;
  font-size: 13px;
  line-height: 1.2em;
  padding: 0;
  /*width:100%;*/
}
.form-item input.form-text, .form-item select {
    padding: 3px 1%;
    width: 98%;
}
form input.form-submit {
    border: 0 none;
    color: #FFFFFF;
    font-family: 'Yanone Kaffeesatz','Arial Narrow',Helvetica,Arial,'sans serif';
    font-size: 100%;
    margin: 2px;
    position: relative;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    width: auto;
    background:#1B395B;
    padding:6px;
    font-weight:bold;
    float:none;
}
form:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
form {
    margin-bottom: 1.2em;
}
table {
    border-collapse: collapse;
}
td, tr.odd td, tbody th {
    background-color: #e3e3e3;
    border:1px solid silver;
    color:#1B395B;
}
tr.even, tr.odd {
    background-color: #e3e3e3;
    border-bottom: 1px solid #CCCCCC;
    padding: 0.1em 0.6em;
}
.form-item .description {
    color: #fff;
    font-size: 0.8em;
    font-style: italic;
    padding: 0.4em 0 0;
}
label {
    display: block;
    font-weight: bold;
    color:#222;
}
hr {
  border-color: #ccc;
  border-style: solid;
  border-width: 1px 0 0;
  clear: both;
  height: 0;
}
h1, h2, h3, h4, h5, h6 {
  color:#000;
}
h1 {
  font-size: 4em;
  letter-spacing:-1px;
}
h1.title {
  font-size: 4em;
  letter-spacing:-1px;
}

h2 {
  font-size: 2em;
}
h2.block-title {
  color:#fff !important;
  background:#1B395B;
}
h2.title a:link, h2.title a:visited {
    text-decoration: underline;
}
h2.title a:hover, h2.title a:active {
    text-decoration: none;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 90%;
}

h6 {
  font-size: 80%;
}
ol {
  list-style: decimal;
}

ul {
  list-style: square;
}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset {
  margin-bottom: 20px;
}
b, strong {
    font-weight: bolder;
}
i, cite, em, var, dfn {
    font-style: italic;
}
blockquote {
    background-color: #e3e3e3;
}
blockquote {
    color: #1B395B;
    font-size: 1.4em;
    line-height: 1.4em;
    margin: 0 0 1em;
    padding: 10px;
}
a, a:link, a:visited {
    color: #222222;
    text-decoration:none;
}
a, a:active {
    color: #222222;
    text-decoration:none;
}

a, a:hover {
    color: #222222;
   
}

div.status, table tr.ok {
    background-color: #1B395B;
}
div.status, .ok {
    color: #fff;
}
div.status {
    border-color: #fff;
}
div.status a:link, div.status a:visited {
  color:#c1c1c1;
}
div.status a:hover, div.status a:active {
  color:#c1c1c1;
}
div.messages {
    background-position: 8px 8px;
    background-repeat: no-repeat;
    margin: 6px 0;
    padding: 10px 10px 10px 50px;
}
div.messages a:link, div.messages a:visited {
  color:#c1c1c1;
}
div.messages a:hover, div.messages a:active {
  color:#c1c1c1;
}
div.error, table tr.error {
    background-color: #1B395B;
}
div.error, .error {
    color: #fff;
}
div.warning, table tr.warning {
    background-color: #1B395B;
}
div.warning, .warning {
    color: #fff;
}
div.warning a:link, div.warning a:visited {
  color:#c1c1c1;
}
div.warning a:hover, div.warning a:active {
  color:#c1c1c1;
}
div.error {
    border-color: #fff;
}
div.warning {
    border-color: #fff;
}
p code {
    background-color: #e3e3e3;
}
p code {
    border: medium none;
    color: #1B395B;
    display: inline;
    margin: 0;
    padding: 0 0.2em;
}
.centered {text-align:center; }
.lefttext {text-align:left; }
.righttext {text-align:right; }
.justifytext {text-align:justify;}
.primarynav {
  margin-left:60px;
  float:right;         
}
.primarynav ul.menu {
                margin:0px;
                padding:0px;
                text-align:right;
                list-style: none;
    z-index:999;
}

.primarynav ul li {
    display: block;
    float: left;
    padding:8px;background:white;
     list-style: none;
    z-index:999; text-decoration:none;
    margin-left:0px;
}

.primarynav li ul {
    display: none;
    box-shadow:3px 3px 6px #cccccc;
    opacity:0.8
    z-index:999;
}
.primarynav li ul > li {
    clear:both;width:150px;
text-align:left;
}
.primarynav ul li a {
     text-decoration: none;
     color:#255180;
                  font-weight:normal;
                  font-size:18px;
                  text-decoration:none;
    white-space: nowrap;
}
.primarynav ul li a:hover {
     text-decoration: none;
     color:#996600;
                  font-weight:normal;
                  font-size:18px;
                  text-decoration:none;
    white-space: nowrap;
}

.content li.active-trail ul {
    
    position: absolute;
    text-decoration:none;
    z-index:999;
}
.content li:hover ul {
    display: block;
    position: absolute;
    text-decoration:none;
    z-index:999;
}

.content .node-teaser {
  border-bottom: 1px solid #ba903e;
  padding-bottom: 22px;
  padding-top: 12px;
  margin-bottom:10px;
}
.node-teaser {
  border-bottom: 1px solid #ba903e;
  padding-bottom: 20px;
  padding-top: 12px;
}
.region-leftartlcle {
  width:580px;
  float:left;
  margin:0px 20px 20px 10px;
}
.region-leftartlcle-full {
  width:900px;
  float:left;
  margin:0px 20px 20px 20px;
}
.region-leftartlcle-inner {
  width:580px;
  float:left;
  margin:12px 20px 20px 10px;
}
.region-leftartlcle-inner-full {
  width:900px;
  float:left;
  margin:12px 20px 20px 20px;
}
.region-leftartlcle-inner p {
  display:block;
}
.region-leftartlcle-inner-full p {
  display:block;
}
.region-leftartlcle-inner #comments {
  display:block;
}
.region-leftartlcle-inner-full #comments {
  display:block;
}
.region-leftartlcle-inner .link-wrapper{
  display:block;
}
.region-leftartlcle-inner-full .link-wrapper{
  display:block;
}
.region-leftartlcle-inner .link-wrapper ul.inline li{
  padding:0px;
}
.region-leftartlcle-inner-full .link-wrapper ul.inline li{
  padding:0px;
}
.region-rightarticle {

  text-align:justify;
  padding-bottom:20px;
  padding:0px 20px 10px 20px;
}
.region-leftartlcle h2, a {
  color:#204a7a;
  text-decoration:none !important;
  margin-top:0px;
  padding:15px 0px 15px 0px;
  margin:0px;
}
.region-leftartlcle-full h2, a {
  color:#204a7a;
  text-decoration:none !important;
  margin-top:0px;
  padding:15px 0px 15px 0px;
  margin:0px;
}

.region-leftartlcle-inner h2, a {
  color:#204a7a;
  text-decoration:none !important;
  margin-top:0px;
  padding:15px 0px 15px 0px;
  margin:0px;
}
.region-leftartlcle-inner-full h2, a {
  color:#204a7a;
  text-decoration:none !important;
  margin-top:0px;
  padding:15px 0px 15px 0px;
  margin:0px;
}

.region-rightarticle {color:#1B395B;}
.region-rightarticle h2 {
  color:#1B395B;
  margin:0px 0px 15px 0px;
}
.region-rightarticle img {
  margin-bottom:15px;
}
.region-rightarticle p {
  color:#1B395B;
}
.region-rightarticle p a {
  background-color: #1B395B;
  color: #FFFFFF;
  display: inline-block;
  float: right;
  margin-top:15px;
  padding: 6px 18px;
  text-decoration: none;
  background-image: url("../images/Arrow.png");
  background-repeat: no-repeat;
  background-position: 88px center;
  font-weight:bold;
}
.region-leftartlcleone {

  border-bottom:1px solid #BB913F;
  padding-bottom:20px;
  margin-top:20px;
  margin-bottom:20px;
  background-repeat:no-repeat;
  background-position:top left;
  padding-left:220px;
}
.content_readmore ul.links.inline li a {
  background-color:#1B395B;
  padding:6px 18px 6px 18px;
  color:#FFFFFF;
  text-decoration:none;
  display:inline-block;
  margin-top:5px;
  float:right;
  background-image: url("../images/Arrow.png");
  background-repeat: no-repeat;
  background-position: 88px center;
}
.region-leftartlcletwo {

  border-bottom:1px solid #BB913F;
  padding-bottom:20px;
  margin-top:20px;
  margin-bottom:20px;
  background-repeat:no-repeat;
  background-position:top left;
  padding-left:220px;
}
.region-leftartlcletwo p a {
  background-color:#1B395B;
  padding:6px 18px 6px 18px;
  color:#FFFFFF;
  text-decoration:none;
  display:inline-block;
  margin-top:5px;
  margin-left:250px;
  }
.region-leftartlclethree {

  border-bottom:1px solid #BB913F;
  padding-bottom:20px;
  margin-top:20px;
  margin-bottom:20px;
  background-repeat:no-repeat;
  background-position:top left;
  padding-left:220px;
}
.region-leftartlclethree p a {
  background-color:#1B395B;
  padding:6px 18px 6px 18px;
  color:#FFFFFF;
  text-decoration:none;
  display:inline-block;
  margin-top:5px;
  margin-left:250px;
  }
.region-leftartlclefour {

  padding-bottom:20px;
}
.region-sidelistingbar {
  margin-top:20px;
}
.region-sidelistingbar h2 {
  display:inline-block;
  color:white;
  width:308px;
  height:45px;
  padding:6px;
  background-color:transparent;
  background-image: url("../images/Latest_article_title.1.png");
  background-repeat:no-repeat;
  background-position:center;
  padding-top:18px;
}
.region-sidelistingbar ul.menu {
  list-style-type:none;
  margin:0px;
  padding:0px;
}
.region-sidelistingbar ul.menu li {
  display:block;
  border-bottom:1px solid #BB913F;
  height:35px;
  width:290px;
  padding-left:20px;
  padding-top:15px;
  background-image: url("../images/Arrow.png");
  background-repeat:no-repeat;
  background-position:center left;
  margin-left:0px;
}
.region-sidelistingbar ul.menu li a {
  color:#1B395B;
  text-decoration:none;
  font-size:14px;
  font-weight:bold;
}
.region-sidelistingbar p a {
  background-color:#1B395B;
  background-image: url("../images/Arrow.png");
  background-repeat: no-repeat;
  background-position: 88px center;  
  padding:6px 18px 6px 18px;
  color:#FFFFFF;
  text-decoration:none;
  display:inline-block;
  margin-top:20px;
  float:right;
  font-weight:bold;
}
/*.region-rightarticle p a {
  margin-top:15px;
  padding: 6px 18px;
  background-image: url("../images/Arrow.png");
  background-repeat: no-repeat;
  background-position: 85px center;
}*/
.region-bottomboxleft {
  background:#E1E1E1;
  margin-right:2px;
  padding-top:10px;;
  width:191px;
  float:left;
  margin-left:10px;
}
.region-bottomboxleft p  {
  color:#1B395B;
  font-size:13px;
  font-weight:bold;
  text-align:center;
  height: 40px;
  overflow: hidden;
}
.region-bottomboxleft p a {
  color:#1B395B;
  font-size:13px;
  font-weight:bold;
  text-align:center;
  height: 40px;
  overflow: hidden;

}
.region-bottomboxmiddle {
  background:#E1E1E1;
  margin-right:2px;
  padding-top:10px;
  width:191px;
  float:left;
}
.region-bottomboxmiddle p  {
  color:#1B395B;
  font-size:13px;
  font-weight:bold;
  text-align:center;
  height: 40px;
  overflow: hidden;
}
.region-bottomboxmiddle p a {
  color:#1B395B;
  font-size:13px;
  font-weight:bold;
  text-decoration:none;
  text-align:center;
  height: 40px;
  overflow: hidden;

}
.region-bottomboxright {
  background:#E1E1E1;
  padding-top:10px;
  width:191px;
  float:left;
}
.region-bottomboxright p  {
  color:#1B395B;
  font-size:13px;
  font-weight:bold;
  text-align:center;
  height: 40px;
  overflow: hidden;
}
.region-bottomboxright p a {
  color:#1B395B;
  font-size:13px;
  font-weight:bold;
  text-align:center;
  height: 40px;
  overflow: hidden;
}
.bottom_section {
  margin-top:30px;

}
.footer_divider1 {
  position:absolute;
  width:2px; height:199px;
  left:280px;
  background-image: url("../images/Footer_divider.png");
  background-repeat:no-repeat;
  background-position:center left;
}
.footer_divider2 {
  position:absolute;
  width:2px; height:199px;
  left:580px;
  background-image: url("../images/Footer_divider.png");
  background-repeat:no-repeat;
  background-position:center left;
}
.articletopcurve {
  
  width:320px; height:20px;
  float:right;
  background-image: url("../images/featured_article_boxtop.png");
  background-repeat:no-repeat;
  background-position:center left;
}
.articlemiddlecurve {
  float:right;
  width:320px;
  background-image: url("../images/featured_article_box_middle.1.png");
  background-repeat:repeat-y;
  background-position:center left;
}
.articlebottomcurve {
  float:right;
  width:320px; height:30px;
  margin-top:-2px;
  background-image: url("../images/featured_article_boxbottom.1.png");
  background-repeat:no-repeat;
  background-position:center left;
}
.region-footerleft {text-align:left;}
.region-footerleft ul {
  list-style-type:none;
  padding:0px;
  margin:0px;
  text-align:center;
}
.region-footerleft ul li {
  display:block;
}
.region-footerleft ul li a {
  font-size:13px;
  color:white;
  font-weight:bold;
  text-decoration:none;
}
.region-footerright input[type="button"], input[type="submit"] {
  float:right;
  
}
.region-footermiddle {color:white; }
.region-footerright {color:white;
text-align:right;}

.region-footerright p a {font-size:16px;
   color:white;
   font-weight:bold;
   text-decoration:none;
   padding-top:10px;
   display:block;
   text-align:right;
}
.right_outer {
  margin-left:0px;
  float:right;
  width:320px;
  margin-right:10px;
  margin-top: 20px;
  overflow:hidden;
}
.region-search form {
  background-image: url("../images/text_field_form.png");
  background-repeat:no-repeat;
  background-position:center left;
  width:320px;
  height:33px;
  background-color:transparent;
  border:none;
  float:right;
}
.region-search input[type=text] {
  color:#9F9F9F;
  width:260px;
  height:34px;
  background-color:transparent;
  border:none;
  padding-left:10px;
  padding-right:10px;
  padding-top: 0px;
  float:left;
  font-weight: bold;
  padding-bottom:0px;
}
.region-search input[type=image] {
  
  width:26px;
  height:23px;
  float:right;
  background-color:transparent;
  border:none;
  position:absolute;
  margin-top:0px;
  display:block;
  right:3px;
}
.region-footerright input[type=text] {
  background-image: url("../images/text_field_form.png");
  background-repeat:no-repeat;
  background-position:center;
  width: 300px;
  height:33px;
  background-color:transparent;
  border:none;
  color:#9F9F9F;
  float:right;
  margin-bottom:12px;
  text-align: left;
  padding-left: 10px;
  padding-right:10px;
  overflow:hidden;
}

.comment-text-top 
              {background-image: url("../images/Comment_box_top.png");
              background-repeat:no-repeat;
              height:10px;
              width:580px;
              margin-top:20px;
              } 
              
.comment-text 
              {background-image: url("../images/Comment_box_middle.png");
              background-repeat:repeat-y;
              width:580px;
              
              }                 
              
.comment-text-bottom 
              {background-image: url("../images/Comment_boxBottom.png");
              background-repeat:no-repeat;
              height:11px;
              width:580px;
              
              } 
              
.comment-arrow {padding-right:10px; padding-left:10px; }             
.comment-arrow .comment ul.inline, ul.links.inline li a  {
                                                         margin-right:4px;
                                                         
                                                         font-size:13px; font-weight:bold;
                                                         } 
                                                         
.comment-arrow h3 a
              {
              color:#1F3859;
              font-size:18px;
              text-decoration:none;
              margin-bottom:0px;
              font-weight:bold; 
              }

.submitted_date 
              {
              text-align:right; 
              }

.submitted a 
              {
              font-size:14px; 
              color:#444A56;
              font-weight:bold;
              text-decoration:none;
              text-transform:capitalize; 
              } 
              
                           
                            
.comment-form input[type=text]
                            {
                            
                            width:560px; 
                            height:35px;
                            
                            margin-bottom:10px;
                            padding: 3px 8px 3px 8px;
                            }
                            
.comment-form textarea {
                            
                            width:580px; 
                            height:156px;
                            padding: 3px 8px 3px 8px
                            margin-bottom:10px;
                            
                            }
                            
.resizable-textarea .grippie {
                              display:none; 
                              } 
                              
#edit-author--2 a {
    color: #444A56;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
}
.region-footerleft h2 {
  padding:10px 30px 0px 0px;
  color:#fff;
  margin:0px;
}
.region-footerleft p {
  padding:0px 40px 10px 0px;
  color:#fff;
}
.footer_zyxware {
  font-size:8px;
  text-align:right;
  color:#869db7;
  margin-right:20px;
  overflow:hidden;
  height:15px;
}
.footer_zyxware a:link,.footer_zyxware a:visited {
  color:#869db7;
  text-decoration:none;
}
.region-leftartlcle p {
  display:inline;
}
.region-leftartlcle-full p {
  display:inline;
}
.region-leftartlcle-inner p {
  display:inline;
}
.region-leftartlcle-inner-full p {
  display:inline;
}
.region-leftartlcle img {
  float:left;
  margin:9px 10px 5px 0px;
}
.region-leftartlcle-full img {
  float:left;
  margin:9px 10px 5px 0px;
}
.region-leftartlcle-inner img {
  float:left;
  margin:5px 10px 5px 0px;
}
.region-leftartlcle-inner-full img {
  float:left;
  margin:5px 10px 5px 0px;
}  
#comment_submitted {
  color:#204a7a;
}
.filter-wrapper {
  border:none;
}
.region-leftartlcle div {
  margin-right:0px;
  text-align: justify;
}
.region-leftartlcle-full div {
  margin-right:0px;
  text-align: justify;
}
.region-leftartlcle-inner div {
  margin-right:0px;
  text-align: justify;
}
.region-leftartlcle-inner-full div {
  margin-right:0px;
  text-align: justify;
}
ul.inline, ul.links.inline {
  display:block;
} 
.filter-guidelines {
  padding-left:0px;
}
.filter-wrapper .form-item  {
  padding-left:0px;
}  
.tips {
  padding-left:15px;
}
.region-footermiddle p {
    text-align: center;
} 
.bottom_section h2 {
    text-align: left;
    padding:10px 10px 10px 0px;
  color:#fff;
  margin:0px;
} 
.bottom_section p {
  text-align:justify;
 
}
.region-leftartlcle h2 {
  margin:0px 0px;
  padding:0px 0px;
}
.region-leftartlcle-full h2 {
  margin:0px 0px;
  padding:0px 0px;
}
.region-leftartlcle-inner h2 {
  margin:0px 0px;
  padding:0px 0px;
}
.region-leftartlcle-inner-full h2 {
  margin:0px 0px;
  padding:0px 0px;
}
.region-footermiddle p {
  padding:0px 20px 0px 20px;
}
.region-footermiddle h2 {
  padding-left:20px;
}
.region-footerright p {
  padding:0px 0px 0px 20px;
}
.region-footerright h2 {
  padding-left:20px;
}
.footer a:link, .footer a:visited {
  color:#fff;
}
.footer a:hover, .footer a:active {
  color:#fff;
}

.post-tags .field-item {
  float:left;
  margin-right:5px;
  margin-top:15px;
  background-color: #DDDDDD;
  background-image: -moz-linear-gradient(center top , #EEEEEE, #DDDDDD);
  background-repeat: repeat-x;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #CD4517;
  display: inline-block;
  text-shadow: 0 1px 0 #FFFFFF;
}

.post-tags{
 width:580px;
 overflow:hidden;
}

.post-tags a{
	color:black;
	text-decoration: none;
	padding:0px 6px;
	font-size:15px;
}

.post-tags a:hover{
  background-color:#999999;
	border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
} 

.post-tags .field-label {
  display:none;
}
