/* bootstrap overrides */
body.navbar-is-fixed-top {
  padding-top: 0px !important;
}

#navbar {
  font-family: roboto;
  opacity: 0.96;
  min-height: 75px;
  padding-top: 12px;
  border: 0px;
}

#navbar .nav .dropdown > .dropdown-menu {
  left: auto;
  right: 0px;
}
#navbar .dropdown-menu {
  border: none;
  border-radius: 0px;
}
#navbar .dropdown-menu li {
  width: 100%;
}
#navbar .nav>li {
  margin-top: 15px;
}

#navbar .nav>li>a {
  text-transform: uppercase;
  font-size: 1.1em;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

#navbar .nav {
  border: none;
}

#navbar .navbar-toggle {
  border-radius: 0px;
}

#navbar .caret {
  margin-left: 0px;
  border-top: 5px solid transparent;
  border-left: 5px solid;
  border-bottom: 5px solid transparent;
  float: right;
  margin-right: 10px;
  margin-top: 5px;
}
#navbar .menu-depth-1 > a .caret {
  border-top: 5px solid;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-bottom: 0px;
  float: right;
  margin-top: 8px;
  margin-left: 5px;
}

#navbar .search-form .input-group {
  width: 220px;
}
#navbar form.search-form {
  float: left;
  margin-top: 10px;
}
ul.nav li.dropdown:hover ul.dropdown-menu li.expanded:hover > ul.dropdown-menu {
  display: block;
  top: -5px;
  right: auto !important;
  left: 100% !important;
}

/* Home page */
/* home page welcome region */
.home-welcome {
  background-image: url(images/css-header-header-amic-main-background.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 650px;
  font-family: roboto;
}

.home-welcome .main-title {
  margin-top: 145px;
  font-size: 3em;
}

.home-welcome .main-desc {
  margin-top: 5px;
  font-size: 1.5em;
}

.home-welcome .block-icon-circle {
  display: inline-block;
  font-size: 4em;
  border-radius: 50%;
  width: 90px;
  height: 90px;
}
.home-welcome .block-icon-circle i {
  vertical-align: middle;
}

.home-welcome .block-icon-circle:hover {
  opacity: 0.9;
}
.home-welcome .block-text {
  display: block;
  font-size: 2em;
}
.home-welcome .block-desc {
  display: block;
}

.home-welcome .content-block-group {
  margin-top: 50px;
}

/* home page call to action */
.home-cta {
  font-family: 'Roboto', sans-serif;
  padding-top: 40px;
  padding-bottom: 10px;
}

.home-cta .content-box .title {
  font-size: 1.7em;
  font-weight: normal;
  margin-left: 18px;
  margin-top: 30px;
  margin-bottom: 7px;
}

.home-cta .content-box .description {
  font-size: 1.23em;
  margin-left: 18px;
}

.home-cta .content-box {
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-top: 1px solid;
  border-left: 4px solid;
  height: 120px;
}

.home-cta .content-box .buynow-button {
  align-items: center;
  display: flex;
  height: 118px;
}

.home-cta .content-box .buynow-button .btn {
  border-radius: 0px;
  width: 107px;
  height: 40px;
  box-shadow: none;
}

.home-cta .content-box .buynow-button a {
  font-size: 1.2em;
  font-weight: bold;
  text-shadow: none;
  padding-top: 9px;
  padding-left: 13px;
  text-decoration: none;
}

/* home page features */
.home-features {
  font-family: "Roboto",sans-serif;
  padding-bottom: 10px;
  padding-top: 15px;
}

.home-features .top-header .title {
  font-size: 4.1em;
  margin-bottom: 15px;
}

.home-features .top-header {
  margin-bottom: 15px;
}

.home-features .top-header .description {
  font-size: 1.08em;
}

.home-features .content-boxes .content-boxes-left .title {
  font-size: 1.8em;
  font-weight: normal;
}

.home-features .content-boxes .content-boxes-left .description {
  font-size: 1.2em;
}

.home-features .content-boxes .content-boxes-right .title {
  font-size: 1.8em;
  font-weight: normal;
}

.home-features .content-boxes .content-boxes-right .description {
  font-size: 1.2em;
}

.home-features .content-boxes-left  .content-box {
  margin-right: 10px;
}

.home-features .content-box {
  padding-bottom: 15px;
}

.home-features .content-box .icon-box {
  margin-top: 15px;
  border: 1px solid;
  display: block;
  height: 85px;
  padding: 7px;
  text-align: center;
  width: 85px;
}

.home-features .content-box .icon-inner-box {
  display: block;
  height: 68px;
  width: 68px;
}

.home-features .content-box .icon-inner-box i {
  font-size: 3.5em;
  padding-top: 11px;
  padding-bottom: 15px;
}

.home-features .content-boxes-right .content-box-right {
  padding-left: 30px;
}

/* home page bottom */
.home-bottom {
  font-family: 'Roboto', sans-serif;
  padding-top: 50px;
  padding-bottom: 50px;
}

.home-bottom .top-header .title {
  font-size: 2.5em;
  font-weight: normal;
  margin-top: 15px;
  margin-bottom: 3px;
}

.home-bottom .top-header .description {
  font-size: 1.2em;
  margin-bottom: 17px;
}

.home-bottom .content-boxes .content-box .icon {
  font-size: 2.9em;
  padding-top: 25px;
}

.home-bottom .content-boxes .content-box .title {
  font-size: 1.60em;
  font-weight: normal;
  display: inline;
  padding-left: 18px;
  padding-top: 0;
  vertical-align: super;
}

.home-bottom .content-boxes .content-box .description {
  font-size: 1.1em;
  padding-top: 2.8px;
}

.home-bottom .content-boxes .content-box {
  padding-bottom: 24px;
  padding-top: 20px;
  padding-left: 26px;
}


/* Sitewide footer */

.info-icon .fa {
  vertical-align: text-top;
}
.footer-section {
  font-family: 'Roboto', sans-serif;
}
.footer-section .footer-message {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer-section .footer-message .block-content {
  font-size: 15px;
  font-weight: lighter;
  text-align: left;
}
.footer-section .footer-message .block-content .info-icon {
  text-align: center;
  font-size: 5em;
}
.footer-section .footer-blocks {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-section ul li a {
  font-size: 15px;
  background: transparent;
  font-weight: lighter;
  padding: 1px 0px;
}
.footer-section ul li a:hover {
  font-weight: normal;
  background: transparent;
}
.footer-section  h2,
.footer-section .block-title {
  font-size: 18px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 10px;
}
.footer-section .footer-copyright {
  padding-top: 30px;
  padding-bottom: 20px;
}
.footer-section .footer-copyright h2 {
  margin-bottom: 25px;
}
.footer-section .footer-copyright .block-content {
  line-height: 2em;
  font-size: 15px;
  font-weight: lighter;
}

.footer-section .footer-social .block-content .follow-link-wrapper a {
  padding-left: 0;
  width: 40px;
  text-align: center;
  padding-top: 8px;
  background: none;
  height: 40px;
  border-radius: 50%;
  margin-right: 5px;
}
.footer-section .follow-link-wrapper a:hover {
  text-decoration: none;
}
#footer-copyright h2,
#footer-copyright h3,
#footer-copyright h4 {
  margin-top: 0px;
  margin-bottom: 10px;
}
#footer-copyright ul {
  display: inline-block;
}
#footer-copyright ul li {
  float: left;
  width: auto;
  margin: 0px 10px;
}
.theme-credit {
  padding-bottom: 20px;
}
