.tribune-spellcheck-error {
  cursor: pointer;

  border-bottom: 1px solid red;

  -moz-text-decoration-style: wavy;
  -moz-text-decoration-color: red;
  -moz-text-decoration-line: underline;

  -webkit-text-decoration-style: wavy;
  -webkit-text-decoration-color: red;
  -webkit-text-decoration-line: underline;

  /* text-decoration-style: wavy is nice, but only supported
   * by Firefox for now (16/11/2012) so I still need the solid
   * red border, but having both at the same time isn't bad so
   * I'll leave it like this until text-decoration-style sees
   * wider adoption.
   */
}
