@media (min-width: 768px) and (max-width: 979px) {
  #page-wrapper #header .brand-wrapper{
    margin-left: 20px;
    }
  .span4 {
    width: 700px;
    }
  .span8 {
    float: right;
    width: 760px;
    }
}

@media (max-width: 767px) {
  #page-wrapper #header #name-and-slogan{
    padding: 10px 0 10px 0;
    }
  #page-wrapper #header #navigation{
    padding-top: 15px;
    }
  #page-wrapper #header .region-header .form-search .input-append{
    clear: both;
    }

   #page-wrapper #header .brand-wrapper{
    margin-left: 0;

    #logo{
      padding-right: 20px; 
      }
    }
  }

@media (min-width: 1200px) {

}

@media (max-width: 480px) {
#page-wrapper #header h1#site-name {
  font-size: 2em;
  }
#page-wrapper #header #name-and-slogan #site-slogan {
  font-size: 1em;
  }
}

@media (max-width: 979px) {
}

@media (min-width: 980px) {

}
