
.plugin-tools-type-info {
  display: table;
  border: 1px solid #ccc;
  margin-bottom: 1em;
}

.plugin-tools-type-info div.table-row {
  display: table-row;
  border-bottom: 1px solid #ccc;
}

.plugin-tools-type-info div.table-row:last-child {
  border-bottom: none;
}

.plugin-tools-type-info div.table-cell {
  display: table-cell;
  border-right: 1px solid #ccc;
  padding: 0.2em 0.4em;
}

.plugin-tools-type-info div.label {
  font-weight: bold;
}

.plugin-tools-type-info div.table-cell:last-child {
  border-right: none;
}

.plugin-tools-type-info em {
  font-size: 90%;
  color: #95918b;
}