/* line 13, ../../sass/layout/desktop-first/_sasson-base.scss */
#page {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../sass/susy/susy/output/support/_clearfix.scss */
#page:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 16, ../../sass/layout/desktop-first/_sasson-base.scss */
#header,
#main-menu,
#secondary-menu,
#featured,
#main,
#footer {
  clear: both;
  width: 100%;
  float: right;
  margin-right: 0;
  margin-left: 0;
}

/* line 25, ../../sass/layout/desktop-first/_sasson-base.scss */
#logo {
  float: right;
}

/* line 30, ../../sass/layout/desktop-first/_sasson-base.scss */
#sidebar-first {
  width: 25%;
  float: right;
  margin-right: 0;
  margin-left: -100%;
}

/* line 33, ../../sass/layout/desktop-first/_sasson-base.scss */
#sidebar-second {
  width: 25%;
  float: right;
  margin-right: 75%;
  margin-left: -100%;
}

/* line 39, ../../sass/layout/desktop-first/_sasson-base.scss */
.one-sidebar.sidebar-first #main {
  width: 75%;
  float: right;
  margin-right: 25%;
  margin-left: -100%;
}

/* line 46, ../../sass/layout/desktop-first/_sasson-base.scss */
.one-sidebar.sidebar-second #main {
  width: 75%;
  float: right;
  margin-right: 0;
  margin-left: -100%;
}

/* line 53, ../../sass/layout/desktop-first/_sasson-base.scss */
.two-sidebars #main {
  width: 50%;
  float: right;
  margin-right: 25%;
  margin-left: -100%;
}
