/* line 13, ../../sass/layout/mobile-first/_sasson-mf-base.scss */
#header,
#main-menu,
#secondary-menu,
#featured,
#main,
#sidebar-first,
#sidebar-second,
#footer {
  clear: both;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/* line 24, ../../sass/layout/mobile-first/_sasson-mf-base.scss */
#logo {
  float: left;
}

@media (min-width: 480px) {
  /* line 17, ../../sass/layout/mobile-first/_sasson-mf-small.scss */
  .one-sidebar.sidebar-first #main,
  .two-sidebars #main {
    width: 75%;
    float: left;
    margin-left: 25%;
    margin-right: -100%;
  }
  /* line 20, ../../sass/layout/mobile-first/_sasson-mf-small.scss */
  .one-sidebar.sidebar-first #sidebar-first,
  .two-sidebars #sidebar-first {
    width: 25%;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    clear: none;
  }
  /* line 25, ../../sass/layout/mobile-first/_sasson-mf-small.scss */
  .one-sidebar.sidebar-first #sidebar-second,
  .two-sidebars #sidebar-second {
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }

  /* line 32, ../../sass/layout/mobile-first/_sasson-mf-small.scss */
  .one-sidebar.sidebar-second #main {
    width: 75%;
    float: left;
    margin-left: 0;
    margin-right: -100%;
  }
  /* line 35, ../../sass/layout/mobile-first/_sasson-mf-small.scss */
  .one-sidebar.sidebar-second #sidebar-second {
    width: 25%;
    float: left;
    margin-left: 75%;
    margin-right: -100%;
    clear: none;
  }
}
@media (min-width: 767px) {
  /* line 16, ../../sass/layout/mobile-first/_sasson-mf-medium.scss */
  .two-sidebars #page #main {
    width: 50%;
    float: left;
    margin-left: 25%;
    margin-right: -100%;
  }
  /* line 19, ../../sass/layout/mobile-first/_sasson-mf-medium.scss */
  .two-sidebars #page #sidebar-first {
    width: 25%;
    float: left;
    margin-left: 0;
    margin-right: -100%;
  }
  /* line 22, ../../sass/layout/mobile-first/_sasson-mf-medium.scss */
  .two-sidebars #page #sidebar-second {
    width: 25%;
    float: left;
    margin-left: 75%;
    margin-right: -100%;
    clear: none;
  }
}
@media (min-width: 960px) {
  /* line 15, ../../sass/layout/mobile-first/_sasson-mf-large.scss */
  #page {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../sass/susy/susy/output/support/_clearfix.scss */
  #page:after {
    content: " ";
    display: block;
    clear: both;
  }
}
