core = 7.x
api  = 2

libraries[geocomplete][download][type] = "get"
libraries[geocomplete][download][url] = "https://github.com/ubilabs/geocomplete/archive/master.zip"
libraries[geocomplete][directory_name] = "geocomplete"
libraries[geocomplete][destination] = "libraries"
