/**
 * @file
 * Positioning for responsive layout.
 */
/*
 * Sidebars
 */
/* line 12, ../../sass/layouts/responsive-sidebars.scss */
.sidebars {
  margin: 0;
  padding: 50px 0 0 0;
  border-bottom: 1px solid #dfdfdf;
}

/* line 18, ../../sass/layouts/responsive-sidebars.scss */
.sidebar .block {
  padding: 0 0 40px 0;
}
