.form-item-commerce-payment-payment-details-payment-options {
  width: 100%;
  margin: 0 auto;
}
.form-item-commerce-payment-payment-details-payment-options .form-item {
  width: 12%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  margin: 15px;
}

.form-item-commerce-payment-payment-details-payment-options .form-item .form-radio {
  display: block;
  margin: 0 auto;
  height: 25px;
}

.commerce-kbcpaypage-large-icon {
  width: 85px;
}
