/*
    Layout for screens with max-wdith 480px
*/
@media all and (max-width: 380px) {
  body {
    font-size: 1.1em;
  }
  #wrapper #header #primary-menu {
    font-size: 1.1em;
  }
  #wrapper #header #primary-menu ul li {
    width: 98%;
  }
  #wrapper #header #primary-menu ul li a {
    padding: 8px;
  }
}
