# Temp files
*~

# Compiled Java
/shibboleth-2.x/target/classes
/shibboleth-2.x/target/*.zip
/shibboleth-2.x/target/*.tar.gz
/shibboleth-2.x/target/archive-tmp
/shibboleth-2.x/target/maven-archiver
/shibboleth-2.x/target/surefire

