span.autotagging_term {
  display: inline;
  display: inline-block;
  margin-right: 10px;
  padding: 3px;
}

span.autotagging_term a {
  margin-right: 3px;
}

span.autotagging_term_pending {
  background: #ccc;
}

span.autotagging_term_added {
  background: #eee;
}