#protest-overlay {
  background: #000;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
}

#protest-wrap {
  background: #000;
  /*
  border: 2px solid #999;
  border-radius: 10px;
  */
  color: #999;
  display: none;
  left: 50%;
  margin-bottom: 0;
  margin-left: -400px; /* 50% of the width */
  margin-right: 0;
  margin-top: 0;
  padding: 0;
  position: absolute;
  text-align: left;
  top: 0;
  width: 800px;
  z-index: 1001;
}

#protest-wrap-inner {
  overflow: hidden;
  left: 0;
  top: 0;
  zoom: 1;
}

#protest-close {
  display: block;
  background: transparent url(images/close.png) no-repeat left top;
  height: 24px;
  right: 5px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  text-indent: -9999px;
  top: 5px;
  width: 24px;
}

#protest-wrap h2,
#protest-wrap h4 {
  margin: 10px 0;
  text-align: center;
}

#protest-wrap h2.title {
  margin: 0 0 20px 0;
}

#protest-message { zoom: 1; }

#protest-message-inner { padding: 20px 30px; }

#protest-wrap a {
  color: #b8bb00;
  text-decoration: none;
}

#protest-wrap a:visited {
  color: #b8bb00;
}

#protest-wrap a:hover {
  text-decoration: underline;
}
