/* Header --------------------------------------------------*/

.front #header-wrapper {
  height: 140px;
  margin: 0 auto;
  width: 960px;
}

.not-front #header-wrapper {
  margin: 0 auto;
  width: 960px;
}


/* Authorize and Feed ----------------------*/

#authorize-and-feed {
  float: right;
  height: 24px;
  margin: 0 auto;
  width: 960px;
}


/*authorize---------------------*/
#authorize {
  color: #666666;
  float: left;
  font-size: 12px;
  height: 24px;
  width: 930px;
}


#authorize ul {
  float: right;
  margin: 0;
}

#authorize ul li {
  background-image: none;
  list-style: none;
}

#authorize .first {
  float: left;
  height: 19px;
  margin-top: 3px;
  text-align: right;
}

#authorize .last {
  border-left: 1px solid #979797;
  float: left;
  height: 19px;
  margin-left: 9px;
  margin-top: 3px;
  padding-left: 9px;
}
/*end of authorize-------------------*/


/*feed----------------*/
.feed-wrapper {
  float: right;
  height: 24px;
  margin: 3px auto 0;
  width: 20px;
}
/*end of feed-----------------*/

/*end of authorize and feed-----------------------*/


/* Menu and Search Box------------------- */

#menu-and-search {
  height: 37px;
  margin: 0 auto;
  position: relative;
  width: 966px;
  z-index: 5;
}

.menu-wrapper {
  background: transparent url(../images/menu-background.png) repeat-x;
  float: left;
  height: 43px;
  margin: 0 auto;
  padding: 1px 0 0;
  width: 946px;
}

#menu-left {
  background: transparent url(../images/menu-background-left.png);
  float: left;
  height: 43px;
  width: 7px;
}

#menu-right {
  background: transparent url(../images/menu-background-right.png);
  float: left;
  height: 43px;
  width: 13px;
}

/*menu---------------------*/
#nav {
  float: left;
  height: 35px;
  width: 744px;
}

#nav .links {
  height: 35px;
  margin: 0;
  padding: 0;
}

#nav  ul.links li {
  border-right: 1px solid #cdcdcd;
  display: inline-block;
  float: left;
  height: 35px;
  padding: 0!important;
  text-align: center;
}

#nav li a:hover {
  background: transparent url(../images/menu-background-hover.png) repeat-x;
}

#nav li.active-trail a {
  background: transparent url(../images/menu-background-hover.png) repeat-x;
}

#nav ul li a {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  padding: 8px 20px;
  text-decoration: none;
}

.menu-wrapper ul li a {
  color: #666666!important;
}

#menu-separator {
  background: url(../images/menu-separator.png) no-repeat right;
  float: left;
  height: 35px;
  padding-left: 4px;
  width: 2px;
}

/*end of menu-----------------------------*/

/* Block Menu------------------------------------- */


.menu-wrapper .block h2 {
  display: none;
}

.menu-wrapper .block {
  float: left;
  height: 35px;
  position: relative;
  width: auto;
}

.menu-wrapper .block.block-blog .content .more-link {
  float: left;
}

.menu-wrapper .block .item-list {
  display: inline-block;
  float: left;
  height: 35px;
  text-align: center;
  width: auto;
}

.menu-wrapper .block .item-list ul {
  margin: 0;
  padding: 0;
}

.menu-wrapper .block .item-list li a {
  display: inline-block;
  padding: 8px 20px;
}
.menu-wrapper .block .item-list li {
  border-right: 1px solid #cdcdcd;
  display: inline-block;
  float: left;
  font-size: 12px;
  font-weight: bold;
  height: 35px;
  list-style: none;
  margin: 0;
}

.menu-wrapper .block .item-list li:hover {
  background: transparent url(../images/menu-background-hover.png) repeat-x;
}

.menu-wrapper .block .item-list li .active {
  background: transparent url(../images/menu-background-hover.png) repeat-x;
}

.menu-wrapper .block .item-list li .active:hover {
  background: none;
}

.menu-wrapper .block .more-link a {
  display: none;
}
/* end of block menu --------------------------*/


/*search box*/
#search-box {
  float: right;
  margin-right: 5px;
  padding: 8px 0;
  width: 130px;
}

#search-box .container-inline {
  padding: 0;
}

#search-box .form-item,
#search-box .form-action {
  margin: 0;
  padding: 0;
}

.container-inline > * + *,
.container-inline .fieldset-wrapper > * + * {
  padding-left: 0pt;
}

#search-box .form-text {
  border-bottom: 1px solid #e8e8e8;
  border-left: 1px solid #dedede;
  border-radius: 2px;/*not compatible with IE 6, IE7 and IE 8,just for modern browser:D , you can edit it */
  border-right: 1px solid #e8e8e8;
  border-top: 1px solid #dedede;
  float: right;
  height: 15px;
  width: 105px;
}

#search-box .form-submit {
  background: transparent url(../images/search.png) no-repeat 0 0;
  border-style: none;
  cursor: pointer;
  display: block;
  float: left;
  font-size: 0!important;
  height: 24px;
  margin-right: 5px;
  margin-top: 1px;
  padding: 0;
  width: 16px;
}

#search-box label {
  display: none;
}

#search-box .block {
  height: 100%;
}

#search-box .block-region {
  margin: 0;
  padding: 0;
}
/* end of search box---------------------------------*/
/* end of menu and search box------------------------------*/


/* Branding Section ----------------------------*/

#branding-wrapper {
  display: inline;
  margin: 0 auto;
  width: 960px;
}

/* branding ---------------------------*/

#branding {
  float: left;
  height: 72px;
}

/* logo-------------*/

.logo {
  float: left;
  margin-top: 20px;
}

.logo img {
  height: 50px;
}
/* end of logo--------------*/


/* name and slogan ------------------*/

#name-slogan-wrapper {
  float: left;
  padding-top: 30px;
}

#name-slogan-wrapper h1 {
  font-size: 26px;
  line-height: 0.8em;
}

#name-slogan-wrapper span {
  color: #9a9a9a;
  font-size: 12px;
  line-height: 1.2em;
}

.site-name a {
  color: #666666;
  font-family: Myriad Pro;
  margin-left: 7px;
}

.site-name a:hover {
  color: #8aad39;
  text-decoration: none;
}

.site-slogan {
  padding-left: 43px;
}

/* end of name and slogan-------------*/

/* enf of branding-----------------------------*/


/* Top note----------------------*/

#top-note {
  float: right;
  height: 72px;
  text-align: right;
}

.top-note {
  float: right;
}

/* end of top note------------------*/

/* end of branding section---------------------------*/
