/* Other */

.more-link {
  padding: 10px;
}

/* Poll-------------------*/
.poll {
  margin: 10px 0;
}

#node-form div {
  clear: none;
  height: auto;
}

.poll .bar {
  background: #fff url(../images/bg-bar-white.png) repeat-x 0 0;
  border: solid #f0f0f0;
  border-width: 1px 1px 1px;
}

.poll .bar .foreground {
  background: #71a7cc url(../images/bg-bar.png) repeat-x 0 0;
}
/*end of poll------------------------*/


/* Tabs----------*/
.tabs {
  margin: 0 0 30px 0;
}

.tabs ul.primary {
  white-space: normal;
}

.tabs ul.secondary {
  padding: 8px 3px!important;
}

.tabs.secondary li {
  margin: 0;
  padding: 0 10px;
}

#main-content .tabs {
  margin: 0 0 12px 0;
}

.not-logged-in #main-content .tabs {
  margin: 0;
}

/*end of tabs---------*/


/* Taxonomy------------------------*/
.page-taxonomy .node {
  padding-top: 35px;
}

.node .field-type-taxonomy-term-reference .field-label {
  font-size: 12px;
  padding-left: 3px;
}

.node .field-type-taxonomy-term-reference .field-items {
  display: inline;
  font-size: 11px;
  list-style: none;
}
.node .field-type-taxonomy-term-reference .field-item a {
  background-color: #e9e9e9;
  border-radius: 4px;
  float: left;
  list-style: none;
  margin: 0 10px 0 0;
  overflow: hidden;
  padding: 1px 5px;
}

.node-type-forum .node .field-type-taxonomy-term-reference .field-item a {
  float: none;
  padding: 3px 5px;
}

.taxonomy ul li a {
  font-size: 13px!important;
}

.taxonomy a,
.taxonomy a:visited {
  color: #c6c6c6!important;
}

.taxonomy a:hover {
  color: #325e99!important;
}

/*end of taxonomy--------------------*/


/* Table-----------*/
table {
  line-height: 1.2em;
  margin: 19px 0;
  width: 100%;
}


#permissiontable td .permission {
  padding-left: 10px!important;
}

#permission table a,
#permissiontable th,
#permissiontable td.module {
  padding: 5px 0 5px 10px!important;
}

table a,
table th,
table td {
  padding: 5px 0 5px;
}

table a span,
table th span,
table td span {
  padding-left: 5px;
}

table {
  line-height: 1.2em;
  width: 100%;
}

table tr.odd {
  background-color: #fafafa!important;
}

table tr.even {
  background-color: #f1f1f1!important;
}

table .title-author {
  padding: 5px 0 5px 10px!important;
}

.more-link {
  float: right;
}
/*end of table--------------*/


/* Book-----------------*/
form#book-outline {
  min-width: 0%!important;
}
/*end of book-------------*/


/* User Profile + Picture--------*/
.profile h3 {
  margin-bottom: 0.3em;
}

.node .user-picture,
.comment .user-picture,
.profile .user-picture {
  float: right;
  margin: 5px;
  padding-right: 10px;
}

.node .user-picture img,
.comment .user-picture img,
.profile .user-picture img {
  background: #fefefe!important;
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dfdfdf;
  border-radius: 6px;
  border-right: 1px solid #dddddd;
  border-top: 1px solid #dfdfdf;
  padding: 5px;
  width: 50px;
}

.user-signature {
  border-top: 1px solid #cccccc;
}

#main-content .content img {
  background: #e3e3e3;
  border-bottom: 1px solid #9a9a9a;
  border-left: 1px solid #c2c2c2;
  border-radius: 4px;
  border-right: 1px solid #9a9a9a;
  border-top: 1px solid #c2c2c2;
  padding: 5px;
}
/*end of profile + picture----------------*/


/* Page Admin------------------*/

.page-admin #container-wrapper #main-content {
  font-size: 14px;
  line-height: 1.3em;
}

.node-type-list {
  font-size: 14px;
}

#main-content #system-themes-form {
  font-size: 13px;
  width: 100%;
}

#main-content #system-themes-form tr td .theme-info {
  font-size: 13px;
  margin: 5px 8px 5px 5px;
}

#main-content #system-themes-form tr td .theme-info h2 {
  font-size: 18px;
  margin-bottom: 7px;
}

#block-admin-display-form table tr.even,
#block-admin-display-form table tr.odd {
  background-color: #f1f1f1!important;
}

.block-system .content .menu {
  padding-left: 10px;
}

/*end of page admin-----------------*/


/* Comment--------------------*/
#comments .comment {
  font-size: 13px;
  line-height: 1.4em;
}

#comments p {
  margin: 9px 0 12px;
}

#comments h2 {
  margin-bottom: 15px;
}

#comments .indented {
  margin-left: 10px;
}

.page-comment #main-content .comment {
  font-size: 13px;
  line-height: 1.4em;
}

#main-content .comment h3 {
  font-size: 23px;
}

#main-content .comment .content {
  line-height: 1.5em;
}

#comments .comment,
#comments .comment-published {
  border-top: 1px solid #d3d3d3;
  margin: 0 0 10px 1px;
  padding: 15px 0 5px;
}

#comments .comment a#new,
#comments .comment span.new,
.preview a#new,
.preview span.new {
  color: #8aad39;
  text-decoration: underline;
}

#comments .comment h3,
#comments .comment-published h3 {
  font-size: 23px;
}

#comments .comment .content {
  line-height: 1.5em;
}

#comment-form {
  padding: 10px 0 15px 0;
}

#comment-form .preview {
  font-size: 13px;
  line-height: 1.4em;
}

#comment-form .preview h3 {
  font-size: 23px;
}

#comment-form .preview .content {
  line-height: 1.5em;
}

#comments .comment ul.links {
  border-top: 1px solid #d3d3d3;
  padding-top: 5px;
}

.comment-preview,
.preview .node {
  border-bottom: 1px solid #ffd200;
  border-left: 1px solid #ffe777;
  border-radius: 5px;
  border-right: 1px solid #ffd200;
  border-top: 1px solid #ffe777;
  margin: -22px 0 0;
  padding: 6px;
}

/*end of comment----------------------*/

#container-wrapper .form-submit,
.triplet-wrapper .form-submit {
  background: #ededed;
  border-bottom: 1px solid #d0d0d0;
  border-left: 1px solid #dedede;
  border-radius: 2px;
  border-right: 1px solid #d0d0d0;
  border-top: 1px solid #dedede;
  margin: 0 3px;
  overflow: hidden;
  padding: 3px 4px;
}

#container-wrapper .form-submit:hover,
.triplet-wrapper .form-submit:hover {
  background: #f5f5f5;
  border-bottom: 1px solid #d0d0d0;
  border-left: 1px solid #dedede;
  border-radius: 2px;
  border-right: 1px solid #d0d0d0;
  border-top: 1px solid #dedede;
  margin: 0 3px;
  overflow: hidden;
  padding: 3px 4px;
}

#container-wrapper .form-submit:active,
.triplet-wrapper .form-submit:active {
  background: #fafafa;
  border-bottom: 1px solid #d0d0d0;
  border-left: 1px solid #dedede;
  border-radius: 2px;
  border-right: 1px solid #d0d0d0;
  border-top: 1px solid #dedede;
  margin: 0 3px;
  overflow: hidden;
  padding: 3px 4px;
}

#container-wrapper .form-text,
.triplet-wrapper .form-text {
  border-bottom: 1px solid #d0d0d0;
  border-left: 1px solid #dedede;
  border-radius: 2px;
  border-right: 1px solid #d0d0d0;
  border-top: 1px solid #dedede;
}

#container-wrapper .form-text:hover,
.triplet-wrapper .form-text:hover {
  border-bottom: 1px solid #4679fa;
  border-left: 1px solid #85a6fa;
  border-radius: 2px;
  border-right: 1px solid #4679fa;
  border-top: 1px solid #85a6fa;
}
