/* Superfish Menu -----------------------------------------
this is a superfish menu, you can edit with your own stuff------------------*/

#superfish {
  float: left;
  height: 35px;
}

#superfish .region {
  display: inline;
  float: left;
}

#superfish ul li {
  height: 35px;
}

#superfish h2 {
  height: 0;
  overflow: hidden;
  position: absolute;
}

#superfish .menu,
#superfish .menu * {
  list-style: none;
  margin: 0;
  padding: 0;
}

#svuperfish .menu {
  line-height: 1.0;
}

#superfish .menu ul {
  position: absolute;
  top: -999em;
  width: 13em;
}

#superfish .menu ul li {
  width: 100%;
}

#superfish .menu li:hover {
  visibility: inherit;
}

#superfish .menu li {
  float: left;
  position: relative;
}

#superfish .menu a {
  display: block;
  position: relative;
}

#superfish .menu li:hover ul,
#superfish .menu li.sfHover ul {
  left: -1px;
  top: 36px;
  z-index: 99;
}

#superfish ul.menu li:hover li ul,
#superfish ul.menu li.sfHover li ul {
  top: -999em;
}

#superfish ul.menu li li:hover ul,
#superfish ul.menu li li.sfHover ul {
  left: 13em;
  top: 0;
}

#superfish ul.menu li li:hover li ul,
#superfish ul.menu li li.sfHover li ul {
  top: -999em;
}

#superfish ul.menu li li li:hover ul,
#superfish ul.menu li li li.sfHover ul {
  left: 13em;
  top: 0;
}

#superfish .menu {
  float: left;
  margin-bottom: 1em;
}

#superfish .menu a.sf-with-ul {
  min-width: 1px;
}

#superfish .menu li ul .sf-with-ul {
  background: transparent url(../images/arrow.png) no-repeat 96.5% 45% !important;
}

#superfish .menu a,
#superfish .menu a:visited {
  font-size: 12px;
  font-weight: bold;
  padding: 8px 20px;
  text-decoration: none;
}

#superfish .menu li {
  border-right: 1px solid #cdcdcd;
  display: inline-block;
  padding: 0!important;
}

#superfish .menu li li {
  background: #ffffff;
  border: none;
  filter: alpha(opacity=90);
  opacity: 0.90;
}

#superfish .menu li:hover,
#superfish .menu li.sfHover,
#superfish .menu a:focus,
#superfish .menu a:hover,
#superfish .menu a:active {
  outline: 0;
}

#superfish .menu li:hover,
#superfish .menu li.sfHover,
#superfish .menu a:focus,
#superfish .menu a:hover,
#superfish .menu a:active {
  z-index: 10;
}

#superfish .menu li:hover {
  background: transparent url(../images/menu-background-hover.png) repeat-x;
}

#superfish .menu li.active-trail {
  background: transparent url(../images/menu-background-hover.png) repeat-x;
}

#superfish .menu li.active-trail li {
  background: #ececec;
  filter: alpha(opacity=95);
  opacity: 0.95;
}

#superfish .menu li li:hover {
  background: #ececec;
  filter: alpha(opacity=95);
  opacity: 0.95;
}

#superfish .menu li li a:hover {
  background: transparent;
}

.sf-sub-indicator {
  display: block;
  height: 10px;
  overflow: hidden;
  position: absolute;
  right: .75em;
  text-indent: -999em;
  top: 1.05em;
  width: 10px;
}

a > .sf-sub-indicator {
  background-position: 0 -100px;
  top: .8em;
}

a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
  background-position: -10px -100px;
}

#superfish .menu ul .sf-sub-indicator {
  background-position: -10px 0;
}
#superfish .menu ul a > .sf-sub-indicator {
  background-position: 0 0;
}
#superfish .menu ul a:focus > .sf-sub-indicator,
#superfish .menu ul a:hover > .sf-sub-indicator,
#superfish .menu ul a:active > .sf-sub-indicator,
#superfish .menu ul li:hover > a > .sf-sub-indicator,
#superfish .menu ul li.sfHover > a > .sf-sub-indicator {
  background-position: -10px 0;
}

#superfish .block-region {
  float: left;
}

/*end of superfish menu---------------------------------------*/
