/**
 * @file
 * Styles for the Webform Charts module.
 */
/* Main analysis page */
.webform-chart {
  position: relative;
}
.webform-chart .chart {
  height: 240px;
}
.webform-chart-configure {
  position: absolute;
  top: -12px;
  right: 24px;
  color: #666;
  font-size: 90%;
}
.webform-chart-configure:hover {

}

/* Layout for configuring a chart */
#webform-charts-edit-chart .chart-preview-wrapper {
  width: 66.66%;
  display: inline-block;
  vertical-align: top;
}
#webform-charts-edit-chart .chart-form-wrapper {
  width: 33.33%;
  display: inline-block;
  vertical-align: top;
}
#webform-charts-edit-chart .chart {
  height: 340px;
}
@media all and (max-width: 800px) {
  #webform-charts-edit-chart .chart-preview-wrapper,
  #webform-charts-edit-chart .chart-form-wrapper {
    width: 100%;
  }
  #webform-charts-edit-chart .chart {
    height: 260px;
  }
}

/* Inner form styles */
#webform-charts-edit-chart .form-item {
  padding: 0;
}
#webform-charts-edit-chart fieldset input[type=text] {
  width: 100%;
}
#webform-charts-edit-chart .chart-preview {
  padding: 24px;
}
#webform-charts-edit-chart .chart-form {
  padding: 12px 24px 0;
  border: 1px solid #ddd;
  border-radius: 7px;
  margin: 24px 0;
}


table.webform-charts-colors {
  width: auto;
  border: none;
  margin: 0;
}
table.webform-charts-colors tr,
table.webform-charts-colors td,
table.webform-charts-colors td:last-child {
  border: none;
  background: transparent;
}
table.webform-charts-colors td {
  padding: 0 10px 10px 0; /* LTR */
}