core = 7.x
api = 2
projects[drupal][version] = 7.x-dev

; Modules
; --------
projects[simplenews][version] = 1.0
projects[simplenews][type] = "module"

projects[search_api][version] = 1.7
projects[search_api][type] = "module"

projects[search_api_db][version] = 1.0-rc2
projects[search_api_db][type] = "module"

projects[xautoload][version] = 3.2
projects[xautoload][type] = "module"

projects[entity][version] = 1.1
projects[entity][type] = "module"

projects[views][version] = 3.7
projects[views][type] = "module"

projects[ctools][version] = 1.3
projects[ctools][type] = "module"

projects[elysia_cron][version] = 2.1
projects[elysia_cron][type] = "module"

projects[monitoring][type] = "module"
projects[monitoring][download][type] = "git"
projects[monitoring][download][url] = "git@git.office.md-systems.ch:md-p-monitoring/monitoring.git"
projects[monitoring][download][branch] = "master"
