table#monitoring-sensors-overview {
  clear: both;
}

table#monitoring-sensors-overview tr td {
  padding: 10px 8px 8px;
}

table#monitoring-sensors-overview tr td.status,
table#monitoring-sensors-overview tr th.status {
  text-align: center;
  padding-left: 20px;
}

table#monitoring-sensors-overview tr th.status {
  width: 70px;
}

table.monitoring-severity-colors tr td.views-field-sensor-status {
  padding-left: 18px;
}

table#monitoring-sensors-overview tr td.execution-time {
  text-align: right;
}

table.monitoring-severity-colors tr {
  border-left: 8px solid #bebfb9;
}

table.monitoring-severity-colors tr.monitoring-critical {
  border-left: 8px solid #E62600;
}

table.monitoring-severity-colors tr.monitoring-critical td.status,
table.monitoring-severity-colors tr.monitoring-critical td.views-field-sensor-status
{
  background: url(images/message-16-error.png) no-repeat 0% 50%;
}

table.monitoring-severity-colors tr.monitoring-critical td.status.having-dropbutton,
table.monitoring-severity-colors tr.monitoring-critical td.views-field-sensor-status.having-dropbutton
{
  background-position: 0% 12px;
}

table.monitoring-severity-colors tr.monitoring-warning {
  border-left: 8px solid #E09600;
}

table.monitoring-severity-colors tr.monitoring-warning td.status {
  background: url(images/message-16-warning.png) no-repeat 0% 50%;
}

table.monitoring-severity-colors tr.monitoring-warning td.status.having-dropbutton
{
  background-position: 0% 12px;
}

table.monitoring-severity-colors tr.monitoring-info {
  border-left: 8px solid #0074BD;
}

table.monitoring-severity-colors tr.monitoring-ok {
  border-left: 8px solid #77B259;
}

.monitoring-sensor-toggle {
  display: inline;
  margin-left: 10px;
}

.monitoring-overview-summary {
  margin-bottom: 10px;
  float: left;
}

.monitoring-overview-summary-actions-right {
  float: right;
  margin-left: 10px;
}

.monitoring-summary-time {

}

.monitoring-summary-ok,
.monitoring-summary-info,
.monitoring-summary-warning,
.monitoring-summary-critical,
.monitoring-summary-unknown {
  padding: 0 4px;
}

.monitoring-summary-ok {
  background: #77B259;
  padding: 0 4px;
}

.monitoring-summary-info {
  background: #0074BD;
  padding: 0 4px;
}

.monitoring-summary-warning {
  background: #E09600;
  padding: 0 4px;
}

.monitoring-summary-critical {
  background: #E62600;
  padding: 0 4px;
}

.monitoring-summary-unknown {
  background: #a683ee;
  padding: 0 4px;
}
