

/* ADMIN styles */
body.logged-in.admin-menu {
	margin-top: 105px !important; 
	@include breakpoint($mq-l-tab) {
		margin-top: 65px !important; 
	}
	@include breakpoint($mq-desk) {
		margin-top: 29px !important;
	}
}
body.logged-in.admin-menu.nav-open .main-menu {
	//margin-top: 105px !important; 
	@include breakpoint($mq-l-tab) {
		margin-top: 65px !important; 
	}
	@include breakpoint($mq-desk) {
		margin-top: 29px !important;
	}
}

body.cke_show_borders, 
body.mceContentBody, 
body#tinymce {
	background-color: #fff !important;
}

.cke_editable {
	padding: 0.25em;
}

.filter-wrapper.form-wrapper {
	font-size: 0.75em;
}

.field-type-image.form-wrapper {
	font-size: 0.75em;
}

.vertical-tabs {
	font-size: 0.75em;
}

.image-preview {
	width: 20%;
}
.image-widget-data {
	width: 70%; 
	.form-item {
		white-space: normal !important;
	}
}

a.tabledrag-handle { 
	&:link, 
	&:visited, 
	&:hover {
		border-bottom: none;
	}
	.handle {
		height: 22px; 
		width: 19px;
	}
}

.filter-help {
	a {
		padding: 0 1em; 
		&:link, 
		&:visited, 
		&:hover {
			border-bottom: none;
		}
	}
}

html.js input.form-autocomplete {
	background-position: 100% 10px;
}

