api = 2
core = 7.x

;; Morris JS
libraries[morrisjs][download][type] = "get"
libraries[morrisjs][download][url] = "https://github.com/morrisjs/morris.js/archive/0.5.0.zip"
libraries[morrisjs][directory_name] = "morrisjs"
libraries[morrisjs][type] = "library"

;; RaphaelJS
libraries[raphael][download][type] = "get"
libraries[raphael][download][url] = "http://github.com/DmitryBaranovskiy/raphael/raw/master/raphael-min.js"
libraries[raphael][directory_name] = "raphael"
libraries[raphael][type] = "library"

;; Table to JSON
libraries[tabletojson][download][type] = "get"
libraries[tabletojson][download][url] = "https://github.com/lightswitch05/table-to-json/tarball/master"
libraries[tabletojson][directory_name] = "tabletojson"
libraries[tabletojson][type] = "library"