<div ng-controller="ControllerViewsJson as c" class="ngapp-example">
  <p ng-if="c.endpoint">Using <code>drupalServices</code> factory to GET {{ c.data.length }} nodes from <a href="{{ c.endpoint }}" target="_blank">{{ c.endpoint }}</a></p>
  <p>
    <button type="button"
      ng-class="{true: 'btn btn-xs btn-default', false: 'btn btn-xs btn-warning'}[!c.filter_1]"
      ng-click="c.filter_1 = !c.filter_1; c.doFilter('Term 1');">
        Term 1
        <span ng-if="!c.filter_1" class="glyphicon glyphicon-play" aria-hidden="true"></span>
        <span ng-if="c.filter_1" class="glyphicon glyphicon-pause" aria-hidden="true"></span>
    </button>
    <button type="button"
      ng-class="{true: 'btn btn-xs btn-default', false: 'btn btn-xs btn-warning'}[!c.filter_2]"
      ng-click="c.filter_2 = !c.filter_2; c.doFilter('Term 2');">
        Term 2
        <span ng-if="!c.filter_2" class="glyphicon glyphicon-play" aria-hidden="true"></span>
        <span ng-if="c.filter_2" class="glyphicon glyphicon-pause" aria-hidden="true"></span>
    </button>
    <button type="button"
      ng-class="{true: 'btn btn-xs btn-default', false: 'btn btn-xs btn-warning'}[!c.filter_3]"
      ng-click="c.filter_3 = !c.filter_3; c.doFilter('Term 3');">
        Term 3
        <span ng-if="!c.filter_3" class="glyphicon glyphicon-play" aria-hidden="true"></span>
        <span ng-if="c.filter_3" class="glyphicon glyphicon-pause" aria-hidden="true"></span>
    </button>
  </p>
  <div class="row" ng-repeat="row in c.data">
    <div style="border-bottom:solid 1px #e7e7e7; padding: 5px 15px;">
      <a href="{{ row.path }}">{{ row.title }}</a>
    </div>
  </div>

  <p>&nbsp;</p>
  <div my-directive-1></div>
</div>
