@media only screen and (min-width: 768px) {
  /* line 2, ../../sass/responsive/tablet.sass */
  #primary-menu-bar nav ul.menu,
  #secondary-content-wrapper .block-content ul {
    display: block;
  }

  /* line 5, ../../sass/responsive/tablet.sass */
  #primary-menu-bar nav select.menu,
  #secondary-content-wrapper .block-content select.menu {
    display: none;
  }
}
/* Tablet portrait one-col-vert */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* line 11, ../../sass/responsive/tablet.sass */
  #content-wrapper .content-inner {
    width: 100%;
    margin-left: 0.521%;
  }

  /* line 14, ../../sass/responsive/tablet.sass */
  .one-sidebar #sidebar-first,
  .one-sidebar #sidebar-second {
    width: 100% !important;
    margin-left: 0;
  }
  /* line 18, ../../sass/responsive/tablet.sass */
  .one-sidebar #sidebar-first .region,
  .one-sidebar #sidebar-second .region {
    margin-right: 0.521%;
  }

  /* line 21, ../../sass/responsive/tablet.sass */
  .two-sidebars #sidebar-first {
    width: 47.91666%;
    margin-left: 0.521%;
  }
  /* line 24, ../../sass/responsive/tablet.sass */
  .two-sidebars #sidebar-second {
    width: 47.91666%;
    margin-left: 1.042%;
  }

  /* line 27, ../../sass/responsive/tablet.sass */
  #block-system-main.content-display-grid article.node {
    min-width: 140px !important;
  }
}
/* Tablet landscape three-col-grail */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* line 32, ../../sass/responsive/tablet.sass */
  #sidebar-second {
    width: 100%;
    margin-left: 0;
    clear: both;
  }

  /* line 36, ../../sass/responsive/tablet.sass */
  #content-column .content-inner {
    width: 72.91666%;
  }

  /* line 39, ../../sass/responsive/tablet.sass */
  .two-sidebars .three-col-right #sidebar-first {
    margin-left: -25%;
  }
  /* line 41, ../../sass/responsive/tablet.sass */
  .two-sidebars .three-col-left #content-column .content-inner {
    margin-left: 25%;
  }

  /* line 44, ../../sass/responsive/tablet.sass */
  .one-sidebar .three-col-left #sidebar-second {
    width: 22.917%;
    margin-left: -100%;
    clear: none;
  }

  /* line 49, ../../sass/responsive/tablet.sass */
  .one-sidebar .three-col-right #sidebar-first,
  .one-sidebar .three-col-right #sidebar-second,
  .one-sidebar .three-col-grail #sidebar-second {
    width: 22.917%;
    margin-left: -25%;
    clear: none;
  }

  /* line 55, ../../sass/responsive/tablet.sass */
  .page-admin .three-col-left #content-column .content-inner {
    margin-left: 0.521%;
  }

  /* line 57, ../../sass/responsive/tablet.sass */
  .media-tablet #block-commerce-cart-cart .cart-block-links ul.links li a {
    padding: 3px 2px;
    margin: 0 3px;
  }
}
