.block {
  margin-bottom: 1em;

  .l-region--banner &, .l-region--navigation &, .l-region--search & {
    margin-bottom: 0;
  }
}

@include at-media-query($media-small) {
  .l-region--postscript, .l-region--preface, .l-region--footer {
    .block {
      @include block-columns(2);
    }
  }

  .l-region--sidebar-first, .l-region--sidebar-second {
    .l-region--postscript, .l-region--preface {
      .block {
        @include reset-block-columns;
      }
    }
  }
}

@include at-media-query($media-narrow) {
  .l-region--postscript, .l-region--preface, .l-region--footer {
    .block {
      @include reset-block-columns;
      @include block-columns(3);
    }
  }

  .l-region--sidebar-first, .l-region--sidebar-second {
    .l-region--postscript, .l-region--preface {
      .block {
        @include reset-block-columns;
        @include block-columns(2);
      }
    }
  }

  .two-sidebars {
    .l-region--postscript, .l-region--preface {
      .block {
        @include reset-block-columns;
      }
    }
  }
}

@include at-media-query($media-medium-up) {
  .l-region--postscript, .l-region--preface, .l-region--footer {
    .block {
      @include reset-block-columns;
      @include block-columns(4);
    }
  }

  .l-region--sidebar-first, .l-region--sidebar-second {
    .l-region--postscript, .l-region--preface {
      .block {
        @include reset-block-columns;
        @include block-columns(3);
      }
    }
  }

  .two-sidebars {
    .l-region--postscript, .l-region--preface {
      .block {
        @include reset-block-columns;
        @include block-columns(2);
      }
    }
  }
}

@include at-media-query($media-small-up) {
  .front .l-region--content .block {
    @include span-columns(12);

    &:first-child, &:nth-child(4) {
      // The first block after a row clears left.
      @include span-columns(24 omega);
      clear: left;
    }

    // The last block in a row gets the omega postfix.
    &:nth-child(3) {
      @include omega;
    }
  }
}

@include at-media-query($media-narrow-up) {
  .front .l-region--content .block {
    @include span-columns(6);

    &:first-child, &:nth-child(4) {
      // The first block after a row clears left.
      @include span-columns(12);
      clear: left;
    }

    // The last block in a row gets the omega postfix.
    &:nth-child(3) {
      @include omega;
    }
  }
}
