
#photo-frame {
	margin-top:20px;
	border:2px solid grey;
	border-radius:10px;
	padding:10px;
	margin:10px;
	box-shadow: 0 0 5px 5px #888;
	display:inline-block;
}

#photo-preview {
	height:150px;
}

#photo-preview.small-image {
padding:50px;
height:auto;
}
 
#message-frame {
	border:2px solid grey;
	border-radius:10px;
	width:80%;
	margin:20px auto;
	padding:10px;
	box-shadow: 0 0 5px 5px #888;
}

#message-frame.hidden {
	display:none;
}

.photo-upload-content {
	text-align:center;
}

.photo-display-box {
    width:96%;
    padding:10px;
    position:relative;
}

.photo-display-box img {
    width: 100%;
}

.photo-display-box .view-photo-name {
    position:absolute;
    bottom:30px;
    left:50px;
    background-color:black;
    color:white;
    font-size:24px;
    padding:10px;
    border-radius:10px;
    opacity:.6;
}

.hideme {
display:none;
}

.image-load-spinner {
	display:block;
	margin: 5px auto;
	width:50px;
}

label.ui-input-text {
    font-weight:bold;
}

p.form-description {
    margin-top:2px;
    margin-bottom:20px;
    font-style:italic;
    font-size:12px;
}