#page > header {
  margin-top: 1em;
}

#navigation li, #content, #frontmap {
  background-color: #333;
  -webkit-box-shadow: 0 0 20px #777;
  -moz-box-shadow: 0 0 20px #777;
  box-shadow: 0 0 20px #777;
  padding: 1em 2em;
  color: #fff;
}
fieldset, ul.tabs li, button, input[type=submit], tr.odd, tr.even {
  background-color: #555;
}

#site-name {
  font-size: 3em;
  line-height: 1;
}
#site-slogan {
  color: #333;
}

#navigation {
  padding: 0;
  font-weight: bold;
}

#navigation ul.links li, #navigation ul.menu li {
  margin: 0.75em 1em 0 0;
  padding: 0.1em 1em;
}

#logo {
  margin: 0 1em;
  min-width: 48px;
}

#frontmap {
  padding: 0;
}

footer {
  text-shadow: 0px 1px 2px white;
  text-align: center;
  font-weight: bold;
  color: #333;
}

a, #site-name a:link, #site-name a:visited {
  color: #46A546;
  text-decoration: none;
}

p {
  margin: 1em 0;
}
p.submitted {
  color: #777;
  font-style: italic;
}

.field {
  margin: 1em 0;
}

.help-navigation {
  height: 2em;
}

div.messages {
  margin: 0.5em 0;
  padding: 0.5em 1em;
  font-weight: bold;
  border: none;
  background-image: none;
  color: white;
}

div.messages--status {
  background-color: #46A546;
}

div.messages--warning {
  background-color: orange;
}

div.messages--error {
  background-color: red;
}

.node-unpublished {
  background-color: transparent;
}

mark.unpublished {
  font-weight: bold;
  display: block;
  background: red;
  color: white;
  padding: 0.5em 1em;
}

/**
 * Lists
 */
.item-list ul {
  margin: 0;
}
ul.tabs {
  border-bottom: none;
  margin: 0;
  padding: 0;
}
ul.tabs li {
  border: none;
  border-radius: 0;
  text-shadow: none;
  margin-right: 1em;
}
ul.tabs a:link, ul.tabs a:visited {
  background-image: none;
  border: none;
  border-radius: 0;
  background-color: transparent;
  color: #46A546;
  font-weight: bold;
}
ul.tabs a.active {
  color: #fff;
}
li a.active {
  color: #fff;
}

/**
 * Forms
 */
.form-submit {
  margin-right: 1em;
}
fieldset {
  margin: 1em 0;
  border: none;
}
input, textarea, select {
  font-weight: bold;
  padding: 5px;
  border: 2px solid #46A546;
  font-size: 0.85em;
}
button, input[type=submit] {
  color: #46A546;
}
input[type=submit][disabled] {
  border: 2px solid #777;
  color: #777;
}
label {
  margin-top: 1em;
}
legend {
  font-weight: bold;
  padding-top: 2em;
}
html.js fieldset.collapsed {
  height: 2.2em;
}

/**
 * Tables
 */
table {
  margin: 1em 0;
}
th, td {
  padding: 0.5em;
}
tr.even, tr.odd {
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
}

/**
 * Fix OpenLayers presentation (see http://drupal.org/node/1789914 for details).
 */
div.openlayers-container img {
  max-width: none;
}

/**
 * Fix autocomplete form field.
 */
input.form-autocomplete {
  background-position: 100% 6px;
}
