/* Package items table */
.view-project-package-local-items .release-update-status-1 {
  background-color: #ffd;
}

.view-project-package-local-items .release-update-status-2 {
  background-color: #fdd;
}

.view-project-package-local-items .update-status-1 {
  background-image: url(/misc/watchdog-warning.png);
  background-repeat: no-repeat;
  padding-left: 22px;
}

.view-project-package-local-items .update-status-2 {
  background-image: url(/misc/watchdog-error.png);
  background-repeat: no-repeat;
  padding-left: 22px;
}
