/**
 * @file
 * Display Suite Three Column Nested Right stylesheet.
 */

/* Primary Column. */
.ds-nested-right {
  float: left;
  width: 75%;
}
/* Secondary Column and Left Region. */
.ds-left {
  float: left;
  width: 25%;
}

/* Nested Regions inside Primary Column. */
.ds-middle {
  float: left;
  width: 70%;
}

.ds-right {
  float: left;
  width: 30%;
}

.ds-footer {
  clear: left;
}
