/* Container Wrapper-------------------------*/
#container-wrapper {
  margin: 0 auto 0;
  padding: 15px 0;
}

#container-outer {
  margin-top: 5px;
}

/*Breadcrumb--------------*/
#breadcrumb {
  display: block;
  float: left;
  font-size: 14px;
  height: 15px;
  margin: 0 0 10px;
}
/*end of breadcrumb---------------------*/
/* Side Bar------------------------*/

.sidebar .block {
  border-bottom: 1px solid #d1d1d1;
  margin-bottom: 20px;
  padding-bottom: 5px;
}

.sidebar h2 {
  background: #ededed;
  border-bottom: 1px solid #d0d0d0;
  border-left: 1px solid #dedede;
  border-radius: 2px;
  border-right: 1px solid #d0d0d0;
  border-top: 1px solid #dedede;
  font-size: 18px;
  overflow: hidden;
  padding: 3px 4px;
}

.sidebar .content {
  overflow: hidden;
  padding: 3px 4px;
}

.sidebar .content ul.menu li {
  margin-left: 3px;
}

.one-sidebar #sidebar-right-wrapper {
  float: right;
  width: 24%;
}

#sidebar-right {
  background: url(../images/sidebar-separator.png) repeat-y left;
  font-size: 13px;
  padding-left: 15px;
}

.sidebar .block ul {
  margin: 0;
  padding: 0;
}

/*end of sidebar-------------------------*/


/*main content---------------------------*/

.one-sidebar.sidebar-second #main-content {
  float: left;
  width: 74.5%;
}

#content-top {
  background: #ededed;
  border-bottom: 1px solid #d0d0d0;
  border-left: 1px solid #dedede;
  border-radius: 2px;
  border-right: 1px solid #d0d0d0;
  border-top: 1px solid #dedede;
  margin-bottom: 20px;
  padding: 8px 10px;
}

#content-bottom {
  background: #ededed;
  border-bottom: 1px solid #d0d0d0;
  border-left: 1px solid #dedede;
  border-radius: 2px;
  border-right: 1px solid #d0d0d0;
  border-top: 1px solid #dedede;
  margin-bottom: 20px;
  padding: 8px 12px;
}

#content-middle {
  margin-bottom: 20px;
}

#content-middle .content .admin-panel h3 {
  background: #ededed;
  border-bottom: 1px solid #d0d0d0;
  border-left: 1px solid #dedede;
  border-radius: 2px;
  border-right: 1px solid #d0d0d0;
  border-top: 1px solid #dedede;
  font-size: 18px;
  overflow: hidden;
  padding: 3px 4px;
}

/* main content-------------*/

#main-content .node {
  line-height: 1.2em;
  margin: 0 0 20px 0;
}

#main-content .node .title a {
  color: #666666!important;
  font-size: 25px;
}

#main-content .node .title a:hover {
  color: #ff9933!important;
  font-size: 25px;
  text-decoration: none!important;
}

#main-content .node .submitted {
  color: #0069b5;
  font-size: 14px;
  margin-top: 3px;
}
#main-content .node .submitted a {
  color: #666666;
  font-size: 14px;
}

#main-content .node .submitted a:hover {
  color: #ff9933;
  font-size: 14px;
  text-decoration: underline;
}

#main-content .node .content {
  color: #7f7f7f;
  font-size: 13.5px;
  line-height: 1.4em;
  margin: 10px 0 10px 0;
}

#main-content .node .links {
  border-bottom: 1px solid #e9e9e9;
  border-top: 1px solid #e9e9e9;
  color: #999999;
  margin: 0 40px 20px 5px;
  padding: 3px 0;
}

#main-content .node .links ul {
  border: none;
}

.page-node- #main-content .node .links {
  border: none;
  color: #999999;
}

#main-content .node .links a {
  color: #c6c6c6;
  font-size: 15px;
}

#main-content .node .links a:hover {
  color: #325e99;
  font-size: 15px;
}

#main-content .messages.error {
  border-radius: 2px;/*not compatible with IE 6, IE7 and IE 8*/
  font-size: 14px;
  margin: 0 0 20px 0;
  padding: 12px 10px 12px 40px;
}

#main-content .messages.status {
  border-radius: 2px;/*not compatible with IE 6, IE7 and IE 8*/
  font-size: 14px;
  margin: 0 0 20px 0;
  padding: 12px 10px 12px 40px;
}

#main-content .messages.warning {
  border-radius: 2px;/*not compatible with IE 6, IE7 and IE 8*/
  font-size: 14px;
  margin: 0 0 20px 0;
  padding: 12px 10px 12px 40px;
}

/*end of content-----------------------------*/
