
/* Footer----------------------------*/
#footer {
  background: url(../images/footer-separator.png) no-repeat top;
  font-size: 14px;
  margin: 10px auto -2px;
  padding: 20px 0 0;
  position: relative;
}

.footer {
  font-size: 13px;
  margin: 0 auto;
}

.footer .content {
  text-align: center;
}

.notice {
  margin: 0 auto;
}

.notice p {
  margin: 0;
}

/*end of footer-------------------------*/
