{% comment %}

  The {{ content_for_header }} in theme.liquid will output the following stylesheet just for this page:
    - <link rel="stylesheet" href="/global/search.css" type="text/css">

  It has a few helpers in there, but this theme writes its own styles so there
  are no dependencies or conflicts. You can ignore that file.

  Return only products or pages in results:
    - http://docs.shopify.com/manual/configuration/store-customization/return-only-product-in-storefront-search-results
    - Or manually add type=product or type=page to the search URL as a parameter

{% endcomment %}

{% comment %}
  Check to enforce respond.js
{% endcomment %}
{% assign respond_js_secret_key = shop.domain | md5 %}
{% unless search.terms == respond_js_secret_key %}

  <div class="grid--full">

    {% if search.performed %}
      {% comment %}
        Avoid accessing search.results before the opening paginate tag.
        If you do, the pagination of results will be broken.
      {% endcomment %}
      {% paginate search.results by 10 %}
        <div class="grid-item small--one-whole three-quarters push--large--one-eighth push--medium--one-eighth">
          {% comment %}
            We don't have any results to show. Feel free to show off featured products
            or suggested searches here.
          {% endcomment %}
          <div class="section-header">
            <h1 class="h2 text-center">{{ 'general.search.title' | t }}</h1>
            {% include 'search-bar' %}
          </div>
        </div>
        <div class="grid-item small--one-whole three-quarters push--large--one-eighth push--medium--one-eighth text-center">
          {% if search.results_count == 0 %}
            <div class="text-center">{{ 'general.search.no_results_html' | t: terms: search.terms }}</div>
          {% endif %}

          {% for item in search.results %}
            {% include 'search-result-grid' %}
          {% endfor %}
        </div>
        <div class="grid-item small--one-whole three-quarters push--large--one-eighth push--medium--one-eighth">
          {% if paginate.pages > 1 %}
            <div class="text-center">
              {% include 'pagination-custom' %}
            </div>
          {% endif %}
        </div>
      {% endpaginate %}
    {% else %}
      {% comment %}
        If search.performed is false, someone either accessed the page without
        the q parameter, or it was blank.
        Be sure to show a search form here, along with anything else you want to showcase.
      {% endcomment %}
      <div class="grid-item small--one-whole three-quarters push--large--one-eighth push--medium--one-eighth">
        <div class="section-header">
          <h1 class="text-center">{{ 'general.search.title' | t }}</h1>
          {% include 'search-bar' %}
        </div>
      </div>
    {% endif %}
  </div>

{% else %}
  {% include 'respond' %}
  {% layout none %}
{% endunless %}
