/**
*
* This stylesheet is for your less.less files. If you are not familiar with the less css preprocessor 
* go to http://lesscss.org/ to find out more. 
* http://incident57.com/less/
*
* $ sudo gem install less - :D
*
*
*
**/
/* Image replacements */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
.hidden {
  display: none;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clear {
  clear: both;
}
.clear-left {
  clear: left;
}
.clear-left {
  clear: right;
}
.clearmix {
  zoom: 1;
}
.clearmix :after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.clearmix :before {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.inline-block {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}
.pie {
  behavior: url('/sites/all/themes/plink/MYTHEME/PIE/PIE.htc');
}
/*Border Radius Functions*/
/*Shadows*/
/*Transformations*/
/** ************************************************************************ **/
/** LESS VARIABLES **/
/** ************************************************************************ **/
/** ************************************************************************ **/
/** END LESS VARIABLES **/
/** ************************************************************************ **/
/** ************************************************************************ **/
/** MIXIN LESS CLASSES **/
/** ************************************************************************ **/
/** ************************************************************************ **/
/** END MIXIN LESS CLASSES **/
/** ************************************************************************ **/
/** ************************************************************************ **/
/** TYPOGRAPHICAL STYLES
/** ************************************************************************ **/
/** ************************************************************************ **/
/** END TYPOGRAPHICAL STYLES
/** ************************************************************************ **/
/** ************************************************************************ **/
/** PLINK THEME STRUCTUAL IDS
/** ************************************************************************ **/
#main-navigation {
  position: absolute;
  top: 0px;
  left: 0px;
}
.mq1 #container, .mq2 #container, .mq3 #container {
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.mq1 #container #primary, .mq2 #container #primary, .mq3 #container #primary {
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.mq1 #container #secondary, .mq2 #container #secondary, .mq3 #container #secondary {
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.mq1 #container #tertiary, .mq2 #container #tertiary, .mq3 #container #tertiary {
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/** ************************************************************************ **/
/** END PLINK THEME STRUCTUAL IDS
/** ************************************************************************ **/