<div class="blog-list__filters filter-dropdown">
  <label class="filter-dropdown__label" for="blogSortBy">
    <span class="filter-dropdown__label--title">{{ 'blogs.sorting.title' | t }}:</span>
    <span class="filter-dropdown__label--active"></span>
  </label>
  <select name="blogSortBy" id="blogSortBy" class="filter-dropdown__select">
    <option value="all">{{ 'blogs.sorting.all' | t }}</option>
    {% for tag in blog.all_tags %}
      {% assign tag = tag | replace: ' ', '-' %}
      <option value="{{ tag | replace: ' ', '-'  }}" {% if tag == current_tags.first %} selected="selected" {% endif %} >
        {{ tag }}
      </option>
    {% endfor %}
  </select>
</div>
