{% comment %}

  This snippet generates the structure of a comment.
  It is used to show not only recent comments, but also comments that were
  just published but not yet approved.

  More information:
   - http://docs.shopify.com/themes/liquid-variables/comment

{% endcomment %}

<div class="comment grid--full">

  <div class="comment__details grid-item one-fifth">
    {% assign comment_date = comment.created_at | date: '%b %d, %Y' %}
    <p class="comment__author">
      {{ comment.author }}
    </p>
    <p class="comment__date">
      {{ comment_date }}
    </p>
  </div>
  <div class="comment__content grid-item four-fifths rte">
    {{ comment.content }}
  </div>
</div>
