{% if settings.home_page_content != empty %}
  <div class="feature-homepage-content grid-item medium--two-thirds push--medium--one-sixth large--two-thirds push--large--one-sixth">
    <h2 class="text-center">{{ pages[settings.home_page_content].title }}</h2>
    <div class="rte">
      {{ pages[settings.home_page_content].content }}
    </div>
  </div>
{% endif %}
