{% assign number_of_products = 15 %}
{% assign number_of_products_to_fetch = number_of_products | plus: 1 %}

{% if collection == null or collection.handle == 'frontpage' or collection.handle == 'all' %}
  {% assign found_a_collection = false %}
  {% for c in product.collections %}
    {% if found_a_collection == false and c.handle != 'frontpage' and c.handle != 'all' and c.all_products_count > 1 %}
      {% assign found_a_collection = true %}
      {% assign collection = c %}
    {% endif %}
  {% endfor %}
{% endif %}

{% if collection and collection.products_count > 1 %}
  {% comment %}
    Use capture to put the collection title in a variable that is used in liquid filters
  {% endcomment %}
  {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}
  <!-- snippets/related-products.liquid -->
  <hr>
  <div class="carousel text-center">
    <span class="carousel__title h4">{{ "products.general.related_products_title" | t }}</span>
    <div class="grid-uniform carousel__items carousel-items owl-carousel">
      {% for product in collection.products limit: number_of_products_to_fetch %}
        {% include 'product-grid-item' %}
      {% endfor %}
    </div>
  </div>
{% endif %}
