@mixin typography-lists {
  @include typography-lists-reset;
  @include typography-lists-unordered;
  @include typography-lists-ordered;
}

@mixin typography-lists-reset {
  ul.menu, ul.nice-menu, ul.action-links, ul.field-collection-view-links, ul.vertical-tabs-list, .item-list ul.facetapi-facetapi-checkbox-links {
    padding: 0;
    margin: 0;

    li {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }
}

@mixin typography-lists-unordered {
  ul, .item-list ul {
    padding: 0;
    margin: 1em 0;

    li {
      margin-left: 1.5em;
      list-style: disc;
    }

    ul {
      margin-left: 1em;
    }
  }
}

@mixin typography-lists-ordered {
  ol {
    padding: 0 0 0 1.5em;
    margin: 1em 0;

    li {
      list-style: decimal;
    }

    ul {
      margin-left: 1em;
    }
  }
}