.region-footer .block-menu {
  .menu {
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      a {
        background: transparent;
        padding: 0 0 0 10px;
        line-height: 1.1em;
        text-decoration: none;
        &:hover,
        &:focus {
          background: transparent;
        }
      }
      span {
        font-size: 9px;
        position: relative;
        top: 0px;
      }
    }
  }
}

.nav > li > a.active {
  background: transparent;
}

// Social links menu
