/**
 * Styles for theme in the USAJobs module.
 */

#usajobs .job-item {
  margin-bottom: 0.9em;
}

#usajobs .job-item-title {
  font-size: 1em;
  line-height: 1.4;
}

#usajobs .job-item-organization,
#usajobs .job-item-location-salary,
#usajobs .job-item-end-date {
  font-size: 0.9em;
}
