body { background: #e4f4fa; }
h1,h2,h3 { color: #36c3e0; }
a { color: #36c3e0; }

#site-slogan { background: #36c3e0; color: #fff; border-bottom: 0; }
#site-name a:hover { color: #333; }

#postscript-two a.active { color: #333333; }
