
/***********************************************************
*                           RESET                          *
************************************************************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, 
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, 
img, ins, kbd, q, s, samp, small, strike, strong, sub, tt, var, b, u, i, 
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, 
tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; 
font-size: 100%; vertical-align: baseline; background: transparent; } body { 
line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } 
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: 
none; } :focus { outline: 0; } ins { text-decoration: none; } del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }
tr,th,td { vertical-align: baseline; }

body
{
  font-family: Arial, Tahoma, Verdana;
  line-height: 1.6667;
  font-size: 75%;  /* 100% = 16px */
  color: #666; 
}
html>body { font-size: 12px; /* for non-IE */}

h1,h2,h3 { font-family: Times New Roman, Georgia, Arial; color: #53524b; }

h1 { font-size: 2em; line-height: 1.667; }
h2 { font-size: 2em; line-height: 1.667; }
h3 { font-size: 1.5em; line-height: 1.111; }
h4 { font-size: 1.2em; line-height: 1.389; }
h5 { font-size: 1em; }
h6 { font-size: 1em; }

p, ul, ol, dl, fieldset { margin: 1.6667em 0; }
p:first-child { margin-top: 0; }
p:last-child { margin-bottom: 0; }
ul ul, ol ol, ul ol, ol ul { margin: 0 0; }

ul, ol { margin-left: 0; padding-left: 2em; }
ul          { list-style-type: disc; }
ul ul       { list-style-type: circle; }
ul ul ul    { list-style-type: square; }
ul ul ul ul { list-style-type: circle; }
ol          { list-style-type: decimal; }
ol ol       { list-style-type: lower-alpha; }
ol ol ol    { list-style-type: decimal; }

a { color: #53524b; text-decoration: underline; }
a:link {}
a:visited {}
a:hover, a:focus { color: #333; }
a:active {}

img { border: 0; }
fieldset { border: 1px solid #ccc; padding: 10px; }

table th { font-family: Arial, Tahoma, Verdana; font-weight: bold; color: #202020; border: 3px double #C0C0C0; border-width: 0 0 3px 0; padding: 4px 6px 2px 6px; }
table td { padding: 4px 6px 4px 6px; border: 1px solid #c0c0c0; border-width: 0 0 1px 0; }
tr.odd { background-color: #ffffff; }
tr.even { background-color: #f8f8f8; }
tr:hover  { background-color: #f4f4f4; }

dt { font-weight: bold; }
dd { padding-left: 2em; }
