@font-face {
  font-family: "opensans";
  font-weight: 400;
  src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face {
  font-family: "opensans";
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/OpenSans-Italic.ttf');
}
@font-face {
  font-family: "opensans";
  font-weight: 700;
  src: url('../fonts/OpenSans-Bold.ttf');
}
@font-face {
  font-family: "opensans";
  font-weight: 700;
  font-style: italic;
  src: url('../fonts/OpenSans-BoldItalic.ttf');
}

@mixin cf {
  &:before, &:after {content:"";display:table;}
  &:after {clear:both;}
  & {zoom:1;}
}
@mixin inlineblock {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
@mixin borderbox {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

$col: 50px;
$gutter: 30px;

$commerce : #41a7ef;
$dark_commerce: #065388;
$ok: #4ace4d;

$info: #e5f2ff;
$alert: #f2c500;
$error: #e94b35;
$success: #1aaf5d;
