.wrapper{
  margin: 0 auto;
  width: 990px; 
}


@media only screen and (max-width : 989px) {

  .wrapper{
    padding: 0 40px;
    width: 100%; 
    @include borderbox;
  }
  #block-search-form input.form-text {
    max-width: 100px;
    min-width: 0;
  }
  .view-products .view-content{
    .item-list ul li{
      margin-left: 3%;
      text-align: center;
      width: 30%;
    }
    .views-field-field-images-1{
      width: 100%;
      img{
        height: auto;
        width: 80%;
      }
    }
  }
    #tabs{
      .primary, .secondary{
        width: 94%; 
      }
    }

  .node-type-flat-product .panel-pane{
    margin-left: 40%;
  }
  .node-type-flat-product .pane-products-images-pane{
    margin: 0 4%;
    width: 30%;
  }
}


@media only screen and (max-width : 767px) {

  .wrapper{
    padding: 0 20px;
    width: 100%; 
    @include borderbox;
  }
  .view-products{
    .item-list ul li{
      margin-left: 3%;
      text-align: center;
      width: 44%;
    }
    .views-field-field-images-1{
      width: 44%;
    }
  }
  
}