/* These are dummy styles for the Progress Bar module
   styles written by Florian Engel - www.more-onion.com
 */


/* these are raw styles for the progress bar */

.pgbar-bg {
  width: 100%;
  position: relative;
  border: 1px solid #D1D1D1;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  box-shadow: inset 2px 2px 5px #CBCAC6;
  -moz-box-shadow: inset 2px 2px 5px #CBCAC6;
  height: 25px;
}

.pgbar-wrapper p {
  margin-bottom: 0;
  margin-top: 0;
}
  
.pgbar-current {
  background: none #B2D4EF;
  height: 25px; 
  border-radius: 7px 0 0 7px;
  -moz-border-radius: 7px 0 0 7px;
  -webkit-border-radius: 7px 0 0 7px;
}

.pgbar-percent {
  color: #242424;
  margin-top: -2em;
  margin-left: 3em;
  margin-bottom: 1em;
  display: none;
}


.pgbar-numbers {
  clear: both;
  color: #242424;
  position: relative;
}

.pgbar-target {
  position: absolute;
  right: 0;
}


.pgbar-wrapper {
  max-width: 40em;
  margin-bottom: 1.5em;
}

.pgbar-wrapper p span {
  display: block;
  margin-bottom: 1.5em;
}


.pgbar-bg .is {
  font-weight: bold;
  margin-top: 1em;
  margin-right: .5em;
  position: absolute;
  left: 1em;
}


/* teaser progress bar styling */

.node-teaser .pgbar-bg {
  height: 15px;
  box-shadow: inset 1px 1px 3px #CBCAC6;
  -moz-box-shadow: inset 1px 1px 3px #CBCAC6;
}

.node-teaser .pgbar-current {
  height: 15px;
}