[submodule "modules/apt"]
	path = modules/apt
	url = git://git.koumbit.net/puppet-apt.git
[submodule "modules/common"]
	path = modules/common
	url = git://git.koumbit.net/puppet-common.git
[submodule "modules/aegir"]
	path = modules/aegir
	url = git://git.koumbit.net/puppet-aegir.git
[submodule "modules/drush"]
	path = modules/drush
	url = git://git.koumbit.net/puppet-drush.git
[submodule "modules/php"]
	path = modules/php
	url = git://git.koumbit.net/puppet-php.git
