/*
Css for the views glossary
*/
.views-glossary-module .view-content {
  float: right;
  width: 75%;
}
.views-glossary-module .views-widget-per-page {
  float: left;
  clear: both;
  margin-left: 25%;
  margin-right: 3%;
}
.views-glossary-module .views-widget-per-page label {
  display: inline-block;
}
.views-glossary-module #views-glossary-go-to-page {
  float: left;
  width: 31%;
}
.views-glossary-module #views-glossary-go-to-page input[type=text] {
  width: 20%;
}
.views-glossary-module .item-list {
  float: right;
  width: 23%;
}
.views-glossary-module .item-list .pager {
  margin: 0;
  padding: 0;
}
.views-glossary-module .views-exposed-widgets {
  position: relative;
  top: -53px;
  width: 25%;
}
