.column-side .scrollable {
  max-height: 120px;
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 6px 10px;
}

.column-side .scrollable .form-item { padding: 0; margin: 0;}

.column-side #edit-scheduler-settings .fieldset-content {
  padding-top: 0px; 
}

.column-side #edit-scheduler-settings .date-padding {
  padding: 0px; 
  margin: 0px;
}

.column-side #edit-scheduler-settings .form-item {
  padding-top: 0px;	
  margin-top: 0px;
  padding-bottom: 0px; 
  margin-bottom: 0px;
  padding-right: 0px; 
  margin-right: 0px;
}

.column-side #edit-scheduler-settings input[name="publish_on[date]"] {
  width: 8em; 
}

.column-side #edit-scheduler-settings input[name="publish_on[time]"] {
  width: 6em;	
}
