/**
 * @file
 * Taxonomy styling
 */
.field-type-taxonomy-term-reference {
  margin: 0 0 1.2em;
}
.field-type-taxonomy-term-reference .field-label {
  margin: 0;
  padding-right: 5px;
  /* LTR */
}
.field-type-taxonomy-term-reference ul.links {
  list-style: none;
  margin: 0;
  padding: 0;
}
.field-type-taxonomy-term-reference ul.links li {
  float: left;
  /* LTR */
  padding: .18em 1em 0 0;
  /* LTR */
  white-space: nowrap;
  font-size: 1.1em;
}
.field-type-taxonomy-term-reference ul.links li a {
  background: #d67c1c;
  color: white;
  padding: .1em .4em;
}
