/**
 * @file
 * Search
 */
/*
 * Custom Search
 */
#search-form,
#search-block-form,
#custom-search-blocks-form-1 {
  margin-top: .3em;
  text-align: left;
  margin: 0;
}
#search-form .form-type-textfield,
#search-form .form-actions,
#search-block-form .form-type-textfield,
#search-block-form .form-actions,
#custom-search-blocks-form-1 .form-type-textfield,
#custom-search-blocks-form-1 .form-actions {
  display: inline;
}
#search-form .form-type-textfield input,
#search-block-form .form-type-textfield input,
#custom-search-blocks-form-1 .form-type-textfield input {
  height: 1.9em;
  width: 75%;
}
#search-form .form-actions input,
#search-block-form .form-actions input,
#custom-search-blocks-form-1 .form-actions input {
  width: 2.5em;
}
#search-form fieldset,
#search-block-form fieldset,
#custom-search-blocks-form-1 fieldset {
  display: none;
}
#search-form input[type="submit"],
#search-block-form input[type="submit"],
#custom-search-blocks-form-1 input[type="submit"] {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAATCAYAAACQjC21AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAANZJREFUeNqskwENAyEMRY8ZGBKQcBKQMAlImAQcTAISllNwc8AcnITNQddLytIQRstyP2kIae/RHp9pOljmVwIAPC6etm+MhzHmOXzCDsLYoK0VYx6BBZD1UkGpM/7RDreUcxixylsJuEodVBPEHsyywptwcKa6rZU/0co7WoS/U/KuB+SyAvCsuRA+chJqi6WyBE0MGhQ1UQI6uuFvpxgXslNgLii6akafK6ikqIG6ajRu5tR4lmn0XXtudLrA/De044o8PL4Cei8WEt/2ADgeBmvpI8AAVFfRfRusPSkAAAAASUVORK5CYII=');
  background-position: .5em .4em;
  background-repeat: no-repeat;
  height: 2em;
  margin: 0;
  text-indent: -9999em;
}

.search-form {
  margin-bottom: .3em;
}
