api = 2

core = 7.x

projects[libraries] = 1

libraries[mapboxjs_js][download][type] = "get"
libraries[mapboxjs_js][download][url] = "http://api.tiles.mapbox.com/mapbox.js/v0.6.7/mapbox.js"
libraries[mapboxjs_js][directory_name] = "mapboxjs"
libraries[mapboxjs_js][destination] = "libraries"

libraries[mapboxjs_css][download][type] = "get"
libraries[mapboxjs_css][download][url] = "http://api.tiles.mapbox.com/mapbox.js/v0.6.7/mapbox.css"
libraries[mapboxjs_css][directory_name] = "mapboxjs"
libraries[mapboxjs_css][destination] = "libraries"
