/* ########## maintenance page ###################################### 
 * 
 * This file defines styles for the maintenance page, which is shown if the 
 * site is in maintenance mode.
 * 
 * Usually, styles from style.less and other less files are also available for
 * the maintence page. However, if the database is offline, less files cannot be
 * compiled - so the most basic styles have to be copied to this css file.
 * 
 * Make sure to change the fonts and colors according to your design!
 */

body.maintenance-page {
  font-family: "Helvetica Neue", Helvetica, Arial, sans;
  font-weight: normal;
  color:  #303030;
  font-size: 1em;
  line-height: 1.5em;
}

.maintenance-page .middle {
  width: 80%;
  padding: 0 3%;
  max-width: 900px;
  clear: both;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  display: block;
}

.maintenance-page h1 {
  color: #f27140;
  font-family: "Helvetica Neue", Helvetica, Arial, sans;
  font-weight: bold;
  font-size: 2.8125em;
  line-height: 1.0667em;
  margin-bottom: 0.5333em;
  clear: left;
  display: block;
  word-wrap: break-word;
  max-width: 900px;
}