/* ########## style.less ############################################
 *
 * this file is for everything that's REALLY site specific, not
 * layout specific
 */

@import "parameters.less";
@import "boilerplate.less";
@import "grid.less";
@import "layout.less";
@import "form.less";
@import "menu.less";


.tabs_macro;
.verticaltabs;


/* ==================================================================
 * basic html elements styled happily ever after
 * ================================================================== */

/* Only style generic html tags here. */

/* ---------- generic stuff ----------------------------------------- */

body {
  .sans;
  // overflow: auto; // ???
}

p, ul, ol, li {
  margin-bottom: @oneline;
}

li {
  list-style-position: inside;
}

img {
  max-width: 100%;
  height: auto;
}

/* ---------- headings ---------------------------------------------- */

h1 {
  .f(24);
  color: @heading_color;
  clear: left;
  display: block;
  word-wrap: break-word;
  .sansb;
}
@media @tablet {
  h1 { .f(45); }
}

h2 {
  .f(20);
  text-transform: uppercase;
  color: darken(@heading_second_color, 5%);
  .sansb;
}
@media @tablet {
  h2 { .f(24); }
}

h2 a, h2 a:link, h2 a:visited {
  text-decoration: none;
  color: darken(@heading_second_color, 5%);
}

h2 a:hover, h2 a:focus {
  text-decoration: underline;
  color: darken(@heading_second_color, 3%);
}

h3 {
  .f(18);
  .sansb;
  color: darken(@heading_color, 5%);
}

h4 {
  .f(15);
  .sansb;
  color: darken(@secondary_color, 5%);
}

h5 {
  .f(15);
  .sansb;
  color: @fmain;
}

h6 {
  .f(15);
  .sansi;
  color: @fmain;
}

/* ---------- links and link tags ----------------------------------- */

a, a:link, a:visited {
  color: @link_color;
  outline: none;
}

a:hover, a:focus {
  color: @link_hover_color;
  outline: none;
  text-decoration: underline;
}

a:active {
  outline: none;
}

/* ---------- messages ---------------------------------------------- */

a.close, a.close:hover {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 0px;
  line-height: 0px;
  text-indent: -100000px;
  color: transparent;
  width: 20px;
  height: 20px;
  display: block;
  background: url('images/message_x.png') no-repeat center center;
}

div.messages {
  position: relative;
  margin: @oneline 0;
  padding: @oneline/2 1.5em;
  padding-right: 3em;
  background-image: none;

  li {
    list-style-position: outside;
    margin-bottom: @oneline/2;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

/* ---------- text selection ---------------------------------------- */

::-moz-selection { background: @fmain; color: #fff; text-shadow: none; }
::selection { background: @fmain; color: #fff; text-shadow: none; }

/* ---------- elements with special behavior ------------------------ */

.clickable {
  cursor: pointer;
}


/* ==================================================================
 * frameworky classes
 * ================================================================== */

/* ---------- centering --------------------------------------------- */

.center {
  text-align: center;
}

.grid-center {
  margin-left: auto;
  margin-right: auto;
}

/* ---------- separator --------------------------------------------- */

.separator:after {
  content: ".";
  text-indent: -5000000px;
  color: transparent;
  height: 0px;
  width: auto;
  display: block;
  border-bottom: 1px solid #e6e3dc;
  margin-bottom: @oneline*2;
  padding-bottom: @oneline*2;
}

.separator-before:before {
  content: ".";
  text-indent: -5000000px;
  color: transparent;
  height: 0px;
  width: auto;
  display: block;
  border-bottom: 1px solid #e6e3dc;
  margin-bottom: @oneline*2;
}

.separator-short:after, .separator-short:before {
  .grid-center;
  width: 60%;
}

/* ---------- boxes ------------------------------------------------- */

.box {
  padding: @oneline*1.5 6% @oneline*1.5 4%;
  border: 1px solid @background_color_highlight;
}

.box.highlight {
  background: @background_color_highlight;
}

/* ---------- containers for videos --------------------------------- */

.video-container, .media-vimeo-video, .media-youtube-video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  overflow: hidden;
  background: transparent;

  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.media-youtube-video {
  padding-top: 35px;
}

/* ---------- blockquotes and highlighted --------------------------- */

blockquote {
  .serif;
  color: lighten(@fmain,10%);
}

blockquote:before {
  content: "« ";
  display: inline;
}

blockquote:after {
  content: " »";
  display: inline;
}

.author:before {
  content: "- ";
  display: inline;
  color: @fmain;
}

p.highlighted, blockquote.highlighted {
  .f(20);
  color: @fmain;
  .serif;

  a {
    text-decoration: none;
  }
}


/* ==================================================================
 * top to bottom styling
 * ================================================================== */

/* This section has 3 parts.
 * 1. First the default styles, i.e. the mobile styles.
 * 2. Second the tablet styles. BUT you need to style only the *overrides*
 *    of the mobile styles.
 * 3. Third the desktop styles. They only override both mobile and tablet.
 *
 * If you want to add a style, put it in the *most* generic part!
 *
 * Feel free to add subheaddings! :)
 */

/* ------#### header ------------------------------------------------ */

#header {
}

/* ------#### main -------------------------------------------------- */

/* ---------- sidebar ----------------------------------------------- */
.sidebar {

}
/* ---------- node styles ------------------------------------------- */


/* ---------- teaser styles ----------------------------------------- */


/* ---------- views stuff & views list styling ---------------------- */

.view {
  .item-list {
    list-style: none;

    li.views-row {
      list-style: none;
      margin-left: 0;
      margin-bottom: @oneline;
    }

  }
}

/* ---------- comments ---------------------------------------------- */

#comments {

  .comment {

  }

  .submitted {

  }
}

#comment-form-wrapper {

}

/* ---------- share light ------------------------------------------- */

.block-share-light {
  ul.share-light {
    li {

    }
  }
}

/* ---------- field specific styles --------------------------------- */


/* ---------- node and context specific styles ---------------------- */


/* ------#### footer ------------------------------------------------ */


/* ==================================================================
 * top to bottom tablet (overrides mobile)
 * ================================================================== */

/* ONLY overrides go in here!
 * If you can style generic (i.e. also for mobile) -- DO IT!
 */

@media @tablet {

}

/* ==================================================================
 * top to bottom desktop (overrides mobile and tablet)
 * ================================================================== */

/* ONLY overrides go in here!
 * If you can style generic (i.e. also for mobile) -- DO IT!
 */

@media @desktop {

/* ---------- ### header -------------------------------------------- */

  #header {

    #logo {
      float: left;
    }

    #header_search {
      float: right;
    }
  }

}


/* ==================================================================
 * sonstiges
 * ================================================================== */

/* ---------- browser specific hacks -------------------------------- */

/* ---------- drupal specific hacks --------------------------------- */

ul.menu {
  list-style: none;

  li {
    list-style: none;
    background: none;
    margin-left: 0;
  }
}

.locale-untranslated { /* hide all untranslated links */
  display: none;
}

/* ---------- webform widget ---------------------------------------- */

body.embedded-webform {
  padding: 0;
  margin: 0;
  .form-item, .form-actions {
    margin: 0;
    margin-bottom: 1em;
  }
}


/* ==================================================================
 * media queries
 * ================================================================== */

/* ---------- additional media queries ------------------------------ */

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:link, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

