core = 7.x
api  = 2

libraries[Recordmp3js-Drupal][download][type] = "get"
libraries[Recordmp3js-Drupal][download][url] = "https://github.com/Ruslan03492/Recordmp3js-Drupal/releases/download/1.0.0/Recordmp3js-Drupal_v1.0.0.zip"
libraries[Recordmp3js-Drupal][directory_name] = "Recordmp3js-Drupal"
libraries[Recordmp3js-Drupal][destination] = "libraries"
