.block-nice-menus {
  float: left;
}

.nice-menu {
  float: left;
  height: auto;
  line-height: normal;
  margin: 0;
}

.nice-menu a {
  border-left: 0;
  border-top: 0;
  padding: .75em 1em;
  text-decoration: none;
}

.nice-menu li, 
.nice-menu.sf-navbar {
  background: url(../images/vsep.gif) no-repeat right top;
  float: left;
  list-style: none;
  position: relative;
  z-index: 498;
}

.nice-menu > li.first {
  margin-left: 5px !important;
}

.nice-menu a, 
.nice-menu a:visited {
  border: 0;
  color: #888;
  line-height: 50px;
  padding: 0 1em;
  text-transform: uppercase;
}

.nice-menu ul {
  margin: 0;
  width: 12em;
}

.nice-menu li li {
  width: 100%;
}

.nice-menu li li a {
  line-height: normal;
  padding: 1em;
}

.nice-menu li li {
  background: #FFF;
}

.nice-menu li li li li {
}

 
.nice-menu > li > a.active {
  background: url(../images/menu-active.gif) repeat-x left bottom #99C149;
  color: #FFF;
}

.nice-menu li:hover > a, 
.nice-menu li.sfHover > a, 
.nice-menu li > a:focus, 
.nice-menu li > a:hover,
.nice-menu li > a:active,
.nice-menu li > a.active:hover {
  background: #F5F5F5;
  color: #7EA432;
}

.nice-menu > li:hover > a, 
.nice-menu > li.sfHover > a, 
.nice-menu > li > a:focus, 
.nice-menu > li > a:hover,
.nice-menu > li > a:active,
.nice-menu > li > a.active:hover {
  background: #FFF;
  color: #7EA432;
}

.nice-menu li:hover ul,
.nice-menu li.sfHover ul {
  top: 4em;
}