/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03/03/2014, 05:30:41 PM
    Author     : telaya
*/

.league-minute-stream dl {
  display: inline;
  float: left;
  margin: 0 0 10px;
  overflow: hidden;
  width:100%
}
.league-minute-stream dl dt {
  border-top: 1px dotted #C5C4CA;
  clear: left;
  color: #183461;
  float: left;
  font-size: 20px;
  margin: 0;
  padding: 10px 0 8px;
  width: 20%;
}
.league-minute-stream dl dd {
  border-top: 1px dotted #C5C4CA;
  color: #333333;
  display: block;
  float: left;
  margin-bottom: 5px;
  padding: 15px 10px 12px 11px;
  width: 80%;
}
.league-minute-stream dl dd.gol, .league-minute-stream dl dd.tarjeta-roja, .league-minute-stream dl dd.tarjeta-amarilla, .league-minute-stream dl dd.cambio, .league-minute-stream dl dd.uyyyy, .league-minute-stream dl dd.reloj-cronometro, .league-minute-stream dl dd.silbato {
    font-weight: bold;
}
.league-minute-stream dl dt.goal {
    background: url("img/minuto/goal.png") no-repeat scroll 100% 3px rgba(0, 0, 0, 0);
    height: 55px;
}
.league-minute-stream dl dt.red-card {
    background: url("img/minuto/red_card.png") no-repeat scroll 100% 3px rgba(0, 0, 0, 0);
    height: 30px;
}
.league-minute-stream dl dt.yellow-card {
    background: url("img/minuto/yellow_card.png") no-repeat scroll 100% 3px rgba(0, 0, 0, 0);
    height: 30px;
}
.league-minute-stream dl dt.substitution {
    background: url("img/minuto/substitution.png") no-repeat scroll 100% 3px rgba(0, 0, 0, 0);
    height: 30px;
}
.league-minute-stream dl dt.corner {
    background: url("img/minuto/corner.png") no-repeat scroll 100% 3px rgba(0, 0, 0, 0);
    height: 30px;
}
.league-minute-stream dl dt.whistle {
    background: url("img/minuto/whistle.png") no-repeat scroll 100% 3px rgba(0, 0, 0, 0);
    height: 30px;
}
.league-minute-stream dl dt.clock {
    background: url("img/minuto/clock.png") no-repeat scroll 100% 3px rgba(0, 0, 0, 0);
    height: 30px;
}
