StrictHostKeyChecking no
UserKnownHostsFile=/dev/null

Host {{ valkyrie_deploy_ssh_host_alias }}
    Hostname {{ valkyrie_deploy_ssh_hostname }}
    IdentityFile {{ valkyrie_deploy_key_dir }}/{{ valkyrie_deploy_key_name }}

