.fbssts-suggestions {
  background-color: #EEEEEE;
  display: none;
  z-index: 100;
}

.item-list ul.fbssts-suggestion-list li {
  background: none;
  border: 1px solid #CCCCCC;
  border-bottom: 0 none;
  float: none;
  list-style-image: none;
  list-style-type: none;
  margin: 0;
  padding: 0.5em;
  width: 15em;
}

.item-list ul.fbssts-suggestion-list li:hover {
  background-color: #DDDDDD;
}

.item-list ul.fbssts-suggestion-list li.last {
  border-bottom: 1px solid #CCCCCC;
}

.item-list ul.fbssts-suggestion-list {
  margin: 0;
}

.fbssts-hidden {
  display: none;
}
