/*
    Document   : instagram_feeds_moderation
    Created on : July 4, 2013, 13:33:58
    Author     : vasiliy.zaytsev
    Description:
        Purpose of the stylesheet to style Instagram moderation screen.
*/

tr.even:hover,
tr.odd:hover {
  background: #e3e4de;
}

tr.blacklisted {
  background: #ffe4de;
}

#edit-actionnode-make-sticky-action {
  margin-left: 100px;
}

.view-display-id-admin_instagram_media_items select {
  max-width: 200px !important;
  min-width: 100px;
}

.field-under-fields .form-text {
  width: 150px;
}

#views-exposed-form-instagram-feeds-moderation-admin-instagram-media-items label {
  display: block;
}

.field-under-fields .form-item.form-item-user {
  padding-top: 0;
}

.field-under-fields .form-item.form-item-user label {
  margin-bottom: 9px;
}

.view-display-id-admin_instagram_feeds {
  position: relative;
  z-index: 1;
}

#taxonomy-form-term .form-submit,
.view-display-id-admin_instagram_media_items input.form-submit,
.view-display-id-admin_instagram_feeds input.form-submit,
.view-display-id-admin_instagram_media_items a.button,
.view-display-id-admin_instagram_feeds a.button,
.view-display-id-admin_instagram_feeds .vbo-views-form #edit-select .fieldset-wrapper input.form-submit {
  border-radius: 0;
  margin-top: 0;
}

td a.colorbox-inline {
  display: block;
  height: 150px;
  overflow: hidden;
  position: relative;
  width: 150px;
}

td a.colorbox-inline img {
  height: 150px;
  width: 150px;
}

tr td a.colorbox-inline .hover {
  display: none;
}

tr:hover td a.colorbox-inline .hover {
  background: rgba(0,0,0,0.7);
  color: #fff;
  display: block;
  font-weight: normal;
  height: 140px;
  left: 0;
  line-height: 1.3em;
  opacity: 0.2;
  overflow: hidden;
  padding: 5px;
  position: absolute;
  top: 0;
  width: 140px;
  filter: alpha(opacity=20);
}

tr td a.colorbox-inline .hover:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

.views-exposed-form .container-inline-date .date-padding {
  margin-top: 3px;
}

.views-widget-per-page .form-item {
  padding: 0 0 9px;
}

.views-widget-per-page .form-item label {
  padding-bottom: 9px;
}

.views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 1.9em;
}

#taxonomy-form-term #edit-path {
  display: none;
}

.view-header {
  text-align: center;
  font-size: 0.9em;
  font-weight: bold;
}
