/**
 *  @file
 *  Sliding menu nav styles
 *  @see http://refills.bourbon.io/components/
 */
@import ../../../../bower_components/bourbon/app/assets/stylesheets/bourbon
.sliding-menu-button,
.sliding-menu-content
  display: none
+breakpoint(max-width $tablet)
  .sliding-menu-button
    +border-radius(2px 0px 0px 2px)
    display: inline-block
    cursor: pointer
    font-size: 1em
    outline: none
    position: fixed
    z-index: 10
    top: 0px
    right: 0px
    img
      height: 1.3em
  .sliding-menu-content
    +position(fixed, 0px auto 0px 0px)
    +size(160px 100%)
    +transform(translateX(-220px))
    +transition(all 0.25s linear)
    display: inline-block
    background: $background-sliding-menu-content
    z-index: 999999
    opacity: 0.95
    padding-top: 20px
    &.is-visible
      +transform(translateX(0))
  .menu-screen
    +position(fixed, 0px 0px 0px 0px)
    +transition
    background: $background-menu-screen
    opacity: 0
    visibility: hidden
    z-index: 9
    &.is-visible
      opacity: .4
      visibility: visible
