/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* HTML element (SMACSS base) rules */
@import "normalize.css";

/* Layout rules */
@import "layouts/responsive.css";

/* Component (SMACSS module) rules */
@import "components/misc.css";
/* Optionally, add your own components here. */
@import "print.css";

/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */
html , body {
	font-family:Arial, Helvetica, sans-serif;
}
#page, .region-bottom {
	width:100%;
	max-width:100%;
	float:left;
}
.page-inner {
	box-shadow: 0 5px 10px 5px #d5d5d5;
	float:left;
    width: 100%;
}
.region-header-last {
    float: left;
    margin-right: 6%;
    width: 94%;
}
#header {
	padding:0px;
}
#header a {
	color:gray;
	text-decoration:none;
}
#header .header-top {
    min-height: 150px;
	float:left;
	width:100%;
}
#header .header-top .header-left {
    float: left;
    margin-right: 2%;
    width: 65%;
}
#header .header-top .header-last {
    float: left;
    width: 33%;
}
h1,h2,h3,h4,h5,h6 {
	color:gray;
}
a:link {
	color:#3777bc;
	text-decoration:none;
}
.header__logo-image {
    width: 120px;
}
.header__name-and-slogan {
    float: left;
    margin-left: 10px;
    margin-top: 45px;
    padding-left: 0;
    padding-top: 0;
}
#logo {
	margin:10px;
}
.header__region {
    clear: both;
    float: right;
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
}
.nav-toggles {
	display:none;
}
#navigation {
    border-bottom: 5px solid #eeeeee;
    float: left;
    height: auto;
    margin-bottom: 0;
    padding: 0;
    position: relative;
    width: 100%;
}
#main-menu {
   float: left;
    padding-left: 1%;
    width: 99%;
}
#main-menu ul {
	float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
	display:block;
}
#main-menu ul li {
	float:left;
	display:block;
	position:relative;
    margin-right: 15px;
    padding-right: 19px !important;
    background: url("../images/menu-border.png") no-repeat scroll right center rgba(0, 0, 0, 0);
}
#main-menu ul li.last {
	background:none;
	margin:0px;
	padding:0px !important;
}
#main-menu ul li a {
    box-sizing: border-box;
    color: #888;
    display: block;
    font-size: 15px;
    font-weight: bold;
    padding: 12px 0;
    text-decoration: none;
    transition: all 0.4s ease 0s;
}
#main-menu  ul li a:hover,
#main-menu  ul li a.active,
#main-menu  ul li a.active-trail {
	color:#3777bc;
}
#main-menu  ul ul {
    background: none repeat scroll 0 0 #fff;
    border-color: #d5d5d5 #c8c8c8 #cfcfcf #d5d5d5;
    border-right: 1px solid #c8c8c8;
    border-style: solid;
    border-width: 1px;
    box-shadow: 1px 1px 2px #b2b2b2;
    display: none;
    padding: 13px 0;
    position: absolute;
    top: 47px;
    z-index: 500000;
}
#main-menu  ul ul:before {
    background: url("../images/drop-menu-top.png") no-repeat scroll 0 0 #fff;
    content: " ";
    height: 13px;
    left: 16px;
    position: absolute;
    top: -12px;
    width: 18px;
}
#main-menu  ul li li {
	float:left;
	position:relative;
	padding:0px !important;
	border-bottom:1px solid #ccc;
	margin-right:0px;
	background:none;
}
#main-menu  ul li li.last {
	border-bottom:none;
}
#main-menu  ul ul a {
    padding: 8px 15px;
    width: 250px;
	font-weight:normal;
}
nav.breadcrumb {
    padding: 3px 1%;
    width: 98%;
	margin-bottom:10px;
}
.two-sidebars .region-sidebar-first {
    float: left;
    margin-left: 0;
    margin-right: 0;
    width: 25%;
}
.two-sidebars #content {
    float: left;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}
#main {
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    padding-top: 0;
    position: relative;
    width: 48%;
}
.sidebar-first #main {
    margin-left: 1%;
    margin-right: 1%;
    width: 70%;
}
.sidebar-second #main {
    margin-left: 1%;
    width: 70%;
	margin-right:1%;
}
.no-sidebars #main {
	width:98%;
	margin-left:1%;
	margin-right:1%;
}
.sidebar-second .region-sidebar-second {
    margin-left: 0;
    margin-right: 0;
}
.sidebar-second #content {
    float: left;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}
.sidebar-first #content {
    float: left;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}
.sidebar-first .region-sidebar-first {
    float: left;
    margin-left: 0;
    margin-right: 0;
}
.two-sidebars .region-sidebar-second {
    float: right;
    margin-left: 0;
    margin-right: 0;
    width: 25%;
}
.content-top {
    float: left;
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
}
.content-top-upper {
	float: left;
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
}
.region.region-content-top-upper-1 {
    float: left;
    margin-right: 2%;
    width: 66%;
}
.region.region-content-top-upper-2 {
	float:left;
	width:32%;
}
.region.region-content-top-1,
.region.region-content-top-2 {
    float: left;
    width: 32%;
	margin-right:2%;
}
.region.region-content-top-3 {
    float: left;
    width: 32%;
}
.content-top-lower{
	float: left;
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
}
.region.region-content-top-lower-1 {
	float:left;
	width:32%;
    margin-right: 2%;
}
.region.region-content-top-lower-2 {
    float: left;
    width: 66%;
}
.content-left-right {
	float: left;
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
}
.region.region-content-left {
	width:49%;
	float:left;
	margin-right:2%;
}
.region.region-content-right {
	float:left;
	width:49%;
}
.region.region-sidebar-first {
    float: left;
    margin-left: 2%;
    padding: 0;
    width: 23%;
}
.region.region-sidebar-second {
    float: left;
    margin-right: 2%;
    padding: 0;
    width: 23%;
}
.content-bottom {
	float: left;
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
}
.region.region-content-bottom-1,
.region.region-content-bottom-2 {
    float: left;
    width: 32%;
	margin-right:2%;
}
.region.region-content-bottom-3 {
	float: left;
    width: 32%;
}
.block {
    margin-bottom: 15px;
}
.block .block-title {
   border-bottom: 5px solid #eee;
   line-height: 30px;
}
.block .block-content {
	margin-top:15px;
}
.content-bottom-upper {
 	float: left;
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
}
.region.region-content-bottom-upper-1 {
	float:left;
	width:66%;
	margin-right:2%;
}
.region.region-content-bottom-upper-2 {
    float: right;
    width: 32%;
}
.content-bottom-lower {
	float: left;
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
}
.region.region-content-bottom-lower-1 {
	float:left;
	width:32%;
	margin-right:2%;
}
.region.region-content-bottom-lower-2 {
	float:left;
	width:66%;
}
.content-footer {
	float: left;
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
}
.l-footer {
    border-top: 1px solid #ddd;
    float: left;
    padding-top: 20px;
    width: 96%;
    margin: 20px 2%;
}
.l-footer .block {
	background-color:#fff;
}
.region.region-content-footer-1 {
	width:49%;
	margin-right:2%;
	float:left;
}
.region.region-content-footer-2 {
    float: left;
    width: 49%;
}
.region.region-footer-1, .region.region-footer-2 , .region.region-footer-3 {
    float: left;
    width: 24%;
	margin-right:1%;
}
 .region.region-footer-4{
 	float: left;
    width: 24%;
 }
.l-footer a {
	font-weight:500;
	text-decoration:none;
}
.region.region-bottom,
.region-header-upper {
    width: 96%;
	float:left;
    margin: 10px 2%;
}
#toTop {
	background:url("../images/top.jpg") repeat scroll center center rgba(0, 0, 0, 0);
	bottom: 25px;
    height: 42px;
    position: fixed;
    right: 42px;
    text-align: center;
    width: 42px;
}
#toTop a {
    display: block;
    height: 100%;
    width: 100%;
}
/*slider*/
#header-slide {
	float:left;
	width:100%;
	margin-bottom:10px;
}
#header-slide img.active {
	display:block;
}
#header-slide .dots img {
    display: inline;
    width: auto;
}
#header-slide img {
	width:100%;
	display:none;
}
#header-slide img {
	width:100%;
}
#header-slide .dots {
    float: left;
    margin-left: 47%;
    margin-top: -18px;
    width: 6%;
}
#header-slide .dots span {
    background: none repeat scroll 0 0 gray;
    border-radius: 10px;
    cursor: pointer;
    float: left;
    font-size: 0;
    height: 10px;
    margin-right: 5px;
    position: relative;
    width: 10px;
}
#header-slide .dots .active {
	background:#fff;
}
/*end slider*/
#search-box {
    float: left;
    margin-right: 4%;
    margin-top: 35px;
    width: 96%;
}
#search-box .search-form {
    background: none repeat scroll 0 0 #fff;
    display: inline-block;
    float: left;
    margin-right: 0;
    margin-top: 10px;
}
#search-box .search-form  input {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #000;
    padding: 8px;
}
#search-box .search-form .form-item {
	margin:0px;
}
#search-box .search-form .form-item.form-item-keys input {
    padding-right: 35px;
    width: 335px;
}
#search-box .search-form label {
	display:none;
}
#search-box .search-form .form-submit {
    background: url("../images/search.png") no-repeat scroll 5px 9px rgba(0, 0, 0, 0);
    border: medium none;
    height: 16px;
    margin-left: 307px;
    margin-top: -34px;
    padding: 18px 11px 15px 16px;
    position: absolute;
    text-indent: -9999px;
    width: 14px;
    box-shadow: none;
}
@media all and (max-width: 980px) {
#header .header-top .header-left {
    width: 54%;
}
#header .header-top .header-last {
    width: 44%;
}
#header-slide .dots {
    margin-left: 45%;
    width: 10%;
}
}
@media all and (max-width: 800px) {
body {
    box-shadow: 0 5px 10px #d5d5d5;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
.header__name-and-slogan {
    float: left;
    padding-left: 0;
    padding-top: 25px;
    text-align: center;
    width: 100%;
}
.header__region {
    clear: both;
    float: left;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}
#header .header-top .header-left,
#header .header-top .header-last {
    margin-right: 0;
    width: 100%;
}
#header .header-top .header-left {
	text-align:center;
}
#header .header-top .header-left .header__logo {
	float:none;
	margin:0px;
}
#header .header-top .header-left #name-and-slogan {
    margin: 10px 0 0;
    padding: 0;
}
#header .header-top .header-last {
	margin-right:2%;
	margin-left:2%;
	width:96%;
}
.content-top-upper, 
.content-top-lower, 
.content-left-right {
    padding: 0px;
	width:96%;
	margin:0px;
	margin-left:2%;
	margin-right:2%;
}
.header__secondary-menu {
    float: none;
    text-align: center;
}
#main-menu {
    float: left;
    padding-left: 0px;
    width: 100%;
}
#navigation {
	display:none;
}
.nav-toggles {
    display: block;
}
a.nav-toggles {
	background:url("../images/icon-responsive-menu.png") no-repeat scroll 7px center #bbb;
    border-radius: 0;
    color: #fff !important;
    float: left;
    padding: 3%;
    text-align: center;
    text-decoration: none;
    width: 94%;
    font-size: 14px;
	margin-bottom:2px;
	font-weight:bold;
}
#navigation ul {
    float: left;
    width: 100%;
	position:relative;
}
#navigation ul li {
    float: left;
    margin: 0;
    text-align: center;
    width: 100%;
	padding:0px;
}
#navigation ul li a {
    background: none repeat scroll 0 0 #cccccc;
    border-bottom: 2px solid #fff;
    color: #fff;
    float: left;
    font-size: 12px;
    font-weight: bold;
    padding: 2%;
    text-transform: uppercase;
    width: 100%;
}
#navigation ul li a.active,
#navigation ul li a:hover {
	background:#878881;
	color:#fff;
}
#navigation ul li ul li {
	display:none;
}
#content {
	padding:0px;
}
.content-top {
    float: left;
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
}
.region.region-content-top-upper-1,
.region.region-content-top-upper-2 {
	margin: 0;
    width: 100%;
}
.region.region-content-top-1,
.region.region-content-top-2,
.region.region-content-top-3 {
    margin: 0;
    width: 100%;
}
.region.region-content-top-lower-1,
.region.region-content-top-lower-2 {
    width: 100%;
	margin:0px;
}
.region.region-content-left,
.region.region-content-right {
	margin: 0;
    width: 100%;
}
.region.region-sidebar-first {
	margin:0px;
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
	padding: 0;
}
.sidebar-second #main {
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
}
.sidebar-first #main {
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
}
.no-sidebars #main {
	margin:0px;
	padding:0px;
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
}
#main {
	margin:0px;
	padding:0px;
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
}
.two-sidebars #content {
	padding:0px;
}
.region.region-sidebar-second {
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
	padding: 0px;
}
.region.region-sidebar-second .block {
	padding:0px !important;
	margin-right:0px !important;
    width: 100% !important;
}
.content-bottom {
	margin:0px;
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
}
.region.region-content-bottom-1,
.region.region-content-bottom-2,
.region.region-content-bottom-3 {
    margin: 0;
    width: 100%;
}
.content-bottom,
.content-bottom-lower,
.content-bottom-upper {
	margin:0px;
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
}
.region.region-content-bottom-upper-1,
.region.region-content-bottom-upper-2 {
    margin: 0;
    width: 100%;
}

.region.region-content-bottom-lower-1,
.region.region-content-bottom-lower-2 {
    margin: 0;
    width: 100%;
}
.region.region-content-footer-1,
.region.region-content-footer-2 {
	margin: 0;
    width: 100%;
}
.content-footer {
	margin:0px;
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
}
.region.region-footer-1,
.region.region-footer-2,
.region.region-footer-3,
.region.region-footer-4 {
	margin: 0;
    width: 100%;
}

.l-footer .block {
	margin-bottom:0px;
}
.region.region-bottom {
	margin:0px;
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
}
#header-slide .dots {
    float: left;
    margin-left: 46%;
    margin-top: -18px;
    width: 8%;
}
#header .header-top .header-left {
    margin-top: 15px;
}
#search-box {
	margin-top:0px;
}
}
@media all and (max-width: 360px) {
#header-slide .dots {
    float: left;
    margin-left: 39%;
    margin-top: -18px;
    width: 18%;
}
#header .header-top .header-left {
    margin-top: 15px;
}
#search-box {
	margin-top:0px;
}
}
@media all and (max-width: 320px) {
#header-slide .dots {
    float: left;
    margin-left: 40%;
    margin-top: -18px;
    width: 20%;
}
#search-box {
	width:100%;
	margin-top:0px;
}
#search-box .search-form {
	margin-right:0px;
}
#search-box .search-form .form-submit {
	margin-left:87.2%;
}
#search-box .search-form .form-item.form-item-keys input {
	width:100%;
}
}
