/* Imports */
/**
 * Layout
 */
header[role="banner"] {
  overflow: hidden;
  *zoom: 1;
  height: 98px;
  padding-top: 60px;
  position: relative;
  z-index: 1;
}

#header {
  display: inline;
  float: right;
  margin-top: 28px;
}

#logo, #site-slogan {
  display: inline;
  float: left;
}

#site-slogan {
  margin: 29px 0 0 16px;
}

#site-name {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

#nav {
  position: absolute;
  top: 23px;
  right: 0;
  z-index: 2;
}

#breadcrumb {
  display: inline;
  float: left;
  height: 42px;
  width: 100%;
  margin-right: -100%;
}

#footer #block-boxes-footer-box-left {
  float: left;
}
#footer #block-boxes-footer-box-right {
  margin-top: 19px;
  float: right;
}
#footer #block-boxes-footer-box-left,
#footer #block-boxes-footer-box-right {
  font-size: 11px;
  color: white;
}

/**
 * Styling
 */
body {
  background-color: gray;
  color: #000;
  font-family: "Bookman Old Style", "Serifa BT", "URW Bookman L", "itc bookman", "Times New Roman", times, serif;
}

#page-wrapper {
  background: url("../images/header-bg.jpg") repeat-x;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Bookman Old Style", "Serifa BT", "URW Bookman L", "itc bookman", "Times New Roman", times, serif;
}

h2 a, h3 a, h4 a, h5 a, h6 a,
h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
  color: #781609;
}

h2 a:focus, h3 a:focus, h4 a:focus, h5 a:focus, h6 a:focus,
h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  text-decoration: underline;
  color: #781609;
}

h1 {
  font-size: 2.5em;
  line-height: 1em;
}

h2 {
  font-size: 2em;
  font-weight: bold;
  color: #3c0b06;
}

h3 {
  font-size: 1.5em;
  color: #3c0b06;
}

h4 {
  font-size: 1.3em;
}

ul {
  list-style-position: inside;
  list-style-image: url("../images/li-star.png");
  font-family: "Bookman Old Style", "Serifa BT", "URW Bookman L", "itc bookman", "Times New Roman", times, serif;
}

li {
  margin-bottom: .5em;
}

i {
  font-style: italic;
}

a {
  color: gray;
  text-decoration: none;
  -moz-transition: color 0.25s linear;
  -webkit-transition: color 0.25s linear;
  -o-transition: color 0.25s linear;
  transition: color 0.25s linear;
}
a:hover {
  color: #781609;
}
a:active {
  color: #781609;
}
a:hover {
  text-decoration: underline;
}

#main {
  padding-top: 18px;
  padding-bottom: 18px;
}

hr {
  border: none;
  height: 19px;
}

hr.top {
  background: transparent url("../images/ornament.png") no-repeat center center;
  margin: 20px 0;
}

hr.bottom {
  background: transparent url("../images/ornament-bottom.png") no-repeat center center;
  margin: 20px 0;
}

/**
 * Lightbox styling
 */
#fancybox-content article {
  margin-bottom: 0;
}

.node-visualization {
  width: 588px;
  min-height: 475px;
}
.node-visualization header h2 {
  max-width: 482px;
}

#content .node-visualization {
  width: auto;
}
#content .node-visualization header h2 {
  max-width: none;
}

#page.footnote-taxonomy-term-page #main {
  padding-bottom: 0;
}
#page.footnote-taxonomy-term-page div.main-content {
  margin-top: -20px;
  margin-left: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #f3eeda url("../images/results-gradient.png") repeat-y top left;
}
#page.footnote-taxonomy-term-page div.tabs, #page.footnote-taxonomy-term-page div.main-content {
  padding-left: 10px;
  padding-right: 10px;
}

.feed-icon {
  display: inline;
  float: right;
}

#admin-menu ul li {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/**
 * Messages
 */
.messages {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 10px;
  padding: 5px 10px;
}
.messages ul {
  list-style-image: none;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.messages.notice {
  background: #f9f7eb;
  border: solid 1px #b09f35;
}
.messages.status {
  color: #001b24;
  background: #f0fbff;
  border: solid 1px #8ae2ff;
}
.messages.warning {
  background: #ede7c4;
  border: solid 1px #f9f7eb;
}
.messages.error {
  color: #3c0b06;
  background: #fac1b9;
  border: solid 1px #d72710;
}

/**
 * Main content area
 */
#main-wrapper {
  min-height: 709px;
  position: relative;
  z-index: 0;
  background-color: white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 3px 3px 4px #333333;
  -webkit-box-shadow: 3px 3px 4px #333333;
  -o-box-shadow: 3px 3px 4px #333333;
  box-shadow: 3px 3px 4px #333333;
}

/**
 * Front page
 */
body.front #main #title-tabs-content-wrapper {
  left: 0;
  width: auto;
  padding-left: 20px;
}
body.front #main #title-tabs-content-wrapper p {
  margin: 0;
}
body.front [id^=block-boxes-front-small] {
  display: inline;
  float: left;
  margin: 0 20px 20px 0;
}

/**
 * Primary navigation
 */
#main-menu li {
  display: inline;
  float: left;
  padding-left: 1em;
  z-index: -10;
}
#main-menu li a {
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -o-border-top-left-radius: 6px;
  -ms-border-top-left-radius: 6px;
  -khtml-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -o-border-top-right-radius: 6px;
  -ms-border-top-right-radius: 6px;
  -khtml-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  text-decoration: none;
  color: white;
  display: block;
  font-size: 18px;
  line-height: 37px;
  padding: 0 12px;
}
#main-menu li a:hover {
  text-decoration: underline;
}
#main-menu li a.active {
  background-color: #781609;
}

/**
 * Menu block navigation
 */
.block-menu-block {
  margin: 9px 0 0 30px;
}
.block-menu-block li {
  font-family: "Bookman Old Style", "Serifa BT", "URW Bookman L", "itc bookman", "Times New Roman", times, serif;
  margin-bottom: 1.1em;
  font-size: 1.25em;
}
.block-menu-block li.active,
.block-menu-block li a:hover,
.block-menu-block li a:focus {
  color: #781609;
}

/**
 * Blocks
 */
#sidebar_first .block,
#sidebar_second .block {
  min-height: 64px;
}

#block-block-9 {
  margin-top: 3px;
}

#block-boxes-footnote-browser-info-left {
  overflow: hidden;
  *zoom: 1;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #E4E4DC;
  background-color: #F3EEDA;
  padding: 0.8em 1em;
}
#block-boxes-footnote-browser-info-left .content {
  display: inline;
  float: left;
}
#block-boxes-footnote-browser-info-left .content p {
  margin-bottom: 0;
}

.block h2 {
  font-weight: normal;
}

.block-search form {
  margin-bottom: 10px;
}
.block-search .container-inline {
  position: relative;
}
.block-search input[type="search"] {
  border: 2px solid #2D4E5D;
  font-size: 16px;
  width: 100%;
  height: 42px;
  padding-right: 40px;
}
.block-search input[type="submit"] {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background: transparent url("../images/search-icon.png") no-repeat 9px center;
  border: none;
  position: absolute;
  right: 2px;
  top: 2px;
  bottom: 2px;
  width: 39px;
}
.block-search input[type="submit"]:hover,
.block-search input[type="submit"]:focus {
  background-position: -61px center;
}
.block-search input[type="submit"]:active {
  background-position: -26px center;
}
.block-search input[type="submit"]:focus,
.block-search input[type="submit"]:hover,
.block-search input[type="submit"]:active {
  -o-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/**
 * Breadcrumb
 */
#block-footnote-browser-breadcrumb ul.breadcrumb {
  display: inline;
  float: left;
  padding: 0 20px;
  width: 960px;
}
#block-footnote-browser-breadcrumb ul.breadcrumb li {
  display: inline;
  float: left;
  margin-bottom: 0;
}
#block-footnote-browser-breadcrumb ul.breadcrumb li span {
  background: transparent url("../images/breadcrumb-arrow.png") no-repeat -16px -5px;
  margin-bottom: -1px;
  height: 31px;
}
#block-footnote-browser-breadcrumb ul.breadcrumb li a, #block-footnote-browser-breadcrumb ul.breadcrumb li span {
  display: inline;
  float: left;
  font-family: "Bookman Old Style", "Serifa BT", "URW Bookman L", "itc bookman", "Times New Roman", times, serif;
  color: white;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}
#block-footnote-browser-breadcrumb ul.breadcrumb li a {
  text-decoration: none;
  height: 30px;
}
#block-footnote-browser-breadcrumb ul.breadcrumb li.back {
  background-image: url("../images/breadcrumb-back.png");
  background-color: #781609;
  background-repeat: no-repeat;
  background-position: 6px 4px;
  border-bottom: 1px solid #AB6F64;
}
#block-footnote-browser-breadcrumb ul.breadcrumb li.back:hover {
  background-position: 6px -28px;
  color: white;
}
#block-footnote-browser-breadcrumb ul.breadcrumb li.current {
  background-color: #3c0b06;
  border-bottom: 1px solid #A99385;
}

/**
 * Nodes
 */
.node footer {
  margin-top: 20px;
}

.node.node-teaser footer {
  margin-top: 0;
}

.node-type-page #highlighted, .node-type-webform #highlighted {
  margin: 12px 30px;
}
.node-type-page h1.title, .node-type-webform h1.title {
  border-bottom: 1px solid #000;
  font-size: 2.1em;
  margin-bottom: 0.5em;
  padding-bottom: 6px;
}
.node-type-page #sidebar_first-wrapper, .node-type-webform #sidebar_first-wrapper {
  margin-top: 3.5em;
}
.node-type-page #sidebar_second-wrapper, .node-type-webform #sidebar_second-wrapper {
  margin-top: 3.5em;
}
.node-type-page .block-menu-block h2, .node-type-webform .block-menu-block h2 {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}
.node-type-page .block-menu-block li:hover, .node-type-page .block-menu-block li.active, .node-type-webform .block-menu-block li:hover, .node-type-webform .block-menu-block li.active {
  list-style-image: url("../images/li-star-active.png");
}
.node-type-page .block-menu-block li:hover a, .node-type-page .block-menu-block li.active a, .node-type-webform .block-menu-block li:hover a, .node-type-webform .block-menu-block li.active a {
  color: #781609;
}
.node-type-page p, .node-type-webform p {
  font-family: "Bookman Old Style", "Serifa BT", "URW Bookman L", "itc bookman", "Times New Roman", times, serif;
}

.node-type-webform #title-tabs-content-wrapper {
  padding-top: 12px;
}

.node .header-metadata {
  background-color: #EBE7DD;
  border: solid 1px #666;
  font-size: 13px;
  margin: 0 5px 1em 5px;
  padding: 0.8em 1em;
}
.node .header-metadata .permalink-label, .node .header-metadata .categories-label {
  font-weight: bold;
}
.node .header-metadata .categories-label {
  display: inline;
  float: left;
}
.node .header-metadata .categories {
  margin-left: 3em;
}

.node-footnote .header-metadata,
.node-footnote .field-name-body {
  max-width: 600px;
}

.node-footnote.node-teaser .header-top a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.node-footnote.node-teaser .content .field-name-body {
  font-size: 13px;
}

.node-footnote {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  background-color: #f9f8f6;
  border: 2px solid #001b24;
  margin-bottom: 6px;
  padding: 1px;
  position: relative;
}
.node-footnote .header-top {
  background-color: #7f888d;
  height: 23px;
  padding: 6px;
  margin-bottom: 1em;
}
.node-footnote .header-top a:hover {
  text-decoration: none;
}
.node-footnote .header-top a:hover h2.title {
  color: #781609;
}
.node-footnote .header-top h2.title, .node-footnote .header-top div.resource-icon {
  display: inline;
  float: left;
  margin-right: 6px;
}
.node-footnote .header-top h2.title {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  display: inline;
  float: left;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  line-height: 22px;
  height: 22px;
  padding: 0 10px;
}
.node-footnote .header-top .page-number {
  display: inline;
  float: right;
  color: white;
  font-size: 12px;
  font-weight: bold;
  line-height: 23px;
}
.node-footnote .header-top .sharethis-widgets {
  height: 23px;
  line-height: 23px;
}
.node-footnote .content, .node-footnote p.last-updated {
  clear: left;
  padding: 0 6px;
}
.node-footnote p.last-updated {
  color: #781609;
  font-size: 12px;
  margin-bottom: 0;
}
.node-footnote footer .links {
  background-color: #7f888d;
  margin: 0;
  position: absolute;
  bottom: 0;
  right: 0;
}
.node-footnote footer .links a {
  color: white;
  display: block;
  padding: 6px;
}
.node-footnote footer .links a:hover {
  background-color: #001b24;
}
.node-footnote footer .links li {
  margin: 0;
}

.node-visualization header h2 {
  display: inline;
  float: left;
}
.node-visualization header .sharethis-widgets {
  height: 40px;
  line-height: 40px;
  margin-bottom: 10px;
}

.sharethis-widgets {
  display: inline;
  float: right;
  margin: 0 0 0 15px;
}
.sharethis-widgets .st_email .stButton {
  margin-right: 0;
}
.sharethis-widgets .st_email .chicklets {
  padding-right: 0;
}

.node-footnote.node-teaser .content {
  line-height: 18px;
  height: 93px;
  overflow: hidden;
}
.node-footnote.node-teaser.with-last-updated .content {
  height: 72px;
}

.page-footnotes.layout-fifty-fifty-left #main {
  padding-top: 28px;
  padding-bottom: 28px;
}
.page-footnotes.layout-fifty-fifty-left #title-tabs-content-wrapper .main-content {
  padding-left: 18px;
}

.node-footnote header .header-top {
  -moz-transition-property: background-color;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -moz-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}

.node-footnote:hover header .header-top {
  background-color: #001b24;
}

/**
 * Search results / "Wide Open" layout pages
 */
body.layout-wide-open #page-title, body.layout-wide-open .main-content {
  padding-left: 10px;
  padding-right: 10px;
}
body.layout-wide-open .search-result.alpha {
  margin-right: 0;
}
body.layout-wide-open .search-result.alpha article {
  margin-right: 10px;
}
body.layout-wide-open .search-result.omega {
  margin-left: 0;
}
body.layout-wide-open .search-result.omega article {
  margin-left: 10px;
}

/* Search page */
.search-heading {
  display: inline;
  float: left;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  margin-right: 1em;
}

.search-summary {
  display: inline;
  float: left;
  border: 1px solid #999;
  background-color: #FFFAD6;
  padding: 2px 10px;
  font-size: 14px;
  line-height: 21px;
}

.search-keywords {
  font-weight: bold;
}

.search-results {
  clear: left;
}

/**
 * Gallery
 */
body.layout-gallery hr.top, body.layout-gallery hr.bottom {
  display: none;
}
body.layout-gallery .main-content {
  margin-bottom: 20px;
}
body.layout-gallery #main-wrapper,
body.layout-gallery #main-wrapper:before,
body.layout-gallery #main-wrapper:after,
body.layout-gallery #main:before {
  background: transparent none;
}
body.layout-gallery #sidebar_first {
  background-color: #001B24;
  color: white;
  padding: 20px 22px 0 22px;
}
body.layout-gallery #sidebar_first a {
  color: #5a889f;
}
body.layout-gallery #sidebar_first a:hover {
  color: white;
}
body.layout-gallery #sidebar_first .block {
  padding-bottom: 20px;
}
body.layout-gallery #sidebar_first h1, body.layout-gallery #sidebar_first h2, body.layout-gallery #sidebar_first h3, body.layout-gallery #sidebar_first h4, body.layout-gallery #sidebar_first h5, body.layout-gallery #sidebar_first h6 {
  color: #5a889f;
}
body.layout-gallery #sidebar_first h1, body.layout-gallery #sidebar_first h2, body.layout-gallery #sidebar_first h3 {
  font-size: 21px;
  line-height: 30px;
  margin-bottom: 4px;
}
body.layout-gallery .view-gallery-collections,
body.layout-gallery .view-visualizations {
  margin-right: -17px;
  margin-top: -3px;
}
body.layout-gallery .view-gallery-collections .gallery-items,
body.layout-gallery .view-visualizations .gallery-items {
  margin-bottom: 0;
}
body.layout-gallery .view-gallery-collections .no-results,
body.layout-gallery .view-visualizations .no-results {
  color: white;
}
body.layout-gallery .view-gallery-collections .gallery-items li,
body.layout-gallery .view-visualizations .gallery-items li {
  display: inline;
  float: left;
  height: 184px;
  width: 213px;
  margin: 0 9px 2px 0;
  position: relative;
}
body.layout-gallery .view-gallery-collections .gallery-items li.views-row-3, body.layout-gallery .view-gallery-collections .gallery-items li.views-row-6, body.layout-gallery .view-gallery-collections .gallery-items li.views-row-9, body.layout-gallery .view-gallery-collections .gallery-items li.views-row-12, body.layout-gallery .view-gallery-collections .gallery-items li.views-row-15,
body.layout-gallery .view-visualizations .gallery-items li.views-row-3,
body.layout-gallery .view-visualizations .gallery-items li.views-row-6,
body.layout-gallery .view-visualizations .gallery-items li.views-row-9,
body.layout-gallery .view-visualizations .gallery-items li.views-row-12,
body.layout-gallery .view-visualizations .gallery-items li.views-row-15 {
  margin-right: 0;
}
body.layout-gallery .view-gallery-collections .gallery-items li .gallery-thumbnail,
body.layout-gallery .view-visualizations .gallery-items li .gallery-thumbnail {
  padding: 17px 21px 0;
  display: block;
}
body.layout-gallery .view-gallery-collections .gallery-items li .gallery-title-wrapper,
body.layout-gallery .view-visualizations .gallery-items li .gallery-title-wrapper {
  background: transparent url("../images/gallery-slide-thumbnail-overlay.png") no-repeat center center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
body.layout-gallery .view-gallery-collections .gallery-items li a h4,
body.layout-gallery .view-visualizations .gallery-items li a h4 {
  color: gray;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  margin: 132px 0 0 0;
  padding: 0 21px;
  text-align: center;
  height: 36px;
  overflow: hidden;
}
body.layout-gallery .view-gallery-collections .gallery-items li a h4:hover,
body.layout-gallery .view-visualizations .gallery-items li a h4:hover {
  color: #781609;
}
body.layout-gallery .view-gallery-collections .gallery-items li a h4:active,
body.layout-gallery .view-visualizations .gallery-items li a h4:active {
  color: #781609;
}
body.layout-gallery .view-gallery-collections .gallery-items li a:hover h4,
body.layout-gallery .view-visualizations .gallery-items li a:hover h4 {
  color: #781609;
}
body.layout-gallery .view-gallery-collections .gallery-items li a:hover,
body.layout-gallery .view-visualizations .gallery-items li a:hover {
  text-decoration: none;
}

/**
 * Pagers
 */
div.pager {
  clear: both;
  text-align: center;
}

ul.pager {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  border: 2px solid #C9CACC;
  margin-bottom: 0;
}
ul.pager {
  *display: inline;
}
ul.pager li {
  display: inline;
  float: left;
  margin-bottom: 0;
}
ul.pager li a, ul.pager li span {
  display: inline;
  float: left;
  background-color: #e4e4dc;
  font-size: 12px;
  height: 28px;
  line-height: 28px;
  padding: 0 8px;
}
ul.pager li a {
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
ul.pager li a:hover {
  background-color: #7f888d;
  color: white;
  text-decoration: none;
}
ul.pager li.first a, ul.pager li.first span {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -khtml-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -khtml-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
ul.pager li.last a, ul.pager li.last span {
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -o-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -khtml-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -khtml-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
ul.pager li.pager-current span {
  color: #781609;
}

/**
 * Search results
 */
.page-search ol li.search-result {
  margin-bottom: 0;
}

/**
 * Views
 */
.view-footnote-taxonomy ol,
.page-search ol {
  margin-left: 0;
  margin-bottom: 0;
}

.view-footnote-taxonomy ol li {
  margin-bottom: 4px;
}
.view-footnote-taxonomy ol li a {
  display: block;
  padding: 10px 0 10px 16px;
  color: #333;
}
.view-footnote-taxonomy ol a.active {
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -o-border-top-left-radius: 6px;
  -ms-border-top-left-radius: 6px;
  -khtml-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -o-border-bottom-left-radius: 6px;
  -ms-border-bottom-left-radius: 6px;
  -khtml-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: #F3EEDA;
  border: 1px solid #e4e4dc;
  border-right: none;
  color: black;
}

.view-footnote-taxonomy ol {
  list-style: none;
}
.view-footnote-taxonomy ol li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}

/**
 * Footer box
 */
#block-boxes-footer-box-left {
  text-align: center;
}

#block-boxes-footer-box-left .content a {
  display: block;
  width: 165px;
  height: 32px;
  background: url("../images/opensourcery-logo.png") no-repeat top center;
  text-indent: -9999px;
}

#block-boxes-footer-box-left .content a:hover {
  background-position: bottom center;
}
