$h2-font-size: 24px;
$background-color: #fff;
$hover-opacity: 0.5;
$icon-height: 35px;
$icon-width: 35px;
$count-color: #509eba;

@mixin box-shadow($params) {
  -webkit-box-shadow: $params;
  -moz-box-shadow: $params;
  -ms-box-shadow: $params;
  box-shadow: $params;
}

.sticky-wrapper {
  text-align: center;
  background: rgba(255, 255, 255, 0.85);
  display: inline;
  .stickable {
    display: none;
    text-align: center;
    background: $background-color;
    padding: 15px;
    &.stuck {
      display: block;
      line-height: 30px;
      border-bottom: 2px solid #000;
      position: fixed;
      margin: 0 auto;
      top: 0;
      text-align: center;
      width: 100%;
      background: #fff;
      opacity: 1;
      z-index: 1001;
      @include box-shadow(0 8px 10px -6px rgba(0, 0, 0, 0.4));
    }
  }
  h2.title {
    font-size: $h2-font-size;
    margin: 0 20px 0 0;
    display: inline-block;
    padding: 0;
  }
  .item-list {
    display: inline;
  }
  .share_list {
    list-style: none;
    padding-left: 0;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    li {
      margin: 0 0 0 25px;
      display: inline-block;
    }
    div {
      float: left;
      display: inline-block;
      width: auto;
      height: auto;
      &:hover {
        opacity: $hover-opacity;
      }
    }
    .share {
      float: left;
      padding: 0;
      text-indent: -9999px;
      display: block;
      margin-right: 5px;
      height: $icon-height;
      width: $icon-width;
      overflow: hidden;
      &.googlePlus {
        background: url(../icons/icons.png) -153px 0 no-repeat;
      }
      &.facebook {
        background: url(../icons/icons.png) -102px 0 no-repeat;
      }
      &.twitter {
        background: url(../icons/icons.png) 0 0 no-repeat;
      }
      &.digg {
        background: url(../icons/icons.png) -203px -101px no-repeat;
      }
      &.delicious {
        background: url(../icons/icons.png) -561px -101px no-repeat;
      }
      &.stumbleupon {
        background: url(../icons/icons.png) -255px -101px no-repeat;
      }
      &.linkedin {
        background: url(../icons/icons.png) 0 -50px no-repeat;
      }
      &.pinterest {
        background: url(../icons/icons.png) -50px 0 no-repeat;
      }
    }
    a {
      padding: 10px;
      margin: 0;
      display: inline-block;
      opacity: 1;
      background: none;
    }
    .count {
      display: inline-block;
      margin-left: 10px;
      line-height: 33px;
      a {
        padding: 0;
        color: $count-color;
        text-decoration: none;
      }
    }
  }
}

body {
  &.admin-menu {
    .stuck {
      margin-top: 29px !important;
    }
  }
  &.admin-menu-with-shortcuts {
    .stuck {
      margin-top: 65px !important;
    }
  }
}

@import '_media';
