/**
 * @file
 * CSS for the timezone picker map.
 */
.timezone-picker-wrapper {
  overflow: auto;
  max-width: 100%;
  padding: 0;
}
.timezone-picker {
  border: 1px solid #CCC;
}
.timezone-picker-pin {
  background: transparent url(images/pin.png) no-repeat top center;
  width: 13px;
  height: 21px;
  margin-top: 3px; /* Adjust for pin bottom to ignore shadow. */
}
.form-type-timezone-picker input.form-submit,
.form-type-timezone-picker select.form-select {
  vertical-align: middle;
  margin: 10px 10px 10px 0; /* RTL */
}
.form-type-timezone-picker .ajax-progress {
  padding-top: 0;
  padding-bottom: 0;
}
.form-type-timezone-picker .ajax-progress .message {
  background: transparent none;
}
