
body.page-admin-config-people-state div.locale-default {
  font-size: 0.95em;
  color: #444;
  margin: 0;
}
body.page-admin-config-people-state div.frntndsttngs,
body.page-admin-config-people-state div.form-item-state--enovrrd {
  display: none;
}
body.page-admin-config-people-state div.title-local-en-override {
  font-weight: bold;
  margin: 20px 0 0;
}
body.page-admin-config-people-state div.description-local-en-override {
  margin: 3px 0;
}
body.page-admin-config-people-state div.form-item.local-en-override {
  margin-bottom: 0;
  padding: 5px 0;
}
body.page-admin-config-people-state div.form-item.form-type-checkbox label {
  font-size: 1em;
  font-weight: bold;
  padding-left: 0.2em;
}
body.page-admin-config-people-state div.description {
  line-height: 1.4em;
}
body.page-admin-config-people-state h5.admin-module-state-warning,
body.page-admin-config-people-state p.admin-module-state-warning {
  color: #BB0000;
}
body.page-admin-config-people-state fieldset#edit-override-english div.form-item {
  padding-top: 0;
}
body.page-admin-config-people-state fieldset#edit-override-english div.fieldset-description {
  padding-bottom: 9px;
}


body.page-admin-config-people-state fieldset fieldset {
  max-width: 1300px;
}
body.page-admin-config-people-state fieldset fieldset fieldset {
  max-width: 1250px;
  background-color: inherit;
}
body.page-admin-config-people-state div.form-item.form-type-textarea {
  max-width: 1250px;
}
body.page-admin-config-people-state fieldset#edit-frontend-session-configure legend span.fieldset-legend {
  text-transform: none;
}
body.page-admin-config-people-state textarea[disabled="disabled"] {
  background-color: #EEE;
}
body.page-admin-config-people-state h5 {
  font-size: 1.04em;
  margin: 16px 0 3px;
}
body.page-admin-config-people-state #edit-help p,
body.page-admin-config-people-state #edit-frontend-session-management p {
  margin: 0.4em 0 0.4em;
}

body.page-admin-config-people-state div.form-type-checkbox.form-item-state--nfrclgt {
  padding-top: 1em;
}

body.page-admin-config-people-state div.form-item.form-type-checkbox.form-item-state--frntnd {
  padding-top: 10px;
}

body.page-admin-config-people-state div.columns-2 {
  vertical-align: top;
}
body.page-admin-config-people-state div.columns-2 > div {
  float: left;
  min-width: 400px;
  max-width: 500px;
  padding: 0 20px;
  border-right: 1px solid #CCC;
}
body.page-admin-config-people-state div.columns-2 > div:first-child {
  padding-left: 0;
}
body.page-admin-config-people-state div.columns-2 > div:last-child {
  padding-right: 0;
  border: none;
}

body.page-admin-config-people-state div.columns-3 {
  vertical-align: top;
  padding: 20px 0 0;
  border-bottom: 1px solid #CCC;
}
body.page-admin-config-people-state div.columns-3 > div {
  float: left;
  min-width: 300px;
  max-width: 450px;
  margin-left: 20px;
  margin-right: 20px;
}
body.page-admin-config-people-state div.columns-3 > div:first-child  {
  margin-left: 0;
}
body.page-admin-config-people-state div.columns-3 > div:last-child  {
  margin-right: 0;
}
body.page-admin-config-people-state div.columns-2:after,
body.page-admin-config-people-state div.columns-3:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
body.page-admin-config-people-state div.columns-3 > div > div {
  padding-top: 0;
}
body.page-admin-config-people-state div.columns-3.admin-module-state-warning div.form-item.form-type-checkboxes label {
  color: #BB0000;
}

body.page-admin-config-people-state div.form-checkboxes {
  padding: 5px 0;
  border: 1px solid #CCC;
}
body.page-admin-config-people-state div.form-checkboxes div.form-type-checkbox {
  padding: 2px 10px;
  background-color: #EEE;
}
body.page-admin-config-people-state div.form-checkboxes div.form-type-checkbox.form-item-state--prlngcnd--2,
body.page-admin-config-people-state div.form-checkboxes div.form-type-checkbox.form-item-state--prlnguncnd--2 {
  background-color: #FFF;
}
body.page-admin-config-people-state div.form-checkboxes div.form-type-checkbox.form-item-state--prlngcnd--1,
body.page-admin-config-people-state div.form-checkboxes div.form-type-checkbox.form-item-state--prlnguncnd--1 {
  color: #FFF;
  background-color: #999;
}
body.page-admin-config-people-state div.form-item.form-item-state--srvrlife input,
body.page-admin-config-people-state div.form-item.form-item-state--chckntrvl input {
  text-align: right;
}

/* Documentation */
body.page-admin-config-people-state #edit-functions h5 {
  font-size: 1.04em;
  margin: 15px 0 3px;
}
body.page-admin-config-people-state span.code {
  font-family: Menlo, Consolas, "Andale Mono", "Lucida Console", "Nimbus Mono L", "DejaVu Sans Mono", monospace, "Courier New";
  color: #0000C0;
  font-size: 1.05em;
}
body.page-admin-config-people-state span.code.emph {
  font-weight: bold;
}
body.page-admin-config-people-state span.code.weak {
  color: #333;
}