@import "base";

.section-admin {
  table {
    width: 100%;
    td.menu-operations {
      a {
        @include button($font-size: 1.1em);
        padding: .2em .5em;
      }
    }
  }
}


.section-admin, .section-node-add {
  dt {
  }
  dd {
    margin: 0 0 20px 0;
    padding-bottom: 20px;    
    border-bottom: 1px solid lighten($md-grey, 15%);
  }
  div.admin-panel .body {
    padding: 0 4px 2px 0;
  }
}

#edit-redhen-contact-email{
  th.field-label {
    padding: .5em 1em;
    color: black;
    font-family: $header-font-family;
    font-size: 1.1em;
  }
  label {
    color: black;
  }
  td {
    padding: 9px 5px;
  }
  .form-item-redhen-contact-email-und-0-label-id {
    display: block;
  }
  .form-item-redhen-contact-email-und-0-default {
    clear: left;
    margin-left: 72%;
  }
}

.page-admin-structure-views {
  .action-links {
    li {
      float: left;
    }
  }
}

.form-actions {
  width: 100%;
  input {
    display: inline;
  }
}

.vertical-tabs {
  .fieldset-wrapper {
    margin-top: 0;
    background: white;
    border: none;
    padding: 0 1em;
  }
}

.section-admin {
  ul.action-links {
    margin: 3em 0;
    li {
      display: inline-block;
      margin-right: 1em;
    }
  }
}

.theme-selector .operations li {
  padding: 0 1em;
}
.theme-selector .operations li.last {
  padding: 0 0 0 1em; /* LTR */
}
.theme-selector .operations li.first {
  padding: 0 1 0 0; /* LTR */
}

.page-admin-structure-redhen {
  .admin-list dt {
    font-family: $header-font-family;
    font-size: 1.4em;
  }
}

/* Module overrides -- need to move some where else */
.views-displays .secondary a:hover, .views-displays .secondary .active a {
  color: $link-color;
}

.page-admin-reports-updates {

  .version-links {
    li {
      list-style: none;
      margin-bottom: 1em;
    }
  }

  .update table.version .version-title {
    padding-left: 1em;
    width: 9em;
  }

  .info {
    .placeholder {
      color: $body-font-color;
      text-transform: capitalize
    }
  }
}
