/**
 * @file
 * Tabs Styling
 *
 * Adds styles for the primary and secondary tabs.
 *
 * Compare this with default CSS found in the system module's stylesheet (a copy
 * of which is in drupal7-reference.css.)
 */

@import "base";


// Some variables to make altering the styling easier.
$tabs-container-bg: #fff;
$tabs-border: #bbb;


/*
 * Basic positioning styles shared by primary and secondary tabs.
 */

ul.primary,
ul.secondary {
  @include clearfix;
  list-style: none;
  white-space: nowrap;

  li {
    float: left; /* LTR */
  }

}

/*
 * Primary tabs
 */

ul.primary {
  margin: 10px 0 20px 0;
  padding: 1em 1em 0 0;
  @include tabbed-navigation();
}

/*
 * Secondary tabs
 */

// Need mixin here
ul.secondary {

  margin-top: 1em; 
  margin-bottom: 50px;
  padding-bottom: 1em;
  width: 99.5%;
  margin-left: 0;
  padding: 0;

  li.active a {
    @include background-image(linear-gradient(#F8F8F8,#ECECEC,#F8F8F8));
    color: #444;
    
    &:hover {
      color: #444
    }
  }
  
  a {
    font-family: $header-font-family;
    @include border-radius(2px);
    @include background-image(linear-gradient(#F8F8F8,#ECECEC,#F8F8F8));
    padding: 0 8px;
    border: 1px solid #c6c6c6;
    font-size: 1em;
    color: $link-color;
    text-transform: lowercase;
    font-weight: bold;
    letter-spacing: .05em;
    display: block;
    margin-left: 5px;
    
    &:hover {
      @include background-image(linear-gradient(#F8F8F8,#eeeeee,#fefefe));
      color: $orange;
      border: 1px solid #c6c6c6;
      text-decoration: none;
    }
    
    &:active {
      @include background-image(linear-gradient(darken(#F8F8F8, 5%),#ECECEC,darken(#F8F8F8, 5%)));
    }
  }
}
