@import "base";

.profile {
  clear: both;
  margin: 1em 0;
}

.profile .user-picture {
  float: right; /* LTR */
  margin: 0 1em 1em 0; /* LTR */
}

.profile h3 {
  border-bottom: 1px solid #ccc;
  width: 75%;
}

.profile dl {
  margin: 0 0 1.5em 0;
}

.profile dt {
  margin: 0 0 0.2em 0;
  font-weight: bold;
}

.profile dd {
  margin: 0 0 1em 0;
}

.user-picture {
  img {
    border: 1px solid #EDEDED;
    padding: 5px;
    @include border-radius(5px);
  }
}