/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Image styles */
.moon {
  height: 52px;
  width: 52px;
  overflow: hidden;
  background: transparent url("../images/moon.png") no-repeat center center;
  position: relative;
  margin: 10px;
}
.moon .moonmask {
  height: 52px;
  width: 52px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
}
.moon .moonmask .overlay {
  position: absolute;
  top: 0;
  width: 26px;
  height: 52px;
}
.moon .moonmask .overlay.left {
  left: 0;
}
.moon .moonmask .overlay.right {
  right: 0;
}
.moon .moonmask .overlay img {
  opacity: 0.9;
  filter: alpha(opacity=90);
  height: 100%;
}

/* Layout */
.moon-image {
  width: 72px;
  float: left;
  margin: 0 10px 10px 0;
}

/* Calendar */
#moon_phase_page .moon-header,
#moon-cal .moon-header {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  border: 1px solid #eeeeee;
}
#moon_phase_page #moonav,
#moon-cal #moonav {
  width: 100%;
  font-size: 24px;
  text-align: center;
}
#moon_phase_page #moonav .moon-prev,
#moon-cal #moonav .moon-prev {
  font-weight: bold;
  margin-right: 10px;
}
#moon_phase_page #moonav .moon-next,
#moon-cal #moonav .moon-next {
  font-weight: bold;
  margin-left: 10px;
}
#moon_phase_page #cal-head,
#moon-cal #cal-head {
  display: block;
  margin: 0;
  padding: 0;
  border-top: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
#moon_phase_page #cal-head .dow,
#moon-cal #cal-head .dow {
  text-align: center;
  border: 0;
  margin: 0;
}
@media screen and (max-width: 519px) {
  #moon_phase_page #cal-head .dow,
  #moon-cal #cal-head .dow {
    display: none;
  }
}
@media screen and (min-width: 520px) {
  #moon_phase_page #cal-head .dow,
  #moon-cal #cal-head .dow {
    display: none;
  }
}
@media screen and (min-width: 961px) {
  #moon_phase_page #cal-head .dow,
  #moon-cal #cal-head .dow {
    width: 14.1%;
    max-width: 14.1%;
    min-width: 14.1%;
    display: inline-block;
    border-right: 1px solid #eeeeee;
  }
}
#moon_phase_page #cal,
#moon-cal #cal {
  width: 100%;
  border-top: 1px solid #eeeeee;
}
#moon_phase_page #cal .moon-cell,
#moon-cal #cal .moon-cell {
  padding: 5px;
  font-size: 12px;
  text-align: center;
}
#moon_phase_page #cal .moon-cell.day,
#moon-cal #cal .moon-cell.day {
  /* Calendar cell day background color and font-color */
}
@media screen and (max-width: 519px) {
  #moon_phase_page #cal .moon-cell.day,
  #moon-cal #cal .moon-cell.day {
    background-color: none;
    color: #000;
  }
}
@media screen and (min-width: 520px) {
  #moon_phase_page #cal .moon-cell.day,
  #moon-cal #cal .moon-cell.day {
    background-color: none;
    color: #000;
  }
}
@media screen and (min-width: 961px) {
  #moon_phase_page #cal .moon-cell.day,
  #moon-cal #cal .moon-cell.day {
    background-color: #4c88c3;
    color: #fff;
  }
}
#moon_phase_page #cal .moon-cell.night,
#moon-cal #cal .moon-cell.night {
  /* Calendar cell night background color and font-color */
}
@media screen and (max-width: 519px) {
  #moon_phase_page #cal .moon-cell.night,
  #moon-cal #cal .moon-cell.night {
    background-color: none;
    color: #000;
  }
}
@media screen and (min-width: 520px) {
  #moon_phase_page #cal .moon-cell.night,
  #moon-cal #cal .moon-cell.night {
    background-color: none;
    color: #000;
  }
}
@media screen and (min-width: 961px) {
  #moon_phase_page #cal .moon-cell.night,
  #moon-cal #cal .moon-cell.night {
    background-color: #000;
    color: #fff;
  }
}
@media screen and (max-width: 519px) {
  #moon_phase_page #cal .moon-cell,
  #moon-cal #cal .moon-cell {
    width: 100%;
    display: block;
    margin: 0 2px 5px;
    padding-bottom: 5px;
    clear: both;
    border-bottom: 1px solid #eeeeee;
  }
  #moon_phase_page #cal .moon-cell.first,
  #moon-cal #cal .moon-cell.first {
    margin: 0 2px;
  }
  #moon_phase_page #cal .moon-cell .moon,
  #moon-cal #cal .moon-cell .moon {
    float: left;
    margin: 0 5px 2px 0;
  }
  #moon_phase_page #cal .moon-cell .moon-cal-date,
  #moon-cal #cal .moon-cell .moon-cal-date {
    display: none;
  }
  #moon_phase_page #cal .moon-cell .moon-phase,
  #moon-cal #cal .moon-cell .moon-phase {
    float: left;
    font-size: 20px;
  }
}
@media screen and (max-width: 519px) and (max-width: 519px) {
  #moon_phase_page #cal .moon-cell .moon-phase .moon-long,
  #moon-cal #cal .moon-cell .moon-phase .moon-long {
    font-size: 10px;
    font-weight: bold;
  }
}
@media screen and (max-width: 519px) and (min-width: 520px) {
  #moon_phase_page #cal .moon-cell .moon-phase .moon-long,
  #moon-cal #cal .moon-cell .moon-phase .moon-long {
    font-size: 12px;
  }
}
@media screen and (min-width: 520px) {
  #moon_phase_page #cal .moon-cell,
  #moon-cal #cal .moon-cell {
    width: 100%;
    display: block;
    margin: 0;
    clear: both;
    border-bottom: 1px solid #eeeeee;
  }
  #moon_phase_page #cal .moon-cell.first,
  #moon-cal #cal .moon-cell.first {
    margin: 0;
  }
  #moon_phase_page #cal .moon-cell .moon,
  #moon-cal #cal .moon-cell .moon {
    float: left;
    margin: 0 10px 3px 0;
  }
  #moon_phase_page #cal .moon-cell .moon-cal-date,
  #moon-cal #cal .moon-cell .moon-cal-date {
    display: none;
  }
  #moon_phase_page #cal .moon-cell .moon-phase,
  #moon-cal #cal .moon-cell .moon-phase {
    float: left;
    font-size: 20px;
  }
  #moon_phase_page #cal .moon-cell .moon-phase .moon-long,
  #moon-cal #cal .moon-cell .moon-phase .moon-long {
    font-size: 16px;
  }
}
@media screen and (min-width: 961px) {
  #moon_phase_page #cal .moon-cell,
  #moon-cal #cal .moon-cell {
    position: relative;
    width: 14.1%;
    max-width: 14.1%;
    min-width: 14.1%;
    display: inline-block;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    margin: 0;
    padding: 0;
    vertical-align: top;
    height: 95px;
  }
  #moon_phase_page #cal .moon-cell.first,
  #moon-cal #cal .moon-cell.first {
    border-left: 1px solid #eeeeee;
  }
  #moon_phase_page #cal .moon-cell .moon,
  #moon-cal #cal .moon-cell .moon {
    position: relative;
    margin: 5px 0 0 15px;
  }
  #moon_phase_page #cal .moon-cell .moon-cal-date,
  #moon-cal #cal .moon-cell .moon-cal-date {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px;
  }
  #moon_phase_page #cal .moon-cell .moon-phase,
  #moon-cal #cal .moon-cell .moon-phase {
    clear: left;
    width: 52px;
    margin-left: 15px;
    font-size: 12px;
  }
  #moon_phase_page #cal .moon-cell .moon-phase .moon-long,
  #moon-cal #cal .moon-cell .moon-phase .moon-long {
    display: none;
  }
}

/* Page */
#moon-extra {
  clear: both;
  margin-top: 10px;
  display: block;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
#moon-extra .extra-row {
  width: 100%;
  background-color: #eee;
  border-bottom: 1px solid #000;
  clear: both;
  display: block;
}
#moon-extra .extra-row .left {
  width: 60%;
  display: inline-block;
  padding: 5px;
}
#moon-extra .extra-row .right {
  width: 30%;
  text-align: right;
  display: inline-block;
  padding: 5px;
}
@media screen and (max-width: 519px) {
  #moon-extra .extra-row {
    font-size: 12px;
  }
}
@media screen and (min-width: 520px) {
  #moon-extra .extra-row {
    font-size: 16px;
  }
}
@media screen and (min-width: 961px) {
  #moon-extra .extra-row {
    font-size: 16px;
  }
}

@media screen and (max-width: 519px) {
  #moon_phase_page #moonav {
    font-size: 16px;
    font-weight: bold;
  }
}

/* Misc. */
.moonclear {
  clear: both;
  line-height: 1px;
  margin-top: -1px;
}
