@media screen and (max-width: 1152px) {

  #wrapper {
    max-width:960px;
  }

  #top-area .column:last-child{
    margin-right: 0;
  }
  
}

@media screen and (max-width: 960px) {

  .content-sidebar-wrap,
  #content, #sidebar-first,
  #sidebar-second {
    float:none;
    clear:both;
    width:100% !important;
  }
  
  #sidebar-first,
  #sidebar-second,
  #head, #foot {
    padding:0 3.52%;
  }
  
  #top-area .column{ width: 32%; }

  #sidebar-first, #sidebar-second, #head, #foot{ padding: 0 1.5%; }

  .region-front-welcome{ margin: 1% 2%; }

  .block{ margin-bottom: 2%; }

  .content-sidebar-wrap #content{ margin: 0; }

  #footer_wrapper, #top-area { padding: 0 15px; }

  #post-content{ margin: 10px; }
}

@media screen and (max-width: 640px) {

  .feature .fa { padding: 5px; height: 65px; }

  #logo { text-align: center; width: 100%; }

  #copyright{ padding: 0 12px;}

  body { margin-top: 0; }
  
  .top_left, .top_right,
  .search_block, .region-user-menu{ width: 100%; }

  #footer p{ margin: 0; }

  #copyright p{ margin: 10px 0; }

  .front .content-sidebar-wrap{ margin: 0; }

  .theme-default .nivo-controlNav{ padding-top: 10px; }

  .region-front-welcome{ 
    padding: 10px; 
    margin: 0;
    font-size: 14px;
  }
  
  #site-description { padding-bottom:18px; }

  #main-menu ul { display:none; }
  
  #main-menu li ul { position:static; border: 0; }
  
  #main-menu li ul ul { margin:0 !important; border: 0; }
  
  #main-menu ul,
  #main-menu li { float:none; max-width:100%; }

  #main-menu{ border:0; }
  
  #main-menu a {
    width: 100%;
    padding: 11px;
    color: #333;
    border-radius: 0;
    text-align: center;
    border-bottom: 1px solid #CFCFCF;
    background: #eee;
  }

  #main-menu li li a { 
    text-align: center;
    font-size: 15px;
    padding: 11px;
    background: #888888;
    border-color: #B6B5B5;
  }
  
  #main-menu li:hover > ul,
  #main-menu li li:hover > ul,
  #main-menu li li li:hover > ul {
    display:none;
  }
  
  .drop-down-toggle { display:block; }
  
  #main-menu li li .drop-down-toggle { top:5px; }

  .menu_wrapper{ margin: 0; }

  #main-menu .nav-toggle {
    display: block;
    font-size: 15px;
    font-weight: normal;
    background: #18222B;
    color: white;
    margin: 0;
    padding: 12px;
    letter-spacing: 1px;
    text-align: center;
    background: url(../images/mobile-menu.png) right 16px #18222B no-repeat;
  }

  #main-menu ul.menu li{
    margin: 0;
    width: 100%;
  }

  .content-sidebar-wrap,
  #sidebar-first, 
  #sidebar-second {
    float:none;
    clear: both;
    padding: 0;
    margin: 10px;
  }

  .not-front .content-sidebar-wrap{
    margin: 0;
  }

  .not-front aside{
    border: 0;
    background: none;
  }

  .breadcrumb { margin: 10px; }

  .content-sidebar-wrap #content {
    float: left;
    width:auto;
  }
  
  #sidebar-first .block, 
  #sidebar-second .block,
  #footer-area .column, 
  #top-area .column {
    float:none !important;
    width:auto !important;
    margin-left:0;
  }

  #top-area .column{
    text-align: center;
  }
  
  #footer-area .column, 
  #top-area .column {
    margin:10px;
    padding: 0;
  }

  #top-area .column:first-child,
  #footer-area .column:first-child{
    margin: 10px;
  }
  
  .copyright, .credits {
    float: none;
    text-align: left;
    text-align: center;
  }

  #footer_wrapper, #top-area { padding: 0; }

  .theme-default .nivo-caption{ display: none !important; }

  #logo{ margin: 8px 0; text-align: center; }

  #logo img{ text-align: center; display: inline; }

  #site-title{
    display: inline-block;
    padding: 0;
    width: 100%;
    margin: 5px 0 10px 0;
  }

  #site-title a{ width: 100%; text-align: center; }

  #site-description{
    padding-bottom: 5px;
    width: 100%;
    text-align: center;
  }

  .node { margin: 10px 0; }

  .region-highlights { padding: 20px; }

  .region-front-welcome .block h2{ padding: 5px 0; font-size: 18px; }

  .region-highlights h1 { color: white; margin-bottom: 20px; font-size: 28px; }

  .region-highlights p{ font-size: 13px; text-shadow: none; }

}

@media screen and (max-width: 440px) {

  .region-slideshow{ display: none; }

}