#webform-feedback a {
  display: block;
  background: #0072bc url('../images/feedback-tab.png') top left no-repeat;
  text-indent: -9999em;
  border: none;
  padding: 0;
  width: 36px;
  height: 100px;
}

#webform-feedback a:hover {
  background: #cfb87c url('../images/feedback-tab.png') top left no-repeat;
}

.feedback-button-right a {
  right: -2px;
}

.feedback-button-left a {
  left: -2px;
}

#formclose {
  *top: 100px;
}
