#media-browser-library-list .views-view-fields {
  float: left;
}
.view-views-media-browser.view-display-id-browser_thumbs .views-row {
  float: left;
  padding: 15px;
}

.view-views-media-browser.view-display-id-browser_thumbs .views-row .media-item .label-wrapper {
  margin-left: 0;
}

.media-item .media-item {
  border: none;
  margin: 0;
  padding: 0;
}

.media-item .views-label {
  font-weight: bold;
}

.media-item .views-field {
  font-size: 10px;
  padding: 0 3px;
  white-space: nowrap;
  overflow: hidden;
  background: #fff;
}

.media-item.selected .views-field,
.media-item.selected .media-thumbnail {
  background: #f4ecc7;
}

.media-item .views-field:hover {
    display: inline-block;
    overflow: visible;
    position: relative;
    z-index: 10;
    border: 1px solid #888;
    margin: -1px 0 -2px -1px;
}

.media-item .media-thumbnail a {
  height: 100px;
}
