
/* ------------------------
   level 1
   ------------------------ */

  .menu-ntm-decor-default-span-3 a span span span {
    padding: .5em .8em .7em .8em;
    background-color: #f4f4f4}
  .menu-ntm-decor-default-span-3 li:hover > a span span span,
  .menu-ntm-decor-default-span-3 a.active span span span,
  .menu-ntm-decor-default-span-3 li.active_trail > a span span span {
    background-color: #e3e3e3}

/* ------------------------
   level 2+
   ------------------------ */

  .menu-ntm-decor-default-span-3 ul ul a span span span {
    background-color: #e3e3e3}
  .menu-ntm-decor-default-span-3 ul ul li:hover > a span span span,
  .menu-ntm-decor-default-span-3 ul ul a.active span span span,
  .menu-ntm-decor-default-span-3 ul ul li.active_trail > a span span span {
    background-color: #f4f4f4}

/* ------------------------
   has_child marker
   ------------------------ */

  .menu-ntm-decor-default-span-3 li.has_child > a span span span {
    padding-right: 1.2em;
    background-image: url('../indicator-has_child-type-2.png');
    background-repeat: no-repeat;
    background-position: 100% 50%}
  .menu-ntm-decor-default-span-3-style-down > ul > li.has_child > a span span span {
    background-image: url('../indicator-has_child-type-1.png')}


