#wrap{
	height:400px;
}

#rightside{
	height:490px;
}

#rightside #right_block_inner{
	height:490px;
}

#rightside #right_bottom{
	height:490px;
}

#right_dark .block .blocktitle {
font-size:18px;
margin-right:35px;
margin-top:-32px;
padding:0;
}

#rightside .block ul.menu{
	overflow:hidden;
	width:150px;
}

#primary_menu_bar ul.menu li:hover, #primary_menu_bar ul.menu li.hover{
	background:none;
}

.comment .comment-inner{
	height:181px;
}

.comment .comment-inner2{
	height:151px;
}

#comments .box .content2 {
	height:36px;
}

#content_top, #content_bottom{
	 height:140px;
}

#footer #footer_message{
	width:400px;
}
