api = 2
core = 7.x
projects[libraries] = 2

libraries[slideroom][download][type] = "git"
libraries[slideroom][download][url] = "git@github.com:thinkshout/slideroom-api-php.git"
libraries[slideroom][directory_name] = "slideroom"
libraries[slideroom][destination] = "libraries"
