.node-affiliate-store-product .affiliate-store-thumbnail,
.node-affiliate-store-product .affiliate-store-image {
  float: left;
  margin: 20px;
}

/* Center product image. */
.node-affiliate-store-product .affiliate-store-thumbnail img,
.node-affiliate-store-product .affiliate-store-image img {
  display: block;
  margin: 0 auto;
}

/* Make sure long content does not wraps under image. */
.node-affiliate-store-product .content-wrapper {
  overflow: auto;
  padding: 5px;
}

.node-affiliate-store-product .affiliate-store-terms {
  float: right;
}

.node-affiliate-store-product .affiliate-store-terms div.field-type-taxonomy-term-reference {
  float: left;
  margin: 0 0 5px 10px;
}

.node-affiliate-store-product .affiliate-store-currency,
.node-affiliate-store-product .affiliate-store-price {
  color: #900;
  font-size: 1.35em;
  margin: 10px 0;
}

.node-affiliate-store-product .affiliate-store-url {
  margin: 10px 0;
}

/* CSS button for product link. */
.node-affiliate-store-product .affiliate-store-go {
  background: #65a9d7;
  background: -moz-linear-gradient(top, #3e779d, #65a9d7);
  background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-top: 1px solid #96d1f8;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  color: white;
  font-family: Georgia, serif;
  font-size: 14px;
  padding: 5px 10px;
  text-decoration: none;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  vertical-align: middle;
}
.node-affiliate-store-product .affiliate-store-go:hover {
  background: #28597a;
  border-top-color: #28597a;
  color: #ccc;
}
.node-affiliate-store-product .affiliate-store-go:active {
  background: #1b435e;
  border-top-color: #1b435e;
}

.node-affiliate-store-product .link-wrapper {
  text-align: right;
}

/* Prevent comments from appearing beside the floated image. */
.node-affiliate-store-product #comments {
  clear: both;
}
