/**
 * @file
 * Styles for MVPCreator Theme.
 */


/**
 * For consistency, we make .container full-width when editing in the IPE.
 *
 * Ideally, we'd be doing the reverse, where the pane stayed in the region
 * style after you have move it (right now the panes move out of the region
 * style markup), but consistent is better than inconsistent.
 */
.panels-ipe-editing .mvpcreator-theme-full-width .container {
  width: auto;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

/**
 * 'Fancy and flexible' style.
 */

.region-mvpcreator-theme-bgcolor-default,
.pane-mvpcreator-theme-bgcolor-default {
  background-color: #eee;
}

.region-mvpcreator-theme-bgimage-type-hero,
.pane-mvpcreator-theme-bgimage-type-hero {
  /* Fallback for browsers that don't support 'cover'. */
  background-size: 100% auto;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.region-mvpcreator-theme-bgimage-type-tiled,
.pane-mvpcreator-theme-bgimage-type-tiled {
  background-repeat: repeat;
}

.region-mvpcreator-theme-bgimage-type-stretch,
.pane-mvpcreator-theme-bgimage-type-stretch {
  background-size: 100% 100%;
  background-position: left top;
  background-repeat: no-repeat;
}

.region-mvpcreator-theme-text-light,
.pane-mvpcreator-theme-text-light {
  color: white;
}

/**
 * Container for full width.
 */

.mvpcreator-theme-container-full-width {
}

.mvpcreator-theme-container-full-width .row {
  margin-left: 0;
  margin-right: 0;
}

.mvpcreator-theme-container-full-width .row .col-xs-12,
.mvpcreator-theme-container-full-width .row .col-sm-12,
.mvpcreator-theme-container-full-width .row .col-md-12,
.mvpcreator-theme-container-full-width .row .col-lg-12 {
  padding-left: 0;
  padding-right: 0;
}


/**
 * Drop certain style atributes at mobile sizes.
 *
 * @todo Make breakpoint configurable with Issue #2477975.
 */
@media only screen and (max-width: 768px) {
  .region-mvpcreator-theme-bgimage-type-hero,
  .pane-mvpcreator-theme-bgimage-type-hero {
    background-image: none !important;
  }

  .region-mvpcreator-theme-fancy,
  .region-mvpcreator-theme-fancy .container-inner,
  .pane-mvpcreator-theme-fancy {
    padding: 0 !important;
  }

  .region-mvpcreator-theme-fancy,
  .pane-mvpcreator-theme-fancy {
    min-height: initial !important;
  }
}

/**
 * '10 rows' layout.
 */

/**
 * So that the '10 Rows' layout doesn't have so much empty space when the IPE
 * is used as the renderer, we try to remove the margin added to empty rows.
 */
.panels-ipe-processed > .mvpcreator-theme-10rows > .row {
  margin-bottom: 0;
}
.panels-ipe-processed > .mvpcreator-theme-10rows > .row .panel-pane {
  margin-top: 10px;
  margin-bottom: 10px;
}
