.tgf-slides div,
.tgf-slides a {
  display: inline-block;
  position: relative;
}
.tgf-slides img {
  margin: 0;
}

/*
 * Responsive.
 */
.tgf-carousel-container.tgf-responsive,
.tgf-container.tgf-responsive {
  width: 100%;
}
.tgf-container.tgf-responsive .tgf-slides img {
  width: 100%;
  height: 100%;
}
.tgf-container.tgf-responsive .tgf-controls-container {
  width: 100%;
}
