/**
 * @file
 * Content
 */

@import "base";

#content {

  .submitted {
    color: lighten($grey, 20%);
  }

  @media (max-width: 35em) {
    iframe {
      height: auto;
      width: 100%;
    }
  }
}
