/**
 * @file
 * Messages
 */

@import "base";

div {
  &.messages {
  margin: .3em 0;
  padding: .7em; /* LTR */

   ul {
    margin: 0 0 0 1em; /* LTR */
    padding: 0;

      li {
        list-style-image: none;
      }
    }
  }
}

.status, .ok, .warning, .error {
  color: $white;
}

.status, .ok {
  background-color: $green;
}

.warning {
  background-color: lighten($orange, 30%);
}

.error {
  background-color: $orange;
}
