/**
 * @file
 * Table styling
 */

@import "base";

table {
  width: 100%;
  margin-bottom: 1em;
  padding: 0;
  font-size: 1em;

  th, td {
    border-bottom: 1px solid lighten($grey, 25%);
    padding: .3em .7em;
    vertical-align: top;
  }

  th {
    @include bold;
    border-bottom-width: 2px;
    padding-top: .4em;
  }

  p {
    margin: 0;
  }
}

tr {
  &.odd {
    background-color: lighten($green, 45%);
  }

  &.even {
    background-color: $white;
  }

  &:hover td, &:hover td.active  {
    background-color: lighten($orange, 50%);
  }

  &.active {
    color: $light-blue;
  }

  &.odd td.active {
    background-color: lighten($light-blue, 10%);
  }

  &.even td.active {
    background-color: lighten($grey, 10%);
  }
}
