.dnd-library-wrapper .editor-item .meta.type-gallery {
  background-image: url('icons/gallery.png');
}
.scald-menu .add-buttons .add-gallery {
  background: url('icons/gallery-large-inverted.png') 50% 50% no-repeat;
}
.scald-menu .add-buttons .add-gallery:hover {
  background-image: url('icons/gallery-large-color.png');
}

