<?php
/**
 * @file
 * Example drushrc.php file with dropfort options (see the end of the file)
 *
 * @see https://github.com/drush-ops/drush/blob/6.x/examples/example.drushrc.php
 */


/**
 * Examples of valid statements for a Drush runtime config (drushrc) file.
 * Use this file to cut down on typing out lengthy and repetitive command line
 * options in the Drush commands you use and to avoid mistakes.
 *
 * Rename this file to drushrc.php and optionally copy it to one of the places
 * listed below in order of precedence:
 *
 * 1.  Drupal site folder (e.g. sites/{default|example.com}/drushrc.php).
 * 2.  Drupal /drush and sites/all/drush folders.
 * 3.  In any location, as specified by the --config (-c) option.
 * 4.  User's .drush folder (i.e. ~/.drush/drushrc.php).
 * 5.  System wide configuration folder (e.g. /etc/drush/drushrc.php).
 * 6.  Drush installation folder.
 *
 * If a configuration file is found in any of the above locations, it will be
 * loaded and merged with other configuration files in the search list.
 */

/**
 * Dropfort Configuration
 */

/**
 * To allow authentication to occur when no Drupal site is installed, you can
 * specify an authorization token here. You can see the list of your user's
 * authentication tokens at /user/tokens on your connected Dropfort site.
 */
$options['dropfort_userauth_token'] = '123456789';

/**
 * Define the base URL to the Dropfort instance for this site (no trailing slash).
 *
 * Default is https://app.dropfort.com
 */
$options['dropfort_url'] = 'https://app.dropfort.com';