.etracker.account-setup {
  background-color: #ff8700;
  background-image: url('https://www.etracker.com/static/images/etracker_e_38px.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  min-height: 54px;
  padding: 3px 3px 3px 60px;
  margin: 0 20% 0 10%;
}
.etracker.account-setup .field {
  font-weight: bold;
  padding-right: 10px;
}
