.jqplot-axis {
  font-size: 0.85em;
}
.jqplot-xaxis {
  width: 475px !important;
}
.jqplot-table-legend {
  width: auto;
}
.jqplot-title {
  font-size: 1.1em;
}
.jqplot-xaxis-label {
  width: 70px;
}
.jqplot-xaxis-tick{
  padding: 0 5px;
  width: 50px;
}
select, input {
  margin-right: 15px;
}
#chart1 {
  margin-bottom: 40px;
}
