/*
    Document   : domain_finder
*/

#edit-exts {
  clear: both;
}

#block-domain-finder-domain-finder-page-search .form-item,
#block-domain-finder-domain-finder-search .form-item {
  margin: 0.5em 0;
}

#block-domain-finder-domain-finder-page-search,
#block-domain-finder-domain-finder-search {
  display: inline-block;
  width: 300px;
}


#block-domain-finder-domain-finder-page-search #edit-domain-text,
#block-domain-finder-domain-finder-search #edit-domain-text {
  float: left;
  width: 200px;
}

#block-domain-finder-domain-finder-page-search .form-item label.option,
#block-domain-finder-domain-finder-search .form-item label.option {
  vertical-align: middle;
}

#block-domain-finder-domain-finder-page-search .form-item.form-type-checkbox,
#block-domain-finder-domain-finder-search .form-item.form-type-checkbox {
  float: left;
  margin-right: 5px;
}

.status.domain .domain.name {
  font-weight: bold;
}

.domain.finder.results li.status.domain.engage {
  color: red;
}

.domain.finder.results li.status.domain.free {
  color: green;
}
