* { border-color: #c7c7c7; }

body { color: #343434; background: #fcfcfc; }

h1, h2, h3, h4, h5, h6 { color: #736254; }

body a:link, body a:visited { color: #1d50c3; }
body a:hover, body a:active { color: #0d3796; }

::-webkit-input-placeholder { color: #666666; }

:-moz-placeholder { color: #666666; }

::-moz-placeholder { color: #666666; }

:-ms-input-placeholder { color: #666666; }

.form-item label { color: #666666; }

.description { color: #777777; }

.user-menu-style-bar .zone-user-wrapper { background-color: #858585; border-color: #9f9f9f #9f9f9f #6c6c6c #6c6c6c; color: #e5e5e5; box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); }
.user-menu-style-bar .zone-user-wrapper .block-user-menu ul { background-color: #858585; border-color: #858585 #6c6c6c #858585 #9f9f9f !important; padding-left: 0; padding-right: 0; }
.user-menu-style-bar .zone-user-wrapper .block-user-menu ul > li { background-color: #858585; border-color: #9f9f9f #9f9f9f #6c6c6c #6c6c6c; color: #e5e5e5; }
.user-menu-style-bar .zone-user-wrapper .block-user-menu ul > li.active-trail, .user-menu-style-bar .zone-user-wrapper .block-user-menu ul > li.active, .user-menu-style-bar .zone-user-wrapper .block-user-menu ul > li:hover, .user-menu-style-bar .zone-user-wrapper .block-user-menu ul > li:active { background-color: #6c6c6c; }
.user-menu-style-bar .zone-user-wrapper .block-user-menu ul > li > a:link, .user-menu-style-bar .zone-user-wrapper .block-user-menu ul > li > a:visited, .user-menu-style-bar .zone-user-wrapper .block-user-menu ul > li > a:hover, .user-menu-style-bar .zone-user-wrapper .block-user-menu ul > li > a:active { color: #e5e5e5; }
.user-menu-style-bar .zone-user-wrapper .block-user-menu ul > li > a.active, .user-menu-style-bar .zone-user-wrapper .block-user-menu ul > li > a.active-trail, .user-menu-style-bar .zone-user-wrapper .block-user-menu ul > li > a:hover, .user-menu-style-bar .zone-user-wrapper .block-user-menu ul > li > a:active { background-color: #6c6c6c; }

.user-menu-style-tabs .block-user-menu ul li a { color: #e5e5e5; background-color: #858585; border-color: #9f9f9f #6c6c6c #6c6c6c #9f9f9f; }
.user-menu-style-tabs .block-user-menu ul li a:link { color: #e5e5e5; background-color: #858585; }
.user-menu-style-tabs .block-user-menu ul li a:visited { color: #e5e5e5; background-color: #858585; }
.user-menu-style-tabs .block-user-menu ul li a.active, .user-menu-style-tabs .block-user-menu ul li a:hover, .user-menu-style-tabs .block-user-menu ul li a:active { background-color: #6c6c6c; border-color: #6c6c6c; color: #e5e5e5; }

.site-name-slogan h1, .site-name-slogan h2, .site-name-slogan h6, .site-name-slogan a:link, .site-name-slogan a:visited, .site-name-slogan a:hover, .site-name-slogan a:active { color: #736254; }

.page-options-header-gradient #page { background-image: -webkit-gradient(linear, 50% 0%, 50% 200, color-stop(0%, #858585), color-stop(100%, #fcfcfc)); background-image: -webkit-linear-gradient(#858585, #fcfcfc 200px); background-image: -moz-linear-gradient(#858585, #fcfcfc 200px); background-image: -o-linear-gradient(#858585, #fcfcfc 200px); background-image: linear-gradient(#858585, #fcfcfc 200px); }

.zone-menu-wrapper { border-color: #858585; }

.navigation ul.links { border-color: #858585 #6c6c6c #858585 #9f9f9f; }
.navigation ul.links li a { color: #858585; }
.navigation ul.links li a:hover, .navigation ul.links li a.active, .navigation ul.links li a.active-trail { background: #858585; color: #e5e5e5; }
.navigation ul.links li:after, .navigation ul.links li:before { color: #858585; }
.navigation ul.links ul { border-color: #858585; background-color: #fcfcfc; }
.navigation ul.links ul ul li { border-color: #fcfcfc; }

.main-menu-block .navigation { border-color: #c7c7c7; background-color: #c7c7c7; }
.main-menu-block .navigation ul.links ul { border-color: #c7c7c7 !important; background-color: #c7c7c7; }
.main-menu-block .navigation ul.links ul li { border-color: #c7c7c7 !important; }

.main-menu-no-tabs .navigation ul.links.main-menu { background-color: transparent; }
.main-menu-no-tabs .navigation ul.links.main-menu li { background-color: transparent; }
.main-menu-no-tabs .navigation ul.links.main-menu li a { background-color: transparent; }
.main-menu-no-tabs .navigation ul.links.main-menu li a:hover, .main-menu-no-tabs .navigation ul.links.main-menu li a.active, .main-menu-no-tabs .navigation ul.links.main-menu li a.active-trail { color: #858585; opacity: .5; }

.main-menu-no-tabs .navigation ul.links.main-menu ul { background-color: #fcfcfc; border-color: #858585; }
.main-menu-no-tabs .navigation ul.links.main-menu ul li { border-left-color: #fcfcfc !important; }
.main-menu-no-tabs .navigation ul.links.main-menu ul li a { color: #858585; }
.main-menu-no-tabs.main-menu-linkcolor .navigation ul.links.main-menu ul { border-color: #1d50c3; }
.main-menu-no-tabs.main-menu-linkcolor .navigation ul.links.main-menu ul li a { color: #1d50c3; }
.main-menu-no-tabs.main-menu-block .navigation ul.links.main-menu ul { background-color: #c7c7c7; border-color: #c7c7c7 !important; }
.main-menu-no-tabs.main-menu-block .navigation ul.links.main-menu ul li { border-left-color: #c7c7c7; }
.main-menu-no-tabs.main-menu-block.block-bg-pagebg .navigation ul.links.main-menu ul { background-color: #fcfcfc; }
.main-menu-no-tabs.main-menu-block.block-bg-pagebg .navigation ul.links.main-menu ul li { border-left-color: #fcfcfc !important; }
.main-menu-no-tabs.main-menu-block.block-bg-white .navigation ul.links.main-menu ul { background-color: white; }
.main-menu-no-tabs.main-menu-block.block-bg-white .navigation ul.links.main-menu ul li { border-left-color: white !important; }

.main-menu-linkcolor .zone-menu-wrapper { border-color: #1d50c3; }
.main-menu-linkcolor .navigation ul.links { border-color: #1d50c3; }
.main-menu-linkcolor .navigation ul.links ul.main-menu { border-color: #1d50c3; }
.main-menu-linkcolor .navigation ul.links li a { color: #1d50c3; }
.main-menu-linkcolor .navigation ul.links li a:hover, .main-menu-linkcolor .navigation ul.links li a.active, .main-menu-linkcolor .navigation ul.links li a.active-trail { background: #1d50c3; color: #e5e5e5; }
.main-menu-linkcolor .navigation ul.links li:after, .main-menu-linkcolor .navigation ul.links li:before { color: #1d50c3; }
.main-menu-linkcolor .navigation ul.links ul { border-color: #1d50c3; }
.main-menu-linkcolor.main-menu-no-tabs .navigation ul.links.main-menu li a { background: transparent; color: #1d50c3; }
.main-menu-linkcolor.main-menu-no-tabs .navigation ul.links.main-menu li a:hover, .main-menu-linkcolor.main-menu-no-tabs .navigation ul.links.main-menu li a.active, .main-menu-linkcolor.main-menu-no-tabs .navigation ul.links.main-menu li a.active-trail { color: #343434; }

.main-menu-titlecolor .zone-menu-wrapper { border-color: #736254; }
.main-menu-titlecolor .navigation ul.links { border-color: #736254; }
.main-menu-titlecolor .navigation ul.links ul.main-menu { border-color: #736254; }
.main-menu-titlecolor .navigation ul.links li a { color: #736254; }
.main-menu-titlecolor .navigation ul.links li a:hover, .main-menu-titlecolor .navigation ul.links li a.active, .main-menu-titlecolor .navigation ul.links li a.active-trail { background: #736254; color: #e5e5e5; }
.main-menu-titlecolor .navigation ul.links li:after, .main-menu-titlecolor .navigation ul.links li:before { color: #736254; }
.main-menu-titlecolor.main-menu-no-tabs .navigation ul.links.main-menu li a { background: transparent; color: #736254; }
.main-menu-titlecolor.main-menu-no-tabs .navigation ul.links.main-menu li a:hover, .main-menu-titlecolor.main-menu-no-tabs .navigation ul.links.main-menu li a.active, .main-menu-titlecolor.main-menu-no-tabs .navigation ul.links.main-menu li a.active-trail { color: #343434; }

.main-menu-secondarycolor .zone-menu-wrapper { border-color: #dcd9b7; }
.main-menu-secondarycolor .navigation ul.links { border-color: #dcd9b7; }
.main-menu-secondarycolor .navigation ul.links ul.main-menu { border-color: #dcd9b7; }
.main-menu-secondarycolor .navigation ul.links li a { color: #dcd9b7; }
.main-menu-secondarycolor .navigation ul.links li a:hover, .main-menu-secondarycolor .navigation ul.links li a.active, .main-menu-secondarycolor .navigation ul.links li a.active-trail { background: #dcd9b7; color: #e5e5e5; }
.main-menu-secondarycolor .navigation ul.links li:after, .main-menu-secondarycolor .navigation ul.links li:before { color: #dcd9b7; }
.main-menu-secondarycolor.main-menu-no-tabs .navigation ul.links.main-menu li a { background: transparent; color: #dcd9b7; }
.main-menu-secondarycolor.main-menu-no-tabs .navigation ul.links.main-menu li a:hover, .main-menu-secondarycolor.main-menu-no-tabs .navigation ul.links.main-menu li a.active, .main-menu-secondarycolor.main-menu-no-tabs .navigation ul.links.main-menu li a.active-trail { color: #343434; }

footer.section-footer { background-color: #c7c7c7; border-top: 1px solid #c7c7c7; color: #4e4e4e; }
footer.section-footer a:link, footer.section-footer a:visited { color: #3e6cd5; }
footer.section-footer a:hover, footer.section-footer a.active, footer.section-footer a.active-trail { color: #1d50c3; }

.zone-content-wrapper, .page-options-inset-header .page .zone-content-wrapper, .page-options-inset-header .page .zone-menu-wrapper { background-color: #fcfcfc; }

.page-options-shadowed-page .zone-content { background-color: #fcfcfc; }

.section-content .block { border-color: #c7c7c7; background-color: #c7c7c7; }
.section-content .block .block-title { z-index: 2; }
.section-content .block .block-title:after { border-right: 5px solid #9f9f9f !important; }
.section-content .block .block-title:before { border-left: 5px solid #9f9f9f !important; }

.headers-banner.block .block-title, .headers-banner .section-content .block .block-title, .headers-banner-right.block .block-title, .headers-banner-right .section-content .block .block-title { color: #e5e5e5; background: #858585; }

.headers-colored .section-content .block .block-title, .block.headers-colored .block-title { background-color: #858585; border-color: #9f9f9f #9f9f9f #6c6c6c #6c6c6c; color: #e5e5e5; }

.headers-link-text.block .block-title, .headers-link-text .section-content .block .block-title { color: #1d50c3; }

.headers-link-bg.block .block-title, .headers-link-bg .section-content .block .block-title { background: #1d50c3; color: #e5e5e5; }
.headers-link-bg.block .block-title:after, .headers-link-bg .section-content .block .block-title:after { border-right: 5px solid #1d50c3 !important; }
.headers-link-bg.block .block-title:before, .headers-link-bg .section-content .block .block-title:before { border-left: 5px solid #1d50c3 !important; }

.headers-secondary-text.block .block-title, .headers-secondary-text .section-content .block .block-title { color: #dcd9b7; }

.headers-secondary-bg.block .block-title, .headers-secondary-bg .section-content .block .block-title { background: #dcd9b7; }
.headers-secondary-bg.block .block-title:after, .headers-secondary-bg .section-content .block .block-title:after { border-right: 5px solid #dcd9b7 !important; }
.headers-secondary-bg.block .block-title:before, .headers-secondary-bg .section-content .block .block-title:before { border-left: 5px solid #dcd9b7 !important; }

.view .view-content > h3 { color: #343434; }
.view .view-content .views-row { border-color: #c7c7c7; }

a.more-link, .more-link a { color: #e5e5e5; background-color: #858585; border-color: #9f9f9f #6c6c6c #6c6c6c #9f9f9f; }
a.more-link:link, .more-link a:link { color: #e5e5e5; background-color: #858585; }
a.more-link:visited, .more-link a:visited { color: #e5e5e5; background-color: #858585; }
a.more-link.active, a.more-link:hover, a.more-link:active, .more-link a.active, .more-link a:hover, .more-link a:active { background-color: #6c6c6c; border-color: #6c6c6c; color: #e5e5e5; }

.views_slideshow_cycle_main .views-field-title a, .views_slideshow_cycle_main .views-field-name a { color: #1d50c3 !important; }
.views_slideshow_cycle_main .views-field-title a:hover, .views_slideshow_cycle_main .views-field-name a:hover { color: #0d3796 !important; }

.node .field-type-taxonomy-term-reference { height: 100%; overflow: hidden; }
.node .field-type-taxonomy-term-reference a { color: #e5e5e5; background-color: #858585; border-color: #9f9f9f #6c6c6c #6c6c6c #9f9f9f; }
.node .field-type-taxonomy-term-reference a:link { color: #e5e5e5; background-color: #858585; }
.node .field-type-taxonomy-term-reference a:visited { color: #e5e5e5; background-color: #858585; }
.node .field-type-taxonomy-term-reference a.active, .node .field-type-taxonomy-term-reference a:hover, .node .field-type-taxonomy-term-reference a:active { background-color: #6c6c6c; border-color: #6c6c6c; color: #e5e5e5; }

ul.primary { border-color: #c7c7c7; }
ul.primary li a { border-color: #c7c7c7; background-color: #c7c7c7; color: #e5e5e5; }
ul.primary li.active a, ul.primary li a:hover { border-color: #c7c7c7; border-bottom-color: transparent; background-color: #c7c7c7; color: #343434; }

.node-links ul li a, .comment-links ul li a { color: #e5e5e5; background-color: #858585; border-color: #9f9f9f #6c6c6c #6c6c6c #9f9f9f; }
.node-links ul li a:link, .comment-links ul li a:link { color: #e5e5e5; background-color: #858585; }
.node-links ul li a:visited, .comment-links ul li a:visited { color: #e5e5e5; background-color: #858585; }
.node-links ul li a.active, .node-links ul li a:hover, .node-links ul li a:active, .comment-links ul li a.active, .comment-links ul li a:hover, .comment-links ul li a:active { background-color: #6c6c6c; border-color: #6c6c6c; color: #e5e5e5; }

.fullcalendar .fc-header-title { color: #858585; }
.fullcalendar .fc-header-title h2 { color: #736254; }
.fullcalendar .fc-content table { background-color: #c7c7c7; }
.fullcalendar .fc-content table tr td, .fullcalendar .fc-content table tr th { background: #fcfcfc; }
.fullcalendar .fc-content table tr th { color: #e5e5e5; background: #858585; border-bottom-color: #6c6c6c; }
.fullcalendar .fc-content table tr td { border-color: #c7c7c7; }
.fullcalendar .fc-content table tr td.fc-other-month { color: #b3b3b3; }
.fullcalendar .fc-content table tr td .fc-day-number { color: #343434; }
.fullcalendar .fc-button { color: #e5e5e5; background-color: #858585; border-color: #9f9f9f #6c6c6c #6c6c6c #9f9f9f; background-image: none; }
.fullcalendar .fc-button:link { color: #e5e5e5; background-color: #858585; }
.fullcalendar .fc-button:visited { color: #e5e5e5; background-color: #858585; }
.fullcalendar .fc-button.active, .fullcalendar .fc-button:hover, .fullcalendar .fc-button:active { background-color: #6c6c6c; border-color: #6c6c6c; color: #e5e5e5; }
.fullcalendar .fc-button.ui-state-active { background: #6c6c6c; }
.fullcalendar .ui-icon.ui-icon-circle-triangle-e { border-left: 6px solid white; }
.fullcalendar .ui-icon.ui-icon-circle-triangle-w { border-right: 6px solid white; }
.fullcalendar a.fc-event { color: #e5e5e5; background-color: #858585; border-color: #9f9f9f #6c6c6c #6c6c6c #9f9f9f; }
.fullcalendar a.fc-event:link { color: #e5e5e5; background-color: #858585; }
.fullcalendar a.fc-event:visited { color: #e5e5e5; background-color: #858585; }
.fullcalendar a.fc-event.active, .fullcalendar a.fc-event:hover, .fullcalendar a.fc-event:active { background-color: #6c6c6c; border-color: #6c6c6c; color: #e5e5e5; }
.fullcalendar a.fc-event .fc-event-time, .fullcalendar a.fc-event .fc-event-skin { background-color: #858585; }
.fullcalendar div.fc-event.bahaical { color: #b3b3b3; }

body textarea, body select, body input[type="file"], body input[type="date"], body input[type="datetime"], body input[type="datetime-local"], body input[type="email"], body input[type="month"], body input[type="number"], body input[type="password"], body input[type="search"], body input[type="tel"], body input[type="text"], body input[type="time"], body input[type="url"], body input[type="week"] { border-color: #c7c7c7; background-color: #fcfcfc; color: #343434; }
body textarea:focus, body select:focus, body input[type="file"]:focus, body input[type="date"]:focus, body input[type="datetime"]:focus, body input[type="datetime-local"]:focus, body input[type="email"]:focus, body input[type="month"]:focus, body input[type="number"]:focus, body input[type="password"]:focus, body input[type="search"]:focus, body input[type="tel"]:focus, body input[type="text"]:focus, body input[type="time"]:focus, body input[type="url"]:focus, body input[type="week"]:focus { border-color: #858585; }

body button, body input[type="reset"], body input[type="submit"], body input[type="button"] { color: #e5e5e5; background-color: #858585; border-color: #9f9f9f #6c6c6c #6c6c6c #9f9f9f; }
body button:link, body input[type="reset"]:link, body input[type="submit"]:link, body input[type="button"]:link { color: #e5e5e5; background-color: #858585; }
body button:visited, body input[type="reset"]:visited, body input[type="submit"]:visited, body input[type="button"]:visited { color: #e5e5e5; background-color: #858585; }
body button.active, body button:hover, body button:active, body input[type="reset"].active, body input[type="reset"]:hover, body input[type="reset"]:active, body input[type="submit"].active, body input[type="submit"]:hover, body input[type="submit"]:active, body input[type="button"].active, body input[type="button"]:hover, body input[type="button"]:active { background-color: #6c6c6c; border-color: #6c6c6c; color: #e5e5e5; }

.checkout-buttons .checkout-cancel, .checkout-buttons .checkout-back, .checkout-buttons .checkout-cancel:focus, .checkout-buttons .checkout-back:focus, .checkout-buttons .checkout-cancel:hover, .checkout-buttons .checkout-back:hover { color: #1d50c3; }

.block-bg-pagebg.main-menu-block nav.navigation, .block-bg-pagebg.main-menu-block nav.navigation ul ul, .block-bg-pagebg ul.primary li a, .block-bg-pagebg ul.primary li.active a, .block-bg-pagebg ul.primary li a:hover, .block-bg-pagebg .section-content article.node-teaser, .block-bg-pagebg .section-content .block, .block-bg-pagebg .section-footer { background-color: #fcfcfc; }

.section-content .block.block-bg-pagebg { background-color: #fcfcfc; }

.block-bg-white ul.primary li a, .block-bg-pagebg ul.primary li a { color: #1d50c3; }
.block-bg-white ul.primary li.active a, .block-bg-white ul.primary li a:hover, .block-bg-pagebg ul.primary li.active a, .block-bg-pagebg ul.primary li a:hover { color: #343434; }

.block-styles-no-background.main-menu-block .navigation ul ul { background-color: #fcfcfc !important; }

.block-separators-main .view .view-content .views-row { border-color: #858585; }

.block-separators-secondary .view .view-content .views-row { border-color: #dcd9b7; }

.sitename-glow .site-name-slogan { text-shadow: 0 2px 0 #fcfcfc, 0 -2px 0 #fcfcfc, 2px 0 0 #fcfcfc, -2px 0 0 #fcfcfc, 0 2px 4px rgba(255, 255, 255, 0.7), 0 -2px 4px rgba(255, 255, 255, 0.7); }

.sitename-glowsecondary .site-name-slogan { text-shadow: 0 2px 0 #fcfcfc, 0 -2px 0 #fcfcfc, 2px 0 0 #fcfcfc, -2px 0 0 #fcfcfc, 0 0 8px #dcd9b7; }

.sitename-main .site-name-slogan h1, .sitename-main .site-name-slogan h2, .sitename-main .site-name-slogan h6, .sitename-main .site-name-slogan a:link, .sitename-main .site-name-slogan a:visited, .sitename-main .site-name-slogan a:hover, .sitename-main .site-name-slogan a:active { color: #858585; }

.sitename-secondary .site-name-slogan h1, .sitename-secondary .site-name-slogan h2, .sitename-secondary .site-name-slogan h6, .sitename-secondary .site-name-slogan a:link, .sitename-secondary .site-name-slogan a:visited, .sitename-secondary .site-name-slogan a:hover, .sitename-secondary .site-name-slogan a:active { color: #dcd9b7; }

.sitename-bg .site-name-slogan h1, .sitename-bg .site-name-slogan h2, .sitename-bg .site-name-slogan h6, .sitename-bg .site-name-slogan a:link, .sitename-bg .site-name-slogan a:visited, .sitename-bg .site-name-slogan a:hover, .sitename-bg .site-name-slogan a:active { color: #fcfcfc; }
