#########################
## Developer files
#########################

# Hidden and special directories
[._]*/

# IDE files
*.*project

# Source control files
*.patch

#########################
## Operating system files
#########################

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac desktop services store
.DS_Store
