OpenID CP Field Configuration
-----------------------------
Below is how you can map the OpenID Field to the Content Profile Field

http://axschema.org/namePerson/first|field_first_name
http://axschema.org/namePerson/last|field_last_name
http://axschema.org/namePerson/prefix|field_salutation
http://axschema.org/company/name|field_organization
http://axschema.org/company/title|field_title
http://axschema.org/contact/phone/default|field_phone
http://axschema.org/contact/phone/business|field_phone2
http://axschema.org/contact/phone/cell|field_cellphone
http://axschema.org/contact/phone/fax|field_fax
http://axschema.org/contact/email|field_email
http://axschema.org/contact/web/blog|field_blog
http://axschema.org/contact/city/home|field_city
http://axschema.org/contact/country/home|field_country_of_residence
http://axschema.org/contact/country/business|field_country_of_nationality
http://axschema.org/pref/language|field_languages_spoken
http://axschema.org/media/biography|field_bio
