.navigate-menu-icon {
  background: url('icon.png') center no-repeat;
  height: 34px;
}
.navigate-menu-output {
  overflow: hidden;
  padding: 5px;
  width: 175px;
}
.navigate-menu-output select {
  width: 100%;
}
.navigate-menu-list {
  text-align: left;
}
.navigate-menu-list li {
  white-space: nowrap;
}
.navigate-menu-list li.expanded,
.navigate-menu-list li.leaf {
  background-position: 0 0;
  list-style: none;
  list-style-image: none;
  margin-top: 1px;
}
.navigate-menu-list li.leaf {
  margin: 0px;
  padding: 1px 0 1px 16px;
}
.navigate-menu-outer {
  padding: 3px;
}
