/**
 * BLOCK CSS.
 */
.ofed-switcher {
  position: absolute;
  top: 55px;
  right: 0px;
  padding: 10px;
  background: #ff8d1b;
  overflow: hidden;
  color: #fff;
  border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 0px 7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0px 7px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0px 7px rgba(0, 0, 0, 0.5);
}

header .container {
  position: relative;
}

.ofed-switcher .ofed-switcher-links ul {
  margin: 5px 0 0 0;
  padding: 0;
}

.ofed-switcher .ofed-switcher-links ul li {
  margin: 0 3px 0 0;
  padding: 0 6px 0 0;
  list-style: none;
  display: inline;
  border-right: 1px solid white;
}

.ofed-switcher .ofed-switcher-links ul li.last {
  margin: 0;
  padding: 0 6px 0 0;
  border-right: none;
}

.ofed-switcher .ofed-switcher-links ul li a {
  text-decoration: none;
  color: white;
}

/**
 * DASHBOARD CSS.
 */
.dashboard .dashbox {
  position: relative;
  padding: 0;
  margin-bottom: 20px;
  border: 1px solid #e5e5e5\9;
  background: #f9f9f9;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.dashboard .dashbox h2 {
  margin: 0;
  padding: 9px 20px;
  font-size: 18px;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  background: url(../images/bg-dashboard-title.png) no-repeat center right;
  border-radius: 4px 4px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 3px 3px 0 0;
}

.dashboard .dashbox.blue h2 {
  background: url(../images/bg-dashboard-title-blue.png) no-repeat center right;
}

.dashboard .dashbox.orange h2 {
  background: url(../images/bg-dashboard-title-orange.png) no-repeat center right;
}

.dashboard .dashbox.tools .dashbox-content {
  padding: 0 0 0 0px;
}

.dashboard .dashbox.tools .dashbox-content li {
  float: none;
  width: auto;
}

.dashboard .dashbox .dashbox-content a.icon {
  display: block;
  height: 32px;
  padding: 10px 0 10px 45px;
  line-height: 32px;
}

.dashboard .dashbox .dashbox-content a.icon.charts {
  background: url(../images/icon-charts.png) no-repeat center left;
}

.dashboard .dashbox .dashbox-content a.icon.pdf {
  background: url(../images/icon-pdf.png) no-repeat center left;
}

.dashboard .dashbox .dashbox-content a.icon.links {
  background: url(../images/icon-links.png) no-repeat center left;
}

.dashboard .sponsor {
  text-align: center;
}

.dashboard .dashbox .dashbox-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-image: none;
  border-bottom: 1px solid #e4e4e4;
}

.dashboard .dashbox .dashbox-content ul li {
  position: relative;
  float: left;
  width: 250px;
  margin: 0;
  padding: 10px 0 10px 15px;
  list-style: none;
  list-style-image: none;
  border-bottom: 1px solid #e4e4e4;
}

.dashboard .dashbox.span-12 .dashbox-content ul li {
  width: 293px;
}

.dashboard .dashbox .dashbox-content ul li label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  padding: 0 0 10px;
}

.dashboard .dashbox .dashbox-content ul li:first-child {
  border-top: none;
}

.dashboard .dashbox .dashbox-content ul li:last-child {
  border-bottom: none;
}
