
core = 7.x
api = 2

libraries[Git.php][download][type] = "get"
libraries[Git.php][download][url] = "https://github.com/kbjr/Git.php/archive/master.zip"
libraries[Git.php][directory_name] = "Git.php"
