/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-sep-2015, 11:13:12
    Author     : verbruga
*/

.media-youtube-uploader-form-managed-file {
  display: inline;
}
.media-youtube-uploader-actions.form-actions {
  display: inline;
  padding: 0;
  margin: 0;
}
.media-youtube-uploader-actions.form-actions input {
  margin: 0;
}
#youtube-cors-progress {
  margin-right: 10px;
}
.youtube-cors-upload-file {
  margin: 0;
}
#media-youtube-upload-account-settings-form.successfully-authenticated .fieldset-description {
  margin-bottom: 10px;
}
#media-youtube-upload-account-settings-form.successfully-authenticated .form-type-item {
  padding: 0;
  margin:0;
}
#media-youtube-upload-account-settings-form.successfully-authenticated .form-type-item label {
  display: inline;
}
#media-youtube-upload-account-settings-form.successfully-authenticated .form-item-media-youtube-upload-automatic-deletion {
  margin-top: 10px;
}

