core = 7.x
api = 2

;; Garlic
libraries[garlicjs][download][type] = "get"
libraries[garlicjs][download][url] = "https://github.com/guillaumepotier/Garlic.js/archive/1.2.0.tar.gz"
libraries[garlicjs][directory_name] = "garlic"
libraries[garlicjs][type] = "library"
