/* Lesson Draft Status (lessons_draft_status.css) */

div.lesson .field-name-field-lesson-draft-status {
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Use for lessons listing (View). 
   @todo move view from lessons_lists here, or move this CSS snippet there */
div.lesson .lesson-draft-status-sample {
  height: 1em;
}

.lesson-draft-status-legend {
  margin: 10px;
  padding: 3px;
}

/* Draft status not available */
div.lesson .lesson-draft-status-not-available {
  background: #eaedef;
  border: #7f7f7f 3px solid;
}
div.lesson .lesson-draft-status-not-available .field-name-field-lesson-draft-status,
div.lesson .lesson-draft-status-not-available .lesson-draft-status-sample { 
  background: #7f7f7f;
}

/* Rough draft: Red background and border */
div.lesson .lesson-draft-status-draft {
  background: #eaedef;
  border: #c10105 3px solid;
}
div.lesson .lesson-draft-status-draft .field-name-field-lesson-draft-status,
div.lesson .lesson-draft-status-draft .lesson-draft-status-sample {
  background: #c10105;
}

/* Ready for review: Orange background and border */
div.lesson .lesson-draft-status-ready-for-review {
  background: #eaedef;
  border: #ff7f00 3px solid;
}
div.lesson .lesson-draft-status-ready-for-review .field-name-field-lesson-draft-status,
div.lesson .lesson-draft-status-ready-for-review .lesson-draft-status-sample {
  background: #ff7f00;
}

/* Needs revision: Yellow background and border */
div.lesson .lesson-draft-status-needs-revision {
  background: #eaedef;
  border: #efe300 3px solid;
}
div.lesson .lesson-draft-status-needs-revision .field-name-field-lesson-draft-status,
div.lesson .lesson-draft-status-needs-revision .lesson-draft-status-sample {
  background: #efe300;
}

/* Final draft / Up to date: Green border */
div.lesson .lesson-draft-status-up-to-date {
  border: green 3px solid;
}
div.lesson .lesson-draft-status-up-to-date .field-name-field-lesson-draft-status,
div.lesson .lesson-draft-status-up-to-date .lesson-draft-status-sample {
  background: green;
}
