<div ng-controller="ControllerBasic as c" class="ngapp-example">
  <p>Greeting courtesy of the <code>drupalUser</code> factory: <br /><strong ng-if="c.message">{{ c.message }}</strong></p>

  <p>Use <code>drupalLocalStorage</code> factory to store a thing for later:</p>
  <form class="form-inline"
    ng-submit="count = 0; c.doThing(c.thing);">
    <div class="form-group">
      <input type="text" class="form-control" id="thing" placeholder="my thing" size="13" maxlength="20" required
        ng-model="c.thing"
        ng-keypress="count = count + 1"
        ng-init="count = 0">
    </div>
    <button type="submit" class="btn btn-primary">Store it!</button>
  </form>
  <br />
  <p ng-if="count > 0">Your thing will be: <br /><strong>{{ c.thing }}</strong></p>
  <p ng-if="c.thingActive && count == 0">Your current thing is: <br /><strong>{{ c.thingActive }}</strong></p>

  <div my-directive-1></div>
</div>
