/********************************************************************
*
*   Config Files
*
********************************************************************/
/* Set theme variables here */
/*
Google Font samples
font-family: 'Noto Sans', sans-serif;
font-family: 'Sanchez', serif;
*/
/* new color variables */
/* end new color vars */
/* 400px */
/* 700px */
/* 900px */
/* 1100px */
/* 1300px */
/* Button Groups */
/* Button Groups */
/* use for right-side off-canvas nav */
/* use for left-side off-canvas nav */
body:before {
  content: "smallscreen";
  position: absolute;
  top: -999em;
  left: -999em;
  speak: none; }
  @media (min-width: 43.75em) {
    body:before {
      content: "mediumscreen"; } }
  @media (min-width: 56.25em) {
    body:before {
      content: "largescreen"; } }
  @media (min-width: 81.25em) {
    body:before {
      content: "widescreen"; } }

.page {
  position: relative;
  right: 0;
  -moz-transition: all 0.3s 0;
  -o-transition: all 0.3s 0;
  -webkit-transition: all 0.3s 0;
  transition: all 0.3s 0; }
  .nav-is-active .page {
    right: 80%;
    width: 100%; }
    @media (min-width: 43.75em) {
      .nav-is-active .page {
        right: 0; } }

nav.block-menu-block {
  position: static; }
  @media (min-width: 43.75em) {
    nav.block-menu-block {
      position: relative; } }

.menu-name-main-menu {
  width: 100%;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto; }
  @media (min-width: 43.75em) {
    .menu-name-main-menu {
      width: auto; } }
  .js .menu-name-main-menu {
    width: 85%;
    position: absolute;
    top: 0;
    right: -85%;
    display: none;
    background-color: #3f3b36;
    -moz-transition: all 0.5s 0;
    -o-transition: all 0.5s 0;
    -webkit-transition: all 0.5s 0;
    transition: all 0.5s 0; }
    .js .menu-name-main-menu[aria-expanded="true"] {
      right: -85%;
      min-height: 100%;
      padding-top: 1em;
      display: block;
      -moz-transform: translate3d(0, 0, 0);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -moz-box-shadow: -3px 0 3px rgba(0, 0, 0, 0.15) inset;
      -webkit-box-shadow: -3px 0 3px rgba(0, 0, 0, 0.15) inset;
      box-shadow: -3px 0 3px rgba(0, 0, 0, 0.15) inset; }
      @media (min-width: 43.75em) {
        .js .menu-name-main-menu[aria-expanded="true"] {
          right: 0;
          min-height: auto;
          padding-top: 0; } }
    @media (min-width: 43.75em) {
      .js .menu-name-main-menu {
        background-color: #3f3b36;
        display: block;
        position: relative;
        top: auto;
        right: auto;
        width: 100%;
        z-index: 99; } }
  .menu-name-main-menu:target {
    position: static; }
  .menu-name-main-menu > .menu {
    padding: 0;
    margin: 0;
    list-style: none; }
  .menu-name-main-menu .leaf,
  .menu-name-main-menu .expanded {
    display: block;
    border-bottom: 1px solid #686259;
    position: relative; }
    @media (min-width: 43.75em) {
      .menu-name-main-menu .leaf,
      .menu-name-main-menu .expanded {
        display: inline-block;
        vertical-align: baseline;
        zoom: 1;
        *display: inline;
        *vertical-align: auto;
        border-bottom: none;
        position: relative;
        padding-top: 0;
        padding-right: 0;
        margin-left: 0; } }
    .menu-name-main-menu .leaf[aria-expanded="false"],
    .menu-name-main-menu .expanded[aria-expanded="false"] {
      display: none; }
    .menu-name-main-menu .leaf > a,
    .menu-name-main-menu .expanded > a {
      color: #fff;
      display: block;
      text-decoration: none;
      padding: 0.65em 1.25em 0.55em;
      -moz-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      -webkit-transition: all 0.3s linear;
      transition: all 0.3s linear; }
      @media (min-width: 43.75em) {
        .menu-name-main-menu .leaf > a,
        .menu-name-main-menu .expanded > a {
          padding-left: 0.4em;
          padding-right: 0.5em; } }
      .menu-name-main-menu .leaf > a:hover,
      .menu-name-main-menu .expanded > a:hover {
        color: #fff;
        background-color: #868120; }
      .menu-name-main-menu .leaf > a:focus, .menu-name-main-menu .leaf > a:active,
      .menu-name-main-menu .expanded > a:focus,
      .menu-name-main-menu .expanded > a:active {
        color: #fff;
        background-color: #868120; }
    .menu-name-main-menu .leaf:hover,
    .menu-name-main-menu .leaf > a:hover,
    .menu-name-main-menu .leaf > a:focus,
    .menu-name-main-menu .expanded:hover,
    .menu-name-main-menu .expanded > a:hover,
    .menu-name-main-menu .expanded > a:focus {
      color: #fff;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0; }
      .menu-name-main-menu .leaf:hover .menu,
      .menu-name-main-menu .leaf > a:hover .menu,
      .menu-name-main-menu .leaf > a:focus .menu,
      .menu-name-main-menu .expanded:hover .menu,
      .menu-name-main-menu .expanded > a:hover .menu,
      .menu-name-main-menu .expanded > a:focus .menu {
        position: absolute;
        top: 100%;
        left: 0;
        -moz-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        -webkit-transition: all 0.3s linear;
        transition: all 0.3s linear; }
      .menu-name-main-menu .leaf:hover > a,
      .menu-name-main-menu .leaf > a:hover > a,
      .menu-name-main-menu .leaf > a:focus > a,
      .menu-name-main-menu .expanded:hover > a,
      .menu-name-main-menu .expanded > a:hover > a,
      .menu-name-main-menu .expanded > a:focus > a {
        color: #fff; }
    .menu-name-main-menu .leaf > .ui-toggle-button,
    .menu-name-main-menu .expanded > .ui-toggle-button {
      background: #3f3b36;
      color: #fff;
      width: 10%;
      min-width: 3.5em;
      float: right;
      border: 0;
      line-height: 3em;
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      padding: 0.3em 0 0 0;
      display: inline-block;
      vertical-align: baseline;
      zoom: 1;
      *display: inline;
      *vertical-align: auto; }
      .fontface .menu-name-main-menu .leaf > .ui-toggle-button, .fontface
      .menu-name-main-menu .expanded > .ui-toggle-button {
        background: transparent;
        color: #fff;
        text-indent: -999em; }
        .fontface .menu-name-main-menu .leaf > .ui-toggle-button:hover, .fontface
        .menu-name-main-menu .expanded > .ui-toggle-button:hover {
          color: #fff; }
        .fontface .menu-name-main-menu .leaf > .ui-toggle-button:before, .fontface
        .menu-name-main-menu .expanded > .ui-toggle-button:before {
          content: "\f055";
          font-family: FontAwesome;
          position: absolute;
          top: 0;
          left: 0.25em;
          text-indent: 0;
          font-size: 2.25em; }
        .fontface .menu-name-main-menu .leaf > .ui-toggle-button[data-text="close"]:before, .fontface
        .menu-name-main-menu .expanded > .ui-toggle-button[data-text="close"]:before {
          content: "\f055"; }
        .fontface .menu-name-main-menu .leaf > .ui-toggle-button[data-text="open"]:before, .fontface
        .menu-name-main-menu .expanded > .ui-toggle-button[data-text="open"]:before {
          content: "\f057"; }
  .menu-name-main-menu .menu .menu {
    position: static;
    clear: both;
    list-style: none;
    margin: 0;
    min-width: 100%;
    padding: 0; }
    @media (min-width: 43.75em) {
      .menu-name-main-menu .menu .menu {
        position: relative;
        clear: none;
        min-width: 12em;
        position: absolute;
        top: -999em;
        left: -999em; } }
    .menu-name-main-menu .menu .menu[aria-expanded="false"] {
      display: none; }
    .menu-name-main-menu .menu .menu[aria-expanded="true"] {
      position: static; }
    .menu-name-main-menu .menu .menu .leaf,
    .menu-name-main-menu .menu .menu .expanded {
      background: #3f3b36;
      display: list-item;
      line-height: normal; }
      .menu-name-main-menu .menu .menu .leaf > a,
      .menu-name-main-menu .menu .menu .expanded > a {
        color: #fff;
        background-color: #3f3b36;
        display: block;
        line-height: normal;
        padding: 15px 20px;
        text-decoration: none; }
        .menu-name-main-menu .menu .menu .leaf > a:hover,
        .menu-name-main-menu .menu .menu .expanded > a:hover {
          color: #fff;
          background: #868120;
          -moz-border-radius: 0;
          -webkit-border-radius: 0;
          border-radius: 0; }
        .menu-name-main-menu .menu .menu .leaf > a:active, .menu-name-main-menu .menu .menu .leaf > a:focus,
        .menu-name-main-menu .menu .menu .expanded > a:active,
        .menu-name-main-menu .menu .menu .expanded > a:focus {
          color: #fff;
          background: #868120; }
  .menu-name-main-menu .child-has-focus .menu {
    top: 100%;
    left: 0; }
  .menu-name-main-menu .active-trail a:link, .menu-name-main-menu .active-trail a:visited,
  .menu-name-main-menu .active-trail.active a:link,
  .menu-name-main-menu .active-trail.active a:visited {
    color: #fff;
    background-color: #686259; }

.nav-menu-toggle:link, .nav-menu-toggle:visited {
  display: block;
  float: right;
  margin-right: 0.75em;
  position: relative;
  padding-left: 0.25em;
  padding-right: 1.75em;
  text-decoration: none;
  text-transform: uppercase; }
  @media (min-width: 43.75em) {
    .nav-menu-toggle:link, .nav-menu-toggle:visited {
      display: none; } }
.nav-menu-toggle:hover {
  text-decoration: none; }
.nav-menu-toggle:before {
  content: "\f0C9";
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  right: 0.25em;
  text-indent: 0;
  font-size: 1.2em; }
  .nav-is-active .nav-menu-toggle:before {
    content: "\f00d"; }
