/**
* @file
* General site styles
*/

body {
  color: #525252;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Enable responsive images and video */
img,
video {
  max-width: 100%;
  height: auto;
}

/* fix for OpenLayers and other maps - see: http://drupal.org/node/1925230*/
.gmap img,
.view-gmap img,
.openlayers-map img,
#getlocations_map_canvas img {
  max-width: none;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  margin: 5px 0;
  padding: 10px 12px 5px 47px;
  border: 1px solid #999;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #dedede url("../images/quote.png") no-repeat;
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

pre,
code {
  display: block;
  overflow: auto;
  margin: 2px 0;
  padding: 6px 0 4px 14px;
  width: 98%;
  border: 1px solid #999;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #ccc;
  font-family: monospace;
}

ins {
  background-color: #fdfc9b;
  text-decoration: none;
}

mark {
  background-color: #fdfc9b;
  font-weight: bold;
  font-style: italic;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

hr {
  float: none;
  clear: both;
  margin: 7px 0;
  width: 100%;
  height: 1px;
  border: none;
  background: #9f9f9f;
}

.remove-margin {
  margin-right: 0 !important;
}

.clear {
  display: block;
  visibility: hidden;
  clear: both;
  overflow: hidden;
  width: 0;
  height: 0;
}

p {
  margin: 0 0 0.8em;
  font-size: .9em;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

ol,
ul {
  padding-left: 20px;
}

#content-wrapper ul li {
  font-size: .9em;
}

.clearfix:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: ".";
  line-height: 0;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 14px 0px 4px 0px;
  padding: 0;
  font-weight: 400;
}

h1 {
  margin-top: 0;
  margin-bottom: .4em;
  font-size: 1.8em;
}

h2 {
  font-size: 1.4em;
}

h2.article-title {
  margin: 0;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1.1em;
}

h6 {
  font-size: 1em;
}

/* Layout */

#wrapper {
  margin: 0px auto;
}

#content-wrapper {
  padding: 0px 0px 25px 0px;
  background: #fff;
}

#content #post-content {
  padding: 10px;
}

#head {
  min-height: 112px;
  background: #fff;
}

#site-title-wrapper {
  margin-top: 10px;
  margin-left: 4%;
}

#logo {
  float: left;
  margin: 10px 10px 0 10px;
}

.theme-logo #logo img {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.site-slogan {
  padding: 10px 0;
  color: #333;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
}

#navigation {
  float: right;
  margin: 0px auto;
}

.width-33 {
  float: left;
  margin: 0 10px;
  width: 300px;
}

.width-49 {
  float: left;
  margin: 0 1%;
  width: 48%;
}

.width-99 {
  float: left;
  margin: 0 1%;
  width: 99%;
}

aside.sidebar .block-content ul li,
#content article ul li {
  list-style-image: url("../images/raquo.png");
}

.sidebar-right aside h2 {
  margin-right: -10px;
  padding: 1px 0 3px 14px;
  border-radius: 24px 0 0 24px;
  -webkit-border-top-left-radius: 24px;
  -moz-border-radius-topleft: 24px;
  -webkit-border-bottom-left-radius: 24px;
  -moz-border-radius-bottomleft: 24px;
}

.sidebar-left aside h2 {
  margin-left: -20px;
  padding: 2px 0 2px 10px;
  border-radius: 0 24px 24px 0;
  -webkit-border-top-right-radius: 24px;
  -moz-border-radius-topright: 24px;
  -webkit-border-bottom-right-radius: 24px;
  -moz-border-radius-bottomright: 24px;
}

#preface-wrapper .block h2 {
  margin-right: 0;
  padding: 2px 0 3px 10px;
  -webkit-border-top-right-radius: 24px;
  -moz-border-radius-topright: 24px;
  border-top-right-radius: 24px;
  -webkit-border-bottom-right-radius: 24px;
  -moz-border-radius-bottomright: 24px;
  border-bottom-right-radius: 24px;
}

footer#colophon h2,
footer#colophon {
  color: #eaeaea;
}

footer#colophon .block-inner:first-child,
#preface-wrapper .block-inner:first-child {
  padding-left: 14px;
}

footer#colophon .block-inner:last-child,
#preface-wrapper .block-inner:last-child {
  padding-right: 14px;
}

header.container {
  z-index: 100;
  margin-top: 16px;
  border-radius: 12px 12px 0 0;
  -webkit-border-top-left-radius: 12px;
  -moz-border-radius-topleft: 12px;
  -webkit-border-top-right-radius: 12px;
  -moz-border-radius-topright: 12px;
}

footer {
  margin-bottom: 10px;
  border-radius: 0 0 12px 12px;
  -webkit-border-bottom-right-radius: 12px;
  -moz-border-radius-bottomright: 12px;
  -webkit-border-bottom-left-radius: 12px;
  -moz-border-radius-bottomleft: 12px;
}

#slideshow-wrapper.container {
  width: 100%;
}

#header {
  margin-top: 20px;
}

#breadcrumbs {
  font-size: .84em;
}

#content {
  margin-top: 4px;
}

.node h2.title {
  color: #4d4d4d;
  font-size: 20px;
}

.node h2.title a {
  color: #4d4d4d;
}

.block {
  margin-bottom: 1.5em;
}

#header .block > h2,
#foot .block > h2,
.region-content-top .block > h2 {
  font-size: 16px;
}

header.article-header {
  margin-bottom: 10px;
}

article.node {
  margin: 0 0 30px 0;
}

.sidebar .block > h2 {
  margin-bottom: 10px;
  padding: 2px 10px;
  background: #214468;
  color: #fff;
  text-transform: capitalize;
  font-size: 1.2em;
}

#colophon {
  margin-bottom: 24px;
  padding-top: 5px;
  background: #3c3c3c;
  background: -moz-linear-gradient(90deg, rgb(57, 57, 57) 31%, rgb(86, 86, 86) 77%);
  background: -webkit-linear-gradient(90deg, rgb(57, 57, 57) 31%, rgb(86, 86, 86) 77%);
  background: -o-linear-gradient(90deg, rgb(57, 57, 57) 31%, rgb(86, 86, 86) 77%);
  background: -ms-linear-gradient(90deg, rgb(57, 57, 57) 31%, rgb(86, 86, 86) 77%);
  background: linear-gradient(90deg, rgb(57, 57, 57) 31%, rgb(86, 86, 86) 77%);
  -webkit-box-shadow: 0px 5px 17px rgba(50, 50, 50, 0.56);
  -moz-box-shadow: 0px 5px 17px rgba(50, 50, 50, 0.56);
  box-shadow: 0px 5px 17px rgba(50, 50, 50, 0.56);
}

#colophon .footer-area a {
  color: #fff;
}

.footer-area {
  float: left;
  list-style: none;
}

.footer-area .block > h2 {
  padding: 0px 0px 0px 0px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}

.footer-area .content {
  margin: 0;
  padding: 7px 0px;
  color: #bbb;
  line-height: 160%;
}

#copyright {
  padding: 25px 0px;
  background: #3e3742;
  text-align: center;
}

.credit {
  color: #eee;
}

.submitted,
.title-wrapper {
  display: inline-block;
  margin-bottom: 16px;
  padding: 4px 9px 4px 0;
  border-radius: 4px;
  background: none;
  color: #6a6a6a;
  vertical-align: top;
  font-weight: bold;
  font-size: .89em;
}

#breadcrumbs {
  padding: 10px 0 0 10px;
}

.links {
  margin-top: 10px;
  color: #000;
  font-size: 14px;
}

.links li a {
  padding: 2px 10px 1px 10px;
  border-radius: 4px;
  background-color: #ddd;
  text-transform: capitalize;
  font-weight: normal;
}

.links li a:hover,
ul.pager li:hover {
  background-color: #999;
  color: #fff;
}

ul.pager li a:hover {
  color: #fff;
}

article.last {
  margin-bottom: 30px;
}

/* form elements */

input[type="submit"],
input[type="reset"],
button {
  margin: 0 10px 0 0;
  padding: 7px 8px;
  border: 0;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  color: #fff;
  text-transform: uppercase;
  font-size: .8em;
  cursor: pointer;
}

input.form-checkbox,
input.form-radio {
  vertical-align: baseline;
}

.form-text,
textarea,
input[type="text"],
input[type="password"],
input[type="email"] {
  padding: 5px 8px;
  border: 1px solid #acacac;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #667;
  font-size: 1em;
}

html.js input.form-autocomplete {
  padding: 3px 8px;
  background-position: 99% 9px;
}

html.js input.throbbing {
  background-position: 99% -12px;
}

input,
select {
  vertical-align: middle;
}

label {
  display: block;
  margin: .8em 0 .5em 0;
  font-size: .9em;
}

select {
  padding: 3px 4px;
  border: 1px solid #acacac;
  border-radius: 4px;
}

fieldset {
  margin: 0 0 1.4615em;
  padding: 1.1em;
  border: 1px dotted #ccc;
}

legend {
  font-weight: bold;
}

.page-node-add .description {
  margin: 10px 10px 0;
  padding: 5px 0 10px 40px;
  border: 0;
  background: #f0f8ff url('../images/help.png') no-repeat 8px 8px;
}

/* Menus and lists */
.item-list ul {
  margin: 0;
  padding: 0 0 0 1.5385em;
}

.item-list ul li {
  margin: 0;
  padding: 0;
}

.links.node-links ul li:before {
  padding-right: 8px;
}

#sidebar-first {
  margin-top: 10px;
}

ul.menu li {
  margin: 0;
  padding: 0;
}

ul.inline {
  clear: both;
}

ul.inline li {
  margin: 0;
  padding: 0;
}

/* Tabs and Tags */

.field-name-field-tags {
  margin: 0 0 10px 0;
}

.field-name-field-tags a {
  display: inline-block;
  padding: 2px 8px 0 16px;
  height: 22px;
  border-radius: 2px;
  background: url("../images/tag.png") no-repeat;
  text-transform: uppercase;
  font-size: 12px;
}

.field-name-field-tags .field-item {
  margin: 0 1em 0 0;
}

.field-name-field-tags div {
  display: inline;
}

/* Profile */

.profile {
  margin: 1.5385em 0;
}

.profile dd {
  margin-bottom: 1.5385em;
}

.profile h3 {
  border: none;
}

.profile dt {
  margin-bottom: 0;
}

.password-parent {
  width: 36em;
}

/* Comments */

#comments {
  clear: both;
  margin-top: 14px;
  padding: 5px;
  border: 2px solid #cecece;
  border-radius: 8px;
}

.comment {
  margin-bottom: .2em;
  padding: 5px;
  min-height: 150px;
  border-bottom: 1px solid #d9d9d9;
}

h3.comment-title a {
  margin-bottom: 5px;
  color: #67696d;
  font-size: 16px;
}

.comment .new {
  margin-left: 1em;
  padding: 3px 10px;
  border-radius: 4px;
  background: #e5e5e5;
  color: #67c1c9;
  text-transform: uppercase;
}

.comment .new:after {
  content: "\0020\0021";
}

.comment h3 {
  margin-top: 0;
  margin-bottom: .5em;
}

.form-textarea-wrapper textarea {
  border: 1px solid #acacac;
  border-radius: 3px;
}

.comment .submitted {
  display: inline;
  padding: 3px;
  width: 100%;
  border-radius: 4px;
  text-transform: capitalize;
}

.comment .user-picture {
  float: left;
  margin-right: 7px;
  margin-bottom: 7px;
  padding: 4px;
  border: 1px solid #d9d9d9;
}

.comment-new-comments {
  display: none;
}

.field-name-comment-body {
  margin-top: 10px;
}

li.comment_forbidden a {
  text-transform: uppercase;
}

.item-list .pager li {
  margin-right: 4px;
  border-radius: 3px;
  background: #cfcfcf;
}

.submit-wrapper {
  display: inline-block;
  width: 85px;
  vertical-align: top;
}

/* Dates */

.date-in-parts {
  float: left;
  margin: 6px 6px 2px 0;
  width: 72px;
  height: 72px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 90px;
  background: #5c9d00;
}

.date-in-parts span {
  display: block;
  margin-top: -5px;
  color: #eaeaea;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
}

span.day {
  padding-top: 6px;
}

span.year {
  padding-top: 4px;
}

.field-type-image img {
  margin-bottom: 8px;
  padding: 8px;
  border: 1px dotted #333;
}

.img-caption {
  position: relative;
  top: -12px;
  display: block;
  text-align: left;
  font-style: italic;
  font-size: .8em;
}

.front .img-caption {
  text-align: center;
}

.views-label.views-label-title {
  font-weight: bold;
}

summary {
  cursor: pointer;
}

#top-links {
  margin-top: 11px;
  text-align: right;
}

#content article ul.contextual-links li {
  list-style-image: none;
}

#hero-first {
  margin-top: 10px;
}

#main-menu ul {
  display: none;
}

div.admin .left {
  display: inline-block;
  float: none;
  width: 47%;
  vertical-align: top;
}

div.admin .right {
  display: inline-block;
  float: none;
  width: 47%;
  vertical-align: top;
}

dd {
  margin-bottom: 10px;
}

/* Tabs */

div.vertical-tabs ul li.vertical-tab-button a {
  border-right: 1px solid #CCCCCC;
  background: #F9F9F9;
}

div.vertical-tabs ul li.vertical-tab-button a:hover,
div.vertical-tabs ul li.vertical-tab-button a:focus {
  outline: 0 none;
  background: #efefef;
  text-decoration: none;
}

div.vertical-tabs ul li.vertical-tab-button .selected a {
  border-right: none;
  background: #fff;
}

div.vertical-tabs ul li.selected a,
div.vertical-tabs ul li.selected a:hover,
div.vertical-tabs ul li.selected a:focus,
div.vertical-tabs ul li.selected a:active {
  margin-left: -1px;
  border-right: 0 none;
  border-left: 5px solid #0074BD;
  background: none repeat scroll 0 0 #FFFFFF;
}

div.vertical-tabs ul li.selected a:focus strong {
  text-decoration: none;
}

/**
* Tables.
*/
table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  color: #333;
}

td, th {
  padding: .5em;
  height: 30px;
  border: 1px solid transparent;
  border: 1px dotted #ccc;
  transition: all 0.2s;
}

th {
  background: #DFDFDF;
  font-weight: bold;
}

td {
  background: #fafafa;
  text-align: left;
  font-size: .9em;
}

tr:nth-child(even) td {
  background: #f1f1f1;
}

tr:nth-child(odd) td {
  background: #fefefe;
}

tr td ul.inline li {
  display: block;
  margin-bottom: 9px;
}

tr.odd .form-item,
tr.even .form-item {
  margin-bottom: 10px;
}

tr td ul {
  margin: 0;
  padding: 0;
}

/* System Tabs */

.tabs {
  margin-bottom: 20px;
}

ul.tabs.primary {
  overflow: hidden;
  margin: 0;
  padding: 0 3px;
  border: none;
}

ul.tabs.primary li {
  display: block;
  float: left; /* LTR */
  margin: 0 5px 0 0;
  vertical-align: bottom; /* LTR */
}

ul.tabs.primary li.active a {
  border-bottom: 1px solid #ffffff;
}

ul.tabs.primary li a {
  display: block;
  float: left;
  margin: 0;
  padding: 4px 14px;
  height: 1.8em;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px; /* not LTR */
  border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  border-top-right-radius: 6px;
  background-color: #ededed;
  color: #000;
  font-size: 0.929em;
  font-size: 1.07em;
  line-height: 1.9;
  -khtml-border-radius-topleft: 6px;
  -khtml-border-radius-topright: 6px;
}

ul.tabs.primary li.active a {
  background-color: #ffffff;
}

ul.secondary {
  padding: 0.5em 0;
  border-bottom: none;
}

ul.secondary li {
  display: block;
  float: left; /* LTR */
}

ul.secondary li:last-child {
  border-right: none; /* LTR */
}

ul.secondary li:first-child {
  padding-left: 0; /* LTR */
}

ul.secondary li a {
  padding: 0.25em 0.5em;
}

ul.secondary li a.active {
  border-bottom: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #f2f2f2;
  -khtml-border-radius: 5px;
}

ul.action-links {
  margin: 5px;
  padding: 0.5em 1em;
  list-style: none;
}

ul.action-links li {
  display: inline-block;
  margin-left: 10px;
}

ul.action-links li a {
  margin: 0 10px 0 0;
  padding-left: 15px;
}

div.admin .left {
  margin: 0
}

/* Advanced forum styling */
.forum-post-panel-main.clearfix {
  clear: none;
}

.af-button-large,
.af-button-small,
.author-pane-link,
.last-post-link a {
  display: block;
  border-top: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #e7e7e7;
  background: -webkit-gradient(linear, left top, left bottom, from(#dfdfdfd), to(#c1c1c1));
  background: -moz-linear-gradient(top, #dfdfdfd, #c1c1c1);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #333;
  vertical-align: middle;
  text-decoration: none;
  text-shadow: none;
  font-family: inherit;
}

.af-button-small {
  margin-right: 10px;
}

#content .forum-post-links ul.links li {
  margin: 0;
}

.forum-node-create-links-top {
  margin-bottom: 10px;
}

.forum-post-info {
  display: block;
  padding: 5px 0;
  color: #4c4c4c;
  font-size: 1.4em;
}

.author-pane a.username {
  display: block;
  margin-bottom: 8px;
}

.forum-post-links ul.links.inline .icon-fixed-width {
  display: none;
}

.forum-post-title h2,
.forum-post-panel-main .post-title h2 {
  margin-top: 0;
  font-size: 2em;
}

.forum-posted-on,
.forum-post-number a {
  color: #666 !important;
}

/* table hover effect: experimental! */

.tablehover tr:hover td {
  background-color: transparent;
}

.tablehover tr:nth-child(odd) td:hover,
.tablehover tr:nth-child(even) td:hover {
  color: #fff;
}

.tablehover tbody tr:not(.draggable):hover,
.tablehover .forum-table tr:not(.draggable).even:hover,
.tablehover forum-table tr:not(.draggable).odd:hover,
.tablehover tbody tr:hover,
.tablehover tbody tr td a:hover,
.tablehover tbody tr:hover a {
  background: #666;
  color: #fff !important;
}

.tablehover tbody tr.draggable td a:hover,
.tablehover tbody tr.draggable:hover,
.tablehover tbody tr.draggable:hover a,
.tablehover a.td-hovered {
  color: #fff !important;
}

.tablehover .draggable a.tabledrag-handle {
  margin-left: 0;
}

.tablehover table .warning.tabledrag-changed {
  margin-left: 15px;
}
