@media all and (max-width: 700px) {
  #appbar-container {
    position: relative;
  }
}

#appbar-container {
  bottom: 0;
  display: none;
  font-size: 11px;
  height: 25px;
  padding: 0;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: 99;
}

#appbar-sub {
  display: block;
  margin-left: 15px;
  margin-right: 15px;
  overflow: visible !important;
  position: relative;
}

#appbar {
  background-color: #E5E5E5;
  border: 1px #B5B5B5 solid;
  border-bottom: none;
  display: block;
  height: 25px;
  padding: 0;
  right: 0;
}

#appbar-blocks-left {
  border-right: 1px #B5B5B5 solid;
  float: left;
  height: 25px;
}

#appbar-blocks-right {
  border-right: 1px #B5B5B5 solid;
  float: right;
  height: 25px;
}

.appbar-block {
  border-right: 1px solid #B5B5B5;
  padding: 0 4px;
}

.appbar-block.last {
  border-right: 0 none;
}

.appbar-block-popup,
.appbar-block-hover {
  float: left;
}

.appbar-block-popup .appbar-block-title,
.appbar-block-hover .appbar-block-title {
  cursor: pointer;
  line-height: 25px;
}

.appbar-block-popup .appbar-block-content,
.appbar-block-hover .appbar-block-content {
  background-color: #FFFFFF;
  border: 1px #B5B5B5 solid;
  bottom: 25px;
  display: none;
  margin-bottom: -1px;
  max-height: 450px;
  min-height: 25px;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  width: 200px;
  z-index: 51;
}

.appbar-block-controls {
  background-color: #E5E5E5;
  border-bottom: 1px #B5B5B5 solid;
  height: 20px;
  line-height: 20px;
}

.appbar-block-configure {
  display: none;
  font-size: 80%;
  padding: 0 0.5em;
}

.appbar-minimize {
  cursor: pointer;
  float: right;
  font-size: 20px;
  padding: 0 4px;
}

div.appbar-block-inline {
  display: inline;
  line-height: 25px;
}

.appbar-block-inline p {
  border: 0 none;
  display: inline;
  margin: 0;
  padding: 0;
}

.appbar-block-inline ul.menu,
.appbar-block-inline .item-list ul {
  border: 0 none;
  display: inline;
  margin: 0;
  padding: 0;
}

.appbar-block-inline ul li,
.appbar-block-inline ul.menu li,
.appbar-block-inline .item-list ul li,
.appbar-block-inline li.leaf {
  background: transparent none;
  border: 0 none;
  border-right: 1px #B5B5B5 dotted;
  display: inline;
  float: left;
  margin: 0;
  padding: 0 4px;
}

.appbar-block-inline ul li.last,
.appbar-block-inline ul.menu li.last,
.appbar-block-inline .item-list ul li.last,
.appbar-block-inline li.leaf.last {
  border-right: 0 none;
  padding-right: 0;
}

/** Style the page differently if the Appbar is being shown. **/
.with-appbar {}
