#appbar {
  background-color: #B3D4EF;
  border-color: #5788AF;
  color: #1D435F;
}

/* It would be easier to specify "inherit" here, but IE does not support it. */
#appbar-blocks-left,
#appbar-blocks-right,
.appbar-block,
.appbar-block-inline ul li,
.appbar-block-inline ul.menu li,
.appbar-block-inline .item-list ul li,
.appbar-block-inline li.leaf {
  border-color: #5788AF;
}

.appbar-block-popup .appbar-block-content,
.appbar-block-hover .appbar-block-content,
.appbar-block-controls {
  background-color: #D1E2EF;
  border-color: #5788AF;
}
