
/**
 * @file media_webcam/includes/themes/css/media_webcam.css
 *
 * CSS Stylesheet for Media: Webcam.
 */

.media-webcam-button {
  width: 40px;
  height: 40px;
  float: left;
  margin: 5px;
  background-repeat: no-repeat;
  display: block;
  cursor:pointer;cursor:hand
}

.media-webcam-record {
  background-image: url(img/record.png);
}
.media-webcam-record:hover {
  background-image: url(img/record-over.png);
}

.media-webcam-stop {
  background-image: url(img/stop.png);
}
.media-webcam-stop:hover {
  background-image: url(img/stop-over.png);
}

.media-webcam-play {
  background-image: url(img/play.png);
}
.media-webcam-play:hover {
  background-image: url(img/play-over.png);
}

.media-webcam-snap {
  background-image: url(img/camera.png);
}

.media-webcam-textfield {
  display: none;
}
