
/* ---------- Color Module Styles ----------- */

#preview, 
#preview-header {
  background-color: #2ba3d4;
  color: #ffffff;
}
a {
  color: #ffffff;
}
#preview-portfolio a {
  color: #2ba3d4;
}
#preview-portfolio a:hover {
  color: #3dc0f1;
}
#preview-services {
  background-color: #3dc0f1;
  color: #ffffff;
}
#preview-portfolio {
  background-color: #ffffff;
  color: #000000;
}
#preview-about {
  background-color: #3dc0f1;
  color: #ffffff;
}
#preview-featured {
  background-color: #2ba3d4;
  color: #ffffff;
}
#preview-footer {
  background-color: #252525;
  color: #dddddd;
}