body,
input.form-submit, 
a.button {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* @group Layout */



/* @end */

/* @group Lists */

.inline li + li {
  margin-left: 1.3333em; /* LTR */
}

ul.action-links {
  padding-left: 0;
}

/* @end */

/* @group Buttons */

/* @group Primary */

input.form-submit {
  background-color: #F3F3F3;
  background-image: none;
  background-image: -moz-linear-gradient(-90deg, #F6F6F6 0px, #F3F3F3 60%, #E6E6E6 60.1%, #D6D6D4 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, rgba(246, 246, 246, 1.0)), color-stop(0.6667, rgba(243, 243, 243, 1.0)), color-stop(0.67, rgba(230, 230, 230, 1.0)), color-stop(1.0, rgba(214, 214, 212, 1.0)));
  background-image: -webkit-linear-gradient(-90deg, #F6F6F6 0px, #F3F3F3 60%, #E6E6E6 60.1%, #D6D6D4 100%);
  background-image: linear-gradient(-90deg, #F6F6F6 0px, #F3F3F3 60%, #E6E6E6 60.1%, #D6D6D4 100%);
  border-color: #d9d9d9 #D0D0D0 #A9A9A9;
  border-style: solid;
  border-width: 1px;
  font-size: 15px;
  letter-spacing: 0.25pt;
  padding: 5px 16px;
  text-shadow: 1px 1px 0 #FFFFFF;
}

input.form-submit:hover {
  background-color: #F0F0F0;
  background-image: -moz-linear-gradient(-90deg, #F8F8F8 0px, #F0F0F0 60%, #E0E0E0 60.1%, #CACACA 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, rgba(248, 248, 248, 1.0)), color-stop(0.6667, rgba(240, 240, 240, 1.0)), color-stop(0.67, rgba(224, 224, 224, 1.0)), color-stop(1.0, rgba(202, 202, 202, 1.0)));
  background-image: -webkit-linear-gradient(-90deg, #F8F8F8 0px, #F0F0F0 60%, #E0E0E0 60.1%, #CACACA 100%);
  background-image: linear-gradient(-90deg, #F8F8F8 0px, #F0F0F0 60%, #E0E0E0 60.1%, #CACACA 100%);
  color: #212121;
  text-shadow: 1px 1px 0 #FFFFFF;
}

input.form-submit:active {
  background-color: #E0E0E0;
  background-image: -moz-linear-gradient(-90deg, #F8F8F8 0px, #F0F0F0 60%, #E0E0E0 60.1%, #CACACA 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, rgba(248, 248, 248, 1.0)), color-stop(0.6667, rgba(240, 240, 240, 1.0)), color-stop(0.67, rgba(224, 224, 224, 1.0)), color-stop(1.0, rgba(202, 202, 202, 1.0)));
  background-image: -webkit-linear-gradient(-90deg, #F8F8F8 0px, #F0F0F0 60%, #E0E0E0 60.1%, #CACACA 100%);
  background-image: linear-gradient(-90deg, #F8F8F8 0px, #F0F0F0 60%, #E0E0E0 60.1%, #CACACA 100%);
  border-color: #505050;
  color: #000000;
  text-shadow: 1px 1px 0 #FFFFFF;
}

/* @end */

/* @group Secondary */

ul.secondary li a {
  color: #0678be;
  letter-spacing: 0.25pt;
}

ul.secondary li a, 
ul.secondary li a:hover, 
ul.secondary li.active a, 
ul.secondary li.active a.active {
  padding: 4px 12px;
}

/* @end */

/* @end */

/* @group Overlay */

/* Override the "display: none" that Seven normally uses inside the overlay */

.overlay-login #branding h1.page-title {
  display: block;
}

#overlay-titlebar {
  padding-left: 0;
  padding-right: 0;
}

#overlay-titlebar > * {
  padding-left: 20px;
  padding-right: 20px;
}

#overlay-title {
  float: none;
}

#overlay-titlebar .breadcrumb {
  color: #0074BD;
  font-size: small;
  padding-left: 0;
  padding-right: 0;
}

#overlay-titlebar .breadcrumb a:last-child {
  color: white;
}

#overlay-titlebar #overlay-tabs {
  padding-left: 10px;
}

#overlay-close-wrapper {
  bottom: 0;
  right: -20px;
}

#overlay-close,
#overlay-close:hover {
  background-attachment: scroll;
  background-color: white;
  background-image: url("../images/close.png");
  background-position: center center;
  background-repeat: no-repeat;
  -moz-border-radius: 0 50% 50% 0;
  -o-border-radius: 0 50% 50% 0;
  -webkit-border-radius: 0 50% 50% 0;
  border-radius: 0 50% 50% 0;
}

#overlay-tabs {
  position: relative;
  right: auto;
}

#overlay-tabs li {
  display: inline-block;
  float: left;
  margin: 0;
}

#overlay-tabs li + li {
  margin-left: 2px;
}

#overlay-tabs li a,
#overlay-tabs li a:active,
#overlay-tabs li a:visited,
#overlay-tabs li a:hover {
  line-height: 2.5;
  margin: 0;
  padding: 0 10px;
}

#branding {
  overflow: visible;
}

.overlay ul.secondary {
  line-height: 1.385em;
  margin: 10px 0 10px;
  overflow: visible;
  padding: 0;
  text-align: left;
}

.overlay ul.secondary li {
  display: inline-block;
  margin-bottom: 10px;
  padding-left: 0;
  padding-right: 10px;
}

.overlay ul.secondary li:last-child {
  padding-right: 0;
}

.overlay ul.secondary a {
  display: inline-block;
}

#overlay-content {
  -moz-border-radius: 8px 0 8px 8px;
  -o-border-radius: 8px 0 8px 8px;
  -webkit-border-radius: 8px 0 8px 8px;
  border-radius: 8px 0 8px 8px;
  padding: 20px 20px 0;
}

#overlay-content #page {
  padding: 0;
}

#overlay-content #console,
#overlay-content div.messages {
  margin-top: 0;
}



/* @end */

/* @group Webform */

.webform-response tr > td {
  width: 75%;
}

/* @end */
