a,
.breadcrumbs li a,
.breadcrumbs li span {
  color: #177245;
}
ul.tabs li.active,
ul.tabs li.active {
  border-color: #177245;
}
ul.pager li.pager-current,
ul.pager li.pager-current a:hover,
.pager li.current a:focus,
.readers-choice a:before,
.progress .meter {
  background: #177245;
}
.top-bar-section #main-menu li a:hover {
  color: #177245;
}
.top-bar-section #main-menu li.leaf a.active,
.top-bar-section #main-menu li.expanded a.active {
  border-color: #177245;
}
