/* NFL stylesheet */

.logo-team-small {
  height:25px;
  width:25px;
  display: inline-block;
  background-image: url(logo-nfl-teams-small.png);
  vertical-align:middle;  
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .logo-team-small {
    height:25px;
    width:25px;
    display: inline-block;
    background-image: url(logo-nfl-teams-medium.png);
    background-size: 30px 850px;
    vertical-align:middle;  
  }
}

.logo-team-small-ari {
    background-position: 0 -0px;
}
.logo-team-small-atl {
    background-position: 0 -25px;
}
.logo-team-small-bal {
    background-position: 0 -50px;
}
.logo-team-small-buf {
    background-position: 0 -75px;
}
.logo-team-small-car {
    background-position: 0 -100px;
}
.logo-team-small-chi {
    background-position: 0 -125px;
}
.logo-team-small-cin {
    background-position: 0 -150px;
}
.logo-team-small-cle {
    background-position: 0 -175px;
}
.logo-team-small-dal {
    background-position: 0 -200px;
}
.logo-team-small-den {
    background-position: 0 -225px;
}
.logo-team-small-det {
    background-position: 0 -250px;
}
.logo-team-small-gb {
    background-position: 0 -275px;
}
.logo-team-small-hou {
    background-position: 0 -300px;
}
.logo-team-small-ind {
    background-position: 0 -325px;
}
.logo-team-small-jac {
    background-position: 0 -350px;
}
.logo-team-small-kc {
    background-position: 0 -375px;
}
.logo-team-small-mia {
    background-position: 0 -400px;
}
.logo-team-small-min {
    background-position: 0 -425px;
}
.logo-team-small-ne {
    background-position: 0 -450px;
}
.logo-team-small-no {
    background-position: 0 -475px;
}
.logo-team-small-nyg {
    background-position: 0 -500px;
}
.logo-team-small-nyj {
    background-position: 0 -525px;
}
.logo-team-small-oak {
    background-position: 0 -550px;
}
.logo-team-small-phi {
    background-position: 0 -575px;
}
.logo-team-small-pit {
    background-position: 0 -600px;
}
.logo-team-small-sd {
    background-position: 0 -625px;
}
.logo-team-small-sf {
    background-position: 0 -650px;
}
.logo-team-small-sea {
    background-position: 0 -675px;
}
.logo-team-small-stl {
    background-position: 0 -700px;
}
.logo-team-small-tb {
    background-position: 0 -725px;
}
.logo-team-small-ten {
    background-position: 0 -750px;
}
.logo-team-small-was {
    background-position: 0 -775px;
}


