.block--banner {
  background-image: url($image-banner-sample);
  background-repeat: no-repeat;
  background-position: top right;
  height: 300px;
}

// The banner is invisible on mobile devices.
.banner-text {
  margin-right: 570px;
  padding-top: 0.5em;

  & p:first-child {
    @include single-transition(font-size, $transition-time-default);
    font-family: $font-family-bold;
    font-size: 1.2em;
  }
}

// Show the banner on wider screens.
@include at-media-query($media-medium) {
  .banner-text {
    margin-right: 650px;

    & p:first-child {
      font-size: 1.5em;
    }
  }
}

// Show the banner on wider screens.
@include at-media-query($media-narrow) {
  .with-banner .search-container {
    // Place the search bar on top of the banner.
    position: relative;
    z-index: 100;
    margin-top: -6.1em;
  }
}

// Front page job count.
.block--recruiter-job-search-job-total-count {
  padding-top: 1em;
  font-size: 1.3em;
}
