/* Hide the name and slogan */
.name-and-slogan {
  @include element-invisible;
  float: left;

  h1 {
    margin: 0.5em 0 0 0;
  }
  a {
    color: $color-1;
    font-family: $font-family-light;
    &, &:hover, &:focus, &:active {
      color: $color-1;
    }
  }
}

.logo {
  @include transition(none);
  float: left;
  display: block;
  background: url($image-logo-mobile) no-repeat 50% 50%;
  height: 50px;
  width: 40px;
  margin-right: 30px;
}

@include at-media-query($media-narrow) {
  .logo {
    background: url($image-logo) no-repeat 50% 50%;
    height: 50px;
    width: 85px;
    margin: 12px 0;
  }

  .name-and-slogan {
    @include element-visible;
  }
}
