.view-front-page-job-search .views-field-title {
  padding-left: 50px;
  background: url($image-star) no-repeat 10px 50%;
}

/* Show job link will only be shown for device widths where slim links work.
   -> See colorbox javascript. */

.job-link-wrapper {
  display: none;
}

@include at-media-query($media-narrow) {
  .job-link-wrapper {
    display: block;
  }
}

/* Hide bookmark label */
.view-job-search th.views-field-flag-ops-entity-1 {
  @include element-invisible;
}

.hot-jobs-summary {
  font-family: $font-family-bold;
  font-weight: normal;
  font-size: 1em;
  padding-bottom: .5em;
  margin-bottom: 0em;
}

.node-job .terms {
  @extend %style-facts;
}

.view-job-search {
  .views-row-even {
    background-color: $color-2;
  }

  .views-row-odd {
    background-color: $color-3;
  }

}

.node-job.node-teaser {
  .link-wrapper {
    font-size: 0.8em;
  }
}
