.block--recruiter-resume .state-info-box {
  .state-info-text {
    @extend %styled-block;

    // Default: hidden, auto_hidden, incomplete
    background-color: $color-5;
    color: $color-3;

    .resume-state {
      font-family: $font-family-bold;
    }
  }

  .state-info-link a {
    @include cloudy-button($color-1, $color-7);
    display: block;
  }

  &.state-info-state-visible {
    .state-info-text {
      background-color: $color-3;
      color: $color-1;
    }
  }
}

.field--name-field-resume-personal-info .field-collection-view {
  .field__name .field__items {
    font-size: 1.3em;
  }
}


.resume-teaser-container {
  .field--name-field-resume-job-preferences > .field__label:first-child {
    /* important ensures that typography-fields-field-item doesn't display it again */
    display: none !important;
  }

  .field.field--name-field-resume-summary {
    display: none;
  }
}
