$sidebar-collapsed-width: 5px;
$sidebar-visible-gutter: 40px;
$sidebar-toggle-width: $sidebar-visible-gutter - 10px;
$sidebar-toggle-height: $sidebar-visible-gutter;

// Mobile sidebar.
@include at-media-query($media-narrow-down) {
.sidebar-first-toggle {
  @include border-right-radius(5px);
  top: 3.6em;
  right: -($sidebar-toggle-width + $sidebar-collapsed-width);
  background: $color-5 url($image-filter-icon) no-repeat 45% 50%;
  background-size: 35%;

  .show-sidebar & {
    right: -($sidebar-toggle-width + $sidebar-collapsed-width + $grid-padding);
  }
}

html.js {
  .l-sidebar-first-container {
    color: $color-3;
    background-color: $color-1;
    border-right: $sidebar-collapsed-width solid $color-5;
    @include typography-links-dark-bg;

    .block {
      @include single-transition(opacity, .4s, linear);
      @include border-radius(5px);
      background-color: $color-8;
      padding: 6px 9px;
      margin: 9px 0;
    }
  }
}
}
