.field-type-contextual-view-modes-cvm .form-type-select {
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
}

.field-type-contextual-view-modes-cvm .form-type-select select {
  margin-right: 20px;
}
