
#mortgage-calculator-js-form .form-item {
    display: inline-block;
    width: 125px;
}

#mortgage-calculator-js-form input {
    width: 110px;
    text-align: right;
}

#mortgage-calculator-js-form {
    background-color: #F7F7F7;
    padding: 10px;
}

#mortgage-calculator-js-form .form-item-result-2, #mortgage-calculator-js-form .form-item-result-2 input {
    width: 140px;
}

#mortgage-calculator-js-form label {
    font-weight: normal;
}

#mortgage-calculator-js-form .form-item-result-2 input {
    background-color: #f0f0f0;
    font-weight: bold;
    color: #3B3B3B;
}

#mortgage-calculator-js-form input.form-submit {
    font-weight: bold;
    text-align: center;
    color: #3B3B3B;
}

