.php-execute-history {
  max-height: 300px;
  overflow: auto;
}

.php-execute-saved {
  max-height: 300px;
  overflow: auto;
}

body {
  max-width: none !important;
}

.CodeMirror {
  border: 1px solid #cccccc;
  font-size: 12px;
}

.CodeMirror-scroll {
  height: auto !important;
  min-height: 100px;
  overflow-x: auto !important;
  overflow-y: hidden !important;
  width: 100% !important;
}

.CodeMirror-gutter {
  cursor: pointer;
  min-width: 2.6em;
}

.CodeMirror-matchhighlight {
  background: #d9d9d9;
}

.CodeMirror-fullscreen {
  background: #fff;
  border: none;
  bottom: 0;
  display: block;
  height: 100%;
  left: 0;
  margin: 0;
  opacity: 1;
  padding: 0;
  position: absolute !important;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.CodeMirror.fullscreen .CodeMirror-dialog {
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99999;
}
