/* edit hotspots */
.image-hotspot-edit {
  clear: both;
}
.image-hotspot-img {
  float: left;
}
.image-hotspot-form {
  display: none;
}
.image-hotspot-data {
  float: left;
  border: 1px solid #ccc;
  width: 200px;
  margin-left: 10px;
  background-color: #eee;
  padding: 7px;
}
.image-hotspot-data label {
  font-size: 10px;
  font-weight: normal;
}
.image-hotspot-data input {
  width: 100%;
  box-sizing: border-box;
}
.image-hotspot-data-item {
  padding: 3px;
  border: 1px solid #ddd;
  margin-bottom: 3px;
}
.img-hotspot-data-title {
  cursor: pointer;
}

/* view hotspots */
.image-hotspot-wrapper {
  position: relative;
  clear: both;
}
.img-hotspot {
  width: 100%;
  height: 100%;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=20);
}
.img-hotspot-title {
  font-size: 12px;
  line-height: 12px;
}
.img-hotspot-description {
  font-size: 10px;
  line-height: 10px;
  margin-top: 5px;
}
.hotspot-title {
  cursor: pointer;
}
.hotspot-title:hover {
  text-decoration: underline;
}
.hotspot-overlay {
  background: #000;
  opacity: 0.5;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: 11;
}
.img-hotspot-highlight{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 12;
  width: 100%;
  height: 100%;
  display: none;
  background-repeat: no-repeat;
}
.form-managed-file div.image-widget-data {
  float: none;
}
.img-hotspot-box {
  position: absolute;
  z-index: 11;
}
.hotspots_example {
  position: relative;
  width: 30%;
  float: right;
  background-color: #48A9E4;
  background: url(images/0.png);
  padding-left: 40px;
  margin-left: 5%;
}
.hotspots_example .hotspots_example_area {
  height: 180px;
  width: 22%;
  display: inline-block;
  margin: 10px 5%;
}
.hotspots_refresh {
  background: url(images/icon.png) no-repeat;
  background-size: 100%;
  position: absolute;
  left: 5px;
  top: 5px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.fieldset-wrapper div:not(:first-child){
  margin-left: 10px;
}