
.view .more-link a{
	width: 100%;
	display: block;
	background: #efefef;
	border-bottom: 2px solid #bdc9d1;
	padding: 14px 15px 8px;
	font-family: "gobCL", Tahoma, Verdana, Segoe, sans-serif;
	transition: .1s;
	text-align: left;
	&:hover{
		color: #fff;
		background: #0f69b4;
		border-bottom: 2px solid #045282;
	}
}