


/******** LAYOUT *********/
/* styles for main page sections */

$zen-column-count: 12;
$zen-gutter-width: 1.5em;

.content-area {
	position: relative;
	clear: both;
}

.page {
	@include zen-grid-container; 
	max-width: 98%; 
	margin: 0 auto;
}

header {
	@include zen-clear(); // Apply this mixin to start a new row. 
	//padding-top: 1em;
}

.utility-bar {
	@include zen-clear(); // Apply this mixin to start a new row. 
	@include zen-grid-item(12, 1); 
}

.siteinfo {
	@include zen-clear(); // Apply this mixin to start a new row. 
	@include zen-grid-item(12, 1); 
}

.header-region {
		@include zen-clear();
		@include zen-grid-item(12, 1); 
}

.main-content {
	@include zen-clear(); // Apply this mixin to start a new row.
	@include zen-grid-item(12, 1); 
}

.sidebar-content-first {
	@include zen-clear(); // Apply this mixin to start a new row.
	@include zen-grid-item(12, 1); 
}

.sidebar-content-second {
	@include zen-clear(); // Apply this mixin to start a new row.
	@include zen-grid-item(12, 1); 
}

.page > footer {
	@include zen-clear(); // Apply this mixin to start a new row.
	@include zen-grid-item(12, 1); 
	padding-top: .5em;
	padding-bottom: .5em;
}


/* Phone horizontal / small tablet view */
@include breakpoint($mq-s-tab) {
	$zen-column-count: 8;
	$zen-gutter-width: 1.5em;

	.page {
		width: 98%;
		max-width: 98%; 
	}

	.utility-bar {
		@include zen-clear(); // Apply this mixin to start a new row. 
		@include zen-grid-item(12, 1); 
	}
	
	.siteinfo {
			@include zen-clear();
			@include zen-grid-item(12, 1); 
	}
	.header-region {
			@include zen-clear();
			@include zen-grid-item(12, 1); 
	}

	.main-content {
		@include zen-clear(); // Apply this mixin to start a new row.
		@include zen-grid-item(12, 1); 
		//.region-content {
		//	@include zen-clear(); 
		//	@include zen-grid-item(8,1);
		//}
	}
	
	.sidebar-content-first {
		@include zen-clear(); // Apply this mixin to start a new row.
		@include zen-grid-item(12, 1); 
	}
	
	.sidebar-content-second {
		@include zen-clear(); // Apply this mixin to start a new row.
		@include zen-grid-item(12, 1); 
	}
	
	.page > footer {
		@include zen-clear(); // Apply this mixin to start a new row.
		@include zen-grid-item(12, 1); 
	}

}/*/mediaquery*/

/* Larger tablet view */
@include breakpoint($mq-l-tab) {
	$zen-column-count: 12;
	$zen-gutter-width: 3em;
	//$zen-float-direction: right;
	.page {
		width: 94%;
		max-width: 94%; 
	}
	
	.siteinfo {
			@include zen-float();
			@include zen-grid-item(6, 1); 
	}
	.header-region {
			@include zen-float();
			@include zen-grid-item(6, 7	); 
			clear: none;
	}

	.page > nav {
		@include zen-clear();
		@include zen-grid-item(12, 1); 
		//height: $nav-height;
	}
	.main-content, 
	.sidebar-content-first, 
	.sidebar-content-second {
		//margin-top: $nav-height;
	}
	
	.no-sidebars {
		.main-content {
			@include zen-float();
			@include zen-grid-item(12, 1); 
			//.region-content {
			//	@include zen-clear(); 
			//	@include zen-grid-item(8,2);
			//}
		}
	}
		
	.one-sidebar.sidebar-first {
		.main-content {
			@include zen-float();
			@include zen-grid-item(8, 5); 
			//clear: right;
		}
		.sidebar-content-first {
			@include zen-float();
			@include zen-grid-item(4, 1); 
			clear: none;
		}
	}
	
	.one-sidebar.sidebar-second {
		.main-content {
			@include zen-float();
			@include zen-grid-item(8, 1); 
		}
		.sidebar-content-second {
			@include zen-float();
			@include zen-grid-item(4, 9); 
			clear: none; 
			//padding-top: 4em;
		}
	}
	
	.two-sidebars {
		.main-content {
			@include zen-float();
			@include zen-grid-item(8, 5); 
		}
		.sidebar-content-first {
			@include zen-float();
			@include zen-grid-item(4, 1); 
			//clear: none; 
			position: absolute;
		}
		.sidebar-content-second {
			@include zen-float();
			@include zen-grid-item(8, 5); 
			//clear: both;
			//padding-top: 4em;
		}
	}
	
	.page > footer {
		@include zen-clear(); // Apply this mixin to start a new row.
		@include zen-grid-item(12, 1); 
	}

	
}/*/mediaquery*/

/* Main desktop view */
@include breakpoint($mq-desk) {
	$zen-column-count: 12;
	$zen-gutter-width: 3em;
	$zen-float-direction: left;
	.page {
		width: 90%;
		max-width: 64em; 
	}

	.siteinfo {
			@include zen-float();
			@include zen-grid-item(6, 1); 
	}
	.header-region {
			@include zen-float();
			@include zen-grid-item(6, 7); 
	}

	.page > nav {
		@include zen-clear();
		@include zen-grid-item(12, 1); 
		//height: $nav-height;
	}
	.no-sidebars {
		.main-content {
			@include zen-float();
			@include zen-grid-item(10, 2); 
			//.region-content {
			//	@include zen-clear(); 
			//	@include zen-grid-item(9,2);
			//}
		}
	}
	.front.no-sidebars { 
		.main-content {
			@include zen-grid-item(12, 1); 
		}
	}
	
	.one-sidebar {
		.main-content {
			@include zen-float();
			@include zen-grid-item(9, 4); 
		}
	}
	
	.one-sidebar.sidebar-first {
		.main-content {
			@include zen-float();
			@include zen-grid-item(9, 4); 
		}
		.sidebar-content-first {
			@include zen-float();
			@include zen-grid-item(3, 1); 
			clear: none; 
		}
	}
	
	.one-sidebar.sidebar-second {
		.main-content {
			@include zen-float();
			@include zen-grid-item(8, 1); 
		}
		.sidebar-content-second {
			@include zen-float();
			@include zen-grid-item(3, 10); 
			clear: none;
		}
	}
	
	.two-sidebars {
		.main-content {
			@include zen-float();
			@include zen-grid-item(6, 4); 
		}
		.sidebar-content-first {
			@include zen-float();
			@include zen-grid-item(3, 1); 
			clear: none; 
		}
		.sidebar-content-second {
			@include zen-float();
			@include zen-grid-item(3, 10); 
			clear: none;
		}
	}
	
	.sidebar-content-first {
		position: relative;
	}
	
	.page > footer {
		@include zen-clear(); // Apply this mixin to start a new row.
		@include zen-grid-item(12, 1); 
	}

	
}/*/mediaquery*/

/******* /LAYOUT *********/
