.open-graph-comment-outer {
  float: left;
  width: 100%;
  border: 1px solid #e8e8e8;
  padding: 4px 8px;
  background-color: #fbfbfb;
}
.open-graph-comment-img {
  float: left;
  padding: 6px 10px 2px 0;
}
.open-graph-comment-img img {
  width: 135px;
}
.open-graph-comment-title {
  margin: 0;
}
