#langcheck-result-table-wrapper {
  overflow: auto;
}

#langcheck-result-table-wrapper thead th,
#langcheck-result-table-wrapper thead td {
  vertical-align: bottom;
}

#langcheck-result-table-wrapper tbody tr.excluded th,
#langcheck-result-table-wrapper tbody tr.excluded td {
  background-color: #F3F3F3;
}

#langcheck-result-table tbody td {
  text-align: right;
  font-family: "DejaVu Sans Mono", "Courier new", monospace;
  border: 1px solid #BEBFB9;
}

.langcheck-state-0 {
  background-color: #FFBBBB;
}
.langcheck-state-1 {
  background-color: #FFD7D7;
}
.langcheck-state-2 {
  background-color: #FFDADA;
}
.langcheck-state-3 {
  background-color: #FFDDDD;
}
.langcheck-state-4 {
  background-color: #FFE0E0;
}
.langcheck-state-5 {
  background-color: #FFE3E3;
}
.langcheck-state-6 {
  background-color: #FFE6E6;
}
.langcheck-state-7 {
  background-color: #FFE9E9;
}
.langcheck-state-8 {
  background-color: #FFECEC;
}
.langcheck-state-9 {
  background-color: #FFEFEF;
}
.langcheck-state-10 {
  background-color: #DDFFDD;
}
