/**
 * This class append to body tag if top toolbar enabled.
*/
.gb_placeholder {
  margin-top: 60px;
}

/**
 * Styles for top toolbar.
*/
#gb_city_select_1_wrapper {
  background: #fef0d5;
  box-shadow: 0 4px 29px rgba(150, 92, 0, 0.35);
  height: 60px;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 10;
}

#gb_city_select_1_container {
  font-size: 18px;
  height: 20px;
  margin: 15px auto;
  position: relative;
  top: 0px;
  width: 900px;
  z-index: 10;
}

#gb_city_select_1_close {
  background: url(\"data: image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAkCAYAAACE7WrnAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAmZJREFUeNqtlMFrE0EUxk0CzUGhUCgILRahgifpreQQKpaC4E08VRQPhWLw2kLooVRqUhQ9GhClUNGLNxEUCgEh2D9AzMWCUPRSaKBQCBRK/D2YgW+zO8129cG3b/bNvG/ezO77cr1e71y/1ev1IdwcuAEuuHAHfKlWq1/xMfNESjKD2wSXQZJ9B3chxEeJtIrn4BEYZMfgMWRPfCAvk6+FZJANgXU2X4kQEZjH3ZPSZ8GbBIJXbs4fa43cKa1oTRa/oOQmWGD8TOKrxBZtTuIFn1soFosl/JIk5Fut1odyudwD24zPE/sMwbqrvmAOTAKzS6xp5Gq12kNeXgK19+A+yScJv8U7cAeozdrRLoJ+mwdbbvcQidqoER2G/hetiPExrh1Ye2REexLQi93wdyJkqzjiMftldzTCYB/4hAYJlb7jHIEFXyHxLfld9ohP5HlYD70V9p2EO3kANqW6pqxv+BaxpDHGP8Aw+OMmb4ESUGuBbdcBo2AXXKOYrvbaHO4ToJJU1gFlSNqRXiNgO113FQ0yS572JErkyXZwV8Fy4FPbfMUdZzesR3GBG5ZWaNtd6PxAos74laBCjvz+mU4hIUmlkBAmKyQEZ1ZIyP6PQrJ5VCEJZFZIcsMKSclNEFNIYosgUSFzB2OTJfw3SfgIbpNw4qp9alLj74P3guuAm8CsC8aNKKiQjky/aDaFtN2FJLtCakWMsykkiRv+ToQsrJDcUUwhSag4kohCygeIKCTxiTyPmEIqiSoksdMVkgX/pJAU09Vey6SQkEQVksCZFdKTKJEnS62QrE2vkBw3opAkBxXyL4igTk91D97/AAAAAElFTkSuQmCC");
  cursor: pointer;
  height: 18px;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 18px;
}

#gb_city_select_1_link {
  border-bottom: 1px dotted;
  text-decoration: none;
}

/**
 * List of ciites for top toolbar. (pop-up window)
*/
#cities_list_window_wrapper {
  background: rgba(0,0,0,.5);
  height: 100%;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 20;
}

#cities_list_window_content {
  background: #fef0d5;
  border: 4px solid #d3c09b;
  left: 40%;
  margin: 0 auto;
  padding: 20px;
  position: fixed;
  top: 30%;
  width: 300px;
  z-index: 40;
}

#cities_list_window_content > ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

#cities_list_window_content > ul a {
  border-bottom: 1px dotted;
  font-size: 18px;
  text-decoration: none;
}

#cities_list_window_content > ul li {
  font-size: 18px;
  text-decoration: none;
}

#cities_list_window_close {
  background: url(\"data: image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAkCAYAAACE7WrnAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAmZJREFUeNqtlMFrE0EUxk0CzUGhUCgILRahgifpreQQKpaC4E08VRQPhWLw2kLooVRqUhQ9GhClUNGLNxEUCgEh2D9AzMWCUPRSaKBQCBRK/D2YgW+zO8129cG3b/bNvG/ezO77cr1e71y/1ev1IdwcuAEuuHAHfKlWq1/xMfNESjKD2wSXQZJ9B3chxEeJtIrn4BEYZMfgMWRPfCAvk6+FZJANgXU2X4kQEZjH3ZPSZ8GbBIJXbs4fa43cKa1oTRa/oOQmWGD8TOKrxBZtTuIFn1soFosl/JIk5Fut1odyudwD24zPE/sMwbqrvmAOTAKzS6xp5Gq12kNeXgK19+A+yScJv8U7cAeozdrRLoJ+mwdbbvcQidqoER2G/hetiPExrh1Ye2REexLQi93wdyJkqzjiMftldzTCYB/4hAYJlb7jHIEFXyHxLfld9ohP5HlYD70V9p2EO3kANqW6pqxv+BaxpDHGP8Aw+OMmb4ESUGuBbdcBo2AXXKOYrvbaHO4ToJJU1gFlSNqRXiNgO113FQ0yS572JErkyXZwV8Fy4FPbfMUdZzesR3GBG5ZWaNtd6PxAos74laBCjvz+mU4hIUmlkBAmKyQEZ1ZIyP6PQrJ5VCEJZFZIcsMKSclNEFNIYosgUSFzB2OTJfw3SfgIbpNw4qp9alLj74P3guuAm8CsC8aNKKiQjky/aDaFtN2FJLtCakWMsykkiRv+ToQsrJDcUUwhSag4kohCygeIKCTxiTyPmEIqiSoksdMVkgX/pJAU09Vey6SQkEQVksCZFdKTKJEnS62QrE2vkBw3opAkBxXyL4igTk91D97/AAAAAElFTkSuQmCC");
  cursor: pointer;
  height: 18px;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 18px;
}

/**
 * List of cities for placeholder. (pop-up window)
*/
.gb_city_change_embeded_popup {
  background: #fcfcfc;
  border: 1px solid #cfcfcf;
  list-style: none;
  margin: 0px;
  padding: 15px;
  position: absolute;
  width: 200px;
  z-index: 999;
}
