#views-exposed-form-location-map-page li  li {
  font-size: 0.88em;
}
#views-exposed-form-location-map-page li  li  li {
  font-size: 0.8em;
  font-weight: normal;
}
#views-exposed-form-location-map-page li {
  list-style-position: outside;
}
#views-exposed-form-location-map-page ul {
    padding: 0;
}
#views-exposed-form-location-map-page ul ul {
    padding-left: 5px;
}
#views-exposed-form-location-map-page label {
    padding-bottom: 8px;
    padding-top: 8px;
}
#views-exposed-form-location-map-page div.form-item {
    line-height: 30px;
}

.view-location-listing .views-field-field-location-icon img {
  float: right;
  margin-left: 10px;
}

#views-exposed-form-location-listing-page ul li {
  list-style: none;
}
#views-exposed-form-location-listing-page li {
  font-size: .92em;
  font-weight: 600;
}
div.pane-taxonomy-term-field-location-icon,
div.views-field-field-content-image {
 float: left;
 margin-right: 10px;
 margin-bottom: 10px;
}
div.views-row {
  clear: both;
}
