a.elf-external.elf-icon {
  background: url(../images/link.png) right center no-repeat;
  padding-right: 12px;
}
a.elf-mailto.elf-icon {
  background: url(../images/mail.png) right center no-repeat;
  padding-right: 12px;
}