.ng-enter {
  -webkit-transition: .75s;
  -moz-transition: .75s;
  transition: .75s;
  opacity: 0;
}
.ng-enter-active {
  opacity: 1;
}
.ng-leave {
  -webkit-transition: 0s;
  -moz-transition: 0s;
  transition: 0s;
}
.ng-leave-active {
  opacity: 0;
}

.ngapp-example a,
.ngapp-example button {
  cursor: pointer;
}
