/**
 * @file
 *   ercd CSS
 *
 * @ingroup ercd
 */

.ercd-alert {
  color: #ff0000;
}

.ercd-message {
  font-size: .9em;
  margin-left: .5em;
  margin-top: .5em;
}

.ercd-row {
  padding: 10px;
}

.ercd-row.even {
  background: #f3f4ee;
}

.ercd-row.odd {
  background: #fff;
}

.ercd-row fieldset {
  background: #efefef;
  border-color: #aaa;
}

.ercd-select-all-buttons {
  margin-top: 10px;
}

.ercd-wrapper {
  border: 1px solid #bebfb9;
}

.fieldset-description {
  margin-bottom: 1em;
}

#edit-ercd-reference-direction .form-item .ajax-progress {
  left: 50%;
  margin-left: -50px;
  margin-top: -3em;
  position: absolute;
}

#edit-ercd-reference-direction .form-item label.option {
  clear: left;
  cursor: pointer;
}

#edit-ercd-reference-direction .form-type-radio {
  display: inline;
  float: left;
  padding: 10px 2% 0 2%;
  text-align: center;
  width: 46%;
}

#edit-ercd-reference-direction .form-type-radio img:hover {
  -webkit-box-shadow: 0px 0px 15px 5px rgba(150, 150, 150, .75);
  -moz-box-shadow: 0px 0px 15px 5px rgba(150, 150, 150, .75);
  box-shadow: 0px 0px 15px 5px rgba(150, 150, 150, .75);
}

#edit-ercd-reference-direction .form-type-radio.selected img,
#edit-ercd-reference-direction .form-type-radio.selected img:hover {
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 150, .75);
  -moz-box-shadow: 0px 0px 15px 5px rgba(0, 0, 150, .75);
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 150, .75);
}

#edit-ercd-reference-direction .form-type-radio img {
  max-width: 100%;
}

#edit-ercd-reference-direction input.form-radio {
  display: block;
  float: none;
  margin: 10px auto;
  vertical-align: top;
}

#ercd-delete-message {
  background: #efefef;
  margin-bottom: 10px;
  padding: 10px 20px;
}
