/**
 * 
 * TODO: check classes still apply in D7 - in particular the unpublished classes and the extra classes.
 */
 
/* Comments wrapper */
#comments {
}

#comments > h2 {
  border-bottom: 1px solid #EEE;
  border-top: 1px solid #EEE;
  color: #444;
  font-weight: normal;
  margin-bottom: 1em;
  padding: .5em 0;
  text-transform: uppercase;
}

/* Individual comment */
.comment {
  background: #FAFAFA;
  border: 1px solid #EBEBEB;
  margin-bottom: 1em;
  margin-left: 80px;
  padding: 1em;
  position: relative;
}

/* Indentation */
#comments .indented {
  margin-left: 80px;
  margin-top: -1em;
  padding: 1em 0 1em 1em;
}

#comments .indented .comment {
  background: url(images/comment-bg.png) repeat-x left bottom #FFF;
  margin: 0;
}

#comments .indented .indented {
  border-bottom: 0;
  margin: 0;
  padding-left: 1em;
}

/* Comment Title */
.comment > .header {
}

.comment-title {
  font-size: 1em;
  font-weight: bold;
}

.comment-title a,
.comment-title a:visited {
  text-decoration: none;
}

.comment-title a:hover,
.comment-title a:active,
.comment-title a:focus {
  text-decoration: underline;
}

/* Skinr comment title alignment. */
.ta-l .comment-title {
  text-align: left;
}

.ta-r .comment-title {
  text-align: right;
}

.ta-c .comment-title {
  text-align: center;
}

/* Comment "new" title */
.comment-title .new {
  color: #FF8000;
}

/* User Picture */
.comment .user-picture {
}

.comment .user-picture img {
}

/* Comment Content */
.comment-content {
}

/* Submitted */
.comment > .footer {
  background: url(images/comment-arrow.png) no-repeat right top;
  color: #888;
  font-family: Georgia;
  font-size: 0.917em;
  font-style: italic;
  left: -80px;
  padding-right: 20px;
  position: absolute;
  text-align: right;
  top: 0;
  width: 60px;
}

.comment > .footer > span {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
}

.comment > .footer .username {
  font-weight: bold;
  text-transform: capitalize;
}

.comment > .footer .time a {
  color: #aaaaaa;
}

.comment > .footer a,
.comment > .footer a:visited {
}

.comment > .footer a:hover,
.comment > .footer a:active,
.comment > .footer a:focus {
}

.indented .comment > .footer {
  background: none;
  padding: .5em 0;
  position: static;
  text-align: left;
  width: auto;
}

/* Links */
.comment .comment-links {
}

.comment ul.links {
  display: block;    
  margin-left: 0;
  margin-right: 0;
  padding: 0 1em 0 0;
  text-align: right;
}

.comment ul.links li {
  background: url(images/vsep-1.png) no-repeat right center;
  float: left;
  margin: 0;
  padding: 0 .75em 0 0;
}

.comment ul.links li a {
  color: #AAA;    
  font-family: Georgia;
  font-style: italic;
}

.comment ul.links li a:hover,
.comment ul.links li a:active,
.comment ul.links li a:focus {
  color: #4DA1BD;
}
/* Core comment link classes. */
.comment ul.links li.comment-reply { 
  float: right;
}

.comment ul.links li.comment-reply a {
  background: url(images/grad.png) repeat-x left bottom #FFF;
  border: 1px solid #E5E5E5;
  color: #888;    
  display: block;
  font-family: Arial,Helvetica,sans-serif;
  font-style: normal;
  padding: 4px 8px;
  text-transform: capitalize;
}

.comment ul.links li.comment-reply a:hover, 
.comment ul.links li.comment-reply a:active, 
.comment ul.links li.comment-reply a:focus {
  background: url(images/grad-h.png) repeat-x left bottom #99C147;
  border-color: #6B9E1B;
  color: #FFF;
  text-decoration: none;
}

.comment ul.links li.comment-edit {
  background-image: none;
}

ul.links li.comment-edit a {
}

ul.links li.comment_delete a {
}

/* UL link first and last classes. */
.comment ul.links li.first {
}

.comment ul.links li.last {
  background: none;
}

/**
 * Different status for comments
 */
 
/* Author */
.comment-by-anonymous {
}

.comment-by-article-author {
}

.comment-by-viewer {
}

/* New */
.comment-new {
}

/* Unpublished */
.comment-odd {
}

.comment-even {
}

/* Status */
.comment-unpublished {
}

/* Themes the "Unpublished" text. */
.comment-unpublished .unpublished {
}

/**
 * Comment Form
 */

.comment-form-wrapper .title {
  background: #FAFAFA;
  border: 1px solid #EEE;
  border-bottom: 0;
  margin: 0;
  padding: .5em;
}

.comment-form {
  background: #FAFAFA;
  border: 1px solid #EEE;
  padding: 1em;
}

.comment-form .form-item label {
}

.comment-form .form-text,.comment-form textarea {
  background: #FFF;
}

.comment-form .form-item .form-textarea-wrapper {
}

.comment-form .form-item .form-textarea-wrapper textarea {
}

.comment-form .form-item .resizable-textarea .grippie {
}

.comment-form .filter-wrapper {
  background: #FFF;
}

.comment-form .form-actions {
}