/* -- Common Links --- */
a {
  color: #7EA432;
  text-decoration: none;
}

a:visited {
}

a:hover {
}

li a.active {
}

a:active, a:focus {
}

/* Any menu block in the menu-bar region */
.nav {
  clear: both;
  margin: 0;
}

.nav li,
.nav .menu li {
  display: inline;
  float: left;
  list-style: none;
}

.nav li a,
.nav .menu li a {
  display: block;
  padding: 0 10px;
  white-space: nowrap;
}

.nav ul,
.nav ul.menu,
.nav ul.menu li {
  margin: 0;
  padding: 0;
}

.nav .block {
  margin: 0;
  padding: 0;
}

/* -- Default Drupal Menu --- */
.block ul.menu {
  margin: 0;
}

.block ul.menu ul {
}

ul.menu li.expanded,
ul.menu li.collapsed,
ul.menu li.leaf {
}

/* Expanded Items */
.block ul.menu li.expanded {
}

.block ul.menu li.expanded li.expanded {
}

.block ul.menu li.expanded li.expanded a {
}

.block ul.menu li.expanded ul {
  margin: 10px 20px 0;
}

.block ul.menu li.expanded ul ul {
}

/* Collapsed Item */
.block ul.menu li.collapsed {
}

.block ul.menu li li.collapsed a,
.block ul.menu li.expanded li.collapsed a {
}

/* Leaf Items */
.block ul.menu li.leaf a {
}

.block ul.menu li.expanded li.leaf a {
}

/* Active Items */
.block ul.menu li.active-trail > a,
.block ul.menu li > a.active {
}

.block ul.menu li.leaf a.active {
}

.block ul.menu li li a.active {
}

.block ul.menu li li li a.active {
}

/* Misc. Items */
.block ul.menu {
  margin: 0;
}

.block ul.menu > li {
  border-bottom: 1px solid #EEE;
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 10px 0;
}

.block ul.menu li.first {
  padding-top: 0;
}

.block ul.menu li.last {
  border-bottom: 0;
  padding-bottom: 0;
}

.block ul.menu li.content {
  padding: 0;
}

/* Black Color Block and Menu */
.black-color ul.menu li {
  border: 1px solid #222;
  list-style: none;
  margin: 0 0 5px;
  padding: 0;
}

.black-color ul.menu li.last {
  border: 1px solid #222;
}

.black-color ul.menu li a {
  border: 1px solid #000;
  display: block;
  padding: 5px 10px;
}

.black-color ul.menu li.collapsed a {
  background: url(images/arrow.gif) no-repeat 95% center;
}

.black-color ul.menu li a.active {
  color: #666;
}

.black-color ul.menu li.collapsed a.active {
  background-image: url(images/arrow-h.gif);
}

.black-color ul.menu li a:hover,
.black-color ul.menu li a:focus,
.black-color ul.menu li a:active {
  color: #FFF;
}

.black-color ul.menu li.collapsed a:hover,
.black-color ul.menu li.collapsed a:focus,
.black-color ul.menu li.collapsed a:active {
  background-image: url(images/arrow-h.gif);
}

.black-color ul.menu li li a:hover,
.black-color ul.menu li li a:focus,
.black-color ul.menu li li a:active {
}

/* Gray Color Block and Menu */
.gray-color ul.menu li {
  border: 1px solid #FFF;
  list-style: none;
  margin: 0 0 5px;
  padding: 0;
}

.gray-color ul.menu li.last {
  border: 1px solid #FFF;
}

.gray-color ul.menu li a {
  border: 1px solid #EEE;
  color: #797979;
  display: block;
  padding: 5px 10px;
}

.gray-color ul.menu li.collapsed a {
  background: url(images/arrow1.gif) no-repeat 95% center;
}

.gray-color ul.menu li a.active {
  color: #7EA432;
}

.gray-color ul.menu li.collapsed a.active {
  background-image: url(images/arrow-h.gif);
}

.gray-color ul.menu li a:hover,
.gray-color ul.menu li a:focus,
.gray-color ul.menu li a:active {
  color: #7EA432;
}

.gray-color ul.menu li.collapsed a:hover,
.gray-color ul.menu li.collapsed a:focus,
.gray-color ul.menu li.collapsed a:active {
  background-image: url(images/arrow-h.gif);
}

.gray-color ul.menu li li a:hover,
.gray-color ul.menu li li a:focus,
.gray-color ul.menu li li a:active {
}

/* -- Secondary Menu --- */
#secondary-menu {
  top: 10px;
  padding: 0;
  position: absolute;
  right: 0;
  text-align: right;
}

#secondary-menu ul.links {
  margin: 0;
}

#secondary-menu ul.links a {
  color: #666;
  font-style: italic;
  text-decoration: none;
}

#secondary-menu ul.links a:focus,
#secondary-menu ul.links a:hover,
#secondary-menu ul.links a:active {
  color: #7EA432;
}

/* -- Breadcrumb --- */
#breadcrumb-wrapper h2 {
}

#breadcrumb-wrapper ol {
  float: left;    
  line-height: 28px;
  list-style: none;
  margin: 0;
  padding: 0;
}

#breadcrumb-wrapper ol li {
  display: inline;
  padding-right: 2px;
}

#breadcrumb-wrapper ol li span {
  word-spacing: 2px;
}

#breadcrumb-wrapper ol li a {
  color: #7EA432;
}

#breadcrumb-wrapper ol li a.active {
  color: #7EA432;
}

/* Back To Top */
a.btn-btt {
  background: #EEE;
  color: #999;
  float: right;
  padding: 5px 10px;
}

a.btn-btt:hover,
a.btn-btt:active,
a.btn-btt:focus {
  color: #7EA432;
}

/* Footer */
#footer-wrapper ul.menu {
  list-style: none;
  margin: 0;
  text-align: center;
}

#footer-wrapper ul.menu li {
  background: url(images/vsep-2.gif) no-repeat right center;
  border: 0;
  display: inline;
  list-style: none;
  margin-left: 5px;
  padding-right: 10px;
  padding-top: 10px;
}

#footer-wrapper ul.menu li.first {
  margin-left: 0;
}

#footer-wrapper ul.menu li.last {
  background: 0;
  padding-right: 0;
}

#footer-wrapper ul.menu li a {
  background: none;
  border: 0;
  color: #666;
  display: inline;
  padding: 0;
  text-decoration: none;
}

#footer-wrapper ul.menu li a:hover,
#footer-wrapper ul.menu li a:focus,
#footer-wrapper ul.menu li a:active {
  color: #AAA;
}

/* -- Pager --- */
div.pager {
}

ul.pager {
  clear: both;
  margin: 0;
  text-align: center;
}

.item-list ul.pager li {
  margin: 0;
}

ul.pager li {
  background-image: none;
  display: inline;
  list-style-type: none;
  padding: .5em;
}

ul.pager li a {
}

ul.pager li a:visited {
}

ul.pager li a:hover {
}

ul.pager li a:active,
ul.pager li a:focus {
}

ul.pager li a.active {
}

ul.pager li.pager-item {
}

ul.pager li.first {
}

ul.pager li.last {
}

ul.pager li.pager-current {
}

ul.pager li.pager-first {
}

ul.pager li.pager-previous {
}

ul.pager li.pager-next {
}

ul.pager li.pager-last {
}

/* Pager List */
ul.pager-list {
}

/* Pager Links */
ul.pager-links {
}

/* -- Items List --- */
.item-list ul {
}

.item-list ul li {
}

.item-list ul li a {
  color: #7EA432;
}

.item-list ul li a:hover,
.item-list ul li a:active,
.item-list ul li a:focus {
}

/* -- Links --- */
ul.links {
}

ul.links li {
}

ul.links li a {
}

/* -- Action Links --- */
ul.action-links {
}

ul.action-links li {
}

ul.action-links li a {
}

/* -- More Links --- */
.more-link {
}

.more-link a {
}

/* --- Supperfish --- */

.block-superfish {
  margin-bottom: 0;
}

.block-superfish .block-inner,
.block-superfish .block-inner .content {
  margin: 0;
  padding: 0;
}

.block-superfish ul,
.block-superfish ul ul,
.block-superfish ul ul ul,
.block-superfish ul ul ul ul,
.block-superfish li {
  margin: 0 !important;
  padding: 0;
}

.sf-vertical,
.sf-vertical li {
  width: 100%;
}

.sf-vertical li {
  border-bottom: 1px solid #FFF;
}

.sf-vertical li.last {
  border-bottom: none;
}

.sf-vertical li:hover ul,
.sf-vertical li.sfHover ul {
  left: 100%; /* match ul width */
  margin: 0;
  padding: 0;
  top: 0;
}

.sf-vertical li a {
  padding: 0 10px;
}

ul.sf-navbar {
  margin-bottom: 40px !important; /* Height for navbar */
}

/**
 * Tabs
 */
 
/* --- System Tabs --- */

ul.primary {
  background: url(images/line.gif) repeat-x left bottom;
  border-bottom: 0;
  height: 36px;
  margin: 0 0 1.5em;
  padding: 0 0 0 1em;
}

ul.primary li {
  display: block;
  float: left;
  margin-right: .08em;
  padding: 0 0.833em;
  height: 35px;
  line-height: 35px;
}

ul.primary li.active {	
  background-color: #FFF;
  border-color: #CCC #CCC #FFF;    
  border-style: solid;
  border-width: 1px 1px 0;
}

ul.primary li a {
  background-color: transparent;
  border: 0;
  color: #666;
  padding: 0;    
  text-transform: uppercase;
}

ul.primary li a:hover {
  background-color: transparent;
  border: 0;
  color: #7EA432;
}

ul.primary li.active a,
ul.primary li.active a:hover,
ul.primary li.active a:focus {
  background: none;
  border: 0;
}

.local-tasks ul.primary li a:hover {
  background-color: transparent;
  border-bottom: 0;
}

.local-tasks ul.primary li.active a {
  background-color: #FFF;
  border-bottom-color: #FFF;
}

ul.secondary {
  border-bottom: 1px solid #CCC;
  margin: 1em 0 0;
  padding: 0 .3em 1em;
}

ul.secondary li {
  border-right: 0;
  list-style: none;
  padding: 0 2em 0 0;
}

ul.secondary li a:hover,
ul.secondary li a.active {
  border-bottom: none;
  text-decoration: underline;
}

/**
 * MISC.
 */

#tasks {
  margin-bottom: 1em;
}

/* Skip Navigation */
#skip-link {
}

#skip-link a,
#skip-link a:visited {
}

#skip-link a:hover,
#skip-link a:active,
#skip-link a:focus {
}
