/**
 * @file
 * Textcolor "white".
 */
.willibald-pane.tx-white p,
.willibald-pane.tx-white li,
.willibald-pane.tx-white blockquote,
.willibald-pane.tx-white h1,
.willibald-pane.tx-white h2,
.willibald-pane.tx-white h2,
.willibald-pane.tx-white h4,
.willibald-pane.tx-white h5,
.willibald-pane.tx-white h6 {
  color: white;
}
.willibald-pane.tx-white a {
  color: white;
  border-bottom: 1px dotted white;
  text-decoration: none;
}
.willibald-pane.tx-white a:hover {
  opacity: .7;
}
