/**
 * @file
 * Textcolor "dark blue".
 */
.willibald-pane.tx-dark-blue p,
.willibald-pane.tx-dark-blue li,
.willibald-pane.tx-dark-blue blockquote,
.willibald-pane.tx-dark-blue h1,
.willibald-pane.tx-dark-blue h2,
.willibald-pane.tx-dark-blue h2,
.willibald-pane.tx-dark-blue h4,
.willibald-pane.tx-dark-blue h5,
.willibald-pane.tx-dark-blue h6 {
  color: #485873;
}
.willibald-pane.tx-dark-blue a {
  color: #485873;
  border-bottom: 1px dotted #485873;
  text-decoration: none;
}
.willibald-pane.tx-dark-blue a:hover {
  opacity: .7;
}
