/**
 * @file
 */


/**
 * Copyright Statement with footer menu.
 */
.p6-helper-message {
  margin-bottom: 1em;
}
.p6-helper-copy,
.p6-helper-name,
.p6-helper-nav,
.p6-helper-top,
.p6-helper-feeds {
  line-height: 1;
  padding: 0.5em 0;
  margin-right: 1em;
}
.p6-helper-name a {}
.p6-helper-feeds a {
  margin-right: 0.5em;
}
.p6-helper-nav ul {
  margin: 0;
  padding: 0;
  list-style: none none;
}
.p6-helper-nav ul li {
  float: left;
  border-left: 1px solid #000;
  padding: 0 0 0 0.5em;
  margin: 0 0 0 0.5em;
}
.p6-helper-nav ul li:first-child {
  border-left: 0 none;
  padding-left: 0;
  margin-left: 0;
}
.p6-helper-nav li a {}
.p6-helper-top a {}


/**
 * Created by Project6 logo.
 */
#created-by-p6 {
  width: 87px;
  height: 26px;
  display: block;
  overflow: hidden;
  outline: 0 none;
  background: transparent url("created-by-p6.png") no-repeat left bottom;
  position: relative;
}
#created-by-p6.light {
  background-position: left top;
}
#created-by-p6 span {
  position: absolute;
  top: -9999em;
  left: -9999em;
}

@media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    #created-by-p6 {
      background-image: url("created-by-p6-2x.png");
      background-size: 87px 52px;
    }
}
