/****************/
/* GENERAL CSS  */
/****************/

body {
	color: #999;
}
/* Font size */
.fs0 { font-size: 83%; }
.fs1 { font-size: 95%; }

#body_bg {
	border-bottom: 1px solid #222;
}
#body_left {
	background: transparent url(../images/all/fill_left.png) 0 0 repeat-y;
}
#body_right {
	background: transparent url(../images/all/fill_right.png) 100% 0 repeat-y;
}

ul.links li {
	border-left: 1px solid #2c2c2c; /* LTR */
}
.divider {
	border-left: 1px dashed #222; /* LTR */
	margin-right: -1px;
}
.node.teaser {
	border-bottom: 1px dashed #222;
}
.submitted, .links {
	color: #666;
}
.comment {
	border: 1px solid #2c2c2c;
}
.comment .title {
	background: transparent url(../images/all/icon-comment.png) left center no-repeat; /* LTR */
}
blockquote, .messages {
	background-color: #111;
	border: 1px solid #333;
}
.form-item label, .item-list .title {
	color: #ddd;
}
#site-slogan {
	color: #888;
}
#mission {
	color: #acacac;
	border: solid 1px #222;
}
#breadcrumb, #breadcrumb a {
	color: #888 !important;
}
#footer, #footer a {
	color: #666 !important;
}
#footer ul.links li {
	border-left: 1px solid #6f6f6f;
}
.by, .by a, .by a:hover {
	color: #333 !important;
}
#aggregator .feed-source {
	background-color: #111;
	border: 1px solid #333;
}
#forum td.forum, #forum td.posts {
	background-color: #111;
}
#forum td.topics, #forum td.last-reply {
	background-color: #222;
}
#forum td.statistics, #forum td.settings, #forum td.pager {
	border: 1px solid #444;
}
#forum td.container {
	background: #0f0f0f url(../images/all/forum-container.jpg) right top no-repeat; /* LTR */
}
#forum td.container .name a {
	background: transparent url(../images/all/forum-link.png) left center no-repeat;
}
#profile .profile {
	border: 1px solid #543;
}

/* MENU & link STYLES */

ul li.leaf {
	list-style-image: url(../images/all/menu-leaf.png);
}
ul li.expanded {
	list-style-image: url(../images/all/menu-expanded.png);
}
ul li.collapsed {
	list-style-image: url(../images/all/menu-collapsed.png); /* LTR */
}

#subnavlist a {
	border: 1px solid #333;
	color: #888 !important;
	background-color: #222;
}
#subnavlist li a:hover {
	background-color: #333;
}
#navlist2 a {
	color: #666 !important;
}
#navlist2 a:hover, #navlist2 a.active, 
#footer a:hover, #footer a.active {
	color: #999 !important;
}

/* MODULE SPECIFIC STYLES */

.book-navigation .page-links {
	border-top: 1px dashed #2c2c2c;
	border-bottom: 1px dashed #2c2c2c;
}
.cart-block-title-bar .arrow-up {
	background: transparent url(../images/all/menu-up.png) no-repeat center center !important;
}
.cart-block-title-bar .arrow-down {
	background: transparent url(../images/all/menu-expanded.png) no-repeat center center !important;
}
.category-grid-products table	{
	border-top: 1px dashed #222 !important;
	border-left: 1px dashed #222 !important;
}
.category-grid-products td {
	border-right: 1px dashed #222 !important;
	border-bottom: 1px dashed #222 !important;
	background-color: transparent !important;
}


/****************/
/* GRAPHICS CSS */
/****************/

#top_bg {
	background: transparent url(../images/darf/fill_top.png) 0 100% repeat-x;
}
#top_left {
	background: transparent url(../images/darf/fill_top_left.png) 0 100% no-repeat;
}
#top_right {
	background: transparent url(../images/darf/fill_top_right.png) 100% 100% no-repeat;
}

h1, h2, h3 {
	color: #777;
}

a, a:link,
.title, .title a,
.node .terms,
#aggregator .news-item .categories, #aggregator .source, #aggregator .age,
#forum td .name,
.admin-panel .description {
	color: #777;
}

.block.themed-block {
	background: #000 url(../images/darf/fill_block.png) 0 100% repeat-x;
	border: 1px solid #222;
}


#navlinks ul li a, #navlist a {
	background-color: #777;
	color: #fff !important;
	text-transform: uppercase;
	font-family: "times new roman", sans-serif, Arial, Verdana, Helvetica;
}

/* Drop down border */

/* */

#navlinks ul li a:hover, #navlist li a:hover {
	color: #fff !important;
	background-color: #999;
}

/* DROP DOWN LI */
/* set li width & color */
#navlinks ul li.expanded ul li {
	border-left: 1px solid #8d8d8d;
	border-top: 1px solid #8d8d8d;
	border-right: 1px solid #6a6a6a;
	border-bottom: 1px solid #6a6a6a;
}

/* DROP DOWN Anchors */
/* first level */
#navlinks ul li.expanded a.expandfirst {
	background: #777 url(../images/nav-down.png) no-repeat 7px 50%;
}
#navlinks ul li.expanded a.expandfirst:hover {
	background: #999 url(../images/nav-down.png) no-repeat 7px 50%;
}

/* sublevels */
#navlinks ul li.expanded a {
	background: #777;
}
#navlinks ul li ul li a:hover {
	background: #999;
}
#navlinks ul li.expanded a.expand,
#navlinks ul li.expanded ul li a.expand {
	background: #777 url(../images/nav-right.png) no-repeat 95% 9px;
}
#navlinks ul li ul li.expanded a.expand:hover {
	background: #999 url(../images/nav-right.png) no-repeat 95% 9px;
}
