/**************/
/* THEMER CSS */
/**************/

/* If you delete this file you will see the native behaviour of Black Hole theme. 
 * The below lines only help to look better :)*/

ul.links li {
	border-left: 1px solid #2c2c2c; /* LTR */
}
.divider {
	border-left: 1px dashed #222; /* LTR */
}
a:hover, li a.active {
	color: #551A8B;
}


/* Dropdown */

.menu-toggle {
	background: #191919;
}
.menu-toggle .bars {
	background: #888;
}

.pure-menu-heading {
	color: #aaa;
}
.pure-menu-link {
	background: #333;
	border: 1px solid #303030;
}


@media screen and (max-width: 48em) {
	.pure-menu-link, .pure-menu-children,
	.pure-menu-children .pure-menu-link {
		border: none;
		background: none;
	}
	.menuband {
		min-height: 2.3em;
	}
}