/**
* Google map tip.
**/
.infoBox img {
  z-index: 2;
}

.commerce-socolissimo-point-details {
  position: relative;
}

.map_details {
  background: white;
  border: 1px solid #c2c2c2;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  font-size: 11px; }
  .map_details .customer_phone_number,
  .map_details .delivery_delay {
    margin-bottom: 10px;
    padding: 5px 15px; }
  .map_details .point_informations_details {
    background: #f2f4f0;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -khtml-border-top-left-radius: 10px;
    -khtml-border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px 15px; }
    .map_details .point_informations_details .name {
      color: #f16825;
      font-weight: bold;
      margin-bottom: 4px; }
    .map_details .point_informations_details .postalcode_city {
      margin-bottom: 4px; }
    .map_details .point_informations_details .distance {
      text-align: right; }
    .map_details .point_informations_details .ease-of-access {
      list-style: none;
      margin: 0;
      padding: 0; }
      .map_details .point_informations_details .ease-of-access li {
        display: inline;
        margin: 0;
        margin-right: 5px; }
  .map_details .hours {
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    -khtml-border-bottom-left-radius: 10px;
    -khtml-border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px 15px; }
    .map_details .hours span {
      color: #f16825; }
    .map_details .hours table {
      border: 0;
      border-collapse: collapse;
      font-size: 1em;
      margin-bottom: 0;
      margin-top: 10px;
      width: 100%; }
      .map_details .hours table tbody {
        border: 0; }
        .map_details .hours table tbody tr {
          border: 0; }
          .map_details .hours table tbody tr.odd {
            background: white; }
          .map_details .hours table tbody tr td {
            border: 0; }
            .map_details .hours table tbody tr td.day {
              min-width: 100px; }
              .map_details .hours table tbody tr td.open_hours {
                min-width: 80px; }

.infoBox .map_tip {
  background: url("../images/tipbox.gif") left top no-repeat;
  height: 51px;
  left: 65px;
  margin-top: -1px;
  position: absolute;
  width: 50px; }

/**
* Checkout pane.
* Order review
**/
.page-checkout-review .map_details,
.commerce_socolissimo_order_point_pane .map_details,
.commerce-order-commerce-order .field-name-commerce-customer-shipping .map_details {
  background: none;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
  float: left; }
  .page-checkout-review .map_details .point_informations_details,
  .page-checkout-review .map_details .hours,
  .commerce_socolissimo_order_point_pane .map_details .point_informations_details,
  .commerce_socolissimo_order_point_pane .map_details .hours,
  .commerce-order-commerce-order .field-name-commerce-customer-shipping .map_details .point_informations_details,
  .commerce-order-commerce-order .field-name-commerce-customer-shipping .map_details .hours {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0; }
.page-checkout-review .map_tip,
.commerce_socolissimo_order_point_pane .map_tip,
.commerce-order-commerce-order .field-name-commerce-customer-shipping .map_tip {
  clear: both;
  display: none;
}
