/**
 * Hash access CSS
 */

/*
 We need overwrite color for an a.active selector in drupal message,
  because it is black in system default and has the same color as other text
*/
a.active.hash_access_link {
  color: #0071b3;
  font-weight: bold;
  text-decoration: underline;
}

div.hash-access-link {
  border: 1px dotted #ccc;
  background-color: #f8fff0;
  padding: 0.5em;
}
