#particle-emitter-canvas {
  overflow: hidden;
  background: transparent;
}

.particle-emitter-blocks-block,
.particle-emitter-images-image {
  /*clear: both;*/
  padding: 10px 10px 10px 10px;
  margin: 0px;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: linear-gradient(to bottom, #ffffff 0%, #e7e7e7 100%) repeat scroll 0 0 transparent;
  border-color: #dddddd #c9c9c9 #c9c9c9 #dddddd;
  border-image: none;
  border-radius: 2px 2px 2px 2px;
  border-right: 1px solid #c9c9c9;
  border-style: solid;
  border-width: 1px;
}
.particle-emitter-blocks-block div.form-item,
.particle-emitter-images-image div.form-item {
  display: inline;
  float: left;
  margin-bottom: 0px;
  border-right: 1px solid #c9c9c9;
  padding: 10px 20px 10px 20px;
}
.particle-emitter-blocks-block div.form-item.form-type-managed-file,
.particle-emitter-images-image div.form-item.form-type-managed-file {
  width: 34%;
}
#particle-emitter-blocks-form .particle-emitter-blocks-block .form-type-checkbox,
#particle-emitter-images-form .particle-emitter-images-image .form-type-checkbox {
  margin-top: 12px;
  float: right;
  border-right: none;
}
