
.personal_notes > .title {
  font-size: 13px;
  font-weight: bold;
  margin: 20px 0 5px;
  text-align: center;
}

.personal_notes > .note {
  color: #106;
  font-size: 11px;
}

.personal_notes > .sep {
  color: #777;
}

.block-personal_notes em {
  font-weight: bold;
}