
/**
  * CSS file for whiteboard module
  *
  */

#whiteboard-container {
  width:550px;
}

#whiteboard-meta, #whiteboard-circle, #whiteboard-arc, #whiteboard-rectangle, #whiteboard-ellipse{
  display:none;
}

#whiteboard-color {
  width:100%;
} 

#whiteboard-top {
  text-align:left;
  margin-bottom:7px;
  width:100%;
}

#whiteboard-top * {
  display:inline;
}

#whiteboard {
  overflow:hidden;
  position:relative;
  width:500px;
  height:400px;
  border:#CCC 1px solid;
  cursor:crosshair;
  float:left;
  display:inline;
  margin-bottom:8px;
}

#mousieX, #mousieY { 
  width:30px;
  color:blue;
}

#mousieY {
  margin-left:5px;
}

#edit-whiteboard-clear-points {
  margin-left:10px;
}

#edit-whiteboard-penwidth-fine,
#edit-whiteboard-penwidth-thick,
#edit-whiteboard-penwidth-blunt,
#edit-whiteboard-black,
#edit-whiteboard-blue, 
#edit-whiteboard-red,
#edit-whiteboard-green,
#edit-whiteboard-eraser,
#edit-whiteboard-hex {
  vertical-align:middle;
  margin-left:2px;
}

#edit-whiteboard-bezier,
#edit-whiteboard-curve,
#edit-whiteboard-ellipse,
#edit-whiteboard-rectangle,
#edit-whiteboard-polyline,
#edit-whiteboard-polygon,
#edit-whiteboard-line,
#edit-whiteboard-closed-curve,
#edit-whiteboard-rectangle,
#edit-whiteboard-arc,
#edit-whiteboard-circle {
  vertical-align:middle;
  margin-right:10px;
}


#edit-whiteboard-penwidth-fine, #edit-whiteboard-black, #edit-whiteboard-eraser {
  margin-left:10px;
}

#whiteboard-color-container {
  display:none;
}

#edit-whiteboard-color-code {
  width:100px;
}

#edit-whiteboard-circle-radius,
#edit-whiteboard-ellipse-width,
#edit-whiteboard-ellipse-height,
#edit-whiteboard-arc-width,
#edit-whiteboard-arc-height,
#edit-whiteboard-arc-angle,
#edit-whiteboard-arc-length,
#edit-whiteboard-rectangle-width,
#edit-whiteboard-rectangle-height {
  width:25px;
}

#whiteboard-circle-container label,
#whiteboard-ellipse-container label,
#whiteboard-color-container label,
#whiteboard-arc-container label,
#whiteboard-rectangle-container label {
  font-weight:400;
  font-size:9px;
  margin-left:5px;
}

#edit-whiteboard-circle-cancel,
#edit-whiteboard-color-cancel,
#edit-whiteboard-ellipse-cancel,
#edit-whiteboard-rectangle-cancel,
#edit-whiteboard-arc-cancel {
  margin-left:10px;
}

#edit-whiteboard-hide-grid,
#edit-whiteboard-default {
  margin-bottom:15px;
}

#whiteboard-circle-container,
#whiteboard-ellipse-container,
#whiteboard-rectangle-container,
#whiteboard-arc-container,
#whiteboard-color-container {
  width:100%;
  margin-right:5px;
  margin-top:10px;
  margin-bottom:10px;
  clear:both;
}

#whiteboard-color-container form div,
#whiteboard-color-container form input,
#whiteboard-color-container form label {
  display:inline;
  margin-right:10px;
  margin-top:8px;
}

#whiteboard-status {
  padding:10px 5px 10px 5px;
  clear:both;
  margin-top:8px;
}

#whiteboard-status-container {
  margin-bottom:10px;
  border: solid 1px pink;
  clear:both;
  width:70%;
  margin-top:8px;
}

#whiteboard-side {
  float:left;
  width:30px;
  padding-left:10px;
  display:inline;
}


#whiteboard-bottom-container {
  clear:both;
  width:100%;
}

.page-node-edit.node-type-whiteboard .filter-wrapper,.page-node-add-whiteboard .filter-wrapper {
  border-top:1px solid #ccc;
}
