/* Styles for the "Manage Subscriptions" page */

#subs-filter-form div.form-checkboxes div.form-type-checkbox {
  display: block;
}

#subs-filter-form div.form-type-checkboxes {
  float: left;
  margin-right: 20px;
}

#subs-filter-form input.form-submit {
  margin-left: 20px;
}
