/**
 * @file
 * Custom CSS for the References Manager.
 */

/* The helpful intro text on the admin page. */
form#references-manager-manage .references-manager-preamble {
  font-style: italic;
}

/* Make the items stack in a grid. */
form#references-manager-manage .references-manager-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
form#references-manager-manage .references-manager-items .references-manager-item {
  margin: 3px 3px 3px 0;
  padding: 1px;
  float: left;
  overflow: auto;
}

/* Make the buttons display after the sortable area. */
form#references-manager-manage #edit-actions {
  clear: both;
}
