#overlay-content
  #header-wrapper,
  #nav-wrapper,
  #tasks ul.primary
    display: none
  #breadcrumb-wrapper,
  #content-wrapper
    background-color: #fff
    .container
      width: 100%

.page-admin #block-system-main
  padding-top: 20px

.page-admin #content-column .content-inner
  margin-left: 0.52083% /* LTR */
  width: 100%
  #content,
  .region-help
    clear: both

#system-modules
  a.module-link
    font-size: .9em
    color: #999
    &:hover
      color: #333
  td
    padding: 5px
  td.description
    font-size: 1.1em
    .admin-requirements
      margin: 10px 0
      border-top: 1px solid #ccc
      padding: 10px 0 0
      font-weight: bold
      font-size: .8em
  th.checkbox,
  td.checkbox
    padding: 0 3px
    font-size: .9em

div.admin-panel
  border: 1px solid #ccc
  background-color: #fff
  margin-bottom: 10px

ul.action-links,
article.node ul.links
  float: right /* LTR */
  padding: 6px 0
  li a
    background-color: #67d464
    color: #fff
    padding: 4px 10px
    text-decoration: none
    margin-left: 5px /* LTR */

dl.admin-list
  dt
    font-weight: bold
    a
      padding: 2px 18px 2px 0
      &:hover
        background: transparent url("images/more.png") no-repeat right top /* LTR */
  dd
    margin-bottom: 10px

table.update tr td
  padding: 10px 15px

table.version tr td.version-links ul.links
  padding-top: 10px

.krumo-root
  clear: both

/* Theme Settings Color Palette */
#palette .form-item
  padding: 5px
  input.form-text
    margin: 0
  .lock
    top: 0


/* Views */
.views-ui-display-tab-actions .ctools-button-processed li a,
.ctools-button li a.add,
.views-ui-display-tab-actions .ctools-button-processed input
  margin: 0
  float: none!important
  padding: 0 5px

