/*
 * ==========================================================
 * Grid
 * ==========================================================
 */

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12,
.grid-13,
.grid-14,
.grid-15,
.grid-16,
.grid-17,
.grid-18,
.grid-19,
.grid-20,
.grid-21,
.grid-22,
.grid-23,
.grid-24
  display: inline
  float: left
  margin-left: 1.04166% /* 10 / 960 */
  margin-right: 1.04166% /* 10 / 960 */
  position: relative

/* 24 Column Grid uses different margins */
.container-24 .grid-1,
.container-24 .grid-2,
.container-24 .grid-3,
.container-24 .grid-4,
.container-24 .grid-5,
.container-24 .grid-6,
.container-24 .grid-7,
.container-24 .grid-8,
.container-24 .grid-9,
.container-24 .grid-10,
.container-24 .grid-11,
.container-24 .grid-12,
.container-24 .grid-13,
.container-24 .grid-14,
.container-24 .grid-15,
.container-24 .grid-16,
.container-24 .grid-17,
.container-24 .grid-18,
.container-24 .grid-19,
.container-24 .grid-20,
.container-24 .grid-21,
.container-24 .grid-22,
.container-24 .grid-23,
.container-24 .grid-24
  margin-left: .52083% /* 5 / 960 */
  margin-right: .52083% /* 5 / 960 */

.push-1,
.pull-1,
.push-2,
.pull-2,
.push-3,
.pull-3,
.push-4,
.pull-4,
.push-5,
.pull-5,
.push-6,
.pull-6,
.push-7,
.pull-7,
.push-8,
.pull-8,
.push-9,
.pull-9,
.push-10,
.pull-10,
.push-11,
.pull-11,
.push-12,
.pull-12,
.push-13,
.pull-13,
.push-14,
.pull-14,
.push-15,
.pull-15,
.push-16,
.pull-16,
.push-17,
.pull-17,
.push-18,
.pull-18,
.push-19,
.pull-19,
.push-20,
.pull-20,
.push-21,
.pull-21,
.push-22,
.pull-22,
.push-23,
.pull-23,
.push-24,
.pull-24
  position: relative


/*
 * ==========================================================
 * Alpha - Omega
 * ==========================================================
 */

.alpha
  margin-left: 0

.omega
  margin-right: 0

/*
 * ==========================================================
 * Container
 * ==========================================================
 */

.container-24,
.container-16,
.container-12
  max-width: 98% /* Keep the content off the edge of browser window */

/*
 * ==========================================================
 * Columns
 * ==========================================================
 */

.container-24 .grid-1
  width: 3.125% /* 30 / 960 */

.container-24 .grid-2
  width: 7.29166% /* 70 / 960 */

.container-24 .grid-3
  width: 11.45833% /* 110 / 960 */

.container-24 .grid-4
  width: 15.625% /* 150 / 960 */


.container-24 .grid-5
  width: 19.79166% /* 190 / 960 */

.container-24 .grid-6
  width: 23.95833% /* 230 / 960 */

.container-24 .grid-7
  width: 28.125% /* 270 / 960 */

.container-24 .grid-8
  width: 32.29166% /* 310 / 960 */

.container-24 .grid-9
  width: 36.45833% /* 350 / 960 */

.container-24 .grid-10
  width: 40.625% /* 390 / 960 */

.container-24 .grid-11
  width: 44.79166% /* 430 / 960 */

.container-24 .grid-12
  width: 48.95833% /* 470 / 960 */

.container-24 .grid-13
  width: 53.125% /* 510 / 960 */

.container-24 .grid-14
  width: 57.29166% /* 550 / 960 */

.container-24 .grid-15
  width: 61.45833% /* 590 / 960 */

.container-24 .grid-16
  width: 65.625% /* 630 / 960 */

.container-24 .grid-17
  width: 69.79166% /* 670 / 960 */

.container-24 .grid-18
  width: 73.95833% /* 710 / 960 */

.container-24 .grid-19
  width: 78.125% /* 750 / 960 */

.container-24 .grid-20
  width: 82.29166% /* 790 / 960 */

.container-24 .grid-21
  width: 86.45833% /* 830 / 960 */

.container-24 .grid-22
  width: 90.625% /* 870 / 960 */

.container-24 .grid-23
  width: 94.79166% /* 910 / 960 */

.container-24 .grid-24
  width: 98.95833% /* 950 / 960 */

.container-16 .grid-1
  width: 4.16666% /* 40 / 960 */

.container-16 .grid-2
  width: 10.41666% /* 100 / 960 */

.container-16 .grid-3
  width: 16.66666% /* 160 / 960 */

.container-16 .grid-4
  width: 22.91666% /* 220 / 960 */

.container-16 .grid-5
  width: 29.16666% /* 280 / 960 */

.container-16 .grid-6
  width: 35.41666% /* 340 / 960 */

.container-16 .grid-7
  width: 41.66666% /* 400 / 960 */

.container-16 .grid-8
  width: 47.91666% /* 460 / 960 */

.container-16 .grid-9
  width: 54.16666% /* 520 / 960 */

.container-16 .grid-10
  width: 60.41666% /* 580 / 960 */

.container-16 .grid-11
  width: 66.66666% /* 640 / 960 */

.container-16 .grid-12
  width: 72.91666% /* 700 / 960 */

.container-16 .grid-13
  width: 79.16666% /* 760 / 960 */

.container-16 .grid-14
  width: 85.41666% /* 820 / 960 */

.container-16 .grid-15
  width: 91.66666% /* 880 / 960 */

.container-16 .grid-16
  width: 97.91666% /* 940 / 960 */

.container-12 .grid-1
  width: 6.25% /* 60 / 960 */

.container-12 .grid-2
  width: 14.58333% /* 140 / 960 */

.container-12 .grid-3
  width: 22.91666% /* 220 / 960 */

.container-12 .grid-4
  width: 31.25% /* 300 / 960 */

.container-12 .grid-5
  width: 39.58333% /* 380 / 960 */

.container-12 .grid-6
  width: 47.91666% /* 460 / 960 */

.container-12 .grid-7
  width: 56.25% /* 540 / 960 */

.container-12 .grid-8
  width: 64.58333% /* 620 / 960 */

.container-12 .grid-9
  width: 72.91666% /* 700 / 960 */

.container-12 .grid-10
  width: 81.25% /* 780 / 960 */

.container-12 .grid-11
  width: 89.58333% /* 860 / 960 */

.container-12 .grid-12
  width: 97.91666% /* 940 / 960 */


/*
 * ==========================================================
 * Prefix
 * ==========================================================
 */

.container-24 .prefix-1
  padding-left: 4.16667% /* 40 / 960 */

.container-24 .prefix-2
  padding-left: 8.33333% /* 80 / 960 */

.container-24 .prefix-3
  padding-left: 12.5% /* 120 / 960 */

.container-24 .prefix-4
  padding-left: 16.66667% /* 160 / 960 */

.container-24 .prefix-5
  padding-left: 20.83333% /* 200 / 960 */

.container-24 .prefix-6
  padding-left: 25.0% /* 240 / 960 */

.container-24 .prefix-7
  padding-left: 29.16667% /* 280 / 960 */

.container-24 .prefix-8
  padding-left: 33.33333% /* 320 / 960 */

.container-24 .prefix-9
  padding-left: 37.5% /* 360 / 960 */

.container-24 .prefix-10
  padding-left: 41.66667% /* 400 / 960 */

.container-24 .prefix-11
  padding-left: 45.83333% /* 440 / 960 */

.container-24 .prefix-12
  padding-left: 50.0% /* 480 / 960 */

.container-24 .prefix-13
  padding-left: 54.16667% /* 520 / 960 */

.container-24 .prefix-14
  padding-left: 58.33333% /* 560 / 960 */

.container-24 .prefix-15
  padding-left: 62.5% /* 600 / 960 */

.container-24 .prefix-16
  padding-left: 66.66667% /* 640 / 960 */

.container-24 .prefix-17
  padding-left: 70.83333% /* 680 / 960 */

.container-24 .prefix-18
  padding-left: 75.0% /* 720 / 960 */

.container-24 .prefix-19
  padding-left: 79.16667% /* 760 / 960 */

.container-24 .prefix-20
  padding-left: 83.33333% /* 800 / 960 */

.container-24 .prefix-21
  padding-left: 87.5% /* 840 / 960 */

.container-24 .prefix-22
  padding-left: 91.66667% /* 880 / 960 */

.container-24 .prefix-23
  padding-left: 95.83333% /* 920 / 960 */

.container-16 .prefix-1
  padding-left: 6.25% /* 60 / 960 */

.container-16 .prefix-2
  padding-left: 12.5% /* 120 / 960 */

.container-16 .prefix-3
  padding-left: 18.75% /* 180 / 960 */

.container-16 .prefix-4
  padding-left: 25.0% /* 240 / 960 */

.container-16 .prefix-5
  padding-left: 31.25% /* 300 / 960 */

.container-16 .prefix-6
  padding-left: 37.5% /* 360 / 960 */

.container-16 .prefix-7
  padding-left: 43.75% /* 420 / 960 */

.container-16 .prefix-8
  padding-left: 50.0% /* 480 / 960 */

.container-16 .prefix-9
  padding-left: 56.25% /* 540 / 960 */

.container-16 .prefix-10
  padding-left: 62.5% /* 600 / 960 */

.container-16 .prefix-11
  padding-left: 68.75% /* 660 / 960 */

.container-16 .prefix-12
  padding-left: 75.0% /* 720 / 960 */

.container-16 .prefix-13
  padding-left: 81.25% /* 780 / 960 */

.container-16 .prefix-14
  padding-left: 87.5% /* 840 / 960 */

.container-16 .prefix-15
  padding-left: 93.75% /* 900 / 960 */

.container-12 .prefix-1
  padding-left: 8.33333% /* 80 / 960 */

.container-12 .prefix-2
  padding-left: 16.66667% /* 160 / 960 */

.container-12 .prefix-3
  padding-left: 25.0% /* 240 / 960 */

.container-12 .prefix-4
  padding-left: 33.33333% /* 320 / 960 */

.container-12 .prefix-5
  padding-left: 41.66667% /* 400 / 960 */

.container-12 .prefix-6
  padding-left: 50.0% /* 480 / 960 */

.container-12 .prefix-7
  padding-left: 58.33333% /* 560 / 960 */

.container-12 .prefix-8
  padding-left: 66.66667% /* 640 / 960 */

.container-12 .prefix-9
  padding-left: 75.0% /* 720 / 960 */

.container-12 .prefix-10
  padding-left: 83.33333% /* 800 / 960 */

.container-12 .prefix-11
  padding-left: 91.66667% /* 880 / 960 */

/*
 * ==========================================================
 * Suffix
 * ==========================================================
 */

.container-24 .suffix-1
  padding-right: 4.16667% /* 40 / 960 */

.container-24 .suffix-2
  padding-right: 8.33333% /* 80 / 960 */

.container-24 .suffix-3
  padding-right: 12.5% /* 120 / 960 */

.container-24 .suffix-4
  padding-right: 16.66667% /* 160 / 960 */

.container-24 .suffix-5
  padding-right: 20.83333% /* 200 / 960 */

.container-24 .suffix-6
  padding-right: 25.0% /* 240 / 960 */

.container-24 .suffix-7
  padding-right: 29.16667% /* 280 / 960 */

.container-24 .suffix-8
  padding-right: 33.33333% /* 320 / 960 */

.container-24 .suffix-9
  padding-right: 37.5% /* 360 / 960 */

.container-24 .suffix-10
  padding-right: 41.66667% /* 400 / 960 */

.container-24 .suffix-11
  padding-right: 45.83333% /* 440 / 960 */

.container-24 .suffix-12
  padding-right: 50.0% /* 480 / 960 */

.container-24 .suffix-13
  padding-right: 54.16667% /* 520 / 960 */

.container-24 .suffix-14
  padding-right: 58.33333% /* 560 / 960 */

.container-24 .suffix-15
  padding-right: 62.5% /* 600 / 960 */

.container-24 .suffix-16
  padding-right: 66.66667% /* 640 / 960 */

.container-24 .suffix-17
  padding-right: 70.83333% /* 680 / 960 */

.container-24 .suffix-18
  padding-right: 75.0% /* 720 / 960 */

.container-24 .suffix-19
  padding-right: 79.16667% /* 760 / 960 */

.container-24 .suffix-20
  padding-right: 83.33333% /* 800 / 960 */

.container-24 .suffix-21
  padding-right: 87.5% /* 840 / 960 */

.container-24 .suffix-22
  padding-right: 91.66667% /* 880 / 960 */

.container-24 .suffix-23
  padding-right: 95.83333% /* 920 / 960 */

.container-16 .suffix-1
  padding-right: 6.25% /* 60 / 960 */

.container-16 .suffix-2
  padding-right: 12.5% /* 120 / 960 */

.container-16 .suffix-3
  padding-right: 18.75% /* 180 / 960 */

.container-16 .suffix-4
  padding-right: 25.0% /* 240 / 960 */

.container-16 .suffix-5
  padding-right: 31.25% /* 300 / 960 */

.container-16 .suffix-6
  padding-right: 37.5% /* 360 / 960 */

.container-16 .suffix-7
  padding-right: 43.75% /* 420 / 960 */

.container-16 .suffix-8
  padding-right: 50.0% /* 480 / 960 */

.container-16 .suffix-9
  padding-right: 56.25% /* 540 / 960 */

.container-16 .suffix-10
  padding-right: 62.5% /* 600 / 960 */

.container-16 .suffix-11
  padding-right: 68.75% /* 660 / 960 */

.container-16 .suffix-12
  padding-right: 75.0% /* 720 / 960 */

.container-16 .suffix-13
  padding-right: 81.25% /* 780 / 960 */

.container-16 .suffix-14
  padding-right: 87.5% /* 840 / 960 */

.container-16 .suffix-15
  padding-right: 93.75% /* 900 / 960 */

.container-12 .suffix-1
  padding-right: 8.33333% /* 80 / 960 */

.container-12 .suffix-2
  padding-right: 16.66667% /* 160 / 960 */

.container-12 .suffix-3
  padding-right: 25.0% /* 240 / 960 */

.container-12 .suffix-4
  padding-right: 33.33333% /* 320 / 960 */

.container-12 .suffix-5
  padding-right: 41.66667% /* 400 / 960 */

.container-12 .suffix-6
  padding-right: 50.0% /* 480 / 960 */

.container-12 .suffix-7
  padding-right: 58.33333% /* 560 / 960 */

.container-12 .suffix-8
  padding-right: 66.66667% /* 640 / 960 */

.container-12 .suffix-9
  padding-right: 75.0% /* 720 / 960 */

.container-12 .suffix-10
  padding-right: 83.33333% /* 800 / 960 */

.container-12 .suffix-11
  padding-right: 91.66667% /* 880 / 960 */

/*
 * ==========================================================
 * Push
 * ==========================================================
 */

.container-24 .push-1
  margin-left: 4.16667% /* 40 / 960 */

.container-24 .push-2
  margin-left: 8.33333% /* 80 / 960 */

.container-24 .push-3
  margin-left: 12.5% /* 120 / 960 */

.container-24 .push-4
  margin-left: 16.66667% /* 160 / 960 */

.container-24 .push-5
  margin-left: 20.83333% /* 200 / 960 */

.container-24 .push-6
  margin-left: 25.0% /* 240 / 960 */

.container-24 .push-7
  margin-left: 29.16667% /* 280 / 960 */

.container-24 .push-8
  margin-left: 33.33333% /* 320 / 960 */

.container-24 .push-9
  margin-left: 37.5% /* 360 / 960 */

.container-24 .push-10
  margin-left: 41.66667% /* 400 / 960 */

.container-24 .push-11
  margin-left: 45.83333% /* 440 / 960 */

.container-24 .push-12
  margin-left: 50.0% /* 480 / 960 */

.container-24 .push-13
  margin-left: 54.16667% /* 520 / 960 */

.container-24 .push-14
  margin-left: 58.33333% /* 560 / 960 */

.container-24 .push-15
  margin-left: 62.5% /* 600 / 960 */

.container-24 .push-16
  margin-left: 66.66667% /* 640 / 960 */

.container-24 .push-17
  margin-left: 70.83333% /* 680 / 960 */

.container-24 .push-18
  margin-left: 75.0% /* 720 / 960 */

.container-24 .push-19
  margin-left: 79.16667% /* 760 / 960 */

.container-24 .push-20
  margin-left: 83.33333% /* 800 / 960 */

.container-24 .push-21
  margin-left: 87.5% /* 840 / 960 */

.container-24 .push-22
  margin-left: 91.66667% /* 880 / 960 */

.container-24 .push-23
  margin-left: 95.83333% /* 920 / 960 */

.container-16 .push-1
  margin-left: 6.25% /* 60 / 960 */

.container-16 .push-2
  margin-left: 12.5% /* 120 / 960 */

.container-16 .push-3
  margin-left: 18.75% /* 180 / 960 */

.container-16 .push-4
  margin-left: 25.0% /* 240 / 960 */

.container-16 .push-5
  margin-left: 31.25% /* 300 / 960 */

.container-16 .push-6
  margin-left: 37.5% /* 360 / 960 */

.container-16 .push-7
  margin-left: 43.75% /* 420 / 960 */

.container-16 .push-8
  margin-left: 50.0% /* 480 / 960 */

.container-16 .push-9
  margin-left: 56.25% /* 540 / 960 */

.container-16 .push-10
  margin-left: 62.5% /* 600 / 960 */

.container-16 .push-11
  margin-left: 68.75% /* 660 / 960 */

.container-16 .push-12
  margin-left: 75.0% /* 720 / 960 */

.container-16 .push-13
  margin-left: 81.25% /* 780 / 960 */

.container-16 .push-14
  margin-left: 87.5% /* 840 / 960 */

.container-16 .push-15
  margin-left: 93.75% /* 900 / 960 */

.container-12 .push-1
  margin-left: 8.33333% /* 80 / 960 */

.container-12 .push-2
  margin-left: 16.66667% /* 160 / 960 */

.container-12 .push-3
  margin-left: 25.0% /* 240 / 960 */

.container-12 .push-4
  margin-left: 33.33333% /* 320 / 960 */

.container-12 .push-5
  margin-left: 41.66667% /* 400 / 960 */

.container-12 .push-6
  margin-left: 50.0% /* 480 / 960 */

.container-12 .push-7
  margin-left: 58.33333% /* 560 / 960 */

.container-12 .push-8
  margin-left: 66.66667% /* 640 / 960 */

.container-12 .push-9
  margin-left: 75.0% /* 720 / 960 */

.container-12 .push-10
  margin-left: 83.33333% /* 800 / 960 */

.container-12 .push-11
  margin-left: 91.66667% /* 880 / 960 */

/*
 * ==========================================================
 * Pull
 * ==========================================================
 */

.container-24 .pull-1
  margin-left: -4.16667% /* 40 / 960 */

.container-24 .pull-2
  margin-left: -8.33333% /* 80 / 960 */

.container-24 .pull-3
  margin-left: -12.5% /* 120 / 960 */

.container-24 .pull-4
  margin-left: -16.66667% /* 160 / 960 */

.container-24 .pull-5
  margin-left: -20.83333% /* 200 / 960 */

.container-24 .pull-6
  margin-left: -25.0% /* 240 / 960 */

.container-24 .pull-7
  margin-left: -29.16667% /* 280 / 960 */

.container-24 .pull-8
  margin-left: -33.33333% /* 320 / 960 */

.container-24 .pull-9
  margin-left: -37.5% /* 360 / 960 */

.container-24 .pull-10
  margin-left: -41.66667% /* 400 / 960 */

.container-24 .pull-11
  margin-left: -45.83333% /* 440 / 960 */

.container-24 .pull-12
  margin-left: -50.0% /* 480 / 960 */

.container-24 .pull-13
  margin-left: -54.16667% /* 520 / 960 */

.container-24 .pull-14
  margin-left: -58.33333% /* 560 / 960 */

.container-24 .pull-15
  margin-left: -62.5% /* 600 / 960 */

.container-24 .pull-16
  margin-left: -66.66667% /* 640 / 960 */

.container-24 .pull-17
  margin-left: -70.83333% /* 680 / 960 */

.container-24 .pull-18
  margin-left: -75.0% /* 720 / 960 */

.container-24 .pull-19
  margin-left: -79.16667% /* 760 / 960 */

.container-24 .pull-20
  margin-left: -83.33333% /* 800 / 960 */

.container-24 .pull-21
  margin-left: -87.5% /* 840 / 960 */

.container-24 .pull-22
  margin-left: -91.66667% /* 880 / 960 */

.container-24 .pull-23
  margin-left: -95.83333% /* 920 / 960 */

.container-16 .pull-1
  margin-left: -6.25% /* 60 / 960 */

.container-16 .pull-2
  margin-left: -12.5% /* 120 / 960 */

.container-16 .pull-3
  margin-left: -18.75% /* 180 / 960 */

.container-16 .pull-4
  margin-left: -25.0% /* 240 / 960 */

.container-16 .pull-5
  margin-left: -31.25% /* 300 / 960 */

.container-16 .pull-6
  margin-left: -37.5% /* 360 / 960 */

.container-16 .pull-7
  margin-left: -43.75% /* 420 / 960 */

.container-16 .pull-8
  margin-left: -50.0% /* 480 / 960 */

.container-16 .pull-9
  margin-left: -56.25% /* 540 / 960 */

.container-16 .pull-10
  margin-left: -62.5% /* 600 / 960 */

.container-16 .pull-11
  margin-left: -68.75% /* 660 / 960 */

.container-16 .pull-12
  margin-left: -75.0% /* 720 / 960 */

.container-16 .pull-13
  margin-left: -81.25% /* 780 / 960 */

.container-16 .pull-14
  margin-left: -87.5% /* 840 / 960 */

.container-16 .pull-15
  margin-left: -93.75% /* 900 / 960 */

.container-12 .pull-1
  margin-left: -8.33333% /* 80 / 960 */

.container-12 .pull-2
  margin-left: -16.66667% /* 160 / 960 */

.container-12 .pull-3
  margin-left: -25.0% /* 240 / 960 */

.container-12 .pull-4
  margin-left: -33.33333% /* 320 / 960 */

.container-12 .pull-5
  margin-left: -41.66667% /* 400 / 960 */

.container-12 .pull-6
  margin-left: -50.0% /* 480 / 960 */

.container-12 .pull-7
  margin-left: -58.33333% /* 560 / 960 */

.container-12 .pull-8
  margin-left: -66.66667% /* 640 / 960 */

.container-12 .pull-9
  margin-left: -75.0% /* 720 / 960 */

.container-12 .pull-10
  margin-left: -83.33333% /* 800 / 960 */

.container-12 .pull-11
  margin-left: -91.66667% /* 880 / 960 */

.container-12 .pull-12,
.container-16 .pull-16,
.container-24 .pull-24
  margin-left: -100%
