/* Layout */

/* Provide a backup layout for browsers that do not support media queries */
.container
  margin: 0 auto
  position: relative

/* Float the columns */
#content-column
  float: left

/* Ensure the content column is always the full width of its container */
#content-column
  width: 100%

/* Clear floating elements */
.clear,
#columns,
#breadcrumb,
#crumbs,
.region-secondary-content,
.region-tertiary-content,
.region-footer,
#block-admin-display-form ,
.gpanel
  clear: both

/* Strip block margin inside content column area. */
.content-inner .block
  margin: 0

/* Maintain backwards compatibility with older AT designs. */
.block
  position: relative

.block-superfish,
.block-nice-menus
  position: static

/* GPanels */
.gpanel .region
  display: inline
  position: relative
  float: left

.two-33-66 .region-two-33-66-second
  width: 66.333%

.two-66-33 .region-two-66-33-first
  width: 66.666%

.five-5x20 .region
  width: 20%

.six-6x16 .region
  width: 16.666%

.two-50 .region,
.three-50-25-25 .region-three-50-25-25-first,
.three-25-25-50 .region-three-25-25-50-third
  width: 50%

.three-3x33 .region,
.two-33-66 .region-two-33-66-first,
.two-66-33 .region-two-66-33-second
  width: 33.333%

.four-4x25 .region,
.three-25-25-50 .region-three-25-25-50-first,
.three-25-25-50 .region-three-25-25-50-second,
.three-50-25-25 .region-three-50-25-25-second,
.three-50-25-25 .region-three-50-25-25-third
  width: 25%

/* Panels */
.block-panels_mini
  padding: 0

/* Compass clearfix */
.clearfix:after
  content: ""
  clear: both
  display: table

.clearfix
  zoom: 1

/* lte IE7 Layout fixes - these use the html element classes rather
 * than loading a global IE stylesheet */
/* Be sure the layout is set */
.ie6-7 #main-content,
.ie6-7 #columns
  display: block

.ie6-7 #main-content,
.ie6-7 #columns,
.ie6-7 #content-column,
.ie6-7 .region-sidebar-first,
.ie6-7 .region-sidebar-second,
.ie6-7 .gpanel .region
  zoom: 1


/* Circumvent sub-pixel rounding */
.ie6-7 .gpanel
  clear: both

.ie6-7 .gpanel .region
  display: inline
  position: relative
  overflow: hidden

.ie6-7 .two-50 .region-two-50-second,
.ie6-7 .two-66-33 .region-two-66-33-second,
.ie6-7 .two-33-66 .region-two-33-66-second
  float: right

.ie6-7 .two-33-66 .region-two-33-66-first,
.ie6-7 .two-66-33 .region-two-66-33-second
  width: 33%

.ie6-7 .two-66-33 .region-two-66-33-first,
.ie6-7 .two-33-66 .region-two-33-66-second
  width: 66%

.ie6-7 .three-3x33 .region
  width: 32.666%

.ie6-7 .five-5x20 .region
  width: 19.2%

.ie6-7 .six-6x16 .region
  width: 15.833%

.ie6-7 .two-50 .region,
.ie6-7 .three-25-25-50 .region-three-25-25-50-third,
.ie6-7 .three-50-25-25 .region-three-50-25-25-first
  width: 49.5%

.ie6-7 .three-25-25-50 .region-three-25-25-50-first,
.ie6-7 .three-25-25-50 .region-three-25-25-50-second,
.ie6-7 .three-50-25-25 .region-three-50-25-25-second,
.ie6-7 .three-50-25-25 .region-three-50-25-25-third,
.ie6-7 .four-4x25 .region
  width: 24.25%

.ie6-7 .three-3x33 .region-three-33-second,
.ie6-7 .three-3x33 .region-three-2-33-second,
.ie6-7 .three-25-25-50 .region-three-25-25-50-second,
.ie6-7 .three-50-25-25 .region-three-50-25-25-second,
.ie6-7 .four-4x25 .region-four-second,
.ie6-7 .five-5x20 .region-five-second,
.ie6-7 .six-6x16 .region-six-second
  right: -1%

.ie6-7 .three-3x33 .region-three-33-third,
.ie6-7 .three-3x33 .region-three-2-33-third,
.ie6-7 .three-25-25-50 .region-three-25-25-50-third,
.ie6-7 .three-50-25-25 .region-three-50-25-25-third,
.ie6-7 .four-4x25 .region-four-third,
.ie6-7 .four-4x25 .region-four-2-third,
.ie6-7 .five-5x20 .region-five-third,
.ie6-7 .six-6x16 .region-six-third
  right: -2%

.ie6-7 .four-4x25 .region-four-fourth,
.ie6-7 .four-4x25 .region-four-2-fourth,
.ie6-7 .five-5x20 .region-five-fourth,
.ie6-7 .six-6x16 .region-six-fourth
  right: -3%

.ie6-7 .five-5x20 .region-five-fifth,
.ie6-7 .six-6x16 .region-six-fifth
  right: -4%

.ie6-7 .six-6x16 .region-six-sixth
  right: -5%

/* Frontpage and Taxonomy Grids */
#block-system-main.content-display-grid article.node
  float: left
  margin: 0 0 10px
  min-width: 150px /* this ensures 2cols at 320px and 4 cols at 480px (smartphone displays) and allows for the maximum setting of 8 cols at widths like 1280px or more */

.content-display-grid article .article-inner
  margin: 0 5px
  padding: 5px

.content-display-grid article .article-inner:hover
.content-display-grid article.node h1
  margin-bottom: 10px

.content-display-grid article .article-content
  padding: 0 0 10px

.content-display-grid article .article-inner img
  padding: 0
  height: auto

.content-display-grid article .field
  margin-bottom: 0

.content-display-grid article input.form-submit
  margin-left: 0
  margin-right: 0

body.front.fpcc-2 #block-system-main article.node,
body.page-taxonomy.tpcc-2 #block-system-main article.node
  width: 50%
  @media only screen and (max-width:480px)
    width: 100%

body.front.fpcc-3 #block-system-main article.node,
body.page-taxonomy.tpcc-3 #block-system-main article.node
  width: 33.33333333333333%
  @media only screen and (max-width:480px)
    width: 100%

body.front.fpcc-4 #block-system-main article.node,
body.page-taxonomy.tpcc-4 #block-system-main article.node
  width: 25%
  @media only screen and (max-width:480px)
    width: 100%

body.front.fpcc-5 #block-system-main article.node,
body.page-taxonomy.tpcc-5 #block-system-main article.node
  width: 20%
  @media only screen and (max-width:480px)
    width: 100%

body.front.fpcc-6 #block-system-main article.node,
body.page-taxonomy.tpcc-6 #block-system-main article.node
  width: 16.66666666666667%
  @media only screen and (max-width:480px)
    width: 100%

body.front.fpcc-7 #block-system-main article.node,
body.page-taxonomy.tpcc-7 #block-system-main article.node
  width: 14.28571428571429%
  @media only screen and (max-width:480px)
    width: 100%

body.front.fpcc-8 #block-system-main article.node,
body.page-taxonomy.tpcc-8 #block-system-main article.node
  width: 12.5%
  @media only screen and (max-width:480px)
    width: 100%

body.front.fpcc-2 #block-system-main article.node:nth-child(2n+1),
body.front.fpcc-3 #block-system-main article.node:nth-child(3n+1),
body.front.fpcc-4 #block-system-main article.node:nth-child(4n+1),
body.front.fpcc-5 #block-system-main article.node:nth-child(5n+1),
body.front.fpcc-6 #block-system-main article.node:nth-child(6n+1),
body.front.fpcc-7 #block-system-main article.node:nth-child(7n+1),
body.front.fpcc-8 #block-system-main article.node:nth-child(8n+1)
  clear: left

/* Float Image Left or Right */
article.image-left .image-wrapper
  float: left

article.image-right .image-wrapper
  float: right

.node-product-display .body-wrapper
  clear: both

#page.container-24,
#page.container-16,
#page.container-12
  margin: 0 auto
