@import "compass/css3";

.lightbox {

  $lightbox-padding: 40px;
  $gray: #6d6d6d;
  $gray-light-3: #DDD;
  $red: #E11B35;

  &__overlay {
    @include transition(opacity 0.2s);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    border: 0;
    width: 100%;
    z-index: 15;
    background: rgba(0, 0, 0, 0.5);
  }

  &__header {
    padding: 20px;
    margin: 0;
    border-bottom: 1px solid $gray-light-3;

    &:after {
      content: 'X';
      position: absolute;
      top: 15px;
      right: $lightbox-padding;
      font-size: 22px;
      color: $gray-light-3;
    }

    &:hover {
      cursor: pointer;
    }
  }

  // White box.
  &__content {
    @include box-shadow(0 0 40px 0px rgba(0, 0, 0, 0.2));
    @include border-radius(3px);
    @include box-sizing(border-box);
    background: #FFF;
    border: 0;
    color: $gray;

    // Position.
    @include transform(translate(-50%, -50%));
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 90%;
    width: 800px;
    max-height: 100%;
    min-height: 200px;
    overflow-y: auto;
  }

  &__body {
    padding: $lightbox-padding;
  }
}

.ng-hidden {
  display: none;
}
