/* 'Manage ranks' and 'Manage display' overviews */
table.rank-ui-overview tr.add-new .name-input {
  float: left; /* LTR */
}
table.rank-ui-overview tr.add-new .tabledrag-changed {
  display: none;
}
table.rank-ui-overview tr.add-new .description {
  margin-bottom: 0;
}
table.rank-ui-overview tr.add-new .add-new-placeholder {
  font-weight: bold;
  padding-bottom: .5em;
}
table.rank-ui-overview tr.region-title td {
  font-weight: bold;
}
table.rank-ui-overview tr.region-message td {
  font-style: italic;
}
