.hidden { display: none; }

.modal-overlay {
    z-index: 300;
    background: #808285;
}

.modal-photo-gallery {
    z-index: 310;
    background: transparent;
    padding: 20;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.modal-content {
    width: 100%;
    height: 100%;
    padding: 0;
}

.modal-close {
    width: 32px;
    height: 32px;
    /*background: transparent url("../img/close.png") no-repeat;*/
    background: transparent url("../img/exit.png") no-repeat;
    position: absolute;
    top: 2%;
    right: 2%;
    z-index: 320;
    font-size: .75em;
    cursor: pointer;
}

.photo-gallery-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.next-img {
    
}

.photo-gallery-img img {
    position: absolute;
    height: auto;
    width: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 60;
}

#swipe-block {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
}

.photo-gallery-tax {
    position: absolute;
    margin: auto;
    color: black !important;
    text-align: center;    
    font-size: 15px;
    font-family: Arial;
    font-weight: bold;
    z-index: 80;
}

.photo-gallery-tax a {
    display: block;
    color: #f3f2ed !important;
    text-decoration: none !important;
    letter-spacing: 1px;
}

.tax-series {
    width: 100%;
    height: 8%;         
}

.tax-series a {
    height: 30px;
    line-height: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.tax-top {
    top: 0;
}

.tax-bottom {
    bottom: 0;
}

.tax-themes {
    height: 100%;
    width: 6%;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
}

.tax-themes a {
    display: block;
    width: 900%;
    height: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -400%;
    right: 0;
    margin: auto;
    white-space: nowrap;
    line-height: normal;
}

.tax-left {
    left: 0;
}

.tax-right {
    right: 0;
}

.photo-gallery-nav {
    width: 40%;
    height: 40%;
    position: absolute;
    margin: auto;
    z-index: 90;
}

#nav-top {
    top: 0;
    left: 0;
    right: 0;
    border-radius: 0 0 200px 200px;
    cursor: url(../img/cursor_up.png), url(../img/cursor_top.cur), pointer;
}

#nav-bottom {
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 200px 200px 0 0;
    cursor: url(../img/cursor_down.png), url(../img/cursor_bottom.cur), pointer;
}

#nav-left {
    top: 0;
    bottom: 0;
    left: 0;
    border-radius: 0 200px 200px 0;
    cursor: url(../img/cursor_left.png), url(../img/cursor_left.cur), pointer;
}

#nav-right {
    top: 0;
    bottom: 0;
    right: 0;
    border-radius: 200px 0 0 200px;
    cursor: url(../img/cursor_right.png), url(../img/cursor_right.cur), pointer;
}

#slide {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000;
}