.uc-gopay-channels {
  border: 1px solid #3FADD8;
  height: 21px;
  display: inline-block;
}

#edit-panes-payment-payment-method .uc-gopay-channels {
	margin-top: 0.5em;
	margin-bottom: 0.7em;
}

/* GOPAY PAYMENT CHANNEL ICONS  ========================= */

.gopay-icon {
  display: inline-block;
  height: 18px;
  padding: 0 3px;
}

#edit-uc-gopay-list-methods .gopay-icon {
  padding: 0;
}

.icon-gopay {
  background: url('img/gopay_icons.png') no-repeat 0 0;
  width: 25px;
  height: 21px;
}
.icon-visa {
  background: url('img/gopay_icons.png') no-repeat -35px -2px;
  width: 22px;
  height: 13px;
}
.icon-mastercard {
  background: url('img/gopay_icons.png') no-repeat -67px -2px;
  width: 19px;
  height: 12px;
}
.icon-maestro {
  background: url('img/gopay_icons.png') no-repeat -96px -2px;
  width: 18px;
  height: 11px;
}
.icon-amex {
  background: url('img/gopay_icons.png') no-repeat -124px -2px;
  width: 18px;
  height: 11px;
}
.icon-jcb {
  background: url('img/gopay_icons.png') no-repeat -152px -2px;
  width: 19px;
  height: 12px;
}

/* Credit Cards */
.cz_gp_c, .eu_mb_a {
  background: url('img/gopay_icons.png') no-repeat -35px -2px;
  width: 107px;
/*  height: 13px;*/
}
/* AMEX, JCB */
.eu_mb_b {
  background: url('img/gopay_icons.png') no-repeat -152px -2px;
  width: 48px;
/*  height: 12px;*/
}
/* superCASH */
.SUPERCASH {
  background: url('img/gopay_icons.png') no-repeat -210px -2px;
  width: 17px;
/*  height: 17px;*/
}
/*mPeníze*/
.cz_mb {
  background: url('img/gopay_icons.png') no-repeat -237px -2px;
  width: 17px;
/*  height: 16px;*/
}
/* KB MojePlatba */
.cz_kb {
  background: url('img/gopay_icons.png') no-repeat -264px -2px;
  width: 14px;
/*  height: 13px;*/
}
/* MoneyBookers */
.eu_mb_w {
  background: url('img/gopay_icons.png') no-repeat -288px -2px;
  width: 20px;
/*  height: 9px;*/
}
/* ePlatby */
.cz_rb {
  background: url('img/gopay_icons.png') no-repeat -318px -2px;
  width: 19px;
/*  height: 12px;*/
}
/* Premium SMS */
.cz_sms {
  background: url('img/gopay_icons.png') no-repeat -347px -2px;
  width: 10px;
/*  height: 18px;*/
}
/* Fio */
.cz_fb {
  background: url('img/gopay_icons.png') no-repeat -363px -2px;
  width: 27px;
/*  height: 16px;*/
}
/* GoPay wallet */
.cz_gp_w {
  background: url('img/gopay_icons.png') no-repeat -395px -2px;
  width: 21px;
/*  height: 16px;*/
}
/* Bank transfer */
.cz_bank {
  background: url('img/gopay_icons.png') no-repeat -423px -2px;
  width: 17px;
/*  height: 14px;*/
}
/* Volksbank */
.cz_vb {
  background: url('img/gopay_icons.png') no-repeat -447px -2px;
  width: 18px;
/*  height: 13px;*/
}
/* GE Capital */
.cz_ge {
  background: url('img/gopay_icons.png') no-repeat -471px -2px;
  width: 18px;
/*  height: 18px;*/
}
