/* ==========================================================================
   Variables
   ========================================================================== */

/**
 * Main Fonts
 */
$robo: 'Roboto Slab', serif; 
$med: 'Medula One', cursive; 

/**
 * Main Colors
 */
$orange: #CC6600;
$grey: #333;
$lo: #fff7eb;
$menu: #646464;

/**
 * Text Shadow
 */
$shadow: 2px 2px 2px #333;

/**
 * Text Decoration
 */
$line: underline;
$up: uppercase;
$low: lowercase;
