/**
 * Custom Styling for People App
 */

.view-display-id-people_grid table {
  margin: 0;
}

.view-display-id-people_grid h3 {
  margin: .25em 0 0 0;
  font-size: 1.1em;
}

.view-display-id-people_grid .views-field-field-tags,
.view-display-id-people_grid .views-field-field-person-position {
  padding-right: .25em;
  font-size: .85em;
}

.view-display-id-people_grid table td {
  vertical-align: top;
  padding-bottom: 1em;
}

@media only screen and (max-width: 480px) {
  .view-display-id-people_grid table td {
    float: left;
  }
}

.field-name-field-person-type a {
  background-color: #CCC;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  display: inline-block;
  padding: .25em .5em;
  color: #000;
  margin-right: .25em;
  margin-bottom: .5em;
}

.field-name-field-person-type .field-item {
  display: inline;
}

/**
 * Person Edit Form
 */

#field-person-courses-values tbody tr,
#field-person-publications-values tbody tr {
  display: block;
  position: relative;
}

#field-person-courses-values .dialog-links,
#field-person-publications-values .dialog-links {
  right: 0;
  top: 0;
  line-height: 0;
  position: absolute;
}
