.mn_upsidedown {
  -webkit-transform: rotate(180deg); /* Chrome and other webkit browsers */
  -moz-transform: rotate(180deg); /* FF */
  -o-transform: rotate(180deg); /* Opera */
  -ms-transform: rotate(180deg); /* IE9 */
  transform: rotate(180deg); /* W3C complaint browsers */

  /* IE8 and below */
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=-1, M12=0, M21=0, M22=-1, DX=0, DY=0, SizingMethod='auto expand');
}

.pagination .multipage-navigation {
  clear: both;
  position: relative;
  margin-top: 15px;
  /*border: 1px solid #AAAAAA;*/
  padding: 0;
  cursor: pointer;
}

.mn_background {
    clear: both;
    position: relative;
    margin-top: 15px;
    /*border: 1px solid #AAAAAA;*/
    padding: 0;
    cursor: pointer;

    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxsaW5lYXJHcmFkaWVudCBpZD0iZzEiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwLjAxIiBzdG9wLWNvbG9yPSJyZ2JhKDEzMywgMTMzLCAxMzEsIDAuMDUxKSIvPjxzdG9wIG9mZnNldD0iMC43MyIgc3RvcC1jb2xvcj0icmdiYSgwLCAwLCAwLCAwLjMyMSkiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZzEpIiAvPjwvc3ZnPg==);
    background-image: -webkit-gradient(linear, center top, center bottom, color-stop(1%, rgba(133, 133, 131, 0.051)), color-stop(73%, rgba(0, 0, 0, 0.321)));
    background-image: -webkit-linear-gradient(top, rgba(133, 133, 131, 0.051) 1%, rgba(0, 0, 0, 0.321) 73%);
    background-image: -moz-linear-gradient(top, rgba(133, 133, 131, 0.051) 1%, rgba(0, 0, 0, 0.321) 73%);
    background-image: -ms-linear-gradient(top, rgba(133, 133, 131, 0.051) 1%, rgba(0, 0, 0, 0.321) 73%);
    background-image: -o-linear-gradient(top, rgba(133, 133, 131, 0.051) 1%, rgba(0, 0, 0, 0.321) 73%);
    background-image: linear-gradient(to bottom, rgba(133, 133, 131, 0.051) 1%, rgba(0, 0, 0, 0.321) 73%);
}

.pagination .multipage-navigation:hover {
  background-color: #f2f2f2;
}

.pagination .multipage-navigation nav.mn_dropdown ul li a,
.pagination .multipage-navigation nav.mn_dropdown ul li div {
  display: block;
  padding: 10px 10px 10px 5px;
  text-align: left;
  cursor: pointer;
}

.pagination .multipage-navigation h2 {
  text-transform: uppercase;
  padding: 0;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  padding: 5px 5px 5px 5px;
}

.pagination .multipage-navigation strong {
  color: #475795;
  text-transform: uppercase;
  padding: 0;
  text-decoration: none;
  font-size: 13px;
  padding-right: 5px;
}

.pagination .multipage-navigation span.arrow,
.pagination .multipage-navigation nav.mn_dropdown li span.arrow {
  background-image: url("images/arrow.png");
  background-position-x: 7px;
  background-repeat: no-repeat;
  background-position-y: 8px;
  background-color: transparent;
  position: absolute;
  padding: 8px;
  top: 6px;
  right: 10px;
  height: 6px;
  width: 11px;
  left: auto;
  margin-right: -10px;
  cursor: pointer;
  z-index: 500;
}

.pagination .multipage-navigation nav.mn_dropdown {
  clear: both;
  position: relative;
  border: 1px solid #b2b2b2;
  text-align: left;
  display: none;
  left: -1px;
  top: -35px;
  width: 100%;
}

.pagination .multipage-navigation ul {
  clear: both;
  margin: 0;
  padding: 0;
}

.pagination .multipage-navigation nav ul,
.pagination .multipage-navigation nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

.pagination .multipage-navigation nav.mn_dropdown ul li a,
.pagination .multipage-navigation nav.mn_dropdown ul li div {
  background-color: white;
  position: relative;
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  font-weight: bold;
  padding-left: 10px;
}

.pagination .multipage-navigation nav.mn_dropdown ul li:hover,
.pagination .multipage-navigation nav.mn_dropdown ul li a:hover {
  background-color: rgba(255, 228, 181, 0.99);
}

.pagination .multipage-navigation nav.mn_dropdown ul li a {
  padding-left: 20px;
}

.pagination .multipage-navigation nav.mn_dropdown ul li a.active-page {
  background-image: url("images/tick.png");
  background-repeat: no-repeat;
  background-position-x: 3px;
  background-position-y: 8px;
}
