
img { max-width: 100%; height: auto; }
.video-of-week .views-field-field-video, .video-of-week .views-field-field-video iframe { width: 200px; }
.latest-photos .views-field-field-images img { max-width: 90%; height: auto; }
.node ul.inline li, .comment ul.inline li { margin-bottom: 5px; } 
#sidebar-second-wrapper .views-field-field-image img { max-width: 170px; }