/* title */
#page-title {
  background: #BBAEA4;
  color: #333;
  padding: 7px 20px;
  font-family: 'oswaldregular';
  text-transform: uppercase;
  margin: -20px -20px 20px -20px;
}

.front h2 { text-transform: uppercase; }

/* container */
#page {
  background: url(../images/bg-slideshow.jpg) 50% 38px repeat-x;
}

/* Logo & Site name */
#header-wrapper .span12 { min-height: 200px; }

#header { position: relative; }

#logo {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 200;
}

#name-and-slogan {
  position: absolute;
  left: 235px;
  top: 20px;
  z-index: 200; 
}

#name-and-slogan a {
  font-family: 'oswaldregular';
  text-shadow: 0 1px 0 #333;
  text-transform: uppercase;
  color: #fff;
}

.connect-with-us {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 100;
}

.socials { margin: 0 0 15px; overflow: hidden; }

.socials li {
  list-style: none;
  display: block;
  float:left;
  margin: 0 3px 0 0;
  padding: 0;
}

.socials li a {
  display: block;
  float:left;
  width: 27px;
  height: 27px;
  overflow: hidden;
  text-indent: -999em;
  background: url(../images/ico-socials-2.png) 0 0 no-repeat;
}

.socials li .facebook-follow { background-position: 0 0; }
.socials li .facebook-follow:hover { background-position: 0 -27px; }

.socials li .twitter-follow { background-position: -36px 0; }
.socials li .twitter-follow:hover { background-position: -36px -27px; }

.socials li .gplus-follow { background-position: -73px 0; }
.socials li .gplus-follow:hover { background-position: -73px -27px; }

.socials li .linkedin-follow { background-position: -109px 0; }
.socials li .linkedin-follow:hover { background-position: -109px -27px; }

/**
 * Slideshow
 */
#slideshow-wrapper {
  position: relative;
  height: 204px;
}

#slideshow-wrapper .views-field-title {
  position: absolute;
  left: 240px;
  top: 85px; 
  z-index: 10;
}

#slideshow-wrapper .views-field-title a {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.83em;
  text-shadow: 0 1px 0 #333;
  font-family: 'oswaldregular';
  display: inline-block;
  background: #0E0909;
  padding: 1px 8px;
}

#slideshow-wrapper .views-field-body {
  color: #fff;
  position: absolute;
  left: 240px;
  top: 123px;
  text-shadow: 0 1px 0 #333;
  font-size: 1.25em;
  z-index: 10;
  display: inline-block;
  float: left;
  background: #0E0909;
  padding: 1px 8px;
}

#slideshow-wrapper .views-field-body p {
  color: #fff;
  margin: 0;
}

#slideshow-wrapper .views-slideshow-controls-text {
  position: absolute;
  right: 20px;
  bottom: 10px;
  z-index: 20;
  width: 55px;
  height: 78px;
  background: url(../images/bg-control.png) 0 0 no-repeat;
}

#slideshow-wrapper .views-slideshow-controls-text-pause {
  display: none;
}

#slideshow-wrapper .views-slideshow-controls-text-previous,
#slideshow-wrapper .views-slideshow-controls-text-next {
  display:block; 
  float:left;
  margin-top: 27px;
}

#slideshow-wrapper .views-slideshow-controls-text-previous {
  margin-right: 1px;
}

#slideshow-wrapper .views-slideshow-controls-text a {
  width: 27px;
  height: 31px;
  overflow: hidden;
  display:block;
  text-indent: -999em;
  background: url(../images/controls.png) 0 0 no-repeat;
}

#slideshow-wrapper .views-slideshow-controls-text-previous a {  
  background-position: 0 0;
} 

#slideshow-wrapper .views-slideshow-controls-text-previous a:hover,
#slideshow-wrapper .views-slideshow-controls-text-previous a:focus {
  background-position: 0 -31px;
}

#slideshow-wrapper .views-slideshow-controls-text-next a {
  background-position: -28px 0;
}

#slideshow-wrapper .views-slideshow-controls-text-next a:hover,
#slideshow-wrapper .views-slideshow-controls-text-next a:focus {
  background-position: -28px -31px;
}

#slideshow-wrapper .views-slideshow-slide-counter {
  text-align: center;
  color:#fff;
  padding: 5px 0 0 0;
}

#slideshow-wrapper .views-slideshow-pager-fields {
  position: absolute;
  left: 49%;
  bottom: 15px;
  z-index: 20;
}

#slideshow-wrapper .views-slideshow-pager-field-item {
  float: left;
  width: 11px;
  height: 11px;
  overflow: hidden;
  text-indent: -999px;
  background: url(../images/ico-pager.png) 0 0 no-repeat;
  margin: 0 2px;
}

#slideshow-wrapper .views-slideshow-pager-field-item.active {
  background-position: 0 -11px;
}

/* jcarousel */
#panel-third-wrapper .jcarousel-item {
  border: none;
  background: none;
  width: 225px;
  height: 100px;
  margin: 0 5px;
}

#panel-third-wrapper .jcarousel-container-horizontal {
  padding: 20px 0 0; 
  height: 100px;
  width: 100%;
}

#panel-third-wrapper .jcarousel-clip-horizontal {
  width: 100%;
}

#panel-third-wrapper .jcarousel-next, 
#panel-third-wrapper .jcarousel-prev {
  background: url(../images/controls-2.png) -55px 0 no-repeat;
  width: 27px;
  height: 78px;
  overflow: hidden;
  top: 25px;
}

#panel-third-wrapper .jcarousel-next-horizontal {
  background-position: -83px 0;
  right: -35px;
}

#panel-third-wrapper .jcarousel-prev-horizontal {
 background-position: -55px 0;
 left: -35px;
}

#panel-third-wrapper .jcarousel-prev-horizontal:hover,
#panel-third-wrapper .jcarousel-prev-horizontal:focus {
  background-position: 0 0;
}

#panel-third-wrapper .jcarousel-next-horizontal:hover,
#panel-third-wrapper .jcarousel-next-horizontal:focus {
  background-position: -28px 0;
}

/* main */
#main-wrapper .container {
  padding: 20px 0 0;
}

#sidebar-featured-wrapper > .grid-inner {
  background: #fff;
  border: 1px solid #ddd0c7;
  padding: 20px;
}

#sidebar-home-wrapper .block {
  background: #fff;
  border: 1px solid #ddd0c7;
  padding: 20px;
  margin-bottom: 30px;
}

/* view */
#sidebar-featured-wrapper .views-field-field-image {
  margin-bottom: 10px;
}

#sidebar-featured-wrapper .views-field-field-image img {
  border: 4px solid #ddd0c7;
}

#sidebar-featured-wrapper .views-field-title,
.video-of-week .views-field-title {
  font-size: 1.5em;
  margin-bottom: 0.25em;
}

.views-field-view-node a {
  display: inline-block;
  color: #fff;
  background: #32821f;
  text-transform: uppercase;
  padding: 5px 10px;
  font-size: 0.912em;
}

.views-field-view-node a:hover,
.views-field-view-node a:focus {
  background: #0c0703;
  color: #fff;
}

/* video-of-week */
.video-of-week .jcarousel-container-horizontal {
  width: auto;
  padding: 0;
  height: 155px;
}

.video-of-week .jcarousel-clip-horizontal {
  width: 100%;
}

.video-of-week .jcarousel-item {
  width: 530px;
  margin: 0;
  background: none;
  border:none;
  height: 153px;
}

.video-of-week .views-field-field-video {
  float: left;
  margin: 0 15px 0 0;
}

.video-of-week .views-field-field-video iframe {
  border: 4px solid #ddd0c7;
}

.video-of-week .jcarousel-skin-default {
  text-align: left;
}

.video-of-week .jcarousel-next, 
.video-of-week .jcarousel-prev,
.featured-professors .jcarousel-next, 
.featured-professors .jcarousel-prev {
  width: 18px;
  height: 18px;
  background: url(../images/controls-3.png) 0 0 no-repeat;
  position: absolute;
}

.video-of-week .jcarousel-next,
.featured-professors .jcarousel-next {
  background-position: -18px 0;
  top: -40px;
  right: -5px;
}

.video-of-week .jcarousel-next:hover,
.featured-professors .jcarousel-next:hover {
  background-position: -18px -18px;
}

.video-of-week .jcarousel-prev,
.featured-professors .jcarousel-prev {
  top: -40px;
  right: 15px;
  left: auto;
}

.video-of-week .jcarousel-prev:hover,
.featured-professors .jcarousel-prev:hover {
  background-position: 0 -18px;
}

/* Lastest Photos */
.latest-photos .views-row {
  margin-bottom: 10px;
}

.latest-photos .row-last {
  margin-bottom: 0;
}

.latest-photos .views-col .grid-inner {
  padding: 0 5px;
}

.latest-photos .views-field-field-images img {
  border: 4px solid #ddd0c7;
}
.latest-photos .views-field-field-images:hover img,
.latest-photos .views-field-field-images:focus img {
	border-color: #a89c94;
}
.embedded-video { text-align: center; margin-bottom: 15px; }

.embedded-video iframe { border: 4px solid #ddd0c7; max-width: 97%; }

/* Twitter */
.twitter_block_user {
  display: none;
}

#block-twitter-block-default {
  height: 26px;
  margin: 5px 0 0 0;
  overflow-y: hidden;
  color: white;
}

#main-content > .grid-inner {
  background: #fff;
  border: 1px solid #ddd0c7;
  padding: 20px;
  margin-bottom: 30px;
}

/* node */
.node, #block-system-main .view .views-row {  
  margin-top: 20px;
  border-top: 1px solid #ddd0c7;
  border-bottom: none;
  padding-top: 20px;
}

.node:first-child,
#block-system-main .view .views-row-first,
#block-system-main .view .row-first {
  border-top: none;
  padding-top: 0;
  margin-top: 0
}

#block-system-main .view .views-view-grid .views-row {
  margin: 0;
  padding: 0;
  border: none;
}

.front .node h2 a { color:#333 }

.front .node h2 a:hover,
.front .node h2 a:focus { color: #d85000 }

.node .field-name-field-image,
.nod .views-field-field-image,
#block-system-main .view .views-row .views-field-field-image {
  margin-bottom: 1em;
}

.node ul.inline {
  overflow: hidden;
  display: block;
}

.node .field-name-field-image img,
#block-system-main .view .views-row .views-field-field-image img {
  border: 4px solid #ddd0c7;
  max-width:98.5%;
}

.views-field-view-node a {
  display: inline-block;
  color: #fff;
  background: #32821f;
  text-transform: uppercase;
  padding: 5px 10px;
  font-size: 0.912em;
}

.views-field-view-node a:hover,
.views-field-view-node a:focus {
  background: #0c0703;
}

.node .field-name-field-tags,
.node .field-name-field-tags {
  margin-bottom: 10px;
}

.node .links,
.comment .links { margin: 0; }

.node ul.inline li,
.comment ul.inline li { display: block; float:left; margin-right: 5px; margin-bottom: 5px; padding: 0; }

.node .links li a,
.comment .links li a { 
  display: inline-block;
  color: #fff;
  background: #32821f;
  text-transform: uppercase;
  padding: 3px 10px;
  font-size: 0.912em;
}

.node .links li a:hover,
.node .links li a:focus,
.comment .links li a:hover,
.comment .links li a:focus {
  background: #0c0703;
}

.node .views-row { margin-bottom: 30px; }

.node .views-row-last { margin-bottom: 0; }

#block-system-main .view .views-row .views-field-title {
  font-size: 1.67em;
  display: block;
  margin: 0 0 10px;
}

#block-system-main .view .views-row .views-field-title a {
  color: #333;
}

#block-system-main .view .views-row .views-field-title a:hover,
#block-system-main .view .views-row .views-field-title a:focus { color: #d85000 }

/* submitted */
.submitted { 
  margin-bottom: 10px; 
  color: #666; 
}

/* tabs */
.tabs { margin-bottom: 30px; }

ul.primary { 
  margin: 0;
  padding: 0;
  overflow: hidden;  
  border-bottom: 5px solid #DDD0C7;
}

ul.primary li {
  float: left;
  margin: 0 5px 0 0;
}

ul.primary li a {
  background: #fff;
  display: block;
  margin: 0;
  padding: 5px 15px;
  border-bottom: none;
  border-color: #DDD0C7;
  color: #333;
}

ul.primary li a:hover {
  color: #D85000;
  border-color: #DDD0C7;
  background: #fff;
}

ul.primary li.active a { 
  border-bottom: none; 
  border-color: #DDD0C7; 
  color: #D85000; 
}

/* breadcrumb */
#breadcrumb-wrapper {
  padding: 10px 0 5px;
  margin-bottom: 0;
}
.breadcrumb {
  border-radius: 0;
  background: none;
  float: left; 
  margin: 0;
  padding: 0; 
  color: #575353;
}

.btn-btt { float: right; }

/* blog page */
.action-links {
  margin: 0 0 20px;
  list-style: none;
}

.action-links li {
  display: inline-block;
  margin: 0 10px 0 0;
  vertical-align: middle;
}

.action-links li a {
  display: inline-block;
  background: #d85000;
  color: #fff;
  padding: 5px 15px;
  text-transform: uppercase;
}

.action-links li a:hover,
.action-links li a:focus {
  background: #3b281c;
}

.node-submitted-info {
  width: 100%;
  overflow: hidden;
  border-bottom: 1px dotted #ddd0c7;
  padding-bottom: 3px;
  margin-bottom: 15px;
  color: #8e725f;
}

.node-submitted-info a {
  color: #125901;
}

.node-submitted-info a:hover,
.node-submitted-info a:focus {
  color: #d85000;
}

.node-submitted-date {
  float: left;
  margin: 0 15px 5px 0;
  background: url(../images/ico-date-2.png) 0 1px no-repeat;
  padding: 0 0 0 20px;
}

.node-submitted-comments {
  float: left;
  margin: 0 15px 5px 0;
}

.node .node-submitted-comments ul.inline li a {
  background: url(../images/ico-comment.png) 0 1px no-repeat;
  padding: 0 0 0 20px;
  text-transform: none;
  color: #125901;
  font-size: 1em;
}

.node-submitted-info .submitted {
  float: left;
  margin: 0 15px 5px 0;
  background: url(../images/ico-post.png) 0 1px no-repeat;
  padding: 0 0 0 20px;
}

.field-name-field-tags .field-item {
  display: inline-block;
  padding: 0 2px;
}

.field-name-field-tags .field-item:not(:last-child)::after {
  content: ',';
}

/* pager */
.item-list .pager {
  margin: 20px 0 10px 0;
  text-align: left;
  border-top: 1px solid #DDD0C7;
  padding-top: 20px;
}

.item-list .pager li {
  display: block;
  float: left;
  margin: 0 3px 0 0;
  background: #9e8678;
  padding: 1px 10px;
  color: #fff;
}


.pager a, .pager span,
.pager li > a, .pager li > span {
  background: 0;
  padding: 0;
  margin: 0;
  border: none;
  color: #fff;
  border-radius: 0;
}

.item-list .pager li:hover,
.item-list .pager li:focus {
  background: #32821F; 
}

.pager a:hover, .pager li > a:hover, .pager li > a:focus { background: none; }

.item-list .pager .pager-current {
  background: #3b281c;
}

/* gallery */
.view-col-type .views-col .views-field-field-images {
  margin-bottom: 1em;
}

.view-col-type .views-col .grid-inner {
  margin: 15px;
  padding: 15px;
  border: 1px solid #DDD0C7;
  text-align: center;
}

.view-col-type .views-col .grid-inner:hover,
.view-col-type .views-col .grid-inner:focus {
  border: 1px solid #c4b7ae;
}

.view-col-type .views-col ul {
  list-style: none;
}

.view-col-type .views-col li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.view-col-type .views-col .grid-inner .views-field-field-image { border: none !important; }

#block-system-main .view-col-type .views-field-field-image { margin-bottom: 10px; }

#block-system-main .view-col-type .views-field-field-image img { width: 100%; border: none !important; }
#block-system-main .view-col-type .views-row .views-field-title,
#block-system-main .view-col-type .views-field-title,
#block-system-main .view-col-type .views-field-name {
  font-size: 1.16em;
  margin-bottom: 0;
  font-weight: bold;
}

.view-col-type .views-col .grid-inner:hover a,
.view-col-type .views-col .grid-inner:focus a{
  color: #32821F;
}

.view-col-type .views-col .views-field-body p { margin-bottom: 0; }

.galleryformatter { margin-bottom: 20px; }

.galleryformatter-greenarrows .gallery-slides .panel-overlay { bottom: 0; }

/* search page */
#search-form { margin: 0 0 15px; }

#search-form #edit-basic { overflow: hidden; margin: 0 0 20px; }

#search-form #edit-basic .form-item label { display: block; float:left; margin: 0 5px 0 0; padding: 5px 0 0 0; }

#search-form #edit-basic .form-item input { float: left; margin: 0 5px 0 0; }

#search-form .form-submit { 
  float: left;
  background: #32821F;
  color: #fff;
  padding: 7px 15px;
  text-transform: uppercase;
  border: none;
  font-size: 1em;
}

#search-form .form-submit:hover,
#search-form .form-submit:focus {
  background: #3B281C;
}

.search-results {
  margin: 0 0 15px 0;
}

.search-results li {
  border-top: 1px dotted #DDD0C7;
  padding-top: 10px;
}

.search-results li:first-child {
  border: none;
}

.search-results .search-info { font-size: 1em; font-style: italic; }

/* Professors */
.view-type .views-field-field-image {
  float: right;
  margin-left: 15px;
  margin-right: 0;
  margin-left: 10px;
}

.field-type-taxonomy-term-reference {
  margin-bottom: 1em;
}

/* Library */
#block-system-main .view .views-row .views-field-name {
  font-size: 1.33em;
  color: #333;  
  margin-bottom: 10px;
}

#block-system-main .view .views-row .views-field-name a { 
  color:#333; 
  font-weight: bold;
}

#block-system-main .view .views-row .views-field-name a:hover { color:#D85000; }

.term-listing-heading { overflow: hidden; }

.term-listing-heading .field-name-field-image {
  float: left;
  margin: 0 15px 5px 0;
}

.term-listing-heading .taxonomy-term-description {
  margin-top: 0;
}

/* contact page */
.contact-info h3 {
  font-size: 1.5em;
  border-bottom: 1px solid #DDD0C7;
  padding: 0 0 3px ;
  margin: 20px 0 10px 0;
}

.page-contact #panel-first-wrapper { margin-bottom: 60px; }

/* forum */
#forum  table { width: 100%; margin-bottom: 20px; }
table th, table td { padding: 5px; }
table .container { padding: 10px !important; font-weight: bold; background:#ddd; }

/* gallery */
.galleryformatter-greenarrows .gallery-thumbs .wrapper {
  background: none;
}

.galleryformatter-greenarrows .gallery-thumbs li a:hover {
  background: none;
}

.galleryformatter-greenarrows .gallery-thumbs .arrow {
  width: 18px;
  height: 18px;
  background: url(../images/controls-3.png) 0 0 no-repeat;  
  top: 53px; 
}

.galleryformatter-greenarrows .gallery-thumbs .back { background-position: 0 0; left: 20px; }

.galleryformatter-greenarrows .gallery-thumbs .back:hover { background-position: 0 -18px; }

.galleryformatter-greenarrows .gallery-thumbs .forward { background-position: -18px 0; right: 20px; }
.galleryformatter-greenarrows .gallery-thumbs .forward:hover { background-position: -18px -18px; }

.galleryformatter-greenarrows .gallery-thumbs li.active a { background: none; }

/* color themes */
#change_skin_menu_wrapper a.color-default {
  background: #3B281C;
}

#change_skin_menu_wrapper a.color-blue {
  background: #3CAAC8;
}

#change_skin_menu_wrapper a.color-pink {
  background: #FA4942;
}

#block-user-login .form-submit { background: #32821F; color:#fff; text-transform: uppercase; border: none; padding: 5px 10px;  text-transform: uppercase; }

