# Temp files and backups
*.tmp
*.bak

# vim swap files
*.swp

# Eclipse stuff
.project
.metadata
.settings
.buildpath

# OS generated rubbish
.Trash*
.DS_Store

# Composer files
build/
vendor/
composer.lock

