
#getdirections_directions {
  width: 250px;
  padding: 2px;

}

.getdirections {
  margin-top: 8px;
}
.getdirections td {
  vertical-align: top;
}

.getdirections-list {
  background: #FFFFFF;
}
.getdirections-map {
  padding: 2px;
  border: 1px solid #C0C0C0;
  text-align: center;
  background: #FFFFFF;
  vertical-align: top;
}
/* see issue #1577634 #6 */
.getdirections-map img {
  max-width: none !important;
}

.getdirections_display {
  margin-bottom: 8px;
}
.getdirections_display label {
  font-weight: 600;
}

tbody, thead {
  border-top: 0;
  border-bottom: 0;
}

.getdirections_returnlink {
  margin-bottom: 8px;
}
#getdirections_trafficinfo {
  margin-bottom: 8px;
}
#getdirections_bicycleinfo {
  margin-bottom: 8px;
}
#getdirections_transitinfo {
  margin-bottom: 8px;
}
#getdirections_panoramio {
  margin-bottom: 8px;
}
#getdirections_switchfromto {
  margin-bottom: 8px;
}
#getdirections_show_distance {
  margin-top: 8px;
}
#getdirections_show_duration {
  margin-top: 8px;
}

.getdirections_start_info {
  margin-bottom: 8px;

}
.getdirections_end_info {
  margin-bottom: 8px;

}
.getdirections_map_buttons {
  margin-top: 8px;
}
