
/*-----------------------------------------------
                     Elements
-----------------------------------------------*/

a {
  text-decoration: none;
  &:hover { text-decoration: none; }
}

iframe { width: 100%; }

img { max-width: 100%; height: auto; }


.page-header {
  line-height: 1;
  border: 0;
  margin: -5px 0px 20px 0;
}

.pagination { margin-top: 45px; }


/*-----------------------------------------------
                   Font -icons
-----------------------------------------------*/

.glyphicon:before {
  margin: 0px 5px;
  position: relative;
  top: 2px;
} 

.glyphicon-comment {
  @include mixin-font-icon($comment);
}

.glyphicon-read {
  top: 0;
  @include mixin-font-icon($eye,18px);
  &:before { top: 3px; }
}

.glyphicon-th-list { 
  @include mixin-font-icon($list);
}

.glyphicon-calendar { 
  @include mixin-font-icon($calendar,16px); 
}


.glyphicon-map-marker {
  @include mixin-font-icon($light,18px);
  &:before { top: 3px; line-height: 0; }
}


/*-----------------------------------------------
                   image - label
-----------------------------------------------*/

.caption { @include mixin-image-label; }

.mouseover { @include mixin-image-label; top: 0; display: none; }


/*-----------------------------------------------
         General: row - footer-openideal
-----------------------------------------------*/

.row-bottom-openideal {
  min-height: 45px;
  clear: both;
  position: relative;
  background-color: black;
  display: table;
  width: 101%;
  padding: 0px 15px;
  padding-bottom: 3px;
  font-size: 13px;
  color: white;

  > div { display: table-cell;  vertical-align: middle; }
  a { color: white; }

  /* --- author --- */

  .author {
    .picture img { 
      width: 36px;
      height: 37px; 
      margin: 5px 7px 0 7px;
      float: left;
    }
    .name {
      color: $blue;
      font-weight: bold;
      margin-top: 7px;
       a { color: $blue; }
    }
  }

  /* --- dates --- */

  .dates{ 
    margin-top: 12px; font-size: 0;
    span { font-size: 13px; }
    span + span:before { content: '-'; margin: 0 4px; }
  }

  /* --- vote --- */

  .vote {
    .ajax-progress {
      .glyphicon{
        margin: 0;
        &:before { top: 0;  margin: 0; }
      }
    }
    .vud-link-reset { display: none; }
    .vud-widget-alternate { 
      float: none; height: auto;
      width: auto;
      margin: 3px 0 0; 
    }
    .alternate-votes-display {
      font-size: 13px;
      height: auto;
      border: 0;
      line-height: 1.1;
      font-weight: bold;
      font-family: Arial;
      @include mixin-font-icon($vote,13px,$green);
      &:before { position: relative; top: 1px; }
    }
    .up-active,.up-inactive {  display: none; }
  }

}
/*-----------------------------------------------
         General: row - view-challenges-featured-front
-----------------------------------------------*/
.view-challenges-featured-front{
  /* --- author --- */
  .author {
    .picture img { 
      width: 36px;
      height: 37px; 
      margin: 0px 7px 0 7px;
      float: left;
    }
    .name {
      color: $blue;
      font-weight: bold;
      margin-top: 7px;
       a { color: $blue; }
    }
  }
}


