

/*------------------------------------------------------------------------------
                            Challenges list - page
------------------------------------------------------------------------------*/


/* ------------------------------------------- view-challenges-list ----------------------------------------- */

.view-challenges-list {

  /* --- views-row --- */

  .views-row {
    background: $light-gray;
    overflow: hidden;
    padding: 15px 15px 0px 18px;
    color: $black;
    .row {
      margin-right: -17px;
      margin-left: -17px;
      &:before { 
        top: -12px;
        position: absolute;
        @include mixin-css-triangle(top,6px,black);
      }
    }
  }
  .views-row + .views-row {
    margin-top: 38px;
  }

  /* --- image --- */

  .views-field-field-challenge-image {
    margin: 3px 20px 15px 0px;
  }

  /* --- title --- */

  .views-field-title {
    margin-bottom: 15px;
    h3 { margin: 0; }
    a { color: $black; }
  }

  /* --- body --- */

  .views-field-body {
    display: table;
    line-height: 21px;
    margin-bottom: 15px;
    p { margin: 0; }
  }

  /* --- row-bottom --- */

  .row-bottom-openideal {
    .status {  max-width: 40px; }
    .dates{ max-width: 40px; }
    .count { max-width: 20px; }
    &:before {
      content: '';
      width: 0;
      height: 0;
      display: block;
      right: 50%;
      top: -15px;
      color: black;
      position: absolute;
      border: 8px solid transparent;
      border-bottom: 8px solid $black;
    }
  }
}


/*------------------------------------------------------------------------------
                               Idea list - page
------------------------------------------------------------------------------*/

body.page-ideas {
  .page-header {
    display: none;  
  }
  #panel-bootstrap-region-center{
   /* width: 63.3%;
    margin-right: 3.3%;*/
  }
  
}

/* ------------------------------------------- pane-quicktabs-all-ideas ----------------------------------------- */

.pane-quicktabs-all-ideas {
  .pane-title {
    margin: 0 0 15px 0;
  } 
  ul.quicktabs-tabs {
    border-bottom: 1px solid $light-border;
    padding: 0;
    height: 30px;
    margin-bottom: 35px;
    li {
      margin: 0 40px 0 0;
      padding: 0;
      a {
        font-weight: normal;
        font-size: 16px;
        color: black;
        display: inline-block;
        padding-bottom: 4px;
      }
      &:hover a, &.active a { border-bottom: 4px solid $light-border; }
    }
  }
}

/* ------------------------------------------- view-ideas-all ----------------------------------------- */

.view-ideas-all {

  /* --- views-row --- */

  .views-row {
    background: $light-gray;
    overflow: hidden;
    padding: 10px 18px 0px 13px;
    color: $black;
    .row {
      margin-right: -17px;
      margin-left: -17px;
      &:before { 
        top: -12px;
        position: absolute;
        @include mixin-css-triangle(top,6px,black);
      }
    }
  }
  .views-row + .views-row {
    margin-top: 38px;
  }

  /* --- image --- */

  .views-field-field-idea-image {
    padding: 3px 18px 15px 0;
    float: left;
    background: $light-gray;
  }

  /* --- title --- */

  .views-field-title {
    font-size: 28px;
    font-weight: lighter;
    line-height: 1.2;
    border-bottom: 1px solid #d5d5d5;
    margin-bottom: 6px;
    padding-bottom: 7px;
    h3 { margin: 0; }
    a { color: $black; }
  }

  /* --- challenge title --- */

  .views-field-title-1{
    font-size: 19px;
    font-weight: lighter;
    line-height: 1.2;
    margin-bottom: 18px;
    a { color: $black; }
  }

  /* --- body --- */

  .views-field-body {
    display: table;
    line-height: 21px;
    margin-bottom: 15px;
    p { margin: 0; }
  }

  /* --- row-bottom --- */

  .views-row .row-bottom-openideal {
    &:before { display: none; }
    .dates { font-size: 13px; }
  }

}

