
/*-----------------------------------------------
                     Layouts
-----------------------------------------------*/

body {

  /*border: 2px solid #e4e4e4;*/
  width: 93%;
  margin: 0 auto;
  position: static;

  .logo img{ height: 35px; }

  header#navbar {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: none;
  }

  header#navbar >.container,
  .main-container.container,
  .footer .region-footer {
    max-width: 82.5%;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }
  @media all and (max-width:767px){
  .main-container.container
    {
    max-width:93%;
    padding:0;

    }
  }

  .main-container.container {
    clear: both;
    margin: 40px auto;
    margin-bottom:100px;
  }

  .footer {
    margin: 0;
    padding: 10px;
    width: 100%;
    &.navbar.container { max-width: none; }
  }

  .region-page-bottom{
    position: absolute;
    left: 50%;
    z-index:5;
    margin-left: -50%;
  }

}

#panel-bootstrap-region-content_views { padding-right: 45px; }
@media all and(max-width:991px)
{
  #panel-bootstrap-region-content_views { padding-right: 0; }
}

#panel-bootstrap-region-sidebar { padding-left: 0; }

.panel-bootstrap .panel-separator { margin: 0; }

body.panels-ipe .panel-pane, .panel-pane { margin-bottom: 2.7em; }

@media all and (max-width: 767px) {
body{ width:100%; }
.main-container { width:93%; }
.panel-bootstrap-inside { margin:0; }
}
