// Admin fixes for Drupal using Bootstrap
body.admin-menu {
  margin-top: 28px !important;
	.navbar-fixed-top {
    top: 30px;
  }
}

#admin-menu, #admin-menu .dropdown, #admin-menu .dropdown li ul {
  z-index: 9999;
}

#admin-menu .dropdown li li.expandable ul {
  margin-top: -29px;
}

// Glazed button in toolbar

#glazed-button-wrapper {
  float: right;
  .glazed-button {
    display: inline-block;
    background: #fff;
    color: #333;
    line-height: 20px;
    padding: 0 4px;
    border-radius: 3px;
    opacity: 0.9;
  }
  img {
    margin-right: 3px;
    vertical-align: middle;
  }
}

// selects fix
.form-item-field-settings-granularity {
	.option.checkbox.control-label { float: left; margin-right: 2em; }
	.help-block { clear: both; }
}