/**
 * Chaos Tools Suite module.
 */

.ctools-button-processed {
  border-color: $grey-level-8;
}
.ctools-auto-submit-full-form {
  @include cf;
}
#ctools-export-ui-list-form .ctools-export-ui-top-row .form-item {
  margin-bottom: 15px;
}
#ctools-export-ui-list-items {
  position: relative;
}
.wizard-trail {
  margin-bottom: 15px;
  span {
    a {
      color: $grey-level-3;
    }

    &.wizard-trail-previous {
      &, a {
        color: $grey-level-5;
      }
    }
    &.wizard-trail-current {
      &, a {
        color: $greendark;
      }
    }
  }
}
.ctools-left-container,
.ctools-right-container {
  overflow-x: auto;
  overflow-y: hidden;
}
#ctools-contexts-table,
#ctools-relationships-table,
#ctools-requiredcontexts-table {
  margin-bottom: 20px;;
  table {
    margin-bottom: 0;
    .form-item {
      margin-bottom: 0;
    }
    .form-submit {
      margin-right: 0;
    }
  }
}
div.ctools-modal-content {
  .modal-header {
    background-color: $bluegrey;
    background-image: none;
    padding: 5px 10px;
    .modal-title {
      color: #FFFFFF;
      text-shadow: transparent 0 0;
    }
  }
  .messages {
    padding: 5px 10px;
  }
  a.close {
    @extend input.form-submit;
    margin-right: 0;
    padding: 0 5px;
    img {
      display: none;
    }
  }
  .form-actions {
    margin-bottom: 10px;
  }
}
