/**
 * Panels module.
 */

/* Panels dashboard */
.dashboard-left {
  width: 460px;
  margin: 0 20px 0 0;
}
.dashboard-right {
  width: 460px;
  margin: 0;
}
.dashboard-content {
  @include rounded-box(4px);
  background: white;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 1/10);
  padding: 20px;
  margin-bottom: 20px;
  .dashboard-entry {
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.dashboard-pages {
  padding: 0;
}
.dashboard-block {
  padding-bottom: 0;
  border-bottom:0;
  margin-bottom: 0;
  h3 {
    @include rounded-box-partial(4px 4px 0 0);
    background: $bluegrey;
    color: white;
    padding: 15px 20px;
    text-transform: uppercase;
    /*rewrite*/
    font-weight: normal;
    font-size: 1em;
    margin-bottom: 0;
  }
}
#page-manager-edit {
  margin-top: 0;
}
#page-manager-edit .page-manager-ajax-pad .content-content {
  padding: 20px;
  form, .form-item {
    padding: 0;
  }
}
.panels-dashboard .links {
  padding: 0 20px 20px 20px;
}
.dashboard-layouts .links {
  padding: 0px;
}
#panels-live-preview {
  margin-bottom: 15px;
}
body.page-admin-structure-mini-panels {
  #main_content {
    overflow-y: auto;
    #ctools-export-ui-edit-item-wizard-form {
      @include nofieldset();
    }
  }
}
#page-manager-edit .page-manager-wrapper,
.changed-notification {
  margin-bottom: 15px;
}