/**
 * @file
 * RTL companion for the pages.css file.
 */


/*
 * Header
 */
#logo /* Wrapping link for logo */ {
  float: right;
  margin: 15px 10px 0 0;
}

#name-and-slogan /* Wrapper for website name and slogan */ {
  float: right;
  margin: 15px 10px 0 0;
}

/*
 * Content
 */
.more-link /* Aggregator, blog, and forum more link */ {
  text-align: left;
}

ul.links li /* List of links */ {
  display: inline-block; /* Bug in Safari causes display: inline to fail. */
  padding: 0 0 0 1em;
}
