#startbutton,
#takepicture {
  color: white;
  border-radius: 4px;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
#startbutton,
#takepicture {
  background: #42b8dd; /* this is a light blue */
}
.video-container {
  width: 50%;
  border: 1px solid #42b8dd;
  padding: 10px;
}
.selfi,
.video-container .actions {
  width: 100%;
}
.selfi #selfi_video,
.selfi #canvas {
  width: 50%;
  float: left;
}
.video-container .actions {
  clear: left;
  margin-top: 10px;
}
input#startbutton:hover,
input#takepicture:hover {
  background: #4592a2;
}
