
/**
 * @file
 * Provides the CSS for the Flowplayer Drupal module administration page.
 */

fieldset#flowplayer5-color .form-item label {
  float: left;
  width: 125px;
}

#flowplayer5-color-picker {
  float: right;
}

#flowplayer5-color {
  float: left;
  width: 450px;
  margin-right: 20px;
}

#flowplayer5-styling {
  float:left;
  padding-right: 30px
}

#flowplayer5-preview-wrapper {
  clear: both;
}
#flowplayer5-preview .fp-engine {
 background: #000000;  
}
.flowplayer5.pair-checks {
  width: 200px;
}
.flowplayer5.pair-checks .form-type-checkbox {
  width: 50%;
  float: left;
}