/**
 * @file
 * CSS for the provided examples.
 */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* ---- button ---- */

.filterbutton,
.sorterbutton {
  display: inline-block;
  padding: 0.5em 1.0em;
  background: #eee;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  color: #222;
  font-family: sans-serif;
  font-size: 16px;
  text-shadow: 0 1px white;
  cursor: pointer;
}

.filterbutton:hover,
.sorterbutton:hover {
  background-color: #8cf;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}

.filterbutton:active,
.filterbutton.selected,
.sorterbutton:active,
.sorterbutton.selected {
  background-color: #28f;
}

.filterbutton.selected,
.sorterbutton.selected {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.filterbutton:active,
.sorterbutton:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

ul.isotope-options {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.isotope-options li {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

.isotope-options:after {
  content: '';
  display: block;
  clear: both;
}

.isotope-options .filterbutton,
.isotope-options .sorterbutton {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

.isotope-options li:first-child .filterbutton,
.isotope-options li:first-child .sorterbutton {
  border-radius: 0.5em 0 0 0.5em;
}

.isotope-options li:last-child .filterbutton,
.isotope-options li:last-child .sorterbutton {
  border-radius: 0 0.5em 0.5em 0;
}

.item-list ul.isotope-options {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
  padding: 0;
}

.item-list ul.isotope-options li {
  padding: 0;
  margin: 0;
}

/* ---- isotope ---- */

.isotope-container {
  background: #ddd;
  max-width: 1200px;
}

/* clear fix */
.isotope-container:after {
  content: '';
  display: block;
  clear: both;
}

.item-list ul.isotope-container {
  list-style: none;
  margin: 0;
  padding: 0;
}


/* color-shape */

.item-list li.isotope-element {
  list-style: none;
  margin: 5px;
  padding: 0;
}

.isotope-element {
  width: 70px;
  height: 70px;
  margin: 5px;
  float: left;
  background: black;
}

.isotope-element * {
  display: none;
}

.isotope-element.round {
  border-radius: 35px;
}

.isotope-element.big.round {
  border-radius: 75px;
}

.isotope-element.red {
  background: red;
}
.isotope-element.blue {
  background: blue;
}
.isotope-element.yellow {
  background: yellow;
}

.isotope-element.wide,
.isotope-element.big {
  width: 150px;
}
.isotope-element.tall,
.isotope-element.big {
  height: 150px;
}

.thisIsCustomisedLabel {
  color: red;
}
