.google-store-locator-map {
  height: 500px;
}

.google-store-locator-panel {
  float: left;
  height: 500px;
  margin-right: 10px;
  width: 300px;
}

/* Ensure image widths for responsive designs */
.google-store-locator-map img {
  max-width: none !important;
}

.storelocator-panel .feature-filter {
  overflow: visible;
}

.storelocator-panel .store-list {
  clear: both;
}
