#arte-opa-query-form .form-item-language,
#arte-opa-query-form .form-item-kind,
#arte-opa-query-form .form-item-platform,
#arte-opa-query-form .form-item-limit {
  float: left; /* LTR */
  padding-right: .8em; /* LTR */
  margin: 0.1em;
  /**
   * In Opera 9, DOM elements with the property of "overflow: auto"
   * will partially hide its contents with unnecessary scrollbars when
   * its immediate child is floated without an explicit width set.
   */
  width: 15em;
}
/*#arte-opa-query-form .form-type-select select {
  width: 100%;
}
*/
#arte-opa-query-form .form-actions {
  float: left; /* LTR */
  padding: 3ex 0 0 1em; /* LTR */
}
