input[type="checkbox"] {
  display:none;
}
input[type="checkbox"] + label {
  display:inline;
}
input[type="checkbox"] + label span {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: -1px 0 0 0;
  vertical-align: middle;
  background: url(../images/checkboxes.png) left -2px no-repeat;
}
input[type="checkbox"]:checked + label span {
  background-position: left -18px;
}
input[type="checkbox"]:disabled + label span {
  background-position: left -34px;
}
input[type="checkbox"]:checked:disabled + label span {
  background-position: left -50px;
}
/* user.permissions.js creates dummy checkboxes on this page. */
body.page-admin-people-permissions input[type="checkbox"] {display: inline}
body.page-admin-people-permissions input[type="checkbox"] + label span {display: none}
