html {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@media screen and (orientation:landscape) {
  html {
    -webkit-text-size-adjust: none;
  }
}
html,
body {
  width: 100%;
  height: 100%;
}

.mast {
  position: relative;
  margin: 0 auto;
  width: 960px;
  width: 90%;
}

.wrap-columns {
  width: 100%;
  clear: both;
  position: relative;
}

.content-column,
.region-sidebar-first,
.region-sidebar-second {
  float: left;
  word-wrap: break-word;
}

.content-column {
  width: 100%;
}

.two-sidebars .main {
  margin: 0 20%;
}

.sidebar-first .main {
  margin-left: 20%;
}

.sidebar-last .main {
  margin-right: 20%;
}

.region-sidebar-first {
  width: 20%;
  margin-left: -100%;
}

.region-sidebar-second {
  width: 20%;
  margin-left: -20%;
}

.content:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
* html .content {
  height: 1%;
}
*:first-child + html .content {
  min-height: 1%;
}

div.tabs {
  padding-top: 0;
  padding-bottom: 0;
}

span.nolink {
  cursor: default;
}

img {
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.field-name-field-image div {
  width: 100%;
}

.gmap img,
.view-gmap img,
.openlayers-map img,
#getlocations_map_canvas img {
  max-width: none !important;
}

svg:not(:root) {
  overflow: hidden;
}

.arctica-attr-link {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
  text-align: center;
  clear: both;
  padding: 0.5em 0;
  font-size: 90%;
  color: #444;
}
.arctica-attr-link a,
.arctica-attr-link a:link,
.arctica-attr-link a:visited,
.arctica-attr-link a:hover,
.arctica-attr-link a:focus,
.arctica-attr-link a:active {
  color: #444;
}

div.tweets-pulled-listing ul {
  list-style: none;
}

div.tweets-pulled-listing div.tweet-authorphoto {
  margin: 0 5px 0 0;
  float: left;
}

div.tweets-pulled-listing div.tweet-authorphoto img {
  max-height: 40px;
  max-width: 40px;
}

.syntaxhighlighter {
  clear: both;
  border: 1px solid #e0e0e0;
  padding: 5px 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  -moz-transition-property: opacity;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 600ms;
  -webkit-transition-duration: 600ms;
  -o-transition-duration: 600ms;
  transition-duration: 600ms;
}
.syntaxhighlighter:hover, .syntaxhighlighter:focus {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.footnotes {
  border-color: #ccc;
}
.footnotes li.footnote {
  background: none;
  padding: 0;
}

.html .contextual-links-wrapper ul.contextual-links, .html .contextual-links-wrapper ul.contextual-links li, .html .contextual-links-wrapper ul.contextual-links li a {
  margin: 0;
  padding: 0;
  background: #fff;
  font-size: 100%;
}
.html .contextual-links-wrapper ul.contextual-links li a {
  margin: 0.25em 0;
  padding: 0.25em 1em 0.25em 0.5em;
}
.html .contextual-links-wrapper ul.contextual-links li a:hover,
.html .contextual-links-wrapper ul.contextual-links li a:focus {
  background: #bfdcee;
}

.footnotes {
  border-color: #ccc;
}
.footnotes li.footnote {
  background: none;
  padding: 0;
}

body ul.quicktabs-style-nostyle {
  margin: 0;
}
body ul.quicktabs-style-nostyle:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
* html body ul.quicktabs-style-nostyle {
  height: 1%;
}
*:first-child + html body ul.quicktabs-style-nostyle {
  min-height: 1%;
}
body ul.quicktabs-style-nostyle li {
  padding-left: 0;
  padding-bottom: 0;
  background: none;
  float: left;
  margin: 0 8px -1px 0;
  list-style: none;
}

div.quicktabs-style-nostyle:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
* html div.quicktabs-style-nostyle {
  height: 1%;
}
*:first-child + html div.quicktabs-style-nostyle {
  min-height: 1%;
}

.quicktabs-hide {
  border: 0;
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.arctica-configurator {
  position: absolute;
  position: fixed;
  z-index: 20;
  left: 0;
  top: 200px;
}
.arctica-configurator a {
  display: block;
  overflow: hidden;
  padding: 8px;
  height: 32px;
  width: 32px;
  background: white url("../images/gear.png") no-repeat 8px 8px;
  background-color: rgba(0, 0, 0, 0.4);
  text-indent: -999999px;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -khtml-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}

.arctica-left-content {
  text-align: left;
}

.arctica-left-content #user-login-form {
  text-align: left;
}

.arctica-center-content {
  text-align: center;
}

.arctica-center-content ul.menu {
  display: inline-block;
  text-align: center;
}

.arctica-center-content #user-login-form {
  text-align: center;
}

.arctica-right-content {
  text-align: right;
}

.arctica-right-content #user-login-form {
  text-align: right;
}

.no-style,
.no-style .block-content {
  border: none!important;
  border-radius: 0!important;
  outline: 0!important;
  margin: 0!important;
  background: none!important;
}

.no-style .block-content {
  padding: 0!important;
}

.html .arctica-squared {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.html .arctica-rounded-medium {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}

.html .arctica-rounded-small {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
}

.html .arctica-rounded-large {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.html .arctica-rounded-xlarge {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  overflow: hidden;
}

.arctica-icon-block,
.arctica-icon-block-right {
  position: relative;
}

.arctica-icon-block .block-title {
  padding-left: 55px;
}

.arctica-icon-block-right .block-title {
  padding-right: 55px;
  padding-left: 0;
}

.arctica-icon-block .block-icon {
  position: absolute;
  top: 0;
  left: 0;
}

.arctica-icon-block-right .block-icon {
  left: auto;
  right: 0;
}

.arctica-xsmall {
  font-size: 75%;
  line-height: 1.3em;
}

.arctica-small {
  font-size: 90%;
  line-height: 1.3em;
}

.arctica-large {
  font-size: 125%;
  line-height: 1.3em;
}

.arctica-xlarge {
  font-size: 150%;
  line-height: 1.3em;
}

.arctica-xxlarge {
  font-size: 200%;
  line-height: 1.3em;
}

.arctica-xxxlarge {
  font-size: 230%;
  line-height: 1.3em;
}

.arctica-bold .content {
  font-weight: bold;
}

.arctica-italic .content {
  font-style: italic;
}

.arctica-underlined .content {
  text-decoration: underline;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.float-none {
  float: none;
}
