/* $Id$ */

#header {
  background-color: #FA909E;
  background-image: none;
}

a {
  color: #992C60;
}

a:hover {
  background: url('/sites/all/themes/unicornponies/rainbow.gif');
  padding: 5px;
  color: white;
  font-weight: bold;
}

.sidebar .block {
  background-color: #FDCBC7;
  border: 1px dotted #E65179;
}

#footer-wrapper {
  background: #FDCBC7;
}

body {
  color: #CC1166;
}

#content {
  color: #CC1166;
}

h1, 
h2 {
  color: #CC1166;
}

#overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}