div.vertical-tabs .vertical-tabs-panes .collapsible legend {
  display: block;
}

div.vertical-tabs .vertical-tabs-panes .collapsible .fieldset-legend {
  margin: 0;
  position: relative;
}

td.template-field-operations {
  width: 100px;
}
