.word {
  list-style-image:url('images/generic_text.png');
}
.excel {
  list-style-image:url('images/page_white_excel.png');  
}
.drawing {
  list-style-image:url('images/picture.png');
}
.presentation {
  list-style-image:url('images/page_white_powerpoint.png');
}