$button-color: $color-1;
$button-background-color: $color-7;
$button-radius: 3px;

@mixin cloudy-button($color: $button-color, $background-color: $button-background-color, $radius: $button-radius) {
  @include button($color, $background-color, $radius);
  
  border-bottom: 5px solid darken($background-color, 10%);
  
  &:hover, &:focus, &:active {
    border-color: $color-1;
  }
}
