/* Additional facts, usually below a teaser - example: jobs, resume. */
%style-facts {
  font-size: 0.95em;
  color: $color-10;
}

/* Display a list of divs inline, separated by a customizable delimiter. */
@mixin inline-separated($delimiter: ", ") {
  display: inline;

  &:not(:first-child) {
    &:before {
      content: $delimiter;
    }
  }
}

/* Allows to place an icon to the left of an a-tag. */
%icon-holder {
   display: inline-block;
   height: 30px;

   background-repeat: no-repeat;
   background-color: transparent;
   background-position: 0 50%;

   @include transition(background-image $transition-time-default linear);

 /* use with @include cloudy-sprite(your-icon); */
 }

%icon-left {
  @extend %icon-holder;
   line-height: 30px;
   padding-left: 32px;
 }

 %icon-only {
  @extend %icon-holder;
  width: 30px;
  color: transparent !important;
  overflow: hidden;
}

