<div ng-controller="ControllerRestWS as c" class="ngapp-example">
  <p ng-if="c.endpoint">Using <code>drupalServices</code> factory to GET {{ c.data.length }} nodes from <a href="{{ c.endpoint }}" target="_blank">{{ c.endpoint }}</a></p>
  <p>
    <button type="button" style="margin-right: 3px;"
      ng-repeat="row in c.tags"
      ng-class="{true: 'btn btn-xs btn-default', false: 'btn btn-xs btn-warning'}[!row.active]"
      ng-click="row.active = !row.active; c.doFilter(row.tid);">
        {{ row.name }}
        <span ng-if="!row.active" class="glyphicon glyphicon-play" aria-hidden="true"></span>
        <span ng-if="row.active" class="glyphicon glyphicon-pause" aria-hidden="true"></span>
    </button>
  </p>
  <div class="row" ng-repeat="row in c.data">
    <div style="border-bottom:solid 1px #e7e7e7; padding: 5px 15px;">
      <a href="{{ row.url }}">{{ row.title }}</a>
    </div>
  </div>
</div>
