/**
 *  @file
 *  Masonry Blocks Styles
 */
.page-masonry
  .region-content
    background: none
    border: none
    padding: 0
  .view-masonry
    .view-content
      overflow: hidden
      .views-row
        margin: 0
        width: 100%
        cursor: pointer
        +breakpoint($mobile)
          width: 50%
        +breakpoint($desk)
          width: 33%
        article
          background-color: $background-masonry-article
          border: 1px solid $border-masonry-article
          border-bottom-width: 3px
          padding: 5px 20px 20px 20px
          margin: 0 15px 30px 0
          position: relative
          +box-shadow(7px 0px 10px -9px $shadow-masonry-article)
          +transition(border-bottom .2s ease-in-out .2s)
          .title
            margin-bottom: 5px
            text-align: center
            &:hover
              text-decoration: underline
          .close
            display: none
          .field-type-image
            float: none
            text-align: center
            border-top: 3px solid $border-image-masonry
            img
              +filter(grayscale(50%))
              +transition(all .2s ease-in-out .2s)
          &:hover
            border-bottom: 3px solid $border-bottom-masonry-article
            +transition(border-bottom .2s ease-in-out)
            .close
              opacity: 1
              display: block
              position: absolute
              top: 0
              right: 0
              background: image-url('close.png') center no-repeat
              background-color: $background-masonry-close
              width: 16px
              height: 16px
              padding: 11px
              cursor: pointer
              @extend .hide-modern
              +transition(all .3s)
              &:hover
                background-color: $background-masonry-close-hover
                +transition(all .3s)
            .field-type-image
              img
                +filter(grayscale(0%))
                +transition(all .2s ease-in-out)
          .links
            li
              margin: 4px 0
              display: block
              &.comment_forbidden
                font-size: 14px
                margin-top: 15px
                text-align: center
                border-top: 1px solid $border-masonry-forbidden
                padding-top: 5px
              > a
                display: block