@CHARSET "ISO-8859-1";
.views-view-grid .views-col {
	float: left;
}
.views-view-grid.cols-1 .views-col {
	width: 100%;
}
.views-view-grid.cols-2 .views-col {
	width: 50%;
}
.views-view-grid.cols-3 .views-col {
	width: 33.33%;
}
.views-view-grid.cols-4 .views-col {
	width: 25%;
}
.views-view-grid.cols-5 .views-col {
	width: 20%;
}
#change_skin_menu_wrapper {
	background: url(../images/colorswitcher.png) no-repeat 100% 0;
	left: -61px;
	padding-right: 37px;
	position: fixed;
	top: 25%;
	z-index: 500;
}
#change_skin_menu_wrapper .container {
	border: 1px solid #cdcccc;
	border-left: 0;
	margin: 0;
	width: auto;
}
#change_skin_menu_wrapper ul {
	background-color: #ececec;
	border: 1px solid #fff;
	float: none;
	list-style: none;
	margin: 0;
	min-height: 81px;
	overflow: hidden;
	padding: 10px 0 10px 10px;
	width: 49px;
}
#change_skin_menu_wrapper ul li {
	float: left;
	margin: 0 7px 7px 0;
	padding: 0;
}
#change_skin_menu_wrapper ul li.active {
}
#change_skin_menu_wrapper ul li a {
	display: block;
	height: 15px;
	text-indent: -999em;
	width: 15px;
}
#change_skin_menu_wrapper a.color-default {
	background: #dbc694;
}
#change_skin_menu_wrapper a.color-red {
	background: #c7421a;
}
#change_skin_menu_wrapper a.color-grey {
	background: #242323;
}
/* maintenance page */
.maintenance-page {
	background: #e6e6e6;
}
.maintenance-page #page {
	max-width: 960px;
	margin: 0 auto;
	padding: 60px 0 0 0;
	text-align: center;
}
.maintenance-page #header {
	overflow: hidden;
}
.maintenance-page #logo {
	float: none;
	margin: 0 0 10px;
	width: 100% !important;
}
.maintenance-page #name-and-slogan {
	float: none;
}
.maintenance-page #container {
	padding: 40px 0 0 0;
}
