/* FORUM LIST ICONS *********************************************************/
.forum-list-icon-wrapper {
  border-top: none;
  background: transparent;
  background: none;
  background: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  font-family: Helvetica, Arial, Sans-Serif;
  text-decoration: none;
  vertical-align: middle;
  margin: 0;
  width: 20px;
  height: 21px;
  display: block;
}

.forum-list-icon-wrapper span {
  width: 20px;
  height: 21px;
}

tr.even td.forum-list-icon-default .forum-list-icon-wrapper span,
tr.odd td.forum-list-icon-default .forum-list-icon-wrapper span,
.forum-list-icon-legend .forum-list-icon-default {
  background: transparent url(images/topic_list_default.png) no-repeat center center;
}

tr.even td.forum-list-icon-new-posts .forum-list-icon-wrapper span,
tr.odd td.forum-list-icon-new-posts .forum-list-icon-wrapper span,
.forum-list-icon-legend .forum-list-icon-new-posts {
  background: transparent url(images/topic_list_new.png) no-repeat center center;
}

/* TOPIC LIST ICONS *********************************************************/
span.topic-icon {
  width: 20px;
  height: 21px;
}

.topic-icon-default {
  background: transparent url(images/topic_list_default.png) no-repeat center center;
}

.topic-icon-new {
  background: transparent url(images/topic_list_new.png) no-repeat center center;
}

.topic-icon-hot {
  background: transparent url(images/topic_list_hot.png) no-repeat center center;
}

.topic-icon-hot-new {
  background: transparent url(images/topic_list_hot_new.png) no-repeat center center;
}

.topic-icon-sticky {
  background: transparent url(images/topic_list_sticky.png) no-repeat center center;
}

.topic-icon-closed {
  background: transparent url(images/topic_list_closed.png) no-repeat center center;
}

/* TOPIC LIST ICON LEGEND ***************************************************/
.topic-icon-default {
  background: transparent url(images/topic_list_default.png) no-repeat top left;
}

.topic-icon-new {
  background: transparent url(images/topic_list_new.png) no-repeat top left;
}

.topic-icon-hot {
  background: transparent url(images/topic_list_hot.png) no-repeat top left;
}

.topic-icon-hot-new {
  background: transparent url(images/topic_list_hot_new.png) no-repeat top left;
}

.topic-icon-sticky {
  background: transparent url(images/topic_list_sticky.png) no-repeat top left;
}

.topic-icon-closed {
  background: transparent url(images/topic_list_closed.png) no-repeat top left;
}

/* AUTHOR PANE **************************************************************/

.forum-post-panel-sub .author-online {
  background: transparent url(images/ap_user_online.png) no-repeat;
  padding-left: 20px;
  height: 20px;
  width: auto;
  display: block;
}

.forum-post-panel-sub .author-offline {
  background: transparent url(images/ap_user_offline.png) no-repeat;
  padding-left: 20px;
  height: 20px;
  width: auto;
  display: block;
}


/* BUTTONIZED LINKS - GENERAL ***********************************************/
/* Based on http://css-tricks.com/examples/ButtonMaker */

a.af-button-large,
a.af-button-large:link,
a.af-button-large:visited,
a.af-button-small,
a.af-button-small:link,
a.af-button-small:visited,
a.author-pane-link,
a.author-pane-link:link,
a.author-pane-link:visited {
  color: #333333;
  text-decoration: none;
  text-transform: capitalize;
}

.af-button-large,
.af-button-small,
.author-pane-link {
  font-family: museo-sans-1,museo-sans-2,helvetica-neue,helvetica,"Arial",sans-serif;
  background: none;
  background-image: linear-gradient(bottom, rgb(238,238,238) 27%, rgb(252,252,252) 64%);
  background-image: -o-linear-gradient(bottom, rgb(238,238,238) 27%, rgb(252,252,252) 64%);
  background-image: -moz-linear-gradient(bottom, rgb(238,238,238) 27%, rgb(252,252,252) 64%);
  background-image: -webkit-linear-gradient(bottom, rgb(238,238,238) 27%, rgb(252,252,252) 64%);
  background-image: -ms-linear-gradient(bottom, rgb(238,238,238) 27%, rgb(252,252,252) 64%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.27, rgb(238,238,238)), color-stop(0.64, rgb(252,252,252)));
  text-shadow: none;
  box-shadow: none;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  color: #616161;
}

a.af-button-large:hover,
a.af-button-small:hover,
a.author-pane-link:hover {
  background: #EEEEEE;
  color: #616161;
  border-top-color: #EFEFEF;
  background-image: linear-gradient(bottom, rgb(254,254,254) 25%, rgb(238,238,238) 63%);
  background-image: -o-linear-gradient(bottom, rgb(254,254,254) 25%, rgb(238,238,238) 63%);
  background-image: -moz-linear-gradient(bottom, rgb(254,254,254) 25%, rgb(238,238,238) 63%);
  background-image: -webkit-linear-gradient(bottom, rgb(254,254,254) 25%, rgb(238,238,238) 63%);
  background-image: -ms-linear-gradient(bottom, rgb(254,254,254) 25%, rgb(238,238,238) 63%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.25, rgb(254,254,254)), color-stop(0.63, rgb(238,238,238)));
  border: 1px solid #cdcdcd;
}

a.af-button-large:active,
a.af-button-small:active,
a.author-pane-link:active {
  background: #EEEEEE;
  color: #616161;
  border: 1px solid #cdcdcd;
}

.af-button-large span {
  font-size: 1em;
  font-weight: 700;
  color: #5f5f5f;
}

.af-button-small span {
  font-size: 1em;
  font-weight: 700;
  color: #5f5f5f;
}

.author-pane-link span {
  font-size: 12px;
  padding: 0 0 0 22px; /* Last number controls width for image */
  line-height: 22px; /* Approximate height of button */
  margin: 0 7px 0 7px; /* Left and right space outside text & image */
}

/* BUTTONIZED LINKS - INDIVIDUAL BUTTONS ************************************/

.forum-add-forum .af-button-large span {
  background: url(images/add_topic.png) no-repeat center left;
}

.forum-add-poll .af-button-large span {
  background: url(images/add_poll.png) no-repeat center left;
}

/*** Reply/Locked at the top and bottom of individual topics. ***/

/* Reply link */
.topic-reply-allowed .af-button-large span {
  background: url(images/topic_reply.png) no-repeat center left;
}

/* Locked topic (not a link so an extra span is used instead of the "a". */
.topic-reply-locked .af-button-large span {
  background: url(images/topic_locked.png) no-repeat center left;
}

/* Last post */
.last-post-link .af-button-large span {
  background: url(images/topic_last_post.png) no-repeat center left;
}

/* First unread */
.topic-new-post-link .af-button-large span {
  background: url(images/topic_first_unread_post.png) no-repeat center left;
}


/*** Links on the individual posts (nodes and comments). ***/

/* General */
.forum-post-links .af-button-small span {
}

/* Reply */
.comment-add .af-button-small span,
.comment-reply .af-button-small span {
  background: url(images/post_reply.png) no-repeat center left;
}

/* Quote */
.quote .af-button-small span {
  background: url(images/post_quote.png) no-repeat center left;
}

/* Edit */
.comment-edit .af-button-small span,
.post-edit .af-button-small span {
  background: url(images/post_edit.png) no-repeat center left;
}

/* Delete */
.comment-delete .af-button-small span,
.post-delete .af-button-small span {
  background: url(images/post_delete.png) no-repeat center left;
}

/* Jump to top */
.forum-jump-links .af-button-small span {
  background: url(images/topic_top.png) no-repeat center left;
}

/*** AUTHOR PANE ***/

.forum-post-panel-sub .author-contact .author-pane-link span {
  background: transparent url(images/ap_email.png) no-repeat;
}

.forum-post-panel-sub .author-privatemsg .author-pane-link span {
  background: transparent url(images/ap_private_message.png) no-repeat;
}

.forum-post-panel-sub .author-relationship-add-icon.author-pane-link span {
  background: transparent url(images/ap_contact_add.png) no-repeat;
}

.forum-post-panel-sub .author-relationship-remove-icon.author-pane-link {
  background: transparent url(images/ap_contact_remove.png) no-repeat;
}

/**
 * General spacing fixes.
 */
body .forum-node-create-links-top {
  padding-top: 0;
}
body .forum-node-create-links {
  padding-bottom: 1em;
}
