/*
	$Id:$
	Abarre, for Drupal 7
  Marco Tomazzoni aka Tomark
  www.soffix.com
*/

/*------------------------------------
						Reset CSS 
------------------------------------*/

* {
	margin:0;
	padding:0;
}

/*------------------------------------
				Colors for color module
------------------------------------*/

/* text main */
#main{
	color:#545454;
}
/* lighter text main */
#main .node .submitted{
	color:#868686;
}
/* text titles main */
#main h1,
#edit-title,
#user-login-form .form-item label,
#footer #block-menu-2 ul,
#footer #block-menu-2 li, 
#footer #block-menu-2 a{
	color:#747163;
}
/* Links all */
a, a:link, a:visited, #site-slogan{
	color:#d63e03;
}
#main .links li.comment-add a,
#main .links li.comment-comments a,
#main .links li.comment-edit a,
#main .links li.comment-delete a,
#main .links li.comment-reply a{
	background-color:#d63e03;
}
/* Links all hover */
a:hover, a:active{
	color:#8A2A03;
}
#main .links ul li.comment-add a:hover,
#main .links ul li.comment-comments a:hover,
#main .links ul li.comment-edit a:hover,
#main .links ul li.comment-delete a:hover,
#main .links ul li.comment-reply a:hover{
	background-color:#8A2A03;
	text-decoration:none;
}

/* colors sidebar */

/* Text Sidebar */
#sidebar-first .content{
	color:#4f4f4f;
}
/* Links menu Sidebar */
#sidebar-first ul ul li a,
#sidebar-first ul ul ul li a,
#sidebar-first .links li a.active, 
#sidebar-first  .links li a:hover{
	color:#d63e03;
}
/* Links Sidebar hover */
#sidebar-first a:hover,
#sidebar-first ul ul li a:hover, 
#sidebar-first ul ul li a.active,
#sidebar-first ul ul ul li a:hover, 
#sidebar-first ul ul ul li a.active{
	color:#8A2A03;
}
#sidebar-first li a.active,
#sidebar-first h2.title,
#sidebar-first ul li,
#sidebar-first .links li a{ 
	color:#3e3e3e;
}
#sidebar-first tr, #sidebar-first td{
	border-bottom:1px solid #747163;
}


/*******************************************************************
* Color Module: Don't touch                                       *
*******************************************************************/

/*------------------------------------
						General Layout 
------------------------------------*/

body{
	font-family:"trebuchet ms",arial,sans-serif;
	font-size:0.85em;
	background:transparent url(../images/bg.gif) repeat-y;
	min-width: 800px;
	max-width: 1300px;
}
#header{
	position:relative;
	margin:0 80px 10px 330px;
	padding-bottom:10px;
	padding-top:20px;
	border-bottom:1px dotted #D2D2BB;
}
.column {
	float:left;
	position:relative;
}
#main{
	padding:0 80px 0 330px;
}
#content {
	margin-bottom:20px;
  width: 100%;
	min-height:450px;
}
#sidebar-first {
	width:291px;
  right:330px;
	margin-left:-100%;
	text-align:right;
}
#footer{
	height:45px;
	background:transparent url(../images/footer-corner.gif) no-repeat top left;
	clear:both;
	margin:0 80px 0 240px;
}

/*------------------------------------
						Header Design
------------------------------------*/

#header h1 a{
	font-size:1.3em;
	text-decoration: none;
}
#header #logo{
	float:left;
	margin-right:15px;
}
#site-slogan{
	font-size:1.3em;
}
#search-theme-form{
	position:absolute;
	right:10px;
	bottom:5px;
}

/*------------------------------------
						Sidebar Design 
------------------------------------*/

#sidebar-first a{
	text-decoration: none;
}
#sidebar-first h2.title{
	background:transparent url(../images/header-side.gif) repeat top left;
}
#sidebar-first .block{
	margin:10px 0 20px 0;
	padding:0 0 0 15px;
	background:transparent url(../images/block.gif) no-repeat top left;
}
#sidebar-first h2.title{
	margin:6px 7px 0 0;
	float:right;
	font-size:1.2em;
	padding:0 10px 0 15px;
}
#sidebar-first .node{
	padding-bottom:10px;
	border-bottom:1px solid #fff;
	margin-bottom:15px;
}
#sidebar-first .node h2.title{
	float:none;
}
#sidebar-first ul{
	padding:0;
	margin:5px 0 5px 0;
	text-align:right;
}
#sidebar-first ul li {
	list-style:none;
	list-style-image:none;
	padding:0 0 3px;
}
#sidebar-first ul li a{
	background:transparent url(../images/side-li.gif) no-repeat center right;
	padding-right:20px;
	margin-right:-18px;
}
#sidebar-first ul ul li a{
	font-size:0.9em;
}
#sidebar-first ul li a:hover, #sidebar-first ul li a.active{
	background:transparent url(../images/side-li-active.gif) no-repeat center right;
}
#sidebar-first ul li a.active{
	font-weight:bold;
}
#sidebar-first ul ul{
	margin:5px 0;
}
#sidebar-first ul ul ul{
	font-size:0.95em;
	margin-right:20px;
	padding-bottom:10px;
}
#sidebar-first ul ul li a{
	background:transparent url(../images/primary.gif) no-repeat center right;
}
#sidebar-first ul ul li a:hover, #sidebar-first ul ul li a.active{
	background:transparent url(../images/primary-active.gif) no-repeat center right;
}
#sidebar-first ul ul ul li a{
	padding-right:10px;
	background:transparent url(../images/bullet.gif) no-repeat 100% 6px;
}
#sidebar-first ul ul ul li a:hover, #sidebar-first ul ul ul li a.active{
	background:transparent url(../images/bullet.gif) no-repeat 100% 6px;
}

#sidebar-first .block .content{
	clear:right;
	margin:0;
	padding:10px 18px 0 0;
}
#sidebar-first tr.even{
	background-color:transparent;
}

/* Needed because the added time is not a link */
#block-comment-recent ul li {
	background:transparent url(../images/side-li.gif) no-repeat center right;
	padding-right:20px;
	margin-right:-18px;
}
/* Needed because the added time is not a link */
#block-comment-recent ul li a, #block-comment-recent ul li a:active, #block-comment-recent ul li a:hover{
	background:none;
}



/* ----- Primary / Secondary Links --------- */

#sidebar-first .links{
	background:none;
	margin:0;
	padding:0;
}
#sidebar-first .links li{
	display:block;
	background:transparent;
	margin:5px 0;
	padding:0;
}
#sidebar-first .links li a{
	background:transparent url(../images/primary.gif) no-repeat center right;
	font-size:1em;
	font-weight:bold;
	position:static;
	margin-right:0;
	text-transform:capitalize;
}
#sidebar-first .links li a.active, #sidebar-first  .links li a:hover{
	background:transparent url(../images/primary-active.gif) no-repeat center right;
}


/* ----- Navigation --------- */

#sidebar-first #block-system-navigation ul li a{
	left:34px;
}

/* --------- Login ---------- */

#sidebar-first #block-user-login{
	padding:0 0 10px 0px;
}
#user-login-form{
	padding:5px 0;
	text-align:right;
}
#user-login-form .form-item, #user-login-form #edit-submit{
	margin:5px 0 0 10px;
}
#user-login-form .form-item label{
	font-size:0.9em;
	margin-left:40px;
	float:left;
}
#user-login-form .item-list{
	margin-top:10px;
}

/*------------------------------------
						Main Content Design 
------------------------------------*/

div#highlighted{
	color:#a2a198;
}
div#highlighted,
#main .content blockquote{
	border-right:1px solid #deded9;
	border-left:1px solid #deded9;
}
.feed-icon{
	float:right;
}
.breadcrumb {
	padding:0;
	margin:10px 0;
}
#main .links li{
	padding-left:0;
	margin-left:0;
	background: none;
}
#main .content p, #main .node .content{
	font-family:arial,sans-serif;
	line-height:1.55em;
}
#main .content p{
	margin-bottom:10px;
}
#main h1{
	text-transform:capitalize;
}
#main a{
	text-decoration:none;
}
#main a:hover{
	text-decoration:underline;
}
div#highlighted{
	font: italic 110% georgia, times, serif;
	line-height:1.5em;
	padding:20px;
	margin:20px 0;
	background:transparent url(../images/shadow-bottom.gif) repeat-x top left;
}
.content ul, .content ol{
	margin:0 0 20px 20px;
}
#main .content ul ul, #main .content ol ol,
#main .content ul ol, #main .content ol ul{
	margin-bottom:0;
}
dl dt{
	font-weight:bold;
}
dl dd{
	margin-left:10px;
	font-style:italic;
}
#main .content hr{
	border:1px dotted #ccc;
	margin-bottom:10px;
}
#main .content blockquote{
	font-style:italic;
	padding:10px;
	margin:20px 50px;
	background:#fff url(../images/shadow-bottom.gif) repeat-x top left;
}

/*------- blog post and story ----------*/

#main .node{
	margin:0 0 20px 0;
	padding-bottom:30px;
	border-bottom:1px dotted #CCCCCC;
}
#main .node h2 a{
	font-size:120%;
}
#main .node h2 a:hover,
#main .node .links a:hover{
	text-decoration:none;
}
#main .node .submitted{
	display:block;
	font-size:80%;
}
#main .node .links ul,
#main #comments .links ul{
	display:block;
	margin-top:10px;
}
#main .node .links ul li,
#main #comments ul li{
	margin:0 10px 0 0;
}

/*-------------- icons----------- */

#main .links ul li.comment-add a:hover,
#main .links ul li.comment-comments a:hover,
#main .links li.comment-add a,
#main .links li.comment-comments a,
#main .links ul li.comment-edit a:hover,
#main .links li.comment-edit a,
#main .links ul li.comment-delete a:hover,
#main .links li.comment-delete a,
#main .links ul li.comment-reply a:hover,
#main .links li.comment-reply a{
	background-repeat:no-repeat;
	background-position:top left;
}
#main .links ul li.comment-add a:hover,
#main .links ul li.comment-comments a:hover{
	background-image: url(../images/comment.gif);
}
#main .links li.comment-add a,
#main .links li.comment-comments a{
	height:9px;
	padding:0 0 0 13px;
	background-image: url(../images/comment.gif);
}
#main .links ul li.comment-edit a:hover{
	background-image: url(../images/edit.gif);
}
#main .links li.comment-edit a{
	height:9px;
	padding:0 0 0 13px;
	background-image: url(../images/edit.gif);
}
#main .links ul li.comment-delete a:hover{
	background-image: url(../images/delete.gif);
}
#main .links li.comment-delete a{
	height:9px;
	padding:0 0 0 13px;
	background-image: url(../images/delete.gif);
}
#main .links ul li.comment-reply a:hover{
	background-image: url(../images/reply.gif);
}
#main .links li.comment-reply a{
	height:9px;
	padding:0 0 0 13px;
	background-image: url(../images/reply.gif);
}

/*---------- Comments ------------*/
#comments {
margin-left:20px;
}

.submitted{
	color:#989898;
	margin-bottom:10px;
	font-size:80%;
}
.submitted img{
	width:15px;
	margin-right:5px;
}
.comment{
	border-bottom:1px dotted #CCC;
	padding-bottom:15px;
	margin:10px 0 20px;
}
span.new{
	color:#fff;
	margin-right:10px;
	background-color:#c00;
	padding:0 5px;
}

/*---------- interface design ------------*/

#main tr.odd .form-item, #main tr.even .form-item{
	margin:8px 0;
}
.theme-settings-bottom, .profile, .node-form .standard{
	clear:none;
}	
.theme-settings-left, .theme-settings-right{
	float:none;
}
table{
	width:99%;
}
.messages, .status{
	color:#00A400;
}

.node-form textarea{
	width:97%;
	color:#545454;
	font:14px/1.6em arial,sans-serif;
	background:#fff url(../images/shadow-bottom.gif) repeat-x top left;
}

/* Tabs
-------------------------------------------------------------- */

.tabs {
  text-align:right;
  font-size:0;
  height:25px;
  border-bottom:1px solid #DBDBDB;
}

ul.primary {
  display: inline-block;
  padding:0px;
  color:Black;
  text-decoration:none;
  font: normal 12px Arial;
  line-height:25px;
  color:#666;
  border:none;
}

ul.primary li a {
  background-color: #f0f0f2;
  border:1px solid #bfbfc6;
  height: auto;
  margin-right: 0.5em;
  padding: 0 1em;
  text-decoration: none;
  -webkit-border-radius:3px 3px 0px 0px;
  -moz-border-radius:3px 3px 0px 0px;
  -khtml-border-radius:3px 3px 0px 0px;
  border-radius:3px 3px 0px 0px;
}

ul.primary li a:hover {
  background-color: #fff;
  border:1px solid #bfbfc6;
  border-bottom: 1px solid #eee;
}


/* misc */

.node-form .form-item label{
	font-size:12px;
	padding:3px 10px;
	display:table;
	border-top:1px solid #999;
	border-bottom:2px solid #999;
	background-color:#efefef;
}
#edit-title{
	font:bold 22px "trebuchet ms",arial,sans-serif;
	padding:3px 10px;
}
fieldset {
	width:95%;
	background-color:#fff;
}
fieldset.collapsed{
	background-color:transparent;
}
.profile img{
	float:right;
}


/*---------- Forum design ------------*/

tr, td{
	border-bottom:1px solid #ccc;
}
tr.even{
	background-color:#efefef;
}
tr.odd, td.active{
	background-color:transparent;
}
td.menu-disabled {
	background:#FFE2C6;
}
#forum .name a{
	font-size:16px;
	font-weight:bold;
}
#forum td{
	padding:10px;
}
.forum-topic-navigation{
	margin:5px 0;
}


/*------------------------------------
						Footer Design 
------------------------------------*/

#footer .content{
	padding:10px 60px 0 0;
	text-align:center;
	font-size:11px;
	margin:0 0 0 100px;
	color:#878787;
}
#footer #corner{
	height:29px;
	width:29px;
	float:right;
	height:29px;
	background:transparent url(../images/footer-corner2.gif) no-repeat top left;
}
#footer #block-menu-2 h2{
	display:none;
}
#footer #block-menu-2 ul{
	text-align:center;
	font-size:70%;
	margin:0pt 85px;
	padding-top:10px;
}
#footer #block-menu-2 ul ul{
	display:none;
}
#footer #block-menu-2 ul li{
	display:inline;
}
#footer #block-menu-2 li, #footer #block-menu-2 a{
	list-style-image:none;
	list-style:none;
	text-decoration:none;
}
#footer #block-menu-2 a:hover{
	text-decoration:underline;
}