.node-personality-test .form-type-radio {
  margin: 0px;
}
.personality-test-answer .form-radio, .personality-test-answer .description {
  float: left;
}
.personality-test-answer .form-radio {
  margin: -0.8em 0px 2px 20px;
}
.personality-test-answer .form-type-radio .description {
  margin: -1em 0px 0px 10px;
  font-size: 1em;
}
