/* -------------------------------------------------*/
/* Blueimp Specific styles
----------------------------------------------------*/
@media (min-width: 481px) {
  .navigation {
    list-style: none;
    padding: 0;
  }
  .navigation li {
    display: inline-block;
  }
  .navigation li:not(:first-child):before {
    content: '| ';
  }
}

