.ecwid-settings h2 {
	background:url(../images/icon-title.png) no-repeat 0% 50%;
	padding-left: 43px;
	line-height: 32px;
	margin-bottom: 30px;
	margin-left:15px;
}

.pure-form.ecwid-settings fieldset {
	font-size: 14px;
	border: 0px none;
	padding: 0px;
	margin: 0px;
}

.pure-form.ecwid-settings fieldset > :not(legend) {
	margin-left:14px;
}

.pure-form.ecwid-settings .pure-button {
	height: auto;
	line-height: 32px;
	padding: 0px 20px;
	font-size: 14px;
	background-image: none;
	background-color: #f6f6f6;
	font-weight: normal;
	color: #333333;
	border: 1px solid #cccccc;
	border-radius: 3px;
}

.pure-form.ecwid-settings .pure-button-secondary {
	font-weight: bold;
	color: #246fba;
}

.pure-form.ecwid-settings a.pure-button:not(.pure-button-primary):hover {
  border-color: #137ebe;
	color: #137ebe;
	text-decoration: none;
}

.pure-form.ecwid-settings .pure-button.pure-button-primary {
	color: white;
	font-weight: normal;
	border-color: #189DEE;
	background-color: #189DEE;
}

.pure-form.ecwid-settings .pure-button.pure-button-primary:hover {
	border-color: #137ebe;
	background-color: #137ebe;
}

.pure-form.ecwid-settings .link {
	border: 0px none;
	background: transparent;
	box-shadow: none;
}

.pure-control-group.small-input > div {
	display: table-cell;
	vertical-align: middle;
	position: relative;
}

.pure-control-group.small-input .label {
	width: 265px;
	font-weight: bold;
}

.pure-control-group.small-input .input > div {
	width: 45px;
	text-align: center;
	vertical-align: middle;
	z-index: 10;
	position: relative;
	left: 265px;
}

.pure-control-group.small-input .input input {
	margin: 0px auto;
}

.pure-control-group.small-input .label > * {
	position: relative;
	left: -45px;
}

/* 2.8 compatibility for left menu icon */
.wp-menu-image>a>img {
display: none;
}

@media screen and (max-width: 782px) {
	.ecwid-settings {
		width: 100%;
	}
}

.ecwid-settings {
	width: 650px;
}

.ecwid-settings .pure-control-group {
	margin-bottom: 19px;
}

.ecwid-settings legend {
	margin-bottom: 10px;
}

.ecwid-settings hr {
	margin-left: 0px;
	border: 0px none;
	height: 1px;
	background: #e5e5e5;
	margin-bottom: 20px;
}

.pure-form.ecwid-settings .pure-control-group label {
	width: 265px;
	font-weight: bold;
	text-align: left;
	margin-right: 5px;
	display: inline-block;
}

.ecwid-settings.general-settings button {
	position: relative;
	top: 2px;
	padding: 5px 31px 5px 31px;
	margin-left: 5px;
}

.ecwid-settings.general-settings hr {
	margin-bottom: 6px;
}

.ecwid-settings .warning {
	background: #FFF797;
	font-size: 12px;
	padding: 8px 14px 8px 14px;
	font-weight: bold;
	color: #444444;
}

.ecwid-settings.appearance-settings h3 {
	font-size: 12px;
}

.ecwid-settings.appearance-settings input[type=text] {
	font-size: 13px;
	padding: 5px 3px 4px 3px;
	outline-offset: 0px;
}

.ecwid-settings input[type=text].number {
	width: 27px;
	text-align: center;
	position: relative;
}

.ecwid-settings select {
	padding: 5px;
	height: 28px;
}

.ecwid-settings .note.pb-note {
	margin-right: 30px;
	margin-left: 30px;
}

.ecwid-settings.appearance-settings {
	max-width: 650px;
}

.ecwid-settings.appearance-settings .pure-control-group .products-per-page-label {
	padding-top: 5px;
	padding-bottom: 15px;
	display: block;
}

.ecwid-settings.appearance-settings input[type=checkbox] {
	margin-right: 3px;
	margin-left: 7px;
}

.ecwid-pb-view-size {
	display: inline-block;
	position: relative;
	width: 153px;
	height: 153px;
	margin-left: 30px;
	margin-right: 25px;
}

.ecwid-pb-view-size .title {
	margin: 8px;
	width: 110px;
	text-align: center;
}

.ecwid-pb-view-size * {
	transition: background-image .3s, border-color .3s, font-weight .3s;
}


.ecwid-pb-view-size .main-area {
	width: 116px;
	height: 82px;
	border: 2px solid;
  border-color: rgba(30, 140, 190, 0.5);
	border-radius: 2px;
	float: left;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	text-align: center;
}

.ecwid-pb-view-size .main-area svg {
	margin-top: 7px;
}

.ecwid-pb-view-size .main-area path,
.ecwid-pb-view-size .main-area rect {
	fill: #1E8CBE;
}

.ecwid-pb-view-size .fallback-image {
	width: 100px;
	height: 66px;
	background-repeat: no-repeat;
	margin-top:7px;
	margin-left:8px;
}

.ecwid-pb-view-size .grid-image {
	background-image: url(../images/grid.png);
}

.ecwid-pb-view-size .list-image {
	background-image: url(../images/list.png);
}

.ecwid-pb-view-size .table-image {
	background-image: url(../images/table.png);
}

.ecwid-pb-view-size .right {
	height:86px;
	float: right;
	position: relative;
}

.ecwid-pb-view-size .right input
{
	margin-top: 30px;
}

.ecwid-pb-view-size .bottom input
{
	margin-left: 48px;
}

.ecwid-pb-view-size .bottom {
	width: 120px;
	margin-top: 14px;
	position: absolute;
	top: 114px;
}

.ecwid-pb-view-size .ruler {
	position: absolute;
	background: #cccccc;
	z-index: 0;
}

.ecwid-pb-view-size .right .ruler {
	width: 1px;
	height: 100%;
	right: 13px;
}

.ecwid-pb-view-size .bottom .ruler {
	width: 100%;
	height: 1px;
	bottom: 12px;
}

.ecwid-settings.advanced-settings .pure-control-group {
	margin-bottom: 20px;
}

.ecwid-settings.advanced-settings .pure-control-group.last {
	margin-bottom: 0px;
}

.ecwid-settings.advanced-settings input,
.ecwid-settings.advanced-settings select
{
	width: 160px;
	height: 25px;
	margin-right: 15px;
}

.ecwid-settings.advanced-settings .note {
	margin-top: 15px;
}

.ecwid-settings .note.inline-note {
	max-width: 300px;
	margin-left: 15px;
	vertical-align: middle;
}

.general-settings {
	font-size: 14px;
	max-width: 750px;
}

.general-settings .greeting-box {
	height: 141px;
	padding-bottom: 12px;
}

.general-settings .greeting-box .image-container {
	padding-right: 20px;
}

.general-settings .greeting-box > div {
	display: table-cell;
	vertical-align: middle;
}

.general-settings .greeting-box .main-message {
	font-size: 22px;
	font-weight: bold;
	line-height: 22px;
}

.general-settings .greeting-box .secondary-message {
	font-size: 17px;
	padding-top: 13px;
	line-height: 23px;
}

.general-settings ol {
	margin-top: 30px;
	padding-left: 10px;
	list-style-position: inside;
}

.general-settings ol li {
	font-size: 20px;
	margin-bottom: 34px;
	font-weight: bold;
	padding-top: 10px;
}

.general-settings ol li * {
	color: #333333;
	font-size:13px;
	font-weight: normal;
}

.general-settings ol li h4 {
	font-size: 20px;
	font-weight: bold;
	margin: 0px 0px 12px;
	display: inline-block;
}

.general-settings .ecwid-account-buttons .pure-button {
	margin: 5px 17px 5px 0px;
}

.general-settings .ecwid-account-buttons {
	padding: 20px 0px;
	margin-bottom: -5px;
}

.general-settings p.note {
	font-weight: bold;
}

.ecwid-settings .note {
	font-size: 11px;
	color: #A0A0A0;
	display: inline-block;
	line-height: 16px;
}


.general-settings input[type=text] {
	height: 34px;
	font-size: 14px;
}

.general-settings .find-store-id-in-cp {
	line-height: 18px;
	margin-bottom: 15px;
}

.general-settings .find-store-id-in-cp em {
	color: #246fba;
	font-style: normal;
}

.general-settings #ecwid_store_id {
	position: relative;
	top: 2px;
	width: 153px;
}

.general-settings .section {
	line-height: 24px;
	height: 80px;
	display: table;
	vertical-align: middle;
	width: 640px;
}

.general-settings .section.account-section {
	height: 40px;
	margin-bottom: 10px;
}


.general-settings .section .left {
	display: table-cell;
	vertical-align: middle;
}

.general-settings .section .right {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
}

.general-settings .section.small-text {
	line-height: normal;
}


.general-settings .section .left-section {
	float: left;
}

.general-settings .section .main-info {
	font-size: 18px;
}

.general-settings .section .secondary-info {
	font-size: 12px;
	line-height: 20px;
}

.ecwid-settings .note.grayed-links,
.ecwid-settings .note.grayed-links a:not(:hover)
{
	font-size: 11px;
	color: #A0A0A0;
	margin-top:10px;
	margin-bottom: 10px;
}

.ecwid-settings.general-settings .note a {
	text-decoration: underline;
}

#ecwid-shopping-cart-general-page .form-actions {
	display: none;
}

#ecwid_shopping_cart_module_minicart > .ecwid {
	z-index: 200 !important;
}

.ecwid-settings #block-system-help {
	padding-left: 15px;
	margin-bottom: 30px;
}