body.col-2-right #primary-content{width:630px;}
body.col-2-right #sidebar{width:300px;padding-right:10px;}
body.col-3 #primary-content{left:230px;width:480px;}
body.col-3 #sidebar{right:0px;width:220px;padding-right:10px;}
body.col-3 #sidebar2{left:-480px;width:220px;padding-left:10px;}
body.col-2-right.no-sidebars #primary-content{width:940px;}
body.col-2-right.no-sidebars #sidebar{display: 310px;}
body.col-2-left #primary-content{width:630px;left:310px}
body.col-2-left #sidebar2{width:300px;left:-630px;padding-left:10px;}
body.col-1 #primary-content {width:940px;}
