.form-item-voipextension-valid-script-names {
  border: solid 1px black;
  padding: 1em;
  max-width: 90em;
}

.form-item-voipextension-valid-script-names .form-item {
  float: left;
  width: 30em;
}

.form-item-voipextension-valid-script-names .description {
  padding-top: 1em;
  clear: left;
}
