/* -------------------------------------------------------------------
//.markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp .bold a {
	background-image:url(images/bold.png);
}
.markItUp .stoke a {
	background-image:url(images/italic.png);
}
.markItUp .stroke a {
	background-image:url(images/stroke.png);
}

.markItUp .picture a {
	background-image:url(images/picture.png); 
}
.markItUp .link a {
	background-image:url(images/link.png);
}
.markItUp .latex a {
        background-image:url(images/latex.png);
	width:35px;
}

.markItUp .alpha a {
        background-image:url(images/alpha.png);
}

.markItUp .beta a {
        background-image:url(images/beta.png);
}

.markItUp .gamma a {
        background-image:url(images/gamma.png);
}

.markItUp .delta a {
        background-image:url(images/delta.png);
}

.markItUp .epsilon a {
        background-image:url(images/epsilon.png);
}

.markItUp .zeta a {
        background-image:url(images/zeta.png);
}
.markItUp .eta a {
        background-image:url(images/eta.png);
}
.markItUp .theta a {
        background-image:url(images/theta.png);
}
.markItUp .iota a {
        background-image:url(images/iota.png);
}
.markItUp .kappa a {
        background-image:url(images/kappa.png);
}
.markItUp .lambda a {
        background-image:url(images/lambda.png);
}
.markItUp .mu a {
        background-image:url(images/mu.png);
}
.markItUp .nu a {
        background-image:url(images/nu.png);
}
.markItUp .xi a {
        background-image:url(images/xi.png);
}
.markItUp .omicron a {
        background-image:url(images/omicron.png);
}
.markItUp .pi a {
        background-image:url(images/pi.png);
}
.markItUp .rho a {
        background-image:url(images/rho.png);
}
.markItUp .sigma a {
        background-image:url(images/sigma.png);
}
.markItUp .tau a {
        background-image:url(images/tau.png);
}
.markItUp .upsilon a {
        background-image:url(images/upsilon.png);
}
.markItUp .phi a {
        background-image:url(images/phi.png);
}
.markItUp .chi a {
        background-image:url(images/chi.png);
}
.markItUp .psi a {
        background-image:url(images/psi.png);
}
.markItUp .omega a {
        background-image:url(images/omega.png);
}
.markItUp .aleph a {
        background-image:url(images/aleph.png);
}
.markItUp .cGamma a {
        background-image:url(images/cGamma.png);
}
.markItUp .cDelta a {
        background-image:url(images/cDelta.png);
}
.markItUp .cTheta a {
        background-image:url(images/cTheta.png);
}
.markItUp .cLambda a {
        background-image:url(images/cLambda.png);
}
.markItUp .cXi a {
        background-image:url(images/cXi.png);
}
.markItUp .cPi a {
        background-image:url(images/cPi.png);
}
.markItUp .cSigma a {
        background-image:url(images/cSigma.png);
}
.markItUp .cUpsilon a {
        background-image:url(images/cUpsilon.png);
}
.markItUp .cPhi a {
        background-image:url(images/cPhi.png);
}
.markItUp .cPsi a {
        background-image:url(images/cPsi.png);
}
.markItUp .cOmega a {
        background-image:url(images/cOmega.png);
}
.markItUp .int a {
        background-image:url(images/int.png);
}
.markItUp .iint a {
        background-image:url(images/iint.png);
}
.markItUp .iiint a {
        background-image:url(images/iiint.png);
}
.markItUp .xtothey a {
        background-image:url(images/xtothey.png);
}
.markItUp .xsuby a {
        background-image:url(images/xsuby.png);
}
.markItUp .xdoubleyz a {
        background-image:url(images/xdoubleyz.png);
}
.markItUp .cSigma2 a {
        background-image:url(images/cSigma.png);
}
.markItUp .cPi2 a {
        background-image:url(images/cPi.png);
}
.markItUp .frac a {
        background-image:url(images/frac.png);
}
.markItUp .brace a {
        background-image:url(images/brace.png);
}
.markItUp .parenthesis a {
        background-image:url(images/parenthesis.png);
}
.markItUp .crightarrow a {
        background-image:url(images/crightarrow.png);
}
.markItUp .cleftarrow a {
        background-image:url(images/cleftarrow.png);
}
.markItUp .limit a {
        background-image:url(images/limit.png);
}
.markItUp .abs_val a {
        background-image:url(images/abs_val.png);
}
.markItUp .piecewise a {
        background-image:url(images/piecewise.png);
}
.markItUp .eqnarray a {
        background-image:url(images/eqnarray.png);
}
.markItUp .sqrt a {
        background-image:url(images/sqrt.png);
}
.markItUp .leq a {
        background-image:url(images/leq.png);
}
.markItUp .geq a {
        background-image:url(images/geq.png);
}
.markItUp .less-than a {
        background-image:url(images/less-than.png);
}
.markItUp .sim a {
        background-image:url(images/sim.png);
}
.markItUp .equiv a {
        background-image:url(images/equiv.png);
}
.markItUp .approx a {
        background-image:url(images/approx.png);
}
.markItUp .succ a {
        background-image:url(images/succ.png);
}
.markItUp .succeq a {
        background-image:url(images/succeq.png);
}
.markItUp .prec a {
        background-image:url(images/prec.png);
}
.markItUp .preceq a {
        background-image:url(images/preceq.png);
}
.markItUp .greater-than a {
        background-image:url(images/greater-than.png);
}
.markItUp .dots a {
        background-image:url(images/dots.png);
}
.markItUp .neq a {
        background-image:url(images/neq.png);
}
.markItUp .x-prime a {
        background-image:url(images/x-prime.png);
}
.markItUp .x-prime-prime a {
        background-image:url(images/x-prime-prime.png);
}
.markItUp .x-triple-prime a {
        background-image:url(images/x-triple-prime.png);
}
.markItUp .dot a {
        background-image:url(images/dot.png);
}
.markItUp .ddot a {
        background-image:url(images/ddot.png);
}
.markItUp .hat a {
        background-image:url(images/hat.png);
}
.markItUp .grave a {
        background-image:url(images/grave.png);
}
.markItUp .check a {
        background-image:url(images/check.png);
}
.markItUp .acute a {
        background-image:url(images/acute.png);
}
.markItUp .overset-arrows a {
        background-image:url(images/overset-arrows.png);
}
.markItUp .asterisk a {
        background-image:url(images/asterisk.png);
}
.markItUp .pm a {
        background-image:url(images/pm.png);
}
.markItUp .times a {
        background-image:url(images/times.png);
}
.markItUp .cdot a {
        background-image:url(images/cdot.png);
}
.markItUp .otimes a {
        background-image:url(images/otimes.png);
}
.markItUp .oplus a {
        background-image:url(images/oplus.png);
}
.markItUp .sDownarrow a {
        background-image:url(images/sDownarrow.png);
}
.markItUp .cUparrow a {
        background-image:url(images/cUparrow.png);
}
.markItUp .supdownarrow a {
        background-image:url(images/supdownarrow.png);
}
.markItUp .Updownarrow a {
        background-image:url(images/Updownarrow.png);
}
.markItUp .downarrow a {
        background-image:url(images/downarrow.png);
}
.markItUp .lfloor a {
        background-image:url(images/lfloor.png);
}
.markItUp .rfloor a {
        background-image:url(images/rfloor.png);
}
.markItUp .lceil a {
        background-image:url(images/lceil.png);
}
.markItUp .rceil a {
        background-image:url(images/rceil.png);
}
.markItUp .rangle a {
        background-image:url(images/rangle.png);
}
.markItUp .langle a {
        background-image:url(images/langle.png);
}
.markItUp .langle-rangle a {
        background-image:url(images/langle-rangle.png);
}
.markItUp .uparrow a {
        background-image:url(images/uparrow.png);
}
.markItUp .mathbbn a {
        background-image:url(images/mathbbn.png);
}
.markItUp .vdots a {
        background-image:url(images/vdots.png);
}
.markItUp .partial a {
        background-image:url(images/partial.png);
}
.markItUp .ddots a {
        background-image:url(images/ddots.png);
}
.markItUp .mathbbz a {
        background-image:url(images/mathbbz.png);
}
.markItUp .mathbbq a {
        background-image:url(images/mathbbq.png);
}
.markItUp .mathbbr a {
        background-image:url(images/mathbbr.png);
}
.markItUp .mathbbc a {
        background-image:url(images/mathbbc.png);
}
.markItUp .infty a {
        background-image:url(images/infty.png);
}
.markItUp .pmatrix a {
        background-image:url(images/pmatrix.png);
}
.markItUp .bmatrix a {
        background-image:url(images/bmatrix.png);
}
.markItUp .mathscrf a {
        background-image:url(images/mathscrf.png);
}
.markItUp .cap a {
        background-image:url(images/cap.png);
}
.markItUp .cup a {
        background-image:url(images/cup.png);
}
.markItUp .bigcup a {
        background-image:url(images/bigcup.png);
}
.markItUp .bigcap a {
        background-image:url(images/bigcap.png);
}
.markItUp .permutation a {
        background-image:url(images/permutation.png);
}
.markItUp .combination a {
        background-image:url(images/combination.png);
}
.markItUp .ddx a {
        background-image:url(images/ddx.png);
}
.markItUp .dydx a {
        background-image:url(images/dydx.png);
}
.markItUp .int_lim a {
        background-image:url(images/int_lim.png);
}
.markItUp .small_space a {
        background-image:url(images/small_space.png);
}
.markItUp .medium_space a {
        background-image:url(images/medium_space.png);
}
.markItUp .big_space a {
        background-image:url(images/big_space.png);
}
.markItUp .negative_space a {
        background-image:url(images/negative_space.png);
}
.markItUp .underline a {
        background-image:url(images/underline.png);
}
.markItUp .rightarrow a {
        background-image:url(images/rightarrow.png);
}
.markItUp .leftarrow a {
        background-image:url(images/leftarrow.png);
}
.markItUp .overset_leftarrow a {
        background-image:url(images/overset_leftarrow.png);
}
.markItUp .overset_rightarrow a {
        background-image:url(images/overset_rightarrow.png);
}
.markItUp .overleftarrow a {
        background-image:url(images/overleftarrow.png);
}
.markItUp .overrightarrow a {
        background-image:url(images/overrightarrow.png);
}
.markItUp .bar a {
        background-image:url(images/bar.png);
}
.markItUp .subset a {
        background-image:url(images/subset.png);
}
.markItUp .subseteq a {
        background-image:url(images/subseteq.png);
}
.markItUp .in a {
        background-image:url(images/in.png);
}
.markItUp .notin a {
        background-image:url(images/notin.png);
}
.markItUp .nsubseteq a {
        background-image:url(images/nsubseteq.png);
}
.markItUp .notsubset a {
        background-image:url(images/notsubset.png);
}
.markItUp .cancel a {
        background-image:url(images/cancel.png);
}
.markItUp .forall a {
        background-image:url(images/forall.png);
}
.markItUp .exists a {
        background-image:url(images/exists.png);
}
.markItUp .div a {
        background-image:url(images/div.png);
}

.markItUp  {
	width:521px;
	margin-top:0px;
	margin-left:0px; !important
        float:left;
}

.markItUpCommand .markItUpHeader ul{
  margin-left:0px;
}

.main-inner #content .markItUpEditor {
	font:12px 'Courier New', Courier, monospace;
	padding:0px;
	width:505px;
	height:150px;
	clear:both;
	display:block;
	line-height:18px;
	overflow:auto;
	margin-left:0px;
}
.markItUpFooter {
	width:0%;
}
 
/* first row of buttons */
.markItUpHeader ul li	{
	margin-bottom:3px;margin-right:0px;
}
.markItUpHeader ul li:hover > ul{
 	background-color:#FFF;
}
.markItUpHeader ul .markItUpDropMenu {
	margin-right:20px;
}
.markItUpHeader ul .markItUpDropMenu li {
	margin-right:0px;
}
/* next rows of buttons */
.markItUpHeader ul ul {
	float:left;
	width:110px;
	margin:0px;
	padding:0px;
}
.markItUpHeader ul ul li {
	float:left;
	width:25px;
	margin:0px;
	border-bottom:0px solid #000;
}
  
.markItUpHeader ul a {
	 	margin-left:5px;
}

.markItUpHeader ul ul a {
	width:16px; 
	margin:5px 5px 5px 5px;
}
.markItUpHeader ul ul a:hover  {
  background-color:#FFF;	 
}

.markItUpHeader a:hover {
	background-color:#FFF;
}

.grippie { 
  display:none;
}
