.block_visibility_title {
  position: relative;
}
.block_visibility_title:hover .block_visibility_description {
  display: block;
}
.block_visibility_description {
  background-color: white;
  border: 1px solid grey;
  display: none;
  left: 20px;
  padding: 10px;
  position: absolute;
  top: 1.5em;
  z-index: 10;
}