/**
 * @file
 * Stylesheet for the profile edit screen.
 */

#crm-core-profile-new-form .form-item-entities-crm-core-contact-status,
#crm-core-profile-new-form .form-item-entities-crm-core-contact-bundle,
#crm-core-profile-new-form .form-item-entities-crm-core-activity-status,
#crm-core-profile-new-form .form-item-entities-crm-core-activity-bundle {
  float: left;
  margin-left: 20px;
  width: 45%;
}

#crm-core-profile-entity-crm-core-contact-fields-container,
#edit-entities-crm-core-contact-token,
#crm-core-profile-entity-crm-core-activity-fields-container,
#edit-entities-crm-core-activity-token {
  clear: both;
}

.form-checkboxes.crm-core-profile-entities-fields-container-fields .form-type-checkbox {
  float: left;
  margin-right: 20px;
}

.form-type-checkboxes .description {
  clear: both;
}
