/* Declare variables */
/* Global styles */
body {
  background: #8899cc;
  background: url("../images/background.svg");
  color: #cccccc;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Lobster, serif;
  font-weight: normal;
  margin-top: 0;
  text-shadow: 0 1px 0 black;
}

a {
  border-bottom: 1px solid #666666;
  color: #8899cc;
  text-decoration: none;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
a:visited {
  color: #aa77aa;
}
a:hover {
  border-color: #bb6666;
  color: #bb6666;
}

/* Forms */
input,
button,
textarea,
select,
.pager a {
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: #222222;
  font-size: 14px;
  padding: 7px;
}

select {
  background: #cccccc;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #bbbbbb));
  background-image: -webkit-linear-gradient(#ffffff, #bbbbbb);
  background-image: -moz-linear-gradient(#ffffff, #bbbbbb);
  background-image: -o-linear-gradient(#ffffff, #bbbbbb);
  background-image: linear-gradient(#ffffff, #bbbbbb);
  cursor: pointer;
  padding: 7px 14px;
  text-shadow: 0 1px 0 white;
}

input[type="submit"],
input[type="cancel"],
input[type="button"],
button,
.pager a {
  background: #cccccc;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #bbbbbb));
  background-image: -webkit-linear-gradient(#ffffff, #bbbbbb);
  background-image: -moz-linear-gradient(#ffffff, #bbbbbb);
  background-image: -o-linear-gradient(#ffffff, #bbbbbb);
  background-image: linear-gradient(#ffffff, #bbbbbb);
  cursor: pointer;
  font-weight: bold;
  padding: 7px 14px;
  text-shadow: 0 1px 0 white;
  white-space: nowrap;
}
input[type="submit"]:hover,
input[type="cancel"]:hover,
input[type="button"]:hover,
button:hover,
.pager a:hover {
  background-image: none;
}
input[type="submit"]:active,
input[type="cancel"]:active,
input[type="button"]:active,
button:active,
.pager a:active {
  background-image: none;
  box-shadow: inset 0 0 14px #666666;
}

kbd {
  background: #cccccc;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #bbbbbb));
  background-image: -webkit-linear-gradient(#ffffff, #bbbbbb);
  background-image: -moz-linear-gradient(#ffffff, #bbbbbb);
  background-image: -o-linear-gradient(#ffffff, #bbbbbb);
  background-image: linear-gradient(#ffffff, #bbbbbb);
  -webkit-box-shadow: 1px 2px 0 #666666;
  -moz-box-shadow: 1px 2px 0 #666666;
  box-shadow: 1px 2px 0 #666666;
  font-family: sans-serif;
  font-size: 13px;
  padding: 5px 10px;
  text-shadow: 0 1px 0 white;
}

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 14px;
}

th,
td {
  border-bottom: 1px solid #666666;
  padding: 7px;
}

th {
  background-color: black;
  font-weight: bold;
  text-align: left;
}

/* Drupal overrides */
tr.even,
tr.odd {
  background: none;
}

table.sticky-header {
  background-color: black;
}

/* Code */
pre,
code,
samp {
  background: black;
  border: 1px solid #333333;
  border-radius: 3px;
  overflow: auto;
  padding: 3px 7px;
  word-wrap: normal;
}

/* Indented stuffs */
ul,
dl,
ol {
  padding-left: 21px;
}

li,
dt,
dd {
  margin-bottom: 7px;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 14px;
}

blockquote {
  border-left: 4px solid #88cc88;
  font-style: italic;
  margin-left: 14px;
  padding-left: 14px;
}

blockquote cite,
blockquote em {
  font-weight: bold;
}

img {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  max-width: 100%;
}

/* Whole Page */
#page {
  background: #222222;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 14px;
  -webkit-box-shadow: 0 0 14px black;
  -moz-box-shadow: 0 0 14px black;
  box-shadow: 0 0 14px black;
  margin: 4%;
  overflow: hidden;
  padding: 4%;
}

/* Header */
#skip-link a {
  background: #222222;
  padding: 7px 14px;
}

#home-link {
  border: none;
  float: left;
}

#home-link img {
  float: left;
  margin-right: 14px;
}

#name-and-slogan {
  float: left;
}

#site-slogan {
  color: #cccccc;
  margin: 0;
  text-shadow: 0 1px 0 black;
  white-space: nowrap;
}

#site-name {
  color: #cccccc;
  font-family: Lobster, serif;
  font-size: 35px;
  font-weight: normal;
  margin: 0;
  text-shadow: 0 1px 0 black;
  white-space: nowrap;
}

.region-header {
  float: right;
}

#page-breadcrumb {
  margin-bottom: 14px;
}

/* Content */
.title {
  border-bottom: 1px solid #666666;
}

/* Menu */
#page-menu ul {
  border-bottom: 1px solid #666666;
  clear: both;
  list-style-type: none;
  overflow: hidden;
  padding: 0;
}

#page-menu li {
  margin: 0;
  padding: 0;
}

#page-menu li a {
  border-bottom: 4px solid rgba(0, 0, 0, 0);
  color: #cccccc;
  display: block;
  float: left;
  padding: 7px 14px;
}
#page-menu li a.active {
  border-bottom: 4px solid #8899cc;
  color: #8899cc;
}
#page-menu li a:hover {
  border-bottom: 4px solid #8899cc;
  color: #8899cc;
}

#footer-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#footer-menu ul li {
  border-left: 1px solid #cccccc;
  float: left;
  margin-left: 7px;
  padding-left: 7px;
}
#footer-menu ul li.first {
  border: none;
  margin: 0;
  padding: 0;
}

/* Drupal list overrides */
li a.active {
  color: #cccccc;
}
li a.active:hover {
  color: #bb6666;
}

ul.tabs li {
  line-height: 2;
}

ul.tabs li a {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  color: #222222;
  padding: 7px 14px;
}
ul.tabs li a.active {
  border-bottom: none;
}
ul.tabs li a:hover {
  color: #666666;
}

/* Sidebar */
.block {
  margin-bottom: 14px;
}

.sidebar {
  width: 25%;
}

.region-sidebar-first {
  float: left;
  padding-right: 5%;
}

.region-sidebar-second {
  float: right;
  padding-left: 5%;
}

.one-sidebar #page-main {
  float: left;
  width: 65%;
}

.sidebar-first #page-main {
  margin-left: 30%;
  margin-right: -95%;
}

.two-sidebars .sidebar {
  width: 20%;
}

.two-sidebars #page-main {
  float: left;
  margin-left: 25%;
  margin-right: -80%;
  width: 50%;
}

/* Footer */
#page-footer {
  border-top: 1px solid #666666;
  clear: both;
  padding-top: 14px;
}

.user-picture {
  float: left;
  margin-right: 14px;
}

footer[role="contentinfo"] {
  font-style: italic;
  margin-bottom: 14px;
  overflow: hidden;
}

.item-list .pager {
  margin: 1em;
}
.item-list .pager li {
  display: inline-block;
  margin: 7px 0;
  padding: 0;
}

/* Smaller screens */
@media screen and (max-width: 700px) {
  .region-sidebar-first,
  .region-sidebar-second,
  .one-sidebar #page-main,
  .two-sidebars #page-main {
    float: none;
    margin: 0;
    width: 100%;
  }
}
