.lt-ie8 #content tr.even th,
.lt-ie8 #content tr.even td,
.lt-ie8 #content tr.odd th,
.lt-ie8 #content tr.odd td {
  border-bottom: 1px solid #cccccc;
}

.lt-ie8 ul.primary li a:hover,
.lt-ie8 ul.secondary li a:hover {
  cursor: pointer;
  color: #555555;
  text-decoration: none;
}
