/* Image Editor widget */
span.imageeditor {
  display: block;
}
span.imageeditor > span {
  margin: 2px;
  float: left;
  background: url('images/background.png');
  -moz-border-radius: 4px;
  border-radius: 4px;
}
span.imageeditor > span > span {
  float: left;
  width: 16px;
  height: 16px;
  padding: 4px;
  cursor: pointer;
  opacity: 0.75;
  filter: alpha(opacity=75);
}
span.imageeditor > span > span:hover {
  background-color: Black; /*Black, DimGray, DarkSlateGray, GarkSlateGray*/
  -moz-border-radius: 4px;
  border-radius: 4px;
  opacity: 1.0;
  filter: alpha(opacity=100);
}
