/**
 * Default OM Black Subtheme
 *
 */
 
/* General */
body { font-family: Arial, Helvetica, sans-serif; }
table { border-collapse: separate; }

/* Layout */
.wrapper-outer { background: none #1A1A1A; width: 100%; }
.wrapper-level-2 { width: 100%; margin: 0; }
.wrapper-inner { width: 960px; margin: 0 auto; padding: 0; position: relative; }
.region-inner {}
.block-inner { padding: 10px; }

.region { min-height: 100px; margin-bottom: 5px; }
.region h3 { text-align: left; padding: 5px; font-size: 12px; text-transform: uppercase; color: #999; }
.row { float: none; }

.column { float: left; min-height: 300px; }
.column .wrapper-inner, .column .region-inner { min-height: 298px; }
.columns-1 { width: 100%; }
.columns-2 { width: 50%; }
.columns-3 { width: 33%; }
.columns-3.column-3-2 { width: 34%; }
.columns-4 { width: 25%; }
.columns-5 { width: 20%; }
.column-first {}
.column-last { float: right; }
.column-first.column-last { float: none; }
.clearfix { clear: both; }

/* Header */
#header { background: url(images/header_bg.png) center top repeat-x; height: 160px; }
#header .wrapper-inner { padding: 30px 0; }

#header-block { float: right; }

/* Navigation */
#nav { background: url(images/nav_bg.png) center top repeat-x #000; height: 40px; }
#nav-inner {}

/* Highlighted */
#highlighted { background: url(images/highlighted_wrapper_bg.png) center top repeat; padding: 10px 0; }
#highlighted .block { min-height: 300px; width: 960px; margin: 0 auto; }

#highlighted .block-inner { background: url(images/pattern.jpg) center center repeat; height: 290px; width: 950px; border: 5px solid #666; padding: 0; }
#highlighted .block h3.title { font-size: 2em; color: #fff; padding: 10px 20px; }
#highlighted .block .content { padding: 20px 20px 0; }
#highlighted .block .content p { color: #fff; font-weight: bold; font-size: 1.2em; }
#highlighted .block .content img { float: left; margin-right: 20px; }

/* Breadcrumb */
#breadcrumb { padding: 10px 0; }
.breadcrumb { padding: 10px 0; }

/* Main Menu */
#nav div>ul.menu { height: 40px; }
#nav div>ul.menu>li { height: 40px; }
#nav div>ul.menu>li>a { height: 40px; padding: 0 20px; background: url(images/nav_bg.png) center top repeat-x; line-height: 40px; color: #FFD91E; }
#nav div ul.menu>li:hover>a,
#nav div ul.menu>li.active-trail>a { background-position: 0 -40px; color: #000; }

/* Main Menu Submenu */
#nav div ul.menu ul { top: 40px !important; }
#nav div ul.menu ul li {}
#nav div ul.menu ul li a {}
#nav div ul.menu ul li a:hover {}

/* Search */
#search-box { width: 260px; position: absolute; top: 30px; right: 0; height: 30px; }
#search-box #search { width: 260px; height: 30px; }
#search-box form label { display: none;}
#search-box form .form-item { margin: 0; display: block; height: 30px; width: 260px; position: absolute; top: 0; left: 0; z-index: 100; }
#search-box form .form-item .form-text { background: url(images/search_bg.png) 0 0 no-repeat; width: 205px !important; height: 20px; padding: 5px 40px 5px 15px; border: none; color: #333; }
#search-box form .form-submit { position: absolute; top: 0; right: 0; width: 40px; height: 30px; padding: 30px 0 0; overflow: hidden; border: none; background: none; z-index: 110; }


/* Main */
#middle { padding-top: 10px; }
.two-sidebars #middle {}
.one-sidebar #middle { padding-right: 1%; }
.sidebar-first #middle {}
.sidebar-second #middle {}

#main {}
#main .wrapper-inner { background: url(images/container_bg.png) center top repeat-x #fff; }

#page-title { color: #F00; }
/* Content */
#content .node .content h1 {}
#content .node .content h2 {}
#content .node .content h3 {}
#content .node .content h4 {}
#content .node .content h5 {}
#content .node .content h6 {}
#content .node .content ul {}
#content .node .content ul li {}
#content .node .content ol {}
#content .node .content ol li {}
#content .node .content a {}
#content .node .content p {}
#content .node .content table {}
#content .node .content tr {}
#content .node .content th {}
#content .node .content td {}
#content .node .content img {}

/* Blocks */
.block { -webkit-border-radius: 10px; -moz-border-radius: 10px; -khtml-border-radius: 10px; border-radius: 10px; margin-bottom: 10px; }
.block-inner { border: 1px solid #ccc; background: url(images/container_bg.png) center top repeat-x #fff; -webkit-border-radius: 10px; -moz-border-radius: 10px; -khtml-border-radius: 10px; border-radius: 10px; }

/* OM Sidebars */
#sidebar-first {}
#sidebar-first-inner { padding: 10px; }

#sidebar-second {}
#sidebar-second-inner { padding: 10px; }

#sidebar-first .block h3.title,
#sidebar-second .block h3.title { color: #F60; }

/* Footer */
#footer {}
#footer .block { background: none; border: none; }
#footer .block-inner { background: none; border: none; }

#footer .block .content ul.menu { padding: 0; margin: 0; }
#footer .block .content ul.menu li { padding: 0; margin: 0; list-style: none; list-style-image: none; display: block; float: left; }
#footer .block .content ul.menu li a { padding: 0 10px; margin: 0; display: block; float: left; color: #969599; text-transform: uppercase; font-size: 10px; }


/* Turn-off div backgrounds and borders 
.wrapper-inner { border: 1px solid #fff; }
.region-inner { border: 1px solid #fff; }
.region { background-color: #f2f2f2; } */

/* Turn-off OM Base Theme Credit */
/* #legal { display: none; } */

/* For Adaptive Design */
@media screen and (max-width: 960px) {}
@media screen and (max-width: 800px) {}
@media screen and (max-width: 640px) {}
@media screen and (max-width: 480px) {}






