/* This file will hold styles that are loaded using the same media query as the normal grid. */
.navigation {
  float: right;
}

#zone-branding-wrapper #main-menu li {
  display: inline-block;
  border-right: 1px solid #efefef;
  margin: 0;
  padding: 0;
}

#zone-branding-wrapper #main-menu a {
  color: #696969;
  display: block;
  padding: 5em .5em 1em .5em;
  text-decoration: none;
}

#zone-branding-wrapper #main-menu li.last {
  border: none;
  margin-right: 0;
}

#zone-branding-wrapper #main-menu li:hover, #zone-branding-wrapper #main-menu li:active {
  background-color: #696969;
}

#zone-branding-wrapper #main-menu li:hover a, #zone-branding-wrapper #main-menu li:active a {
  color: white;
}
