#moderation-dropbutton {
  background: #2f88cd;
  background: -moz-linear-gradient(top, #36a2f6 0%, #2f88cd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #36a2f6), color-stop(100%, #2f88cd));
  background: -webkit-linear-gradient(top, #36a2f6 0%, #2f88cd 100%);
  background: -o-linear-gradient(top, #36a2f6 0%, #2f88cd 100%);
  background: -ms-linear-gradient(top, #36a2f6 0%, #2f88cd 100%);
  background: linear-gradient(to bottom, #36a2f6 0%, #2f88cd 100%);
  border: 1px solid #2f88cd;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 1px 2px #cccccc, inset 0 1px 1px #7bb8ef;
  -webkit-box-shadow: 0 1px 2px #cccccc, inset 0 1px 1px #7bb8ef;
  box-shadow: 0 1px 2px #cccccc, inset 0 1px 1px #7bb8ef;
  font: normal 500 16px/16px "Open Sans", Arial, sans-serif;
  margin-left: 1px;
  margin-top: 1px;
  padding: 6px 30px;
  text-decoration: none;
  color: #fff;
  padding: 0;
}

#moderation-dropbutton .ctools-dropbutton, #moderation-dropbutton .ctools-dropbutton input {
  background: none;
  border: 0;
  margin: 0;
  color: white;
  box-shadow: none;
  display: block;
}

#moderation-dropbutton .ctools-dropbutton input {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

#moderation-dropbutton .ctools-dropbutton input:hover {
  background: #359ff2;
  color: #fff;
  text-shadow: 0 -1px 1px #2F88CD;
}

#moderation-dropbutton .ctools-link {
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
