/* $Id$ */

html, body, div, form, fieldset, legend, label, p
{
	margin: 0;
	padding: 0;
}
table
{
	border-collapse: collapse;
	border-spacing: 0;
}
th, td
{
	text-align: left;
	vertical-align: top;
}
h1, h2, h3, h4, h5, h6, th, td, caption { font-weight:normal;}
img { border: 0; }
ul, li{ list-style-type: none; padding:5px 0 0 0; margin:0;}
input[type=submit]{ cursor: pointer; outline:none;}
:focus, :active { outline: none !important; }