/* global showgrid styling
 */

body { background: #eef }

body.showgrid #wrapper { 
  background: url('../images/sg_grid_sub_40.png') center top repeat; 
  background-size: 2.8571429%;
}

.showgrid .sg-1, .showgrid .sg-2, .showgrid .sg-3, .showgrid .sg-4, .showgrid .sg-5, .showgrid .sg-6, .showgrid .sg-7, .showgrid .sg-8, .showgrid .sg-9, .showgrid .sg-10, .showgrid .sg-11, .showgrid .sg-12, .showgrid .sg-13, .showgrid .sg-14, .showgrid .sg-15, .showgrid .sg-16, .showgrid .sg-17, .showgrid .sg-18, .showgrid .sg-19, .showgrid .sg-20, .showgrid .sg-21, .showgrid .sg-22, .showgrid .sg-23, .showgrid .sg-24, .showgrid .sg-25, .showgrid .sg-26, .showgrid .sg-27, .showgrid .sg-28, .showgrid .sg-29, .showgrid .sg-30, .showgrid .sg-31, .showgrid .sg-32, .showgrid .sg-33, .showgrid .sg-34
{
  background: background: #rgba(0,0,0,0.1);
  background: rgba(0,0,0,0.1);
}
.showgrid .sg-35 {
  background: rgba(0,0,0,0.1);
  border: 3px solid #999;
}
.showgrid .clear:before {
  color: rgba(0, 0, 0, 0.1);
  content: '<-- clear -->';
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 2px;
  position:absolute;
  top:-.2em;
  left:0;
}
.showgrid .sg-1:before, .showgrid .sg-2:before, .showgrid .sg-3:before, .showgrid .sg-4:before, .showgrid .sg-5:before, .showgrid .sg-6:before, .showgrid .sg-7:before, .showgrid .sg-8:before, .showgrid .sg-9:before, .showgrid .sg-10:before, .showgrid .sg-11:before, .showgrid .sg-12:before, .showgrid .sg-13:before, .showgrid .sg-14:before, .showgrid .sg-15:before, .showgrid .sg-16:before, .showgrid .sg-17:before, .showgrid .sg-18:before, .showgrid .sg-19:before, .showgrid .sg-20:before, .showgrid .sg-21:before, .showgrid .sg-22:before, .showgrid .sg-23:before, .showgrid .sg-24:before, .showgrid .sg-25:before, .showgrid .sg-26:before, .showgrid .sg-27:before, .showgrid .sg-28:before, .showgrid .sg-29:before, .showgrid .sg-30:before, .showgrid .sg-31:before, .showgrid .sg-32:before, .showgrid .sg-33:before, .showgrid .sg-34:before, .sg-35:before
{
  color: rgba(255, 255, 255, 0.3);
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 2px;
  position:absolute;
  right:0;
  top:0;
}
.sg-1:before {
  content: '1';
}
.sg-2:before {
  content: '2';
}
.sg-3:before {
  content: '3';
}
.sg-4:before {
  content: '4';
}
.sg-5:before {
  content: '5';
}
.sg-6:before {
  content: '6';
}
.sg-7:before {
  content: '7';
}
.sg-8:before {
  content: '8';
}
.sg-9:before {
  content: '9';
}
.sg-10:before {
  content: '10';
}
.sg-11:before {
  content: '11';
}
.sg-12:before {
  content: '12';
}
.sg-13:before {
  content: '13';
}
.sg-14:before {
  content: '14';
}
.sg-15:before {
  content: '15';
}
.sg-16:before {
  content: '16';
}
.sg-17:before {
  content: '17';
}
.sg-18:before {
  content: '18';
}
.sg-19:before {
  content: '19';
}
.sg-20:before {
  content: '20';
}
.sg-21:before {
  content: '21';
}
.sg-22:before {
  content: '22';
}
.sg-23:before {
  content: '23';
}
.sg-24:before {
  content: '24';
}
.sg-25:before {
  content: '25';
}
.sg-26:before {
  content: '26';
}
.sg-27:before {
  content: '27';
}
.sg-28:before {
  content: '28';
}
.sg-29:before {
  content: '29';
}
.sg-30:before {
  content: '30';
}
.sg-31:before {
  content: '31';
}
.sg-32:before {
  content: '32';
}
.sg-33:before {
  content: '33';
}
.sg-34:before {
  content: '34';
}
.sg-35:before {
  content: '35';
}

body:after, body:before {
  background: #ff0;
  color: #c40000;
  content:'Square Grid "show grid" mode';
  display: block;
  font-weight: bold;
}
