.page-examples-asaf-example-api-areas .asaf-area-wrapper {
  border: dashed 1px grey;
  border-radius: 5px;
  padding: 5px;
}

.page-examples-asaf-example-api-areas .area1-wrapper {
  width: 150px;
  float: right;
}

.page-examples-asaf-example-api-areas .area2-wrapper {
  margin-right: 155px;
}