/**
 * Example for a bootstrap-sass theme.
 * You need to have the SASS variables defined in order
 * for this to compile into CSS.
 */

.slv-grid[data-columns]::before {
  display: none;
}

.slv-column { float: left; }

// Two columns on mobiles
@media screen and (max-width: $screen-xs-max) {
  .slv-grid[data-columns]::before {
    content: '2 .slv-column.col-xs-6';
  }
}

// Three columns tablets
@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .slv-grid[data-columns]::before {
    content: '3 .slv-column.col-sm-4';
  }
}

// Four columns on desktops and large-desktops
@media screen and (min-width: $screen-md-min) {
  .slv-grid[data-columns]::before {
    content: '4 .slv-column.col-md-3';
  }
}
