/**
 * @file
 * Drupal styling
 *
 */

/** STYLES / FONTS **/
body {
  font-family: 'Ubuntu';
}

h1,
h2,
h3,
h4,
h5,
h6,
.top-bar-section ul li {
  font-family: 'Merriweather Sans';
}

/*h1, .top-bar .name h1 { font-size: 2.2em; }*/


@media only screen and (max-width: 48em) {
  h1 {
    font-size: 1.375em;
  }

  h2 {
    font-size: 1.25em;
  }

  h3 {
    font-size: 1.125em;
  }

  h4 {
    font-size: 1em;
  }

  h5 {
    font-size: 1em;
  }

  h6 {
    font-size: 0.875em;
  }
}

/** DEFAULT **/
.element-invisible {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
}

/** LINKS STYLE **/
a {
  color: #ad0505;
}
a:hover {
  color: #333333;
}


/* DRUPAL TABS STYLE */
ul.tabs {
  border-bottom: solid 1px #e6e6e6;
  display: block;
  height: 40px;
  list-style: none;
  margin-bottom: 20px;
  padding: 0;
}
ul.tabs li {
  color: #b3b3b3;
  cursor: default;
  display: block;
  float: left;
  font-size: 12px;
  font-weight: normal;
  height: 40px;
  line-height: 40px;
  padding: 0;
  text-transform: uppercase;
  width: auto;
}
ul.tabs li,
ul.tabs li {
  background: none;
  display: block;
  float: left;
  margin: 0;
}
ul.tabs li a,
ul.tabs li a {
  color: #6f6f6f;
  display: block;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  padding: 0px 23.8px;
}
ul.tabs li a:focus,
ul.tabs li a:focus {
  color: #2ba6cb;
  font-weight: bold;
}
ul.tabs li.active,
ul.tabs li.active {
  border-top: 3px solid #ad0505;
  margin-top: -3px;
}
ul.tabs li.active a,
ul.tabs li.active a {
  background: #fff;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  color: #3c3c3c;
  cursor: default;
  font-weight: bold;
}

/** TABS ON SMALLER DISPLAY THEN 550px
@media only screen and (max-width: 35em) {
  ul.tabs { border-bottom: 0; }
  ul.tabs li, ul.tabs li {
    margin-bottom: 15px;
    width: 100%;
    border-top:3px solid gainsboro;
    font-weight: bold;
  }
  ul.tabs li a, ul.tabs li a { color: #6f6f6f; border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6; }

    ul.tabs li.active, ul.tabs li.active {
      border-bottom: 1px solid #e6e6e6;
      border-top: 3px solid #ad0505;
      margin-top: -3px;
    }
  }
  **/

@media only screen and (max-width: 35em) {
  form {
    clear: both;
  }
  .page-user ul.tabs li {
    clear: both;
    width: 100%;
  }
}

div.vertical-tabs.clearfix {
  clear: both;
  margin-top: 15px;
}
ul.vertical-tabs-list li a:active {
  border: none;
}
ul.vertical-tabs-list {
  border-bottom: 1px solid #e6e6e6;
  height: auto;
}


div.vertical-tabs {
  border: 1px solid #ccc;
  margin: 1em 0 1em 15em /* LTR */;
  position: relative /* IE6/7 */;
}
.vertical-tabs ul.vertical-tabs-list {
  border-top: 1px solid #ccc;
  float: left; /* LTR */
  list-style: none;
  list-style-image: none; /* IE6 */
  margin: -1px 0 -1px -15em; /* LTR */
  padding: 0;
  position: relative; /* IE6 */
  width: 15em;
}
.vertical-tabs fieldset.vertical-tabs-pane {
  border: 0;
  margin: 0 !important;
  padding: 1em;
}
fieldset.vertical-tabs-pane legend {
  display: none;
}
fieldset.vertical-tabs-pane fieldset legend {
  display: block;
}

/* Layout of each tab */
.vertical-tabs ul.vertical-tabs-list li {
  background: #eee;
  border: 1px solid #ccc;
  border-top: 0;
  margin: 0;
  min-width: 0; /* IE7 */
  padding: 0;
}
.vertical-tabs ul.vertical-tabs-list li a {
  display: block;
  outline: none;
  padding: 0.5em 0.6em;
  text-decoration: none;
}
.vertical-tabs ul.vertical-tabs-list li a:focus {
  border: 0;
  outline: none;
}
.vertical-tabs ul.vertical-tabs-list li a:focus strong,
.vertical-tabs ul.vertical-tabs-list li a:active strong,
.vertical-tabs ul.vertical-tabs-list li a:hover strong {
  outline: none;
  text-decoration: underline;
}
.vertical-tabs ul.vertical-tabs-list li.selected {
  background-color: #fff;
  border-right-width: 0 /* LTR */;
  outline: none;
}
.vertical-tabs ul.vertical-tabs-list li.selected:focus {
  outline: none;
}
.vertical-tabs ul.vertical-tabs-list .selected strong {
  color: #000;
}
.vertical-tabs ul.vertical-tabs-list .summary {
  display: block;
}
.vertical-tabs ul.vertical-tabs ul.vertical-tabs-list .summary {
  line-height: normal;
  margin-bottom: 0;
}

.vertical-tabs .form-type-textfield input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
* html .vertical-tabs .form-type-textfield,
* html .vertical-tabs .form-textarea-wrapper {
  padding: 10px;
  width: 95% /* IE6 */;
}

.vertical-tabs-panes input,
.vertical-tabs-panes label {
  display: inline;
}

div#edit-actions {
  clear: both;
}


/**  DRUPAL BUTTONS, FORMS, TABLE, LISTS **/
button,
input {
  background: #f2f2f2;
  border: solid 1px #d9d9d9;
  border-radius: 2px;
  color: #333333;
  margin: 10px 10px 10px 0;
  padding: 8px 35px;
}

input.form-file {
  padding: 5px 15px;
}

input.button.form-submit {
  margin: 10px 10px 10px 0;
}

fieldset {
  margin: 10px 0;
}

html.js fieldset.collapsed {
  border: 1px solid #c0c0c0;
}

label {
  color: #4d4d4d;
  cursor: pointer;
  display: block;
  font-size: 0.875em;
  font-weight: bold;
  margin-bottom: 0.1875em;
}

.form-radios,
.form-checkboxes {
  margin-bottom: 10px;
}
.form-type-checkbox,
.form-type-radio {
  clear: both;
}
.form-type-radio label,
input[type="radio"],
input[type="checkbox"] {
  float: left;
}

.form-type-radio label,
.form-type-checkbox label {
  color: #4d4d4d;
  cursor: pointer;
  display: block;
  font-size: 1em;
  font-weight: 500;
  margin: 10px 10px 10px 0;
  padding: 2px;
}

.form-type-checkbox label {
  padding: 10px;
}


input[type="radio"],
input[type="checkbox"] {
  background: white;
  border: solid 1px #cccccc;
  display: inline-block;
  height: 16px;
  position: relative;
  top: 2px;
  width: 16px;
}

select {
  -webkit-box-shadow: none;
  background: -moz-linear-gradient(top, white 0%, #f3f3f3 100%);
  background: -webkit-linear-gradient(top, white 0%, #f3f3f3 100%);
  background: linear-gradient(to bottom, white 0%, #f3f3f3 100%);
  border: solid 1px #cccccc;
  box-shadow: none;
  display: block;
  font-size: 0.875em;
  height: 2.3125em;
  margin-bottom: 1.25em;
  margin-top: 0px;
  padding: 0px;
  position: relative;
  top: 0;
  vertical-align: top;
  width: 100%;
}

select option,
select a {
  color: rgba(0, 0, 0, 0.75);
  cursor: default;
  display: block;
  line-height: 2.25em;
  margin-left: 0.5em;
  margin-right: 2.3125em;
  outline: none;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;
}

select a:focus {
  outline: none;
}

div.description {
  clear: both;
  font-size: 0.75em;
  margin-bottom: 15px;
  margin-top: 10px;
}

textarea {
  height: auto;
}

table {
  width: 100%;
}

ul {
  margin-bottom: 0;
  margin-left: 2em;
}

ul.links.inline,
ul.tabs {
  margin-left: 0;
}
ul.links.inline li {
  float: left;
  list-style-type: none;
  padding-right: 10px;
}
html.js input.form-autocomplete {
  background-position: 100% 10px;
  background-repeat: no-repeat;
}
html.js input.throbbing {
  background-position: 100% -26px;
  background-repeat: no-repeat;
}

.field-type-taxonomy-term-reference {
  clear: both;
  margin-top: 10px;
}

.field-label-inline {
  margin-top: 10px;
  margin-bottom: 10px;
}

.field-label-inline div {
  float: left;
  font-weight: bold;
}
.field-label-inline span {
  float: left;
}
.field-label-inline img {
  float: left;
}
.field-label-above div {
  font-weight: bold;
  padding: 5px 0;
}

.field-type-taxonomy-term-reference a {
  padding-right: 5px;
}

/** DRUPAL MESSAGE **/
.messages {
  -webkit-border-radius: 3px;
  background: #5da423;
  border: solid 1px #457a1a;
  border-radius: 3px;
  color: #ffffff;
  display: block;
  font-size: 0.875em;
  font-weight: bold;
  margin: 10px 10px 10px 0;
  margin-bottom: 1.25em;
  padding: 0.6875em 1.3125em 0.75em 0.6875em;
  position: relative;
}

div.messages.error {
  background: #ad0505;
  border-color: #970b0e;
  color: #ffffff;
}

/** PAGINATION - css for Drupal pager instead of using custom theme function to get right class according to foundation docs **/
.content .item-list {
  padding-bottom: 20px;
}

ul.pager {
  display: block;
  float: left;
  height: 1.5em;
  margin: 0;
  text-align: center;
}
ul.pager li {
  color: #222222;
  display: block;
  display: inline-block;
  float: left;
  float: none;
  font-size: 0.875em;
  height: 1.5em;
  margin-left: 0.3125em;
}
ul.pager li a {
  color: #999999;
  display: block;
  padding: 0.0625em 0.4375em 0.0625em;
}
ul.pager li:hover a,
ul.pager li a:focus {
  background: #e6e6e6;
}
ul.pager li.unavailable a {
  color: #999999;
  cursor: default;
}
ul.pager li.unavailable:hover a,
.pager li.unavailable a:focus {
  background: transparent;
}
ul.pager li.pager-current {
  background: #ad0505;
  color: white;
  cursor: default;
  font-weight: bold;
  padding: 0.0625em 0.4375em 0.0625em;
}
ul.pager li.pager-current a:hover,
.pager li.current a:focus {
  background: #ad0505;
}


/** DRUPAL ICONS REPLACEMENT **/
a.tabledrag-handle .handle {
  height: 25px;
  width: 20px;
}

/** FOUNDATION VS. DRUPAL FIXES **/
.orbit-container ul {
  margin: 0;
}

/** FEED ITEM **/
.feed-item {
  margin-bottom: 25px;
  margin-top: 10px;
}

/** RECENT ITEMS **/
#block-node-recent table {
  border: 0;
}
#block-node-recent .node-author {
  float: right;
}
#block-node-recent .node-author a {
  color: #333333;
}

/** FOOTER **/
footer#footer {
  border-top: 1px solid #ccc;
  padding-top: 10px;
  margin-top: 20px;
}
