/** DEFAULT MAX WIDTH **/
.row {
  max-width: 71.25em;
}

/** TOP BAR STYLE **/
.topline {
  background: #111111;
  height: 45px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  width: 100%;
}

.top-bar {
  margin-bottom: 0;
}

.top-bar-section ul {
  background: #111111;
}

.top-bar .title-area {
  margin-left: 0;
}

.top-bar .name h1,
.top-bar .name h4.subheader {
  float: left;
}

.top-bar .name h4.subheader {
  margin-bottom: 0;
  margin-top: 0.45em;
}

/** REGION STYLES **/
.region-highlighted {
  margin-top: 10px;
}
.region-header {
  margin-top: 15px;
}

/** LOGO **/
#logo h1 {
  margin-bottom: 0;
}

/** TOPBAR / MENU STYLE - MEDIA SCREEN - ONLY DESKTOP  **/

@media only screen and (min-width: 58.75em) {
  .top-bar-section #main-menu li.leaf > a,
  .top-bar-section #main-menu li.has-dropdown > a {
    font-size: 1em;
  }
  .top-bar-section #main-menu li a:hover {
    color: #ad0505;
  }
  .top-bar-section #main-menu li.leaf a.active,
  .top-bar-section #main-menu li.expanded a.active {
    background: #ffffff;
    border-top: 3px solid #ad0505;
    color: #333333;
    height: 45px;
  }
  .top-bar-section #main-menu li.submenu a.active {
    background: #111111;
    border-top: 0;
    color: #ffffff;
    height: auto;
  }

  .top-bar ul.title-area {
    float: right;
    position: static;
  }

}

/** SOCIAL BLOK **/
#social-mundus ul#social-profile {
  margin-bottom: 15px;
}
ul#social-profile.inline-list > li {
  font-size: 1.25em;
  padding-top: 0;
}
#social-mundus ul#social-profile.inline-list > li {
  font-size: 2em;
}
ul#social-profile.inline-list > li a:hover {
  color: #111111;
}
footer ul#social-profile {
  float: right;
}

@media only screen and (max-width: 48em) {
  footer ul#social-profile {
    float: left;
  }
}

/** SEARCH & LOGIN BOX **/
ul#quick-links {
  float: right;
  padding-top: 5px;
  list-style-type: none;
  width: 100%;
}
.top-bar ul#quick-links li.search,
.top-bar ul#quick-links li.login,
.top-bar ul#quick-links li.social {
  display: inline;
  font-size: 20px;
}
.top-bar ul#quick-links li.social {
  margin-left: 10px;
  margin-right: 10px;
}
.reveal-modal {
  z-index: 999;
}

/** FIX button on login form **/
@media only screen and (min-width: 58.75em) {
  #login-mundus input.button.small {
    padding-top: 0;
  }
}

@media only screen and (max-width: 58.75em) {
  /** SOCIAL PROFILE MENU **/
  ul#social-profile.inline-list {
    padding-top: 10px;
  }
  ul#quick-links {
    float: left;
    padding-top: 10px;
    margin-left: 0;
  }
  .top-bar ul#quick-links li.search,
  .top-bar ul#quick-links li.login,
  .top-bar ul#quick-links li.social {
    font-size: 1em;
  }
  .top-bar {
    position: static;
  }
  .top-bar .title-area {
    position: static;
  }
  .top-bar .toggle-topbar.menu-icon {
    top: 20px;
  }
}

@media only screen and (max-width: 25em) {
  .top-bar ul#quick-links li.search,
  .top-bar ul#quick-links li.login,
  .top-bar ul#quick-links li.social {
    font-size: 0.875em;
    font-weight: normal;
  }
  .top-bar ul#quick-links li.social {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media only screen and (min-width: 30em) {
  .region-sidebar-first {
    margin-top: 30px;
  }

}

/** SIDEBAR/ BLOCK STYLE  header & fonts**/
.block h2,
.block h3 {
  border-bottom: 1px solid #ccc;
  font-size: 1.8em;
  font-weight: normal;
  margin: 0 0 10px;
}
.region-sidebar-first {
  background: #fff;
  border-top: 0;
}
aside#sidebar-first h2,
aside#sidebar-first h3 {
  border-bottom: 1px solid #ccc;
  font-size: 1.8em;
  font-weight: normal;
  margin: 0 0 10px;
  padding: 0;
}
.sidebar-first block {
  font-size: 1em;
}
.block .more-link {
  float: right;
}
.block {
  margin-bottom: 15px;
}
/** DEFUALT TEASER STYLE **/
.node-teaser {
  clear: both;
  margin-bottom: 30px;
}
.node-teaser .field-type-text-with-summary p {
  margin-bottom: 0;
}
.node-teaser footer {
  font-style: italic;
}
.node-teaser .submitted,
.node-teaser ul.links.inline {
  font-size: .875em;
  line-height: 1;
  margin-top: 5px;
}
/** FRONTPAGE STYLE TEASER  - on smaller screen then 480px frontpage teaser have simple look, not same as on desktop/tablet resolution**/
@media only screen and (min-width: 30em) {
  .node-teaser header {
    position: absolute;
    z-index: 100;
  }
  .node-teaser header h1 {
    line-height: 1.2;
    margin-right: 20px;
    margin-top: 20px;
  }
  .node-teaser header h1 a {
    background: #ffffff;
    color: #333333;
  }
  .node-poll header,
  .node-blog header {
    position: relative;
  }
  .node-poll header h1,
  .node-blog header h1 {
    line-height: 1.2;
    margin-right: 0;
    margin-top: 0;
  }
  .node-poll header h1 a,
  .node-blog header h1 a {
    background: none;
    color: #333333;
  }
  /** FRONPAGE SLIDESHOW SETTINGS **/
  .orbit-container .orbit-slides-container > * h1.orbit-caption {
    font-size: 2.2em;
  }
}

.front ol.orbit-bullets {
  display: none;
}

/** READER'S CHOICE **/

ol.readers-choice {
  counter-reset: li;
  list-style: none;
  margin-bottom: 2em;
  margin-left: 2em;
  padding: 0;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.readers-choice a {
  -webkit-transition: all .3s ease-out;
  -webkit-border-radius: .3em;
  -o-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -moz-border-radius: .3em;
  background: #222;
  border-radius: .3em;
  color: #fff;
  display: block;
  margin: 2em 0;
  padding: .4em .4em .4em 2em;
  position: relative;
  text-decoration: none;
  transition: all .3s ease-out;
}

.readers-choice a:hover {
  background: #eee;
  color: #222;
}

.readers-choice a:hover:before {
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  transform: rotate(360deg);
}

.readers-choice a:before {
  -webkit-transition: all .3s ease-out;
  -webkit-border-radius: 2em;
  -o-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -moz-border-radius: 2em;
  background: #ad0505;
  border: .1em solid #fff;
  border-radius: 2em;
  content: counter(li);
  counter-increment: li;
  font-size: 2em;
  font-weight: bold;
  height: 2em;
  left: -1.3em;
  line-height: 2em;
  margin-top: -1em;
  position: absolute;
  text-align: center;
  top: 50%;
  transition: all .3s ease-out;
  width: 2em;
}


/** NODE STYLE  taxonomy,  author, footer**/

.field-type-taxonomy-term-reference .field-item {
  display: inline;
  padding-right: 5px;
}

.field-type-taxonomy-term-reference .field-label,
.field-type-taxonomy-term-reference .field-items {
  display: inline;
}

.node .submitted,
.node ul.links.inline {
  line-height: 1;
}

.page-node- .region-content footer {
  clear: both;
  margin-bottom: 20px;
  margin-top: 10px;
}


/**  DEFAULT IMAGE CAPTION FOR NODES **/

.page-node- figure {
  position: relative;
}
.page-node- figcaption {
  background: #000;
  bottom: 5px;
  height: 30px;
  opacity: 0.3;
  padding: 20px 10px;
  position: absolute;
  width: 780px;
}
.page-node- figcaption p {
  bottom: 0;
  color: #eee;
  margin: 0;
  padding: 20px 10px;
  position: absolute;
  width: 780px;
}

/** DEFUALT IMAGE GALLERY  STYLE**/

figure ul {
  list-style-type: none;
  margin: 0;
}
ul.clearing-thumbs {
  margin: 0;
}
ul.clearing-thumbs li {
  list-style-type: none;
  margin: 0;
}


/** DEFAULT COMMENTS STYLE **/

.comment h2.title {
  margin-bottom: 1em;
}
.comment div.user-picture img {
  margin-right: 10px;
}
.comment {
  display: table;
  margin-bottom: 20px;
  vertical-align: top;
  width: 100%;
}
.comment .profile_comment {
  border-top: 3px solid #d3d7d9;
  display: table-cell;
  overflow: hidden;
  vertical-align: top;
  width: 20%;
}
.comment .profile_comment img {
  border: 1px solid #d3d7d9;
  margin: 0;
}
.comment .profile_comment .username {
  white-space: nowrap;
}
.comment .comment-submitted p {
  margin-bottom: 5px;
}
.comment .comment-submitted .comment-time {
  font-size: .75em;
}
.comment .comment-submitted .comment-permalink {
  font-size: .75em;
  text-transform: lowercase;
}

.comment .comment-text {
  border-top: 1px solid #d3d7d9;
  display: table-cell;
  padding: 0 25px 10px 35px;
  position: relative;
  vertical-align: top;
  width: 80%;
}
#comments .indented {
  margin-left: 40px;
}
.comment .comment-text .comment-arrow {
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}
.comment ul.links.inline {
  float: right;
}


/** DEFAULT POLL STYLE **/

.poll span.percent {
  float: right;
}
.block .poll .title {
  padding-bottom: 10px;
}


/** ADVERTISING **/

@media only screen and (min-width:71.25em) {

  #banner {
    height: 90px;
    width: 728px;
  }

}

/** FONT ADJUSTMENT**/
@media only screen and (max-width: 50em) {
  .orbit-container .orbit-slides-container > * h1.orbit-caption,
  aside#sidebar-first  h2,
  aside#sidebar-first  h3,
  .block h2,
  .block h3 {
    font-size: 1.375em;
  }
}


/** colorbox module fix button **/
button#cboxNext,
button#cboxPrevious,
button#cboxClose,
button#cboxSlideshow {
  margin: 0;
  padding: 0;
  border: 0;
}

/** slideshow **/
.orbit-container .orbit-slides-container > * .orbit-caption a {
  color: #ffffff;
}


/** MOBILE VIEW - REMOVE ALL STUFF WHICH JUST NOT FIT TO SMALLER SCREEN **/
@media only screen and (max-width: 40em) {
  /** remove breadcrumb active title from mobile, too little space for everything **/
  .breadcrumbs li.current {
    display: none;
  }

}

/** SOCIAL ICONS - regarding conflict with general icons, it's needed to make
separate class for several icons **/
/* global foundicon styles */

[class*="foundicon-social-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
}

[class*="foundicon-social-"]:before {
  font-family: "SocialFoundicons";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}

.foundicon-social-rss:before {
  content: "\f002";
}

.foundicon-social-facebook:before {
  content: "\f003";
}

.foundicon-social-twitter:before {
  content: "\f004";
}
.foundicon-social-linkedin:before {
  content: "\f008";
}

.foundicon-social-google-plus:before {
  content: "\f00d";
}

/** Added error link style **/
.error a {
  color: #333333;
}

/** Adding style for code, pre **/
code,
kbd,
pre,
samp {
  display: block;
  padding: 0.375em 0.875em 0.5625em;
  overflow: hidden;
  margin-left: 0;
  list-style: none;
  border-style: solid;
  border-width: 1px;
  background-color: #f6f6f6;
  border-color: gainsboro;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-weight: normal;
}
