/* slider CSS */

#slider {
	position:relative;
	margin: .5em 0;
	background: none;
	background: -moz-linear-gradient(#fff,#ddd);
	background: -webkit-linear-gradient(#fff,#ddd);
	background: -o-linear-gradient(#fff,#ddd);
	background: -ms-linear-gradient(#fff,#ddd);
	background: linear-gradient(#fff,#ddd);
}
#slider a:active,
#slider a:hover {
	outline: none;
	text-decoration: none;
}
.flex-control-nav {
	margin: 0;
	padding: 0;
}
.slides {
	width: 100%;
	max-width: 90em;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	list-style: none;
}
#slider .slides > li {
	display: none;
	position: relative;
	margin: 0;
}
#slider .slides li:first-child {
	display: list-item;
}
.slides:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.flex-control-nav {
	position:absolute;
	right: 4%;
	bottom: 7%;
	text-align: center;
}
.flex-control-nav li {
	display: inline-block;
	margin: 0 0 0 1em;
	float: left;
}
.flex-control-nav li:first-child {
	margin: 0;
}
.flex-control-nav li a {
	display: block;
	width:1.7em;
	height:1.7em;
	line-height: 1.7em;
	font-weight: bold;
	color: #333;
	background: #e9e9e9;
	cursor: pointer;
	box-shadow: 0 0 3px #999;
	border-radius: 100%
}
.flex-control-nav li a.active,
.flex-control-nav li a:hover {
	background: #bbb;
}
#slider .post {
	padding: 2%;
	margin: 0;
}
#slider .entry-container {
	float: right;
	max-width: 50%;
}
#slider .slide-image {
	max-width: 49%;
	padding: .5%;
	background: #E9E9E9;
}
#slider .entry-header,
#slider .entry-summary {
	width: 40em;
	max-width: 95%;
	margin-left: 5%;
}
#slider .entry-title{
	margin-bottom: 1.2em;
	font-weight: bold;
	font-size: 1.3em;
}


@media screen and (max-width: 48em) {
	#slider .entry-container {
		position: absolute;
		left: 3%;
		bottom: 6%;
	}
	#slider .entry-header,
	#slider .entry-summary {
		margin: 0;
	}
	#slider .entry-title {
		 margin-bottom: .2em;
	}
	#slider .entry-title a {
		display: inline-block;
		padding: 1% 3%;
		background: rgba(255, 255, 255, 0.7);
	}
	#slider .entry-summary,
	#slider .entry-summary p {
		display: none;
	}
	#slider .slide-image {
		float: none;
		display: block;
		max-width: 100%;
		padding: 0;
		margin: 0;
	}
}