/**
 * Common Block
 */
 
/* --- Blocks --- */
.block {
  margin: 0;
}

.block-inner {
  padding: 0;
}

.block-title {
}

.block-content {  
}

#main-content .block-content {
  background: #fff;
  padding: 20px;
}

/* --- Block Lists --- */
.block ul {
}

.block ul li {
  margin: 0 0 0 0.5em;
}

.block ol {
}

.block ol li {
}

/* Block Item list */
.block .item-list ul {
}

.block .item-list ul li {
}

/* Block Links List */
.block ul.links {
}

.block ul.links li {
}

/* Block More Links */
.block .more-link {
  margin-top: 5px;
}

.block .more-link a {
}

/* --- Block Styles--- */
.block-badge {
  position: relative;
}

.block-badge .block-title {
  color: #5A3800;
}

.badge {
  background-image: url(../images/badge.png);
  background-repeat: no-repeat;
  height: 46px;
  position: absolute;
  right: 0;
  top: 0;
  width: 45px;
}

.badge-hot .badge {
  background-position: 0 0;
}

.badge-new	.badge {
  background-position: 0 -46px;
}

.badge-vote .badge {
  background-position: 0 -92px;
}

.badge-top .badge {
  background-position: 0 -138px;
}

/* White Block */
.white-color {
  background: #fff; 
}

.white-color .block-title {
  color: #333 !important;  
}

/* White Block */
.green-color {
  background: #82b23e; 
  border-top: 1px solid #a8d765;
  color: #fff;
}

.green-color .badge {
  top: -1px;
}

.green-color .block-title {
  color: #222 !important; 
}

.green-color .field-content a {
  border-bottom: 1px dotted #fff;
  color: #fff;
  text-decoration: none;
}

.green-color .field-content a:hover,
.green-color .field-content a:active,
.green-color .field-content a:focus {
  border-bottom: 1px dotted #222;
  color: #222
}

.green-color p.readmore a {
  color: #fff;
  border-bottom: 1px solid #a8d765;
}

.green-color p.readmore a:hover,
.green-color p.readmore a:active,
.green-color p.readmore a:focus {
  color: #a8d765;
}

/* White Block */
.grey-color {
  background: #222;
  border-top: 1px solid #333;
  color: #aaa;
}

.grey-color .badge {
  top: -1px;
}

.grey-color .field-content a {
  border-bottom: 1px dotted #444;
  color: #666;
  text-decoration: none;
}

.grey-color .field-content a:hover,
.grey-color .field-content a:active,
.grey-color .field-content a:focus {
  color: #688c37;
}

.grey-color p.readmore a {
  color: #666;
  border-bottom: 1px solid #444;
}

.grey-color p.readmore a:hover,
.grey-color p.readmore a:active,
.grey-color p.readmore a:focus {
  color: #a8d765;
}

.arrow {
  background: url(../images/arrow-4.png) 0 0 no-repeat;
  display: none;
  height: 5px;
  position: absolute;
  left: 30px;
  overflow:hidden;  
  text-indent: -999em;  
  top: 155px;
  width: 10px;
}

#panel-first-wrapper .arrow,
.mass-bottom .arrow {
  display: block;
}

#panel-first-wrapper .arrow {
  left: 0;
  top: 135px;
}

/* --- Custom Block Styles--- */
.block-features {
  border-top: 1px solid #333;
  padding: 1em 0 0 3.75em;
  position:relative;
}

.block-features:first-child {
  border-top: none;
  padding-top: 0.417em;
}

.block-features:first-child .number {
  top: 0.417em;
}

.block-features .number {
  background: url(../images/bg-block-number.png) no-repeat 0 0;
  color: #999;
  display: block;
  font-family: TeXGyreAdventorRegular;
  font-size: 1.167em;
  position: absolute;
  line-height: 30px;
  left: 0;
  text-align: center;
  top: 1em;  
  width: 30px;
}

.block-features a:hover,
.block-features a:focus,
.block-features a:active {
  color: #fff;
  text-decoration: none;
}

.block-features p {
  margin: 0 0 1em 0;
}

/* --- Sidebar Blocks --- */
.sidebar .block {  
}

.sidebar .block-inner {
}

.sidebar .block-title {
  color: #fff;
  font-size: 1em;  
  font-weight: normal;
  margin-bottom: 1em;
  margin-top: 0;  
  text-transform: uppercase; 
}

.texgyreadventor-font .block-title {
  font-family: 'TeXGyreAdventorRegular';
}

.sidebar .block-content {
}

/* First Sidebar Blocks */
#sidebar-first-wrapper .grid-inner {
  margin: 0; 
  padding-right: 10px;
}

#sidebar-first-wrapper .block {
  border-top: 1px solid #222;
  color: #666;
  padding-top: 1.667em;
  margin-bottom: 0.667em;
}

#sidebar-first-wrapper .region-sidebar-first .block:first-child { 
  border-top: none; padding-top: 0; 
}

#sidebar-first-wrapper .block-search { 
  border-top: none; padding-top: 0;
}

#sidebar-first-wrapper .block-inner {
}

#sidebar-first-wrapper .block-title {
}

#sidebar-first-wrapper .block-content {
}

#sidebar-first-wrapper .views-field-changed .field-content {
  color: #333;
}

/* --- News Blocks --- */
#sidebar-first-wrapper .views-row {
  border-bottom: 1px solid #222;
  margin-bottom: 1.25em;
  padding-bottom: 0.417em;
}

#sidebar-first-wrapper .views-row-last {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

/* Second Sidebar Blocks */
#sidebar-second-wrapper .block {
  margin-bottom: .833em;
  padding: 1.667em;
}

#sidebar-second-wrapper .block-inner {
}

#sidebar-second-wrapper .block-title {
}

#sidebar-second-wrapper .block-content {
}

#sidebar-second-wrapper .block-content .readmore {
  margin-bottom: 0;
}

.readmore a {
  border-bottom: 1px solid #e5e5e5;
  color: #aaa;
  text-decoration: none;
}

.readmore a:hover,
.readmore a:active,
.readmore a:focus {
  color: #8EBF49;
  text-decoration: none;
}

/* --- Header Blocks --- */
#header-wrapper .block {
}

/* ---- Footer Blocks --- */
#footer-wrapper .block {
}

/* --- First Panels Blocks --- */
#panel-first-wrapper .block {
}

/* --- Third Panels Blocks --- */
#panel-third-wrapper {
  padding: 30px 0;
}

#panel-third-wrapper .grid-inner {
  border-left: 1px solid #111;
  padding: 0 20px;
}

#panel-third-wrapper .panel-column-first .grid-inner {
  border-left: none;
}

#panel-third-wrapper .tb-copyright {
  color: #333;
  text-align: right;
}

#panel-third-wrapper .block-title {
  color: #fff;
  font-size: 1em;
  font-weight: normal;
  margin: 0 0 1.667em;
  text-transform: uppercase;
}

#panel-third-wrapper .block-content ul {
  border-bottom: 1px solid #111;
  list-style: none;
  margin-left: 0;
}

#panel-third-wrapper .block-content ul.useful-list {
  border-bottom: none;
}

#panel-third-wrapper .block-content ul li {  
  padding-bottom: 1.25em;
  margin-left: 0;
}

#panel-third-wrapper .block-content ul li a {
  background: url(../images/bullet-1.png) no-repeat 0 5px; 
  color: #666; 
  padding-left: 13px;  
}

#panel-third-wrapper .block-content ul li a:hover,
#panel-third-wrapper .block-content ul li a:focus,
#panel-third-wrapper .block-content ul li a:active {
  color: #82b23e;
  text-decoration: none;
}

#panel-third-wrapper .block-content .form-newsletter {
  background: #050505;
  border: 10px solid #111;
  overflow: hidden;
  position:relative;
  height: 30px;
}

#panel-third-wrapper .block-content .form-newsletter fieldset {
  border: none;  
  padding: 0;
  margin: 0;
}

#panel-third-wrapper .block-content .form-newsletter input.form-text {
  background: none;
  border: none;
  color: #666;
  padding: 0 5px 0 5px;
  float:left;
  height: 30px;
  width: 77%;  
}

#panel-third-wrapper .block-content .form-newsletter input.form-text.active {
  background: #fff;
  color: #666;
}

#panel-third-wrapper .block-content .form-newsletter input.form-submit {
  background: #82b23e;
  border: none;
  color: #222;
  cursor: pointer;
  float: none;
  font-size: .833em;
  height: 30px;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  padding: 0;
  text-transform: uppercase;
}

#panel-third-wrapper .block-content .form-newsletter input.form-submit:hover {
  color: #fff;
}

#panel-third-wrapper .block-subject {  
  border-bottom: 1px solid #111;
  margin-bottom: 1.667em;
  padding-bottom: .667em;  
}

/* --- Mass top Blocks --- */
#mass-top .block {
}

#mass-top .block-inner {
  background: url(../images/ico-twitter.png) 20px 20px no-repeat #3da9cd;
  color: #fff;
  padding: 20px 20px 20px 60px;
}

#mass-top .block-title {
  margin-top: 0;
}

#mass-top .block-content p {
  margin: 0 0 0.25em;
}

#mass-top .block-content a {
  border-bottom: 1px solid #56c0e3;
  color: #fff;
}

#mass-top .block-content a:hover,
#mass-top .block-content a:focus,
#mass-top .block-content a:active {
  text-decoration: none;
}

#mass-top .pubdate {
  color: #9ed4e6;
  font-size: 0.917em;
  margin-bottom: 0;
}

/**
 * Specfic Blocks
 */
 
/* --- Menu Block --- */
.block-menu {
  padding: 0 !important;
}

.block-menu ul.menu {
  margin-bottom: 0;
  margin-left: 0;
}

.block-menu ul.menu ul { 
}

/* --- Node Blocks --- */
.block-node .block-content {
}

.block-node table {
  overflow: hidden;
  width: 100%;
}

.block-node tbody {
  border-top: 0;
}

.block-node table tr td {
  border-bottom: 1px dotted #CCC;
}

.block-node table .title-author {
  padding-left: 0;
  padding-right: 0;
}

.block-node table .node-title {
  font-size: 1em;
}

.block-node table .node-title a {
  color: #666;

}

.block-node table .node-title a:hover,
.block-node table .node-title a:active,
.block-node table .node-title a:focus {
  color: #FFF;
}

.block-node table .node-author {
  color: #999;
  font-size: 1em;
}

body.not-logged-in .block-node table td.edit,
body.not-logged-in .block-node table td.delete {
  display: none; /* Hide Edit & Delete TD if not log-in */
}

/* --- Forums Block --- */
.block-forum .item-list ul {
  margin: 0;
  padding: 0;
}

.block-forum .item-list ul li {
}

.block-forum .item-list ul li:first-child {
}

.block-forum .item-list ul li a {
}

.block-forum .item-list ul li a:hover,
.block-forum .item-list ul li a:active,
.block-forum .item-list ul li a:focus {
}

.block-forum .more-link {
}

.block-forum .contextual-links-wrapper {
  display: none; /* Drupal Bug. Temporary hiding this link */
}

/* --- Comment Blocks --- */
.block-comment {
}

/* --- Aggregator Blocks --- */
block-aggregator {
}

.block-aggregator .item-list ul {
  margin: 0;
  padding: 0;
}

.block-aggregator .item-list ul li {
  background-image: none;
  border-bottom: 1px dotted #CCC;
  padding: .5em 0;
}

.block-aggregator .item-list ul li:first-child {
  padding-top: 0;
}

.block-aggregator .item-list ul li a {
  color: #666;
}

.block-aggregator .item-list ul li a:hover,
.block-aggregator .item-list ul li a:active,
.block-aggregator .item-list ul li a:focus {
  background: #333;
  color: #FFF;
  text-decoration: none;
}

/* --- Search Blocks --- */
.block-search {
}

/* Search blocks in header */
#header .block-search .block-inner,
#header .block-search .form-item,
#header #search-block-form {
  margin: 0;
  padding: 0;
}

#header .block-search .container-inline div {
  display: block;
  float: left;
}

#header #search-block-form .form-text {
  background: #FFF;
  border: 1px solid #DDD;
  font-size: 1em;
  height: 28px;
  line-height: 28px;
  padding: 0 12px;
  width: 160px;
}

#header #search-block-form .form-submit {
  background: #DDD;
  border: 0;
  color: #7B7B7B;
  font-size: 1em;
  height: 30px;
  line-height: 30px;
  padding: 0 12px;
  vertical-align: top;
}

#header #search-block-form .form-submit:hover {
  background: #C00;
  color: #FFF;
}

/* --- User Blocks --- */
.block-user {
}

.block-user .form-item {
}

.block-user .form-item label {
  font-size: 92%;
}

.block-user .form-item-name {
}

.block-user .form-item label {
  display: none;
  margin-bottom:3px;
}

.block-user .form-item input {
  background: #000;
  border: none;
  border: 1px solid #222;
  color: #aaa;
  width: 95%;
  padding: 6px;
}

.block-user .form-item input.active {
  background: #fff;
  border: 1px solid #82b23e;
  color: #666;
}

.block-user .form-item-pass {
}

.block-user .form-item-pass input {
}

.block-user span.button input.form-submit {
  background: #333;
  color: #aaa;
  font-size: 0.833em;
  text-transform: uppercase;
}

.block-user span.button input.form-submit:hover {
  background: #8EBF49;
  color: #fff;
}

.block-user .item-list li {
  display: inline-block;
  font-size: 92%;
}

.block-user p {
  margin: 0;
}

#edit-openid-identifier {
  width: 87.5%;
}

/* --- Poll Blocks --- */
.block-poll {
}

.block-poll .poll {
}

.block-poll .title {
  font-weight: bold;
  margin-bottom: 1em;
}

.block-poll .links {
  margin-top: .5em;
}

/* --- Book Blocks --- */
.block-book {
}

/* --- Quicktabs Blocks --- */
.block-quicktabs {
}

.block-quicktabs .block-inner .block-inner {
  margin: 0; /* Prevent extra padding in nested blocks */
  padding: 0;
}

.block-quicktabs .grid-inner {
  margin-left: 0;
}

.block-quicktabs .ui-widget {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
}

.block-quicktabs .ui-widget-content {
  color: #666;
}

#sidebar-second-wrapper .block-quicktabs {
  padding: 0;
}

#sidebar-second-wrapper .block-quicktabs .block {
  margin-bottom: 0;
  padding: 0;
}

/* --- Views Blocks --- */
.block-views {
}

/**
 * Misc.
 */
 
/* Login Block - horizontal (theme setting) basic styles */
.lb-h {
  margin-top: 1px;
  min-width: 320px;
}

.region-header .lb-h {
  float: right;
}

 
.lb-h .block-inner,
.lb-h .block-content {
  background: none;
  padding: 0;
}

.lb-h #user-login-form {
  margin: 0;
}

.lb-h #user-login-form label {
  line-height: 1.2;
}

.lb-h .form-item {
  float: left;
  margin: 0;
}

.lb-h input.form-text {
  margin: 0 3px 0 0;
  width: 110px;
}

.lb-h #edit-actions {
  margin: 0;
}

.lb-h input.form-submit {
  margin: 0;
  position: absolute;
  top: 1.2em;
}

.lb-h .form-required,
.lb-h .item-list {
  display: none;
}

.lb-h h2 {
  display: none;
}

/* Skinr block title alignment */
.ta-l .block-title,
.ta-l .mini-panel-title {
  text-align: left;
}

.ta-r .block-title,
.ta-r .mini-panel-title {
  text-align: right;
}

.ta-c .block-title,
.ta-c .mini-panel-title {
  text-align: center;
}

/* Mini panels */
.mini-panel-title {
  margin: 0 10px;
}

/* Gpanel blocks */
.gpanel .block-inner {
}

.gpanel .block-title {
}

.gpanel .block-content {
}

#main-content .gpanel .block-inner {
}

#main-content .gpanel .block-title {
}

#main-content .gpanel .block-content {
}

/* Block wrapper for Mini Panels */
.block-panels_mini {
}

.block-panels_mini .block-inner {
}

.block-panels_mini .block-content {
}

.block-panels_mini .mini-panel-title {
  margin: 0 10px;
}

.sidebar .views-field-title a:hover, 
.sidebar .views-field-title a:active,
.sidebar .views-field-title a:focus { 
  color: #fff;
  text-decoration: none;
}

/* --- Follow Us Blocks --- */
.block ul.socials {
  list-style: none;
  margin: 0;
}

.block ul.socials li {
  margin: 0 0 0.833em;
}

.block ul.socials li a {
  background: url(../images/ico-socials.png) 0 0 no-repeat;
  color: #666;
  display: block;
  padding: 7px 0 7px 40px;
}

.block ul.socials li a.faceboook {
  background-position: 0 0;
}

.block ul.socials li a.faceboook:hover,
.block ul.socials li a.faceboook:focus,
.block ul.socials li a.faceboook:active {
  background-position: 0 -50px;
}

.block ul.socials li a.twitter {
  background-position: 0 -100px;
}

.block ul.socials li a.twitter:hover,
.block ul.socials li a.twitter:focus,
.block ul.socials li a.twitter:active {
  background-position: 0 -150px;
}

.block ul.socials li a.flickr {
  background-position: 0 -200px;
}

.block ul.socials li a.flickr:hover,
.block ul.socials li a.flickr:focus,
.block ul.socials li a.flickr:active {
  background-position: 0 -250px;
}

.block ul.socials li a:hover,
.block ul.socials li a:focus,
.block ul.socials li a:active {
  color: #82b23e;
  text-decoration: none;
}

/* socials */
#menu-bar-wrapper .container {
  position: relative;
}
#menu-bar-wrapper .block-block { 
  position: absolute; 
  right: 0; 
  top: 10px; 
  z-index: 100; 
}

.socials-topbar {
  list-style: none;
  margin: 0;
}

.block .socials-topbar li {
  display: block;
  float: left;
  margin: 0 0 0 1px;
}

.block .socials-topbar li a {
  background:  url(../images/ico-social.gif) 0 0 no-repeat;
  display: block;
  float:left;
  height: 30px;
  overflow: hidden;
  text-indent: -999em;
  width: 30px;
}

.block .socials-topbar li a.rss {
  background-position: 0 0;
}

.block .socials-topbar li a.rss:hover {
  background-position: 0 -30px;
}

.block .socials-topbar li a.facebook {
  background-position: -30px 0;
}

.block .socials-topbar li a.facebook:hover {
  background-position: -30px -30px;
}

.block .socials-topbar li a.twitter {
  background-position: -60px 0;
}

.block .socials-topbar li a.twitter:hover {
  background-position: -60px -30px;
}