/**
 * IE Compatibility Tweaks
 */
 
/* blocks.css */
.block-user .item-list li {
  display: inline;
  zoom: 1;
}

#user-login-form .item-list li {
  display: block;
}

/* forms.css */
input.form-submit {
  overflow: visible; /* IE Fix */
}

input.form-submit,
a.button {
  padding: 3px 10px;
}

#comment-form .filter-wrapper {
  padding-top: 1em;
}

/* fields.css */
.field-type-taxonomy-term-reference ul li {
  display: inline;
  zoom: 1;
}

#user-login-form .openid-links li, 
#user-login .openid-links li {
  display: none;
}

#search-block-form .form-text { 
  line-height: 29px;
}

#panel-third-wrapper .block-content .form-newsletter input.form-text {
  line-height: 30px !important;
   width: 83%;
}

/* Tips */
.compose-tips table td.type code {
  width: 200px;
}

@media all and (min-width:0) {
   .logged-in #menu-bar-wrapper { margin-top:10px\0/; }  /* IE9 */
}
