/**
  * Responsive Elements
  */
th,
td {
  padding: .3em;
}

/**/
#header {
	text-align: center;
	padding: 15px 0;
}

#logo {
	float: none;	
}

#logo img {
	display: block;
	margin: 0 auto;
}

.region-header {
	float: none;
}

p.contact {
	display: inline-block;
}

/* Navigation */
ul.primary {
  white-space: normal;
}

ul.primary li a {
  display: inline-block;
  white-space: nowrap;
}

ul.primary,
#user-login .form-text {
  width: 100% !important;
}

/*frontpage*/
.view-frontpage .views-view-grid {
	margin-left: 0;
}

.view-frontpage .views-view-grid.cols-2 .views-col {
	float: none;
	margin-top: 20px;
	width: 100%;
}

.view-frontpage .grid-inner {
	margin-left: 0;
}

/* Gallery */
.region-content .view-gallery-page .views-row {
	border-top: 1px solid #e5e5e5;
	float: none;
    margin: 0;
    padding-bottom: 20px;
    padding-top: 20px;	
    text-align: left;
    width: 100%;
}

.region-content .view-gallery-page .views-row:first-child {
	border-top: none;
    padding-top: 0;	
}

.galleryformatter .gallery-slides {
	width: auto !important;
}

.galleryformatter .gallery-thumbs {  
	width: auto !important;
}

.galleryformatter .view-full {  
	left: 40%;
	top: 32%
}

.galleryformatter .prev-slide,
.galleryformatter .next-slide {
	top: 40%; 
}

/*Newsletter*/
.block-newsletter div.form-item {
	width: 64.7%;	
}

.view-client-s-testimonials {
	padding-bottom: 0;	
}

.view-client-s-testimonials .views-field-body {
	padding-right: 160px;
}

.view-client-s-testimonials .views-field-field-author {
	padding-right: 0;
}

/*pager*/
.item-list .pager li {
	margin-right: 0;
}

/*footer*/
.region-footer {
    width: 65%;	
}

/*blog 3*/
.views-field-sharethis {
	width: 110px;	
}

.page-blog-3 .view-Blogs .views-field-field-image {
	float: none;
}

.page-blog-3 .view-Blogs .views-field-title,
.page-blog-3 .view-Blogs .views-field-body,
.page-blog-3 .view-Blogs .views-field-view-node {
	padding-left: 0;
}