.ls_bd_top {
  border-top:2px solid #2B60DE;
}
 
.ls_bd_bottom {
  border-bottom:2px solid #2B60DE;
}
 
.ls_bd_left {
  border-left:2px solid #2B60DE;
}

.ls_bd_right {
  border-right:2px solid #2B60DE;
}

.ls_bd_top_left {
  border-top:2px solid #2B60DE;
  border-left:2px solid #2B60DE;
}

.ls_bd_top_right {
  border-top:2px solid #2B60DE;
  border-right:2px solid #2B60DE;
}

.ls_bd_bottom_left {
  border-bottom:2px solid #2B60DE;
  border-left:2px solid #2B60DE;
}

.ls_bd_bottom_right {
  border-bottom:2px solid #2B60DE;
  border-right:2px solid #2B60DE;
}

.ls_bd_intersect {
  border-bottom:2px solid #2B60DE;
  border-right:1px solid #EDEDED;
}


#edit-surveys-compatibility-table  th {
  text-align:center;
}

td.ls_first_col  {
  border-right:1px solid #EDEDED;
}
.ls_first_row td {
  border-bottom:1px solid #EDEDED;
}