/*
 * @file
 * Styles for the uc_volume_pricing module cart view.
 */
.volume-alert {
  text-align: center;
  border: 1px solid #eedd55;
  border-radius: 10px;
  -moz-border-radius: 10px;
  background-color: #fffce5;
  color: #884400;
  margin: 0 auto;
  padding: 10px;
}
