body { font-size: 15px; font-family: Arial, Helvetica, sans-serif; vertical-align: baseline; margin: 0; padding: 0; border: 0; outline: 0; }

h1 { font-size: 28px; margin: 0px; padding: 1px 0px 10px 0px; }

h2 { font-size: 24px; margin: 0px; padding: 1px 0px 10px 0px; }

h3 { font-size: 20px; margin: 0px; padding: 1px 0px 10px 0px; }

h4 { font-size: 16px; margin: 0px; padding: 1px 0px 10px 0px; }

h5 { margin: 0px; padding: 1px 0px 10px 0px; }

h6 { margin: 0px; padding: 1px 0px 10px 0px; }

p { line-height: 24px; margin: 0px 0px 15px; }

blockquote, blockquote p { line-height: 24px; margin: 0px 0px 15px; }

#site-name { display:block; padding:5px 0 0 0; font-size:22px; }

#slogan { padding:5px 0 0 0;  }

#sidebar .block { padding: 25px 20px; -webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px; display:block; clear:both; }

#sidebar  #block-block-7.block { background:none; padding:0; }

/*- ADVERTISEMENTS ------------------------------------------*/
#sidebar .block .advert { float: left; margin: 0px 10px 20px 0px; padding: 15px; -webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px; }

#sidebar .block .advert.right { margin-right: 0; }

#sidebar .block .advert img { display:block; overflow:hidden; }

div.field-type-taxonomy-term-reference { padding:10px 0 20px 0; }

/*- GLOBAL CLASSES --------------------------------------------------------------------------*/
.no_display { display: none; }

/*- LINKS --------------------------------------------------------------------------*/
a.std_link, a { text-decoration: none; }

/*- GENERAL LAYOUT --------------------------------------------------------------------------*/
#header-container { width: 980px; margin: 30px auto; position: relative; z-index: 2; }

#header { padding: 25px 20px; -webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px; }

#header-left { float:left; width:220px; padding:0 20px 0 0; }

#header-right { float:left; width:700px; }

#feature-area { padding: 60px 0px 30px; margin: 0px 0px -30px; position: relative; top: -60px; position: relative; z-index: 1; }

#feature-area-inside { width: 980px; margin: 0px auto; }

#content-container { width: 980px; margin: auto; }

#sidebar { float: left; width: 330px; }

#content { float: right; width: 600px; }

.no-sidebars #content { width:980px; }

#footer-container { clear: both; padding: 30px 0px 0px; margin: 30px 0px 30px; }

#footer { width: 980px; margin: auto; }

ul.footer-columns { padding: 25px 20px; -webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px; }

.footer-bottom { padding:10px 20px 0 20px; font-size:11px; }

.footer-bottom a { text-decoration:underline; }

#slider { padding: 0px 0px 20px; margin: 0px 0px 30px; }

/*- Main menu -------------------*/
#header-right ul.menu { float: right; margin:0; padding:0; }

#header-right ul.menu li { float: left; position: relative; }

#header-right ul.menu li a { display: block; padding: 7px 14px; font-weight: bold; font-size: 14px; }

#header-right ul.menu li.last a.last { margin: 0; }

ul li.leaf { list-style: none; }


/*- ROUNDED CORNERS ------------------*/
.container-light { padding: 20px; -webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px; }

/*- FEATURE POSTS ----------------------------------------*/
.selected-feature { float: left; width: 680px; }

.selected-feature h4 { padding: 0px 0px 4px; margin: 0px 0px 0px 55px; font-weight: bold; font-size: 11px; }

.selected-feature h2 { padding: 0px 0px 6px; margin: -6px 0px 0px 55px; font-weight: bold; font-size: 22px; }

ul.feature-list { float: right; width: 290px; margin: 40px 0px 0px; padding:0; }

ul.feature-list li { clear: both; margin: 0px 0px 25px; height: 62px; list-style:none; }

ul.feature-list li span.item { float: left; width: 44px; height: 60px; line-height:60px; padding: 0 0px 0px 26px; margin: 0px 10px 0px 0px; display: block; font-size: 40px; font-weight: bold; }

ul.feature-list li h4 { font-weight: bold; font-size: 11px; padding: 0px 0px 2px; }

ul.feature-list li a { float: left; display: block; width: 210px; padding: 0px 0px 6px; line-height: 22px; font-weight: bold; font-size: 15px; margin-top:-4px; }

ul.feature-list li.selected span.item { background-position: right; }

ul.feature-list li:last-child { margin: 0; }

/*- SLIDER ------------------------------------------*/
#slider h2 { font-size: 30px; font-weight: bold; margin: 0px 0px 15px; padding: 0px; }

#slider .slider-block { float: left; width: 230px; margin: 0px 20px 0px 0px; padding: 0; }

#slider .slider-block.last { margin:0; }

#slider .slider-block .container-light { height: 110px; overflow: hidden; }

#slider .slider-block .container-light img { width: 190px; height: 110px; overflow: hidden; }

#slider .slider-block h3 { padding: 10px 10px 0px; }

#slider .slider-block h3 a { margin: 0px; font-weight: bold; font-size: 15px; }

/*- PAGINATION -------------------------------------------*/
.item-list ul li { margin: 0; list-style-position:inside; }

ul.pager { margin-bottom: 30px; }

ul.pager li { float: left; margin: 0px 10px 0px 0px; }

ul.pager li.first { margin: 0 10px 0 0; }

ul.pager li a { display: block; width: 35px; height: 25px; overflow: hidden; text-indent: 0; }

ul.pager li.pager-previous { background-position: 0px -14px !important; padding: 0; }

ul.pager li.pager-previous a { text-indent: -9999px; }

ul.pager li.pager-previous:hover { background-position: 0px -67px !important; }

ul.pager li.pager-item { background-position: -102px -14px !important; padding: 4px 0px 0px; height: 25px; text-indent: 0; text-align: center; font-weight: bold; font-size: 15px; text-indent: 0px; }

ul.pager li.pager-item:hover { background-position: -102px -67px !important; padding: 4px 0px 0px; height: 25px; text-indent: 0; text-align: center; font-weight: bold; font-size: 15px; text-indent: 0px; }

ul.pager li.pager-current { background-position: -45px -1px !important; font-size: 15px; font-weight: bold; height: 30px;
margin-top: -12px; padding: 15px 0 0; text-align: center; text-indent: 0; width: 47px; }

ul.pager li.pager-next { background-position: -147px -14px !important; font-size: 15px; font-weight: bold; height: 20px; padding: 5px 0 0;
text-align: center; text-indent: 0; }

ul.pager li.pager-next a { text-indent: -9999px; }

ul.pager li.pager-next:hover { background-position: -147px -67px !important; }

ul.pager li.pager-last { visibility: hidden; display: none; }

ul.pager li.pager-first { visibility: hidden; display: none; }

/*- PRIMARY LINKS ---------------------------------------------------------------------*/
ul.primary { border: 0px; }

ul.primary li { display: inline-block; list-style-type: none; padding: 0; }

ul.primary li a, ul.primary li.active a { border: 0px; display: block; font-size: 11px; font-weight: bold; margin-bottom: 4px; overflow: hidden; padding:7px 10px; text-align: center; }

/*- NODE CLASSES ---------------------------------------------------------------------------*/
.node .copy p { clear: none; }

.node .copy .links { font-size: 11px; }

.node { margin: 0px 0px 30px; }

h2.title { margin: -6px 0px 0px 55px; padding: 0px 0px 6px; font-weight: bold; font-size: 22px; }

h4.date { padding: 0px 0px 4px; margin: 0px 0px 0px 55px; font-weight: bold; font-size: 11px; }

.node .copy, .page-search #content .content { padding: 20px; -webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px; }

.node .copy .field-name-body { margin-bottom: 15px; }

.node .copy ul.links { float:right; display:block; width:100%; }

.node .copy ul.links li { float: right; padding: 9px 0 0 15px; }

.node .copy ul li.node-readmore { float: left; margin-top: 0; padding: 6px 10px; -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px; }

.node .copy .node-readmore a { font-weight: bold; font-size: 15px; }

/*- COMMENTS --------------------------------------------------------------------------------*/
#comments { clear: both; margin: 30px 0px; }

.comment { display: table !important; margin: 0 0 15px; width: 100%; }

.comment h3 { display: block; margin-bottom: 10px; font-weight: bold; font-size: 14px; }

.comment h3 .comment-date { float: right; padding: 3px 0px 0px; font-weight: lighter; font-size: 10px; }

.comment h3.title { border:none; margin:0; padding:0 0 5px 0; }

.user { display: table-cell; width: 78px; }

.user img { width: 38px; padding: 0; margin-right: 20px; -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px; }

.user a.reply-link { display: block; width: 60px; height: 18px; padding: 7px 0px 0px; margin: 10px 0px 0px; overflow: hidden; text-align: center; font-size: 11px; font-weight: bold; }

.user ul li a { display: block; width: 60px; height: 18px; padding: 7px 0px 0px; overflow: hidden; text-align: center; font-size: 11px; font-weight: bold; margin-bottom: 4px; }

.user .inline li { display: inline-block; list-style-type: none; padding: 0; }

.user-picture a img { margin-bottom: 10px; }

.user a.reply-link:hover { background-position: bottom; }

.comment-node { display: table-cell; margin-bottom: 20px; vertical-align: top; width:100%; }

.comment-content { padding: 20px; -webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px; font-size: 13px; }

.node-section-title { clear: both; font-size: 25px; font-weight: bold; margin-bottom: 20px; border-bottom: 1px dotted #D8EAF9; }

/*- COMMENT-CONTACT FORM--------------------------------------------------------------------------*/
#comment-form .form-item, .contact-form .form-item { width: 600px; height: 50px; padding: 15px 0px; font-size: 20px; padding: 0px; }

#comment-form label, .contact-form label { clear: both; display: block; float: left; font-size: 20px; font-weight: bold; height: 24px; line-height: 25px; 
padding: 13px 22px 13px 8px; text-align: right; width: 115px; }

#comment-form textarea, .contact-form textarea { float:left; width: 462px; padding: 13px 15px 13px 22px; margin:0 0 0 -7px; position: relative; resize: vertical; border: none; font-size: 18px;
-webkit-border-top-right-radius: 7px; -moz-border-radius-topright: 7px; border-top-right-radius: 7px;
-webkit-border-top-left-radius: 7px; -moz-border-radius-topleft: 7px; border-top-left-radius: 7px; }

#comment-form .grippie, .contact-form .grippie { float: right; width: 460px; margin-bottom:20px; }

#comment-form .fieldset-wrapper label { width: 135px; }

#comment-form .form-item .description { font-size: 14px; float: right; }

#comment-form input.form-text, .contact-form input.form-text { border: medium none; border-bottom-right-radius: 7px; border-top-right-radius: 7px; font-size: 18px;
height: 24px; padding: 13px 15px; position: relative; width: 425px; }

#comment-form .fieldset-wrapper input.form-text { width: 405px; }

#comment-form .form-type-select label { width: 115px; padding: 0 15px 0 8px; background: none; }

#comment-form .form-type-radios label { background: none; }

div.form-radios  { display:block; padding:0; overflow:hidden; }

#comment-form .form-item.form-type-radio, .contact-form .form-item.form-type-checkbox { width: 600px; height: 20px; padding: 5px 0px; font-size: 10px; padding: 0px; clear:both; }

#comment-form .form-type-radios label.option, .contact-form .form-type-checkbox label.option { float: none; display:inline-block; padding:0; text-align: left; height: 8px; line-height: 10px; font-size:16px; }

.contact-form .form-item.form-type-checkbox { padding:0 0 0 135px; }

.contact-form .form-type-checkbox label.option { width:200px; background:none; }

#comment-form .form-item-subject { clear:both; }

#comment-form a.username { border: medium none; border-bottom-right-radius: 7px; border-top-right-radius: 7px; float: right;
font-size: 18px; height: 24px; line-height: 23px; padding: 13px 15px; position: relative; width: 425px; }

#comment-form .form-actions, .contact-form .form-actions { padding-left: 137px; display:block; clear:both; }

#comment-form .form-actions input, .contact-form .form-actions input { border: medium none; font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-weight: bold;
height: 46px; margin-right: 15px; padding: 13px 15px; cursor:pointer; 
-webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px; }

#comments fieldset, .comment-form fieldset { border:none; }

/*- SIDE BAR --------------------------------------------------------------------------------*/
#sidebar h2, #sidebar h2 a { font-weight: bold; font-size: 25px; margin: 0px 0px 10px; padding: 0px; }

#sidebar .block { margin-bottom: 20px; }

/*- MENUS --------------------------------------------------------------------------------*/
#sidebar ul.menu, #footer ul.menu { margin:0; padding:0; }

#sidebar ul.menu li, #footer ul.menu li { margin:0; }

#sidebar ul.menu li li, #footer ul.menu li li { margin:0 0 0 10px; }

#sidebar ul.menu li { font-size: 14px; }

#sidebar ul.menu li { padding: 10px 0px; }

#footer ul.menu li { padding: 5px 0px; }

#sidebar ul.menu li.expanded, #footer ul.menu li.expanded, #sidebar ul.menu li.collapsed, #footer ul.menu li.collapsed { list-style:none; }

#sidebar ul.menu li.expanded, #footer ul.menu li.expanded { padding-bottom:0; }

#sidebar ul.menu li.last, #footer ul.menu li.last { border: none; }

/*- SEARCH -----------------------------------*/
#block-search-form input.form-text, #block-user-login input.form-text { -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px; border:none; padding:7px 10px; width:190px; }

#search-form input.form-text { -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px; border:1px solid #e3e3e3; padding:7px 10px; }

#block-search-form input.form-submit, #block-user-login input.form-submit, input.form-submit { font-weight: bold; margin-bottom: 4px; overflow: hidden; padding:7px 10px; text-align: center; cursor:pointer; }

/*- FOOTER ----------------------------------------------------------------------------------*/
ul.footer-columns .block { margin-bottom:20px;  }

ul.footer-columns h2 { font-weight: bold; font-size: 16px; }

ul.footer-columns { font-size:12px; }

ul.footer-columns p { line-height: 20px; }

ul.footer-columns li.column-one, ul.footer-columns li.column-two, ul.footer-columns li.column-three { float: left; margin-right: 20px; width: 300px; margin-bottom: 10px; }

ul.footer-columns li.column-three { margin: 0px 0px; }

ul.footer-columns ul li { padding: 5px 0px; list-style:none; }

ul.footer-columns ul li:last-child { border-bottom: none; }

/*- LISTS ----------------------------------------------------------------------------------*/
ol { list-style-type:decimal; }

ol ol { list-style-type:upper-alpha; }

ol ol ol {list-style-type:lower-alpha; }

li { display:list-item; }

/*- TABLES ----------------------------------------------------------------------------------*/
table { border-collapse: collapse; width:100%; }

table th { font-weight:bold; border:none; }

table td, table th { padding:5px; }

/*- VIDEO IFRAMES ----------------------------------------------------------------------------------*/
iframe { width: 100%; }

#feature-media-container { height:360px; }

.node-teaser iframe { height:316px; }