/* $Id$ */

div#currency_converter .top {
  background: url(images/top.png) no-repeat left top;
  width: 200px;
  height: 6px;
}

div#currency_converter .center {
  background: url(images/center.png) repeat-y left;
  width: 180px;
  padding: 0 10px;
}

div#currency_converter .bottom {
  background: url(images/bottom.png) no-repeat left top;
  width: 200px;
  height: 6px;
}