/*real content here*/
body {
  background-color: [[page_body_background]];
  color:[[page_body_text]];
}

#page-wrapper {
  background-color:[[page_wrapper_background]];
  border-color:[[page_wrapper_border]];
}

.summary {
  color: [[content_summary_text]];
}

a {
  color:[[page_link]];
}
a:hover {
  color:[[page_link_hover]];
}
