
@import "config/_import";				// Add configuration variables & mixins

@import "base/_import";					// Add base styles

@import "rwt_scaffold/_import";			// Add Responsive Web Typography styles

@import "modules/_import";				// Add content module styles



/******** DESIGN *********/
/* styles for overall design */
body {
	background-color: $background-color-body; 
}
.page {
	background-color: $background-color-page;
	color: $text-color;
	@include box-shadow(none);  
}

.utility-bar {
	background-color: $background-color-utility; 

}

.page > header {
	background-color: $background-color-header;
}

.page > nav {
	background-color: $nav-region-background;
}

.page > footer {
	background-color: $background-color-footer;
}

/******* /DESIGN *********/




/******** MODULE *********/
/* styles for modular content sections, including alternate states */




/******* /MODULE *********/

/* ADMIN */
@import "admin/_import";


/* Make sure this is last - helps correct for an orientation scale bug in iOS */

@media screen and (orientation:landscape) and (device-width:320px) and (device-height: 480px) {
	body {
		width: 480px;
	}
}/*/mediaquery*/

