$color_green: #85b023;
$color_blue: #339ed5;
$color_grey: #606060;
$color_white: #FFF;
$color_red: #d36c65;
$color_orange: #f29809;

.get-social-register-form {
  font-family: "Source Sans Pro",sans-serif;
  font-size: 16px;
  color: $color_grey;
  .gs-form-header {
    margin-right: -1px;
    padding-top: 0;
    display: block;
    background: $color_blue;
    position: absolute;
    z-index: 6;
    -webkit-transition: all 200ms;
    transition: all 200ms;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
    height: 50px;
    left: 0;
    right: 0;
    top: 0;
    margin-left: -40px;
    margin-right: -40px;
    #logo-wrapper {
      background: darken($color_blue, 10%);
      background-image: url("../img/getsocial-app-logo.png");
      background-repeat: no-repeat;
      background-position: center center;
      padding: 25px 30px;
      float: left;
      width: 100px;
    }
  }
  #edit-title {
    background: $color_white;
    text-align: center;
    border-bottom: 1px solid #e9e9e9;
    padding: 46px 0;
    position: relative;
    z-index: 1;
    max-width: 860px;
    margin-left: auto !important;
    margin-right: auto !important;
    position: relative;
    label {
      max-width: 860px;
      font-family: "Raleway",sans-serif;
      line-height: 35px;
      display: inline-block;
      margin: 0 auto;
      padding: 0;
      font-size: 30px;
      font-weight: 800;
      + p {
        max-width: 860px;
        margin: 20px auto 0;
        display: block;
        border: none;
        border-radius: 4px;
        padding: 0;
        font-size: 18px;
        font-weight: normal;
      }
    }
  }
  .form-item-url-input {
    padding-top: 30px;
  }
  .form-item {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    label[for=edit-url-input],
    label[for=edit-email-input] {
      display: inline-block;
      color: #fff;
      background: darken($color_blue, 10%);
      padding: 18px 15px 20px 30px !important;
      font-size: 18px;
      font-weight: normal;
      position: absolute;
      width: 60px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      span {
        display: none;
      }
    }
    input {
      padding: 20px 120px 20px;
      border: none;
      font-size: 16px;
      font-weight: normal;
      border-radius: 4px;
    }
  }
  .form-item-insert-key {
    display: none;
    padding-top: 30px;
    label[for=edit-insert-key] {
      padding-bottom: 30px;
    }
    #edit-insert-key {
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 10px 20px 10px;
      color: $color_grey;
      margin-bottom: 15px;
    }
  }
  .submit-save-key {
    display: none;
  }
  #edit-submit {
    display: none;
  }
  .form-button-group {
    background-color: $color_green;
    margin: 0 auto;
    padding: 15px 10px 15px 10px;
    text-align: center;
    width: 250px;
    color: $color_white;
    border-radius: 4px;
    font-size: 20px;
    &:hover {
      background: darken($color_green, 10%);
    }
    a {
      color: $color_white;
      text-decoration: none;
      padding-left: 20px;
      padding: 15px 10px 15px 10px;
    }
    &.loading-create {
      background: darken($color_green, 10%);
      display: none;
    }
    &.success-message {
      display: none;
      width: 600px;
      background: darken($color_green, 10%);
      padding: 10px 10px 0px 30px;
      #success-message {
        display: inline-block;
        padding-left: 30px;
      }
      i {
        vertical-align: top;
        padding-top: 30px;
        font-size: 30px;
      }
      label {
        font-weight: normal;
        text-align: left;
      }
      p {
        font-size: 14px;
        color: lighten($color_green, 10%);
      }
    }
  }
}

.get-social-config-form {
  font-family: "Source Sans Pro",sans-serif;
  font-size: 16px;
  color: $color_grey;
  .gs-form-header {
    margin-right: -1px;
    padding-top: 0;
    display: block;
    background: $color_blue;
    position: absolute;
    z-index: 6;
    -webkit-transition: all 200ms;
    transition: all 200ms;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
    height: 50px;
    left: 0;
    right: 0;
    top: 0;
    margin-left: -40px;
    margin-right: -40px;
    #logo-wrapper {
      background: darken($color_blue, 10%);
      background-image: url("../img/getsocial-app-logo.png");
      background-repeat: no-repeat;
      background-position: center center;
      padding: 25px 30px;
      float: left;
      width: 100px;
    }
  }
  #edit-title {
    background: $color_white !important;
    text-align: center;
    border-bottom: 1px solid #e9e9e9;
    padding: 46px 0;
    position: relative;
    z-index: 1;
    max-width: 860px;
    margin-left: auto !important;
    margin-right: auto !important;
    position: relative;
    label {
      max-width: 860px;
      font-family: "Raleway",sans-serif;
      line-height: 35px;
      display: inline-block;
      margin: 0 auto;
      padding: 0;
      font-size: 30px;
      font-weight: 800;
      color: darken($color_blue, 10%);
      + p {
        max-width: 860px;
        margin: 20px auto 0;
        display: block;
        border: none;
        border-radius: 4px;
        padding: 0;
        font-size: 18px;
        font-weight: normal;
        color: darken($color_blue, 10%);
      }
    }
  }
  #edit-submit {
    display: none;
  }
  .form-button-group {
    background-color: $color_green;
    margin: 0 auto;
    padding: 15px 10px 15px 10px;
    text-align: center;
    width: 250px;
    color: $color_white;
    border-radius: 4px;
    font-size: 20px;
    &:hover {
      background: darken($color_green, 10%);
    }
    a {
      color: $color_white;
      text-decoration: none;
      padding-left: 20px;
      padding: 15px 10px 15px 10px;
    }
    &.loading-create {
      background: darken($color_green, 10%);
      display: none;
    }
    &.success-message {
      display: none;
      width: 600px;
      background: darken($color_green, 10%);
      padding: 10px 10px 0px 30px;
      #success-message {
        display: inline-block;
        padding-left: 30px;
      }
      i {
        vertical-align: top;
        padding-top: 30px;
        font-size: 30px;
      }
      label {
        font-weight: normal;
        text-align: left;
      }
      p {
        font-size: 14px;
        color: lighten($color_green, 10%);
      }
    }
  }
}

#result-info-bar {
  background: transparent;
  visibility: hidden;
  text-align: center;
  padding: 1px 0px 1px 0px;
  line-height: 1px;
  margin-top: 20px;
  border-radius: 2px;
}

#result-info-bar.error {
  color: $color_red;
  background-color: rgba($color_red, 0.3);
}

#result-info-bar .warning {
  color: $color_orange;
  background-color: rgba($color_orange, 0.3);
}

#result-info-bar .success {
  color: $color_green;
  background-color: rgba($color_green, 0.3);
}

#console {
  display: none;
}