#wrapper {
  margin:0px;
  padding:0px;
}

#featured{
	width:700px;
}

.teaser{
	padding:10px;
}
.node  {
display: none;
padding:10px;
}
#menu{
	 
	font-size: 1em;
	width: 65%;
	margin: 20px 0 0 0;
	float: right;
	position: relative;
	z-index: 99;
	color:red;
}
.region-featured p{
	float: left;
	color:#555555;
	width: 27.6596%;
	font-size-adjust: none;
	text-align:justify;
	font-variant: normal;
	font-weight: normal;
	line-height: 1.75em;
}
.region-text-widget{
        color: #888888;
  }
.region-text-widget h2{
  color: #555555;
  font-size: 1.16667em;
  font-weight: bold;
  }
.region-tags h2{
  color: #555555;
  font-size: 1.16667em;
  font-weight: bold;
  }
  .region-calendar h2{
  color: #555555;
  font-size: 1.16667em;
  font-weight: bold;
  }
#header {
	clear: both;
	float: left;
	width: 100%;
	margin: 40px 0 40px 0;
}
#branding {
 float: left;
 width: 35%;
 overflow: hidden;
 font-size:25px;
}
#site-title {
 font-size: 3em;
 line-height: 3em;
 font-weight: bold;
 margin: 0 0 5px 0;
 
 font-size:20px;
 color:black;
}
#site-title a {
	color: black;
	border-bottom: none;
	font-size:20px;
}
#header img { max-width: 100%; }
#site-description {
	font-size: 1.333333333333333em;
	font-weight: normal;
	line-height: 1.5em;
	margin: 0;
	color: #AAAAAA;
	text-transform: none;
	float: left;
	width: 91.48936170212766%;
	clear: both;
}
#branding h2{
	color:#AAAAAA;
	font-size:20px;
}
#branding a{
	color:black;
	font-weight: bold;
	font-family:Arial,serif;
	line-height:1em;
	font-size:40px;
}
.entry-content{
	color:black;
	margin-top:25px;	
	line-height: 1.66675em;
	position:relative;
}
.teaser-title{
	font-size:1.66667em;
	font-weight: bold;
	color:black;
	}

.region-contact-sidebar h2{
  color: #555555;
    font-size: 1.16667em;
    font-weight: bold;
}
.item-list  {
  color: #888888;
  padding-left: 0px;
  //margin-left: -10px;
}
.image{
	margin-top:10px;
	position:relative;
	background: none repeat scroll 0 0 #FFFFFF;
}
#featured-block{
	padding-bottom: 15px;
}
#teaserimg{
	padding-top:10px;
}
.image .teaser-title {
  background: none repeat scroll 0 0 #FFFFFF;
  bottom: 0;
  font-weight: normal;
  margin-bottom: 0;
  opacity:0;
  position: absolute;
  right: 0;
  left: 120px;
  font-size: 14px;
  margin-left: 0;
  color: black;
  padding:10px 15px;
	padding-left: 10px;
  color: black;
}
.image:hover .teaser-title {
	opacity:1;
  cursor:pointer;
}
a{
  color: #64a2d8;
	text-decoration: none;
}

a:focus { outline: none; }
a:hover, a:active { outline: 0; }
.entry-content h1{
	color: #CCCCCC;
	font-size: 1.66667em;
}
.entry-content p{
	color: #555555;
	font-size: 1em;
}
.post-aside h1{
	font-size: 1.6777em;
}
#search-block-form #edit-actions #edit-submit{
	  display:none;
}
#search-block-form #edit-actions #edit-submit--3{
	  display:none;
}
#block-system-main #search-form {
	  display:none;
}
.search-results .node-results .search-result .search-snippet-info p{
  padding-left: 0px;
}
.search-results .search-snippet-info {
  padding-left: 0px;
}
.search-results h3{
  color:#000000;
}
.region-contact-sidebar{}
 
#comment-form .filter-wrapper {
  border-top: 0 none;
  display: none;
  margin: 0;
  padding: 1.5em 0;
}
 #comment-form #edit-preview{
  display:none;
}
#comment-form .form-item .form-type-textarea .form-item-comment-body-und-0-value{
  width:200px;
}
#comment-form .form-textarea-wrapper textarea {
  display: block;
  margin: 0;
  width:500px;
 height:200px;
}
#comment-form .resizable-textarea .grippie {
  display:none;
}
#comments .user-picture{
 width:50px;
 height:50px;
 float:left;
}
#comments .comment-meta {
  color: #AAAAAA;
  font-size: 0.916667em;
  line-height: 1.75em;
  float:left;
}
#comments .username{
  margin-left:12px;
  padding-top:0px;
  margin-top:-20px;
  color: #333333;
  font-size:1.25em;
  font-weight: bold;
  font-size:1.25em;
  margin-right:10px;
}
.comment-add {
  display:none;
}
.comment-text{
  float:left;
  margin-left:96px;
}
.comment_user{
float:left;width:50px;height:50px;
}
#comments .links {
  color: #64a2d8;
  }
.comment-content{
  margin-top:-30px;
  margin-left:-20px;
}
#comment-form  .form-item-mail label{
  margin-top:6px;
  color: #888888;
  font-weight:normal;
  font-size:0.91667em;
  }
#comment-form  .form-item-name label{
  margin-top:6px;
  color: #888888;
  font-weight:normal;
  font-size:0.91667em;
}
#comment-form  .form-item-website label{
  margin-top:6px;
  color: #BBBBBB;
  font-weight:normal;
  font-size:0.91667em;
}
#comment-form  .text-format-wrapper label{
  display:none;
}
#comment-form .username{
  margin-left:0px;
}
.comment-add a{
  display:none;
}
.region-contact-sidebar{
  color: #888888;
  float: left;
  margin-bottom: 26px;
  width: 100%;
  margin-top:-46px;
}
.front .textwidget{
	/*margin-top:60px;*/
}
.form-type-item{
  display: none;
}
.widget-wrap{
  margin-top: 70px;
}
#search-block-form input[type="text"] {
/*margin-top:-72px;*/
}
.toolbar #search-block-form input[type="text"] {
/*margin-top:-39px;*/
/*margin-top:-1076px;*/
}
.node-type-page #search-block-form input[type="text"] {
	/*margin-top:-39px;*/
}

.title{
  color: #333333;
  font-size: 1.66667em;
}
#article .field-items p
{
  margin-top: 15px;
  width:950px;
}
.node-type-page p{
text-align:justify;
/*width:487px;*/	
}
#edit-submit--2{
  display:none;
}
.form-required{
  color: #000000;
}
.comment-wrapper{
  margin-left:2px;
}
.field-name-comment-body p {
  width: 875px;
  margin-left:-14px;
}
#tags{
  width:270px;
}
.prev{
  float:left;
  width:100%;
}
.next{
  float:left;
  width:100%;
}
#tags .field-label {float:left;}
#tags .field-item.even{margin-left:3px;margin-right:3px;float:left;}  
#tags .field-item.odd{float:left;width:auto;}
#article .comment-content p{width:883px;}
#reply-page .attribution .field-items{
background: yellow;
}

.heading{margin-left:-4px;}
.comment-meta ul{
margin-left:0px;
}
.comment-meta ul li{
text-transform:capitalize;
}

.post-aside{
	/* margin-right:150px;*/
	}
#reply-page{
	margin-top:	22px;
	margin-bottom:20px;
}
.field-items p{
	margin-top:15px;
}
.node-type-page .textwidget{
	margin-top:50px;
}
.textwidget{
/*	margin-top:60px;*/
}	
#sidebar-primary{
	margin-top:25px;
}
