/**
 * @file
 * Comment Styling
 */
/* line 9, ../sass/comments.scss */
.comment-wrapper {
  margin: 40px 0 0 0;
  padding: 60px 0 0 0;
  border-top: 1px solid #dfdfdf;
}

/* line 15, ../sass/comments.scss */
.comments {
  /* Wrapper for the list of comments and its title */
}
/* line 16, ../sass/comments.scss */
.comments h2.comment-form {
  /* Heading for the comment form */
  padding: 40px 0 0 0;
  border-top: 1px solid #dfdfdf;
}

/* line 22, ../sass/comments.scss */
.comment {
  /* Wrapper for a single comment */
  padding: 40px 0;
  border-top: 1px solid #dfdfdf;
}
/* line 26, ../sass/comments.scss */
.comment.comment-preview {
  /* Preview of the comment before submitting new or updated comment */
  padding: 20px 0;
  background-color: #ffffea;
  /* Drupal core will use a #ffffea background. See #1110842 */
}
/* line 31, ../sass/comments.scss */
.comment.first {
  /* The first comment in the list of comments */
  margin: 30px 0 0 0;
}
/* line 35, ../sass/comments.scss */
.comment .new {
  /* "New" marker for comments that are new for the current user */
  padding: 0 5px;
  text-transform: uppercase;
  font-weight: normal;
  color: #fff;
  background: #75d675;
}
/* line 43, ../sass/comments.scss */
.comment .submitted {
  /* The "posted by" information */
  margin-top: 0;
  color: #8f8f8f;
}

/* line 49, ../sass/comments.scss */
.indented {
  /* Nested comments are indented */
  margin-left: 30px;
  /* Drupal core uses a 25px left margin */
}

/* line 53, ../sass/comments.scss */
.comment-unpublished {
  /* Unpublished comments */
}
/* line 54, ../sass/comments.scss */
.comment-unpublished p.unpublished {
  /* The word "Unpublished" displayed underneath the content. */
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: "Istok Web", Arial;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word;
}
