/**
 * @file
 * Tabs Styling
 *
 * Adds styles for the primary and secondary tabs.
 *
 * Compare this with default CSS found in the system module's stylesheet (a copy
 * of which is in drupal7-reference.css.)
 */
/*
 * Basic positioning styles shared by primary and secondary tabs.
 */
/* line 19, ../sass/tabs.scss */
ul.primary,
ul.secondary {
  overflow: hidden;
  border-bottom: 1px solid #dfdfdf;
  list-style: none;
  margin: 1em 0 1.5em;
  padding: 0;
  white-space: nowrap;
}
/* line 27, ../sass/tabs.scss */
ul.primary li,
ul.secondary li {
  float: left;
  /* LTR */
}
/* line 30, ../sass/tabs.scss */
ul.primary a,
ul.secondary a {
  border: 1px solid #dfdfdf;
  border-right: 0;
  border-bottom: 0;
  display: block;
  line-height: 1.5em;
  text-decoration: none;
}

/*
 * Primary tabs
 */
/* line 45, ../sass/tabs.scss */
ul.primary li {
  margin: 0 2px 0 0;
}
/* line 50, ../sass/tabs.scss */
ul.primary a:link,
ul.primary a:visited {
  border: 1px solid #dfdfdf;
  border-bottom: none;
  padding: 0.5em 1em;
}
/* line 56, ../sass/tabs.scss */
ul.primary a:hover,
ul.primary a:focus {
  color: #fff;
  border: 1px solid #51acd2;
  border-bottom: none;
  background-color: #51acd2;
}
/* line 62, ../sass/tabs.scss */
ul.primary a.active {
  color: #fff;
  border: 1px solid #3f3f3f;
  border-bottom: none;
  background: #3f3f3f;
}

/*
 * Secondary tabs
 */
/* line 74, ../sass/tabs.scss */
ul.secondary {
  margin-top: -1em;
  padding-bottom: .5em;
}
/* line 78, ../sass/tabs.scss */
ul.secondary li {
  margin: 0 20px 0 0;
}
/* line 82, ../sass/tabs.scss */
ul.secondary a:link,
ul.secondary a:visited {
  border: none;
  border-bottom: 3px solid #dfdfdf;
}
/* line 87, ../sass/tabs.scss */
ul.secondary a:hover,
ul.secondary a:focus {
  background: #f0f0f0;
}
/* line 91, ../sass/tabs.scss */
ul.secondary a.active,
ul.secondary a:active {
  color: #3f3f3f;
  border: none;
  border-bottom: 3px solid #3f3f3f;
}
