.section-1, .section-2, .section-3, .section-4 {
  width: 100%;
}

.grid-1, .grid-2, .grid-3, .grid-4 {
  display: inline;
  float: left;
}

.section-1 .grid-1, .section-2 .grid-2, .section-3 .grid-3, .section-4 .grid-4 {
  width: 100%;
}

.section-2 .grid-1, .section-4 .grid-2 {
  width: 50%;
}

.section-3 .grid-1 {
  width: 33%;
}

.section-3 .grid-2 {
  width: 66%;
}

.section-4 .grid-1 {
  width: 25%;
}

.section-4 .grid-3 {
  width: 75%;
}

.debug .grid-1, .debug .grid-3 {
  background-color: #fbf4d1;
}

.debug .grid-2, .debug .grid-4 {
  background-color: #fff0aa;
}
