table {
  margin: 1em 0;
  width: 100%;
}

thead th {
  border-bottom: 1px solid #86979f;
  color: #494949;
  font-weight: bold;
  background-color: #e4ebef;
}

th a:link, th a:visited {
  color: #027ac6;
}

td, th {
  padding: 4px;
  line-height: 2em
}

tr.even, tr.odd, tbody th {
  border: solid #f1f5f8;
  border-width: 1px 0;
}

tr.odd {
  background: #fff;
}

tr.even {
  background: #e9eff2;
}

tr.odd td.active, tr.even td.active {
  background: none;
}

tr a {
  text-decoration: none;
}

tr.highlight {
  background: #fffaad;
}
