/* Default font settings.
   The font-size percentage is of 16px. (0.75 * 16px = 12px) */
html {
  font-size:100.01%;
}

body {
  font-size: 75%;
  color: #000;
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
  line-height: normal;
}

/* Headings
-------------------------------------------------------------- */

h1,h2 { font-weight: normal; }

h1 { font-size: 2em; margin-bottom: 0.6em; }
h2 { font-size: 1.5em; line-height: 1; margin-bottom: 0.5em; }
h3 { font-size: 1.2em; line-height: 1.25; margin-bottom: 0.5em; font-weight: bold;}
h4 { font-size: 1em; font-weight: bold; margin-bottom: 0.5em; }
h5 { font-size: 1em; font-weight: bold; }
h6 { font-size: 1em; font-weight: normal; }

h1 img, h2 img, h3 img, 
h4 img, h5 img, h6 img {
  margin: 0;
}

/* Text elements
-------------------------------------------------------------- */

p           { margin: 0 0 1em; }
p img.left  { float: left; margin: 1.5em 1.5em 1.5em 0; padding: 0; }
p img.right { float: right; margin: 1.5em 0 1.5em 1.5em; }

a:focus,
a:hover     { color: #000; }
a           { text-decoration: underline; }

blockquote  { margin: 1.5em; font-style: italic; }
strong      { font-weight: bold; }
em,dfn      { font-style: italic; }
dfn         { font-weight: bold; }
sup, sub    { line-height: 0; }

abbr,
acronym     { border-bottom: 1px dotted #666; }
address     { margin: 0 0 1.5em; font-style: italic; }
del         { color:#666; }

pre         { margin: 1.5em 0; white-space: pre; }
pre,code,tt { font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5; }

/* Lists
-------------------------------------------------------------- */

li ul,
li ol       { margin: 0; }
ul, ol      { margin: 0 1.5em 1.5em 0; padding-left: 3.333em; }

ul          { list-style-type: disc; }
ol          { list-style-type: decimal; }

dl          { margin: 0 0 1.5em 0; }
dl dt       { font-weight: bold; }
dd          { margin-left: 1.5em;}

/* Tables
-------------------------------------------------------------- */

table       { margin-bottom: 1.4em; width:100%; }
th          { font-weight: bold; }
th,td,caption { padding: 4px 10px 4px 5px; }
tfoot       { font-style: italic; }

/* Misc classes
-------------------------------------------------------------- */

.small      { font-size: .8em; margin-bottom: 1.875em; line-height: 1.875em; }
.large      { font-size: 1.2em; line-height: 2.5em; margin-bottom: 1.25em; }
.hide       { display: none; }

.quiet      { color: #666; }
.loud       { color: #000; }
.highlight  { background:#ff0; padding: 0 2px;}
.added      { background:#060; color: #fff; padding: 0 2px; }
.removed    { background:#900; color: #fff; padding: 0 2px; text-decoration: line-through; }

.first      { margin-left:0; padding-left:0; }
.last       { margin-right:0; padding-right:0; }
.top        { margin-top:0; padding-top:0; }
.bottom     { margin-bottom:0; padding-bottom:0; }
.description{ color: #898989; }