/* navigation */
.sf-menu.sf-style-default { 
  clear: both;
  margin: 0;
}

.sf-menu.sf-style-default li, 
.sf-menu.sf-style-default.sf-navbar {
  background: none;
  margin: 0 0 0 5px;
}

.sf-menu.sf-style-default a, 
.sf-menu.sf-style-default a:visited {
  border: none;
  padding: 7px 20px;
  font-size: 1.5em;
  font-family: 'oswaldregular';
  text-transform: uppercase; 
}

.sf-menu.sf-style-default a.active,
.sf-menu.sf-style-default a.active:hover {
  text-shadow: none;
}

.sf-menu.sf-style-default li:hover, 
.sf-menu.sf-style-default li.sfHover {
  background: none;
}
 
.sf-menu.sf-style-default li a:focus, 
.sf-menu.sf-style-default li a:hover, 
.sf-menu.sf-style-default li a:active {
  text-decoration: none;
  background: none;
}

.sf-menu.sf-style-default li.sfHover > a {
  text-shadow: none;
}

.sf-menu.sf-style-default ul {
  min-width: 150px;
  margin-top: 4px;
}

.sf-menu.sf-style-default li li {
  background: none;
  margin: 0;
  background: none;
}

.sf-menu.sf-style-default li li:first-child {
  border: none;
}

.sf-menu.sf-style-default li li a,
.sf-menu.sf-style-default li li a:visited  {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: none;
  font-size: 1em;
  text-shadow: none;
}

.sf-menu.sf-style-default li li a:before {
  content: '+';
  margin-right: 5px;
}

.sf-menu.sf-style-default li li a:focus, 
.sf-menu.sf-style-default li li a:hover, 
.sf-menu.sf-style-default li li a:active {
  text-decoration: none;
}

.sf-menu.sf-style-default li li a.active,
.sf-menu.sf-style-default li li a.active:hover {
  background: none;
  font-weight:bold;
}

.sf-menu.sf-style-default li li li {
  background: none;
}

.sf-menu.sf-style-default ul ul {
  margin: 10px 0 0 -20px;
}

/* main menu */
#block-system-main-menu {
  clear: both;
}

#block-system-main-menu ul.menu {
  margin: 0;
}

#block-system-main-menu ul.menu li {
  float: left;
  position: relative;
  list-style-image: none;
  list-style: none;
  margin: 0 5px 0 0;
  padding: 0;
}
#block-system-main-menu ul.menu li > a {
  border: none;
  padding: 4px 20px;
  font-size: 1.5em;
  font-family: 'oswaldregular';
  text-transform: uppercase;  
}

#block-system-main-menu ul.menu li > a.active-trail {
  text-shadow: none;
}

#block-system-main-menu ul.menu li > a.active {
  background: none;
  text-shadow: none;
}

#block-system-main-menu ul.menu ul { 
  position: absolute;
  margin: 3px 0 0 0;
  min-width: 180px;
  display: none;
  z-index: 10; 
  width: 180px;  
}

#block-system-main-menu li:hover ul.menu, 
#block-system-main-menu li.sfHover ul.menu { display: block; }

#block-system-main-menu li.expanded:hover > a,
#block-system-main-menu li.expanded:focus > a {
  text-shadow: none;
}

#block-system-main-menu li.expanded li.expanded:hover > a,
#block-system-main-menu li.expanded li.expanded:focus > a {
  background: none;
  text-shadow: none;
}

#block-system-main-menu ul.menu ul li { float: none; border-top: 1px dotted #555; margin: 0; }

#block-system-main-menu ul.menu ul li:first-child {
  border-top: none;
}

#block-system-main-menu ul.menu ul li a {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: none;
  font-size: 1em;
  text-shadow: none;
  display: block;
  padding: 7px 20px;
}

#block-system-main-menu ul.menu ul li a:before {
  content: '+';
  margin-right: 5px;
}

#block-system-main-menu ul.menu ul ul {
  left: 165px;
  top: 10px;
  display: none !important;
}

#block-system-main-menu ul.menu ul li:hover ul { display: block !important }

/* Responsive menu */
.responsive-menu-button {
  background: url(../images/icon-navigation.gif) no-repeat center center #e0dfdf;
  border: 1px solid #e0dfdf !important;
  border-radius: 3px;
  display: none;
  height: 16px;  
  padding: 6px 10px;
  position: absolute;
  right: 15px;
  text-indent: -9999px; 
  top: 60px; 
  width: 16px;
}

