
/* Header */
#header { 
  min-height: 60px; 
  padding: 20px 0 15px; 
}

.block-menu-icon {
  display: none;
}

#page-title {
  font-family: 'oswaldregular';
  font-size: 2.5em;
  margin-bottom: 20px;
}

#featured-wrapper #page-title {
  margin: 0;
  text-transform: uppercase;
  line-height: 1.4;
}

/* navigation */
#main-menu-wrapper {
  float: right;
  clear: right;
}


/* logo */
#logo { 
  display: block; 
  float:left; 
  margin: 0 20px 0 0;
}

/* search */
.region-header {   
  padding: 0;
}

#block-search-form {
  width: 225px;
  height: 25px;
  padding: 7px 10px 0 14px;
  float: right;
  margin: 0 0 15px;
}

#search-block-form,
#search-block-form .form-item {
  margin: 0;
  float:left;
}

#search-block-form .form-actions {
  border: none;
  padding: 0;
  background: none;
  float: right;
}

#search-block-form label {
  display: none;
}

#search-block-form .form-text {
  width: 195px;
  padding: 0;
  margin: 0 10px 0 0;
  border: none;
  background: none;
  font-style: italic;
}

#search-block-form .form-submit {
  width: 17px;
  height: 16px;
  overflow: hidden;
  text-indent: -999em;
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
}

.search-form .form-item-keys .form-text {
  margin-bottom: 0;
}

.search-form #edit-basic .form-submit {
  padding-top: 7px;
  padding-bottom: 7px;
}

.search-results {
  margin: 0 0 20px;
  padding: 28px;
}

.search-results li {
  padding-top: 15px;
  margin-bottom: 15px;
}

.search-results li:first-child {
  border: none;
  padding-top: 0;
}

.search-results .search-info {
  font-size: 1em;
}

.search-results .title { font-weight: bold; }

/* featured */
#featured-wrapper .container {
  padding: 30px 0;
}

#featured-wrapper h2 {
  text-transform: uppercase;
  line-height: 100%;
  margin-bottom: .75em;
  text-shadow: none;
}

/* main */
#main-wrapper { padding: 30px 0 0 0; }

.node-wrapper > h2 {
  margin: -40px 0 30px;
  font-size: 2.5em;
  width: 80%;
}

.node-wrapper .date-wrapper {
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
  margin: 0 0 10px;
}

#main-wrapper .date-content,
.jcarousel-skin-default .date-content {
  display: block;
  width: 103px;
  height: 41px;
  overflow: hidden;
  padding: 12px 0 0 0;
  float: right;
}

#main-wrapper .date-left,
.jcarousel-skin-default .date-left {
  float: left;
  width: 49px;
  font-size: 2em;
  font-family: 'oswaldregular';
  display: block;
  text-align: center;
  line-height: 1.2;
}

#main-wrapper .date-right,
.jcarousel-skin-default .date-right {
  width: 53px;
  float: left;
  display: block;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.2;
}

#main-content .date-right .month,
.jcarousel-skin-default .date-right .month {
  display: block;
}

#main-content .node {
  padding: 28px;
  margin-bottom: 30px;
  position: relative;
}

.arrow-up {
  position: absolute;
  left: 30px;
  top: -16px;
  display: block;
  width: 29px;
  height: 16px;
}

.submitted {
  margin-bottom: 1em;
}

.node .field-type-image {
  margin-bottom: 1em;
}

.node ul.inline {
  margin: 0;
}

.node ul.inline li, 
.comment ul.inline li {
  margin: 0 20px 5px 0;
  padding: 0;
}

.node .links li a:before,
.comment .links li a:before {
  content: "+";
  margin-right: 3px;
}

.node .field-name-field-tags {
  margin-bottom: 1em;
}

.node .field-name-field-tags div {
  display: inline-block;
  margin: 0 5px 5px 0;
}

.node .field-name-field-tags a {
 display: inline-block;
 padding: 1px 7px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

/* sitebar first */
#sidebar-first-wrapper {
  padding-bottom: 10px;
}

#sidebar-first-wrapper .block,
#sidebar-second-wrapper .block {
  margin-bottom: 20px;
  padding-bottom: 15px;
}

#sidebar-first-wrapper h2,
#sidebar-second-wrapper h2 {
  text-transform: uppercase;
  font-size: 1.66em;
}

#sidebar-first-wrapper .item-list ul,
#sidebar-second-wrapper .item-list ul {
  margin: 0;
}

#sidebar-first-wrapper .item-list ul li,
#sidebar-second-wrapper .item-list ul li {
  list-style: none;
  margin: 0;
  padding: 0;
} 

#sidebar-first-wrapper .item-list ul li:first-child,
#sidebar-second-wrapper .item-list ul li:first-child {
  border-top: none;
}

#sidebar-first-wrapper .item-list ul li a,
#sidebar-second-wrapper .item-list ul li a {
  display: block;
  padding: 7px 0;
} 

#sidebar-first-wrapper .item-list ul li a:before,
#sidebar-second-wrapper .item-list ul li a:before,
#sidebar-first-wrapper .menu li a:before, 
#sidebar-second-wrapper .menu li a:before {
  content: '+';
  margin-right: 5px;
}

#sidebar-first-wrapper .item-list ul li .username,
#sidebar-second-wrapper .item-list ul li .username {
  padding: 0;
  display: inline-block;
  font-size: 1em;
} 

#sidebar-first-wrapper .item-list ul li .username:hover,
#sidebar-second-wrapper .item-list ul li .username:hover {
  background: none;
}

#sidebar-first-wrapper .item-list ul li .views-field-field-image a,
#sidebar-first-wrapper .item-list ul li .views-field-title a {
  padding: 0; 
}

#sidebar-first-wrapper .item-list ul li.views-row {
  border-top: none;
  padding: 0 0 20px;
  margin: 0 0 20px;
}

#sidebar-first-wrapper .item-list ul li.views-row-last {
  border: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

#sidebar-first-wrapper .item-list ul li .views-field-field-image a:before,
#sidebar-first-wrapper .item-list ul li .views-field-title a:before {
  content: '';
}

/* menu */
#sidebar-first-wrapper .menu,
#sidebar-second-wrapper .menu {
  margin: 0;
  list-style: none;
}

#sidebar-first-wrapper .menu li,
#sidebar-second-wrapper .menu li {
  list-style: none;
  margin: 0;
  padding: 0;
}

#sidebar-first-wrapper .menu li:first-child,
#sidebar-second-wrapper .menu li:first-child {
  border-top: none;
} 

#sidebar-first-wrapper .menu li a,
#sidebar-second-wrapper .imenu li a {
  display: block;
  padding: 7px 0;
} 

/* pannel first */
#panel-first-wrapper .container {
  padding: 25px 0;
}

#panel-first-wrapper .container h2 {
  font-size: 1.66em;
  text-transform: uppercase;
}

#panel-first-wrapper .views-field-field-image {
  float: left;
  margin: 0 15px 0 0;
}

#panel-first-wrapper  .views-field-title {
  font-size: 1.16em;
  font-weight: bold;
  margin-bottom: 5px;
}

#panel-first-wrapper .views-field-created {
  margin: 0 0 3px;
}

#panel-first-wrapper .views-row {
  padding-bottom: 15px;
  margin-bottom: 15px;
}

#panel-first-wrapper .views-row-last {
  border: none;
  padding-bottom: 0;
}

#panel-first-wrapper .views-field-body p {
  margin: 0;
}

#panel-first-wrapper .quicktabs-wrapper .quicktabs-tabs li a {
  line-height: 17px;
}

#panel-first-wrapper .quicktabs_main .item-list ul li {
  margin: 0 0 5px;
  padding: 5px 0 0 ;
  list-style: none;
}

#panel-first-wrapper .quicktabs_main .item-list ul li:first-child {
  border: none;
  padding-top: 0;
}

#panel-first-wrapper .quicktabs_main .item-list ul li a:before {
    content: "+";
    margin-right: 5px;
}

/* breadcrumb */
#breadcrumb-wrapper {
  padding: 0 0 5px 0;
  margin: 0 0 15px;
}

#breadcrumb-wrapper h2 {
  font-size: 12px;
  font-weight: bold;
  display: block;
  float: left;
  margin: 0 10px 0 0;
  padding: 3px 0 0 0;
  font-family: Arial, Helvetica, sans-serif;
}

#breadcrumb-wrapper h2:after {
  content: ':';
}

.breadcrumb {
  background: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  float: left;
}

.breadcrumb a {
  vertical-align: middle;
}

.btn-btt {
  float: right;
}

/* contact */
form {
  margin: 0;
}

.contact-form,
#user-register-form,
#user-pass,
.profile {
  margin-bottom: 30px;
  padding: 28px;
}

.contact-form .form-item,
#user-register-form .form-item,
#user-pass .form-item {
  margin: 0 0 10px;
}

.form-actions {
  padding: 10px 0 0 0;
  margin: 0;
  border: none;
  background: none;
}

.form-submit {  
  border: none;
  padding: 8px 15px;
  text-transform: uppercase;
  font-weight:bold;
  margin: 0 5px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
	line-height: 1.2;
}

/* profile */
.profile h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  padding: 0 0 3px;
}

/* primary */
ul.primary {
  margin: 0 0 25px;
  padding: 0;
  overflow: hidden;
}

ul.primary li {
  display: block;
  float: left;
  margin: 0 5px 0 0;
}

ul.primary li a {
  display: inline-block;
  margin: 0;
  padding: 5px 10px;
}

/* topic */
#forum {
  margin-bottom: 30px;
  padding: 28px;
}

#forum table {
  width: 100%;
}

#forum th img {
  margin: 0 0 0 3px;
}

#forum td.forum .icon { margin-left: 5px; }

.action-links {
  margin: 0 0 25px;
  overflow: hidden;
}

.action-links li {
  list-style: none;
}

.action-links li a { 
  display: inline-block;
  margin: 0 0 0 5px;
  padding: 5px 15px;
  font-weight:bold;
  text-transform: uppercase;
  -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

/* pager */
.item-list .pager {
  margin-bottom: 30px;
  text-align: center;
}

.item-list .pager li {
  display: inline-block;
  padding: 0;
  margin: 0 1px;
}

.item-list .pager li a {
  display: inline-block;  
}

.pager a, .pager span {
  border-radius: 0;
  -webkit-border-radius: 0;
}

/* comment */
#comments {
  padding-top: 15px;
}

#comments h2, 
.node-wrapper #comments h2 {
  font-size: 2em;
  margin: 0 0 30px;
}

#comments .comment-form {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

.comment-form {
  margin-bottom: 30px;
  padding: 28px;
}

/* login */
#user-login {
  margin-bottom: 30px;
  padding: 28px;
}

/* Most Recent Blog Posts */
#sidebar-first-wrapper div.views-row-first,
.recent-blog-post div.views-row-first {
  padding-top: 10px;
}

#sidebar-first-wrapper .views-row,
#sidebar-second-wrapper .views-row,
.recent-blog-post .views-row {
  padding: 0 0 20px;
  margin: 0 0 20px;
}

#sidebar-first-wrapper li.views-row,
#sidebar-second-wrapper li.views-row,
.recent-blog-post li.views-row {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: ;
}

#sidebar-first-wrapper .view .views-row-last,
#sidebar-second-wrapper .view .views-row-last,
.recent-blog-post .view .views-row-last {
  border-bottom: none;
  padding: 0;
  margin: 0 ;
}

#sidebar-first-wrapper .views-row:after,
#sidebar-second-wrapper .views-row:after,
.recent-blog-post .views-row:after {
    clear: both;
}
#sidebar-first-wrapper .views-row:before, 
#sidebar-first-wrapper .views-row:after,
#sidebar-second-wrapper .views-row:before, 
#sidebar-second-wrapper .views-row:after,
.recent-blog-post .views-row:before, 
.recent-blog-post .views-row:after {
    content: "";
    display: table;
    line-height: 0;
}

#sidebar-first-wrapper .views-row .views-field-field-image,
#sidebar-second-wrapper .views-row .views-field-field-image,
.recent-blog-post .views-row .views-field-field-image {
  float: left;
  margin: 0 15px 0 0;
}

#sidebar-first-wrapper .views-row .views-field-title,
#sidebar-second-wrapper .views-row .views-field-title,
.recent-blog-post .views-row .views-field-title {
  margin-bottom: 5px;
  font-size: 1.16em;
  font-weight:bold;
}

#sidebar-first-wrapper .views-row .views-field-body p,
#sidebar-second-wrapper .views-row .views-field-body p,
.recent-blog-post .views-row .views-field-body p {
  margin: 0;
}

#sidebar-first-wrapper .views-row .views-field-created,
#sidebar-second-wrapper .views-row .views-field-created,
.recent-blog-post .views-row .views-field-created {
  color: #999;
  margin: 0 0 3px;
}

#sidebar-first-wrapper .views-row .views-field-created span,
#sidebar-second-wrapper .views-row .views-field-created span,
.recent-blog-post .views-row .views-field-created span {
  display: inline;
  float: none;
  width: auto;
  font-size: 1em;
  text-align: left;
  line-height: normal;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: none;
}

#sidebar-first-wrapper .views-row .views-field-created .date-wrapper span span,
#sidebar-second-wrapper .views-row .views-field-created .date-wrapper span span,
.recent-blog-post .views-row .views-field-created .date-wrapper span span {
  margin: 0 0 0 3px;
}

/* footer */
#footer-wrapper .container {
  padding: 20px 0;
}

#footer-wrapper .block {
  float: left;
  width: 50%;
}

#footer-wrapper p {
  margin: 0;
  padding: 0 20px 0 0;
}

#footer-wrapper a:hover { text-decoration: none; }

#footer-wrapper .sf-menu {
  margin-bottom: 0;
  float: right;
}

#footer-wrapper .sf-menu li {
  background: none;
  margin: 0 0 0 30px;
}

#footer-wrapper .sf-menu a {
  background: none;
  padding: 0;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: none;
  font-weight:normal;
  text-shadow: none;
  font-size: 12px;
}

/* comments */
#comments h2.comment-form {
  margin-bottom: 20px;
}

.comment { 
  margin-bottom: 30px;
  padding: 20px;
}

.comment .links {
  margin: 0;
}

#comment-form .form-item {
  margin: 0 0 10px;
}

.comment h3 {
  font-size: 1.5em;
}

#comments .indented {
  margin-bottom: 30px;
  margin-left: 0;
  padding-left: 30px;
}

/* quicktabs */
.quicktabs-wrapper {
  margin-bottom: 10px;
}

.quicktabs-wrapper .quicktabs-tabs,
#sidebar-first-wrapper .item-list .quicktabs-tabs,
#sidebar-second-wrapper .item-list .quicktabs-tabs {
  margin: 0 0 20px;
  height: 38px;
  padding: 0;
} 

.quicktabs-wrapper .quicktabs_main {
  border: none;
  background: none;
  padding: 0;
  clear: both;
}

.quicktabs-wrapper .quicktabs-tabs li,
#sidebar-first-wrapper .item-list .quicktabs-tabs li,
#sidebar-second-wrapper .item-list .quicktabs-tabs li {
  display: block;
  float: left;
  margin: 0 0 0 35px;
  border: none;  
  text-transform: uppercase;  
  background: none;
}

.quicktabs-wrapper .quicktabs-tabs li:first-child,
#sidebar-first-wrapper .item-list .quicktabs-tabs li:first-child,
#sidebar-second-wrapper .item-list .quicktabs-tabs li:first-child {
  margin: 0;
}

.quicktabs-wrapper .quicktabs-tabs li a,
#sidebar-first-wrapper .item-list .quicktabs-tabs li a,
#sidebar-second-wrapper .item-list .quicktabs-tabs li a {
  display: block;   
  line-height: 19px;
  padding: 9px 0 10px 0;
  font-size: 1.66em !important;
  font-family: 'oswaldregular' !important;
  font-weight: normal !important;  
}

.quicktabs-wrapper .quicktabs-tabs li a:before,
#sidebar-first-wrapper .item-list .quicktabs-tabs li a:before,
#sidebar-second-wrapper .item-list .quicktabs-tabs li a:before {
  content:'';
  margin-right: 0;
}

.quicktabs-wrapper .quicktabs-wrapper .block,
#sidebar-first-wrapper .quicktabs-wrapper .block, 
#sidebar-second-wrapper .quicktabs-wrapper .block {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.more-link { padding: 5px 8px 0 0; margin-bottom: 5px; }

.more-link a:before {
  content: '+';
  margin-right: 3px;
}

.quicktabs-wrapper .quicktabs-wrapper .views-view-grid .views-row,
#sidebar-first-wrapper .views-view-grid .views-row,
#sidebar-second-wrapper .views-view-grid .views-row {
  border-bottom: none;
  padding: 0;
  margin: 0;
}

.ui-widget {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
}

.ui-accordion .ui-accordion-header a {
  font-size: 1.66em;
  font-family: 'oswaldregular'; 
  text-transform: uppercase;
  padding: 5px 5px 5px 25px;
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-bottom {
  border-radius: 0;
}

.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default {
  background: #ddd;
  border: 2px solid #ddd;
}

.ui-widget-content {
  background: none;
}

.ui-accordion .ui-accordion-content {
  padding: 15px 20px !important;
}

#sidebar-first-wrapper .ui-widget-content .block, 
#sidebar-second-wrapper .ui-widget-content .block {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}

#sidebar-first-wrapper .ui-widget-content .views-row .views-field-field-image, 
#sidebar-second-wrapper .ui-widget-content .views-row .views-field-field-image {
  margin-bottom: 3px;
}

.ui-widget-content .views-view-grid .views-field-field-images img,
#panel-first-wrapper .ui-widget-content .views-view-grid .views-field-field-images img {
  width: 88%;
}

/* login form */
#user-login-form .form-item {
  margin: 0 0 10px;
  overflow: hidden;
}

#user-login-form .form-item label {
  width: 30%;
  display: block;
  float: left;
  margin: 0;
  padding: 5px 0 0 0;
}

#user-login-form .form-item .form-text {
  width: 65%;
  float: left;
  margin: 0;
  padding: 3px;
}

#sidebar-first-wrapper #user-login-form .item-list {
  padding: 10px 0 0 30%;
}

#sidebar-first-wrapper #user-login-form .item-list ul li {
  border-top: 0;
  padding: 0;
  margin: 0 0 5px;
}

#sidebar-first-wrapper #user-login-form .item-list ul li a {
  display: inline-block;
  padding: 0;
}

#user-login-form .form-actions {
  margin-bottom: 10px;
  padding-left: 30%;
}

/* slideshow */
.slideshow,
.view-slideshow { 
  position: relative;
}

.slideshow .views-field-field-image {
  float: right;
  margin: 0 0 0 40px;
}

.slideshow .views-field-field-image img {
  padding: 8px;
}

.slideshow .views-field-title {
  font-size: 2em;
  font-family: 'oswaldregular'; 
  line-height: 1.2;  
  margin: 0 0 15px;
}

.slideshow .views-field-view-node a {
  display: inline-block;
  font-weight: bold;
  padding: 7px 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.slideshow .views-field-view-node a:before {
  content: '+';
  margin-right: 5px;
}

.slideshow .views-field-body {
  margin-bottom: 20px;
}

.views-slideshow-controls-text {
  position: absolute;
  width: 98px;
  height: 18px;
  right: 30px;
  bottom: -28px;
  z-index: 30;  
  text-align: center;
  padding: 18px 0 0 0;  
  display: none;
}

.slideshow:hover .views-slideshow-controls-text,
.slideshow:focus .views-slideshow-controls-text,
.view-slideshow:hover .views-slideshow-controls-text,
.view-slideshow:focus .views-slideshow-controls-text {
  display: block;
}

.views-slideshow-controls-text span {
  display: inline-block;
}

.views-slideshow-controls-text span a {
  display: inline-block;
  width: 20px;
  height: 13px;
  text-indent: -999em;  
}

.views-slideshow-controls-text .views-slideshow-controls-text-previous a {
  background-position: 0 0;
}

.views-slideshow-controls-text .views-slideshow-controls-text-previous a:hover {
  background-position: 0 -13px;
}

.views-slideshow-controls-text .views-slideshow-controls-text-next a {
  background-position: -20px 0;
}

.views-slideshow-controls-text .views-slideshow-controls-text-next a:hover {
  background-position: -20px -13px;
}

.views-slideshow-controls-text .views-slideshow-controls-text-pause {
  display: none;
}

.views-slideshow-pager-fields {
  position: absolute;
  z-index: 30;
  left: 46%;
  bottom: -26px;
}

.views-slideshow-pager-field-item {
  width: 20px;
  height: 22px;
  display: block;
  float:left;
  margin: 0;
  overflow: hidden;
  text-indent: -999em;
  cursor: pointer;
}

/* galleryformatter */
.galleryformatter .slide-button {
  width: 63px;
  height: 32px;
  opacity: 1;
  display: none;
}

.galleryformatter .gallery-slides:hover .slide-button, 
.galleryformatter .gallery-slides:focus { display: block; }

.galleryformatter-greenarrows .gallery-thumbs .wrapper {
  border: none;
  background: none;
}

.galleryformatter-greenarrows .gallery-thumbs li.active a,
.galleryformatter-greenarrows .gallery-thumbs li a:hover {
  background: none;
}

.galleryformatter { margin-bottom: 20px; }

.galleryformatter-greenarrows .gallery-thumbs .arrow {
  width: 14px;
  height: 32px;
  bottom: 28px;
}

.galleryformatter-greenarrows .gallery-thumbs .back {
  background-position: 0 0;
  left: 16px;
}

.galleryformatter-greenarrows .gallery-thumbs .back:hover {
  background-position: 0 -32px;
}

.galleryformatter-greenarrows .gallery-thumbs .forward {
  background-position: -14px 0;
  right: 20px;
}

.galleryformatter-greenarrows .gallery-thumbs .forward:hover {
  background-position: -14px -32px;
}

#main-content .gallery-thumbs .views-field-field-images img {
  background: none;
  border: none;
  padding: 0;
  margin: 0 0 10px;
}

#main-content .gallery-thumbs .views-row {
  margin: 0 0 20px;
}

#main-content .gallery-thumbs .views-col .grid-inner {
  margin: 0 10px;
  padding: 7px;
  text-align: center;
}

#main-content .gallery-thumbs .views-field-field-images {
  margin: 0;
}

#main-content .gallery-thumbs .views-field-title {
  font-size: 1.167em;
  min-height: 43px;
}

/* mailchimp form */
.mailchimp-lists-user-subscribe-form .form-item,
.simplenews-subscribe .form-item {
  margin: 0 0 10px;
  overflow: hidden;
}

.mailchimp-lists-user-subscribe-form label,
.simplenews-subscribe label {
  width: 35%;
  float:left;
  padding: 5px 0 0 0;
}

.mailchimp-lists-user-subscribe-form .form-text,
.simplenews-subscribe .form-text {
  float: left;
  margin: 0;
  padding: 3px;
  width: 60%;
}

.mailchimp-lists-user-subscribe-form .form-submit,
.simplenews-subscribe .form-submit {
  margin-left: 35%;
}

.issues-link,
.feed-icon { display: none; }

#edit-comment-body-und-0-format .form-type-select label {
  display: inline-block;
  margin: 0 5px 0 0;
}

#edit-comment-body-und-0-format .form-type-select select {
  margin: 0;
}

/* poll */
.poll .vote-form .choices {
  margin: 0 0 10px;
  width: 100%;
}

.poll .vote-form {
  text-align: left;
  margin: 0 0 15px;
}

ul.links {
  margin-left: 0;
  list-style: none;
}

ul.links li a:before {
  content: '+';
  margin-right: 5px;
}

.poll .title,
.poll .text {
  margin-bottom: 5px;
}

.node-poll ul.links {
  margin: 15px 0 15px;
  display: block;
}

#edit-choice .form-item-choice {
  overflow: hidden;
}

#edit-choice .form-item-choice .form-radio {
  float: left;
  margin: 3px 5px 0 0;
}

#edit-choice .form-item-choice .option {
  float: left;
  width: 80%;
  display: block;
  margin: 0;
}

.contact-location {
  background: #fff;
  border: 2px solid #e5e5e5;
  margin-bottom: 30px;
  padding: 28px;
}

/* skin */
#change_skin_menu_wrapper a.color-default {
  background: #6c2020;
}

#change_skin_menu_wrapper a.color-orange {
  background: #f77825;
}

#change_skin_menu_wrapper a.color-green {
  background: #669a40;
}

#change_skin_menu_wrapper a.color-dark_orange {
  background: #f53e3e;
}

#change_skin_menu_wrapper a.color-blue {
  background: #08c3ac;
}
