/*
Styles for League Person
*/
.league_person-body table{width:400px;}
.league_person-body thead{background:black;color:white;font-size:16px}
.league_person-body thead a{color:white}
.league_person-body thead th{width:50%;text-align:center;border:medium solid black;}
.league_person-body tbody td{border:medium solid black;font-size:36px;text-align:center}

