@charset "utf-8";
/* CSS Document */
/*------------------------------------*\
	RESET
\*------------------------------------*/
a,
a:link,
a:visited {
  color:#17A1C8;
  text-decoration: none;
}
a:focus,
a:hover,
a:active {
  color: #fff;
}
h1, h2, h3, h4 {
  color:#17A1C8;
}
/*------------------------------------*\
	Pages Background
\*------------------------------------*/
/*  Zone branding  */
.zone-branding-wrapper {
  background:#182732 url(../images/blue/wp_header_bg.jpg) repeat-x scroll left top;
}
.zone-header-wrapper {
  background: #010508;
}
.zone-branding {
  background:#22313C url(../images/blue/header_bg.jpg) repeat-x scroll left top;
}

/*  Zone preface  */
.zone-preface-wrapper {
  background: #010508;
}

/*  Zone content  */
.zone-content-wrapper {
  background: #16202B url(../images/blue/wp_content_bg.jpg) repeat-x scroll left top;
}
.zone-content {
  background: #1E2832 url(../images/blue/content_bg.jpg) repeat-x scroll left top;
  padding-top: 20px;
}

/*  Zone postscript */
.zone-postscript-wrapper {
  background:#0F1922;
}
.zone-postscript {
  background:#151E25;
}

/*  Zone footer  */
.zone-footer-wrapper {
  background:#010508;
}

/*------------------------------------*\
	Pages CSS
\*------------------------------------*/
ul.links li {
  padding: 0 1em 0 0; /* LTR */
}
li.comment-add a,
li.comment-add a.active {
  color: #17A1C8;
}
.item-list .pager li {
  border: 1px solid #324A5D;
}
.item-list .pager .pager-current {
  background:#17A1C8;
  color: #fff;
}
.item-list .pager li a:hover {
  background:#076782;
  color: #fff;
}

/*------------------------------------*\
	NAVIGATION CSS
\*------------------------------------*/
/*
 * Main menu links
 */
ul#main-menu li a:hover,
ul#main-menu li a.active:hover {
  color: #fff;
  background: #076782;
}
ul#main-menu li a.active {
  color: #fff;
  background: #17A1C8;
}

ul.primary li.active a, ul.primary li.active a:hover, ul.primary li.active a:focus {
    background: #076782;
}
/*------------------------------------*\
	FIELDS CSS
\*------------------------------------*/
.field-name-field-image img {
  border: 1px solid #324A5D;
}

/*------------------------------------*\
	BLOCKS CSS
\*------------------------------------*/

h2.block-title {
  color:#17A1C8;
  border-bottom: 1px solid #324A5D;
}
.block-box .inner {
  border: 1px solid #324A5D;
  background:#151E25;
}


/* Block login */
.block-login .block-inner {
  background: #151E25;
  border: 1px solid #324A5D;
}

/* Block list */
.block-comment-recent ul li,
#block-block-7 ul li,
.block-list ul li {
  border-bottom:1px solid #324A5D;
}
.block-comment-recent ul li a:hover,
#block-block-7 ul li a:hover,
.block-list ul li a:hover {
  color: #17A1C8;
}

/* Recent news */
.block-views-blog-block .views-row,
.view-list-articles .views-row {
  border-bottom: 1px dashed #324A5D;
}
.block-views-blog-block .views-field-view-node a,
.view-list-articles .views-field-view-node a {
  background: url(../images/blue/bullet.png) 0 9px no-repeat;
}
.view-list-articles .views-row img {
  border: 1px solid #324A5D;
}


/* Block poll */
.block-poll .block-inner {
  background: #151E25;
  border: 1px solid #324A5D;
  padding: 10px;
}

/* Block recent comments */
.block-comments-recent-block .item-list ul li {
  border-bottom: 1px solid #324A5D;
}
.block-comments-recent-block li a {
  color: #fff;
}
.block-comments-recent-block li a:hover {
  color: #17A1C8;
}

/* Postscript block */
.block-custom-postscript img {
  border: 1px solid #324A5D;
}


/* Contact form */
.contact-form .form-item:hover,
.contact-form .form-item:active {
  background: #1b2a38;
}

/*------------------------------------*\
	FORMS CSS
\*------------------------------------*/
/* Typography and backgrounds for all form buttons */
button, input[type="reset"], input[type="submit"], input[type="button"] {
  background:#17A1C8 none repeat scroll 0 0;
  border:1px solid #324A5D;
  color: #fff;
}

input.form-submit:hover {
  background: #076782;
  color: #fff;
}
