.region-content ul.cmisposts, ul.cmisposts {
  margin:0;
  list-style: none;
  padding:0;
}

.region-content ul.cmisposts li, ul.cmisposts li{
  list-style: none;
  padding:0 0 0.5em;
  margin:0;
}

.region-content .cmisdetails ul.list{
  padding:0;
}

.title{
  display:block;
  margin-bottom:0.5em;
  font-size: 1.3em;
}

.cmisdetails{
  width:86%;
  float:right;
  display:block;
}

.block-post a.left{
  width:14%;
  float:left;
}

ul.cmisviews{
  list-style-type: disc;
  margin: 0 0 1em 1em;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

.cmisposts .block-post {
  margin: 0;
  clear:both;
}

.cmis_views_browse_folder .item-list ul li a{
  background-image: url("images/32s-filetypes/folder-32.png");
  background-repeat: no-repeat;
  padding-left: 42px;
  display: block;
}

.cmis_views_browse_folder .item-list ul li a.parent{
  background-image: url("images/32s-filetypes/folder-back-32.png");
}

.cmis_views_browse_folder .item-list ul li a:hover{
  background-color: #ddd;
  border-color: #ECEC;
}

.cmis_views_browse_folder .item-list ul li{
  list-style: none;
  line-height: 32px;
}

.cmis_views_browse_folder .item-list ul li .file{
  background-image: url("images/32s-filetypes/generic-32.png");
  background-repeat: no-repeat;
  padding-left: 42px;
  display: block;
}

.cmis_views_browse_folder .item-list ul{
  margin: 0;
}
