#manage-multiple-terms-form .term-row-hidden {
  display: none;
}

#manage-multiple-terms-form .add-term-button {
  float: right;  
}

#manage-multiple-terms-form .delete-term-button {
 
}

#manage-multiple-terms-form .collapse-button {
  display: inline;
}

#manage-multiple-terms-form .term-row-template {
  display: none;
}

#manage-multiple-terms-form .tabledrag-toggle-weight-wrapper {
  display: none;
}

#manage-multiple-terms-form .manage-multiple-terms-table thead tr th {
  text-align: center;
}

#manage-multiple-terms-form .manage-multiple-terms-table .form-text { 
  max-width: 250px; 
  padding: 3px; 
}

#manage-multiple-terms-form .row-header {
  font-weight: bold;
}

#manage-multiple-terms-form table th a {
  display: inline;
}

#manage-multiple-terms-form table tbody tr td.term-name {
  width: 100px;
}
#manage-multiple-terms-form table tbody tr td.edit-name {
  width: 100px;
}
#manage-multiple-terms-form table tbody tr td.edit-description {
  width: 100px;
}
#manage-multiple-terms-form table tbody tr td.edit-weight {
  display: none;
}
#manage-multiple-terms-form table tbody tr td.edit-detail-link {
  width: 100px;
}
#manage-multiple-terms-form table tbody tr td.delete-link {
  width: 100px;
}

#manage-multiple-terms-form .hidden  {
  display: none;
}