@charset "utf-8";
/* CSS Document */

table,
tbody,
tfoot,
thead,
tr,
th,
td {
	vertical-align:middle;
}

* {
	font-family:Arial,Helvetica;
	font-size:12px;
	line-height:18px;
}

p {
	margin:10px 0;
}

body {
	background-image:url('../images/bg-body.gif');
	background-repeat:repeat-x;
	background-position:top left;
	background-color:#FDFEFD;
}

a:link { /* unvisited link */
	color:#d3561e;
	text-decoration:underline;
}

a:visited { /* visited link */
	color:#974825;
	text-decoration:underline;
}
a:hover { /* mouse over link */
	color:#d3561e;
	text-decoration:none;
}
a:active { /* selected link */
	color:#d3561e;
	text-decoration:none;
}

h1,
h1 a:link,
h1 a:visited,
h1 a:hover,
h1 a:active,
h2,
h2 a:link,
h2 a:visited,
h2 a:hover,
h2 a:active {
  font-size:18px;
	color:#000000;
	padding:15px 0 5px 0;
	color:#000000;
  text-decoration:none;
}

h3 {
	font-size:18px;
	color:#000000;
	padding:10px 0;
}

h3 span {
	font-size:18px;
}

h3.title a {
	font-size:16px;
	color:#000000;
	padding:10px 0;
	text-decoration:none;
}

h3 .green {
	/*color:#6DB10C;*/
	color:#000;
}

table {
		width:100%;
}

table td {
		padding:5px;
}

.clear {
	clear:both;
}

.top-content-full-width  {
	margin:0 0 10px 15px;
	padding:0 5px;
	width:945px;
}

.top-content-full-width p {
	margin:0;
	padding:0;
}

.top-content-full-width .block-468 {
	float:left;
	margin:1px;
	width:468px;
}

.block {
	clear:both;
	margin:5px 0;
}

.block.block-menu {
	margin:5px 0 20px 0;
}

.left-sidebar .content .menu li.leaf {
	list-style-image:none;
	list-style-type:none;
}

.left-sidebar .content .menu li.leaf.last {
	border-bottom:none;
}

.left-sidebar .content .menu li.collapsed.last {
	border-bottom:none;
}

.block ul {
	margin:0;
	padding:0;
}

.forum-links ul.links {
	margin-right:0;padding-right:0;
}

#main-wrapper {
	width:100%;
	height:100%;
	background-image:url('../images/football-players-top.jpg');
	background-repeat:no-repeat;
	background-position:top center;
}

#gradient-left-right {
	width:990px;
	padding:0 9px;
	margin:0 auto;
	background-image:url('../images/bg-gradient.png');
	background-repeat:repeat-y;
	background-position:top left;
}

#gradient-bottom {
	border-top:1px solid #ccc;
	position:relative;
	width:996px;
	margin:0 auto;
}


#container-wrapper {
	background-image:url('../images/bg-content.png');
	/*border-bottom:2px solid #ccc;*/
}

#header {
	width:963px;
	height:80px;
	background-image:url('../images/bg-header.png');
	background-repeat:no-repeat;
	background-position:top left;
	margin:20px auto 10px auto;
}

#header #logo img {
	margin:7px 0 0 20px;
}

#header #top-menu h2 {
  display:none;
}

#header #top-menu ul {
	margin:38px 0 0 10px;
}

#header #top-menu ul li {
	float:left;
	background-image:url('../images/header-bullet.png');
	background-repeat:no-repeat;
	background-position:0 8px;
	padding:0px 12px;
  list-style: none;
}

#header #top-menu ul li.first {
	background-image:none;
}

#header #top-menu ul li a {
	color:#fff;
	text-decoration:none;
	text-transform:uppercase;
}

#header #top-menu ul li a.active {
	color:#182902;
}

.content-bottom-500 {
	width:490px;
	padding:5px 10px;
	/*margin-top:5px;*/
}

.content-bottom-700 {
	width:690px;
	padding:5px 10px;
	/*margin-top:5px;*/
}

.content-bottom-full-width {
	width:935px;
	padding:5px 10px;
	/*margin-top:5px;*/
}

.content-bottom .title {
	padding-bottom:5px;
}

.content-bottom .title a {
	font-size:18px;
	color:#000033;
	padding:10px 0 5px 0;
	text-decoration:none;
}

.content-bottom .date-submitted,
.content-bottom .date-submitted span.username,
.content-bottom .date-submitted span.date,
.content-bottom .date-submitted span.username a {
	font-size:11px;
	color:#898989;
	padding:0 0 5px 2px;
	text-decoration:none;
}

.content-bottom .date-submitted .username,
.content-bottom .date-submitted .date {
	font-weight:bold;
}

.content-bottom .more {
	margin:0 0 10px 0;
	float:right;
}

.content-bottom .tags {
	clear:both;
}

.tags .tag-title {
	font-weight:bold;
}


.left-sidebar {
	margin-left:15px;
	width:210px;
	padding:10px;
}

.right-sidebar {
	margin-top:0px;
	width:170px;
	padding:10px;
}

.right-sidebar h3 {
	font-size:20px;
	border-bottom:1px dotted #c5c5c5;
	padding:5px 0;
}

.right-sidebar h3 span {
	font-size:20px;
}

.search-500 {
	margin-top:0px;
	padding:5px;
	width:500px;
}

.search-700 {
	margin-top:0px;
	padding:5px;
	width:700px;
}

.banner {
	padding:5px 10px;
	margin-top:0px;
	width:490px;
}

.round-corners-5 {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.gray-bg {
	background-color:#e5e5e5;
	border: 1px solid #d9d9d9;
}

.white-bg {
	background-color:#fff;
	border: 1px solid #d9d9d9;
}

#footer {
	margin:15px;
	width:940px;
	padding:10px;
}

#footer h3 {
	background-image:url("../images/arrow-left.png");
	background-position:0 5px;
	background-repeat:no-repeat;
	font-size:20px;
	margin:0;
	padding:5px 0 10px 40px;
}

#footer h3 span {
	font-size:20px;
}

#footer .footer-column {
	width:260px;
	padding:10px 20px;
}

#footer .footer-subtitle {
	color:#575757;
	font-style:italic;
	font-size:12px;
	font-weight:bold;
	font-family:verdana;
}

#footer p {
	font-size:11px;
	color:#898989;
}

#footer p a {
	font-size:11px;
}

#footer-menu .footer-links li {
	background-image:url("../images/plus.png");
	background-position:2px 10px;
	background-repeat:no-repeat;
	border-bottom:1px dotted #C5C5C5;
	color:#898989;
	height:12px;
	margin:0;
	padding:7px 0 10px 25px;
}

#footer-menu .footer-links li a {
	color:#4e8408;
}

#footer .quote {
	font-style:italic;
	padding-bottom:0px;
	margin-bottom:0px;
}

#footer .quote-user {
	text-align:right;
	padding-top:0px;
	font-style:italic;
	color:#898989;
}

#footer .quote-image {
	float:left;
	margin:10px 10px 10px 0;
}

.left-sidebar .block h3 {
	background-image:url('../images/arrow-left.png');
	background-repeat:no-repeat;
	background-position:0 5px;
	padding:5px 0 10px 40px;
	margin:0;
	font-size:20px;
}

.left-sidebar .block h3 span {
	font-size:20px;
}

.left-sidebar .block .menu li {
	background-image:url("../images/plus.png");
	background-position:2px 11px;
	background-repeat:no-repeat;
	border-bottom:1px dotted #C5C5C5;
	color:#898989;
	margin:0;
	padding:9px 0 8px 25px;
}


.left-sidebar .block .menu li.expanded .menu li {
	background-image:none;
	padding-left:0;
}

.left-sidebar .block ul li.expanded {
	list-style-image:none;
	list-style-type:none;
	border-bottom:none;
	padding-bottom:0;
}

.left-sidebar .block ul li.collapsed {
	list-style-image:none;
	list-style-type:none;
}

.left-sidebar .block ul li.expanded .menu li {
	padding:5px 0 5px 25px;
	background-position:2px 8px;
}

.left-sidebar .block ul li a {
	color:#555;
	text-decoration:none;
}

.left-sidebar .block .button {
	float:right;
	margin:20px 0 15px 0;
}

.search-wrapper {
	background-image:url('../images/search-input-bg-650.png');
	background-repeat:no-repeat;
	height:39px;
}

.search-wrapper .search-input {
	background-image:url('../images/magnifier.png');
	background-repeat:no-repeat;
	height:20px;
	padding:5px 0 5px 40px;
	margin:5px 0 0 10px;
	border:none;
	font-size:14px;
	color:#bdbdbd;
}

.search-700 .search-input {
  width:560px;
}

.search-500 .search-input {
  width:360px;
}

.search-wrapper .search-button {
	float:right;
}

#edit-search-theme-form-1-wrapper {
	width:360px;
	float:left;
	margin:0;
}

.middle-content .title {
	padding-bottom:0;
}

.middle-content ul,
.middle-content ol {
	list-style:disc;
	margin:10px;
	padding:10px;
}

.middle-content ul li,
.middle-content ol li {
	margin: 0 0 10px 0;
  padding: 0 10px 0 0;
}

.middle-content-full-width {
	margin:0 0 10px 15px;
	width:955px;
}

.read-more {
	text-align:right;
	margin:10px 5px;
}

.links .node_read_more {
  display:none;
}

.comments {
	margin:10px 0;
}

.indented  {
	margin-left:0;
}

.box {
  margin:0;
  padding:0;
  background-color:#fff;
}

.views-table .views-field-counter {
  width:15px;
}

.tags ul {
  margin:0;
  padding:0;
}

.comments ul {
  margin:0;
  padding:0;
}

.right-sidebar .block ul,
.item-list ul {
  margin-left:10px;
}

.item-list ul li {
  margin:0;
  text-align:left;
}

.forum-tags ul {
  padding:0px;
  margin:0px;
}

#autocomplete {
  background-color:#fff;
}

/*button*/
.button1 {
	background-image:url('../images/bl.png');
	background-position:center left;
	background-repeat:no-repeat;
	height:25px;
	padding-left:29px;
	margin:0;
	width:100px;
}

.button2 {
	background-image:url('../images/br.png');
	background-position:center right;
	background-repeat:no-repeat;
	height:25px;
	padding-right:4px;
	margin:0;
}

.button3 {
	background-image:url('../images/bc.png');
	background-position:center left;
	background-repeat:repeat-x;
	height:21px;
	padding:4px 0 0 5px;
	font-family:verdana;
	font-size:11px;
	font-weight:normal;
	color:#fff;
	text-shadow:#FFF 0px 0px;

}

tr.even, tr.odd {
	background-color:#EEEEEE;
	border-bottom:1px solid #CCCCCC;
	padding:2px 5px;
}

tr.odd {
	background-color:#fff;
}

.field-field-biletul-zilei {
  display:none;
}

.breadcrumb-label-final {
	float:left;
	padding-left:5px;
	padding:7px;
	color:#000;
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
}
.breadcrumb {
	float:left;
	padding-bottom:0;
}

.breadcrumb a {
	float:left;
	display:block;
	padding:7px;
	color:#000;
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
}
.breadcrum-separator {
	background-image:url('/sites/all/themes/betzone/images/breadcrumb_separator.png');
	background-repeat:no-repeat;
	background-position:top left;
	width:9px;
	height:33px;
	display:block;
	float:left;
}

#comments h2 {
  font-size:16px;
  padding:0;
}

#comments .box {
  background-color:#ebebeb;
  padding:10px;
}



 /*custom css pentru node type eveniment*/
.field-label {
  background-color: #ffffff;
  color: #000000;
  displat:inline;
  float:left;
}

.field-label, .field-items {
  padding:3px 0;
}

ul.links, ol.links {
  margin: 0px;
  padding: 0px;
}

.filter-wrapper .form-item {
  padding-left: 0;
}

.field-item {
  float: left;
  margin: 0 10px 0 0;
}

.field {
  clear: both;
  display: block;
  padding: 0 0 10px 0;
}

.basic-cart-price {
  clear:both;
}

#credits {
  margin: 0 0 10px 0;
  padding: 0;
  text-align: right;
  width: 975px;
}