/**
 * @file
 * Display Suite Three Column Bricks stylesheet.
 */

.ds-above-left {
  width: 33.3%;
  float: left;
}

.ds-above-middle {
  width: 33.3%;
  float: left;
}

.ds-above-right {
  width: 33.3%;
  float: left;
}

.ds-middle {
  clear: left;
}

.ds-below-left {
  width: 33.3%;
  float: left;
}

.ds-below-middle {
  width: 33.3%;
  float: left;
}

.ds-below-right {
  width: 33.3%;
  float: left;
}

.ds-footer {
  clear: left;
}
