/* Basic styling for node subpages tabs */

.block.block-node-subpages .content ul.links {
  border-bottom: 1px solid black;
}

.block.block-node-subpages .content ul.links li {
  display: block;
  float: left;
  list-style: none;
  list-style-type: none;
  font-size: 1.2em;
  text-align: center;
}

/* Set the width of each tab based on the total number of tabs */
.block.block-node-subpages .content ul.links.items-2 li {
  width: 50%;
}
.block.block-node-subpages .content ul.links.items-3 li {
  width: 33.3%;
}
.block.block-node-subpages .content ul.links.items-4 li {
  width: 25%;
}
.block.block-node-subpages .content ul.links.items-5 li {
  width: 20%;
}
.block.block-node-subpages .content ul.links.items-6 li {
  width: 16.6%;
}
.block.block-node-subpages .content ul.links.items-7 li {
  width: 14%;
}
