.bongo-predictions tr.cambus,
.bongo-predictions tr.uiowa {
  background-color: #b5a421;
  color: #333;
}

.bongo-predictions tr.coralville {
  background-color: #0080ff;
}

.bongo-predictions tr.iowa-city,
.bongo-predictions tr.error {
  background-color: #a12223;
  color: #ffffff;
}

.bongo-predictions .direction {
  display: block;
}
