/**
*
* This stylesheet is for your less.less files. If you are not familiar with the less css preprocessor 
* go to http://lesscss.org/ to find out more. 
* http://incident57.com/less/
*
* $ sudo gem install less - :D
*
*
*
**/
/** ************************************************************************ **/
/** LESS VARIABLES **/
/** ************************************************************************ **/
/** ************************************************************************ **/
/** END LESS VARIABLES **/
/** ************************************************************************ **/
/** ************************************************************************ **/
/** MIXIN LESS CLASSES **/
/** ************************************************************************ **/
/* Image replacements */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
.hidden {
  display: none;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clear {
  clear: both;
}
.clear-left {
  clear: left;
}
.clear-left {
  clear: right;
}
/** ************************************************************************ **/
/** END MIXIN LESS CLASSES **/
/** ************************************************************************ **/
/** ************************************************************************ **/
/** TYPOGRAPHICAL STYLES
/** ************************************************************************ **/
/** ************************************************************************ **/
/** END TYPOGRAPHICAL STYLES
/** ************************************************************************ **/
/** ************************************************************************ **/
/** MAIN NAVIGATION
/** ************************************************************************ **/
#main-navigation ul {
  margin: 0px;
  padding: 0px;
}
#main-navigation ul li {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  background-image: none;
}
#main-navigation ul li a, #main-navigation ul li a:link, #main-navigation ul li a:visited {
  margin: 0px;
  padding: 0px;
}
/** ************************************************************************ **/
/** END MAIN NAVIGATION
/** ************************************************************************ **/
/** ************************************************************************ **/
/** PLINK THEME STRUCTUAL IDS
/** ************************************************************************ **/
.region-footer .inner {
  padding: 10px 15px;
}
/** ************************************************************************ **/
/** END PLINK THEME STRUCTUAL IDS
/** ************************************************************************ **/