; Example .make file that can be used to download jstree library.

core = 7.x
api = 2

libraries[jstree][download][type] = get
libraries[jstree][download][url] = https://github.com/vakata/jstree/archive/3.0.3.zip
libraries[jstree][download][subtree] = jstree-3.0.3/dist
