.word-checkbox-list {
  clear: both;
  height: auto;
  min-height: 80px;
  font-size: 14px;
  margin-bottom: 20px;
}
.word-checkbox-list  input[type="checkbox"] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.word-checkbox-list .form-checkbox + .option {
  padding: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  opacity: 0.7;
  border-radius: 5px;
  margin: 0 5px 0 0;
  display: block;
  width: auto;
  float: left;
  border: 2px solid #65c965;
  cursor: pointer;
}

.word-checkbox-list .form-item {
  float: left;
}

.word-checkbox-list .form-checkbox + .option:hover {
  opacity: 1;
}
.word-checkbox-list .form-checkbox + .option:active {
  background: #7cdc7c;
}

.word-checkbox-list  .form-checkbox:checked + .option {
  font-weight: bold;
  //border: 2px solid #7cdc7c;
  background: #7cdc7c url('../img/arrow.png') bottom center no-repeat;
  box-shadow: 1px 1px 6px green inset;
  opacity: 1;
}
.word-checkbox-list  .form-checkbox:checked + .option:hover {
  background: #7cdc7c url('../img/arrow-trans.png') bottom center no-repeat;
}
.word-checkbox-list  .form-checkbox:checked + .option:active {
  background: #7cdc7c;
}

.word-checkbox-list  .form-checkbox:disabled + .option {
  font-weight: normal;
  text-decoration: line-through;
  color: grey;
  background: none;
  border: 2px solid lightgrey;
  cursor: default;
  box-shadow: none;
  opacity: 1;
}
