.rotoslider {
  height: 265px;
  overflow: hidden;
  position: relative;
  width: 690px;
  z-index: 0;
}
.rotoslider img.rotoslider-image, .rotoslider .rotoslider-images, .rotoslider .rotoslider-images img {
  height: 265px;
  overflow: hidden;
  position: absolute;
}
.rotoslider img.rotoslider-image {
  z-index: 1;
}
.rotoslider .rotoslider-images img {
  display: none;
  z-index: 11;
}
.rotoslider .rotoslider-images img.active {
  display: block;
}
.rotoslider .rotoslider-descriptions > div {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(82, 29, 95, 0.7);
  color: white;
  left: 0;
  max-height: 100px;
  padding: 10px;
  position: absolute;
}
.rotoslider .rotoslider-descriptions .heading {
  font-size: 1.5em;
  line-height: 1;
}
.rotoslider .rotoslider-descriptions .text p:first-child {
  margin-top: 0;
}
.rotoslider .rotoslider-descriptions .text p:last-child {
  margin-bottom: 0;
}
.rotoslider .rotoslider-description {
  z-index: 2;
}
.rotoslider .rotoslider-text {
  bottom: 0;
  display: none;
  width: 478px;
  z-index: 12;
}
.rotoslider .rotoslider-text.active {
  display: block;
}
.rotoslider .rotoslider-menu {
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 212px;
  z-index: 30;
}
.rotoslider .rotoslider-menu .heading {
  background-color: #ffcc00;
  font-weight: bold;
  height: 18px;
  left: 0;
  letter-spacing: 1px;
  padding: 5px 0;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  width: 212px;
  z-index: 50;
}
.rotoslider .rotoslider-nav {
  left: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 212px;
  z-index: 40;
}
.rotoslider .rotoslider-nav li {
  left: 0;
  position: relative;
  top: 0;
}
.rotoslider .rotoslider-nav li a {
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
  border-bottom-width: 0;
  color: #999999;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}
.rotoslider .rotoslider-nav li a:hover {
  background-color: rgba(0, 0, 0, 0.4);
  color: #cccccc;
}
.rotoslider .rotoslider-nav li a.active {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.rotoslider-text-nav img.rotoslider-image,
.rotoslider-text-nav .rotoslider-images,
.rotoslider-text-nav .rotoslider-images img {
  width: inherit;
}
.rotoslider-text-nav .rotoslider-description {
  line-height: 1.4;
  top: 10px;
  width: 200px;
}
.rotoslider-text-nav .rotoslider-menu {
  border-bottom: 6px solid #ffcc00;
  height: 259px;
}
.rotoslider-text-nav .rotoslider-nav {
  height: 231px;
  top: 28px;
}
.rotoslider-text-nav .rotoslider-nav li {
  margin: 0 0 2px;
}
.rotoslider-text-nav .rotoslider-nav li a {
  padding: 0.5em 0;
}
