/**
 * @file
 * File previewer using ViewerJS Library.
 */

.viewerjs-item-wrapper {
  border: 1px solid #c0c0c0;
  font-family: 'Open Sans', sans-serif;
  height: 118px;
  overflow: hidden;
  width: 178px;
  font-size: 12px;
  font-weight: normal;
  color: #fff;
  background: no-repeat center bottom;
}

.viewerjs-item-wrapper header {
  position: relative;
}

.name {
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 32px;
  background-color: #414f62;
}

.name > img {
  display: block;
  height: 16px;
  left: 10px;
  position: relative;
  top: 8px;
  width: 16px;
  font-weight: normal;
}

.name > b {
  display: block;
  left: 32px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  top: -11px;
  white-space: nowrap;
  width: 134px;
  font-weight: normal;
}

.size {
  transition: all 0.1s linear 0s;
  background-color: #414f62;
  color: #ffffff;
  display: block;
  font-size: 10px;
  height: 22px;
  border-bottom: 1px solid #c0c0c0;
}

.size > ul.actions {
  list-style: none outside none !important;
  margin: 0 !important;
  padding: 0 !important;
}

.size > ul.actions > li {
  transition: all 0.1s ease-in 0s;
  display: inline-block;
  overflow: hidden;
  margin-left: 3px;
  text-indent: 0;
  height: 22px;
}

.size > ul.actions > li:first-child {
  overflow: hidden;
  text-align: left;
  margin-left: 0;
  text-indent: 10px;
  font-size: 10px;
}

.size > ul.actions > li > a,
.size > ul.actions > li > a:visited,
.size > ul.actions > li > a:focus,
.size > ul.actions > li > a:active {
  text-decoration: none;
  color: #fff;
}

.size > ul.actions > li > a:hover {
  text-decoration: none;
  color: #fff;
  text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.4);
}

.viewerjs-item-wrapper:hover .size {
  color: #ffffff;
  display: block;
  font-size: 10px;
  height: 42px;
}

.viewerjs-item-wrapper:hover .size {
  height: 89px;
  background-color: rgba(65, 79, 98, 0.80);
}
.viewerjs-overlay-fog {
  background-color: rgba(0, 0, 0, 0.6);
}

/** COLORS **/
.viewerjs-item-wrapper.magenta .name,
.viewerjs-item-wrapper.magenta .size {
  background-color: #b4062b;
}

.viewerjs-item-wrapper.magenta:hover .size {
  background-color: rgba(180, 6, 43, 0.80);
}

.viewerjs-item-wrapper.green .name,
.viewerjs-item-wrapper.green .size {
  background-color: #3d7d3d;
}

.viewerjs-item-wrapper.green:hover .size {
  background-color: rgba(61, 125, 61, 0.80);
}

.viewerjs-item-wrapper.orange .name,
.viewerjs-item-wrapper.orange .size {
  background-color: #d49523;
}

.viewerjs-item-wrapper.orange:hover .size {
  background-color: rgba(212, 149, 35, 0.80);
}

.viewerjs-item-wrapper.blue .name,
.viewerjs-item-wrapper.blue .size {
  background-color: #89a5b1;
}

.viewerjs-item-wrapper.blue:hover .size {
  background-color: rgba(137, 165, 177, 0.80);
}
