
.elearning-question-elearning-dragndrop .form-type-textfield{
 display:none;
}

.elearning-dragndrop-destination{
  width:80px;
  height:80px;
  margin:10px;
  border: 1px dashed #000000;
  vertical-align:bottom;
  display:inline-block;
  text-align:center;
  position:relative;
}
.elearning-dragndrop-destination.hovering{
  border: 1px solid #000;
}

.elearning-dragndrop-destination.dropped{
  border: 2px solid #000;
}

.elearning-dragndrop-origin{
  display:inline-block;
  position:relative;
}

.elearning-dragndrop-origin-wrapper{
  border: 1px dashed #000;
}

.elearning-dragndrop-origin-wrapper.hovering{
     border: 1px solid #000;
}
