.form-item .ui-dropdownchecklist-dropcontainer input {
  margin: 4px;
}
.form-item .ui-dropdownchecklist-dropcontainer label {
  display: inline;
  font-size: inherit;
  font-weight: normal;
}

.ui-state-hover {
  background: #fff;
  border-color: #999;
}
