
.ui-dialog-titlebar {
  background-color: #074C96;
  padding: 1em;
  display: block;
}

.ui-dialog-titlebar > span.ui-dialog-title {
  color: white;
  font-size: 110%;
  font-weight: bold;
  display: inline-block;
  width: 440px;
}

.ui-dialog-titlebar-close {
  color: white;
  float:right;
  position: relative;
  margin-right: 10px;
}

.ui-dialog-titlebar-close > span img {
    position: absolute;
    top: 3px;
    margin-left: 2px;
}

.ui-dialog-content {
  background-color: white;
  padding: 1em 1em 0;
  position: relative;
  clear: both;
}

.ui-dialog {
  width: 600px !important;
}

.ui-widget-overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  background-color: black;
}
