body,
caption,
th,
td,
input,
textarea,
select,
option,
legend,
fieldset {
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
}

.fieldset-wrapper > label {
  font-size: 12px;
}

label.htab_title {
  font-size: 16px;
  color: #666;
}

.content form {
  position: relative;
  margin-top: 30px;
}

#console.clearfix {
  margin: 9px 0 40px 0 !important;
}

div.error .form_help, div.error .form-recommended, div.error .form-required {
  display: none;
}

.langstring_autocomplete_row {
  border: 1px solid black;
  color: #575757;
  font-family: Arial;
  padding: 5px;
}

table.archibald-technical {
  border: 0;
  margin: 0;
}

#archibald_technical_location-wrapper .fieldset-legend {
  text-transform: none;
}

.archibald_duration table {
  width: auto;
}

.archibald_duration table th {
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px;
}

.archibald_duration table td {
  padding: 0px;
}

#archibald_technical_location-wrapper > fieldset .fieldset-legend {
  padding-left: 0;
}

#archibald_technical_location-wrapper > fieldset {
  border: 0;
}

#archibald_technical_location-wrapper > fieldset fieldset {
  background: #fff !important;
}

#archibald_technical_location-wrapper .form-wrapper {
  padding-top: 18px;
}

#archibald_technical_location-wrapper .fieldset-wrapper {
  margin: 0;
  padding: 0;
}

#archibald_technical_location-wrapper .fieldset-wrapper div {
  display: inline-block;
}

#archibald_technical_location-wrapper .form-item {
  padding-left: 14px;
}

.archibald_technical_duration div > span.legend{
  width: 54px;
  display: inline-block;
}

.archibald_technical_duration div > span.select{
  width: 54px;
  display: inline;
}

.archibald_technical_duration div span.sep{
  width: 10px;
  text-align: center;
  display: inline-block;
}

.form-item-technical-size, .form-item-technical-sizeunit, .form-item-technical-format {
  display: inline-block;
}

.archibald_classification .form-type-checkbox,
#edit-education .form-type-checkbox,
#edit-general .form-type-checkbox {
  padding: 0px;
}

.archibald_education_td,
.archibald_general_td {
  text-align: left;
  vertical-align: top;
}

.archibald_education_td_left {
  width: 380px;
}

.archibald_education_td_left .learningResourceType_pedagogical {
  float: right;
  width: 210px;
}

.archibald_education_td_left .learningResourceType_documentary {
  float: left;
  width: 170px;
}

#archibald_general_identifier-wrapper > label{
  margin-top: 10px;
}

#archibald_general_identifier-wrapper fieldset{
  padding-top: 6px;
  margin-top: 2px;
}

#archibald_general_identifier-wrapper .fieldset-legend{
  text-transform: none;
}

table.archibald_general_identifier_item {
  border: none;
}

div.archibald_relation .archibald_remove_relation {
  position: absolute;
  top: 6px;
  right: 6px;
  background-image: url(../images/delete.png);
  display: inline-block;
  height: 16px;
  width: 16px;
  cursor: pointer;
}

table.archibald_relations_relation_item select {
  padding-left: 0;
}

table.archibald_relations_relation_item td {
  padding: 0;
  padding-bottom: 8px;
}

div.archibald_relation {
  border: 1px solid #ddd;
  padding: 4px;
  margin-top: 12px;
  position: relative;
}

td.archibald_relation_catalog_td {
  width: 62px;
  max-width: 62px;
}

td.archibald_relation_catalog_td select{
  float: left;
  margin-right: 2px;
}


.archibald_general_identifier_item .form-item,
.archibald_relations_relation_item .form-item,
.archibald_life_cycle_contribute_item .form-item,
#archibald_classification .form-item {
  margin: 0px;
  padding: 0px;
}

.fieldset-wrapper input[type='submit'] {
  margin-top: 0;
}

#archibald_general_keyword-wrapper fieldset, #archibald_general_coverage-wrapper fieldset, #archibald_life_cycle_contribute-wrapper fieldset, #archibald_relations_relation-wrapper fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

#edit-life-cycle .fieldset-wrapper, #edit-relations .fieldset-wrapper {
  padding: 0;
  margin: 0;
  border: none;
}

#edit-life-cycle .fieldset-wrapper > label, #edit-relations-relation .fieldset-wrapper > label {
  margin-bottom: 12px;
}

table.archibald_life_cycle_contribute_item, table.archibald_relations_relation_item {
  border: none;
  margin: 0;
  margin-top: 4px;
  margin-bottom: 8px;
  margin-left: 20px;
  width: 90%;
}

table.archibald_life_cycle_contribute_item td {
  padding: 0px;
}

.archibald_general_identifier_item .tr_upper td {
  padding-bottom: 1px;
}

.archibald_general_identifier_item .tr_lower td {
  padding-top: 1px;
}

.archibald_general_td_bottom_left,
.archibald_general_td_bottom_middle,
.archibald_general_td_bottom_right {
  width: 33%;
}

#archibald_general_keyword .form-item,
#archibald_general_coverage .form-item {
  margin: 0px;
  padding: 0px;
  padding-bottom: 6px;
}

.archibald_general_td_top,
.archibald_general_td_bottom_left,
.archibald_general_td_bottom_middle,
.archibald_general_td_bottom_right,
.archibald_general_td_bottom_bottom_right {
  vertical-align: top;
}

.archibald_general_td_bottom_bottom_right {
  background: none repeat scroll 0 0 #f9f9f9;
}

#edit-general-preview-image-remove-button {
  clear: left;
  display: block;
  margin-top: 2px;
  margin-bottom: 12px;
}

.archibald_form_submit, .archibald_form_submit_top {
  margin-left: 13.5em;
}

input.form-submit.archibald_form_submit {
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
  position: absolute;
  bottom: -37px;
  right: 0;
}

input.form-submit.archibald_form_submit_top {
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
  position: absolute;
  top: -37px;
  right: 0;
}

#archibald-choose-contributor-add-form .form-item {
  margin: 0px;
  padding: 2px;
}

#archibald_rights .form-item {
  padding: 2px;
  margin: 0px;
}

.archibald_classification ul.tabs {
  background: transparent;
  margin: 1em 0 0 0;
  padding: 0 0 0 0px;
}

.archibald_classification ul.tabs li.tab {
  background-color: #edede9;
  border: 0;
  margin: 0 16px 0 0;
  padding: 0;
  text-transform: uppercase;
}

.archibald_classification ul.tabs li.tab span {
  background: transparent;
  border-width: 0;
  color: #777777;
  font-weight: normal;
  display: block;
  height: 25px;
  line-height: 22px;
  margin: 0;
  padding: 3px 13px 0 10px;
  width: 200px;
}

.archibald_classification_entrys {
  background-color: #edede9;
  padding: 10px;
  margin-top: -2px;
}

.archibald_classification_entry {
  border-top: 2px solid #ffffff;
  margin-bottom: 2px;
  margin-top: 2px;
}

.archibald_classification_remove {
  float: right;
  padding: 0 3px 2px 0;
}

.form-item-classification-context .form-type-checkbox {
  display: inline-block;
  width: 40%;
}

#vertical-tab-button-edit-life-cycle strong ,
#vertical-tab-button-edit-keywords strong {
  margin-left: 15px;
}

.archibald_education_typical_age_range {
  margin-bottom: 26px;
}

.archibald_classification_dialog_classifications {
  float: right;
  width: 600px;
}

.archibald_classification_ajax_form {
  float: left;
  margin-bottom: 10px;
}

#archibald-classification-ajax-form #edit-competences {
  margin-left: 15em;
  width: 320px;
}
#proposal_selelector .proposal_option_block,
#details_selelector .details_option_block {
  width: 320px;
}

#archibald-classification-ajax-form #edit-competences .form-type-checkbox input {
  float: left;
}

#archibald-classification-ajax-form select {
  width: 320px;
}

#archibald-classification-ajax-form #edit-competences .form-type-checkbox label {
  display: block;
  margin-left: 19px;
  margin-top: -5px;
}

.form-item-general-title,
.form-item-general-description,
.form-item-general-otherPlattformRequirements,
.form-item-education-description {
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}

.action-edit-table td {
  width: 19px;
}

.vertical-tab-button-error a {
  border: 1px solid #FC6F5D !important;
}

.identifier_sort_element {
  position: relative;
}

.identifier_sort_element_handle {
    background: url("../../../../../misc/draggable.png") no-repeat scroll 6px 9px transparent;
    height: 13px;

    padding: 0.42em 0.5em;
    width: 13px;
    display: inline-block;
    position: absolute;
    top: 10%;
    left:0px;
}

.identifier_sort_element_handle:hover {
  cursor: crosshair;
  background-position: 6px -11px;
}

.curriculums {
  font-size: 12px;
  padding-left: 12px;
  padding-top: 20px;
  font-weight: 800;
  color: #000;
}