.fieldset-wrapper td:last-child{
	border-right: none;
}


/*#archibald_general_identifier .form-text.error{
	border: 1px solid #ccc !important;
}*/

#archibald_general_identifier .form-select.error{
	border: 1px solid #ccc !important;
}

#archibald_general_identifier .form-file.error{
	border: 1px solid #ccc !important;
}

fieldset.error{
	border: 2px solid #f00;
}

.form_help{
	cursor: pointer;
	background: url(../images/help.png) no-repeat 0px 0px;
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-left: 4px;
}

div.form-item-education-intendedEndUserRole {
	padding-top: 24px !important;
}

td.archibald_education_td_left label[for='edit-education-learningresourcetype-pedagogical'] {
	margin-bottom: 4px !important;
}