
/**
 * Reset css to be neutral across various browsers.
 * Details: http://meyerweb.com/eric/tools/css/reset/
 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

/**
 * HTML elements
 */
body {
  font-size: 12px;
  line-height: 1.5em;
  font-family:  "Trebuchet MS", Verdana, 'Helvetica Neue', Helvetica, Arial, Geneva, Verdana, 'Liberation Sans', Thonburi, Garuda, Loma, Waree, 'Lucida Grande', Tahoma, Freesans, sans-serif;
  font: normal 82.5% "Trebuchet MS",Verdana,sans-serif;
}

a:focus {
  outline: 1px dotted invert;
}

hr {
  clear: both;
  height: 0;
  border-color: #55;
  border-style: solid;
  border-width: 1px 0 0;
}

ol, ul,
p, dl, dd, hr, pre,
h1, h2, h3, h4, h5, h6,
table, address, fieldset, form {
  margin-bottom: 20px;
}

ol {
  list-style: decimal;
  padding-left: 25px;
}

ul {
  list-style: circle;
  padding-left: 25px;
}

ol ol,
ul ol {
  list-style: upper-alpha;
}

ul ol,
ul ul {
  list-style: square;
}

ol ol ol,
ol ul ol,
ul ol ol,
ul ul ol {
  list-style: lower-roman;
}

ol ol ul
ol ul ul
ul ol ul,
ul ul ul {
  list-style: disc;
}

li ol,
li ul {
  margin-bottom: 0;
}

dd {
  margin-left: 40px;
}

input, select {
  cursor: pointer;
}

fieldset {
  padding: 0.25em 1em;
  border: #333 solid 1px;
}

legend {
  padding: 0.25em 0.5em;
}

th, td {
  padding: 5px 10px;
  vertical-align: top;
}

thead th {
  border-bottom: #6f6f6f solid 2px;
}

code {
  font-size: 0.9em;
}

/**
 * General Links
 */
a, a:active, a:link {
  color: #ccc;
  text-decoration: none;
}

a:visited {
  color: #777;
  text-decoration: none;
}

a:hover, a.active, li a.active  {
  color: #8DCA3F;
}

/**
 * Typography
 */

/* Sans-serif family */
h1, h2, h3, h4, h5, h6,
#main-menu ul li a,
#main h1.title,
#main h2.title a,
#sidebar, #footer,
#main #comments .box h2 {
  font-family: 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, Geneva, Verdana, 'Liberation Sans', Thonburi, Garuda, Loma, Waree, 'Lucida Grande', Tahoma, Freesans, sans-serif;
}

/* Serif family */
blockquote,
#header #site-name a,
#header #slogan, #mission {
  font-family: Inkburrow, Georgia, 'Times New Roman', Times, Century, Thonburi, Norasi, Kinnari, Tahoma, serif;
}

p {line-height: 1.75;}

/* Font size, style and spacing */
h1 {
  font-size: 24px;
  line-height: 1.5em;
}

h2 {
  font-size: 18px;
  line-height: 1.5em;
}

h3 {
  font-size: 15px;
  line-height: 1.5em;
}

h4, h5, h6 {
  font-size: 1em;
  line-height: 1.5em;
}

blockquote {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.6em;
  font-style: italic;
}

#header #slogan {
  font-weight: normal;
  font: normal 4em Tahoma,sans-serif;
  font-size: 1.25em;
  line-height: 2.2em;
}

#main-menu ul {
  background: none repeat scroll 0 0 #000;
}

/* Header Primary Links */
#main-menu ul li a {
  font-weight: bold;
  line-height: 35px;
  text-decoration: none;
}

/* Main Content and Node */
#mission {
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1.6em;
  font-style: italic;
}

#main .title {
  font-weight: normal;
  font-size: 25px;
  line-height: 40px;
}

#main h2 a {
  font-size: 22px;
  text-decoration: none;
}

/* Sidebar */
#sidebar h2 {
  font-weight: normal;
  font-size: 1.3em;
  line-height: 1.2em;
}

/* Footer */
#footer h2 {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2em;
}
#site-credit {
  font-size: 0.9em;
}

/* Comments */
#main #comments .box h2 {
  font-weight: normal;
  font-size: 50px;
  line-height: 60px;
}
