@import compass/css3

/* Declare variables
$blue: #89C
$purple: #A7A
$red: #B66
$light: #CCC
$medium: #666
$dark: #222
$rem: 14px
$half: 7px

/* Global styles */
body
  background: $blue
  background: url( '../images/background.svg' )
  color: $light
  font-family: sans-serif
  font-size: $rem
  line-height: 1.5
  margin: 0

h1,
h2,
h3,
h4,
h5,
h6
  font:
    family: Lobster, serif
    weight: normal
  margin-top: 0
  +text-shadow( 0 1px 0 #000 )

a
  border-bottom: 1px solid $medium
  color: $blue
  text-decoration: none
  +transition-duration( 0.2s )

  &:visited
    color: $purple

  &:hover
    border-color: $red
    color: $red

/* Forms */
input,
button,
textarea,
select,
.pager a
  border: 1px solid $light
  +border-radius( 3px )
  color: $dark
  font-size: $rem
  padding: $half

select
  background: $light
  +background-image( linear-gradient(#FFF, #BBB) )
  cursor: pointer
  padding: $half $rem
  text-shadow: 0 1px 0 #FFF

input[type="submit"],
input[type="cancel"],
input[type="button"],
button,
.pager a
  background: $light
  +background-image( linear-gradient(#FFF, #BBB) )
  cursor: pointer
  font-weight: bold
  padding: $half $rem
  text-shadow: 0 1px 0 #FFF
  white-space: nowrap

  &:hover
    background-image: none

  &:active
    background-image: none
    box-shadow: inset 0 0 $rem $medium

kbd
  background: $light
  +background-image( linear-gradient(#FFF, #BBB) )
  +box-shadow( 1px 2px 0 #666 )
  font-family: sans-serif
  font-size: 13px
  padding: 5px 10px
  text-shadow: 0 1px 0 #FFF

/* Tables */
table
  border-collapse: collapse
  border-spacing: 0
  margin-bottom: $rem

th,
td
  border-bottom: 1px solid #666
  padding: $half

th
  background-color: #000
  font-weight: bold
  text-align: left

/* Drupal overrides */
tr.even,
tr.odd
  background: none

table.sticky-header
  background-color: #000

/* Code */
pre,
code,
samp
  background: #000
  border: 1px solid #333
  border-radius: 3px
  overflow: auto
  padding: 3px 7px
  word-wrap: normal

/* Indented stuffs */
ul,
dl,
ol
  padding-left: $rem + $half

li,
dt,
dd
  margin-bottom: $half

dt
  font-weight: bold

dd
  margin-left: $rem

blockquote
  border-left: 4px solid #8C8
  font-style: italic
  margin-left: $rem
  padding-left: $rem

blockquote cite,
blockquote em
  font-weight: bold

img
  +border-radius( 3px )
  max-width: 100%

/* Whole Page */
#page
  background: $dark
  background: rgba( #000, 0.7 )
  border-radius: $rem
  +box-shadow( 0 0 $rem #000 )
  margin: 4%
  overflow: hidden
  padding: 4%

/* Header */
#skip-link a
  background: $dark
  padding: $half $rem

#home-link
  border: none
  float: left

#home-link img
  float: left
  margin-right: $rem

#name-and-slogan
  float: left

#site-slogan
  color: $light
  margin: 0
  +text-shadow( 0 1px 0 #000 )
  white-space: nowrap

#site-name
  color: $light
  font:
    family: Lobster, serif
    size: 2.5 * $rem
    weight: normal
  margin: 0
  +text-shadow( 0 1px 0 #000 )
  white-space: nowrap

.region-header
  float: right

#page-breadcrumb
  margin-bottom: $rem

/* Content */
.title
  border-bottom: 1px solid $medium

/* Menu */
#page-menu ul
  border-bottom: 1px solid $medium
  clear: both
  list-style-type: none
  overflow: hidden
  padding: 0

#page-menu li
  margin: 0
  padding: 0

#page-menu li a
  border-bottom: 4px solid rgba( #000, 0 )
  color: $light
  display: block
  float: left
  padding: $half $rem

  &.active
    border-bottom: 4px solid $blue
    color: $blue

  &:hover
    border-bottom: 4px solid $blue
    color: $blue

#footer-menu ul
  list-style-type: none
  margin: 0
  padding: 0

  li
    border-left: 1px solid $light
    float: left
    margin-left: $half
    padding-left: $half

  li.first
    border: none
    margin: 0
    padding: 0

/* Drupal list overrides */
li a.active
  color: $light

  &:hover
    color: $red

ul.tabs li
  line-height: 2

ul.tabs li a
  +border-radius( 5px 5px 0 0 )
  color: $dark
  padding: $half $rem

  &.active
    border-bottom: none

  &:hover
    color: $medium

/* Sidebar */
.block
  margin-bottom: $rem

.sidebar
  width: 25%

.region-sidebar-first
  float: left
  padding-right: 5%

.region-sidebar-second
  float: right
  padding-left: 5%

.one-sidebar #page-main
  float: left
  width: 65%

.sidebar-first #page-main
  margin-left: 30%
  margin-right: -95%

.two-sidebars .sidebar
  width: 20%

.two-sidebars #page-main
  float: left
  margin-left: 25%
  margin-right: -80%
  width: 50%

/* Footer */
#page-footer
  border-top: 1px solid $medium
  clear: both
  padding-top: $rem

.user-picture
  float: left
  margin-right: $rem

footer[role="contentinfo"]
  font-style: italic
  margin-bottom: $rem
  overflow: hidden

.item-list .pager
  margin: 1em

  li
    display: inline-block
    margin: $half 0
    padding: 0

/* Smaller screens */
@media screen and (max-width: 700px)
  .region-sidebar-first,
  .region-sidebar-second,
  .one-sidebar #page-main,
  .two-sidebars #page-main
    float: none
    margin: 0
    width: 100%

