.flag-lessons_recommend a.flag-action,
.flag-lessons-recommend a.flag-action{
  color: transparent; 
  background: url(recommend.png) no-repeat left bottom;
  float:right;
  width:60px;
  height:35px;
}
.flag-lessons_recommend a.flag-action:hover,
.flag-lessons-recommend a.flag-action:hover{
  background: url(recommend.png) no-repeat left bottom;
}

.flag-lessons_recommend a.unflag-action,
.flag-lessons-recommend a.unflag-action{
  color: transparent; 
  background: url(recommend.png) no-repeat left top;
  float:right;
  width:60px;
  height:35px;
}
.flag-lessons_recommend a.unflag-action:hover,
.flag-lessons-recommend a.unflag-action:hover{
  background: url(recommend.png) no-repeat left top;
}
