/**
 * @file
 */

/**
 * Block Styling
 */
 
/** Stats **/
#user-details-authored-admin-form #edit-authored-stats .form-checkbox {
  float: left;
  margin-right: 5px;
  margin-top: 4px;
}
#user-details-authored-admin-form #edit-authored-stats label.option {
  float: left;
  margin-right: 5px;
}
#user-details-authored-admin-form #edit-authored-stats .description {
  padding-top: 3px;
}

/** Built-in Links **/
#user-details-authored-admin-form #edit-authored-builtin-links .form-type-textfield, #user-details-authored-admin-form #edit-authored-builtin-links .form-disabled {
  border-bottom: 1px solid;
  padding-bottom: 10px;
}
#user-details-authored-admin-form #edit-authored-builtin-links .form-type-textfield label {
  float: left;
}
#user-details-authored-admin-form #edit-authored-builtin-links .form-type-textfield input {
  margin-left: 10px;
  padding: 0;
  width: 80%;
}
#user-details-authored-admin-form #edit-authored-builtin-links .form-type-textfield .description {
  margin-left: 95px;
  text-align: center;
  width: 80%;
}
#user-details-authored-admin-form #edit-authored-builtin-links .form-checkbox {
  float: left;
  margin-right: 5px;
  margin-top: 4px;
}
#user-details-authored-admin-form #edit-authored-builtin-links label.option {
  float: left;
  margin-right: 5px;
}
#user-details-authored-admin-form #edit-authored-builtin-links .description {
  padding-top: 3px;
}

/** Costum Links **/
#user-details-authored-admin-form #edit-authored-custom-links div.header {
  float: left;
  padding-right: 20px;
}
#user-details-authored-admin-form #edit-authored-custom-links .form-type-select label {
  float: left;
  padding-right: 5px;
}
#user-details-authored-admin-form #edit-authored-custom-links .form-type-textfield label {
  float: left;
}
#user-details-authored-admin-form #edit-authored-custom-links .form-type-textfield input {
  margin-left: 10px;
  padding: 0;
  width: 80%;
}
#user-details-authored-admin-form #edit-authored-custom-links .form-type-textfield .description {
  margin-left: 95px;
  text-align: center;
  width: 80%;
}
#user-details-authored-admin-form #edit-authored-custom-links .form-checkbox {
  float: left;
  margin-right: 5px;
  margin-top: 4px;
}
#user-details-authored-admin-form #edit-authored-custom-links label.option {
  float: left;
  margin-right: 5px;
}
#user-details-authored-admin-form #edit-authored-custom-links .description {
  padding-top: 3px;
}
#user-details-authored-admin-form #edit-authored-custom-links .form-item-user-details-authored-customlinkone-imgtitle,
#user-details-authored-admin-form #edit-authored-custom-links .form-item-user-details-authored-customlinktwo-imgtitle,
#user-details-authored-admin-form #edit-authored-custom-links .form-item-user-details-authored-customlinkthree-imgtitle,
#user-details-authored-admin-form #edit-authored-custom-links .form-item-user-details-authored-customlinkfour-imgtitle {
  padding-bottom: 15px;
  border-bottom: 1px solid;
}

/** Content **/
#user-details-authored-admin-form #edit-authored-content .form-checkbox {
  float: left;
  margin-right: 5px;
  margin-top: 4px;
}
#user-details-authored-admin-form #edit-authored-content label.option {
  float: left;
  margin-right: 5px;
}
#user-details-authored-admin-form #edit-authored-content .description {
  padding-top: 3px;
}
#user-details-authored-admin-form #edit-authored-content .form-item-user-details-authored-content-amount label {
  padding-right: 5px;
  float: left;
  padding-top: 3px;
}