#error-details {
  border: medium none;
}

#error-details tr td {
  border: medium none;
  border-bottom: 1px solid #eee;
  padding: 7px 0;
  vertical-align: top;
}

#error-details tr td:first-child {
  font-weight: bold;
}

#occurrences {
  margin: 0;
}

#occurrences li {
  list-style: none outside none;
  clear: both;
  margin-bottom: 10px;
  padding: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-raduis: 3px;
  border-radius: 3px;
}

#occurrences li:nth-child(2n) {
  background: #f3f3f3;
}

#occurrences li dd {
  margin-left: 90px;
  word-wrap: break-word;
  padding-bottom: 3px;
}

#occurrences li dt {
  float: left;
  clear: left;
  width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  text-align: right;
}

#error-list {
  position: relative;
}

#error-list li {
  list-style: none;
  border-bottom: 1px solid #eee;
  position: relative;
  padding: 5px 0 7px 0;
  overflow: hidden;
}

#error-list li p {
  margin: 0px;
}

#error-list li .row-count {
  color: #777777;
  font-size: 0.9em;
  position: absolute;
  right: 0;
  text-align: right;
  top: 10px;
}

#error-list li .details {
  color: #888;
  font-size: 11px;
}

.form-item-browser,
.form-item-platform {
  float: left; /* LTR */
  padding-right: .8em; /* LTR */
  margin: 0.1em;
  width: 15em;
}

#jserror-filter-form .form-type-select select {
  width: 100%;
}

#jserror-filter-form .form-actions {
  float: left;
  padding: 3ex 0 0 1em;
}
