
/**
 * @file
 * Styles for Airy Blue theme.
 */

/* General Styles / Typography ---------------------------------------------- */
body {
  font-family: Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
  font-size: 100%;
}

#page {
  font-size: .923em;
  line-height: 1.428em;
}

pre, code {
  background-color: #eee;
  font-size: .9em;
  font-family: "Bitstream Vera Sans Mono", "Courier New", monospace;
}

pre {
  border: 1px solid #bbb;
  margin: 10px;
  padding: 20px;
  font-size: .95em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Warnock Pro", Georgia, Times, serif;
  font-weight: normal;
  text-shadow: 1px 1px 1px #999;
}

h1 {
  font-size: 2.5em;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 0.2em;
}

h2 {
  font-size: 2em;
  line-height: 1.3em;
  margin-top: 0.667em;
  margin-bottom: 0.667em;
}

h3 {
  border-bottom: 1px solid #999;
  font-size: 1.3em;
  line-height: 1.3em;
  margin-top: 1.4em;
  margin-bottom: 0.1em;
}

h4, h5, h6 {
  font-size: 1.1em;
  line-height: 1.3em;
  margin-top: 0.909em;
  margin-bottom: 0.909em;
}

p, ul, ol, dl, pre, table, fieldset {
  margin: 1em 0;
}

blockquote {
  margin: 1em 3em;
  padding: .15em 1em;
  border-left: 3px solid #7777FF;
  background-color: #EEEEFF;
}

ul, ol {
  margin-left: 0;
  padding-left: 2em; /* LTR */
}

.block ul,
.item-list ul {
  margin: 1em 0;
  padding: 0 0 0 2em; /* LTR */
}

ul ul, ul ol,
ol ol, ol ul,
.block ul ul, .block ul ol,
.block ol ol, .block ol ul,
.item-list ul ul, .item-list ul ol,
.item-list ol ol, .item-list ol ul {
  margin: 0;
}

li {
  margin: .8em 0;
  padding: 0;
}

.item-list ul li {
  margin: 0;
  padding: 0;
  list-style: inherit;
}

ul.menu li,
li.expanded,
li.collapsed,
li.leaf {
  margin: 0;
  padding: 0;
}

ul          { list-style-type: disc; }
ul ul       { list-style-type: circle; }
ul ul ul    { list-style-type: square; }
ul ul ul ul { list-style-type: circle; }
ol          { list-style-type: decimal; }
ol ol       { list-style-type: lower-alpha; }
ol ol ol    { list-style-type: decimal; }

dt {
  margin: 0;
  padding: 0;
}

dd {
  margin: 0 0 0 2em;
  padding: 0;
}

img {
  border: 0;
}

hr {
  border: 0;
  height: 1px;
  background-color: #999;
}

/* Links */
a:link {
  color: #0000EE;
}

a:visited {
  color: #0000AA;
}

a:hover,
a:focus {
  color: #0077FF;
}

a:active {
}

/* Tables */
table {
  border-collapse: collapse;
  overflow: scroll;
  width: 100%;
  line-height: 1.25em;
}

th,
thead th,
tbody th {
  text-align: left; /* LTR */
  padding: 3px;
  border-bottom: none;
}

tbody {
  border-top: none;
}

td {
  padding: 3px;
}

/* Forms */
form {
  margin: 0;
  padding: 0;
}

fieldset {
  margin: 1em 0;
  padding: 0.25em 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input,
textarea {
  font-size: .923em;
}

input.form-autocomplete,
input.form-text,
input.form-file,
textarea.form-textarea,
select.form-select {
  padding: 2px;
  border: 1px solid #ccc;
  border-top-color: #999;
  border-radius: 3px;
  background: #fff;
}

fieldset .form-item {
  margin: .25em .25em .5em;
}

.fieldset-legend {
  padding: 0 .25em;
  font-weight: bold;
}

.form-item .description {
  color: #777;
  font-size: 85%;
  line-height: 1.4em;
  padding-top: .25em;
}

.form-submit {
  font-size: 1.35em;
  margin-right: .5em;
}

/* Layout & Backgrounds ----------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
}

#page-wrapper {
  background: transparent url(../images/page-bg.png) top left repeat-x;
}

#page {
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 960px;
}

#header, /* Add l/r padding */
#navigation,
#main-wrapper,
#footer {
  margin: 0 10px;
  position: relative;
}

#header {
  background: url(../images/header.png) no-repeat top left;
  height: 171px;
  position: relative;
}

#header .section {
  color: #fff;
  height: 114px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

#logo {
  float: left; /* LTR */
  left: 10px;
  position: absolute;
  top: 14px;
}

#site-name {
  color: #fff;
  font-family: "Warnock Pro", Georgia, Times, serif;
  margin: 0;
  padding-top: 25px;
  font-size: 3.5em;
  font-weight: normal;
  line-height: 1.3em;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}

#site-name a:link,
#site-name a:visited,
#site-name a:hover {
  color: #FFF;
  text-decoration: none;
}

#navigation {
  position: absolute;
  left: 5px;
  top: 122px;
  width: 100%;
}

/* Messages */
div.messages {
  margin: 0 0 1em;
}

/* Content */
#content {
  margin-top: 10px;
	overflow: visible; /* Allow main area to display content wider than main area */
}

#content,
.no-sidebars #content {
  float: left; /* LTR */
  width: 940px;
  margin-left: 0; /* LTR */
  margin-right: -940px; /* LTR */ /* Negative value of #content's width + left margin. */
  padding: 0; /* DO NOT CHANGE */
}

.sidebar-first #content {
  display: inline; /* Bug fix for IE - content overlaps left sidebar without this */
  width: 720px;
  margin-right: -720px; /* LTR */ /* Negative value of #content's width + left margin. */
}

.sidebar-second #content {
  width: 720px;
  margin-left: 0; /* LTR */
  margin-right: -720px; /* LTR */ /* Negative value of #content's width + left margin. */
}

.two-sidebars #content {
  display: inline; /* Bug fix for IE - content overlaps left sidebar without this */
  width: 500px;
  margin-right: -500px; /* LTR */ /* Negative value of #content's width + left margin. */
}

/* First sidebar */
#sidebar-first {
  float: left; /* LTR */
  width: 220px;
  margin-top: 10px;
  margin-left: 0; /* LTR */
  padding: 0; /* DO NOT CHANGE */
}

#sidebar-first .section {
  margin: 0 18px 0 0; /* LTR */
  padding: 0;
}

/* Second sidebar */
#sidebar-second {
  float: right;
  width: 220px;
  margin-left: 0px; /* LTR */ /* Width of content + sidebar-first. */
  margin-right: 0px; /* LTR */ /* Negative value of #sidebar-second's width + left margin. */
  padding: 0; /* DO NOT CHANGE */
}

#sidebar-second .section {
  margin: 10px 0 0 20px; /* LTR */
  padding: 0;
}

/* Navigation --------------------------------------------------------------- */
#navigation .section h2 { /* Should really be 'element-invisible'... */
  display: none;
}

#main-menu li {
  margin: 0 2px 0 0;
}

#main-menu li a {
  display: inline-block;
  padding: 3px 7px;
  text-decoration: none;
  color: #555;
  font-weight: bold;
  font-size: 15px;
}

#main-menu li a:hover {
  background: #FFF url(../images/navbar-button-bg.png) top left repeat-x;
  border-radius: 5px;
  color: #333;
}

#main-menu li a.active {
  background: #FFF url(../images/navbar-button-bg.png) top left repeat-x;
  border-radius: 5px;
  color: #333;
}

/* Secondary menu */
#secondary-menu {
  display: inline-block;
  margin-top: .2em 1em 0 .25em;
  float: right;
}

/* General link list styling */
ul.links {
  margin: 1em 0;
  padding: 0;
}

ul.links.inline {
  margin: 0;
  display: inline;
}

ul.links li {
  display: inline;
  list-style-type: none;
  padding: 0 0.25em;
}

/* Nodes -------------------------------------------------------------------- */
.node-teaser {
  margin: 0 0 20px;
  border-top: 1px solid #ddd;
  background: transparent url(../images/node-list-bg.png) 0px 1px repeat-x;
  padding: 15px;
}

.node h2 {
  margin: -.25em 0 0;
}

.node h2 a {
  font-size: .85em;
  text-decoration: none;
}

.node .submitted {
  color: #999;
  font-size: .9em;
  margin-right: 10px;
  margin-bottom: 10px;
}

.node .submitted a {
  color: #777;
}

.node ul.links {
  border-top: 1px solid #999;
  display: block;
  padding-top: 5px;
  text-align: right;
  width: 100%;
}

/* Taxonomy ----------------------------------------------------------------- */
.node .field-type-taxonomy-term-reference {
  text-align: right;
}

.node .field-type-taxonomy-term-reference .field-item a {
  color: #999;
}

.node .field-type-taxonomy-term-reference .field-item {
  display: inline-block;
  margin-left: .5em;
}

/* Comments ----------------------------------------------------------------- */
#comments {
}

/* Individual comment display */
.comment {
  background: #eee;
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: .5em 0;
  position: relative;
}

.comment .user-picture {
  background: #eee;
  float: right;
  padding: 0 0 .75em 1em;
}

.comment h3,
.comment h3 a {
  text-decoration: none;
  margin: 0 0 .5em;
}

.comment .user-signature {
  border-top: 1px dashed #ccc;
  color: #999;
}

.comment ul.links {
  border: none;
  float: right;
  clear: right;
  margin: 0 0 -5px;
  padding: 0;
  width: inherit;
}

.comment .submitted {
  color: #999;
  font-size: .9em;
  margin: 0 0 -5px;
}

.comment .submitted a {
  color: #777;
}

.comment p {
  margin: 0 0 1em 0;
}

/* Comment form */
h2.comment-form {
  margin-top: 1.5em;
}

#comment-form {
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 1em;
}

#comment-form .form-item {
  margin-top: 0;
}

/* Blocks ------------------------------------------------------------------- */
.sidebar .block-wrapper {
  border: 1px solid #999;
  border-radius: 10px;
  margin-bottom: 1em;
}

.sidebar .block-wrapper .block {
  background: transparent url(../images/block-bg.png) top left repeat-x;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 10px;
}

.sidebar .block h2 {
  border-bottom: 1px solid #bbb;
  font-size: 1.25em;
  margin-top: 0;
  padding-bottom: 8px;
  text-align: center;
}

/* Search block */
#block-search-form .content {
  text-align: center;
}

#block-search-form input.form-text {
  width: 100px;
}

/* System ------------------------------------------------------------------- */
/* Filter tips for text format selection */
.filter-wrapper {
  border-radius: 0 0 5px 5px;
  color: #999;
  padding: .5em 0 .25em;
}

.filter-wrapper .form-item {
  margin-top: 0;
}

.filter-help a {
  color: #777;
  font-size: .85em;
}

.filter-guidelines {
  padding: 0 .5em;
}

.filter-guidelines .tips {
  margin-bottom: 0;
}

.filter-guidelines .tips li {
  margin: 0 0 .2em;
}

/* Pager styles */
ul.pager {
  clear: both;
  margin: 1em 0;
  color: #555;
}

.item-list .pager li {
  padding: .15em;
  margin: 0;
}

.pager li a {
  color: #444;
  padding: 3px 7px;
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-decoration: none;
}

.pager a:hover {
  color: #000;
  background-color: #fff;
  border-color: #999;
}

/* Tabledrag */
.draggable a.tabledrag-handle {
  height: 1.2em;
}

.draggable a.tabledrag-handle .handle {
  width: .5em;
}

/* Module List */
#system-modules {
  font-size: .9em;
}

#system-modules .description {
  font-size: .95em;
  line-height: 1.2em;
}

#system-modules .description .admin-requirements {
  color: #777;
  font-size: .82em;
}

/* Module-specific ---------------------------------------------------------- */
/* WYSIWYG Fixes */
.wysiwyg-toggle-wrapper {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding-left: .35em;
}

/* Admin menu */
#admin-menu-wrapper {
  font-size: .85em;
}
