# This configuration file should follow the java .properties format. http://en.wikipedia.org/wiki/.properties

##### database configuration #####
# For a list of the database configuration parameters, please see http://commons.apache.org/dbcp/configuration.html

username=daniel
password=1234567

# could be mysql or postgresql
database_type=mysql
url=jdbc:mysql://localhost/drupal7


##### Additional settings #####

drupal_version=7

# database prefix in Drupal
#db_prefix=

# mcrypt secret key. please specify if you use Encrypted Settings Field. Usually you can ignore it.
#mcrypt_secret_key=

# max database batch size for UPDATE/INSERT/DELETE. used in JDBC batchExecute()
#db_max_batch_size=5000