# this is an example of run.sh.
# If you are under Linux/Mac, just create a new run.sh following the example here.
# If you are under Windows, please create a run.bat by following the example here.

# specify the location and filename of config.properties file. Default is the working directory
# if the file is not under the working directory, please use '-c $CONFIG_FILE' option when executing the Java program.
#CONFIG_FILE=/home/to/config.properties

# please make sure you have java installed.
command -v java >/dev/null || { echo "Cannot find java program. Please install Java first and make sure the executable is under PATH."; exit 1;}

# config CLASSPATH: add all jar files under lib.
CLASSPATH="${CLASSPATH}:async-command.jar:$(find "lib" -name "*.jar" | tr '\n' ':')"



# execute the command, find config.properties in working directory
java -cp $CLASSPATH org.drupal.project.async_command.DefaultDruplet

# or, execute the command, find config.properties specified by CONFIG_FILE
#java -cp $CLASSPATH org.drupal.project.async_command.DefaultDruplet -c $CONFIG_FILE

# or, read the help of DefaultDruplet
#java -cp $CLASSPATH org.drupal.project.async_command.DefaultDruplet -h
