.adaptive-init-button {
  background: url(../images/icon.png) no-repeat;
  cursor: pointer;
  height: 48px;
  left: 30px;
  position: fixed;
  top: 210px;
  width: 48px;
  z-index: 900;
}
#adaptive-tester-block.hidden {
  display: none;
}
#adaptive-tester-block .adaptive-bg {
  background: #000;
  height: 100%;
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  opacity: 0.6;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001;
}
#adaptive-tester-block .adaptive-wrapper {
  background: #f6f6f2;
  border-radius: 5px 5px 0 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px !important;
  padding: 5px 0 0;
  position: absolute;
  z-index: 1002;
}

#adaptive-tester-block .adaptive-wrapper .close.button {
  background: url(../images/close.png) no-repeat;
  cursor: pointer;
  float: right;
  height: 24px;
  margin-right: 5px;
  text-indent: -9999px;
  width: 24px;
}
#adaptive-tester-block iframe {
  border: 0;
  vertical-align: top;
}
#adaptive-tester-block .custom-width-wrapper {
  margin: 0 0 0 20px;
}
#adaptive-tester-block .custom-width-wrapper #width {
  width: 140px !important;
}
#adaptive-tester-block .custom-width-wrapper #width.error {
  border: 1px solid red;
}
#adaptive-tester-block .custom-width-wrapper .form-messages {
  color: red;
}
#adaptive-tester-block .panel {
  margin: 0;
  padding: 7px 0 0 7px;
}
#adaptive-tester-block .panel li {
  border: 1px solid transparent;
  border-radius:5px;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  cursor: pointer;
  display: inline-block;
  *display: inline;
  list-style: none none;
  margin: 0 2px 6px;
  padding: 2px 10px;
}
#adaptive-tester-block .panel li:hover {
  background: #555;
  color: #fff;
}
#adaptive-tester-block .panel li.active {
  background: #349edb;
  color: #fff;
}

/* scrollbar width */
.scroll-test {
  height: 50px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
  width: 50px;
}