/*
 * @file
 * CSS for add/edit settings form.
 *
 */
fieldset.class-fieldcollection-label {
  float: left;
  clear: none !important;
}

fieldset.class-fieldcollection-value {
  float: left;
  clear: none !important;
}