/**
 * @file
 * Display Suite Four Column Bricks stylesheet.
 */

.ds-above-first {
  width: 25%;
  float: left;
}

.ds-above-second {
  width: 25%;
  float: left;
}

.ds-above-third {
  width: 25%;
  float: left;
}

.ds-above-fourth {
  width: 25%;
  float: left;
}

.ds-middle {
  clear: left;
}

.ds-below-first {
  width: 25%;
  float: left;
}

.ds-below-second {
  width: 25%;
  float: left;
}

.ds-below-third {
  width: 25%;
  float: left;
}

.ds-below-fourth {
  width: 25%;
  float: left;
}

.ds-footer {
  clear: left;
}
