


#local-tasks-fixed-to-bottom {
  bottom: 0;
  left: 17%;
  position: fixed;
  width: 66%;
  z-index: 999;

  .inner {
    background: #fdfdfd;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.3);
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    margin: 0 auto;
    max-width: 700px;
    padding: 10px 10px 0 10px;
  }

  // Just in case something overwrites this.
  &,
  ul,
  li,
  a {
    font-size: 14px;
    height: auto;
  }

  ul {
    border: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    float: none;
    text-transform: none;

    //
    // Markup free clearing.
    //
    // @see http://perishablepress.com/press/2009/12/06/new-clearfix-hack
    //
    &:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }
  }

  li {
    float: left;
  }

  a {
    background: none;
    border-radius: 3px 3px 0 0;
    border: 1px solid transparent;
    color: #428bca;
    display: block;
    font-weight: normal;
    line-height: 1.42857;
    margin-right: 2px;
    padding: 5px 10px;
    text-decoration: none;

    &:hover,
    &:focus {
      background-color: #eee;
      border-color: #eee;
      color: #286395;
    }
  }

  li.active > a,
  li.active > a:hover,
  li.active > a:focus {
    background-color: white;
    border: 1px solid #dddddd;
    border-bottom-color: transparent;
    color: #555;
    cursor: default;
  }
}
