/**
 * @file
 * Local tasks
 */
ul.tabs {
  font-size: 1em;
  line-height: 2.3em;
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
ul.tabs a {
  color: white;
}
ul.tabs li {
  display: inline;
  font-family: "Willibald Sans Black", sans-serif;
}
ul.tabs li a {
  background: #485873;
  padding: .4em .9em;
  white-space: nowrap;
}
ul.tabs li a:hover {
  background-color: #8a95a7;
}
ul.tabs li.active a {
  background: #78adb8;
}
ul.tabs li.active a:hover {
  background-color: #8a95a7;
}
ul.tabs.primary {
  margin-top: .4em;
}
ul.tabs.secondary {
  font-size: .9em;
}
ul.tabs.secondary li a {
  background: #677ca0;
  font-family: "Willibald Sans", sans-serif;
  padding: .3em .8em;
}
ul.tabs.secondary li.active a {
  background: #aacbd2;
}
