form#node-form .form-text{width:inherit;}
#edit-want div.form-item{display:inline;}
.link-wrapper ul li{display:block}
div.proposition-links{float:left;}
ul.jquerymenu li span.parent{margin-right:-9px;}
