.flag-lessons_bookmark a.flag-action,
.flag-lessons-bookmark a.flag-action{
  color: transparent; 
  background: url(bookmark.png) no-repeat left bottom;
  float:right;
  width:60px;
  height:35px;
}
.flag-lessons_bookmark a.flag-action:hover,
.flag-lessons-bookmark a.flag-action:hover{
  background: url(bookmark.png) no-repeat left bottom;
}

.flag-lessons_bookmark a.unflag-action,
.flag-lessons-bookmark a.unflag-action{
  color: transparent; 
  background: url(bookmark.png) no-repeat left top;
  float:right;
  width:60px;
  height:35px;
}
.flag-lessons_bookmark a.unflag-action:hover,
.flag-lessons-bookmark a.unflag-action:hover{
  background: url(bookmark.png) no-repeat left top;
}
