/* CSS rules for add rate form */
#edit-shipping-rate-max-weight {
  margin: 0 0 0 15px;
}

.field-name-shipping-rate-min-weight input.colorize {
  background-color: #25e983;
}

.field-name-shipping-rate-max-weight input.colorize {
  background-color: #ff6773;
}

#edit-shipping-rate-price .form-item {
  margin: 9px 0 0 0;
}

#edit-shipping-rate-min-weight,
#edit-shipping-rate-max-weight {
  display: inline-block;
}
#edit-shipping-rate-min-weight label,
#edit-shipping-rate-max-weight label {
  display: inline;
}
