/**
 *  @file 
 *  Sass Vars
 */
// Typography
$title                           : 'Advent Pro'
$content                         : 'Open Sans'

// Colours
$color                           : #1abc9c
$dark-color                      : #16a085

$white                           : #ffffff
$beige                           : #CFBEAE
$light-gray                      : #E1DED2
$gray                            : #686257
$dark-gray                       : #ABA280

$shadow                          : #888888

////////////////////

// Messages
$red-error                       : #c0392b
$warning                         : #d35400
$status                          : #1ABC78
$dpm                             : #FADB61

// -- Skinr | skinr.sass--

$color-body                      : $gray
$background-page                 : $white
// Color for links
$color-a                         : $color
$color-a-hover                   : $dark-color
// Color for titles
$color-h                         : $dark-color
$color-page-title                : $color
$background-page-title           : $white
$border-page-title               : $beige
// Color for label and description
$color-label                     : $gray
$color-description               : $gray
// Color for input, select, textarea
$background-form-element         : $white
$border-form-element             : $shadow
$color-form-element              : $gray
$border-form-element-error       : $red-error

// -- Menu | main-menu.sass --

$background-menu                 : $color
$color-menu-a                    : $white
$border-menu-a                   : $color
$color-menu-a-hover-active       : $color
$background-menu-a-hover-active  : $white
$border-menu-a-hover-active      : $white

// -- Sliding menu | sliding-menu.sass --

$background-menu-screen          : $color
$background-sliding-menu-content : $gray

// -- Breadcrumbs | breadcrumbs.sass --

$color-breadcrumbs               : $gray

// -- Comments | comments.sass --

$color-count                     : $white
$color-comment-title             : $dark-color
$color-submitted                 : $gray
$color-comment-new               : $white
$color-new-comment-a-hover       : $white
$border-comment-links            : $gray
$border-attribution              : $gray
$background-comment-new          : $color

// -- Elements | elements.sass --

$color-backtotop                 : $white
$color-backtotop-hover           : $dark-color
$background-backtotop: image-url('backtotop.png') center center no-repeat $color

// -- Forms | forms.sass --

$background-loading-layer        : $dark-gray
$background-confirmation         : $dark-gray

// -- Message | messages.sass --

// General
$color-message                   : $white
$color-message-a                 : $white
// Error
$background-message-error        : $red-error
$border-message-error            : $red-error
// Warning
$background-message-warning      : $warning
$border-message-warning          : $warning
// Status
$background-message-status       : $status
$border-message-status           : $status
// Dpm
$background-dpm                  : $dpm
$border-dpm                      : $gray

// -- Modal | modals.sass --

$background-modal-content        : $white
$color-modal-content             : $gray

// -- Pager | pager.sass --

$color-pager-current                : $dark-color
$color-pager-first-last-a           : $white
$background-pager-first-last        : $color
$background-pager-first-last-hover  : $dark-color

// -- Sprite Social links | sprite.sass --

$color-service                      : $color

// -- Tables | tables.sass & extends.sass--

// Table
$border-table                       : $dark-color
// Color for thead
$background-thead                   : $color
$border-thead                       : $color
$color-thead-a                      : $white
// Color for tbody
$border-tbody                       : $light-gray
// Color for th
$color-th                           : $white
$border-th                          : $dark-color
$background-th                      : $color
// Color for tr tag: Par & impar
$background-tr-impar                : $white
$background-tr-par                  : $light-gray

$background-table-tr-selected       : $light-gray
$background-table-tr-drag           : $gray
$background-table-tr-drag-previous  : $light-gray
$background-table-tr-draggable      : $gray
$background-table-td-active         : transparent

// -- Tabs | tabs.sass --

$border-tabs-wrapper                : $color
$background-tabs-element            : $white
$border-tabs-element                : $white
$color-tabs-element                 : $color

// Hover
$background-tabs-element-hover      : $white
$border-tabs-element-hover          : $color
$color-tabs-element-hover           : $color

// > tablet
$color-tabs-element-tablet              : $white
$color-tabs-element-tablet-hover        : $color
$background-tabs-element-tablet         : $color
$background-tabs-element-tablet-hover   : $white 
$border-tabs-element-tablet             : $color
$border-tabs-element-tablet-hover       : $color

// Active
$background-tabs-element-active         : $dark-color
$border-tabs-element-active             : $color
$color-tabs-element-active              : $white 

// -- CKeditor | templates-ckeditor.sass --

$color-template                         : $gray
$color-template-header                  : $color
$color-template-span                    : $gray

// -- Masonry | block-masonry.sass --

// Article
$border-masonry-article                 : $light-gray
$border-bottom-masonry-article          : $gray
$background-masonry-article             : $white
$shadow-masonry-article                 : $gray
// Close icon
$background-masonry-close               : $light-gray
$background-masonry-close-hover         : $gray
// Image
$border-image-masonry                   : $light-gray
// Link login to post
$border-masonry-forbidden               : $color

// -- Chosen | chosen-custom.sass --

$background-chosen-single               : $white
$background-chosen-results-highlighted  : $color
$background-chosen-drop                 : $white
$border-chosen-drop                     : $gray
// Chosen active
$background-chosen-active-single        : $white
$border-chosen-active-single            : $gray
// Chosen Multiselect
$chosen-multi-search-choice             : $dark-gray
$background-chosen-multi-search-choice  : $light-gray

// -- Search | search.sass --

$background-search-button-hover         : $dark-color
$background-search-button: image-url('lupa.png') center center no-repeat $color

// -- Cookies | cookies.sass --

$background-sliding-popup-button    : $white
$color-sliding-popup-button         : $dark-gray

// -- Maintenance | page-maintenance.sass --

$background-maintenance-page        : $light-gray

// -- Views | views.sass

$border-node-teaser                 : $beige

// -- Region content | content.sass --

$background-region         : $white
$border-region             : $white

// -- Footer | footers.sass --

$background-footer         : $light-gray
$color-footer              : $white

// -- Header | header.sass --

$background-top-bar        : $white
$background-header         : $white
$color-site-name           : $beige 
$color-site-slogan         : $dark-color

// -- Preface | preface.sass--

$color-preface             : $white
$background-preface        : $beige

// -- Extends | extends.sass-- 

// Buttons
$color-button              : $white
$background-button         : $color
$background-button-hover   : $dark-color


// Placeholders
$color-grow                : $white
$background-grow           : $color
$background-grow-hover     : $dark-color

// -- Mixins | mixins.sass --

// Tags mixin
$color-tags                : $white
$color-tags-active         : $white
$color-tags-active-hover   : $white
$color-tags-hover          : $white
$background-tags           : $dark-gray
$background-tags-active    : $gray
$background-tags-hover     : $gray
$border-tags-hover         : $light-gray
$border-tags               : $gray

// Button mixin 
$background-button-parameter        : $dark-gray
$color-button-mixin                 : $white

// Button-icon mixin
$background-button-icon-parameter   : $dark-gray
$color-button-icon-a                : $white

// Hover-info mixin
$background-info-parameter          : $gray
$background-show-info               : $gray

// Degrading mixin
$color-degrading-parameter          : $gray

// -------------------------------------------------

// Screen sizes (grid)
$mobile-360   : 22.5em
$mobile       : 30em
$tablet       : 44em
$desk         : 64em
$max-width    : 75em
$large-width  : 82em
$monster      : 118.750em
// Legacy support
$legacy-support-for-ie6: false
$legacy-support-for-ie7: false
$legacy-support-for-ie8: true
