/*
    Document   : block_manager
    Created on : Aug 24, 2012, 12:16:13 PM
    Author     : garfieldgroup
    Description:
        Styles specific to the block_manager module
*/

.block_manager_toolbar {
  width: 100%;
  margin-bottom: 20px;
  background-color: #ec7e7e;
  border-bottom: 1px solid #dddddd;
  float: none;
}

.block_manager_toolbar a.bm_button {
  height: auto;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  text-decoration: none;
  display: inline-block;
  margin: 5px 5px 8px 5px;
  padding: 6px 10px;
  border: none;
  float: none;

  /*Rounded corners*/
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;

  /*Give buttons a gradient*/
  background: #eeeeee; /* Old browsers */
  background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* IE10+ */
  background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */

  /*Drop Shadow*/
  box-shadow: 1px 2px 1px 1px #444444;
  -mox-box-shadow: 1px 2px 1px 1px #444444;
  -webkit-box-shadow: 1px 2px 1px 1px #444444;
}


/*******************
 * MANAGEMENT PAGE *
 *******************/

.block_container {
  margin-bottom: 20px;
}

.block_container.vertical {
  width: 48%;
  max-width: 500px;
  float: left;
}

.block_container.vertical.first {
  margin-right: 3%;
}

.block_container.horizontal {
  width: 100%;
  max-width: 1000px;
}

.block_container .fieldset-wrapper {
  margin: 0;
  padding: 0;
}

.block_container .inner {
  padding: 10px;
}

.block_container.vertical .inner {
  height: 580px;
  overflow: scroll;
  overflow-x: visible;
  overflow-y: scroll;
}

.block_container.horizontal .inner {
  max-width: 980px;
  height: 187px;
  overflow: scroll;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.block_container .inner .block {
  border: 1px solid #c8bbbb;
  overflow: hidden;
  padding: 10px 20px 10px 25px;
  font-weight: bold;
  background-color: #ffffff;

  position: relative;
}

.block_container .inner .block.placeholder {
  background-color: #f8f8f8;
  height: 20px;
}

.block_container.vertical .inner .block {
  margin-bottom: 10px;
}

.block_container.horizontal .inner .block {
  width: 300px;
  height: 150px;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  white-space: normal;
}

#available_blocks .block {
  background-image: url(../images/draggable.png);
  background-repeat: no-repeat;
  background-position: 4px;
}

#available_blocks.horizontal .block {
  background-position: 4px 10px;
}

#available_blocks .remove {
  display: none;
}

#managed_blocks .block {
  background-image: url(../images/sortable.png);
  background-repeat: no-repeat;
  background-position: 4px;
}

#managed_blocks.horizontal .block {
  background-image: url(../images/sortable-horz.png);
  background-position: 4px 10px;
}

#managed_blocks .block.placeholder {
  background-image: none;
}

#managed_blocks .remove {
  display: block;
  width: 10px;
  height: 10px;
  text-indent: 10px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  background-image: url(../images/remove.png);
  background-repeat: no-repeat;
}

form#block-manager-manage-blocks div.form-actions {
  clear: both;
}
