.virtual-keyboard-trigger {
  text-indent: -9999px;
  width: 19px;
  height: 11px;
  background: url(images/keyboard.png) no-repeat;
  cursor: pointer;
  display: inline-block;
  opacity: 0.8;
  position: relative;
  top: 5px;
  left: 5px;
}
.virtual-keyboard-trigger:hover {
  opacity: 1;
}
.virtual-keyboard-trigger:active {
  opacity: 0.6;
}
