core = 7.x
api  = 2

libraries[jquery.keyboard][type] = "libraries"
libraries[jquery.keyboard][download][type] = "file"
libraries[jquery.keyboard][download][url] = "https://github.com/Mottie/Keyboard/archive/v1.18.12.zip"
