// View
// Styles for Views
// --------------------------------------------------


// Menu Categories
// --------------------------------------------------
.view-menu-categories {
  &.view-display-id-menu_categories {
    .view-content {
      .views-row {
        text-align: center;
        margin-bottom: 30px;
        .views-field-field-menu-categories-images {
          .thumbnail {
            border: none;
            @include box-shadow(none);
            overflow: hidden;
            padding: 0;
          }
        }
      }
    }
  }
}