.botr-error {
  color: red;
}

#botr-search-box {
  background: url(search.png) no-repeat right center;
  color: lightgray;
  margin-bottom: 0px;
  margin-left: 6px;
  padding-right: 20px;
  width: 442px;
}

#botr-search-box:focus {
  color: black;
}

#botr-video-list {
  list-style-type: none;
}

#botr-video-list p {
  margin-left: 5px;
}

#botr-video-list li {
  background-position: left top;
  background-repeat: no-repeat;
  cursor: pointer;
  display: block;
  height: 25px;
  margin-bottom: -1px;
  padding: 1px 0 4px 55px;
  position: relative;
}

#botr-video-list li.botr-failed {
  cursor: default;
}

#botr-video-list li.botr-odd {
  background-color: #fff;
}

#botr-video-list li.botr-even {
  background-color: #e9f2f8;
}

#botr-video-list li p {
  display: block;
  height: 18px;
  margin-left: 0;
  margin-top: 4px;
  overflow: hidden;
  padding-right: 7px;
}

#botr-video-list button {
  float: right;
  margin: 2px;
}

#botr-upload-video {
  background-color: #e9f2f8;
  clear: both;
  display: inline;
  float: left;
  margin-left: 6px;
  padding: 6px;
  padding-top: 18px;
  width: 452px;
}

#botr-upload-video .botr-row {
  clear: left;
  height: 28px;
  margin: 5px 0;
  position: relative;
}

#botr-upload-video .botr-row label {
  color: gray;
  left: 7px;
  position: absolute;
  top: 1px;
  width: 35px;
}

#botr-upload-video .botr-row span {
  padding-left: 50px;
  position: relative;
}

#botr-upload-title,
#botr-upload-file {
  width: 387px;
}

#botr-upload-button {
  float: right;
  margin-right: 11px;
  margin-top: 3px;
}

#botr-progress-bar {
  background-color: #3a7ea2;
  color: white;
  display: none;
  font-weight: bold;
  text-align: center;
}

.botr-busy * {
  cursor: wait;
}

#botr-video-box h1 {
  clear: both;
  display: inline;
  float: left;
  font-size: 16px;
  margin: 10px 0 0 5px;
  width: 470px;
}

#botr-list-wrapper,
#botr-upload-video {
  float: left;
  margin-top: 10px;
}

#botr-list-wrapper {
  margin-right: 10px;
  width: 470px;
}

.botr-dashboard-link {
  display: block;
}

.botr-upload-window {
  position: fixed;
  left: 50%;
  margin-left: -200px;
  margin-top: -100px;
  top: 50%;
  width: 400px;
}

.botr-upload-window input {
  background: #fff;
  border: 1px solid #ccc;
}

.botr-upload-window fieldset {
  background: #eee;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-box-shadow: 2px 2px 2px 0px #999;
  box-shadow: 2px 2px 2px 0px #999;
}

.botr-upload-window legend {
  cursor: move;
}

.botr-upload-submit,
.botr-pause {
  float: right;
}

.botr-close {
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 18px;
}

.botr-progress-bar {
  background: #fff;
  display: none;
  height: 10px;
  width: 200px;
}

.botr-progress-bar > .botr-progress {
  background: #0074bd;
  height: 10px;
  width: 0;
}
