/**
 * @file
 *  Styles for the feedbacktab and dialog box.
 */

/* This section inspired by http://getsatisfaction.com/stylesheets/feedback.css. */
a.feedbacktab {
  top: 25%; /* How far down the viewport? */ 
  left: 0;
  width: 342px; /* 300 + 42 */
  height: 102px;
  color: #FFF;
  cursor:pointer;
  overflow:hidden;
  position: fixed;
  display: block;
  z-index: 100000;
  margin-left: -7px;
  text-decoration: none !important;
  background-color: black;
  background-repeat: no-repeat;
  /* @todo Store this image locally, and add 'Suggestion' image.  Make image localizable. */
  background-image: url(https://s3.amazonaws.com/getsatisfaction.com/feedback/feedback_trans_tab.png);
  /* Some IE6 stuff. */
  _position: absolute;
  _background-image: url(https://s3.amazonaws.com/getsatisfaction.com/feedback/feedback_tab_ie6.png);
}
a.feedbacktab span.title {
  display: block;
  text-indent: -100000px;
}
a.feedbacktab.hover {
  margin-left: -4px;
}
a.feedbacktab-right {
  right: 0;
  left: auto;
  margin-right: -307px; /* 300 + 7 */
  margin-left: auto;
}
a.feedbacktab-right.hover {
    margin-right: -4px;
    margin-left: auto;
}
/* @todo Test support for left, top and bottom feedback tabs. */
a.feedbacktab-bottom {
  top: auto !important;
  bottom: 0;
  left: 20%;
  height: 38px;
  width: 102px;
  background-position: 0 -102px;
  margin-bottom: -7px;
  margin-left: auto;
}
a.feedbacktab-bottom.hover {
    margin-bottom: -4px;
    margin-left: auto;
}
a.feedbacktab-hidden {
  display:none;
}
/* End section inspired by http://getsatisfaction.com/stylesheets/feedback.css. */

/* Tab content. */
/* @todo Add support for left, top and bottom feedback tabs. */
a.feedbacktab span.content {
  display: block;
  color: white;
  text-decoration: none;
  margin: -0.7em 1em 0 60px;
}
/* Make <strong> tags in the content behave like links. */
a.feedbacktab strong:hover {
  text-decoration: underline;
}

/* Black out the website on modal dialogs. */
.ui-dialog-overlay {
  background: #000;
  opacity: 0.7;
}

/* Make the <iframe> fit tightly in the dialog wrapper. */
.feedbacktab-iframe {
  padding: 0 !important;
}
