/* Branding */
#zone-branding-wrapper {
  background: #fff;
  border-top: 5px solid #F8992B;
  border-bottom: 5px solid #eee;
}
#zone-branding {
  position: relative;
}
#region-branding {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
}
#region-branding .region-inner {
  padding: 20px;
}

.logo-img {
  float: none;
  margin: 0;
  text-align: center;
}

#logo {
  width: 300px;
}

/* Search Form */
#block-search-form {
  margin: 0 auto 20px;
  width: 300px;
}
#block-search-form form {
  min-height: 0;
  position: relative;
}
#block-search-form .form-submit {
  background: url(../images/search.png) 0 0 no-repeat transparent;
  border: none;
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 20px;
  line-height: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  text-indent: -9999px;
  top: 4px;
  width: 24px;
}
#block-search-form .form-submit.focus:hover,
#block-search-form .form-submit.focus.hover {
  background-position: 0 -40px;
}
#block-search-form .form-submit.focus, #block-search-form .form-submit:active, #block-search-form .form-submit:focus {
  background-position: 0 -20px;
  border: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#block-search-form .form-text {
  color: #aaa;
  height: 28px;
  padding: 0 30px 0 4px;
  width: 100%;
}
#block-search-form .form-text.focus {
  color: #626262;
}
