/* This file will hold styles that are loaded using the same media query as the narrow grid. */

.logo-img {
  float: left;
  text-align: left;
}

/* User */
#region-user-first,
#region-user-second {
  margin: 0;
  position: absolute;
  right: 20px;
  top: 0;
  width: 50%;
}

/* Search Form */
#block-search-form {
  margin: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 25px;
  width: 300px;
  z-index: 1;
}
