
/* test */
/* -------------------------------------------------------------------------- */

/*
#dqx_adminmenu li {
  border-left:5px solid #111;
}

#dqx_adminmenu li.expanded {
  border-left:5px solid #911;
}

#dqx_adminmenu .mouse-direction-lr-off li li.expanded {
  border-left:5px solid #881;
}
*/


/* any dropdowns */
/* -------------------------------------------------------------------------- */

/*
#dqx_adminmenu > ul.dqx_adminmenu-left > li > ul,
#dqx_adminmenu > ul.dqx_adminmenu-left > li > table {left: -999em;}

#dqx_adminmenu > ul.dqx_adminmenu-right > li > ul,
#dqx_adminmenu > ul.dqx_adminmenu-right > li > table {right:-999em;}
*/

#dqx_adminmenu > ul.dqx_adminmenu-left  > li {direction:ltr;}
#dqx_adminmenu > ul.dqx_adminmenu-right > li {direction:rtl;}

#dqx_adminmenu > ul > li > * {direction:ltr;}



/* top-level dropdowns */
/* -------------------------------------------------------------------------- */

#dqx_adminmenu > ul > li > ul,
#dqx_adminmenu > ul > li > table {
  z-index:999;
  display:none;
  /* left:-999em; */
}

#dqx_adminmenu-wrapper.active-item-depth-1 > div:hover > ul > li.expanded > ul,
#dqx_adminmenu-wrapper.active-item-depth-1 > div:hover > ul > li.expanded > table {
  z-index:888;
  visibility:hidden;
}

#dqx_adminmenu-wrapper.active-item-depth-1 > div:hover > ul > li:hover > ul,
#dqx_adminmenu > ul > li.expanded > ul {
  z-index:999;
  display:block;
  left:auto;
  right:auto;
  visibility:visible;
}

#dqx_adminmenu-wrapper.active-item-depth-1 > div:hover > ul > li:hover > table,
#dqx_adminmenu > ul > li.expanded > table {
  z-index:999;
  display:table;
  left:auto;
  right:auto;
  visibility:visible;
}


/* top-level dropdowns: hover background */
/* -------------------------------------------------------------------------- */

#dqx_adminmenu > ul > li {
  background-color:none;
}

#dqx_adminmenu-wrapper.active-item-depth-1 > div > ul > li:hover,
#dqx_adminmenu > ul > li.expanded {
  background-color:#040404;
}
.active-item-depth-1 #dqx_adminmenu > ul > li.expanded {
  /* Chromium is not quick enough with 'none',
     so we start with 'transparent' */
  background-color:transparent;
  background-color:none;
}


/* deeper dropdowns */
/* -------------------------------------------------------------------------- */

#dqx_adminmenu li li ul,
#dqx_adminmenu li tr ul,
#dqx_adminmenu li li table,
#dqx_adminmenu li tr table {
  z-index:999;
  display:none;
  left:-999em;
}

#dqx_adminmenu .mouse-direction-lr-off li :hover > li > ul,
#dqx_adminmenu .mouse-direction-lr-off li :hover > * > tr > td > div > ul,
#dqx_adminmenu ul .trail-end :hover > li > ul,
#dqx_adminmenu ul .trail-end :hover > * > tr > td > div > ul,

#dqx_adminmenu .mouse-direction-lr-off li :hover > li > table,
#dqx_adminmenu .mouse-direction-lr-off li :hover > * > tr > td > div > table,
#dqx_adminmenu ul .trail-end :hover > li > table,
#dqx_adminmenu ul .trail-end :hover > * > tr > td > div > table {
  z-index:888;
  visibility:hidden;
}

#dqx_adminmenu .mouse-direction-lr-off li :hover > li:hover > ul,
#dqx_adminmenu .mouse-direction-lr-off li :hover > * > tr:hover > td > div > ul,
#dqx_adminmenu ul .trail-end :hover > li:hover > ul,
#dqx_adminmenu ul .trail-end :hover > * > tr:hover > td > div > ul,
#dqx_adminmenu li li.expanded > ul,
#dqx_adminmenu li tr.expanded > td > div > ul {
  display:block;
  left:auto;
  right:auto;
  z-index:999;
  visibility:visible;
}

#dqx_adminmenu .mouse-direction-lr-off li :hover > li:hover > table,
#dqx_adminmenu .mouse-direction-lr-off li :hover > * > tr:hover > td > div > table,
#dqx_adminmenu ul .trail-end :hover > li:hover > table,
#dqx_adminmenu ul .trail-end :hover > * > tr:hover > td > div > table,
#dqx_adminmenu li li.expanded > table,
#dqx_adminmenu li tr.expanded > td > div > table {
  display:table;
  left:auto;
  right:auto;
  z-index:999;
  visibility:visible;
}


/* deeper dropdowns: hover background */
/* -------------------------------------------------------------------------- */

/* not in trail */

#dqx_adminmenu-wrapper #dqx_adminmenu li tr td.no-link,
#dqx_adminmenu .mouse-direction-lr-off li :hover > li,
#dqx_adminmenu ul .trail-end :hover > li,
#dqx_adminmenu li li,
#dqx_adminmenu .mouse-direction-lr-off li :hover > * > tr > td,
#dqx_adminmenu ul .trail-end :hover > * > tr > td,
#dqx_adminmenu li tr > td {
  background-color:#383838;
}

#dqx_adminmenu .mouse-direction-lr-off li :hover > li.expandable,
#dqx_adminmenu ul .trail-end :hover > li.expandable,
#dqx_adminmenu li li.expandable {
  background-color:#222;
}

#dqx_adminmenu .mouse-direction-lr-off li :hover > * > tr.expandable > td,
#dqx_adminmenu ul .trail-end :hover > * > tr.expandable > td,
#dqx_adminmenu li tr.expandable td {
  background-color:#333;
}

/* in trail */

#dqx_adminmenu .mouse-direction-lr-off li :hover > * > tr:hover > td,
#dqx_adminmenu ul .trail-end :hover > * > tr:hover > td,
#dqx_adminmenu li tr.expanded > td {
  background-color:#191919;
}

#dqx_adminmenu-wrapper #dqx_adminmenu .mouse-direction-lr-off li :hover > li:hover,
#dqx_adminmenu-wrapper #dqx_adminmenu ul .trail-end :hover > li:hover,
#dqx_adminmenu-wrapper #dqx_adminmenu li li.expanded,
#dqx_adminmenu-wrapper #dqx_adminmenu .mouse-direction-lr-off li :hover > * > tr:hover > td:hover,
#dqx_adminmenu-wrapper #dqx_adminmenu ul .trail-end :hover > * > tr:hover > td:hover ,
#dqx_adminmenu-wrapper #dqx_adminmenu li tr.expanded > td:hover {
  background-color:#040404;
}

#dqx_adminmenu-wrapper #dqx_adminmenu td:hover,
#dqx_adminmenu-wrapper #dqx_adminmenu li:hover {
  background-color:#141414;
}



