#wrapper {

}

#header {
  height: 127px;
}

#header-inner {
  width: 960px;
  margin: 0 auto;
  height: 127px;
  max-width: 1400px;
}

#container {
  padding-top: 30px;
  width: 960px;
  margin: 0 auto 20px;
  max-width: 1400px;
}

#main {
  float: left;
  width: 100%;
  margin-right: -100%;
}

#main-inner.with-sidebar {
  margin: 0 250px 0 0;
  padding: 0 25px 0 0;
}

#page-top {
  padding: 15px;
}

#page-bottom {
  padding: 15px;
}

#sidebar {
  width: 250px;
  float: right;
}

#footer-menu {

}

#footer-menu-inner {
  width: 960px;
  margin: 0 auto;
  max-width: 1400px;
}

#footer-inner {
  width: 960px;
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}

#footer-region-second {
  float: left;
  width: 100%;
  margin-right: -100%;
}

#footer-region-second #footer-region-second-inner {

}

#footer-region-second #footer-region-second-inner.left-region {
  margin-left: 330px;
}

#footer-region-second #footer-region-second-inner.right-region {
  margin-right: 330px;
}

#footer-region-first {
  float: left;
  width: 300px;
}

#footer-region-third {
  float: right;
  width: 300px;
}