/********************************************************************/
/*****************************GENERAL********************************/
/********************************************************************/

body {
	margin: 0;
	padding: 0;
	background: #292825;
	font: 0.8em/160% Verdana,sans-serif;
	color: #272723;
}

input {
	font: 0.8em Verdana, sans-serif;
	color: #494949;
}

textarea,
select {
	font: 12px Verdana, sans-serif;
	color: #494949;
}

h1,h2,h3,
h4,h5,h6 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-family: Verdana, sans-serif;
}

h1 {
	font-size: 1.3em;
}

h2 {
  font-size: 1.2em;
	line-height: 130%;
}

h3 {
  font-size: 1.1em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.9em;
}

h6 {
  font-size: 0.8em;
}

code,
fieldset {
	margin: .5em 0;
}

p {
	margin: 0.6em 0 1.2em;
	padding: 0;
}

a,
a:link,
a:visited {
	color: #5895BE;
	text-decoration: none;
}

#sidebar a,
#sidebar a:link,
#sidebar a:visited {
  color: #365e6a;
}

a:hover {
	color: #0062A0;
	text-decoration: underline;
}

a:active,
a.active,
li a.active{
	color: #5895be;
	outline: none;
  text-decoration: underline;
}

hr {
	margin: 0;
	padding: 0;
	border: none;
	height: 1px;
	background: #5294c1;
}

#sidebar .block ul li,
#sidebar .block ul li.leaf,
#sidebar .block ul li.expanded,
#sidebar .block ul li.collapsed,
.node .content ul li,
.node-similar .item-list li {
  list-style: none;
	background: url(../images/li.png) no-repeat left top;
  margin: 0;
  padding-left: 35px;
}

#sidebar .block ul li:hover,
#sidebar .block ul li.leaf:hover,
#sidebar .block ul li.expanded:hover,
#sidebar .block ul li.collapsed:hover,
.node .content ul li:hover,
#sidebar .block ul li.active,
#sidebar .block ul li.leaf.active,
#sidebar .block ul li.expanded.active,
#sidebar .block ul li.collapsed.active,
.node .content ul li.active {
	background: url(../images/li-active.png) no-repeat left top;
}

ol {
	list-style-image: none;
}

ul {
  padding-left: 10px;
}

ul.menu {
  padding: 0;
  list-style: none;
  margin: 0;
}

#sidebar .block ul li,
#sidebar .block ul li.leaf,
#sidebar .block ul li.expanded,
#sidebar .block ul li.collapsed,
.node .content ul li {
	margin: 0;
	padding: 0 0 5px 35px;
}

.item-list ul li {
  margin: 0;
}

ul li.leaf a,
ul li.expanded a,
ul li.collapsed a {
	display: block;
}

ul.inline li {
	background: none;
	margin: 0;
	padding: 0 1em 0 0; 
}

dl {
	margin: 0.5em 0 1em 1.5em;
}

dl dt {

}

dl dd {
	margin: 0 0 .5em 1.5em;
}

img,
a img {
	border: none;
}

table {
	margin: 1em 0;
	width: 100%;
}

span.form-required {
	color: #ffae00;
}

.submitted, .description,
.vertical-tab-button .summary {
	font-size: 0.92em;
	color: #898989;
}

.description .more-help-link {
	font-size: 0.92em;
}

.description {
	line-height: 150%;
	margin-bottom: 0.75em;
	color: #898989;
}

.preview {
	margin: .75em 0 .75em;
	padding: .5em 1em;
}

.form-checkboxes,
.form-radios,
.form-checkboxes .form-item,
.form-radios .form-item {
	margin: 0.25em 0;
}

.form-actions {
	margin: 2em 0 1em;
}

.form-button,
.form-submit {
	margin: 0 0.5em 0 0; 
}

.form-text {
  background: #fbfbfb;
  height: 16px;
  padding: 2px;
  font-size: 11px;
  color: #6A6960;
  border: 1px solid #c8c8c8;
}

.form-textarea {
  background: #fbfbfb;
  padding: 2px;
  font-size: 11px;
  color: #6A6960;
  border: 1px solid #c8c8c8;
}

input.form-checkbox,
input.form-radio {
  vertical-align: text-top;
  margin: 0;
}

.clear {
  clear: both;
}

/********************************************************************/
/*****************************CONTAINER******************************/
/********************************************************************/

#container-wrapper {
  background: #F5F3E3;
}

/********************************************************************/
/*****************************HEADER*********************************/
/********************************************************************/

#header {
  background: url(../images/header.png) repeat-x left top;
  border-bottom: 4px solid #deedb1;
  position: relative;
}

#header #header-inner {
  position: relative;
}

#header #logo {
  position: absolute;
  left: 5px;
  top: 5px;
  z-index: 2;
}

#header #site-name {
  height: 36px;
  left: 160px;
  position: absolute;
  top: 30px;
  font-size: 36px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 2px 2px 7px #000000;
}

#header #site-name:hover {
  text-decoration: none;
}

#header #site-slogan {
  position: absolute;
  top: 65px;
  left: 160px;
  color: white;
  text-shadow: -1px 2px 2px #000000;
}

#header #site-slogan:hover {
  text-decoration: none;
}

#header #top-menu {
  bottom: 1px;
  height: 40px;
  position: absolute;
  z-index: 1;
  width: 100%;
}

#header #top-menu #top-menu-inner {
  background: none repeat scroll 0 0 #393932;
  border: 2px solid #9CCEEA;
  overflow: hidden;
  -webkit-border-radius: 0 15px 0 0;
  -moz-border-radius: 0 15px 0 0;
  border-radius: 0 15px 0 0;  
  margin-left: 100px;
  padding-left: 30px;
}

#header #top-menu ul {
  padding: 0;
  margin: 0;
}

#header #top-menu ul li {
  float: left;
  list-style: none;
  line-height: 12px;
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;
}

#header #top-menu ul li .menu-left {
  background: url(../images/main_link.png) no-repeat left top;
  height: 37px;
  position: absolute;
  left: 0;
  top: 0;
  width: 22px;
  z-index: 0;
}

#header #top-menu ul li .menu-center {
  background: url(../images/main_link.png) no-repeat center top;
  height: 37px;
  position: absolute;
  left: 22px;
  right: 22px;
  top: 0;
  z-index: 0;
}

#header #top-menu ul li .menu-right {
  background: url(../images/main_link.png) no-repeat right top;
  height: 37px;
  position: absolute;
  right: 0;
  width: 22px;
  top: 0;
  z-index: 0;
}

#header #top-menu ul li.active .menu-left,
#header #top-menu ul li:hover .menu-left {
  background-position: left -38px;
}

#header #top-menu ul li.active .menu-right,
#header #top-menu ul li:hover .menu-right {
  background-position: right -38px;
}

#header #top-menu ul li.active .menu-center,
#header #top-menu ul li:hover .menu-center {
  background-position: center -38px;
}

#header #top-menu ul li a {
  color: white;
  display: block;
  padding: 17px 27px 8px;
  position: relative;
  z-index: 1;
  font-size: 13px;
}

#header #top-menu ul li a.active,
#header #top-menu ul li a:hover {
  text-decoration: none;
}

#header .region-header {
  position:absolute;
  right: 160px;
  top: 28px;
}

#header .region-header form .form-item {
  float: left;
  margin: 0;
  position: relative;
  top: 5px;
}

#header .region-header form .form-item .form-text {
  width: 275px;
  background: url(../images/input.png) repeat-x left top;
}

#header .region-header form .form-actions {
  float: left;
  position: relative;
  left: -16px;
  top: 3px;
}

#header .region-header form .button input {
  padding-left: 30px;
}

#header .region-header form .spic {
  background: url(../images/search.png) no-repeat scroll 0 0 transparent;
  height: 36px;
  left: 3px;
  position: absolute;
  top: -2px;
  width: 30px;
  z-index: 5;
}

#header .user-login {
  background: url("../images/user-login-button.png") no-repeat scroll 0 0 transparent;
  color: white;
  display: block;
  font-size: 14px;
  height: 30px;
  line-height: 22px;
  padding-left: 20px;
  position: absolute;
  right: 0;
  text-decoration: none;
  top: 10px;
  width: 74px;
}

/********************************************************************/
/*****************************FOOTER MENU****************************/
/********************************************************************/

#footer-menu {
  background: #3b3a33;
  border-bottom: 1px solid #7b7a72;
}

#footer-menu #footer-menu-inner {

}

#footer-menu ul {
  margin: 0;
  height: 23px;
  padding: 6px 0;
}

#footer-menu ul li {
  float: left;
  height: 23px;
  line-height: 21px;
  list-style: none outside none;
  margin-right: 10px;
  padding: 0;
  position: relative;
  vertical-align: top;
}

#footer-menu ul li .menu-left {
  background: url(../images/menu-footer.png) no-repeat left top;
  position: absolute;
  left: 0;
  top: 0;
  height: 23px;
  width: 12px;
  z-index: 0;
}

#footer-menu ul li.active .menu-left,
#footer-menu ul li:hover .menu-left {
  background-position: left -23px;
}

#footer-menu ul li .menu-center {
  background: url(../images/menu-footer.png) no-repeat center top;
  position: absolute;
  left: 12px;
  right: 12px;
  top: 0;
  height: 23px;
  z-index: 0;
}

#footer-menu ul li.active .menu-center,
#footer-menu ul li:hover .menu-center {
  background-position: center -23px;
}

#footer-menu ul li .menu-right {
  background: url(../images/menu-footer.png) no-repeat right top;
  position: absolute;
  right: 0;
  top: 0;
  height: 23px;
  width: 12px;
  z-index: 0;
}

#footer-menu ul li.active .menu-right,
#footer-menu ul li:hover .menu-right {
  background-position: right -23px;
}

#footer-menu ul li a {
  text-decoration: none;
  color: white;
  position: relative;
  z-index: 1;
  cursor: pointer;
  padding: 5px 15px;
}

/********************************************************************/
/*****************************FOOTER*********************************/
/********************************************************************/

#footer {
  color: white;
  background: #292825;
  padding-top: 10px;
  font-size: 11px;
}

#footer h3.title {
  border-bottom: 1px solid #3D3C37;
  color: white;
  font-size: 14px;
  margin-bottom: 10px;
  padding: 5px 0;
}

#footer a {
  color: #58aedb;
}

#footer .block {
  margin-bottom: 15px;
}

#footer .content {
  padding: 10px;
  border: 1px solid #61615d;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

#footer .content ul {
  margin: 0;
}

#footer .content ul li {
  padding: 10px 15px;
  list-style: none;
  border-bottom: 1px solid #32312e;
}

#footer .content ul li.odd,
#footer .views-row-odd {
  background: #2d2c29;
}

#footer .region-footer .content {
  border: none;
  color: #949493;
}

#footer .block-statistics .content {
  padding: 0;
}

#footer .block-statistics .content h3 {
  color: #58aedb;
  padding: 10px;
}

#footer .block-statistics .content a {
  color: white;
}

#footer .content-footer {
  padding: 10px;
}

#footer #developer {
  padding: 5px 0;
  text-align: right;
}

/********************************************************************/
/*****************************REGIONS********************************/
/********************************************************************/

.region-content-bottom,
.region-content-top,
.region-content{
  
}

.region-content-bottom h3.title,
.region-content-top h3.title,
.region-content h3.title {
  background: url('../images/block-title.png') repeat-x scroll left bottom transparent;
  clear: both;
  color: #3A7C94;
  display: table;
  font-size: 1.3em;
  margin-bottom: 15px;
  padding: 5px 25px 5px 5px;
}

/********************************************************************/
/*****************************NODE***********************************/
/********************************************************************/

.node {
  border: 1px solid #e3e2d8;
  background: #f9f8ef;
  padding: 10px 15px;
  margin-bottom: 20px;
  text-align: justify;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;  
  -webkit-box-shadow: 3px 7px 9px -7px #000000;
  -moz-box-shadow: 3px 7px 7px -7px #000000;
  box-shadow: 3px 7px 7px -7px #000000;  
}

.node h2.title {
  margin-bottom: 10px;
  background: url(../images/node-other.png) no-repeat left top;
  padding: 4px 0 4px 30px;
}

.node h2.title,
.node h2.title a {
  color: #16547b;
  vertical-align: top;
}

.node h2.title .additional {
  background: url("../images/node-arrow.png") no-repeat scroll right 8px transparent;
  color: #87A911;
  margin-right: 9px;
  padding-right: 32px;
}

.user-picture {
  float: right;
  margin-left: 15px;
}

.node img {
  border-color: #CCCCCC #C1C1C1 #C1C1C1 #CCCCCC;
  border-style: solid;
  border-width: 1px;
  -webkit-box-shadow: 3px 3px 4px #C9C9C9;
  -moz-box-shadow: 3px 3px 4px #C9C9C9;
  box-shadow: 3px 3px 4px #C9C9C9;
}

.node .node-top {
  padding-bottom: 10px;
}

.node .node-bottom {
  padding-top: 10px;
}

.node .bottom {
  clear: both;
}

.node .bottom ul {
  padding: 0;
  margin: 0;
}

.node .bottom ul li {
  float: left;
  list-style: none;
  margin-right: 20px;
  line-height: 26px;
  font-size: 11px;
  color: #6A6960;
  height: 20px;
}

.node .bottom ul li .name {
  background: url(../images/node-author.png) no-repeat left bottom;
  display: block;
  height: 20px;
  padding-left: 15px;
}

.node .bottom ul li .date {
  background: url(../images/node-created.png) no-repeat left bottom;
  display: block;
  height: 20px;
  padding-left: 19px;
}

.node .bottom ul li.statistics_counter {
  background: url(../images/node-viewes.png) no-repeat left 8px;
  display: block;
  height: 20px;
  padding-left: 20px;
}

.node .bottom-right-links ul li {
  padding-right: 0;
}

.node .bottom ul li.comment-add,
.node .bottom ul li.comment-comments {
  background: url(../images/node-comments.png) no-repeat left bottom;
  display: block;
  height: 20px;
  padding-left: 24px;
}

.node .bottom ul li.node-readmore {
  background: url(../images/node-readmore.png) no-repeat right bottom;
  display: block;
  height: 20px;
  padding-right: 21px;
}

.node .bottom-links {
  float: left;
}

.node .bottom .bottom-right-links {
  float: right;
}

.node .bottom .bottom-right-links .tags {
  padding-left: 27px;
  background: url(../images/node-tags.png) no-repeat left 6px;
  display: table;
}

.node .bottom .bottom-right-links li {
  margin-right: 0;
  margin-left: 20px;
}

.node .bottom .bottom-right-links .tags li {
  margin-left: 0;
  margin-right: 10px;
}

.social-links {
  background: #f7f5e8;
  border: 1px solid #e3e2d8;
  color: #6A6960;
  text-align: center;
  padding: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  line-height: 32px;
  -webkit-box-shadow: 3px 7px 7px -7px #000000;
  -moz-box-shadow: 3px 7px 7px -7px #000000;
  box-shadow: 3px 7px 7px -7px #000000;
}

.social-links .social-text {
  float: left;
  padding-left: 20px;
}

.social-links .addthis_toolbox {
  float: right;
  margin-right: 15px;
}

.node-navigation {
  padding: 30px 0;
  display: table;
}

.node-navigation .node-prev {
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  width: 40%;
}

.node-navigation .node-prev .node-navigation-bg {
  padding-right: 40px;
  background: url("../images/node-navigation-left.png") no-repeat scroll right center transparent;
}

.node-navigation .node-next {
  display: table-cell;
  text-align: right;
  vertical-align: middle;
  width: 40%;
}
.node-navigation .node-next .node-navigation-bg {
  padding-left: 40px;
  background: url("../images/node-navigation-right.png") no-repeat scroll left center transparent;
}

.node-navigation .nav {
  text-align: center;
  font-size: 16px;
  color: #47463f;
  display: table-cell;
  width: 150px;
  vertical-align: middle;
}

/********************************************************************/
/*****************************COMMENTS*******************************/
/********************************************************************/

#comments h2.title {
  background: url("../images/comment-title.png") no-repeat scroll left top transparent;
  border-bottom: 1px solid #D0DE97;
  color: #16547B;
  font-size: 16px;
  height: 30px;
  line-height: 40px;
  margin-bottom: 15px;
  padding: 6px 100px 5px 65px;
  display: table;
}

#comments h2.title.comment-form {
  background-image: url("../images/comment-form-title.png");
  margin-bottom: 0;
}

.comment {
  background: #fcfbf1;
  border: 1px solid #e3e2d8;
  padding: 10px 15px;
  margin-bottom: 15px;
  text-align: justify;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 3px 7px 7px -7px #000000;
  -moz-box-shadow: 3px 7px 7px -7px #000000;
  box-shadow: 3px 7px 7px -7px #000000;
}

.comment.even {
  border-color: #bdd6db;
}

.comment .comment-picture {
  float: left;
  width: 100px;
  padding-top: 5px;
  text-align: center;
}

.comment .comment-right {

}

.comment .comment-right.with-picture {
  margin-left: 125px;
}

.comment  .comment-bottom {
  clear: both;
  color: #6A6960;
}

.comment .comment-author {
  background: url(../images/comment-author.png) no-repeat left top;
  color: #6a6960;
  font-size: 11px;
  padding-left: 15px;
  padding-top: 2px;
}

.comment .comment-author .username {
  color: #365e6a;
}

.comment .comment-created {
  background: url(../images/comment-created.png) no-repeat left center;
  padding-left: 18px;
  float: left;
  color: #6a6960;
  font-size: 11px;
}

.comment .comment-permalink {
  background: url("../images/comment-counter.png") no-repeat scroll 0 0 transparent;
  float: right;
  font-size: 10px;
  height: 22px;
  line-height: 22px;
  padding-right: 1px;
  position: relative;
  right: -16px;
  text-align: center;
  top: -11px;
  width: 29px;
}

.comment .comment-links {
  float: right;
  font-size: 11px;
}

.comment .comment-links li {
  float: left;
  list-style: none;
  height: 20px;
  line-height: 23px;
}

.comment .comment-links li.comment-delete {
  background: url(../images/comment-delete.png) no-repeat left center;
  padding-left: 21px;
}

.comment .comment-links li.comment-edit {
  background: url(../images/comment-edit.png) no-repeat left center;
  padding-left: 21px;
}

.comment .comment-links li.comment-reply {
  background: url(../images/comment-reply.png) no-repeat left center;
  padding-left: 25px;
}

/********************************************************************/
/*****************************COMMENT FORM***************************/
/********************************************************************/

form.comment-form {
  background: #f9f8ef;
  padding: 10px 25px;
  border: 1px solid #d0de97;
  -webkit-border-radius: 0 15px 15px 15px;
  -moz-border-radius: 0 15px 15px 15px;
  border-radius: 0 15px 15px 15px;
  position: relative;
  top: -1px;
  -webkit-box-shadow: 3px 7px 7px -7px #000000;
  -moz-box-shadow: 3px 7px 7px -7px #000000;
  box-shadow: 3px 7px 7px -7px #000000;
}

#comments form.comment-form {
  margin-left: 25px;
}

form.comment-form .form-actions {
  margin: 0;
}

form.comment-form label {
  color: #47463F;
  font-weight: normal;
}

form.comment-form .form-actions .captcha {
  float: left;
  padding-top: 10px;
  width: 300px;
}

form.comment-form .form-actions .captcha .form-item {
  margin: 0;
}

form.comment-form .form-actions .captcha label {
  float: left;
  margin-right: 10px;
}

form.comment-form .form-actions .captcha label .form-required {
  display: none;
}

.captcha .description {
  display: none;
}

form.comment-form .form-actions span.button {
  margin-bottom: 0;
  margin-top: 1em;
  float: right;
}

form.comment-form.anonymous .form-actions span.button {
  margin-top: 2.5em;
}

form.comment-form .field-name-field-comment-reply-notification {
  float: left;
  color: #47463f;
}

form.comment-form .form-item-field-comment-reply-notification-und {
  margin-bottom: 0;
}

form.comment-form .form-item-name label {
  background: url(../images/comment-form-author.png) no-repeat left center;
  padding-left: 24px;
}

form.comment-form .form-item-mail label {
  background: url(../images/comment-form-mail.png) no-repeat left center;
  padding-left: 24px;
}

form.comment-form .form-item-homepage label {
  background: url(../images/comment-form-homepage.png) no-repeat left center;
  padding-left: 24px;
}
form.comment-form .form-item-subject label {
  background: url(../images/comment-form-subject.png) no-repeat left center;
  padding-left: 24px;
}


form.comment-form .form-type-textarea label {
  font-weight: normal;
  color: #47463f;
  background: url(../images/comment-form-textarea.png) no-repeat left center;
  padding-left: 28px;
}

form.comment-form fieldset {
  border: none;
  padding: 0;
}

form.comment-form #edit-author--2 label {
  background: url(../images/comment-form-author.png) no-repeat left center;
  padding-left: 28px;
  display: inline;
}

/********************************************************************/
/*****************************PAGE TITLE*****************************/
/********************************************************************/

h1 {
  margin-bottom: 10px;
  background: url(../images/node-other.png) no-repeat left top;
  padding: 4px 0 5px 30px;
}

h1,
h1 a {
  color: #16547b;
}

h1 .additional {
  background: url("../images/node-arrow.png") no-repeat scroll right 8px transparent;
  color: #87A911;
  margin-right: 9px;
  padding-right: 32px;
}

/********************************************************************/
/*****************************BLOCK**********************************/
/********************************************************************/

#sidebar {
  font-size: 0.85em;
}

#sidebar .block {
  border: 1px solid #92c8e9;
  background: #fcfbf1;
  margin-bottom: 30px;
  position: relative;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 3px 7px 7px -7px #000000;
  -moz-box-shadow: 3px 7px 7px -7px #000000;
  box-shadow: 3px 7px 7px -7px #000000;
}

#sidebar .block .icon {
  background: url(../images/block-default.png) no-repeat left top;
  position: absolute;
  left: -20px;
  top: -20px;
  height: 63px;
  width: 57px;
}

#sidebar #block-comment-recent .icon {
  background: url(../images/block-comments.png) no-repeat left top;
}

#sidebar #block-poll-recent .icon {
  background: url(../images/block-poll.png) no-repeat left top;
}

#sidebar .block-cumulus .icon {
  background-image: url(../images/block-tags.png);
}

#sidebar #block-views-last-comments-block .icon {
  background: url(../images/block-comments.png) no-repeat left top;
}

#sidebar #block-comment-recent span {
  display: block;
  font-size: 11px;
  color: #999;
}

#sidebar .block h3.title {
  background: url(../images/block-title.png) no-repeat left bottom;
  padding: 8px 4px 8px 45px;
  color: #3a7c94;
  font-size: 1.3em;
}

#sidebar .block .content {
  padding: 12px;
}

#sidebar .block .content .item-list ul {
  margin: 0;
}

/********************************************************************/
/*****************************TABLES*********************************/
/********************************************************************/

table {
  background: #FCFBF1;
  border-spacing: 0;
  width: 100%;
  border-collapse: separate;
  border: 1px solid #92C8E9;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

table td,
table th {
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 5px 10px;
  text-align: left;
  font-size: 0.85em;
}

table tr:first-child td {
  border-top: none;
}

#container table th {
  border-top: none;
  background: #fcfbf1;
}

table td:first-child,
table th:first-child {
  border-left: none;
}

table th:first-child {
  -webkit-border-radius: 15px 0 0 0;
  -moz-border-radius: 15px 0 0 0;
  border-radius: 15px 0 0 0;
}

table th:last-child {
  -webkit-border-radius: 0 15px 0 0;
  -moz-border-radius: 0 15px 0 0;
  border-radius: 0 15px 0 0;
}

#container table tbody tr,
#container table tbody tr.odd {
  background: none;
}

#container table tbody tr.even {
  background: #f4f2e5;
}

#container table tbody tr:hover,
#container table tbody tr.even:hover,
#container table tbody tr.odd:hover {
  background: #fbf8e9;
}

#footer table tbody tr,
#footer table tbody tr.odd,
#footer table tbody tr.even {
  background: none;
}

table tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 15px;
  -moz-border-radius: 0 0 0 15px;
  border-radius: 0 0 0 15px;
}

table tr:last-child td:last-child {
  -webkit-border-radius: 0 0 15px 0;
  -moz-border-radius: 0 0 15px 0;
  border-radius: 0 0 15px 0;
}

table tr:first-child td ,
table tr:first-child th {
  border-top: none;
}

table tr:first-child td:only-child:first-child {
  -webkit-border-radius: 15px 15px 0 0;
  -moz-border-radius:15px 15px  0 0;
  border-radius:15px 15px  0 0;
}

table tr:last-child td:only-child:last-child {
  -webkit-border-radius: 0 0 15px 15px;
  -moz-border-radius: 0 0 15px 15px;
  border-radius: 0 0 15px 15px;
}

#container table td.active {
  background-color: #F4F2E5;
}

/********************************************************************/
/*****************************TABS***********************************/
/********************************************************************/

ul.tabs {
  border-bottom: 1px solid #D0DE97;
  clear: both;
  display: table;
  margin: 0 0 10px;
  width: 100%;
}

ul.tabs li {
  float: left;
  line-height: 27px;
  padding-left: 10px;
}

ul.tabs li a {
  background: url(../images/tabs-inactive.png);
  height: 27px;
  display: inline-block;
  border-left: 1px solid #d0de97;
  border-right: 1px solid #d0de97;
  border-top: 1px solid #d0de97;
  border-bottom: none;
  line-height: 27px;
  -webkit-border-radius: 15px 15px 0 0;
  -moz-border-radius: 15px 15px 0 0;
  border-radius: 15px 15px 0 0;
  margin-right: 0;
  padding: 0 1.5em;
}

ul.tabs li a.active,
ul.tabs li a.active:hover,
ul.tabs li a:hover {
  background-image: url(../images/tabs-active.png);
  border-left: 1px solid #d0de97;
  border-right: 1px solid #d0de97;
  border-top: 1px solid #d0de97;
  border-bottom: none;
}

.tabs li a.active:hover {
  color: #365E6A;
}

ul.tabs.secondary {
  padding: 0;
}

ul.tabs.secondary li {
  border: 0;
  padding-right: 0;
}

ul.tabs.secondary li a.active {
  text-decoration: none;
}

/********************************************************************/
/*****************************PAGER**********************************/
/********************************************************************/

.item-list .pager {
  margin-bottom: 20px;
  position: relative;
}

.item-list .pager .pager-item a {
  text-decoration: none;
  font-size: 16px;
  color: #292825;
}

.item-list .pager .pager-item a:hover {
  text-decoration: underline;
}

.item-list .pager .pager-current {
  color: #3a7ba1;
  font-weight: bold;
  font-size: 20px;
  padding: 0 10px;
}

.item-list .pager .pager-previous a {
  background: url(../images/pager-prev.png) no-repeat center center;
  width: 30px;
  height: 20px;
  vertical-align: bottom;
  display: inline-block;
}

.item-list .pager .pager-first a {
  background: url(../images/pager-first.png) no-repeat center center;
  width: 43px;
  height: 20px;
  vertical-align: bottom;
  display: inline-block;
}

.item-list .pager .pager-next a {
  background: url(../images/pager-next.png) no-repeat center center;
  width: 30px;
  height: 20px;
  vertical-align: bottom;
  display: inline-block;
}

.item-list .pager .pager-last a {
  background: url(../images/pager-last.png) no-repeat center center;
  width: 43px;
  height: 20px;
  vertical-align: bottom;
  display: inline-block;
}

/********************************************************************/
/*****************************BUTTONS********************************/
/********************************************************************/

.button {
  display: inline-block;
  position: relative;
  z-index: 3;
  height: 31px;
  vertical-align: top;
}

.button .button-left {
  background: url(../images/button.png) no-repeat left top;
  height: 31px;
  width: 12px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

.button .button-center {
  background: url(../images/button.png) no-repeat center top;
  height: 31px;
  position: absolute;
  left: 12px;
  right: 12px;
  top: 0;
  z-index: 0;
}

.button .button-right {
  background: url(../images/button.png) no-repeat right top;
  height: 31px;
  width: 12px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

.button input {
  background: none;
  border: none;
  height: 31px;
  padding: 0 20px 6px;
  margin: 0;
  cursor: pointer;
  color: white;
  position: relative;
  font-family: Verdana, sans-serif;
  font-size: 14px;
}

.button .ajax-progress-throbber {
  right: 3px;
  top: 3px;
}

/********************************************************************/
/***************************POLL*************************************/
/********************************************************************/

.poll {

}

.poll .title {
  font-size: 12px;
  margin-bottom: 10px;
  font-weight: bold;
}

#sidebar .poll .title {
  color: #294a6a;
}

.poll .text {
  font-size: 11px;
}

.poll .row {
  height: 12px;
  margin-bottom: 5px;
}

.poll .bar {
  background: url(../images/poll-bg.png) repeat-x top;
  height: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-bottom: 1px solid #D0D0D0;
}

.block-poll .poll .bar {
  margin-right: 40px;
}

.poll .bar .foreground {
  background: url(../images/poll-active.png) repeat-x top;
  height: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 3px #000000;
  -moz-box-shadow: 1px 1px 3px #000000;
  box-shadow: 1px 1px 3px #000000;
}

.poll .percent {
  color: #9E9E8A;
  float: right;
  font-size: 10px;
  height: 10px;
  line-height: 10px;
}

.poll .total {
  text-align: right;
  font-size: 10px;
  color: #61605a;
  clear: both;
  padding-top: 5px;
}

.block-poll .links {
  text-align: right;
}

.block-poll .links {
  margin: 0;
}

.block-poll .links li {
  padding: 0  !important;
  background: none !important;
}

.block-poll .links li a {
  color: #4791ac !important;
  font-size: 11px;
  text-decoration: underline;
}

.block-poll .links li a:hover {
  text-decoration: none;
}

/********************************************************************/
/***************************USER LOGIN BLOCK*************************/
/********************************************************************/

#block-user-login {
  padding: 0;
}

#block-user-login label {
  font-size: 11px;
  color: #267bb0;
}

#block-user-login .item-list {
  float: left;
  width: 130px;
}

#block-user-login .item-list ul li {
  list-style: none;
  height: 16px;
}

#block-user-login .item-list ul li.first {
  background: url(../images/block-login-register.png) no-repeat left bottom;
  padding-left: 18px;
}

#block-user-login .item-list ul li.last {
  background: none;
  padding-left: 0;
}

#block-user-login .item-list ul li a {
  font-size: 9px;
  color: #267bb0;
  display: block;
}

#block-user-login input.form-text {
  background: url("../images/input.png") repeat-x scroll left top transparent;
}

#block-user-login .form-actions {
  margin: 0;
  padding-top: 5px;
  float: right;
  z-index: 9999;
  position: relative;
}

#block-user-login .form-actions .button {
  z-index: 9999;
}

#block-user-login .icon {
  background: url("../images/block-login.png") no-repeat scroll 0 0 transparent;
  height: 63px;
  left: -32px;
  position: absolute;
  top: -75px;
  width: 57px;
  z-index: 10005;
}

#block-user-login .form-item {
  padding-left: 40px;
}

.ui-dialog {
  border: 1px solid #92c8e9;
  padding: 10px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;  
  overflow: visible;
  -webkit-box-shadow: 3px 7px 7px -7px #000000;
  -moz-box-shadow: 3px 7px 7px -7px #000000;
  box-shadow: 3px 7px 7px -7px #000000;
  background: #fcfbf1;
}

.ui-widget-header {
  background: none;
  border: none;
}

.ui-dialog-title {
  background: url("../images/block-title.png") no-repeat scroll left bottom transparent;
  color: #3A7C94;
  font-size: 1.1em;
  font-weight: normal;
  padding: 0 4px 8px 35px;
}

.ui-widget-header .ui-icon {
  background: url(../images/close.png) no-repeat;
  width:23px;
  height:23px;
}

.ui-dialog .ui-dialog-content {
  overflow: visible;
}

.ui-dialog .ui-dialog-titlebar {
  padding: 0;
}

.ui-dialog .ui-dialog-titlebar-close {
  height: 23px;
  margin: 0;
  padding: 0;
  right: 0;
  top: 0;
  width: 23px;
}

.ui-dialog .ui-state-hover {
  background: none;
  padding: 0;
  margin: 0;
  border: none;
}

.ui-widget-overlay {
  background: black;
  opacity: 0.5;
}

/* It should be hidden in block settings,
   but most users are stupid and title in popup duplicates :( */
.ui-dialog h3.title {
  display: none;
}

/********************************************************************/
/***************************FILTERS**********************************/
/********************************************************************/

.geshifilter pre,
.geshifilter-drupal6 {
  font-size: 12px;
}

/********************************************************************/
/***************************OTHER************************************/
/********************************************************************/

.tweetmeme-button {
  padding-left: 15px;
}

.field-type-image {
  float: left;
  margin-right: 15px;
}

.messages {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.ajax-progress {
  position: relative;
}

.block-region {
  background-color: #FFFF66;
  border: 1px solid;
  color: black;
  font-size: 14px;
  font-weight: bold;
  padding: 3px 10px;
  text-align: center;
}

.views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 0;
}

.views-submit-button {
  margin-top: 1.2em;
}