.block-user .item-list li {
  zoom: 1;
}

input.form-submit {
  overflow: visible;
}

#comment-form .filter-wrapper {
  padding-top: 1em;
}

.field-type-taxonomy-term-reference ul li {
  display: inline;
  zoom: 1;
}
