/**
 * CSS styles for Photogenic
 */

/*** Miscellaneous ***/
html, body {
  height: 100%;
}

body {
  background: #0a0a0a url('images/body-bg.png') repeat-x;
  color: #c8c8c8;
  font-family: 'Garogier', serif;
  font-size: 0.8em;
  font-size-adjust: 0.52;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #969696;
  margin: 0 0 0.5em;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

p {
  margin: 0 0 1em;
}

a {
  color: #ffffff;
}

a:hover,
a:active,
a.active {
  text-decoration: none;
}

a.feed-icon {
  display: block;
  margin-top: 1em;
  text-align: right;
}

img {
  vertical-align: bottom;
}

/*** Page ***/
#page-wrapper {
  background: url('images/page-bg.png') repeat;
  margin: 0 auto;
  min-height: 100%;
  width: 960px;
}

#page {
  padding: 25px;
}

/*** Header ***/
#header {
  margin-bottom: 20px;
}

#logo-title {
  float: left;
}

#logo {
  display: block;
  float: left;
  margin-right: 25px;
}

#name-and-slogan {
  float: left;
}

#site-name {
  font-size: 2em;
  font-weight: bold;
  margin: 0.5em 0;
}

#site-name a {
  text-decoration: none;
}

#site-slogan {
  font-size: 1.2em;
}

/* Header blocks */
div.region-header {
  float: right;
}

div.region-header ul.menu {
  margin: 0;
  padding: 0;
}

div.region-header ul.menu li.leaf {
  float: left;
  list-style: none;
  margin: 0 0 0 1em;
  padding: 0;
}

/*** Menu ***/
#menu {
  font-size: 1.1em;
  margin-bottom: 15px;
}

#menu ul.menu {
  margin: 0;
  padding: 0;
}

#menu ul.menu li.leaf {
  float: left;
  list-style: none;
  margin: 0 1.5em 0 0;
  padding: 0;
}

#menu ul.menu li.leaf a {
  text-decoration: none;
  text-transform: uppercase;
}

#menu ul.menu li.leaf a:hover,
#menu ul.menu li.leaf a:active,
#menu ul.menu li.leaf a.active {
  color: #969696;
}

/*** Content ***/
div.node .submitted {
  font-size: 0.9em;
  margin-bottom: 1em;
}

div.node .content,
div.node .content .field {
  margin-bottom: 1em;
}

div.node .content .field-type-taxonomy-term-reference .field-item {
  float: left;
  margin-right: 0.5em;
}

/* Comments */
#comments {
  margin-top: 2em;
}

#comments .comment {
  margin-bottom: 1.5em;
}

/* Tabs */
#content ul.tabs {
  border-color: #c8c8c8;
  margin: 0 0 1em;
}

#content ul.tabs li a {
  background-color: #969696;
  border-color: #c8c8c8;
}

#content ul.tabs li a:hover,
#content ul.tabs li a:active,
#content ul.tabs li a.active {
  background: #ffffff;
  color: #646464;
}

/*** Footer ***/
#footer {
  border-top: 1px solid #646464;
  color: #969696;
  font-size: 0.8em;
  margin-top: 15px;
  padding-top: 5px;
}

#footer a {
  color: #969696;
}


/*** ---------- ***/


/*** Contact Form ***/
#contact-site-form .form-item,
#contact-site-form .form-actions {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

#contact-site-form label {
  float: left;
  font-size: 1.2em;
  line-height: 1.5em;
  margin: 0;
  padding-right: 30px;
  text-align: right;
  width: 250px;
}

#contact-site-form input.form-text {
  background: url('images/input-bg.png') repeat;
  border: none;
  color: #c8c8c8;
  font-size: 1.5em;
  padding: 5px;
  width: 440px;
}

#contact-site-form textarea {
  background: url('images/input-bg.png') repeat;
  border: none;
  color: #c8c8c8;
  font-size: 1.5em;
  padding: 5px;
  width: 620px;
}

#contact-site-form .resizable-textarea .grippie {
  background-color: #1e1e1e;
  border: none;
  margin-left: 280px;
  width: 620px;
}

#contact-site-form .form-item-copy input {
  margin-left: 280px;
}

#contact-site-form .form-item-copy label {
  float: none;
  padding-right: 0;
  width: auto;
}

#contact-site-form .form-actions input.form-submit {
  font-size: 1.3em;
  margin-left: 280px;
}

/*** Messages ***/
div.messages {
  background-position: 8px 5px;
  margin: 0 0 1em;
}

div.status,
table tr.ok {
  background-color: #dff2bf;
}

div.status {
  border-color: #4f8a10;
}

div.status,
div.status a,
.ok,
.ok a {
  color: #4f8a10;
}

div.warning,
table tr.warning {
  background-color: #feefb3;
}

div.warning {
  border-color: #9f6000;
}

div.warning,
div.warning a,
.warning,
.warning a {
  color: #9f6000;
}

div.error,
table tr.error {
  background-color: #ffbaba;
}

div.error {
  border-color: #d8000c;
}

div.error,
div.error a,
.error,
.error a {
  color: #d8000c;
}

/*** Form Elements ***/
label {
  margin-bottom: 0.2em;
}

.form-item .description {
  margin-top: 0.2em;
}

.password-strength {
  width: 14.5em;
}

html.js fieldset.collapsible .fieldset-legend {
  background-image: url('images/menu-expanded.png');
}

html.js fieldset.collapsed .fieldset-legend {
  background-image: url('images/menu-collapsed.png');
}

div.vertical-tabs ul.vertical-tabs-list li a {
  color: #969696;
}

div.vertical-tabs .vertical-tabs-panes {
  padding-top: 5px;
}

.item-list ul {
  margin: 0.5em 0;
  padding-left: 1em
}

.item-list ol {
  margin: 0.5em 0;
  padding-left: 3em
}

.item-list ul li,
.item-list ol li {
  margin-bottom: 0.1em;
}

.item-list h1,
.item-list h2,
.item-list h3,
.item-list h4,
.item-list h5,
.item-list h6 {
  margin-bottom: 0;
}

input.form-submit {
  margin-right: 0.5em;
}

/*** Lists ***/
ul.menu {
  margin: 1em 0;
  padding-left: 2em;
}

ul.menu li {
  margin: 0 0 0.2em;
}

ul.menu ul {
  margin: 0.5em 0;
}

li.leaf,
li.collapsed,
li.expanded {
  padding: 0;
}

ul li.leaf {
    list-style-image: url('images/menu-leaf.png');
}

ul li.collapsed {
  list-style-image: url('images/menu-collapsed.png');
}

ul li.expanded {
  list-style-image: url('images/menu-expanded.png');
}

li a.active {
  color: #ffffff;
}

/*** Tables ***/
table {
  width: 100%;
}

th {
  border-bottom: 3px solid #969696;
  padding: 0.2em 1em 0.2em 0.2em;
}

tbody {
  border-top: 1px solid #969696;
}

tr.even,
tr.odd {
  background-color: #1e1e1e;
  border-bottom: 1px solid #969696;
  padding: 0;
}

tr.even {
  background-color: #323232;
}

td {
  padding: 0.2em 1em 0.2em 0.2em;
}
