@import compass

$main-width: $width - $sidebar

$description-height: 65px

$image-nav-height: $height - $description-height

$text-padding: 10px
$heading-height: 28px
$heading-padding: 5px

$menu-border: 6px

$nav-height: $height - $heading-height - $menu-border

$white: white
$black: black
$yellow: #ffcc00
$purple: #521d5f
