$height: 390px
$width: 715px
$sidebar: 175px
$arrow-width: 220px
$num-of-images: 5

@import rotoslider

.rotoslider-image-nav
  img.rotoslider-image,
  .rotoslider-images,
  .rotoslider-images img
    width: $main-width
  .rotoslider-description
    bottom: 0
  .rotoslider-descriptions
    & > div
      background:
        position: bottom right
        repeat: no-repeat
      height: $description-height
      width: $width
      .heading,
      .text
        width: $width - $arrow-width
  .rotoslider-menu
    height: $image-nav-height
  .rotoslider-nav
    height: $image-nav-height
    img
      height: $image-nav-height / $num-of-images
      vertical-align: middle
      width: 100%
