
	img{border:none;}
	

    /* image replacement */
        .graphic, #prevBtn, #nextBtn, #slider1prev, #slider1next{
            margin:0;
            padding:0;
            display:block;
            overflow:hidden;
            text-indent:-8000px;
            }
    /* // image replacement */
/*			
	#container{	
		margin:0 auto;
		position:relative;
		text-align:left;
		width:696px;
		background:#fff;		
		margin-bottom:2em;
		}	
*/
/* Easy Slider */
#slider {
    z-index: -1000;
    margin:0 auto;
	position:relative;
	text-align:left;
	width: 98%;
	height: 300px;
	background:#fff;		
	margin-bottom:2em;
	overflow: hidden;
}
	#slider ul, #slider li,
	#slider2 ul, #slider2 li{
		margin:0;
		padding:0;
		list-style:none;
		z-index: -500;
		}
	#slider li { 
		width: 100%;
		height:300px;
		overflow:hidden; 
		display: none;
		}
	#slider img {
        width: 100%;
		    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); 
    filter: gray;
    -webkit-filter: grayscale(100%)
        }
	#slider li.active { 
		display: block;
		}    		
	#prevBtn, #nextBtn,
	#slider1next, #slider1prev{ 
		display:block;
		width:35px;
		height:100px;
		position:absolute;
		left:-35px;
		top:120px;
		z-index:1000;
		}	
	#nextBtn, #slider1next{ 
		left:900px;
		}														
	#prevBtn a, #nextBtn a,
	#slider1next a, #slider1prev a{  
		display:block;
		position:relative;
		width:35px;
		height:100px;
		background:url(images/btn_prev.png) no-repeat 0 0;	
		}	
	#nextBtn a, #slider1next a{ 
		background:url(images/btn_next.png) no-repeat 0 0;	
		}	
		
	/* numeric controls */	

	ol#controls{
		margin:0;
		padding: 0;
		height:10px;
        position: absolute;
        bottom: 9px;
        z-index: 1000;	
        left:410px;	
        font-size: 1px;		
		}
	ol#controls li{
		margin:0 10px 0 0; 
		padding: 1px 0 0;
		float:left;
		list-style:none;
		height:9px;
		line-height:9px;
		}
	
	ol#controls li a{
		float:left;
		height:5px;
		line-height:5px;
		border:2px solid #605d5d;
		background: #000;
		color:#000;
		padding:0 2px;
		text-decoration:none;
		opacity:0.4;
        filter:alpha(opacity=40); /* For IE8 and earlier */
		}
	
	ol#controls li.current a{
		background: #605d5d;
		opacity:1.0;
        filter:alpha(opacity=100); /* For IE8 and earlier */
		}
	ol#controls li a:focus, #prevBtn a:focus, #nextBtn a:focus{outline:none;}
	
#slider img:hover { filter: grayscale(100%); }