/**
* DEFAULT CSS STYLES AND ZERO OUT FOR PLINK
*
* This file also contains a few optimizations for print styles.
**/

/** ZERO OUT and some style overrides - props to HTML5 Doctor, Boilerplate, Tripoli **/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}


audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th, b { font-weight: bold; }
td { vertical-align: top; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea { color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }

/** 
* DEFAULT STYLING 
**/

h1 { font-size: 1.6em; line-height: 1; margin: 0 0 .5em 0; }
h2 { font-size: 1.5em; line-height: 1; margin: 0 0 .535em 0; }
h3 { font-size: 1.4em; line-height: 1; margin: 0 0 .57em 0; }
h4 { font-size: 1.3em; line-height: 1; margin: 0 0 .615em 0; }
h5 { font-size: 1.2em; line-height: 1; margin: 0 0 .67em 0; }
h6 { font-size: 1em; line-height: 1; margin: 0 0 .8em 0; }

#site-name { font-size: 3em; text-decoration: none; }

hr, p, ul, ol, dl, pre, address, table, form { margin-bottom: 1.6em; }

nav ul { margin-bottom: 0; } /* No margins or paddings on nav lists */

p+p { margin-top: -.8em; }

ul { list-style: disc outside; }
ul ul, ol ul { list-style: square outside; }
ul ul ul, ol ul ul, ol ol ul, ul ol ul { list-style: circle outside; }

ol { list-style: decimal outside; }
ul ol, ol ol { list-style: lower-latin outside; }
ul ul ol, ol ul ol, ol ol ol, ul ol ol { list-style: lower-roman outside; }

dt { margin-top: .8em; margin-bottom: .4em; }

fieldset { border: solid 1px #999; padding: 15px; margin: 15px; }
legend { padding-left: .8em; padding-right: .8em; }
fieldset fieldset {
  margin: 0px;
}

textarea,input[type='text'] { padding: .1em .2em; }
input { padding: .2em .1em; }
select { padding: .2em .1em 0; }
select[multiple] { margin-bottom: .8em; }
option { padding: 0 .4em .1em; }
button { padding: .3em .5em; }

input, button, textarea, input[type="file"] {
  border: 1px solid #acacad;
  background: #FFFFFF;
/*  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;*/
}

input.form-text {
  line-height: 1.5em;
  height: 1.5em;
}

input:hover, button:hover, textarea:hover, input[type="file"]:hover,
input:focus, button:focus, textarea:focus, input[type="file"]:focus {
  background: #DEDEDE;
  border-color: #000;
}

input.form-submit, button, input[type='submit'], input[type='reset'] {
  cursor: pointer;
  padding: 0.3em 1.2em;
  line-height: 1.5em;
  margin-bottom: 1em;
  color: #555555;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  font-size: 1.0em;
  text-transform: uppercase;
  font-family: "Lucida Grande", Verdana, sans-serif;
  
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.35, rgb(196,196,196)),
      color-stop(0.88, rgb(247,247,247))
  );
  background-image: -moz-linear-gradient(
      center bottom,
      rgb(196,196,196) 35%,
      rgb(247,247,247) 88%
  );
  
}



/** System Tabs **/

.tabs {
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 20px;
}

.tabs ul.primary { padding: 0; margin: 0; overflow: hidden; border: none; border-bottom: solid 1px #999; }
.tabs ul.primary li { display: block; float: left; /* LTR */ vertical-align: bottom; margin: 0 5px 0 0; /* LTR */ }
.tabs ul.primary li a { border-bottom: 0; }

.tabs ul.primary li a {
  background-color: #ededed;
  color: #000;
  display: block;
  float: left; /* not LTR */
  font-size: 1.0em;
  line-height: 1.2em;
  margin: 0;
  padding: 3px 7px 2px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.tabs ul.primary li a:hover {
  border-color: #333;
}

.tabs ul.primary li.active a { background-color: #ffffff; }
.tabs ul.secondary { border-bottom: none; padding: 0.5em 0; }
.tabs ul.secondary li { display: block; float: left; /* LTR */ }
.tabs ul.secondary li:last-child { border-right: none; /* LTR */ }
.tabs ul.secondary li:first-child { padding-left: 0; /* LTR */ }
.tabs ul.secondary li a { padding: 0.25em 0.5em; }

.tabs ul.secondary li a.active { 
  background: #f2f2f2;
  border-bottom: none;
/*  border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;*/
}

/** Action links **/

ul.action-links { list-style: none; margin: 5px; padding: 0.5em 1em; }
ul.action-links li { display: inline-block; margin-left: 10px; }
ul.action-links li a { margin: 0 10px 0 0; padding-left: 15px; }

/** Skip Links **/

#skip-links a,
#skip-links a:link,
#skip-links a:visited,
#skip-links a:hover{height:1px;left:0;overflow:hidden;position:absolute;top:-500px;width:1px;}
#skip-links a:active,
#skip-links a:focus{position:static;height:auto;width:auto;}


/** Tables **/

table { border-spacing: 0; width: 100%; }
tbody { border: 0; }
thead th, th { border-bottom: 3px solid #ccc; }
tbody th { border-bottom: 1px solid #ccc; }
caption { text-align: left; }
th { margin: 0; padding: 0 10px 0 0; }
th.active img { display: inline; }
thead th { padding-right: 10px; }
td { margin: 0; padding: 0px; }

/* Maintain light background/dark text on dragged table rows */
tr.drag td, tr.drag-previous td { background: #FFFFDD; color: #000; }

/* Alternating row background styles */
tr.even{ background-color: #eee; border-bottom: 1px solid #ccc; }
tr.odd{ background-color: #fff; border-bottom: 1px solid #ccc; }

/** Admin Menu **/
#admin-menu * { font-size: 10px; }


/**
* Console ============================================================
* Code Credit for status messages - Rubik theme
*/
div.messages {
padding:15px 15px 15px 45px;
color:#036;
background-color:#f8f8f8;
border:5px solid #fff;
}

table tr.warning th,
div.warning {
color:#a84;
background-color:#fff4c0;
}

table tr.error th,
div.error {
color:#965;
background-color:#ffe4e0;
}

table tr.ok th,
table tr.info th,
div.status {
color:#687;
background-color:#ecf8f4;
}

div.error { border-color:#fff8f4; }
div.warning { border-color:#fffce4; }
div.status { border-color:#f8fffc; }


/* The magnificent clearfix and its little buddy clears */

.clearfix:before, .clearfix:after { content: "\0020"; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.clear, .clear-both, .pclear { clear:both; }
.clear-left { clear:left; }
.clear-right { clear:right; }

.float-right { float:right !important; }
.float-left { float:left !important; }


/* Min heights to avoid funny overflowing */
#secondary, #tertiary { 
  min-height: 1px;
  height: 100px;
}


/** PRINT STYLES **/

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}


