
#wrapper {
  background-image: url("../images/body_bg_1px.png");
  background-position: top left;
  background-repeat: repeat-y;
  overflow:hidden;
  font-family: Georgia, serif;
}
.slider {

  height:313px;
  width:960px;
  float:left;
  margin-top:10px;
  margin-bottom:10px;
}
.region-search {
  margin-top:20px;
  width:250px;
  position:relative;
}
.region-search form {

}

.region-search input.form-text[type=text] {
  background-color: #E7E7E7;
  float: right;
  height: 30px;
  padding: 0 40px 0 10px;
}

.region-search input[type=image] {
  background-color: transparent;
  border: medium none;
  display: block;
  float: right;
  width: 26px;
  position:absolute;
  top:-4px;
  right:-6px;
}

.region-search input[type=submit] {
  background-image:url("../images/search_icon.png");
  background-repeat:no-repeat;
  background-position:right center;
  background-color:transparent;
  border:none;
  display:block;
  position:absolute;
  top:5px;
  right:45px;
  width:26px;
  height:23px;
}
.content_outer {
  margin-top:20px;
  margin-left:30px;
  overflow:hidden;  
}
.content_outer img {
  display:block;
  margin-left:auto;
  margin-right:auto;
  padding-top:20px;
}
.content_outer p {
  padding:0px 20px 0px 20px;
  color:#fff;
  text-align:justify;
  margin-top:0px;
}
.content_outer h2 {
  padding:10px 0px;
  margin:0px;
  text-align:center;
}
.article_outer {
  margin-top:30px;
  margin-bottom:30px;
}
.article_outer h1,h2,h3,h4,h5,h6 {
  color:#41444A;
  text-align:left;
}
.article_outer p,h1,h2,h3,h4,h5,h6 {

}
.frontarticle_link h2,a {
  color:#41444A;
  text-decoration:none;
}
.frontarticle_link{
  overflow:hidden;
}
.frontarticle_link a {
  color:#fff;
  text-decoration:none;
}
.frontarticle_link ul {
  padding:0px;
  display:block;
}
.frontarticle_link ul li {
  display:inline-block;
  padding:4px 10px 4px 10px;
  background:#2e558b;
  background-repeat:repeat-x;
  /*border:1px solid #d1deef;*/
  outline-width:2px;
  outline-style:ridge;
  outline-color:#FFFFFF;
  text-decoration:none;
  color:#FFFFFF;
  border-bottom:none;
  height:19px;
  float:right;
  margin-left:10px;
  border-color: #D1DEEF;
  border-image: none;
  border-style: none;
  border-width: 1px 1px medium;
}
.frontarticle_link ul li a {
  color:#FFFFFF;
}
.region-boxone {
  background-image:url("../images/box1.jpg");
  height:239px;

}

.region-boxtwo {
  background-image:url("../images/box2.jpg");
  height:239px;
}

.region-boxthree {
  background-image:url("../images/box3.jpg");
  height:239px;
}

.region-boxfour {
  background-image:url("../images/box4.jpg");
  height:239px;
}

.article_leftwrapper {
  text-align:justify;
  overflow:hidden;
  margin-left:5px;
}
.article_middlewrapper {
  border-right:1px solid #d1deef;
  text-align:justify;
}
.article_rightwrapper {
  text-align:justify;
  
}
.frontarticle {
  margin:0px;
  padding-bottom:60px;
  display:block;
  float:left;
  border-right:1px solid #d1deef;
  text-align:justify;
  margin-left:0px;
}
.frontarticleinner {
  border-bottom:1px solid #d1deef;
  width:230px;
  padding-bottom:30px;
  margin:0px auto;
}
.frontarticleinner img {
  display:block;
  margin:10px auto;
}
/*.content .node-teaser {
  overflow:hidden;
  height:700px;
}*/
.content .node-teaser p a {
  color: #116699;
}
.content .node-article p a {
  color: #116699;
}
.frontarticle p {
  padding:5px  0px;
  line-height:1.3;
  
}
.article_titleinner h2 a {
  margin:0px;
  padding:0px;
  color: #41444A;
}
th a {
  color:red;
}
ul.frontarticle {
  padding:5px 30px;
  color: #41444A;
  text-align: left;
  display:block;
  text-decoration:none;
}
li.frontarticle {
  padding:5px 30px;
  color: #41444A;
  text-align: left;
  display:block;
  text-decoration:none;
}
.footer_top {
  background-image:url("../images/Blue_box.jpg");
  background-repeat:repeat-y;
  background-position:center;
  position:relative;
  color:#FFFFFF; 
}
.footer_top ul, .footer_top ol {
  padding:5px;

}
.footer_top li, .footer_top li a {
  color:#fff;
}
.footer_top p {
padding:5px;
}
.footer_top h2 {
  font-size:18px;
  font-weight:bold;
}
.footer_top a{
  color:#FFFFFF; 
}
.footer_bottom {
  background-image:url("../images/Blue_box_bottom.png");
  background-repeat:no-repeat;
  background-position:top center;
  color:#29537D;
  background-color:#e4e4e4;
}
.footer_bottom p:first-line {
  color:#a0a0a0;
}
.footer_bottom p a:link:first-line {
  color:#a0a0a0;
}
.region-f-left {
  padding:30px 0px 30px 0px;
  

}
.region-f-left h2 {
  color:#FFFFFF;
  background-image:url("../images/Notepad_icon.jpg");
  background-repeat:no-repeat;
  padding-left:50px;
}
.region-f-middle {
  padding:30px 0px 30px 10px;
}
.region-f-middle p {
  padding-left:0px;
}
.region-f-middle ul li{
  color:white;
}
.region-f-middle h2 {
  color:#FFFFFF;
  background-image:url("../images/our team_icon.jpg");
  background-repeat:no-repeat;
  padding-left:50px;
}
.middle_top {
 
  width:48px;
  height:59px;
  position:absolute;
  top:100px;
  left:10px;
}

.middle_middle {
  
  width:48px;
  height:59px;
  position:absolute;
  top:180px;
  left:10px;
}

.middle_bottom {
  width:48px;
  height:59px;
  position:absolute;
  top:260px;
  left:10px;
}

.region-f-right {
  padding:30px;
  float: right;
  margin-right: 15px;
}
.region-f-right input[type=submit] {
  display:inline-block;
  padding:4px 10px 4px 10px;
  background:#2e558b;
  border:1px double #d1deef;
  outline-width:1px;
  outline-style:groove;
  outline-color:#ffffff;
  text-decoration:none;
  color:#FFFFFF;
  float:right;
  font-size:15px;
}
.region-f-right h2 {
  color:#FFFFFF;
  background-image:url("../images/mail_icon.jpg");
  background-repeat:no-repeat;
  padding-left:50px;
  padding-bottom:20px;
}

.region-f-right input[type=text] {
  background-color:#A0AEBD;
  color:#FFFFFF;
  border:1px solid silver;
  width:290px;
  height:35px;
  padding:0px 10px 0px 10px;
  margin-bottom:10px;
  font-size:15px;
}
.region-f-right textarea {
  background-color:#A0AEBD;
  border:1px solid silver;
  padding:10px;
  color:#FFFFFF;
  width:290px;
  height:100px;
  margin-bottom:10px;
}
.region-copyright {
  margin-top:30px;
  margin-bottom:30px;
  text-align:center;
  
}
.region-copyright span {
  text-align:center;
}
.region-copyright a {
  text-decoration:underline;
  color:#29537D;
}
#content_section {
  margin-top:30px;
  margin-bottom:30px;
  text-align:justify;
}
.region-content {
  padding-left:12px;
}

.region-rightblock p a {
  display:inline-block;
  padding:4px 10px 4px 10px;
  background:#2e558b;
  background-repeat:repeat-x;
  border:1px solid #d1deef;
  outline-width:2px;
  outline-style:ridge;
  outline-color:#FFFFFF;
  text-decoration:none;
  color:#FFFFFF;
  border-bottom:none;
  height:19px;
  float:right;
}
.region-rightblockone {
  border-bottom:1px solid #d1deef;
  padding-bottom:20px;
  margin-bottom:10px;
  float:left;
}
.region-rightblocktwo {
  border-bottom:1px solid #d1deef;
  padding-bottom:20px;
  margin-bottom:10px;
  float:left;
}
.region-rightblockthree {
  border-bottom:1px solid #d1deef;
  padding-bottom:20px;
  margin-bottom:10px;
  float:left;
}
.region-rightblockfour {
  border-bottom:1px solid #d1deef;
  padding-bottom:20px;
  margin-bottom:10px;
  float:left;
}
.region-rightblockfive {
  padding-bottom:20px;
  margin-bottom:10px;
  float:left;
}
.comments {
  margin-top:30px;
}

.comments input[type=text] {
  background-color:#FFFFFF;
  color:silver;
  border:1px solid silver;
  width:320px;
  height:35px;
  padding:0px 10px 0px 10px;
  margin-bottom:10px;
  font-family: Georgia, serif;
}
.comments textarea {
  background-color:#FFFFFF;
  border:1px solid silver;
  padding:10px;
  color:silver;
  width:590px;
  height:100px;
  margin-bottom:10px;
}
.recent_comments {
  margin-top:20px;
}
.titlestyle {
  display:inline-block;
  padding-right:100px;
  border-bottom:1px solid #d1deef;
  margin-right:200px;
}
.comment-text {
  background-color:#E8E8E8;
  width:570px;
  padding:10px;
  border:1px solid white;
  outline:1px solid #d1deef;
  margin-top:10px;
}
#contact_wrap {
  margin-top:30px;
  margin-bottom:30px;
  text-align:justify;
  padding-left:30px;
}
.locate_us {
}
.leftmargin {margin-left:60px; }

.content_outer .region-boxone .content p {
  overflow:hidden;
  height: 157px;
}

.content_outer .region-boxtwo .content p {
  overflow:hidden;
  height: 157px;
}

.content_outer .region-boxthree .content p {
  overflow:hidden;
  height: 157px;
}

.content_outer .region-boxfour .content p {
  overflow:hidden;
  height: 157px;
}

.frontarticleinner .field-name-field-image {
  float: left;
  height: 168px;
  width: 227px;
  overflow: hidden;
  text-align: center;
  display: block;
}

.frontarticleinner .field-name-body {
  float:left;
  min-height:327px;
  width:230px;
  overflow:hidden;
}

.frontarticleinner .frontarticle_link {
  float:right;
  padding-top:12px;
}

