
/**
 * Grid container
 */
.views-wookmark-grid ul, .views-wookmark-grid ul li.views-wookmark-grid-item  {
    list-style-type: none;
    position: relative; /** Needed to ensure items are laid out relative to this container **/
    margin: 0;
}

.views-wookmark-grid {
    position: relative;
}

/**
 * Grid items
 */
.views-wookmark-grid-list li.views-wookmark-grid-item {
    width: 200px;
    background-color: #ffffff;
    border: 1px solid #dedede;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    display: none; /** Hide items initially to avoid a flicker effect **/
    cursor: pointer;
    padding: 5px;
}

.views-wookmark-grid-list li.views-wookmark-grid-item img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}


.views-wookmark-grid .wookmark-placeholder {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-color: #eee;
    border: 1px solid #dedede;
}