.netx-thumbnail .form-item-list {
    float: left;
}
#netx-preview .form-item-list {
    margin: 0 10px 10px 0;
}
.netx-thumbnail .form-radio {
    display: none;
}

#edit-netx-attributes .date-padding {
    padding-left: 0;
}
