/** 
 * Edit interface for Biblio Module
 */
#biblio-edit #edit-title {
  font-size: 2em;
}

#biblio-edit #edit-biblio-type {
  font-size: 1.4em;
}

#biblio-edit .vertical-tabs ul.vertical-tabs-list {
  width: 10em;
  margin: -1px 0 -1px -10em;
}

#biblio-edit div.vertical-tabs {
  margin: 1em 0 1em 10em;
}

.page-node-add-biblio #site-container {
  padding-top: 0px;
}

#field-publication-citation-add-more-wrapper {
  position: relative;
}

#biblio-edit #biblio-contributors-wrapper select {
  width: 100%;
}

#biblio-edit #biblio-contributors-wrapper tr.even td,
#biblio-edit #biblio-contributors-wrapper tr.odd td {
  padding: 5px 7px;
}

/**
 * Display tweaks to entity rendering for biblio content
 */
.node-featured .field-name-field-publication-citation .content {
  width: 100%;
  float: none;
}

.node-featured .field-name-field-publication-citation .content .content-inner {
  padding: 0;
}

.field-name-field-publication-citation .node-biblio h2 {
  display: none;
}

.field-name-field-publication-citation .node-featured,
.field-name-field-publication-citation .node-teaser {
  clear: none;
}

.node-teaser .field-name-field-publication-author .field-label,
.node-teaser .field-name-field-publication-published .field-label,
.node-teaser .field-name-field-publication-publisher .field-label {
  float: left;
}
