.page-admin-structure-block-manage-colorized-gmap,
.page-admin-structure-block-colorized-gmap-block {
  min-width: 1300px;
}
.page-admin-structure-block-manage-colorized-gmap #colorized-gmap-content,
.page-admin-structure-block-colorized-gmap-block #colorized-gmap-content {
  height: 520px;
  margin-bottom: 50px;
  width: 500px;
  float: left;
}
.page-admin-structure-block-manage-colorized-gmap #gmap-ajax-wrapper .form-type-checkbox,
.page-admin-structure-block-colorized-gmap-block  #gmap-ajax-wrapper .form-type-checkbox {
  text-align: center;
}
.page-admin-structure-block-manage-colorized-gmap #edit-coordinates,
.page-admin-structure-block-colorized-gmap-block #edit-coordinates {
  border: none;
  padding-top: 0;
}
.page-admin-structure-block-manage-colorized-gmap #gmap-ajax-wrapper table .form-item.form-type-textfield,
.page-admin-structure-block-colorized-gmap-block #gmap-ajax-wrapper table .form-item.form-type-textfield {
  float: left;
  padding-right: 10px;
}
.page-admin-structure-block-manage-colorized-gmap #gmap-ajax-wrapper table tbody td:first-child,
.page-admin-structure-block-colorized-gmap-block #gmap-ajax-wrapper table tbody td:first-child {
   width: 228px
}
.page-admin-structure-block-manage-colorized-gmap #gmap-ajax-wrapper table tbody td:nth-child(2),
.page-admin-structure-block-colorized-gmap-block #gmap-ajax-wrapper table tbody td:nth-child(2) {
  width: 135px
}
.page-admin-structure-block-manage-colorized-gmap #gmap-ajax-wrapper table tbody td:nth-child(3),
.page-admin-structure-block-colorized-gmap-block #gmap-ajax-wrapper table tbody td:nth-child(3) {
  min-width: 170px;
}
.page-admin-structure-block-manage-colorized-gmap #gmap-ajax-wrapper table tbody td:nth-child(4),
.page-admin-structure-block-colorized-gmap-block #gmap-ajax-wrapper table tbody td:nth-child(4) {
  width: 50px;
}
.page-admin-structure-block-manage-colorized-gmap .form-item.form-item-latitude,
.page-admin-structure-block-manage-colorized-gmap .form-item.form-item-longitude,
.page-admin-structure-block-colorized-gmap-block .form-item.form-item-latitude,
.page-admin-structure-block-colorized-gmap-block .form-item.form-item-longitude {
  float: left;
  padding: 10px 0 0 15px;
}
.page-admin-structure-block-manage-colorized-gmap #gmap-ajax-wrapper fieldset.form-wrapper,
.page-admin-structure-block-colorized-gmap-block #gmap-ajax-wrapper fieldset.form-wrapper {
  border: none;
}
.page-admin-structure-block-manage-colorized-gmap #gmap-ajax-wrapper fieldset.form-wrapper .fieldset-wrapper,
.page-admin-structure-block-colorized-gmap-block #gmap-ajax-wrapper fieldset.form-wrapper .fieldset-wrapper {
  height: 430px;
  max-height: 430px;
  overflow-y: scroll;
  padding-bottom: 0;
}
.page-admin-structure-block-manage-colorized-gmap #edit-ajax-buttons,
.page-admin-structure-block-colorized-gmap-block  #edit-ajax-buttons {
  border: none;
  padding: 15px;
}
.page-admin-structure-block-manage-colorized-gmap #edit-ajax-buttons .fieldset-wrapper,
.page-admin-structure-block-colorized-gmap-block #edit-ajax-buttons .fieldset-wrapper {
  padding: 0;
}
.colorized-gmap-common {
  width: 500px;
  height: 500px;
}