#debug-bar-wrapper {
  position: absolute;
}

#debug-bar-wrapper * {
  font: inherit;
  color: inherit;
  background: transparent;
  margin: 0;
  padding: 0;
  border: none;
  text-align: inherit;
  list-style: inherit;
  opacity: 1;
  box-shadow: none;
}

#debug-bar {
  font: normal normal 12px/21px Tahoma, sans-serif;
  color: #333;
  border: 3px double #AAA;
  position: fixed;
  overflow: auto;
  white-space: nowrap;
  z-index: 30000;
  list-style: none none;
  clear: left;
  padding: 0;
  margin: 0;

  background: rgb(255, 255, 255); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(229, 229, 229, 1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(229, 229, 229, 1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(229, 229, 229, 1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(229, 229, 229, 1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(229, 229, 229, 1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(229, 229, 229, 1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0); /* IE6-9 */

}

#debug-bar.debug-bar-float {
  top: 0;
  left: 0;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .15);
}

#debug-bar.debug-bar-top-left {
  top: 0;
  left: 0;
  border-bottom-right-radius: 5px;
  border-width: 1px 3px 3px 1px
}

#debug-bar.debug-bar-top-right {
  top: 0;
  right: 0;
  border-bottom-left-radius: 5px;
  border-width: 1px 1px 3px 3px
}

#debug-bar.debug-bar-bottom-left {
  bottom: 0;
  left: 0;
  border-top-right-radius: 5px;
  border-width: 3px 3px 1px 1px
}

#debug-bar.debug-bar-bottom-right {
  bottom: 0;
  right: 0;
  border-top-left-radius: 5px;
  border-width: 3px 1px 1px 3px
}

#debug-bar li {
  float: left;
  display: block;
}

#debug-bar li .debug-bar-link {
  padding: 1px 5px;
  display: block;
  border-right: 1px dotted #999;
  line-height: 1.7;
}

#debug-bar li.last .debug-bar-link {
  border-right-width: 0;
}

#debug-bar li a.debug-bar-link:hover {
  background-color: #FCECB0;
  text-decoration: none;
}

#debug-bar .debug-bar-link-icon {
  margin: 3px 3px 3px 1px;
  vertical-align: bottom;
}

#debug-bar .debug-bar-link-hide .debug-bar-link {
  width: 16px;
  height: 22px;
  text-align: center;
  font-weight: bold;
  background-image: url(../images/minus.png);
  background-position: center center;
  background-repeat: no-repeat;
}

#debug-bar.debug-bar-hidden .debug-bar-link-hide .debug-bar-link {
  background-image: url(../images/plus.png);
}

#debug-bar.debug-bar-hidden li {
  display: none;
}

#debug-bar.debug-bar-hidden li.debug-bar-link-hide {
  display: block;
}

.debug-bar-link-hide {
  cursor: pointer;
  font-weight: bold;
}

@media print {
  #debug-bar-wrapper * {
    display: none;
  }
}

