body .overlay.republish-block,
body .overlay.register-block {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(5, 0, 0, 0.55);
  z-index: 1000;
  top: 0;
  overflow: scroll;
}
.republish-block {
  padding: 5% 10%;
}
.republish-block h2#republish_content_title {
  color: #fff;
  background: #48a9e4;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px;
  margin: 0;
  border: none;
}
.republish-block .close-button {
  margin: 35px;
}
.republish-block .close-button {
  position: fixed;
  margin-top: 6%;
  top: 0;
  right: 8%;
  background: url(../images/close_button.png) no-repeat;
  font-size: 0;
  height: 20px;
  width: 20px;
  cursor: pointer;
}
div#republish_content_body {
  background-color: #fff;
  padding: 2%;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

div#republish_content_body .form-wrapper,
div#republish_content_body .fieldset-wrapper {
  border: none;
  margin-top: 0;
  top: 0;
  margin-bottom: 0;
  padding: 0 0 0px;
}

#republish_content_body div.form-type-textarea {
  padding: 10px;
  background-color: #efefef;
}
