/* Included in help pages of "Better Form Errors" module */

/* Demo image: */
.img-demo {
  background-color: #e9e9e9;
  border: 4px solid #e9e9e9;
  box-shadow: 1px 1px 2px #aaa;
}

/* Content of README.txt: */
.pre-readme {
  white-space: pre;
  display: inline-block;
  padding: 10px;
  border: 1px solid #e9e9e9;
  box-shadow: 1px 1px 2px #aaa;
}
