@font-face {
  font-family: 'Lubalin Demi';
  src: url("../fonts/Lubalin_Graph_Demi_Regular.ttf") format("truetype");
  font-weight: normal;
}
/* line 3, ../sass/commerce_kbclayout_checkout.scss */
.page-checkout {
  font-family: 'Verdana';
  color: #777777;
}
/* line 6, ../sass/commerce_kbclayout_checkout.scss */
.page-checkout .title {
  color: #043965;
  font-family: 'Lubalin Demi';
}
/* line 9, ../sass/commerce_kbclayout_checkout.scss */
.page-checkout .title:before {
  content: '';
  background-image: url("../images/kbc.png");
  background-repeat: no-repeat;
  display: block;
  width: 60px;
  height: 50px;
  margin-bottom: 30px;
}
/* line 20, ../sass/commerce_kbclayout_checkout.scss */
.page-checkout #commerce-checkout-form-checkout fieldset {
  border: 1px solid #cdcdcd;
  border-radius: 5px;
}
/* line 23, ../sass/commerce_kbclayout_checkout.scss */
.page-checkout #commerce-checkout-form-checkout fieldset legend {
  color: #043965;
  font-family: 'Lubalin Demi';
  font-size: 16px;
  font-weight: bold;
  background-color: #fff;
  border-top: 1px solid #cdcdcd;
  border-left: 1px solid #cdcdcd;
  border-right: 1px solid #cdcdcd;
}
/* line 32, ../sass/commerce_kbclayout_checkout.scss */
.page-checkout #commerce-checkout-form-checkout fieldset legend:after {
  content: '';
  width: calc(100% - 10px);
  height: 1px;
  background-color: #cdcdcd;
  display: block;
  margin: 0 5px;
}
/* line 41, ../sass/commerce_kbclayout_checkout.scss */
.page-checkout #commerce-checkout-form-checkout fieldset .fieldset-wrapper {
  padding: 0px;
}
/* line 45, ../sass/commerce_kbclayout_checkout.scss */
.page-checkout #commerce-checkout-form-checkout fieldset.customer_profile_billing .fieldset-wrapper {
  padding: 0 10px;
}
/* line 49, ../sass/commerce_kbclayout_checkout.scss */
.page-checkout #commerce-checkout-form-checkout fieldset.customer_profile_billing .form-item label {
  color: #1aa0e1;
}
/* line 52, ../sass/commerce_kbclayout_checkout.scss */
.page-checkout #commerce-checkout-form-checkout fieldset.customer_profile_billing .form-item.form-type-textfield input {
  width: calc(100% - 10px);
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  color: #777777;
  font-family: 'Verdana';
  height: 30px;
}
/* line 60, ../sass/commerce_kbclayout_checkout.scss */
.page-checkout #commerce-checkout-form-checkout fieldset.customer_profile_billing .form-item.form-type-select select {
  border-radius: 5px;
  border: 1px solid #cdcdcd;
  height: 30px;
  color: #777777;
  font-family: 'Verdana';
}
/* line 69, ../sass/commerce_kbclayout_checkout.scss */
.page-checkout #commerce-checkout-form-checkout fieldset.customer_profile_billing .locality-block .form-item {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
/* line 73, ../sass/commerce_kbclayout_checkout.scss */
.page-checkout #commerce-checkout-form-checkout fieldset.customer_profile_billing .locality-block .form-item:first-child {
  width: 33.33%;
  padding-right: 10px;
}
/* line 77, ../sass/commerce_kbclayout_checkout.scss */
.page-checkout #commerce-checkout-form-checkout fieldset.customer_profile_billing .locality-block .form-item:last-child {
  width: 66.66%;
}
/* line 84, ../sass/commerce_kbclayout_checkout.scss */
.page-checkout #commerce-checkout-form-checkout fieldset.checkout-buttons {
  border: none;
}
/* line 86, ../sass/commerce_kbclayout_checkout.scss */
.page-checkout #commerce-checkout-form-checkout fieldset.checkout-buttons input {
  font-family: 'Lubalin Demi';
  font-size: 14px;
  border-radius: 5px;
  height: 30px;
  text-align: left;
  width: 220px;
  padding: 5px 10px;
  margin-right: 15px;
}
/* line 96, ../sass/commerce_kbclayout_checkout.scss */
.page-checkout #commerce-checkout-form-checkout fieldset.checkout-buttons .checkout-continue {
  color: #fff;
  background: #1aa0e1 url("../images/arrow.png") no-repeat center right;
}
/* line 101, ../sass/commerce_kbclayout_checkout.scss */
.page-checkout #commerce-checkout-form-checkout fieldset.checkout-buttons .button-operator {
  display: none;
}
/* line 104, ../sass/commerce_kbclayout_checkout.scss */
.page-checkout #commerce-checkout-form-checkout fieldset.checkout-buttons .checkout-cancel {
  color: #fff;
  background: #cdcdcd url("../images/arrow.png") no-repeat center right;
}
/* line 107, ../sass/commerce_kbclayout_checkout.scss */
.page-checkout #commerce-checkout-form-checkout fieldset.checkout-buttons .checkout-cancel:hover {
  text-decoration: none;
}
/* line 115, ../sass/commerce_kbclayout_checkout.scss */
.page-checkout #commerce-checkout-form-checkout table th {
  color: #1aa0e1;
  font-family: 'Verdana';
  background-color: #fff;
}
/* line 120, ../sass/commerce_kbclayout_checkout.scss */
.page-checkout #commerce-checkout-form-checkout table td {
  color: #777777;
  font-family: 'Verdana';
}
/* line 124, ../sass/commerce_kbclayout_checkout.scss */
.page-checkout #commerce-checkout-form-checkout table tr.odd {
  background-color: #fff;
}
/* line 127, ../sass/commerce_kbclayout_checkout.scss */
.page-checkout #commerce-checkout-form-checkout table tr.even {
  background-color: #fafafa;
}
/* line 131, ../sass/commerce_kbclayout_checkout.scss */
.page-checkout #commerce-checkout-form-checkout .view-footer td {
  color: #1aa0e1;
  font-family: 'Verdana';
}
