#user-profile-form {
  max-width: 600px;
}

#user-register-form .description {
  max-width: 500px;
}

.section-user .form-item {
  @include form-item-stacked;
}

.region-content .views-exposed-form {
  .form-item {
    @include definition-list-stacked-item;
    margin: 0;
  }

  label, .views-widget {
    float: left;
    margin-right: 1em;
  }
}

@include at-media-query($media-small-up) {
  .user-login {
    @include span-columns(12);
  }
  .register-box {
    @include span-columns(12 omega);
  }
}
