.field--name-field-resume-personal-info .field-collection-view {
  // Float image right.
  .resume-photo {
    @include span-columns(10 omega);
    margin-bottom: 1em;

    img {
      width: 100%;
    }
  }

  .resume-info {
    @include span-columns(14);
  }
}

@include at-media-query($media-narrow-up) {
  .field--name-field-resume-personal-info .field-collection-view {

    // Float image right.
    .resume-photo {
      @include span-columns(6 omega);
    }

    .resume-info {
      @include span-columns(18);

      .field {
        @include definition-list-inline-item(9);
      }

      .field__label {
        @include definition-list-inline-label(9);
      }
    }
  }
}

.resume-teaser-container {
  .resume-teaser-sidebar {
    @include span-columns(4 omega);
    .field {
      margin: 0;
      padding: 0;
    }
    img {
      width: 100%;
    }
  }

  .resume-teaer-contact-link a {
    display: inline-block;
    width: 75%;
    margin: 0.5em 0;
    @include cloudy-button();
  }

  .resume-teaser-info {
    @include span-columns(20);
  }

  .field-collection-container {
    margin-bottom: 0.5em;
  }

  .links {
    clear: both;
    &.inline {
      display: block;
    }
    margin: 0;

    /* Displayed inline. */
    .rules-link-wrapper {
      margin-right: 0.5em;
    }
  }
}

.field--name-field-resume-birthday .date-form-element-content .form-item label {
  display: none;
}

$field-label-columns: round($total-columns * 1/4) !default;
@mixin layout-form-custom($item-selector, $label-selector, $prefix: $field-label-columns) {

  @include at-media-query($media-narrow-up) {
    #{$item-selector} {
      @include definition-list-inline-item($field-label-columns);
      float: none;
      display: block;

      #{$label-selector} {
        @include definition-list-inline-label($field-label-columns);
      }
    }
  }
}

// Education & work experience field collections are themed in a special way:
// Time period acts like a label with all other items as values.
@include layout-form-custom(".field-collection-item-field-resume-education", ".resume-time-period");
@include layout-form-custom(".field-collection-item-field-resume-xp", ".resume-time-period");
