/* =============================================================================
   System
   ========================================================================== */

figure {
  display: block;
  margin: 0px;
  padding: 0px;
}

ul {
  &.tabs {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.container {
  max-width: none !important;
}

.form-item {
  label.option {
    display: inline;
  }
}

.maintenance-page {
  #main-content {
    #content {
      padding: 10px;
    }
  }
}

#breadcrumb, .breadcrumb-wrapper {
  margin-left: 0px;
  margin-right: 0px;
}

#main-content {
  display: block !important;
  #tasks {
    ul.tabs {
      margin-bottom: 20px;
    }
  }
}

#status-messages {
  margin-top: 10px;
}

.progress {
  font-weight: normal;
}

.composite-form-label {
  font-weight: 700;
}
