.tribune-wrapper .tribune-post .tribune-message:hover {
  overflow: visible;
}

a.tribune-totoz {
  position: relative;
}

a.tribune-totoz img {
  display: none;
  position: absolute;
  z-index: 42000;
  margin: 5px;
}

.totoz-autocomplete-result {
  position: relative;
  display: block;
}

.totoz-autocomplete-image {
  vertical-align: middle;
  max-width: 50%;
  text-align: right;
  display: inline-block;
  left: 50%;
}

.totoz-autocomplete-name {
  display: inline-block;
  width: 50%;
  position: relative;
  padding-left: 1ex;
}
