.iib {
  background: #efefef;
}

.iib fieldset {
  border:0;
  border-right:1px solid #ccc;
  background:transparent;
  border-radius: 0;
  float:left;
  margin:0;
  top:0;
  height:100%;
  padding:0;
}

.iib fieldset .fieldset-wrapper {
  margin:0;

}

.iib fieldset legend {
  background:transparent;
  border:0;
}