.navigate-favorites-icon {
  background:url('icon.png') center no-repeat;
  height:34px;
}
.navigate-favorite-name {
  width:130px;
}
.navigate-favorites-add {
  float:right;
}
.navigate-favorites-inputs {
  padding:5px;
}
.navigate-favorites-delete {
  float:right;
  cursor:pointer;
  display:none;
}
.navigate-favorites-link-outer {
  width:175px;
}
.navigate-favorites-list {
  padding:5px;
}