#block-flickr-bricks-flickr-bricks ul.flickr_wrapper {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}
ul.flickr_wrapper li.flickr_item {
  display: block;
  float: left;
  height: 54px;
  margin: 0;
  padding: 0;
  width: 54px;
}
#block-flickr-bricks-flickr-bricks  ul.flickr_wrapper li.flickr_item a {
  border: 0 solid transparent;
}
li.flickr_item img {
  height: 44px;
  padding-bottom: 10px;
  width: 44px;
}
