textarea,
input[type=text],
input[type=password],
input[type=search] {
  border-radius: 5px;
  border: 1px solid #999;
  padding: 3px;
}
.resizable-textarea .grippie {
  background: none repeat scroll 0 0 #FFF;
  border-width: 1px 0;
  height: 1px;
  margin: 1px 0 5px;
  border-color: #999;
}
.description {
  color: #999;
  padding-left: 5px;
}
.form-required {
  color: #930;
}
a.button,
.form-submit {
  margin-left: .2em;
  margin-right: .2em;
}
fieldset.filter-wrapper {
  border: 1px solid #CCC;
}
/* Fix Weird Border on Vertical Tabs with Google Chrome */
/* See http://drupal.org/node/1057912 */
.element-invisible {
  border: 0;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
}
.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static !important;
  width: auto;
}