/* Smartphone custom styles */
#header {
  margin-bottom: 0;
}
#logo {
  display: block;
  float: none;
  text-align: center;
}
#main-menu {
  width:100%;
  text-align:center;
  float:none;
  padding:0;
  margin:1em 0 0 0;
}
#main-menu a {
  display:inline-block;
  padding:7px;
}
.copyright {
  width:100%;
  float:none;
  text-align:center;
}
#footer  {
  padding-bottom:0;
}
.menu_bottom {
  width:100%;
  float:none;
  text-align:center;
  margin:1em 0 0 0;
  padding:0;
}  
.menu_bottom a {
  display:inline-block;
  padding:6px;
}

textarea {
  width:100%;
}  
label {
  padding:10px 0 8px 0;
}