/* Styles for administration elements such as view/edit tabs */
@if $use-fixed-tabs == true {
  $tab-container-bg: #F1F1F1;

  // Tabs
  div.tabs {
    @include clearfix;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #DDD;
    background: $tab-container-bg;
    z-index: 10;
    ul {
      margin: 0;
      list-style-type: none;
      li {
        float: left;
        a {
          display: block;
          padding: 10px;
        }
      }
    }
  }

  // Body
  body {
    &.logged-in {
      margin-bottom: 50px;
    }
  }
}
