#atrium_contextual_help {
  margin: 0;
  margin-top: 10px;
}
.pull-right #atrium_contextual_help {
  margin-right: 5px;
}
.pull-left #atrium_contextual_help {
  margin-left: 5px;
}
#atrium_contextual_help a.dropdown-toggle {
  font-size: 16px;
}
#atrium_contextual_help .contextual-help-exists .icon-question-sign {
  color: gold;
}

#atrium_contextual_help,
.pane-add-space-content {
  margin-top: 2.5px;
}

.pane-atrium-contextual-help-button .dropdown-menu {
  left: auto;
  right: -15px;
}

.pane-atrium-contextual-help-button a.dropdown-toggle.btn {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  text-shadow: none;
  box-shadow: none;
  background: #333333 !important;
  border: none;
  padding: 10px 8px 0px 8px;
  height: 29px;
  margin-top: 3px;
}

.pane-atrium-contextual-help-button a.dropdown-toggle.btn:hover {
  background: black !important;
}

.dropdown-menu li a span{
  color: #333333;
}

.dropdown-menu li a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  white-space: nowrap;
}

.dropdown-menu li a:hover, .dropdown-menu li a:focus {
  text-decoration: none;
  color: white;
  background-color: #0081c2;
}


.add-contextual-help-link span {
  position: relative;
  left: -18px;
  color: #000 important!;
}

div.add-contextual-help-link a span {
  color: #000;
}

div.add-contextual-help-link a {
  position: relative;
  margin-bottom: 10px;
  top: 10px;
}

#no-help-message {
  padding-left: 10px;
  padding-right: 10px;
  color: #666;
  font-style: italic;
}

div.ctools-modal-content .form-item label.element-invisible {
  width: inherit;
}

#modal-content .form-actions {
  position: absolute;
  top: -10px;
  right: 10px;
  background-color: #fff;
}

.form-item-field-contextual-help-text-und-0-format {
  display: none;
}
