
/* padding for help message items */
.help-message > span {
  padding: 3px 10px;
}

/* colors inspired by system.messages.css */
.help-message .unpublished,
.unpublished td {
  background-color: #ff907d;
}

.help-message .published,
.published td {
  background-color: #be7;
}

.help-message .scheduled,
.scheduled td {
  background-color: #ed5;
}
