core = 7.x
api  = 2

libraries[implied_consent][download][type] = "get"
libraries[implied_consent][download][url] = "https://github.com/dennisinteractive/implied-consent/archive/1.0.0.tar.gz"
libraries[implied_consent][directory_name] = "implied-consent"
libraries[implied_consent][destination] = "libraries"
