

.front .l-content .content-wrapper{
  padding: 0px;
}

.l-content{
  .content-wrapper{
    background: white;
    padding: 25px;

    span.meta{
      margin: 30px 25px 0px;
      clear: both;
      display: block;
    }

    h1.title{
      color: #0f69b4;
      padding-bottom: 20px;
      border-bottom: 1px solid #bdc9d1;
      font-size: 32px;
      line-height: 1.1em;
      font-weight: 500;
    }

    article{

    }
  }
}


/**
 * Content
 */
.node__content {

  color: $gray-dark;
  a {
    color:$gob-blue;
    &:hover {
      color:#045282;
      text-decoration:underline;
    }
  }
  h3 {
    font-weight:300;
    margin:0 0 30px;
  }
  h4 {
    margin:0 0 13px;
    font-weight:300;
  }
  h5 {
    color:$gob-blue;
    margin:0 0 10px;
  }
  blockquote {
    border-left:2px solid $gob-blue;
    margin:0;
    padding:0 0 0 20px;
    line-height:160%;
    p {
      font-style:italic;
      font-size:18px;
      line-height:150%;
      margin:0 0 35px;
      @include georgia();
    }
  }
  p {
    line-height:180%;
    margin:0 0 25px;
  }
  iframe, object {
    max-width:100%;
  }
  ol, ul {
    padding-left:25px;
    margin-bottom:15px;
    li {
      margin-bottom:5px;
    }
    ol, ul {
      margin-bottom:0;
    }
  }
  ol li {
    list-style:decimal;
    ol {
      list-style:decimal;
    }
  }
  ul li {
    list-style:disc;
    ul li {
      list-style:circle;
    }
  }
}

ul.pager{
  text-align: left;
  font-size: 16px;
  font-family: "gobCL", Tahoma, Verdana, Segoe, sans-serif;

  li{

  }

  li.pager__item--current{
    padding: 5px 5px 2px;
    color: #e6e6e6;
    background: #7a8791;
  }
}