.l-region--sidebar-first,
.l-region--sidebar-second{
	.block{
		background: #fff;
		padding: 20px 20px 25px;
		border-bottom: 2px solid #bdc9d1;
		margin: 0px auto 20px;

		.block__title{
			font-size: 18px;
			line-height: 1em;
			font-weight: 500;
			margin: 0 0 12px;
			color: #0f69b4;
		}
		ul{
			padding: 0 0 0 16px;
			margin: 0;
			list-style: none;

			li{
				font-size: 12px;
				margin: 0 0 5px;
				list-style: disc;
			}
		}
	}
}