/**
 * Table
 */

table{
	border: none;
	width: 100%;
	thead{
		tr{
			th{
				line-height: 1.42857143;
				vertical-align: bottom;
				background-color: #FFF;
				border: none;
				padding: 8px;
				border-bottom: 2px solid #ddd;
			}
		}
	}
	tbody{
		tr{
			td{
				padding: 8px;
				line-height: 1.42857143;
				vertical-align: top;
				border: none;
				border-top: 1px solid #ddd;
				&.active{
					background-color: transparent;
					font-weight: 600;
				}
			}

			&.odd{
				background-color: $table-tr-odd;
			}

			&.even{
				background-color: $table-tr-even;
			}

			&:hover{
				background-color: $table-tr-hover;
			}
		}
	}
}