
// ====== Media Queries for a Responsive Design. ============================
//   By default we suggest 4 levels of layout :
//   1. Larger viewport - fixed, pixel based layout, two sidebars floating.
//   2. Large viewport - fluid, precentage based layout, two sidebars floating.
//   3. Medium viewport - fluid, precentage based layout, only first one floating.
//   4. Small viewport - simple, content first, no sidebars layout.
// ==========================================================================

@import "susy/susy";
@import "layout/settings";
$susy: map-merge($susy, (flow: rtl));

// Layout for large viewports - default.
@import "layout/desktop-first/sasson-base";

// Layout for medium viewports.
@import "layout/desktop-first/sasson-large";

// Layout for small viewports.
@import "layout/desktop-first/sasson-medium";

// Layout for smallest viewports.
@import "layout/desktop-first/sasson-small";
