/**
 * @file CAT_UI add/edit form styles.
 *
 * @author Oleksiy Kalinichenko <aexchecker@gmail.com>
 */

#cat-ui-table-list .cat-ui-table-list-actions {
  width: 220px;
}

.cat-path-table .cat-path-delete {
  width: 220px;
}

/**
 * CAT_UI add form styles.
 */
.current-nav-item {
  font-weight: bold;
  font-size: 1.1em;
}

/**
 * CAT_UI edit form styles
 */
#cat-ui-wrapper {
  padding: 0 0 0 220px;
}

#cat-ui-menu {
  background: none repeat scroll 0 0 #F6F6F6;
  float: left;
  width: 220px;
  margin-left: -220px;
  height: 100%;
}

#cat-ui-menu .item-list {
  display: block;
  border-top: 1px solid #AAA;
  border-left: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
}

#cat-ui-menu .item-list ul {
  padding: 0;
  margin: 0;
}

#cat-ui-menu .item-list ul li {
  list-style: none;
  padding: 0;
  border-bottom: 1px solid #AAA;
  position: relative;
}

#cat-ui-menu .item-list ul li.last {
  border-bottom: none;
}

#cat-ui-menu .item-list ul li a {
  display: block;
  padding: 0.2em 1em;
  color: #494949;
  font-size: 1.1em;
}

#cat-ui-menu .item-list ul li a:hover {
  text-decoration: none;
  background: #FFF;
}

#cat-ui-menu .item-list ul a.active {
  background: #ffe4c4;
  font-weight: bold;
}

#cat-ui-menu .item-list ul li .ajax-progress {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0.3em;
}

#cat-ui-form-wrapper {

}

#cat-ui-form-wrapper.edit-form {
  float: left;
  width: 100%;
  border: 1px solid #AAA;
  height: 100%;
  padding: 1em;
}

/**
 * CAT_UI list page styles
 */
#cat-ui-cat-list .disabled td {
  color: #AAA;
}

#cat-table .path-weight {
  width: 30px;
}

/**
 * CAT_UI settings style
 */
#edit-cat-remove-default-tabs .form-checkboxes .form-type-checkbox,
#edit-cat-settings-cat-remove-default-tabs .form-checkboxes .form-type-checkbox {
  display: inline-block;
  margin-right: 1em;
}

.cat-path-table .form-submit {
  float: left;
}

.cat-path-table .cat-tab-title .form-type-textfield,
.cat-path-table .cat-tab-title .cat-reusing-wrapper {
  margin-left: 36px;
}

.cat-path-table .cat-tab-title .cat-reusing-wrapper {
  margin-top: 0.5em;
}

.cat-path-table .cat-tab-title .field-prefix {
  min-width: 42px;
  display: inline-block;
}

.cat-path-table .cat-tab-title .form-type-checkbox {
  margin-left: 46px;
}

.cat-path-table .cat-tab-path .field-prefix,
.cat-path-table .cat-tab-css .field-prefix {
  min-width: 40px;
  display: inline-block;
}

.cat-path-table .cat-tab-title .form-type-checkbox,
.cat-path-table .cat-tab-path .form-item,
.cat-path-table .cat-tab-css  .form-item {
  margin-top: 0.5em;
}

.cat-path-table .cat-tab-path .form-item:FIRST-CHILD,
.cat-path-table .cat-tab-css  .form-item:FIRST-CHILD {
  margin-top: 0;
}

.cat-path-table .cat-tab-path .form-type-checkbox,
.cat-path-table .cat-tab-css .form-type-checkbox {
  margin-left: 44px;
}

