div.form-item-fields-field-image-settings-edit-form-settings-right-sidebar-width,
#fullscreen-gallery-admin div.form-item-fullscreen-gallery-rs-width {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

div.form-item-fields-field-image-settings-edit-form-settings-right-sidebar-width input.form-text,
#fullscreen-gallery-admin div.form-item-fullscreen-gallery-rs-width input.form-text {
  width: 48px;
}

div.form-item-fields-field-image-settings-edit-form-settings-right-sidebar-width-type,
#fullscreen-gallery-admin div.form-item-fullscreen-gallery-rs-width-type {
  margin-top: 0px;
  padding-top: 0px;
}

div.form-item-fields-field-image-settings-edit-form-settings-right-sidebar-width-type select,
#fullscreen-gallery-admin div.form-item-fullscreen-gallery-rs-width-type select {
  margin: -26px 0 0 58px;
  padding: 1px;
  position: absolute;
}

div.form-item-fields-field-image-settings-edit-form-settings-right-sidebar-width-type select {
  margin-top: -31px;
}
