body {
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper .container {
	/*max-width: 1170px;*/
}

/* HEADER
----------------------*/
.region-header {
  float: right;
  padding-top: 22px;
}

p.contact {
  background: url(../images/bg-contact.png) no-repeat 0 88%;
  line-height: 1.3;
  padding-left: 30px;
}

span.phone-contact,
span.text-contact {
  display: block;
}

span.phone-contact {
  font-family: Constantia;
  font-size: 1.714em;
  font-weight: 700;
}

span.text-contact {
    font-family: Corbel,Arial,Helvetica,sans-serif;
    font-size: 0.857em;
    letter-spacing: 3.3px;
    text-transform: uppercase;
}

/* Logo */
#logo {
  float: left;
  padding-bottom: 26px;
  padding-top: 17px;
}

.hgroup {
	float: left;
}

.hgroup h1 {
	margin: 17px 0 0;
	padding: 0;	
	line-height: .7;
	text-transform: lowercase;
	font-weight: bolder;
	font-size: 3.429em;
}

.site-slogan {
	color: #bb5d27;
	font-family: Corbel;
	font-size: .857em;
	padding-left: 80px;
	text-align: right;
}

/* MAIN NAVIGATION
----------------------*/

.view-sponsors {
	background: #f8f7f7;
	margin-top: 20px;
	margin-bottom: 20px;
	box-shadow: 0 8px 6px -6px rgba(0,0,0,0.10);
}

#panel-forth-wrapper {
  background-color: #e7ddc6;
  border-top: 1px solid #dec99c;
}

#footer-wrapper {
  background-color: #e7ddc6;
  color: #af9b6e;
  font-size: .857em;
}

#footer {
  padding: 20px 0 30px;
  background: url(../images/bg-footer-seperate.png) repeat-x;
}

#page #credits {
  display: none;
}
