.panels-frame-stack-ui-table td.icon .layout-icon {
  float:left;
}

.stack-admin-info {
  width:49%;
}
#panels-frame-stack-edit-form {
  width:50%;
  margin-left:1%;
}
.stack-admin-info, #panels-frame-stack-edit-form {
  float:left;
}

.stack-admin-buttons {
  clear:both;
}
