div.odir_field_path {
  border: red;
  max-height: 505px;
  width: "100%";
}

div.odir-field-pathpreview {
  background: #efefef;
  max-height: 205px;
  overflow-y: auto;
  width: "100%";
}

.odir_field_path {
  background: #444444;
  color: #000000;
}

.odir_field_path > a {
  color: #efefef;
}
