/* General Semantics ---------------------------------------------------------*/
* {
    margin:0px;
    padding:0px;
    font-family: sans-serif;
    font-size: 11px;
}
body {
    padding:5px;
}
input, select {
    font-size: 11px;
}
input {
    padding: 1px;
    padding-right:5px;
    padding-left:5px;
}
a {
    text-decoration:none;
    color: #0000FF;
}

a.ext_link {
    background-image: url(./icons/external.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: right center;
    padding-right: 13px;
}

h2, .headline {
    background-color:#DDDDDD;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    height:22px;
    padding-top:7px;
    background-image: url(./icons/bar.png);
}

h2 {
    margin-top:15px;
    font-weight:bold;
}

table {
    font-size: 11px;
    margin: 0px auto;
}
td, th{
    padding-left:4px;
    padding-right:4px;
    padding-bottom:1px;
    padding-top:1px;
}
th {
    text-align:center;
}
img {
    margin: 0px;
    padding: 0px;
    border:0px;
}
form {
    display: inline;
}
option {
    padding:0px 4px 0px 0px;
}
fieldset {
    padding:3px;
    background-color:#DDDDDD;
    float:left;
    margin:1px;
    overflow: auto;
    height:40px;
}
legend {
    border:1px solid #999999;
    background-color:#CCCCCC;
    padding-left:3px;
    padding-right:3px;
}
fieldset input {
    text-align:center;
}
/* General elements ***********************************************************/

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: inline-block;
}

/* Hides from IE-mac */
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

.aligncenter {
    text-align:center;
}
.alignright {
    text-align:right;
}
.alignleft {
    text-align:left;
}
/* Unique elements ************************************************************/
.contentbox {
    margin-left:225px;
}
/* Menu ***********************************************************************/
.top_menu_button {
    display:none;
}
.top_menu_button_active {
    display:none;
}
div.menubox{
    position:fixed;
    left:5px;
    top:5px;
    width:210px;
    border: 2px solid #BBBBBB;
    padding:0px;
}
.menubox ul{
    margin:3px;
}
.menubox .headline {
    border-bottom: 2px solid #BBBBBB;
}

.menubox .timereport{
    border: 0px;
    margin:0px;
    padding:0px;
    background-color: transparent;
}
.menu {
    margin-bottom:15px;
    margin-top:15px;
}
a.leftlink:hover{
    background-color:#DDDDDD;
}
.menu a{
    display:block;
}
.menu_odd {
    background-color:#EEEEEE;
}
ul.top_menu_bar{
    overflow:auto;
    border: 2px solid #BBBBBB;
    background-color:#dddddd;
    height:29px;
    list-style:none;
    margin-left:225px;
    background-image: url(./icons/bar.png);
}
.top_menu_bar li{
    float:left;
    padding-top:4px;
    padding-right:20px;
}
.top_menu_bar li.link {
    text-align:center;
    float:right;
    margin-top:5px;
}
.top_menu_bar select{
    margin-left:8px;
}
.menubox li {
    list-style-type:none;
    position:relative;
}
.menubox select{
    max-width:200px;
}
.submenu li{
    padding-left:10px;
}
.small {
    font-size:9px;
    font-weight:normal;
}
.percent_button {
    width:9px;
    text-align:center;
    border:1px solid #999999;
    position:absolute;
    bottom:0px;
    right:-8px;
    font-size:9px;
}
.header_wrap {
    margin-right:7px;
    position:relative;
}
.headline select,
.headline span{
    margin-top:-2px;
    font-weight:bold;
}
.helplink{
    position:absolute;
    right:5px;
}
.version {
    font-size: smaller;
    border-top: 1px solid #DDDDDD;
    padding-top: 3px;
    margin-top: 3px;
    text-align: center;
}
/* Help & show/hide buttons ***************************************************/
h2 img.showhidebutton{
    position:absolute;
    right:10px;
}
h2 .icon_indent_1 img {
    position:absolute;
    right:29px;
}
h2 .icon_indent_2 img {
    position:absolute;
    right:48px;
}
h2 .icon_indent_3 img {
    position:absolute;
    right:67px;
}
li .icon_indent_1 img {
    position:absolute;
    right:5px;
    top:2px;
}
li .icon_indent_2 img {
    position:absolute;
    right:18px;
    top:2px;
}
li .icon_indent_3 img {
    position:absolute;
    right:30px;
    top:2px;
}
.section_help span{
  display: none;
}
.section_help:hover span{ /*the span will display just on :hover state*/
    z-index:9;
    font-weight:normal;
    background-color: #FFFFE6;
    position:absolute;
    right:50px;
    width:380px;
    display:block;
    padding:5px;
    text-align:left;
    border:1px solid #000000;
    color:#000000;
    margin-top:10px;
}

.errorbox {
    width: 600px;
    margin: 10px auto;
    border: 1px solid blue;
    padding: 10px;
    background-color: #FFFFDD;
    font-size:12px;
}
.errorbox h1{
    font-size: 15px;
}
/* Chart layout ***************************************************************/
.chartcell {
    padding:2px;
    vertical-align:bottom;
    white-space: nowrap;
    text-align:center;
}
.charttable {
    border:3px solid #EEEEEE;
    margin-bottom: 10px;
    margin-top:8px;
}
/* table layout ***************************************************************/
th span {
    display:none;
}
th:hover span {
    z-index:9;
    font-weight:normal;
    background-color: #FFFFE6;
    position:absolute;
    width:380px;
    display:block;
    padding:5px;
    text-align:left;
    border:1px solid #000000;
    color:#000000;
    margin-top:10px;
}
th.layout_text,
th.layout_date,
th.header_wrap {
    background-color: #ECECEC;
    min-width: 70px;
}
th.layout_visitors {
    background-color: #FFAA66;
    width: 70px;
}
th.layout_visits {
    background-color: #F4F090;
    width: 70px;
}
th.layout_pages {
    background-color: #4477DD;
    width: 70px;
}
th.layout_hits {
    background-color: #66DDEE;
    width: 70px;
}
th.layout_percent {
    background-color: #ECECEC;
    width: 60px;
}
th.layout_bytes {
    background-color: #2EA495;
    width: 70px;
}
th.layout_number_2 {
    background-color: #DDDDDD;
    width: 60px;
}
td.layout_text {
    text-align:left;
}
.layout_avg td,
td.layout_avg {
    background-color: #DDDDDD;
}
.layout_others td,
td.layout_others{
    color:#999999;
}
.layout_sum td{
    background-color: #CCCCCC;
}
td.layout_bytes ,
td.layout_hits ,
td.layout_pages ,
td.layout_visits ,
td.layout_visitors ,
td.layout_percent,
td.layout_ratio {
    text-align:right;
}
.currentday{
    font-weight:bold;
}
.screensize {
    border:1px solid #000000;
}
.datatable {
  border-collapse: collapse;
}
.datatable td,
.datatable th {
  border: 2px solid #EEEEEE;
}
.datatable tr{
    background-color:#FFFFFF;
}
.evenyear td,
.evenmonth td,
td.evenyear,
td.evenmonth{
    background: #FFFFEE;
}
.weekend td,
td.weekend {
    background-color:#EEEEDD;
}
.chartlegend {
    background-color:#EEEEEE;
}


/* Config editor **************************************************************/
.conf_button_inactive {
    border-top:1px solid #000000;
    border-left:1px solid #000000;
    border-right:1px solid #000000;
    padding:3px;
    margin-right:2px;
    margin-top:2px;
    background-color: #DDDDDD;
    white-space:nowrap;
    cursor:pointer;
    float:left;
    height:20px;
    font-weight:bold;
}
.conf_button_active {
    border-top:1px solid #000000;
    border-left:1px solid #000000;
    border-right:1px solid #000000;
    border-bottom:1px solid #FFFFFF;
    padding:3px;
    margin-right:2px;
    margin-top:2px;
    margin-bottom:-1px;
    float:left;
    background-color: #FFFFFF;
    white-space:nowrap;
    cursor:pointer;
    height:20px;
    font-weight:bold;
}
.conf_section_active {
    border:1px solid #000000;
    padding:4px;
}
.conf_section_inactive {
    display:none;
    border:1px solid #000000;
    padding:4px;
}
.conf_setting{
    border-bottom:1px solid #999999;
    margin-bottom: 4px;
    padding-bottom: 4px;
}
.default {
    color:blue;
}
.login_form p{
    text-align:center;
    margin:0px auto;
    margin-top:50px;
    padding:20px;
    width:300px;
    border: 1px solid blue;
    background-color: #FFFFDD;
    font-size:12px;
}