/**
 * @file
 * Css for mixitup_views.
 */

html.js .mix_item.mix {
  display: none;
}

.filters_wrapper {
  display: none;
}

html.js .filters_wrapper {
  display: block;
}

html.js .filters_wrapper .form-type-checkbox {
  display: inline-block;
  margin-right: 5px;
  vertical-align: top;
}

html.js .filters_wrapper #reset {
  display: none;
  margin-right: 20px;
}

html.js .sort_wrapper {
  display: block;
  vertical-align: top;
}

html.js .sort_wrapper .sort {
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
}

html.js .sort_wrapper .sort.asc:after {
  content: "⬆";
}
html.js .sort_wrapper .sort.desc:after {
  content: "⬇";
}

html.js .filters_wrapper .form-type-select {
  display: inline-block;
  margin-right: 10px;
}
