.language-hierarchy-picker {
    float: right;
    margin: 0 0 0.5em 0;
    overflow: visible;
}

#overlay-content .language-hierarchy-picker {
    margin: -2.5em 0 0.5em 0;
}

.language-hierarchy-picker li {
    list-style-type: none;
}

.language-hierarchy-picker li.language-hierarchy-group-item {
    float: left;
    padding: 0.5em 0.5em 0 0.5em;
    margin: 0 0 0 0.5em;
    background-color: #fff;
    overflow: hidden;
}

.language-hierarchy-picker li.language-hierarchy-group-item p {
    margin: 0 0 0.5em 0;
    font-weight: bold;
}

.language-hierarchy-picker li.language-hierarchy-group-item ul.language-hierachy-group {
    display: none;
    position: absolute;
    z-index: 999;
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 0 -0.5em;
}

.language-hierarchy-picker li.language-hierarchy-group-item ul.language-hierachy-group a {
    display: block;
    padding: 0.5em;
    min-width: 100px;
}

.language-hierarchy-picker li.language-hierarchy-group-item ul.language-hierachy-group a:hover {
    background-color: #0074BD;
    color: #fff;
    text-decoration: none;
}

.language-hierarchy-picker li.language-hierarchy-group-item:hover {
    background-color: #0074BD;
    color: #fff;
}

.language-hierarchy-picker li.language-hierarchy-group-item:hover ul.language-hierachy-group {
    display: block;
}