/* $Id: dark-style.css,v 1.0.0 2011/11/19 08:18:15 symphonythemes Exp $ */

/*------------------------------------*\
	Basic Typography & Colors
\*------------------------------------*/
/* Hover/active link styles. Don't forget :focus for accessibility */
body {
  background: #d7d7d7;
}
a,
a:link,
a:visited {
  color: #9a2e18;
  text-decoration: none;
}
a:focus,
a:hover,
a:active {
  color: #c27c2e;
}

pre,
div.code {
  border-left: 5px solid #CF4E33;
}
.highlight {
  background: #CF4E33;
  color: #fff;
}

/*------------------------------------*\
	Pages CSS
\*------------------------------------*/
.zone-branding-wrapper {
  border-top: 10px solid #CF4E33;
}

/* Page and full node titles */
h1.title {
  color: #9a2e18;
  border-bottom: 1px solid #eee;
}

/* Pager */
.item-list .pager .pager-current,
.item-list .pager li a:hover {
  color: #CF4E33;
}

/* Button */
/* Typography and backgrounds for all form buttons */
button, input[type="reset"], input[type="submit"], input[type="button"] {
  background: url(../images/dark/button-bg.jpg) left top repeat-x;
  border: 1px solid #a60000;
  color:#fff;
}

input.form-submit:hover {
  background: url(../images/dark/button-bg-hover.jpg) left bottom repeat-x;
}

/*------------------------------------*\
	NAVIGATION
\*------------------------------------*/
/* Main menu links */
.region-menu-inner {
  background: #CF4E33;
}
ul#main-menu li a {
  border-right: 1px solid #f1a494;
  color: #f5e0dc;
}
ul#main-menu li.last a {
  border: none;
}
ul#main-menu li a:hover,
ul#main-menu li a.active {
  color: #ffb25c;
  background: #872511;
}
ul#main-menu li.menu-245 a:hover,
ul#main-menu li.menu-245 a.active {
  background: #872511 url(../images/icon-menu-home-active.png) 20px center no-repeat;
}
ul#main-menu li.menu-434 a:hover,
ul#main-menu li.menu-434 a.active {
  background: #872511 url(../images/icon-menu-gallery-active.png) 15px center no-repeat;
}
ul#main-menu li.menu-437 a:hover,
ul#main-menu li.menu-437 a.active {
  background: #872511 url(../images/icon-menu-blog-active.png) 10px center no-repeat;
}
ul#main-menu li.menu-433 a:hover,
ul#main-menu li.menu-433 a.active {
  background: #872511 url(../images/icon-menu-contact-active.png) 10px center no-repeat;
}
ul#main-menu li.menu-438 a:hover,
ul#main-menu li.menu-438 a.active {
  background: #872511 url(../images/icon-menu-about-active.png) 10px center no-repeat;
}

/* User menu */
.block-system-user-menu ul.menu li a {
  color: #CF4E33;
}
.block-system-user-menu ul.menu li a:hover,
.block-system-user-menu ul.menu li a.active {
  color: #fff;
}

/* Footer menu */
.block-menu-footer-menu ul.menu li a:hover,
.block-menu-footer-menu ul.menu li a.active {
  color: #CF4E33;
}

/*------------------------------------*\
	FIELDS CSS
\*------------------------------------*/
.views-field-created, .views-field-comment-count,
.node .submitted,
.block-latest-blog-homepage .view-list-articles .views-field-created,
.view-list-articles .views-field-name,
.view-list-articles .views-field-comment-count {
  color: #ddd;
}

.field-name-field-image img,
.views-field-field-image img {
  border: 1px solid #888;
  background: #ededed;
}

/*------------------------------------*\
	BLOCKS CSS
\*------------------------------------*/
.region-content-inner,
.region-sidebar-second .block .block-inner,
.region-sidebar-first .block .block-inner {
  background: #acacac;
  color: #fff;
}
h2.block-title {
  color: #9a2e18;
}

.region-sidebar-second .block .block-inner .block-title-left,
.region-sidebar-first .block .block-inner .block-title-left {
  background: url(../images/dark/block-title-left.png) left bottom no-repeat;
}
.region-sidebar-second .block .block-inner .block-title-right,
.region-sidebar-first .block .block-inner .block-title-right {
  background: url(../images/dark/block-title-right.png) right bottom no-repeat;
}
.region-sidebar-second .block .block-inner h2.block-title,
.region-sidebar-first .block .block-inner h2.block-title {
  background: #CF4E33;
  color: #fff;
}

/* Block book your shoot */
.block-book-your-shoot {
  background: #CF4E33;
}
.block-book-your-shoot .content a {
  color: #fff;
}
.block-book-your-shoot .content a:hover {
  color: #FFB25C;
}

/* Read more link */
.views-field-view-node a {
  border-right: 5px solid #CF4E33;
  color: #fff;
}
.views-field-view-node a:hover {
  border-right: 5px solid #c27c2e;
}
.more-link a {
  background: url(../images/dark/bullet.png) 0 6px no-repeat;
}
/* List albums */
.view-list-albums .views-row,
.view-list-photos .views-row,
.region-content .view-list-articles .views-row,
.block-latest-photos .views-row {
  border-bottom: 1px dashed #ededed;
}

.block-latest-blog-homepage {
  border-top: 1px dashed #ededed;
}

/* Block list */
.block-list .content ul li {
  background: url(../images/dark/bullet.png) 5px 8px no-repeat;
  border-bottom: 1px dashed #d1d1d1;
}

/* Blick slideshow */
.block-slideshow .views-slideshow-pager-fields .views-slideshow-pager-field-item:hover,
.block-slideshow .views-slideshow-pager-fields .views-slideshow-pager-field-item.active {
  background: url(../images/dark/slideshow-nav-active.png) 0 0 no-repeat;
}

/* Blog page */
.block-system-main .view-list-articles .views-field-created {
  float: left;
  width: 63px;
  height: 61px;
  margin: 0px 20px 10px 0;
  text-align: center;
  background: url(../images/dark/blog-post-date.png) 0 0 no-repeat;
}

/* Block login */
.block-user-login .content div.item-list li {
  background: url(../images/dark/bullet.jpg) no-repeat 0 8px;
}
