/* This file will hold styles that are loaded using the same media query as the narrow grid. */
.branding-data {
  text-align: left;
  float: left;
  width: 160px;
  padding: 0;
  position: absolute;
  z-index: 99;
  left: 0;
  top: 0;
}

/* Main menu */
ul#main-menu {
  float: right;
  width: auto;
}
ul#main-menu li {
  float: left;
}
.zone-menu .block-nice-menus {
  float: right;
}

/* User menu */
.block-user-menu {
  float: left;
  width: auto;
  margin: 5px 0;
}
.block-system-user-menu ul.menu {
  margin: 0;
}
.block-system-user-menu ul.menu li.first a {
  padding-left: 25px;
}

/* Footer menu */
.block-menu-footer-menu .content ul.menu {
  text-align: right;
  padding-top: 20px;
}


/* Block 
/**********************************************************/
h1.title {
  font-size: 150%;
}

h2.block-title,
ul.quicktabs-tabs li a {
  font-size: 130%;
}


/* Block search */
.block-search {
  width: auto;
  float: left;
  margin: 20px 0;
}
.block-search .form-item {
  width: 130px;
}

/* Block login */
.block-login input.form-text {
  width: 100%;
}
.block-login .item-list ul li {
  margin-left: 0;
  list-style: none;
}

/* Blog page */
.view-list-articles .views-field-field-image img {
  width: 160px;
}
.view-list-articles .views-field-title a {
  font-size: 110%;
  font-weight: bold;
}
article.node-article .field-name-field-image img {
  width: 160px;
}

/* Events page */
.view-list-events .views-field-field-image img {
  width: 160px;
}
.view-list-events .views-field-title a {
  font-size: 110%;
  font-weight: bold;
}
article.node-event .field-name-field-image img {
  width: 160px;
}

/* Block slideshow */
.block-slideshow .views-slideshow-cycle-main-frame .views-field-field-image img {
  width: 520px;
}
.block-slideshow .views-slideshow-controls-bottom .views-slideshow-pager-field-item {
  width: 50px;
}

/* Block hotline */
.block-hotline {
  float: left;
  width: 180px;
  padding-left: 180px;
  text-align: left;
}
.block-hotline .hotline-text {
  font-size: 150%;
  line-height: 1;
}

/* About us */
.image-about-us {
  float: right;
  width: 160px;
  padding-left: 20px;
}

/* Block donate */
.block-donate {
  float: right;
  width: auto;
  margin: 15px 0;
}


/* Block-video */
.block-video embed {
  width: 160px;
  height: 100px;
}


/* Blolck social icons */
.block.block-social-icons .content img {
  width: 16px;
}


/* Block copyright */
.block-copyright .content {
  text-align: right;
}

/* Contact form */
.contact-form .form-item label {
  font-size: 110%;
  font-weight: bold;
}
.contact-form .form-actions {
  margin-left: 10px;
}
