#commerce-ajax-cart-preview {
  background-color : white !important;
  position : absolute ;
  background : white ;
  padding : 1em ;
  box-sizing: content-box ;
  box-shadow:  3px 3px #ccc;
}

#commerce-ajax-cart-preview.loading {
	min-height : 100px ;
	min-width : 100px ;
	background : no-repeat center center url(../images/ajax-loader.gif) ;
}

.view-id-shopping_cart {
  cursor : pointer ;
}