/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

/* Header BEGIN */
/* Navigation */
#menu.responsive-menu-block {
  display: none;
}
#block-superfish-1 {
  float: right;
  margin: 0;
}
#superfish-1 li.sf-depth-1 {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}
#superfish-1 li.sf-depth-1:hover {
  border-left-color: #e8e8e8;
  border-right-color: #e8e8e8;
}
#superfish-1 .sf-depth-1 > a {
  text-transform: uppercase;
  padding: 33px 20px 34px;
}
#superfish-1 .sf-depth-1 > a:hover,
#superfish-1 .sf-depth-1.active-trail > a {
  color: #000;
}
#superfish-1 .sf-depth-1 > ul {
  position: absolute;
  padding: 10px 0 !important;
  width: auto !important;
  right: 0 !important;
  background: #fff;
  top: 80px;
  min-width: 190px;
  border-radius: 0;
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(232,232,232,1);
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(232,232,232,1);
  box-shadow: inset 0px 0px 0px 1px rgba(232,232,232,1);
}
#superfish-1 .sf-depth-2 > a {
  padding: 10px 20px;
}
#superfish-1 .sf-depth-2 > a:hover {
  background: #000;
  color: #fff;
}
.btn-mobile-menu {
  display: none;
}
/* Header END */