/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
/* Common BEGIN */
#branding, 
.region-inner, 
body.front .view-content, 
body.front .block-title, 
.block-our-amazing-team-block-1 .block-title, 
.view-header, 
.copyright-container, 
.view-main-slider .views-field-nothing, 
#columns, 
#secondary-menu-bar,
.block-our-mission p {
  padding-left: 25px;
  padding-right: 25px;
}
.region-tertiary-content .view-content {
  padding: 0;
}
.front .block-title {
  padding-left: 0;
  padding-right: 0;
}
/* Common END */

/* Footer BEGIN */
.region-tertiary-content .block {
  width: 50%;
  margin-bottom: 55px;
  padding: 0 25px;
}
/* Footer END */

/* Main slider BEGIN */
.view-main-slider .view-content {
  padding: 0;
}
/* Main slider END */

/* Front page BEGIN */
.view-dignities .views-row {
  width: 50%;
}
/* Front page END */