/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

/* Common BEGIN */
#branding, 
.region-inner, 
body.front .view-content, 
body.front .block-title, 
.block-our-amazing-team-block-1 .block-title, 
.view-header, 
.copyright-container, 
.view-main-slider .views-field-nothing, 
#columns, 
#secondary-menu-bar,
.block-our-mission p {
  padding-left: 25px;
  padding-right: 25px;
}
.front .block-title {
  padding-left: 0;
  padding-right: 0;
}
/* Common END */

/* Front page BEGIN */
.view-main-slider {
  height: 250px;
}
.view-main-slider .view-content {
  padding: 0;
}
.main-slider-text-wrapper {
  padding: 10px 10px 30px 40px;
  width: 67%;
}
.main-slider-image {
  width: 33%;
}
.view-dignities {
  padding: 50px 0;
}
.view-dignities .view-content {
  margin-bottom: 30px;
}
.view-secondary-slider .owl-carousel {
  padding-left: 135px;
  padding-right: 135px;
}
.view-secondary-slider .views-field-title, 
.view-secondary-slider .views-field-body, 
.view-secondary-slider .views-field-title-1 {
  float: none;
}
.view-secondary-slider .views-field-title {
  margin-top: 15px;
}
.block-recent-news-block .views-field-field-news-image {
  margin-right: 25px;
}
.block-our-mission p {
  width: auto;
}
.block-our-amazing-team-block {
  padding-top: 45px;
  padding-bottom: 35px;
}
/* Front page END */

/* Main slider END */
.views-field-field-main-slider-image {
  display: none;
}
/* Main slider END */

/* Footer BEGIN */
.region-tertiary-content .view-content {
  padding: 0;
}
.region-tertiary-content .block {
  width: 50%;
  margin-bottom: 55px;
  padding: 0 25px;
}
.view-popular-tags .view-content {
  padding: 0;
}
/* Footer END */