#when_edit {
  background-color:#666;
  display:none;
  filter: alpha(opacity = 70);
  height:100%;
  opacity: 0.7;
  position:absolute;
  width:100%;
  z-index:101;
}

#formMakerDiv {
  background-color:#666;
  display:none;
  filter: alpha(opacity = 70);
  height:100%;
  left:0;
  opacity: 0.7;
  position:fixed;
  top:0;
  width:100%;
  z-index:100;
}
#formMakerDiv1 {
  background-color:transparent;
  display:none;
  left:0;
  margin-left:30px;
  margin-top:80px;
  top:0;
  position:fixed;
  z-index:100;
}

.field_buttons {
  background-color:#00AAF1;
  border-radius:0px;
  cursor:pointer;
  height:75px;
  margin:1px;
  padding:5px;
  width:87px;
}

.field_buttons:hover {
  background-color:#0E83EB;
}

.element_toolbar {
  background-color:#F0F0F0
  margin:0px;
  padding:0px;
}

.element_toolbar img {
  margin:2px;
}

.no_spacing {
  border-spacing: 0px;
  float:left;
  padding-right:10px !important;
}

.toolbar_padding {
  padding-right: 20px;
}

.page_toolbar {
  cursor:pointer;
  width:30px;
}

#div_content, #note {
  text-align:justify;
  width:1100px;
}

#sliding_popup {
  display:block;
  left:0px;
  margin:0px;
  padding:0px;
  position:fixed;
  width:100%;
}#edit_div td {  padding: 0;}