/* The main calendar widget.  DIV containing a table. */

div.calendar {
  position: relative;
  width: 226px;
  z-index: 100;
}

.calendar,
.calendar table {
  background: #efefef;
  border: 1px solid #cccccc;
  color: #000;
  cursor: default;
  font-family: arial,verdana,sans-serif;
  font-size: 11px;
}

/* Header part -- contains navigation buttons and day names. */
/* "<<", "<", ">", ">>" buttons have this class */
.calendar .button {
  border: 0px;
  height: inherit;
  padding: 2px;
  text-align: center;
}

.button {
  -webkit-border-radius: 11px !important;;
  background-origin: padding-box;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-radius: 11px !important;;
  border-right-width: 1px;
  border-top-width: 1px;
  text-shadow: white 0px 1px 0px;
}

/* This holds the current "month, year" */
.calendar thead .title {
  background: #333333;
  color: #ffffff;
  font-weight: bold;      /* Pressing it will take you to the current date */
  padding: 2px;
  text-align: center;
}

/* Row <TR> containing navigation buttons */
.calendar thead .headrow {
  background: #dedede;
  color: #000;
}

/* Cells <TD> containing the day names */
.calendar thead .name {
  border-bottom: 1px solid #cccccc;
  color: #000;
  padding: 2px;
  text-align: center;
}

/* How a weekend day name shows in header */
.calendar thead .weekend {
  color: #666666 !important;
}

/* How do the buttons in header appear when hover */
.calendar thead .hilite {
  background: #bbbbbb;
  border: 1px solid #cccccc;
  color: #000000;
  padding: 1px;
}

/* Active (pressed) buttons in header */
.calendar thead .active {
  background: #c77;
  padding: 2px 0px 0px 2px;
}

/* Row <TR> containing the day names */
.calendar thead .daynames {
  background: #dddddd;
}

/* The body part -- contains all the days in month. */
/* Cells <TD> containing month days dates */
.calendar tbody .day {
  padding: 2px 4px 2px 2px;
  text-align: right;
  width: 2em;
}

.calendar table .wn {
  background: #dddddd;
  border-right: 1px solid #cccccc;
  padding: 2px 3px 2px 2px;
}

.calendar tbody .rowhilite td {
  background: #666666;
  color: #ffffff;
}

.calendar tbody .rowhilite td.wn {
  background: #666666;
  color: #ffffff;
}
.calendar table {
  border-collapse: inherit !important;
}

/* Hovered cells <TD> */
.calendar tbody td.hilite {
  background: #999999;
  border: 1px solid #666666;
  padding: 1px 3px 1px 1px;
}

/* Active (pressed) cells <TD> */
.calendar tbody td.active {
  background: #000000;
  color: #ffffff;
  padding: 2px 2px 0px 2px;
}

/* Cell showing today date */
.calendar tbody td.selected {
  background: #000000;
  border: 1px solid #000;
  color: #ffffff;
  font-weight: bold;
  padding: 1px 3px 1px 1px;
}

/* Cells showing weekend days */
.calendar tbody td.weekend {
  color: #cccccc;
}

.calendar tbody td.today {
  font-weight: bold;
}

.calendar tbody .disabled {
  color: #999;
}

/* Empty cells (the best is to hide them) */
.calendar tbody .emptycell {
  visibility: hidden;
}

/* Empty row (some months need less than 6 rows) */
.calendar tbody .emptyrow {
  display: none;
}

/* The footer part -- status bar and "Close" button */
/* The <TR> in footer (only one right now) */
.calendar tfoot .footrow {
  background: #cccccc;
  color: #000;
  text-align: center;
}

/* Tooltip (status bar) cell <TD> */
.calendar tfoot .ttip {
  background: #efefef;
  border-top: 1px solid #cccccc;
  color: #000000;
}

/* Hover style for buttons in footer */
.calendar tfoot .hilite {
  background: #666666;
  border: 1px solid #f40;
  padding: 1px;
}

/* Active (pressed) style for buttons in footer */
.calendar tfoot .active {
  background: #999999;
  padding: 2px 0px 0px 2px;
}

/* Combo boxes (menus that display months/years for direct selection) */
.combo {
  background: #ffffff;
  border: 1px solid #655;
  color: #000;
  cursor: default;
  display: none;
  font-size: smaller;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 4em;
}

.combo .label {
  text-align: center;
  width: 100%;
}

.combo .hilite {
  background: #fc8;
}

.combo .active {
  background: #efefef;
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  font-weight: bold;
}
