/**
 * This CSS is necesary to prevent firefox 3.x showing a border on
 * transparent flash movies embedded with object when they are active.
 */
object.curlypage {
  outline: none;
  margin: 0px;
  padding: 0px;
  border: 0px;
  position: relative;
  left: 0px;
  top: 0px;
}

div.curlypage {
  margin: 0px;
  padding: 0px;
  border: 0px;
}