/**
 * @file
 * Hidey Help CSS
 */

a.hidey-help {
	display: block;
	background: #DFE;
	border: 2px solid #9BA;
	padding: 2px 4px;
	margin-bottom: 0.5em;
	width: 6em;
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	font-family: sans-serif;
	border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	}
a.hidey-help:link {
	color: #020;
	text-decoration: none;
	}
ul.primary li.hidey-help { float: right; }
ul.primary li.hidey-help a:link, ul.primary li.hidey-help a:visited {
	color: #FF0;
	background-color: #888;
	border-color: #000;
	}
ul.primary li.hidey-help a:hover, ul.primary li.hidey-help a:active,
a.hidey-help:active, a.hidey-help:active span {
	color: #FF0;
	background-color: #222;
	border-color: #000;
	}
