/*
** Site template elements
*/

#page-wrapper,
.page-wrapper {
  width: 940px;
  margin: 20px auto;
}

.page-header {
  margin-bottom: 20px;
  position: relative;
}

/*
** Panes
*/

#main-menu li,
#secondary-menu li {
  display: inline-block;
}

#secondary-menu {
  position: absolute;
  top: 0;
  right: 0;
}

/*
** Layouts
*/

.layout-one-column {
  .column {
    margin-bottom: 20px;
  }
}

.layout-frontpage {
  .column {
    margin-bottom: 20px;
  }
  .column-main {
    clear: left;
  }
  .column-alpha.column-first {
    float: left;
    width: 610px;
    margin-right: 10px;
  }
  .column-alpha.column-second {
    float: left;
    width: 310px;
    margin-left: 10px;
  }
  .column-beta.column-first,
  .column-beta.column-second,
  .column-beta.column-third {
    float: left;
    width: 300px;
  }
  .column-beta.column-first {
    clear: left;
    margin-right: 10px;
  }
  .column-beta.column-second {
    margin: 0 10px 20px;
  }
  .column-beta.column-third {
    margin-left: 10px;
  }
}

.layout-two-columns {
  .column {
    margin-bottom: 20px;
  }
  .column-main {
    clear: left;
  }
  .column-first,
  .column-second {
    float: left;
  }
  .column-first {
    width: 610px;
    margin-right: 10px;
  }
  .column-second {
    width: 310px;
    margin-left: 10px;
  }
}

.layout-three-columns {
  .column {
    margin-bottom: 20px;
  }
  .column-main {
    clear: left;
  }
  .column-first,
  .column-second,
  .column-third {
    float: left;
    width: 300px;
  }
  .column-first {
    margin-right: 10px;
  }
  .column-second {
    margin: 0 10px;
  }
  .column-third {
    margin-left: 10px;
  }
}