
/**
 * @file
 * Styles for displaying your latest Dribbble Shots.
 */

.dribbbles {
  list-style-type: none;
  margin: 0px 0px 1.5em;
}

.dribbbles li {
  font-size: 15px;
  position: relative;
  width: 220px;
  padding: 0;
  margin: 0 0 1.5em 0;
}

.dribbbles .dribbble {
  background:url(images/dribbblesprite.png) no-repeat scroll -10px -480px transparent;
  font-family: "Helvetica Nueue", Helvetica, Arial, sans-serif;
  padding: 0 0 10px 0;
  position: relative;
  clear: left;
  overflow: hidden;
}

.dribbbles .dribbble-shot {
  padding: 10px;
  background: url(images/dribbblesprite.png) no-repeat -10px -330px;
}

.dribbbles .dribbble-over {
  position: absolute;
  top: 10px; 
  left: 10px; 
  z-index: 1; 
  width: 180px; 
  height: 130px; 
  margin: 0 !important;
  padding: 10px;
  font-size: 0.8em;
  line-height: 2em;
  text-decoration: none;
  color: #888;
  background: url(images/dribbblesprite.png) no-repeat -110px -160px;
}

.dribbbles .dribbble-link {
  position: relative;
  z-index: 2;
}

.dribbbles img {
  margin: 0;
  width: 200px;
  height: auto;
  opacity: 1;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
}

.dribbbles a:hover img {
  opacity: 0.1;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
}

.dribbbles strong {
  display: block;
  font-weight: bold;
  font-size: 1.4em;
  line-height: 1.2em;
  color: #ea4c88;
}

.dribbbles .dim {
  font-weight: bold;
  color: #666;
}

.dribbbles em {
  position: absolute;
  bottom: 11px;
  left: 10px;
  font-size: 1em;
  line-height: 1em;
  font-weight: normal;
  font-style: normal;
}

.dribbbles .dribbble-img {
  width: 200px;
  height: 150px;
  overflow: hidden;
}

