/*
**    Copyright 2008 Avioso Limited

**    This file is part of .AD Blueprint

**    .AD Blueprint is free software: you can redistribute it and/or modify
**    it under the terms of the GNU General Public License as published by
**    the Free Software Foundation, either version 3 of the License, or
**    (at your option) any later version.

**    .AD Blueprint is distributed in the hope that it will be useful,
**    but WITHOUT ANY WARRANTY; without even the implied warranty of
**    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
**    GNU General Public License for more details.

**    You should have received a copy of the GNU General Public License
**    along with .AD Blueprint.  If not, see <http://www.gnu.org/licenses/>.
*/

/* Positioning */
#preview {
  overflow: hidden;
  max-width: 100%;
}
#preview, #preview #img {
  width: 596px;
  height: 371px;
}
#preview #gradient {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 10000px;
  z-index: 2;
}
#preview #text {
  position: absolute;
  left: 201px;
  width: 325px;
  top: 160px;
  height: 120px;
  z-index: 4;
}
#preview #img {
  position: relative;
  z-index: 3;
}
#preview #gradient .gradient-line {
  height: 10px;
  overflow: hidden;
}

/* Basic styles to match */
#preview {
  font: 12px/170% Verdana;
}
#preview h2 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 160%;
  line-height: 130%;
}
#preview p {
  margin: .5em 0;
}
#preview a:link, #preview a:visited {
  text-decoration: none;
  font-weight: normal;
}
#preview a:hover {
  text-decoration: underline;
}
