/* Drupal 7 HTML5 Gardening Theme - Created by AzriDesign
------------------------------------------------
[Table of contents]

 0.Reset
 1.Global
 2.Layout
 3.Main
 4.Sidebar
 5.Header
 6.Navigation
 7.Nodes
 8.Comments
 9.Blocks
10.Footer
11.CSS Support

Font sizes: 16px base font with 24px line-height
------------------------------------------------
       font-size / line-height / margin-top
------------------------------------------------
40px = 2.5em     / 1.2         / 0.6em
32px = 2em       / 1.5         / 0.75em
24px = 1.5em     / 1           / 1em
20px = 1.25em    / 1.2         / 1.2em
16px = 1em       / 1..5        / 1.5em
14px = 0.875em   / 1.7143      / 1.7143em
13px = 0.8125em  / 1.8462      / 1.8462em
12px = 0.75em    / 2           / 2em
10px = 0.625em   / 2.4         / 2.4em

Equation for font sizing: 
  Desired px รท Default (or parent) px = em size
------------------------------------------------*/

/**
 * 0.RESET 
 */

@import "reset.css";

/**
 * 1.GENERAL
 */

b, strong { font-weight: bold; }
em, dfn, i { font-style: italic; }
dfn { font-weight: bold; }


/**
 * 2.GLOBAL
 */

body {
  color: #000;
  background: #cfcfcf;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 62.5%;
  line-height:1.4;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
}

h1, .h1 {
  font-size: 2em;
  line-height: 1.5;
  margin-top: 0.75em;
  color: #dd86c8;
}

h2, .h2 {
}
.node h2{
	margin: 0px 0 0 0px;
	padding: 8px 20px 5px 20px;
	font-size: 1.8em; /* Post title */
	background: url(../images/post_header_bg.jpg) no-repeat;
}
.node h2 a {
	color: #6a5524;
}

h3, .h3 {
  font-size: 1.25em;
  line-height: 1.2;
  margin-top: 1.2em;
  margin-bottom: 1em;
}

h4, h5, h6, .h4, .h5, .h6 {
  font-size: 1em;
  font-weight: bold;
  line-height: 1.5;
  margin-top: 1.5em;
}

.content h2, .content .h2 {
  /*border-bottom: 1px dotted #ccc;*/
  font-size: 2em;
  margin: 6px 0px;
  padding-bottom: 5px;
}

#main h1, #main .h1 {  
	margin: 0px 0 0 0px;
	padding: 8px 20px 5px 20px;
	font-size: 1.8em; /* Post title */
	background: url(../images/post_header_bg.jpg) no-repeat;
	color: #6a5524;
}


p {
  font-family:"Lucida Grande",Verdana,sans-serif;
  font-size:1.2em;
  line-height:20px;
  margin:5px 0 0 6px;
  padding-bottom:14px;
}

a, .node a {
	text-decoration: none;
	color: #000;
}
a:hover, .node a:hover {
	color: #900;
	text-decoration: none;
}

a:focus { outline: thin dotted; }

a:hover, a:active { outline: 0; }

/* apply common styling after reset.css */

li ul, li ol {  margin: 0; }
ul, ol {  margin: 0 1.5em 1.5em 0;  padding-left: 1.5em; }
ul {  list-style-type: disc; }
ol {  list-style-type: decimal; }
dl {  margin: 0 0 1.5em 0; }
dl dt {  font-weight: bold; }
dd {  margin-left: 1.5em; }
hr {  background: #666;  border: none;  clear: both;  float: none;  height: 1px;  margin: 0 0 1.4375em;  width: 100%; }
fieldset {  border: 1px solid #ccc;  margin: 0 0 1.4375em;  padding: 1.5em; }
table {  margin-bottom: 1.5em;  width: 100%; }
th, tr, td {  vertical-align: middle; }
th { padding-right: 1em; }
.sticky-header th, .sticky-table th {  border-bottom: 3px solid #ccc;  padding-right: 1em;  text-align: left; }

/**
 * 2.LAYOUT
 */

#container {
	min-width: 1000px; /* not working in IE6 */
	padding: 0px 0 0 0;
	background: url(../images/container_bg.jpg) repeat-y center;
   margin: 0 auto;
   width: 1025px; /* 95% or 950px */
}
#bottom_frame {
	padding: /*0 0 47px 0*/0 0 220px;
	background: url(../images/bottom_frame.jpg) no-repeat center bottom;
}
#top_frame {
	background: url(../images/top_frame.jpg) no-repeat center top;
}
#container {
  margin: 0 auto;
  width: 1025px; /* 95% or 950px */
}

/**
 * 3.MAIN
 */

/* 1 column: global values*/

#main {
  /*display: inline;*/
  width: 520px;
  padding: 0px 0px 0 0px;
  display: inline;
  margin: 0 95px 0 110px;
  float: left;
}

.node .content {
  margin: .5em 0 .5em 0;
}

/* 3 columns */

body.two-sidebars #main {
  float: left;
  margin: 0 0 0 240px;
  padding: 0;
  width: 460px;
}

#sidebar {
	width: 209px;
	display: inline;
	position: relative;
	padding: 165px 0 0px 0px;
	margin: 0px 0px 0 0px;
	float: left;
}
#sidebar h2 {
	font-size: 1.8em;
	padding: 5px 0 5px 0px;
	text-align: center;
	color: #fff;
	background: url(../images/sidebar_header_bg.png) no-repeat;
	margin-bottom: 4px;
}
#sidebar ul li a {
	width: 201px;
	overflow: hidden;
	padding: 0 0 15px 0px;
	font-weight: bold;
	font-size: 1.2em;
}
#sidebar ul {
	padding: 0 0 0 15px;
	font-size: 1em;
}
#sidebar ul.menu {
	padding: 0 0 0 45px;
	font-size: 1em;
}
#sidebar ul li {
	font-size: 1em;
    padding: 3px 0 4px;
}
.item-list ul li {
	width: 201px;
	overflow: hidden;
	padding: 0 0 15px 0px;
	font-weight: bold;
}
#sidebar ul li a{
	color: #6a5524;	
}
#sidebar ul li a:hover {
	color: #900;	
}
#sidebar ul ul {
	width: 156px;
	margin: 0;
	padding: 0 0 0 0px;
	background: none;
}
#sidebar ul ul li {
	width: 156px;
	font-size: 1.2em;
	padding: 3px 0 4px 0px;
	/*background: url(images/sidebar_li.gif) left 8px no-repeat;*/
}
.item-list ul ul li {
	width: 156px;
	font-size: 1.2em;
	padding: 3px 0 4px 0px;
	/*background: url(images/sidebar_li.gif) left 8px no-repeat;*/
}
#sidebar ul ul ul {
	width: 100%;
	padding: 0;
	margin: 0;
}
#sidebar ul ul li li {
	font-size: 1em;
	padding-left: 14px;
	width: 80%;
}
#sidebar .textwidget {
	margin: 7px 0;
}
#sidebar select {
	margin: 7px 0;
	width: 95%;
}


/**
 * 5.HEADER
 */

#header {
  height: 343px;
  overflow: hidden;
  position: relative;
}

#header #logo {
  float: left;
  margin: 0 296px 0 300px;
  padding: 0;
}

#header #site-name-slogan {
  float: left;
  margin: 0 0 1.5em;
}

#header #site-name {
  color: #AF3E6B;
  float: left;
  margin: -28px 0 0 372px;
  padding: 0;
}

#header #site-name a {
    color: #AF3E6B;
}
#header #site-name a:hover {
  text-decoration: none;
}

#header #site-slogan {
  margin: 0;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: #AF3E6B;
  font-size: 1.8em;
  font-weight: bold;
  margin: -28px 0 0 372px;
  text-shadow: 1px 1px 0 #fff, 0 2px 0 rgba(0, 0, 0, 0.15);
}

/***RSS FEED****/
.rss
{
  position: absolute;
	right: 124px;
	top: 101px;
}
/* welcome */
#welcome {
	width: 209px;
	height: 122px;
	position: absolute;
	left: 0px;
	top: 0px;
	font-size: 1.1em;
}
#welcome div {
	width: 209px;
	height: 122px;
	overflow: hidden;
}

/**
 * 6.NAVIGATION
 */

#navigation {
  height: auto;
  left: 139px;
  position:absolute;
  top: 175px;
  margin:0;
  padding:0;
  width:680px;
}

#navigation ul#main-menu {
  clear: both;
  list-style: none;
  margin: 33px 0 0;
  padding: 1px 0;
  font-weight: bold;
  float: left;
  font-size:1.8em;
}

#navigation ul#main-menu li {
  float:left;
  margin:0;
  padding-top: 6px;
  list-style-type:none;
  /*height: 30px;*/
}

#navigation ul#main-menu li a {
  padding:5px 14px 2px 4px;
  background:transparent;
  color:#fff;
  display:block;
  text-decoration:none;
}

#navigation ul#main-menu li a:hover {
  color:#B9DF00
}

#navigation ul#secondary-menu {
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0;
}

#navigation ul#secondary-menu li {
  float: left;
  margin: 0;
  padding: 0;
}

#navigation ul#secondary-menu li a {
  display: block;
  padding: 0 2em 0 0;
}

.breadcrumb {
  clear: both;
  padding: 0.5em 1em 0;
  margin-top: -1px;
  display: none;
}

#skip-link {
  position: absolute;
}

/* menus and item lists */

.item-list ul {
  margin: 0;
  padding: 0.5em 0 1.5em;
}

.item-list ul li {
  margin: 0;
  padding: 0;
}

ul.menu li {
  margin: 0;
  padding: 0;
}

ul.inline {
  clear: both;
}

ul.inline li {
  margin: 0;
  padding: 0 1em 0 0;
}

.item-list .pager {
    padding: 2.5em 0 1.5em;
    text-align: center;
}
ul li.leaf {
    list-style-image: none;
    list-style-type: none;
    padding: 0 0 0.2em 1.5em;
}

/* admin tabs */

.tabs-wrapper {
  border-bottom: 1px solid #333;
  margin: 0 0 1.4375em;
}

ul.primary {
  border: none;
  margin: 0;
  padding: 0;
}

ul.primary li a {
  background: none;
  border: none;
  display: block;
  float: left;
  line-height: 1.5em;
  margin: 0;
  padding: 0 1em;
}

ul.primary li a:hover, ul.primary li a.active {
  background: #666;
  border: none;
  color: #fff;
}

ul.primary li a:hover {
  background: #888;
  text-decoration: none;
}

ul.secondary {
  background: #666;
  border-bottom: none;
  clear: both;
  margin: 0;
  padding: 0;
}

ul.secondary li {
  border-right: none;
}

ul.secondary li a, ul.secondary li a:link {
  border: none;
  color: #ccc;
  display: block;
  float: left;
  line-height: 1.5em;
  padding: 0 1em;
}

ul.secondary li a:hover, ul.secondary li a.active {
  background: #888;
  color: #fff;
  text-decoration: none;
}

ul.secondary a.active {
  border-bottom: none;
}

/**
 * 7.NODES
 */

.node {
  margin: 0 3px 1.5em;
  padding: 10px 0 0;
  border-bottom: 4px solid #E4DECE;
}

.node .submitted {
  font: 11px "Lucida Grande",Arial,"Lucida Sans Unicode",sans-serif ;
  color:#999;
  padding: 3px;
  float: right;
}
#contact-site-form, #user-login, #user-pass, #user-register-form {
    margin: 10px 0 0 12px;
}


/* tags */

.field-name-field-tags {
  margin: 0 0 1.5em;
}

.field-name-field-tags .field-item {
  margin: 0 1em 0 0;
}

.field-name-field-tags div {
  display: inline;
}

/* profile */

.profile {
  margin: 1.5em 1em;
}

.profile h3 {
  border: none;
}

.profile dt {
  margin-bottom: 0;
}

.profile dd {
  margin-bottom: 1.5em;
}

.password-parent {
  width: 36em;
}

/**
 * 8.COMMENTS
 */

#comments {
  clear: both;
  margin: 4.5em 0 0 1.2em;
}

#comments h2.title {
  border-bottom: 1px dotted #CCC;
  padding-bottom: 5px;
  margin-bottom: 5px;
  font-size: 1.8em;
}

#comments footer {
  text-align: right;
  background: none;
}

#comments .user-picture {
  float: left;
  border-radius: 0 0 0 1em;
  box-shadow: 4px 0 4px rgba(0, 0, 0, 0.1);
  float: left;
  margin: 3px 20px 0 2px;
  /*padding: 5px;*/
}

.comment {
  margin-bottom: 1.5em;
  border: 1px solid #E6E6E6;
  padding: 10px;
  background: #CEE6DB;
}

.comment .new {
  color: red;
  text-transform: capitalize;
  margin-left: 1em;
}

.comment .submitted {
  font: 11px "Lucida Grande",Arial,"Lucida Sans Unicode",sans-serif ;
  color:#999;
}

.comment .submitted .username, .comment .submitted .username a {
  font: 150% "Trebuchet MS", Arial, Helvetica, sans-serif;
  /*color:#111;*/
}

.comment .submitted .username a:hover {
  color:#EF4E81;
}

.comment-body {
    border-top: 1px solid #E6E6E6;
    padding-top: 10px;
}

/**
 * 9.BLOCKS
 */

.block {
  margin-bottom: 1.5em;
}
 

/**
 * 10.FOOTER
 */

#footer {
  clear: both;
  /*padding: 1.5em 0;*/
  position: relative;
}
#footer a {
  color:#000;
}
#footer a:hover {
  color:#900;
}

#footer a.feed-icon {
}

#footer #footer-wrapper .block-menu {
	font-size: 11.5px;
    padding: 1.8em 0.8em 0em 0;
}

#footer #footer-wrapper .block {
	margin-bottom: 0;
	text-align: center;
	float: left;
}


#footer #footer-wrapper ul.menu {
	text-align: center;
	padding: 0em 0 1.25em 0em;
	
}
#footer #footer-wrapper ul.menu li {
    display: inline;
    margin: 0;
    padding: 0 0.5em;
    white-space: nowrap;
}

#footer #footer-wrapper ul.menu li.first {
    border: medium none;
}

#footer #footer-wrapper a {
}

#footer #footer-wrapper a:hover {
    text-decoration: none;
}
.footerMessage {
    font-size: 11px;
    margin: 0 0 -54px 145px;
    padding: 16px 0;
    width: 60%;
}

/**
 * 11.CSS SUPPORT
 *
 * Built-in classes:
 * .clearfix                            | contain floats
 * .element-invisible                   | hide element visually
 * .element-invisible.element-focusable | allow element to be focusable when navigated to via keyboard
 * .element-hidden                      | hide visually and from screenreaders
 */
 
/* clear floats */
.clear { clear: both; }

/* display block */
.display-block { display: block; }

/*
Fix clearing issues as per: nicolasgallagher.com/micro-clearfix-hack/
*/ 

/* For modern browsers */
.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}

.clearfix:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.clearfix {
    *zoom:1;
}


/**
 * 11.BUTTONS
 */

/* Buttons */
input.form-button,
input.form-submit, input.submit  {
  cursor: pointer;
  color: #ffffff;
  border: none;
  margin: 4px 2px 4px 0;
  background-color: #9fc28c;
  font-size: 1qpx;
  font-weight: 700;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  padding: 4px 6px;
  text-transform: uppercase;
}
input.form-button:hover,
input.form-submit:hover,
input.form-button:focus,
input.form-submit:focus {
  background-color: #b9d9a7;
}
/* Disabled inputs */
input[disabled="disabled"] {
  background-color: #eaeaea;
}
/* Higlight required form item if user has forgotten to fill it */
input.error,
textarea.error,
select.error {
  background-color: #feece3;
  border: 1px solid #e5170a;
}
input.error:focus,
textarea.error:focus,
select.error:focus {
  background-color: #fef7f5;
  border: 1px solid #d43308!important;
}
/* Contact Form */
fieldset {
  margin: 10px 0;
  padding: 5px;
  border-top: 1px solid #CCC;
}
legend {
  padding-right: 7px;
  font-size: 13px;
  font-weight: 700;
}
.form-item {
  margin-bottom: 2em;
  margin-top: 2em;
}
.form-item .description {
  margin-top: 6px;
  font-size: 12px;
  font-style: normal;
  opacity: 0.8
}
label {
  vertical-align: middle;
  display: block;
  color: #333;
  font-size: 12px;
  margin-bottom: 2px;
}
label.option {
  display: inline;
}
span.form-required {
  font-weight: 700;
  color: #EF4E81;
}

/* Search Form */

.block-search {
    background: transparent;
    clear: both;
    float: right !important;
    height: auto;
    margin: 0;
    position: absolute;
    right: 0px;
    top: 216px;
    width: 235px;
}
.block-search h2 {
  display: none;
}
#block-search-form input.form-submit {
   background-color: transparent;
   background: url(../images/spacer.gif) center;
	height: 37px;
	width: 40px;
	border: none;
	margin-left: 2px;
	text-indent: -999%;
	line-height: 1px;
	margin-top: -20px;
	cursor: pointer;
}
#block-search-form input.form-text, #block-search-form input.form-text:focus,
#block-search-form input.form-password:focus,
#block-search-form input.form-file:focus,
#block-search-form textarea:focus {
  max-width: 130px;
  background-color: transparent !important;
  border: none;
  height: 28px;
  float: left;
  outline: none;
  -webkit-appearance: none;
  -webkit-box-sizing: content-box;
}
#block-search-form input[type="text"] {
  background-color: transparent;
}

/* Text inputs */
input.form-text,
input.form-password,
input.form-file,
textarea {
  padding: 5px;
  color: #404040;
  border: 1px solid #ccc;
  background-color: #f7f8f9;
  /*-moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  box-sizing: border-box;*/
}
input.form-text:focus,
input.form-password:focus,
input.form-file:focus,
textarea:focus {
  border: 1px solid #ddd;
  background-color: #ffffff;
}
input.form-text,
input.form-password,
input.form-file {
  width: 100%;
  max-width: 320px;
}
textarea {
  width: 100%;
  height: 230px;
  resize: none;
}
/* Choice inputs */
select {
  padding: 4px;
}
.form-radios,
.form-checkboxes {
  margin: 3px 0;
}
.form-item-choice,
.form-item.form-type-radio,
.form-item.form-type-checkbox {
  margin: 4px 0;
}
input.form-checkbox,
input.form-radio {
  display: inline;
  vertical-align: middle;
  margin: 0 3px 0 0;
}


/* Gallery Pager */
.item-list .pager li {
	/*background: #eee;*/
	display:inline;
	list-style-type:none;
	font-weight: bold;
	padding: 0.2em 0.4em;
	border: 1px solid #ddd;
}
.pager li :hover{
	/*background:#FF3399;*/
	color: #EF4E81;
}
.item-list ul li {
	list-style-image:none;
	list-style-position:outside;
	margin:0 0 0.25em 0.2em;
	padding:0;
	color: #DD86C8;
}
#main .item-list {
	padding: 0 0 24px;
}

/* Webforms */

.node-type-webform .form-item label {
    font-size: 1em;
	font-weight: bold;
}

.node-type-webform input.form-text, .node-type-webform input.form-password, .node-type-webform input.form-file, .node-type-webform textarea {
    padding: 4px;
}

.form-item .description {
    font-size: 0.85em;
	font-style:italic;
}


.quote-msg {
    background: url(../images/quotemark.png) no-repeat #F6F6F6;
    border: 1px dotted #DDDDDD;
    font-style: italic;
    margin: 1em 2em;
    padding: 1em 1em 1em 3em;
}
.quote-author {
    display: block;
    font-weight: bold;
    margin: 0 0 1em;
}


/* Blog Page */

.field-name-field-blog-image {
}
.node-teaser .field-name-field-blog-image img {
   	float: left;
    margin-bottom: 0.2em;
    margin-right: 1em;
    margin-top: 1em;
    padding: 4px;
}
.field-name-field-blog-image img {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #DDD;
    border-style: solid;
    border-width: 1px;
    padding: 3px;
	float: left;
    margin-bottom: 0em;
    margin-top: 0em;
}
.node-type-blog .field-name-field-blog-image img {
   	margin-bottom: 1em;
}

.field-name-field-blog-image img:hover{
  border:1px solid #CCC;
}

.node .links {
    font-size: 12px;
    margin: 0;
    padding: 0 0 0.35em;
	display:block;
}
footer ul.inline {
}
ul.inline, ul.links.inline {
    display: block;
	margin-bottom: 6px;
	font-size: 12px;
	margin-left: 5px;
}

#main .submitted {
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 5px;
    padding-bottom: 2px;
	margin-left: 5px;
}
#main .content {
	margin-top: 1em;
	padding: 10px 10px 0;
}


body.page-blog .node {
	margin-left: 1em;
	margin-bottom: 3em;
}

.comment-comments a {
    background: url(../icons/comment.png) no-repeat 0 50% transparent;
    display: inline;
    padding-left: 20px;
	padding-bottom:5px;
}
.comment-add a, .comment-reply a {
    background: url(../icons/comment_add.png) no-repeat 0 50% transparent;
    display: inline;
    padding-left: 20px;
	padding-bottom:5px;
}
.blog_usernames_blog a{
    background: url(../icons/user_comment.png) no-repeat 0 50% transparent;
    display: inline;
    padding-left: 20px;
	padding-bottom:5px;
}
.node-readmore a {
    background: url(../icons/page_white_go.png) no-repeat 0 50% transparent;
    display: inline;
    padding-left: 20px;
	padding-bottom:5px;
}
.comment-delete a
{
	background:url(../icons/comment_delete.png) no-repeat;
	padding-bottom:5px;
	padding-left:20px;
}

.comment-edit a
{
	background:url(../icons/comment_edit.png) no-repeat;
	padding-bottom:5px;
	padding-left:20px;
}

.field-type-taxonomy-term-reference {
    background: url(../icons/tag_red.png) no-repeat 0 50% transparent;
    padding-left: 20px;
	padding-right: 5px;
	padding-bottom: 0px;
	margin-bottom: 14px;
	margin-left: 4px;
}


/* Diverse*/
#comments footer ul.inline, #comments .node-type-blog footer ul.inline {
    background: none;
    clear: both;
	text-shadow: 0px 0px;
}

.submitted .username {
	color:#000;
}

element.style {
    display: block;
    float: left;
}
#cboxTitle {
	color: #CC0099;
}
