
body.page-admin-help-inspect p.admin-help-module-inspect-paragraph {
  margin: 0.2em 0 0.5em;
  line-height: 1.5em;
}
body.page-admin-help-inspect div.admin-help-module-inspect-pane-first,
    body.page-admin-help-inspect div.admin-help-module-inspect-pane-second {
  display: inline-block;
  vertical-align: top;
  padding-bottom: 20px;
}
body.page-admin-help-inspect div.admin-help-module-inspect-pane-first  {
  min-width: 400px;
  max-width: 600px;
  padding-right: 5%;
}
body.page-admin-help-inspect div.admin-help-module-inspect-pane-second  {
  max-width: 500px;
}

body.page-admin-config-development-inspect form#inspect-admin-form div.form-type-checkbox label.option {
  font-size: 1em;
  font-weight: bold;
  padding-left: 0.2em;
}
body.page-admin-config-development-inspect form#inspect-admin-form div#edit-actions {
  margin-top: 3em;
}
body.page-admin-config-development-inspect form#inspect-admin-form input#edit-inspect-output-max,
body.page-admin-config-development-inspect form#inspect-admin-form input#edit-inspect-exectime-percent,
body.page-admin-config-development-inspect form#inspect-admin-form input#edit-inspect-truncate,
body.page-admin-config-development-inspect form#inspect-admin-form input#edit-inspect-trace-limit {
  text-align: right;
}
body.page-admin-config-development-inspect form#inspect-admin-form div.form-item.form-type-textfield {
  margin-bottom: 0;
}
body.page-admin-config-development-inspect form#inspect-admin-form div.form-item.form-type-checkbox {
  margin: 0.5em 0 1.5em;
}
body.page-admin-config-development-inspect h4, body.page-admin-help-inspect h4 {
  font-size: 1.08em;
  margin: 10px 0 5px;
}
body.page-admin-config-development-inspect h5, body.page-admin-help-inspect h5 {
  font-size: 1.04em;
  margin: 10px 0 3px;
}
body.page-admin-config-development-inspect span.code, body.page-admin-help-inspect span.code {
  font-family: Menlo, Consolas, "Andale Mono", "Lucida Console", "Nimbus Mono L", "DejaVu Sans Mono", monospace, "Courier New";
  color: #0000C0;
  font-size: 1.05em;
}
body.page-admin-config-development-inspect span.code.emph, body.page-admin-help-inspect span.code.emph {
  font-weight: bold;
}
body.page-admin-config-development-inspect span.code.weak, body.page-admin-help-inspect span.code.weak {
  color: #333;
}

body.page-admin-config-development-inspect fieldset#edit-permissions {
  padding-top: 1.3em;
}
