div.item-list ul.fbphoto-album {
  margin: 0;
  padding: 0;
}

div.item-list ul.fbphoto-album li {
  float: left;
  list-style: none outside none;
  border: 1px solid #CCC;
  padding: 3px;
  margin-right: 5px;
  margin-bottom: 10px;
  background-color: #EEE;
}

div.item-list ul.fbphoto-album li div {
  height: 206px;
  width: 206px;
  overflow: hidden;
  background-position: 50% 25%;
}

div.fbphoto-photo {
  border: 1px solid #CCC;
  padding: 4px;
  width: 540px;
  background-color: #EEE;
  margin-bottom: 15px;
}

div.fbphoto-photo div.caption {
  font-style: italic;
}
