a,
a:visited {
  color: #0071B3;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#header:before {
  border: none;
  background-color: #48A9E4;
  background-image: -moz-linear-gradient(center top , #0779BF 0%, #48A9E4 100%);
}
#header {
  color: #FFF;
}
#header a {
  color: #FFF;
}
#featured:before {
  background: #F6F6F2;
  border-bottom: 1px solid #E7E7E7;
}
#featured {
  line-height: 1.4;
}
#sidebar .block {
  background-color: #F6F6F2;
  border-color: #F9F9F9;
  padding: 1em;
}
#footer:before {
  background: none repeat scroll 0 0 #292929;
}
#footer {
  color: #FFF;
}
#footer a{
  background: none repeat scroll 0 0 #292929;
  color: #FFF;
}
#main-menu {
  clear: both;
  padding-top: 1em;
}
#main-menu li {
  float: left;
  list-style: none outside none;
  margin: 0 1px;
  padding: 0 1px;
}
#main-menu li a.active,
#main-menu li.active-trail a {
  background: none repeat scroll 0 0 #FFF;
}
#main-menu li a {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #333;
  float: left;
  height: 2em;
  line-height: 2.1em;
  padding: 0 0.6em;
  text-decoration: none;
  text-shadow: 0 1px #EEE;
}

/* Buttons */
a.button,
.form-submit{
  background: #FFF url(buttons.png) 0 0 repeat-x;
  border: 1px solid #E4E4E4;
  border-bottom: 1px solid #B4B4B4;
  border-left-color: #D2D2D2;
  border-right-color: #D2D2D2;
  color: #3A3A3A;
  cursor: pointer;
  font-size: 0.929em;
  font-weight: normal;
  text-align: center;
  margin-bottom: 1em;
  margin-right: 0.6em; /* LTR */
  padding: 4px 17px;
  border-radius: 15px;
  box-shadow: none;
}
a.button:hover,
.form-submit:hover {
  text-decoration: none;
  color: #5A5A5A;
  background: #DEDEDE;
  border-color: #E4E4E4 #D2D2D2 #B4B4B4;
}