@media screen and (max-width: 1152px) {

  #wrapper {
    max-width:960px;
  }
  #top-area .column:last-child{
    margin-right: 0;
  }
  #copyright{
    padding: 0 3%;
  }
}

@media screen and (max-width: 960px) {

  #main-menu a{
    padding: 13px 17px;
  }
  .content-sidebar-wrap,
  #content,
  #sidebar-first,
  #sidebar-second {
    float:none;
    width:100% !important;
  }
  
  #sidebar-first {
    clear:both;
  }
  
  #sidebar-first,
  #sidebar-second,
  #head,
  #foot {
    padding:0 3.52%;
  }
  
}

@media screen and (max-width: 640px) {

  /*remove*/

  #logo{
    margin: 13px 10px;
  }
  #copyright{
    padding: 0 3.52%;
  }

  body { margin-top: 0; }

  #sticky_header{
    display: none !important;
  }
  
  .nivo-caption {
    bottom: 0%;
    padding: 5px;
    font-size: 11px;
    line-height: 15px;
    margin: 0;
    width: 100%;
  }

  .front .content-sidebar-wrap{
    margin: 0;
  }

  .theme-default .nivo-controlNav{
    padding-top: 10px;
  }

  .nivo-caption h3{
    font-size: 14px;
    margin: 0;
  }

  .region-front-welcome{
    padding: 10px;
  }

  #site-title,
  #site-description {
    /*float:none;*/
    margin:0;  
    line-height:1.62em;
  }
  
  #site-title {
    padding-top:18px;
  }
  
  #site-description {
    padding-bottom:18px;
  }

  #main-menu ul {
    display:none;
  }
  
  #main-menu li ul {
    position:static;
  }
  
  #main-menu li ul ul {
    margin:0 !important;
  }
  
  #main-menu ul,
  #main-menu li {
    float:none;
    max-width:100%;
  }
  
  #main-menu a {
    width:100%;
    padding:8px 0;
    background:#444;
    color: #fff;
    background: #141b21;
    border-bottom: 1px solid #1e262d;
  }
  #main-menu a:hover, #main-menu li a.active{
    background: rgb(20, 27, 33);
  }
  #main-menu li li a {
    text-align:center;
  }
  
  #main-menu li li li a {
    background: rgb(47, 61, 71);
    border-top-color:#7f7f7f;
  }
  
  #main-menu a:hover {
    background:#1e262d;
  }
  
  #main-menu li:hover > ul,
  #main-menu li li:hover > ul,
  #main-menu li li li:hover > ul {
    display:none;
  }
  
  .drop-down-toggle {
    display:block;
  }
  
  #main-menu li li .drop-down-toggle {
    top:5px;
  }

  #main-menu .nav-toggle {
    display:block;
    font-size:13px;
    font-weight:bold;
  }
  
  #slider .entry-container {
    position:absolute;
    left:4%;
    bottom:6.3%;
  }
  
  #slider .entry-header,
  #slider .entry-summary {
    margin:0;
  }
  
  #slider .entry-title {
    margin-bottom: 0;
  }
  
  #slider .entry-title a,
  #slider .entry-summary{
    display:inline-block;
    padding:1% 3%;
    background:rgba(255, 255, 255, 0.75);
  }
  
  #slider .entry-summary {
    max-width:61.8%;
  }
  
  #slider .entry-summary p {
    max-height:84px;
    overflow:hidden;
  }
  
  #slider .slide-image {
    float:none;
    display:block;
    max-width:100%;
    padding:0;
    margin:0;
    box-shadow:none;
  }

  .content-sidebar-wrap,
  #sidebar-first,
  #sidebar-second {
    float:none;
    width:auto;
  }

  .content-sidebar-wrap #content {
    float: left;
    width:auto;
  }
  
  #sidebar-first .block,
  #sidebar-second .block,
  #footer-area .column,
  #top-area .column {
    float:none;
    width:auto !important;
    margin-left:0;
  }
  
  #sidebar-first {
    clear:both;
  }
  
  #footer-area .column,
  #top-area .column {
    margin:10px;
  }
  #top-area .column:first-child,
  #footer-area .column:first-child{
    margin: 10px;
  }
  
  .copyright,
  .credits {
    float:none;
    text-align:left;
  }


  @media screen and (max-width: 440px) {

    input.form-text, select.form-select {
      width: 93%;
    }

    textarea.form-textarea {
      width: 100%
    }

  .block > h2 {
    font-size: 18px;
  }
  #top-area h2{
    font-size: 14px;
  }
  #copyright{
    padding: 0 3.52%;
  }
  .social-icons {
    position: absolute;
    top: 0;
    border: 0;
  }
  #logo{
    margin: 8px 0;
    text-align: center;
  }
   #logo img{
    max-width: 85%;
    text-align: center;
  }
  #site-title{
    font-size: 18px;
    display: inline-block;
    margin: 10px 0 0 0;
    padding: 0;
  }
  #site-description{
    padding-bottom: 5px;
    font-size: 10px;
  }
  .social-icons li{
    padding: 0px 3px;
    text-align: center;
  }
  .social-icons li img{
    max-width: 70%;
    display: inline-block;
  }
  .menu_wrapper{
    margin-top: 10px;
  }
  .nivo-caption{
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}