/* layout only */
a#main-content {
  font-size: 1px;
  line-height: .01em;
  margin: 0;
  padding: 0;
}
#page {
  position: relative;
}
#main {
  margin-top: 20px;
}
#content {
  width: 700px; /* width equals 2 .block widths + margins + paddings */
  float: left;
  clear: left;
  margin-right: 20px;
  line-height: 1.4em;
}
#content .block {
  margin-bottom: 20px;
  width: auto;
  padding: 20px;
}
a#logo {
  float: left;
}
#name-and-slogan {
  float: left;
  padding: 20px;
}
#site-name, h1#site-name {
  margin-bottom: 0;
}
#site-slogan {
  clear: left;
}
#search-block-form {
  width: 300px;
  float: left;
  padding: 40px 20px 0 20px;
}

.sidebar .block {
  position: relative;
  width: 300px; /* 2 blocks + all margins + paddings = #content */
  height: 250px; /* blocks are set at fixed height to allow for clean floats - adjust to the needs of your content */
  overflow: hidden;
  float: left;
  padding: 20px;
  margin: 0 20px 20px 0;
  line-height: 1em;
}

#navigation {
  position: absolute;
  top: 20px;
  right: 15%;
}
#secondary-menu {
  margin-top: 1em;
}
.node {
  margin-bottom: 2em;
}