@charset "UTF-8";
body {
	background-color: #FFF;
	font-size: 11px;
}
#print-friendly-doc-body {
	border-top:  #999999 thin solid;
  border-bottom:  #999999 thin solid;
	min-height: 300px;
	padding: 10px;
	margin: 20px;
}
#print-friendly-footer {
	padding: 10px;
	margin: 20px;
	text-align:center;
}
#print-friendly-logo {
	padding: 0px 20px 0 20px;
  float: left;
}
#print-friendly-close {
	text-align: right;
	margin: 20px 20px 0;
}
.contextual-links-wrapper,
.print-anything-link {
    display: none;
}
.clearfix:after {
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
.clearfix {display:inline-block;}
/* Hide from IE Mac \*/
.clearfix {display:block;}
/* End hide from IE Mac */