/**
 * @file
 * Custom styles for Circle theme.
 */

/* Drupal messages. */
div.messages {
  border: 1px #ccc solid;
  padding: 5px;
  margin: 5px 5px 10px;
  background: #fff;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  color: #333;
  font-size: 14px;
  padding-left: 40px;
}
.messages ul {
  margin: 5px 0;
  padding-left: 25px;
}
.messages pre {
  margin: 0;
}
.messages.status {
  background-color: #f8fff0;
  border: 1px #be7 solid;
}
.messages.warning {
  border-color: #ed5;
  background-color: #fffce5;
  padding: 15px 20px 15px 40px;
  line-height: 1.5em;
}
