//
// Styles for main layout
// --------------------------------------------------

// Container
// --------------------------------------------------
.container {
  max-width: 970px !important; // Change this to make site wider or smaller.
}

body {
  .jumbotron {
    padding: 20px 0;
    margin-bottom: 0;
    h1 {
      margin-top: 0;
    }
    @media screen and (min-width: 768px) {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
  .sidebar {
    @media (max-width: $screen-md-min) {
      display: none;
    }
  }
  #main-wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
