/* Armor */
.field-type-dnd-fields-armor {
  display: inline-block;
  width: 100%;
}
  .dnd-fields-armor-field {
    float: left;
    margin: 0 10px 0 0;
    width: 55px;
  }
    .field-type-dnd-fields-armor .dnd-fields-armor-field label {
      display: table-cell;
      font-weight: normal;
      font-size: 12px;
      height: 30px;
      line-height: 1;
      padding: 0 0 2px;
      vertical-align: bottom;
      white-space: pre-wrap;
      width: 55px;
    }

  .field-type-dnd-fields-armor .dnd-fields-armor-armor-field {
    width: 220px;
  }
    .field-type-dnd-fields-armor .dnd-fields-armor-armor-field label {
      width: 220px;
    }

/* Skills */
.field-type-dnd-fields-skill {
  display: inline-block;
  width: 100%;
}
  .dnd-fields-skill-field {
    float: left;
    margin: 0 10px 0 0;
  }
    .dnd-fields-skill-ranks-field .form-text {
      width: 52px;
    }
    .dnd-fields-skill-field label {
      font-weight: normal;
      font-size: 12px;
      padding: 0 0 2px;
    }
    .dnd-fields-skill-ranks-field .form-item .description {
      width: 200px;
      display: none;
    }

/* Ability */
.field-type-dnd-fields-ability {
  display: inline-block;
  width: 100%;
}
  .dnd-fields-ability-field {
    float: left;
    margin: 0 10px 0 0;
    width: 55px;
  }
    .field-type-dnd-fields-ability .dnd-fields-ability-field label {
      display: table-cell;
      font-weight: normal;
      font-size: 12px;
      height: 30px;
      line-height: 1;
      padding: 0 0 2px;
      vertical-align: bottom;
      white-space: pre-wrap;
      width: 55px;
    }
  .field-type-dnd-fields-ability .dnd-fields-ability-ability-field {
    width: 100px;
  }
    .field-type-dnd-fields-ability .dnd-fields-ability-ability-field label {
      width: 100px;
    }

/* Saving throws */
.field-type-dnd-fields-save {
  display: inline-block;
  width: 100%;
}
  .dnd-fields-save-field {
    float: left;
    margin: 0 10px 0 0;
    width: 55px;
  }
    .field-type-dnd-fields-save .dnd-fields-save-field label {
      display: table-cell;
      font-weight: normal;
      font-size: 12px;
      height: 30px;
      line-height: 1;
      padding: 0 0 2px;
      vertical-align: bottom;
      white-space: pre-wrap;
      width: 55px;
    }
  .field-type-dnd-fields-save .dnd-fields-save-save-field {
    width: 100px;
  }
    .field-type-dnd-fields-save .dnd-fields-save-save-field label {
      width: 100px;
    }

/* Weapons */
.field-type-dnd-fields-weapon {
  display: inline-block;
  width: 100%;
}
  .dnd-fields-weapon-field {
    float: left;
    margin: 0 10px 0 0;
    width: 55px;
  }
    .field-type-dnd-fields-weapon .dnd-fields-weapon-field label {
      display: table-cell;
      font-weight: normal;
      font-size: 12px;
      height: 30px;
      line-height: 1;
      padding: 0 0 2px;
      vertical-align: bottom;
      white-space: pre-wrap;
      width: 55px;
    }
  .field-type-dnd-fields-weapon .dnd-fields-weapon-weapon-field {
    width: 220px;
  }
    .field-type-dnd-fields-weapon .dnd-fields-weapon-weapon-field label {
      width: 220px;
    }
  .field-type-dnd-fields-weapon .dnd-fields-weapon-notes-field {
    width: 280px;
  }
    .field-type-dnd-fields-weapon .dnd-fields-weapon-notes-field label {
      width: 280px;
    }

/* Class and level */
.field-type-dnd-fields-class {
  display: inline-block;
  width: 100%;
}
  .dnd-fields-class-field {
    float: left;
    margin: 0 10px 0 0;
    
  }