
/**
 * Some sensible default styles.
 */

/**
 * Make titles stand out a little.
 */
.panels-style-table-title {
  font-weight: bold;
}

/**
 * Make the title column a little smaller than the content column.
 *
 * Title cell width  : 1 / ((columns * 2) + 1)
 * Content cell width: (1 / columns) - title cell width
 */
.panels-style-table-columns-1 .panels-style-table-title {
  width: 33%;
}
.panels-style-table-show-title.panels-style-table-columns-1 .panels-style-table-content {
  width: 66%;
}
/* Columns: 2 */
.panels-style-table-columns-2 .panels-style-table-title {
  width: 20%;
}
.panels-style-table-show-title.panels-style-table-columns-2 .panels-style-table-content {
  width: 30%;
}
/* Columns: 3 */
.panels-style-table-columns-3 .panels-style-table-title {
  width: 14%;
}
.panels-style-table-show-title.panels-style-table-columns-3 .panels-style-table-content {
  width: 19%;
}
/* Columns: 4 */
.panels-style-table-columns-4 .panels-style-table-title {
  width: 11%;
}
.panels-style-table-show-title.panels-style-table-columns-4 .panels-style-table-content {
  width: 14%;
}
/* Columns: 5 */
.panels-style-table-columns-5 .panels-style-table-title {
  width: 9%;
}
.panels-style-table-show-title.panels-style-table-columns-5 .panels-style-table-content {
  width: 11%;
}

