/**
 *  @file
 *  Header Region Styles
 */
.top-bar
  overflow: hidden
  background: $background-top-bar
.site-header
  background: $background-header
  min-height: 75px
  #name-slogan
    position: absolute
    bottom: 10px
    .site-name
      h1
        margin: 0
        font-family: $title
      a
        color: $color-site-name
    .site-slogan
      color: $color-site-slogan
#site-logo img
  max-width: 100%
