#savetoftp_publish_button, #savetoftp_unpublish_button {
  cursor: pointer;
  padding: 4px 17px;
  margin-bottom: 1em;
  margin-right: 1em;
  color: #5A5A5A;
  text-align: center;
  font-weight: normal;
  font-size: 1.077em;
  font-family: "Lucida Grande", Verdana, sans-serif;
  border: 1px solid #E4E4E4;
  border-bottom: 1px solid #B4B4B4;
  border-left-color: #D2D2D2;
  border-right-color: #D2D2D2;
  background: url(buttons.png) 0 0 repeat-x;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

#savetoftp-publish-form input {
  margin: 2.5px;
}
