@charset "UTF-8";

.image-style-access-overview-simulate .form-item,
.image-style-access-overview-simulate .form-submit {
  display: inline-block;
  margin-right: 1em;
}

.image-style-access-target {
  font-family: monospace;
  font-size: 130%;
}

.image-style-access-action {
  font-weight: bold;
}
.image-style-access-allow {
  color: #1a1;
}
.image-style-access-deny {
  color: #c11;
}

ul.image-style-access-operations {
  list-style: none;
  display: inline;
  margin: 0;
}
ul.image-style-access-operations li {
  display: inline;
  margin: 0 0.5em;
}
