
.node-registration .cancelled.n,
.node-registration .waitinglist.n,
.node-registration .attended.y,
.node-registration .verified.y,
.node-registration .registration-status.enabled,
.node-registration .enabled .registration-status {
  color: green;
}

.node-registration .cancelled.y,
.node-registration .waitinglist.y,
.node-registration .attended.n,
.node-registration .verified.n,
.node-registration .registration-status.disabled,
.node-registration .disabled .registration-status {
  color: red;
}

.node-registration .cancelled > a,
.node-registration .attended > a,
.node-registration .verified > a {
  color: inherit;
}
