.node_accessibility_statistics-plot-wrapper {
  display: inline-block;
  vertical-align: top;

  margin: 6px;
}

.node_accessibility_statistics-plot-title {
  font-size: 1.6em;
  font-weight: bold;
}

.node_accessibility_statistics-plot-row-name {
  padding-right: 3px;
}

.node_accessibility_statistics-plot-row-name:after {
  content: ':';
}

.node_accessibility_statistics-plot-total-name {
  font-weight: bold;
}

.node_accessibility_statistics-plot-total-name:after {
  content: ':';
}

.node_accessibility_statistics-problem_details-wrapper {
  margin: 10px 0;
}

.node_accessibility_statistics-problem_details-explanation-title:after {
  content: ':';
}

.node_accessibility_statistics-problem_details-explanation-markup {
  background-color: #fffec6;
  border: 1px dotted;
  margin: 5px;
  padding: 10px;

  page-break-inside: avoid;
}

.node_accessibility_statistics-problem_details-wrapper {
  background-color: #efefef;
  border: 1px solid #cfcfcf;
  padding: 5px;

  page-break-inside: avoid;
}

.node_accessibility_statistics-problem_details-title {
  background-color: #cfcfcf;
  padding: 2px 3px;
}

.node_accessibility_statistics-problem_details-severity-name {
  font-weight: bold;
}

.node_accessibility_statistics-problem_details-total-problems {
  font-weight: bold;
}
