/**
 * @file
 * CSS file for the craft widget included with halfstar.
 *
 * As there are 10 different stars each with custom CSS we have to make changes
 * to each individually.
 */

/* Craft widget */
.halfstar.fivestar-craft .star.even,
.halfstar.fivestar-craft .star.even a {
  background-position: -4px -62px;
}
.halfstar.fivestar-craft div.star-1.odd,
.halfstar.fivestar-craft div.star-1.odd a,
.halfstar .fivestar-craft .star-1.star-odd,
.halfstar .fivestar-craft .star-1.star-odd span.on {
  width: 4px !important;
  background-image: url(../../fivestar/widgets/craft/craft-01.png);
}
.halfstar.fivestar-craft div.star-2.even,
.halfstar.fivestar-craft div.star-2.even a,
.halfstar .fivestar-craft .star-2.star-even,
.halfstar .fivestar-craft .star-2.star-even span.on,
.halfstar .fivestar-craft .star-2.star-even span.off {
  width: 4px !important;
  background-image: url(../../fivestar/widgets/craft/craft-01.png);
  background-position: -4px -62px !important;
}
.halfstar.fivestar-craft div.star-2.even.hover,
.halfstar.fivestar-craft div.star-2.even.hover a,
.halfstar.fivestar-craft div.star-2.even.on.hover a {
  background-position: -4px -31px !important;
}
.halfstar .fivestar-craft .star-2.star-even span.on,
.halfstar.fivestar-craft div.star-2.even.on,
.halfstar.fivestar-craft div.star-2.even.on a {
  background-position: -4px 0 !important;
}
.halfstar.fivestar-craft div.star-3.odd,
.halfstar.fivestar-craft div.star-3.odd a,
.halfstar .fivestar-craft .star-3.star-odd,
.halfstar .fivestar-craft .star-3.star-odd span.on {
  width: 4px !important;
  background-image: url(../../fivestar/widgets/craft/craft-02.png);
}
.halfstar.fivestar-craft div.star-4.even,
.halfstar.fivestar-craft div.star-4.even a,
.halfstar .fivestar-craft .star-4.star-even,
.halfstar .fivestar-craft .star-4.star-even span.on,
.halfstar .fivestar-craft .star-4.star-even span.off {
  background-image: url("../../fivestar/widgets/craft/craft-02.png");
  background-position: -4px -62px !important;
  width: 5px !important;
}
.halfstar.fivestar-craft div.star-4.even.hover,
.halfstar.fivestar-craft div.star-4.even.hover a,
.halfstar.fivestar-craft div.star-4.even.on.hover a {
  background-position: -4px -31px !important;
}
.halfstar .fivestar-craft .star-4.star-even span.on,
.halfstar.fivestar-craft div.star-4.even.on,
.halfstar.fivestar-craft div.star-4.even.on a {
  background-position: -4px 0 !important;
}
.halfstar.fivestar-craft div.star-5.odd,
.halfstar.fivestar-craft div.star-5.odd a,
.halfstar .fivestar-craft .star-5.star-odd,
.halfstar .fivestar-craft .star-5.star-odd span.on {
  width: 5px !important;
  background-image: url(../../fivestar/widgets/craft/craft-03.png);
}
.halfstar.fivestar-craft div.star-6.even,
.halfstar.fivestar-craft div.star-6.even a,
.halfstar .fivestar-craft .star-6.star-even,
.halfstar .fivestar-craft .star-6.star-even span.on,
.halfstar .fivestar-craft .star-6.star-even span.off {
  width: 4px !important;
  background-position: -5px -62px !important;
  background-image: url(../../fivestar/widgets/craft/craft-03.png);
}
.halfstar.fivestar-craft div.star-6.even.hover,
.halfstar.fivestar-craft div.star-6.even.hover a,
.halfstar.fivestar-craft div.star-6.even.on.hover a {
  background-position: -4px -31px !important;
}
.halfstar .fivestar-craft .star-6.star-even span.on,
.halfstar.fivestar-craft div.star-6.even.on,
.halfstar.fivestar-craft div.star-6.even.on a {
  background-position: -5px 0 !important;
}
.halfstar.fivestar-craft div.star-7.odd,
.halfstar.fivestar-craft div.star-7.odd a,
.halfstar .fivestar-craft .star-7.star-odd,
.halfstar .fivestar-craft .star-7.star-odd span.on {
  width: 5px !important;
  background-image: url(../../fivestar/widgets/craft/craft-04.png);
}
.halfstar.fivestar-craft div.star-8.even,
.halfstar.fivestar-craft div.star-8.even a,
.halfstar .fivestar-craft .star-8.star-even,
.halfstar .fivestar-craft .star-8.star-even span.on,
.halfstar .fivestar-craft .star-8.star-even span.off {
  background-image: url("../../fivestar/widgets/craft/craft-04.png");
  background-position: -5px -62px !important;
  width: 5px !important;
}
.halfstar.fivestar-craft div.star-8.even.hover,
.halfstar.fivestar-craft div.star-8.even.hover a,
.halfstar.fivestar-craft div.star-8.even.on.hover a {
  background-position: -5px -31px !important;
}
.halfstar .fivestar-craft .star-8.star-even span.on,
.halfstar.fivestar-craft div.star-8.even.on,
.halfstar.fivestar-craft div.star-8.even.on a {
  background-position: -5px 0 !important;
}
.halfstar.fivestar-craft div.star-9.odd,
.halfstar.fivestar-craft div.star-9.odd a,
.halfstar .fivestar-craft .star-9.star-odd,
.halfstar .fivestar-craft .star-9.star-odd span.on {
  width: 5px !important;
  background-image: url(../../fivestar/widgets/craft/craft-05.png);
}
.halfstar.fivestar-craft div.star-10.even,
.halfstar.fivestar-craft div.star-10.even a,
.halfstar .fivestar-craft .star-10.star-even,
.halfstar .fivestar-craft .star-10.star-even span.on,
.halfstar .fivestar-craft .star-10.star-even span.off {
  width: 5px !important;
  background-position: -5px -62px !important;
  background-image: url(../../fivestar/widgets/craft/craft-05.png);
}
.halfstar.fivestar-craft div.star-10.even.hover,
.halfstar.fivestar-craft div.star-10.even.hover a,
.halfstar.fivestar-craft div.star-10.even.on.hover a {
  background-position: -5px -31px !important;
}
.halfstar .fivestar-craft .star-10.star-even span.on,
.halfstar.fivestar-craft div.star-10.even.on,
.halfstar.fivestar-craft div.star-10.even.on a {
  background-position: -5px 0 !important;
}
.halfstar.fivestar-craft div.star-11.odd,
.halfstar.fivestar-craft div.star-11.odd a,
.halfstar .fivestar-craft .star-11.star-odd,
.halfstar .fivestar-craft .star-11.star-odd span.on {
  width: 6px !important;
  background-image: url(../../fivestar/widgets/craft/craft-06.png);
}
.halfstar.fivestar-craft div.star-12.even,
.halfstar.fivestar-craft div.star-12.even a,
.halfstar .fivestar-craft .star-12.star-even,
.halfstar .fivestar-craft .star-12.star-even span.on,
.halfstar .fivestar-craft .star-12.star-even span.off {
  width: 6px !important;
  background-position: -6px -62px !important;
  background-image: url(../../fivestar/widgets/craft/craft-06.png);
}
.halfstar.fivestar-craft div.star-12.even.hover,
.halfstar.fivestar-craft div.star-12.even.hover a,
.halfstar.fivestar-craft div.star-12.even.on.hover a {
  background-position: -6px -31px !important;
}
.halfstar .fivestar-craft .star-12.star-even span.on,
.halfstar.fivestar-craft div.star-12.even.on,
.halfstar.fivestar-craft div.star-12.even.on a {
  background-position: -6px 0 !important;
}
.halfstar.fivestar-craft div.star-13.odd,
.halfstar.fivestar-craft div.star-13.odd a,
.halfstar .fivestar-craft .star-13.star-odd,
.halfstar .fivestar-craft .star-13.star-odd span.on {
  width: 8px !important;
  background-image: url(../../fivestar/widgets/craft/craft-07.png);
}
.halfstar.fivestar-craft div.star-14.even,
.halfstar.fivestar-craft div.star-14.even a,
.halfstar .fivestar-craft .star-14.star-even,
.halfstar .fivestar-craft .star-14.star-even span.on,
.halfstar .fivestar-craft .star-14.star-even span.off {
  width: 7px !important;
  background-position: -7px -62px !important;
  background-image: url(../../fivestar/widgets/craft/craft-07.png);
}
.halfstar.fivestar-craft div.star-14.even.hover,
.halfstar.fivestar-craft div.star-14.even.hover a,
.halfstar.fivestar-craft div.star-14.even.on.hover a {
  background-position: -7px -31px !important;
}
.halfstar .fivestar-craft .star-14.star-even span.on,
.halfstar.fivestar-craft div.star-14.even.on,
.halfstar.fivestar-craft div.star-14.even.on a {
  background-position: -8px 0 !important;
}
.halfstar.fivestar-craft div.star-15.odd,
.halfstar.fivestar-craft div.star-15.odd a,
.halfstar .fivestar-craft .star-15.star-odd,
.halfstar .fivestar-craft .star-15.star-odd span.on {
  width: 8px !important;
  background-image: url(../../fivestar/widgets/craft/craft-08.png);
}
.halfstar.fivestar-craft div.star-16.even,
.halfstar.fivestar-craft div.star-16.even a,
.halfstar .fivestar-craft .star-16.star-even,
.halfstar .fivestar-craft .star-16.star-even span.on,
.halfstar .fivestar-craft .star-16.star-even span.off {
  width: 8px !important;
  background-position: -8px -62px !important;
  background-image: url(../../fivestar/widgets/craft/craft-08.png);
}
.halfstar.fivestar-craft div.star-16.even.hover,
.halfstar.fivestar-craft div.star-16.even.hover a,
.halfstar.fivestar-craft div.star-16.even.on.hover a {
  background-position: -8px -31px !important;
}
.halfstar .fivestar-craft .star-16.star-even span.on,
.halfstar.fivestar-craft div.star-16.even.on,
.halfstar.fivestar-craft div.star-16.even.on a {
  background-position: -8px 0 !important;
}
.halfstar.fivestar-craft div.star-17.odd,
.halfstar.fivestar-craft div.star-17.odd a,
.halfstar .fivestar-craft .star-17.star-odd,
.halfstar .fivestar-craft .star-17.star-odd span.on {
  width: 11px !important;
  background-image: url(../../fivestar/widgets/craft/craft-09.png);
}
.halfstar.fivestar-craft div.star-18.even,
.halfstar.fivestar-craft div.star-18.even a,
.halfstar .fivestar-craft .star-18.star-even,
.halfstar .fivestar-craft .star-18.star-even span.on,
.halfstar .fivestar-craft .star-18.star-even span.off {
  width: 11px !important;
  background-position: -11px -62px !important;
  background-image: url(../../fivestar/widgets/craft/craft-09.png);
}
.halfstar.fivestar-craft div.star-18.even.hover,
.halfstar.fivestar-craft div.star-18.even.hover a,
.halfstar.fivestar-craft div.star-18.even.on.hover a {
  background-position: -11px -31px !important;
}
.halfstar .fivestar-craft .star-18.star-even span.on,
.halfstar.fivestar-craft div.star-18.even.on,
.halfstar.fivestar-craft div.star-18.even.on a {
  background-position: -11px 0 !important;
}
.halfstar.fivestar-craft div.star-19.odd,
.halfstar.fivestar-craft div.star-19.odd a,
.halfstar .fivestar-craft .star-19.star-odd,
.halfstar .fivestar-craft .star-19.star-odd span.on {
  width: 14px !important;
  background-image: url(../../fivestar/widgets/craft/craft-10.png);
}
.halfstar.fivestar-craft div.star-20.even,
.halfstar.fivestar-craft div.star-20.even a,
.halfstar .fivestar-craft .star-20.star-even,
.halfstar .fivestar-craft .star-20.star-even span.on,
.halfstar .fivestar-craft .star-20.star-even span.off {
  width: 13px !important;
  background-position: -14px -62px !important;
  background-image: url(../../fivestar/widgets/craft/craft-10.png);
}
.halfstar.fivestar-craft div.star-20.even.hover,
.halfstar.fivestar-craft div.star-20.even.hover a,
.halfstar .fivestar-craft .star-20.star-even span.on,
.halfstar .fivestar-craft div.star-20.star-even.on.hover a {
  background-position: -14px -31px !important;
}
.halfstar .fivestar-craft .star-20.star-even span.on,
.halfstar.fivestar-craft div.star-20.even.on,
.halfstar.fivestar-craft div.star-20.even.on a {
  background-position: -14px 0 !important;
}
.halfstar.fivestar-craft .star span.off {
  background: none;
}

.halfstar.fivestar-craft div.star-20.star.on.hover a {
  background-position: -13px -32px !important;
}

/* Dynamic rollovers */
.halfstar.fivestar-craft div.odd.hover a,
.halfstar.fivestar-craft div.odd a:hover {
  background-position: 0 -31px;
}
.halfstar.fivestar-craft .star-odd span.off {
  background-position: 0 -62px;
}
