/**
 * @file
 * CSS file for halfstar.
 *
 * Make changes to the fivestar CSS to allow voting with halfstars.
 * This makes changes to all the fivestar core widgets except "craft" which is
 * included in a separate CSS file.
 */

.halfstar .form-item {
  float: left;
}
/* Default widget */
.halfstar .fivestar-widget .star.odd,
.halfstar div.fivestar-widget-static .star-odd {
  width: 8px !important;
}
.halfstar .fivestar-widget .star.even,
.halfstar div.fivestar-widget-static .star-even {
  width: 9px !important;
}
.halfstar .fivestar-widget .star.even,
.halfstar .fivestar-widget .star.even a,
.halfstar div.fivestar-widget-static .star-even,
.halfstar div.fivestar-widget-static .star-even a {
  background-position: -8px 0 !important;
}
.halfstar .fivestar-widget .star.even.hover a,
.halfstar .fivestar-widget .star.even a:hover,
.halfstar .fivestar-widget .star.even.on.hover a,
.halfstar .fivestar-widget .star.even.on a:hover {
  background-position: -8px -32px !important;
}
.halfstar .fivestar-widget .star.even.on,
.halfstar .fivestar-widget .star.even.on a {
  background-position: -8px -16px !important;
}
.halfstar div.fivestar-widget-static .star-even .on,
.halfstar div.fivestar-widget-static .star-even .on a {
  background-position: -8px -32px !important;
}
.halfstar div.fivestar-widget-static .star-even .off,
.halfstar div.fivestar-widget-static .star-even .off a {
  background-position: -8px 0 !important;
}

/* Outline widget */
.halfstar .fivestar-outline .fivestar-widget .star.even.on,
.halfstar .fivestar-outline .fivestar-widget .star.even.on a {
  background-position: -8px -14px !important;
}
.halfstar .fivestar-outline .fivestar-widget .star.even.hover a,
.halfstar .fivestar-outline .fivestar-widget .star.even a:hover,
.halfstar .fivestar-outline div.fivestar-widget-static div.star-even span.on {
  background-position: -8px -28px !important;
}
.halfstar .fivestar-outline .fivestar-widget .star.even,
.halfstar .fivestar-outline .fivestar-widget .star.even a,
.halfstar .fivestar-outline div.fivestar-widget-static .star-even,
.halfstar .fivestar-outline div.fivestar-widget-static .star-even a {
  background-position: -8px 0 !important;
}

/* Hearts widget */
.halfstar .fivestar-hearts .fivestar-widget .star.even,
.halfstar .fivestar-hearts .fivestar-widget .star.even a,
.halfstar .fivestar-hearts div.fivestar-widget-static .star-even,
.halfstar .fivestar-hearts div.fivestar-widget-static .star-even a {
  background-position: -8px 0 !important;
}
.halfstar .fivestar-hearts .fivestar-widget .star.even.hover,
.halfstar .fivestar-hearts .fivestar-widget .star.even.hover a {
  background-position: -8px -32px !important;
}

/* Oxygen widget */
.halfstar .fivestar-oxygen div.fivestar-widget .star.even,
.halfstar .fivestar-oxygen div.fivestar-widget .star.even a,
.halfstar .fivestar-oxygen div.fivestar-widget-static div.star-even {
  width: 10px !important;
}

/* Basic widget */
.halfstar .fivestar-basic div.fivestar-widget-static .star-even .on,
.halfstar .fivestar-basic div.fivestar-widget-static .star-even .on a {
  background-position: -8px -32px !important;
}

/* Small widget */
.halfstar .fivestar-small div.fivestar-widget .star.even,
.halfstar .fivestar-small div.fivestar-widget .star.even a,
.halfstar .fivestar-small div.fivestar-widget-static div.star-even {
  width: 7px !important;
}

/* Flames widget */
.halfstar .fivestar-flames .fivestar-widget .star.even.hover a,
.halfstar .fivestar-flames .fivestar-widget .star.even a:hover,
.halfstar .fivestar-flames div.fivestar-widget-static div.star-even span.on {
  background-position: -11px -26px !important;
}
.halfstar .fivestar-flames .fivestar-widget .star.even,
.halfstar .fivestar-flames .fivestar-widget .star.even a,
.halfstar .fivestar-flames div.fivestar-widget-static .star-even,
.halfstar .fivestar-flames div.fivestar-widget-static .star-even a {
  background-position: -11px 0 !important;
}
.halfstar .fivestar-flames .fivestar-widget .star.even,
.halfstar .fivestar-flames div.fivestar-widget-static .star-even {
  width: 7px !important;
}
.halfstar .fivestar-flames .fivestar-widget .star.odd,
.halfstar .fivestar-flames div.fivestar-widget-static .star-odd {
  width: 11px !important;
}
.halfstar .fivestar-flames div.fivestar-widget-static .star-even .off,
.halfstar .fivestar-flames div.fivestar-widget-static .star-even .off a {
  background-position: -11px 0 !important;
}
.halfstar .fivestar-flames .fivestar-widget .star.even.on,
.halfstar .fivestar-flames .fivestar-widget .star.even.on a {
  background-position: -11px -26px !important;
}

/* Minimal widet */
.halfstar .fivestar-minimal div.fivestar-widget .star,
.halfstar .fivestar-minimal div.fivestar-widget .star a,
.halfstar .fivestar-minimal div.fivestar-widget-static div.star {
  width: 4px !important;
}
.halfstar .fivestar-minimal div.fivestar-widget .star.even,
.halfstar .fivestar-minimal div.fivestar-widget .star.even a,
.halfstar .fivestar-minimal div.fivestar-widget-static div.star-even {
  background-position: -4px 0 !important;
}
.halfstar .fivestar-minimal div.fivestar-widget .star.even.hover,
.halfstar .fivestar-minimal div.fivestar-widget .star.even.hover a {
  background-position: -4px -32px !important;
}
.halfstar .fivestar-minimal div.fivestar-widget .star.even.on,
.halfstar .fivestar-minimal div.fivestar-widget .star.even.on a,
.halfstar .fivestar-minimal div.fivestar-widget-static div.star-even span.on {
  background-position: -4px -32px !important;
}
.halfstar .fivestar-minimal div.fivestar-widget .cancel {
  margin-right: 6px;
}
