#entity-dialog-admin-settings {
  .fieldset-wrapper {
    .form-type-checkbox label {
      font-weight: 700;
    }
    
    .form-type-select {
      margin-left: 20px;
      
      label, 
      select {
        display: inline;
      }
      
    }
  }
}