input[type=submit]:hover  { background: #313428; }
a, a:link, a:visited  { color: #BD4606; text-decoration: none; }
a:hover { color: #06BDB6; }

#header { background: #5C2203; border-bottom: 5px solid #6E2A0B; }
#site-slogan { color: #94390F; }

#top-navigation  { background: #2E1101; border-bottom: 1px solid #3B1602; }
#top-navigation .sf-menu a  { color: #FFF; }
#top-navigation .sf-menu ul li  { border: 1px solid #542004; }
#top-navigation .sf-menu a:hover, #top-navigation .sf-menu li:hover, #top-navigation .sf-menu li.iehover, #top-navigation .sf-menu ul li  { color: #FFF; background: #642503; }
#top-navigation .sf-menu ul a:hover, #top-navigation .sf-menu ul li.iehover, #top-navigation .sf-menu ul li:hover { color: #642503; background: #FFF; }
#top-navigation .sf-menu ul li.iehover a.sf-with-ul { color: #642503; }

#top-navigation .sf-menu ul li:hover a,
#top-navigation .sf-menu ul li:hover li:hover a,
#top-navigation .sf-menu ul li:hover li:hover li:hover a,
#top-navigation .sf-menu ul li:hover li:hover li:hover li:hover a,
#top-navigation .sf-menu ul li:hover li:hover li:hover li:hover li:hover a,
#top-navigation .sf-menu ul li.iehover a,
#top-navigation .sf-menu ul li.iehover li.iehover a,
#top-navigation .sf-menu ul li.iehover li.iehover li.iehover a,
#top-navigation .sf-menu ul li.iehover li.iehover li.iehover li.iehover a,
#top-navigation .sf-menu ul li.iehover li.iehover li.iehover li.iehover li.iehover a
{ color: #642503; }

#top-navigation .sf-menu ul li:hover li a,
#top-navigation .sf-menu ul li:hover li:hover li a,
#top-navigation .sf-menu ul li:hover li:hover li:hover li a,
#top-navigation .sf-menu ul li:hover li:hover li:hover li:hover li a,
#top-navigation .sf-menu ul li:hover li:hover li:hover li:hover li:hover li a,
#top-navigation .sf-menu ul li.iehover li a,
#top-navigation .sf-menu ul li.iehover li.iehover li a,
#top-navigation .sf-menu ul li.iehover li.iehover li.iehover li a,
#top-navigation .sf-menu ul li.iehover li.iehover li.iehover li.iehover li a,
#top-navigation .sf-menu ul li.iehover li.iehover li.iehover li.iehover li.iehover li a 
{ color: #fff; }

#navigation  { background: #87340E; }
#navigation .sf-menu a  { color: #FFF; }
#navigation .sf-menu ul li  { border: 1px solid #cb4c08; }
#navigation .sf-menu a:hover, #navigation .sf-menu li:hover, #navigation .sf-menu li.iehover, #navigation .sf-menu ul li  { background: #BD4606; color: #FFF; }
#navigation .sf-menu ul a:hover, #navigation .sf-menu ul li.iehover, #navigation .sf-menu ul li:hover { color: #BD4606; background: #FFF; }
#navigation .sf-menu ul li.iehover a.sf-with-ul { color: #BD4606; }

#navigation .sf-menu ul li:hover a,
#navigation .sf-menu ul li:hover li:hover a,
#navigation .sf-menu ul li:hover li:hover li:hover a,
#navigation .sf-menu ul li:hover li:hover li:hover li:hover a,
#navigation .sf-menu ul li:hover li:hover li:hover li:hover li:hover a,
#navigation .sf-menu ul li.iehover a,
#navigation .sf-menu ul li.iehover li.iehover a,
#navigation .sf-menu ul li.iehover li.iehover li.iehover a,
#navigation .sf-menu ul li.iehover li.iehover li.iehover li.iehover a,
#navigation .sf-menu ul li.iehover li.iehover li.iehover li.iehover li.iehover a
{ color: #BD4606; }

#navigation .sf-menu ul li:hover li a,
#navigation .sf-menu ul li:hover li:hover li a,
#navigation .sf-menu ul li:hover li:hover li:hover li a,
#navigation .sf-menu ul li:hover li:hover li:hover li:hover li a,
#navigation .sf-menu ul li:hover li:hover li:hover li:hover li:hover li a,
#navigation .sf-menu ul li.iehover li a,
#navigation .sf-menu ul li.iehover li.iehover li a,
#navigation .sf-menu ul li.iehover li.iehover li.iehover li a,
#navigation .sf-menu ul li.iehover li.iehover li.iehover li.iehover li a,
#navigation .sf-menu ul li.iehover li.iehover li.iehover li.iehover li.iehover li a 
{ color: #fff; }

#header-region #search-block-form { border: 3px solid #6E2A0B; }

.block-title { background: #87340E; color: #FFF;  }
.block-title a { color: #fff; }
