
/* m2-items-manage */

  .m2-items-manage-header {padding: 3px 6px; color: #fff; border-bottom: 1px solid #fff; background: #757575}
  .m2-items-manage {position: relative; padding: 10px 10px 13px 0; background: #efefef}

  .m2-items-manage ul,
  .m2-items-manage li {list-style: none !important; margin: 0 !important; padding: 0 !important}
  .m2-items-manage ul {padding-left: 26px !important}
  .m2-items-manage li {cursor: default; background: url('../images/tree-vertical-path.png') repeat-y}
  .m2-items-manage li.last {background-repeat: no-repeat; background-position: 0 -282px}
  .m2-items-manage li.has-children > .item  .item-value {background: url('../images/tree-vertical-path.png') no-repeat 26px 24px}

  .m2-items-manage .item {display: inline-block; width: 100% /* ie7 fix */}
  .m2-items-manage .item .item-value {margin-top: 4px; padding: 3px 3px 3px 43px; font-size: 12px}
  .m2-items-manage .item .item-value,
  .m2-items-manage .item .item-value a {color: #000}

  .m2-items-manage .item .icon {position: absolute; height: 24px; width: 40px; margin: 4px 0 0 1px; background-image: url('../images/icon-item-type-manage.png')}
  .m2-items-manage .item-type-link .icon {background-position: 100% 0}
  .m2-items-manage .item-type-text .icon {background-position: 100% -24px}

  .m2-items-manage .is-disabled .item .item-value,
  .m2-items-manage .is-disabled .item .item-value a {color: #aaa}
  .m2-items-manage .is-disabled .item-type-link .icon {background-position: 100% -48px}
  .m2-items-manage .is-disabled .item-type-text .icon {background-position: 100% -72px}

  .m2-items-manage .is-removed > .item-type-link .icon {background-position: 100% -144px}
  .m2-items-manage .is-removed > .item-type-text .icon {background-position: 100% -168px}

  .m2-items-manage .m2-drag-el {position: absolute; cursor: move}
  .m2-items-manage .m2-drag-el-in-drag-process {z-index: 1000; opacity: .5; box-shadow: 0 0 11px rgba(0, 0, 0, .5)}
  .m2-items-manage .m2-drop-place-0 {position: absolute; margin-left: 1px; width: 100px; height: 4px}
  .m2-items-manage .m2-drop-place-1 {position: absolute; margin: 4px 0 0 1px; width: 40px; height: 24px}
  .m2-items-manage .m2-drop-el-hover {background-color: #7dcc15}
  .m2-items-manage .m2-drag-el-parent li .item-type-link .icon {background-position: 100%  -96px !important}
  .m2-items-manage .m2-drag-el-parent li .item-type-text .icon {background-position: 100% -120px !important}
  .m2-items-manage .m2-drag-el-parent .m2-drop-el-hover {background-color: transparent}
  .m2-items-manage .m2-drag-el-parent * {color: #ddd !important; border-color: #ddd !important}

  .m2-items-manage .item-links {float: right; margin: 8px 4px 4px 10px; font-size: 9px}
  .m2-items-manage .item-links a {margin-left: .45em; padding-left: .5em; border-left: 1px dotted #000; color: #888}
  .m2-items-manage .item-links a:first-child {margin-left: 0; padding-left: 0; border-left: 0}
  .m2-items-manage .item-links .m2-link-on-off:hover {color: #0085c3 !important}
  .m2-items-manage .item-links .m2-link-edit:hover {color: #7acb12 !important}
  .m2-items-manage .item-links .m2-link-remove:hover {color: #fb875b !important}
  .m2-items-manage .item-links .m2-link-restore:hover {color: #7acb12 !important}

  .m2-items-manage-form #edit-button-save-tree-changes {float: left; margin: 10px 0 0 0}

