@import "style_library.less";
/*
    Layout for screens with max-wdith 480px
*/
@media all and (max-width: 480px) { 
  body {
    font-size: @size-font-small;
  }
  #wrapper {
    #header {
      #primary-menu {
        ul {
          li {
            width: 46%;
            a {
              padding: @column-space / 2;
            }
          }
        }
      }
    }
    #container {
      #center {
        #squeeze {        
          .block {
            .node {
              .submitted {
                left: @size-font-small * 4;
              }
            }
          }
        }
      }
    }
  }
}


