
@import "style_library.less";


html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;margin:0;padding:0}article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object{display:block}a img{border:0}figure{position:relative}figure img{width:100%}

* {
  line-height: 1.6em;
}

body {
  background: @color-grey-light url('../img/bkg.png');
  color: @color-text;
  font-family: Georgia, serif;
  font-size: @size-font-normal;
}

a {
  color: @color-link;
  font-size: 1em;
  text-decoration: none;
  &.active {
    color: @color-blue;
  }
  &:hover {
    color: @color-blue;
    text-decoration: underline;
  }
  img {
    border: none;
  }
}

dl {
  dt {
    font-size: @size-font-small;
    line-height: @column-space * 1.2;
  }
  dd {
    line-height: @column-space;
    margin-left: @column-space;
    margin-bottom: @column-space / 2;
  }
}

fieldset {
  border: 1px solid (@color-light - 10%);
  margin: @column-space 0;
  legend {
    .border-radius();
    border: 1px solid (@color-light - 10%);
    background-color: @color-light;
    border-bottom: 1px solid (@color-light - 10%);
    font-size: @size-font-small;
    line-height: 30px;
    margin-left: -2px;
    padding: 0 10px;
  }
  
  .fieldset-wrapper {
    padding: @column-space / 2;
  }
  
}

h1, h2, h3 {
  .text-shadow();
  margin: 0;
  margin: 0 0 (@column-space / 2);
}

h1 {
  font-size: @size-font-big;
}
h2 {
  font-size: @size-font-medium;
}
h3 {
  font-size: @size-font-small;
  margin: (@column-space / 2) 0;
}

img {
	height: auto;
  padding: @column-space / 10;
}

p {
  margin: (@column-space / 4) 0 @column-space;
}

table {
  width: 100%;
  
  thead {
    .shadow-bottom(0, (@column-space / 3), 8px, -8px);
    font-size: @size-font-small;
    tr {
      background-color: @color-light - 10%;
    }
    th {
      padding: @column-space / 4;
      
    }
  }
  
  tr {
    background-color: @color-light;
    border-bottom: 1px solid (@color-light - 10%);
    &.even {
      background-color: @color-light;
    }
    &.odd {
      background-color: @color-light + 5%;
    }
  }
  
  td {
    line-height: 2em;
    padding: @column-space / 4;
    text-align: left;
    &.edit {
      text-align: center;
    }
    &.delete {
      text-align: center;
    }
  }
}

ul, ol {
  margin: @column-space (@column-space * 1.4);
}

ul li,
.item-list ul li {
  margin-bottom: (@column-space / 1.5);
  &.last {
    margin-bottom: 0;
  }
}

ul.action-links {
  list-style: none;
  margin: (@column-space / 2) 0;
  li {
    line-height: @column-space;
  }
}


/* ----------- Form elements ----------- */

input {
  font-size: 1em;
  &.form-text {
    width: 96.3%;
  }
  &:hover {
    border-color: @color-light - 60%;
  }
  &:focus {
    border-color: @color-light - 60%;
  }
  &.form-submit {
    background-color: @color-blue-light;
    border-color: @color-background-light;
    color: @color-background-light;
    cursor: pointer;
    
    &:hover {
      background-color: @color-blue;
    }
  }
}
input,
textarea,
.form-textarea-wrapper textarea,
.search-form input {
  .form-element();
}
select {
  .form-element();
  &:hover {
    border-color: @color-light - 60%;
  }
}
textarea {
  &:hover {
    border-color: @color-light - 60%;
  }
  &:focus {
    border-color: @color-light - 60%;
  }
}

/* ---------------------- */


/* ----------- Wrapper ----------- */

#wrapper {
  margin: 0 auto 0 auto;
  max-width: @site-max-width;
  min-width: @site-min-width;
  padding: 0 (@column-space / 2);
  position: relative;
  
  .sidebar {
    position: relative;
    width: @column-sidebar - (@column-space * 2);
    z-index: 2;

    .block {
      .frame(10px, 1px, @color-light);
      padding: @column-space;
      margin-bottom: @column-space * 2;
      
      a {
        color: @color-blue;
      }
      input {
        &.form-text {
          width: 91%;
        }  
      }
      h2 {
        text-align: center;
      }
    }
  }
  .tabledrag-toggle-weight-wrapper, .more-link {
    line-height: @column-space;
  }
  #header-region {
    padding: @column-space 0;
  }  
  #header {
    .shadow-bottom();
    z-index: 0;
    a {
      text-decoration: none;
    }
    #logo-floater, span {
      line-height: @column-space * 5;
    }
    #logo-floater {
      .text-shadow(4px, 4px, 4px, @color-glow + 20%);
      clear: left;
      float: left;
      font-size: 2em;
      line-height: @column-space * 5;
      margin: 0;
      padding: 0;
      a {
        color: @color-blue;
      }
      h1 {
        font-size: 1em;
        .text-shadow(4px, 4px, 4px, @color-glow + 20%);
      }
      #branding {
        margin: 0;
      }
      #logo {
        float: left;
        margin: 0;
        margin-right: @column-space;
      }
    }
    #primary-menu {
      clear: right;
      float: right;
      font-size: @size-font-medium;
      margin: 0;
      ul {
        display: inline-block;
        margin: (@column-space * 1.5) 0;
        li {
          float: left;
          margin: 0;
          margin-left: @column-space;
          padding: 0;
          a {
            .frame(10px, 1px, @color-light);
            .gradient(@color-light - 20%, @color-light);
            display: block;
            font-weight: bold;
            line-height: @column-space;
            padding: @column-space / 1.5;
            &.active {
              .frame(10px, 1px, @color-blue-light);
              .gradient(@color-blue-light - 20%, @color-blue-light);
              color: @color-background-light;
            }
            &:hover {
              .frame(10px, 1px, @color-blue);
              .gradient(@color-blue - 20%, @color-blue);
              color: @color-background-light;
            }
          }
        }
        li.first {
          margin-left: 0;
        }
      }
    }
  }
  #container {
    position: relative;
    #sub-header {
      clear: both;
      display: block;
      padding: @column-space / 2;
      padding-bottom: 0;
      #secondary-menu {
        float: right;
        font-size: @size-font-small;
        text-align: right;
        ul {
          margin: 0;
        }
      }
      #breadcrumb {
        float: left;
        font-size: @size-font-small;
        text-align: left;
        .breadcrumb {
          font-size: @size-font-small;
          padding: 0;
        }
      }
    }
    #center {
      float: left;
      margin: @column-space 0;
      padding: 0;
      position: relative;
      width: 100%;
      z-index: 1;
      #notice {
        margin-bottom: @column-space * 2;
        .messages {
          background-position: (@column-space / 4) (@column-space / 4);
          border: none;
          color: @color-background-light;
          margin: 0;
          margin-bottom: @column-space;
          padding: (@column-space / 2);
          padding-left: @column-space * 2;
        }
        .status {
          .frame(10px, 1px, @color-msg-status);
          a {
            color: @color-msg-status + 100%;
            font-weight: bold;
          }
        }
        .error {
          .frame(10px, 1px, @color-msg-error);
          a {
            color: @color-msg-error + 140%;
            font-weight: bold;
          }
        }
        .warning {
          .frame(10px, 1px, @color-msg-warning);
          a {
            color: @color-msg-warning + 150%;
            font-weight: bold;
          }
        }
      }
      #highlighted {
        .frame(10px, 1px, @color-light);
        border: none;
        margin: 0;
        margin-bottom: @column-space * 2;
        padding: @column-space;
      }
      #squeeze {
        .frame();
        padding: @column-space;
        a {
          color: @color-blue;
        }
        h1, h2, h3 {
          text-align: left;
        }
        #help {
          .border-radius();
          .divider-bottom();
          background-color: @color-light;
          padding: (@column-space / 4) (@column-space / 2);
          .block {
            padding-top: (@column-space / 4);
            padding-bottom: (@column-space / 4);
          }
        }
        .messages {
          background-position: (@column-space / 4) (@column-space / 4);
          border: none;
          color: @color-background-light;
          margin: (@column-space / 4) 0;
        }
        .messages.status {
          background-color: @color-msg-status;
          color: @color-background-light;
          a {
            color: @color-msg-status + 100%;
            font-weight: bold;
          }
        }
        .messages.error {
          background-color: @color-msg-error;
          color: @color-background-light;
          a {
            color: @color-msg-error + 140%;
            font-weight: bold;
          }
        }
        .messages.warning {
          background-color: @color-msg-warning;
          color: @color-background-light;
          a {
            color: @color-msg-warning + 150%;
            font-weight: bold;
          }
        }
        .form-item {
          .status {
            background: none;
            border: (@column-space / 10) solid @color-msg-status;
            color: @color-text;
          }
          .error {
            background: none;
            border: (@column-space / 10) solid @color-msg-error;
            color: @color-text;
          }
          .warning {
            background: none;
            border: (@column-space / 10) solid @color-msg-warning;
            color: @color-text;
          }
        }
        #tabs-wrapper ul.tabs {
          border-color: @color-grey-light;
          height: (@column-space * 1.2);
          padding: 0 @column-space;
          .shadow-bottom(0, (@column-space / 4), 8px, -8px);
          margin: (-18.18px) -@column-space (@column-space + 2px);
          li {
            border: 0;
            margin: 0;
            margin-left: -4px;
            padding: 0;
            list-style: none;
          }
        }
        ul.tabs {
          a {
            background: none;
            border: 0;
            margin: 0;
            padding: (@column-space / 4) (@column-space / 2);
              
            &.active {
              background-color: @color-blue-light;
              border-color: @color-blue-light;
              color: @color-background-light;
            }
            &:hover {
              background-color: @color-blue;
              border-color: @color-blue;
              color: @color-background-light;
            }
          }
        }
        ul.links {
          display: block;
          line-height: (@column-space * 2);
          margin: @column-space 0;
        }
        .block {
          .node {
            .divider-bottom();
            padding-bottom: 0;
            position: relative;
            .submitted {
              margin: 0 0 (@column-space / 1.6);
              position: relative;
              .author {
                line-height: 1.6em;
                text-align: left;
              }
              z-index: 9;
            }
            .user-picture {
              float: right;
              margin-top: -@column-space * 1.6;
              position: relative;
              z-index: 10;
              img {
                max-height: @column-space * 3;
              }
            }
            #comments {
              border-top: 1px solid (@color-light - 10%);
              margin-top: @column-space / 2;
              padding-top: @column-space;
              h2.title {
                text-align: left;
              } 
              .comment {
                .divider-bottom();
                margin-top: @column-space;
                padding: 0;
                position: relative;
                .user-picture {
                  margin-top: 0;
                }
                
              }
            }
          }
          .node-teaser {
            .user-picture {
              margin-top: 0;
            }
          }
          
        }
      }
    }
    #sidebars {
      left: 0;
      position: absolute;
      right: 0;
      z-index: 0;
    }
    #left {
      left: 0;
      margin: @column-space @column-space 0 0;
      position: absolute;
    }
    #right {
      margin: @column-space 0 0 @column-space;
      position: absolute;
      right: 0;
    }
  }
  #footer {
    .shadow-top();
    margin: 0;
    margin-top: @column-space / 2;
    padding: @column-space;
    text-align: center;
    a {
      color: @color-blue;
    }
  }
}

/* ---------------------- */



/* ----------- Body, first sidebar ----------- */

body.sidebar-first {
  #wrapper {
    #container {
      #center {
        #notice {
          margin-left: @column-sidebar;
        }
        #highlighted {
          margin-left: @column-sidebar;
        }
        #squeeze {
          margin-left: @column-sidebar;
        }
      }
    }
    #footer {
      margin-left: @column-sidebar;
    }
  }
}

/* ---------------------- */



/* ----------- Body, second sidebar ----------- */

body.sidebar-second {
  #wrapper {
    #container {
      #center {
        #notice {
          margin-right: @column-sidebar;
        }
        #highlighted {
          margin-right: @column-sidebar;
        }
        #squeeze {
          margin-right: @column-sidebar;
        }
      }
      #left {
        margin: @column-space;
        margin-right: 0;
        
      }
    }
    #footer {
      margin-right: @column-sidebar;
    }
  }
}

/* ---------------------- */


/* ----------- Body, two sidebars ----------- */

body.two-sidebars {
  #wrapper {
    #container {
      #center {
        #notice {
          margin-left: @column-sidebar;
          margin-right: @column-sidebar;
        }
        #highlighted {
          margin-left: @column-sidebar;
          margin-right: @column-sidebar;
        }
        #squeeze {
          margin-left: @column-sidebar;
          margin-right: @column-sidebar;
        }
      }
    }
    #footer {
      margin-left: @column-sidebar;
      margin-right: @column-sidebar;
    }
  }
}

/* ---------------------- */




/* ----------- Menu block ----------- */

#wrapper .block {
  ul {
    &.menu {
      margin: 0 -20px;
      li {
        list-style-image: none;
        list-style-type: none;
        margin: 0;
        padding: 0;
        a {
          display: block;
          font-size: @size-font-small;
          padding: (@column-space / 2) @column-space;
          &:hover {
            background: @color-grey-light;
            text-decoration: none;
          }
          &.active {
            background: @color-grey-light - 5%;
          }
        }
        ul {
          margin: 0;
          a {
            padding-left: (@column-space * 1.5);
          }
          li {
            ul {
              a {
                padding-left: (@column-space * 2);
              }
            }
          }
        }
      }
    }
  }
}

/* ---------------------- */




/* ----------- Miscellaneous ----------- */

.profile .user-picture {
  margin: 0;
  margin-top: @column-space;
}

.form-item {
  .compact-form-label {
    left: 11px;
    top: 14px;
  }
  &.form-type-textfield {
    display: block;
  }
  &.compact-form-wrapper {
    .form-required {
      float: right;
    }
  }
}

.search-form {
  .form-item {
    margin-bottom: 0;
  }
  .form-actions {
    margin-top: 0;
  }
}

.views-row {
  margin-bottom: 5px;
}

ul.pager {
  .border-radius();
  border: 1px solid (@color-light - 10%);
  background-color: @color-light;
  line-height: 24px;
  margin-top: @column-space;
  .pager-item,
  .pager-first,
  .pager-previous,
  .pager-next,
  .pager-last {
    margin: 0;
    padding: 0;
    a {
      padding: 5px 10px;
      &:hover {
        background: (@color-light - 10%);
        text-decoration: none;
      }
    }
  }
  .pager-ellipsis {
    margin: 0 5px;
    padding: 0;
  }
  .pager-current {
    background: @color-grey-dark;
    margin: 0;
    padding: 5px 10px;
  }
}


html.js {
  input.form-autocomplete {
   background: transparent url(../img/throbber.gif) no-repeat scroll 100% 11px; 
  }
   
  input.throbbing {
    background-position: 100% -26px; 
  }
}
.ajax-progress .throbber {
  background: transparent url(../img/throbber.gif) no-repeat 0px -26px;
}

.ctools-content {
  input.form-submit {
    color: @color-blue;
    margin: 0;
  }
}

.form-submit:not(.js-hide) + .form-submit, .views-admin a.button:not(.js-hide) + a.button {
  margin: 0;
}

.views-displays .secondary {
  li {
    &.open {
      background: @color-grey-dark;
      a {
        &:hover {
          > .icon.add {
            background-position: center -25px;
          }
        }
      } 
    }
  }  
  ul.action-list {
    top: 27px;
  }
}

ul.action-list {
  li {
    input.form-submit {
      color: @color-text;
    }
  }
}

.clear-block:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

body.maintenance-page {
  #page {
    margin: @column-space auto;
    max-width: @column-main;
    #header {
      #logo-title {
        text-align: center;
      }
    }
    #container {
      text-align: center;
      #page-title, #content-content {
        margin: @column-space 0;
      }
      #content-content {
        font-size: @size-font-small;
      }
    }
  }
}

/* ---------------------- */






/* ----------- Responsivity ----------- */

@import "style_920.less";
@import "style_840.less";
@import "style_480.less";
@import "style_380.less";







/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}





