/** @file Custom SCSS for the WetKit Menu module. */
.mb-menu li h4 a { text-decoration: none !important; }
.mb-menu li h4 a:hover { text-decoration: underline !important; }
.mb-menu ul li.top-level a { text-decoration: none !important; }
.mb-menu ul li.top-level a:hover { text-decoration: underline !important; }

.pane-menu-tree .top-level-alt { margin: 0 0 3px; }
.pane-menu-tree .top-level-alt a { background: #0b3048; padding-top: 8px; padding-bottom: 8px; font-size: 1.1em; color: white !important; font-weight: bold; }
