/**
 * CSS rules added for SIM/DPM form on the cart/checkout/review page.
 */

.order-review-table tr.review-button-row {
  background-color: inherit !important;
}

.order-review-table .review-button-row td {
  text-align: center !important;
  padding: 0 !important;
}

.order-review-table .review-button-row table td {
  padding: 0.5em 1em !important;
}

#uc-authorizenet-simdpm-policy-text {
  padding: 5px;
}

#uc-authorizenet-simdpm-test-text {
  color: red;
}

#uc-authorizenet-simdpm-submit-button input {
  margin: 0 !important;
}

#uc-authorizenet-simdpm-form {
  display: inline;
  padding: 1em 0 0 0;
  margin: 0;
  width: 100%;
}

#uc-authorizenet-simdpm-form .title-col {
  width: 50%;
  text-align: right !important;
}

#uc-authorizenet-simdpm-form .data-col {
  width: 50%;
  text-align: left !important;
}

#uc-authorizenet-simdpm-form .inline-pane-table {
  margin: 0;
}
