; Example drush make file for the fartscroll module.
api = 2
core = 7.x

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; LIBRARIES ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; Fartscroll
libraries[fartscroll][directory_name] = "fartscroll.js"
libraries[fartscroll][download][revision] = "a89e3fe666"
libraries[fartscroll][download][type] = "git"
libraries[fartscroll][download][url] = "https://github.com/theonion/fartscroll.js.git"
