#workbench_menu-menu_items_table > caption,
#workbench_menu-menu_items_table-disabled > caption {
  text-align: left;

  padding: 4px 2px;

  font-size: 1.4em;
}

div.workbench_menu-manage_menu-menu_items-table,
div.workbench_menu-manage_menu-menu_items-add_item_node,
div.workbench_menu-manage_menu-menu_items-add_item_link {
  margin-bottom: 10px;
}

#edit-settings-file-type option {
  padding: 2px 0 2px 20px;

  background-repeat: no-repeat;
  background-position: 0 2px;
}

#edit-settings-file-type option[value="base"] {
  background-image: url(../images/icon_base.png);
}

#edit-settings-file-type option[value="excel"] {
  background-image: url(../images/icon_excel.png);
}

#edit-settings-file-type option[value="external"] {
  background-image: url(../images/icon_external.png);
}

#edit-settings-file-type option[value="file"] {
  background-image: url(../images/icon_file.png);
}

#edit-settings-file-type option[value="flash"] {
  background-image: url(../images/icon_flash.png);
}

#edit-settings-file-type option[value="image"] {
  background-image: url(../images/icon_image.png);
}

#edit-settings-file-type option[value="impress"] {
  background-image: url(../images/icon_impress.png);
}

#edit-settings-file-type option[value="math"] {
  background-image: url(../images/icon_math.png);
}

#edit-settings-file-type option[value="pdf"] {
  background-image: url(../images/icon_pdf.png);
}

#edit-settings-file-type option[value="powerpoint"] {
  background-image: url(../images/icon_powerpoint.png);
}

#edit-settings-file-type option[value="webdocument"] {
  background-image: url(../images/icon_webdocument.png);
}

#edit-settings-file-type option[value="webform"] {
  background-image: url(../images/icon_webform.png);
}

#edit-settings-file-type option[value="word"] {
  background-image: url(../images/icon_word.png);
}

#edit-settings-file-type option[value="writer"] {
  background-image: url(../images/icon_writer.png);
}

#edit-settings-file-type option[value="audio"] {
  background-image: url(../images/icon_audio.png);
}

#edit-settings-file-type option[value="mail"] {
  background-image: url(../images/icon_mail.png);
}
