
/*Twitter profile Block Styles */
#twitter_block {
  display:block;
  height:auto;
  background:#40373A;
  padding:5px;
  color:#e4f4cc;
  float:left;
  width:100%;
}

#twitter_block a {
  color:#cb677b;
  text-decoration:none;
  cursor:pointer;
}

#twitter_block a:hover {
  color:#ffffff;
  text-decoration:none; 
}

#twitter_block img {
  float:left;
  margin:0px 0px 0px 0px;
  border:1px solid #F7E1EC !important;
}

/* Twitter profile img & Username Styles */
.twitter_top {
  background:#EFE7C5;
  height:50px;
  width:95%;
  display:block;
  padding:5px;
  position:relative;
}

#twitter_block .userpic {
  height:48px;
  width:48px;
  border:none!important;
}

.twitter_top span.break-word{
  font-size:18px;
  position:absolute;
  word-wrap: break-word;
  width:70%;
  margin-top: 13px;
  margin-left: 4px;
}

a div.twitter_top span:first-letter {
  text-transform:uppercase;
  font-family:georgia;
  font-size:22px;
}
a div.twitter_top:hover {
  background:#F8E1E1;
  color:#373737; 
}

/* Twitter profile Status Styles */
.twitter_stats {
  padding:5px;
  float:left;
  display:block;
  background:#43323A;
  width:95%;
}

/* Twitter profile Counts Styles */
#twitter_block .odd{
  background: #733545;
  color: #efdee7;
  float: left;
  font-size: 12px;
  font-weight: bold;
  height: 15px;
  line-height:15px;
  padding: 5px;
  width:95%;
  text-align: right;
  border-bottom:1px solid #000;
}

#twitter_block .even {
  background: #733545;
  color: #efdee7;
  float: left;
  font-size: 12px;
  font-weight: bold;
  height: 15px;
  line-height:15px;
  padding: 5px;
  width:95%;
  text-align: right;
  border-bottom:1px solid #000;
}

#twitter_block .odd span, #twitter_block .even span {
  float:left;
}

a div.odd:hover, a div.even:hover {
  background:#3e1327!important;
  color:#fff!important;
}

/* Twitter followers & following Styles */
.folow1 span, .folow2 span  {
  float:left;
}
.folow1 {
  background: none repeat scroll 0 0 #770018;
  color: #FFFFFF;
  float: left;
  font-size: 12px;
  font-weight: bold;
  line-height:15px;
  padding: 5px;
  width:95%;
  text-align: right;
  border-bottom:1px solid #000;
}

.folow2 {
  background: none repeat scroll 0 0 #397B28;
  color: #FFFFFF;
  float: left;
  font-size: 12px;
  font-weight: bold;
  line-height:15px;
  padding: 5px;
  width:95%;
  text-align: right;
  border-bottom:1px solid #000;
}

.clear {
  clear:both;
}

.followers {
  font-weight:bold;
  font-size:16px;
  background:#747358;
  color:#fff;
  width:40%;
  height:auto;
  padding:3% 5% 3% 4.5%;
  text-align:center;
  float:left;
}
.following{
  font-weight:bold;
  font-size:16px;
  background:#AE6F54;
  color:#fff;
  width:40%;
  height:auto;
  padding:3% 4.5% 3% 5%;
  text-align:center;
  float:left;
}
.followers span, .following span{
  float:left;
  height:25px;
  display:block;
  text-align:center;
  text-indent:5px;
  font-size:12px;
}
.folow1 span, .folow2 span{
  float:left;
  height:20px;
  display:block;
  text-align:center;
  font-size:12px;
}
a div.followers:hover, a div.following:hover {
  background:#3e1327;
  color:#fff;
}
a div.folow1:hover, a div.folow2:hover {
  background:#3e1327;
  color:#fff;
}