
input.form-submit.openid-ee-button {
  padding: 8px 8px 8px 38px;
  font-size: 13px;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #027ac6;
  background: #fff url('openid_ee.png') no-repeat 10px 50%;
  border: 1px solid #ccc;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.7);
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,7);  
}
input.form-submit.openid-ee-button:hover {
  background: #fff url('openid_ee.png') no-repeat 10px 50%;
}