/**
 * @file
 * CSS for pre.pgn4web and iframe.pgn4web.
 */
pre.pgn4web,
iframe.pgn4web {
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 275px;
}

/* Frame with a single game. */
iframe.pgn4web-single {
}

/* Frame with multiple games. */
iframe.pgn4web-multiple {
  height: 310px; /* More room for dropdown list. */
}
