.alt_phone {
  margin-top: 30px;
}

.barcode_info {
  margin-top: 125px;
  margin-left: 50px;
}

.container {
   position: relative;
   width: 302px;
   height: 190px;
 /*
  border: 0.1em dashed #A9A9A9 !important;
   border-radius:15px;
*/
   margin-top: 25px;
   margin-bottom: 25px;
   zoom: 1;
}

.dob_error {
  color: #FF0000;
  display: none;
}

.email_msg {
 
}

.par-card-imageone {
   position: relative;
   border-radius:15px;
   right:-10px;
   bottom: -7px;
}

.par-card-imagetwo {
  position: absolute;
  left: 25px;
  top: 110px;
  z-index: 2;
}

.par-card-logo {
  position: absolute;
  left: 30px;
  top: 25px;
  z-index: 2;
}
.par-card-logo img {
  max-width: 265px;
  max-height: 70px;
}
.par-card-label {
  position: absolute;
  width: 140px;
  left: 90px;
  top: 162px;
  font-size: 18px;
  z-index: 2;
}

.phone1_error {
  color: #FF0000;
  display: none;
}

.phone2_error {
  color: #FF0000;
  display: none;
}

.progress {
  margin-top: 30px;
}

.reprint_barcode2 {
  float:left;
}

.reprint_barcode3 {
  float:left;
  margin-left: 15px;
}

.reprint_barcode4 {
  clear:both;
}

.or_control {
  float:left;
  margin-right: 10px;
}

.page-polaris-auto-register-telephone-lookup .or_control {
  float: none;
}
.page-polaris-auto-register-telephone-lookup .progress {
  float: left;
  margin: 0 10px 0 0;
}

.or_clear {
  clear:both;
}

.par-card-container {
  position: relative;
  width: 302px;
  height: 190px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: -10px;
  zoom: 1;
}

.registrant {
  margin-left: 35px;
}
