@import "_base.scss";

.page-checkout {
  font-family: 'Verdana';
  color: $dark_grey;
  .title {
    color: $dark_blue;
    font-family: 'Lubalin Demi';
    &:before {
      content: '';
      background-image: url('../images/kbc.png');
      background-repeat: no-repeat;
      display: block;
      width: 60px;
      height: 50px;
      margin-bottom: 30px;
    }
  }
  .checkout-help {
    margin-bottom: 50px;
  }
  #commerce-checkout-form-review {
    fieldset {
      border: 1px solid $light_grey;
      border-radius: 5px;
      legend {
        color: $dark_blue;
        font-family: 'Lubalin Demi';
        font-size: 16px;
        font-weight: bold;
        background-color: $white;
        border-top: 1px solid $light_grey;
        border-left: 1px solid $light_grey;
        border-right: 1px solid $light_grey;
        &:after {
          content: '';
          width: calc(100% - 10px);
          height: 1px;
          background-color: $light_grey;
          display: block;
          margin: 0 5px;
        }
      }
    }
    .checkout-buttons {
        border: none;
        input {
          font-family: 'Lubalin Demi';
          font-size: 14px;
          border-radius: 5px;
          height: 30px;
          text-align: left;
          width: 220px;
          padding: 5px 10px;
          margin-right: 15px;
        }
        .checkout-continue {
          color: $white;
          background: $light_blue url('../images/arrow.png') no-repeat center right;

        }
        .button-operator {
          display: none;
        }
        .checkout-back {
          color: $white;
          background: $light_grey url('../images/arrow.png') no-repeat center right;
          &:hover {
            text-decoration: none;
          }
        }
      }

    table {
      tbody {
        border: none;
      }
      .pane-title {
        border-top: 1px solid $light_grey;
        border-left: 1px solid $light_grey;
        border-right: 1px solid $light_grey;
        border-bottom: none;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        display: block;
        padding-left: 5px;
        td {
          padding-left: 5px;
        }
        &:after {
          content: '';
          width: calc(100% - 10px);
          height: 1px;
          background-color: $light_grey;
          display: block;
          margin: 0 5px;
        }
        td{
          color: $dark_blue;
          font-family: 'Lubalin Demi';
          font-weight: bold;
          font-size: 16px;
        }
      }
      .pane-data {
        background-color: $white !important;
        margin-bottom: 15px;
        border-left: 1px solid $light_grey;
        border-right: 1px solid $light_grey;
        border-bottom: 1px solid $light_grey;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        display: block;
        .form-item {
          margin-left: 20px;
          label {
            color: $light_blue;
            padding: 10px 0px;
            margin-left: -10px;
          }
        }
        .pane-data-full {
          width: calc(100% - 10px);
          display: block;
          padding: 0;
        }

      }
      th {
        color: $light_blue;
        font-family: 'Verdana';
        background-color: $white;
      }
      td {
        color: $dark_grey;
        font-family: 'Verdana';
      }
      tr.odd {
        background-color: $white;
      }
      tr.even {
        background-color: $very_light_grey;
      }
    }
    .view-footer {
      td{
        color: $light_blue;
        font-family: 'Verdana';
      }
      .commerce-price-formatted-components tr{
        background-color: $very_light_grey;
      }
    }
  }
}
