.decoration-params .form-item,
.decoration-params .decoration-params-label-css {
  width: 17%;
  display: inline-table;
  margin: 5px 10px 1px 10px;
}
.decoration-params .form-item.form-type-radio {
  display: block;
  width: 100%;
}

.pages-and-selector {
  margin-top: 20px;
  background-color: #f8f8f8;
  border: 1px dashed #cccccc;
}
.pages-and-selector .form-item {
  width: 30%;
  display: inline-table;
  margin: 5px 10px 1px 10px;
}

