/**
 * @file
 * Form styling
 */
form .form-item {
  margin: 5px 0;
}

form label {
  padding: 2px;
}

form .form-text,
form .form-textarea {
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  font-family: Arial,Tahoma,Verdana;
  font-size: 12px;
  height: 25px;
  padding: 2px 5px;
}

form .form-textarea {
  height: 250px;
}

form .description {
  padding: 2px;
}

form .form-submit {
  background: #111111;
  border: 0 none;
  border-radius: 5px;
  color: #d4d4d4;
  cursor: pointer;
  font-size: 11px;
  margin: 0 5px 0 0;
  padding: 5px 10px;
  text-align: center;
  text-transform: uppercase;
}

form .form-submit:hover {
  background: #ffffff;
  color: #000000;
}

form#user-login {
  margin: 0px auto;
  text-align: center;
}

form#user-login label {
  font-size: 14px;
  padding-left: 0px;
  text-align: left;
}

form#user-login label:after {
  content: ':';
}

form#user-login .form-required {
  display: none;
}

form#user-login .description {
  display: none;
}
