
#real-estate-media {
    float: right;
    width: 58%;
}

#real-estate-values {
    float: left;
    clear: left;
    width: 42%;
}

#real-estate-description {
    clear: both;
;
}

#real-estate-values .field-label {
    width: 50%;
}

#real-estate-values .field {
    padding-bottom: 10px;
}

#real-estate-values .field-name-property-price .field-item {
    font-size: 22px;
}

.dre-property .featured .field, .dre-property .dre-property-more .field {
    width: 30%;
    display: inline-block;
    vertical-align: top;
}

.prop-price-wrapper {
    background-color: #f8f8f5;
    padding: 6px;
    margin-right: 4px;
    margin-top: 4px;
}

.dre-property .field.field-name-property-address {
    width: 100%;
}

.dre-property .field.field-name-property-address .field-items div {
    display: inline-flex;
    padding-right: 3px;
}

#block-real-estate-property-re-exposed-filter-form input {
    width: 14em;
}

#block-real-estate-property-re-exposed-filter-form select {
    width: 12em;
}
