; See documentation in Drupal Computing Module
; For the purpose of this module, you might only care about the following settings.
; Use either Drush or Services to interact with Drupal.

; dcomp.drush.command = drush
; dcomp.drush.site = @local

; dcomp.site.base_url = http://example.com
; dcomp.site.access = services
; dcomp.services.endpoint = endpoint
; dcomp.services.user.name = scott
; dcomp.services.user.pass = tiger
