/**
 * This stylesheet has not been tested on browsers other
 * than recent (in 2012) Firefox and Chromium version.
 */


.tribune-highlighted, .tribune-post.tribune-highlighted {
  background-color: #DDDDDD;
  border: 1px dotted #888;
}

.tribune-message span.tribune-highlighted {
  background-color: #DDDDDD;
  border: 1px dotted #888;
}

.tribune-posts ol, .tribune-post-preview ol {
  list-style-type: none;
  padding: 0;
}

.tribune-answer .tribune-clock {
  border-color: #CCC;
}

.tribune-own-post .tribune-clock {
  border-color: #666;
}

/* Anything smaller than 640px */
@media only screen and (max-width: 640px) {
  .tribune-posts .tribune-post .tribune-date {
    position: fixed;
    top: 50px;
    right: 20px;
    border-width: 3px;
    padding: 0 4px;
    font-size: 110%;
  }
}

.tribune-clock {
  border-left: 7px solid transparent;
  border-radius: 7px 0 0 7px;
  -webkit-border-radius: 7px 0 0 7px;
  -moz-border-radius: 7px 0 0 7px;
  -o-border-radius: 7px 0 0 7px;
  padding-left: 3px;
}

.tribune-post-clock, .tribune-post-user {
  text-decoration: underline;
  color: #5555CC;
  border: 1px dotted transparent;
}

.tribune-clock {
  text-decoration: underline;
  color: #5555CC;
}

.tribune-posts {
  position: relative;
}

.tribune-date {
  position: absolute;
  margin-left: -110px;
  background: white;
  border: 1px solid #CCC;
  border-radius: 8px;

  opacity: 0;
  -webkit-transition: opacity 0.5s ease 0.1s;
  -moz-transition: opacity 0.5s ease 0.1s;
  -o-transition: opacity 0.5s ease 0.1s;
  transition: opacity 0.5s ease 0.1s;

  z-index: 750;
}

.tribune-post:hover .tribune-date {
  opacity: 1;
}

.tribune-mod-actions {
  opacity: 0;
}

.tribune-post:hover .tribune-mod-actions {
  opacity: 1;
}

.tribune-post[data-username=""] .tribune-user {
  color: #993333;
}

.tribune-post[data-username="Anonymous"] .tribune-user {
  color: #993333;
}

.tribune-user {
  color: #339933;
}

.tribune-mod-actions {
  margin-right: 1ex;
}

.tribune-mod-actions a {
  margin-right: 0.5ex;
  opacity: 0.3;
  color: red;
  font-weight: bold;
  text-decoration: none;
}

.tribune-mod-actions a:hover {
  opacity: 1;
}

.tribune-post-preview, .tribune-message-preview {
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  -o-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;

  box-shadow: 0 3px 5px #444;
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
}

.tribune-form input.form-text {
  -webkit-transition: background-color 0.5s ease 0.1s;
  -moz-transition: background-color 0.5s ease 0.1s;
  -o-transition: background-color 0.5s ease 0.1s;
  transition: background-color 0.5s ease 0.1s;
}

.tribune-reload-error input.form-text {
  background-color: #FF9988;
}

.tribune-post-error input.form-text {
  background-color: #FF6655;
}

.tribune-answer-segment {
  display: block;
  position: absolute;
  border-left: 2px solid rgba(0, 0, 0, 0.3);
  border-top: 4px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 13px 0 0 13px;
  width: 20px;
}

.tribune-scrollback .tribune-date {
  margin-left: 0;
  right: 1ex;
}

