.icon-plus:before {
  content: '\2b';
} /* '+' */
.icon-down-open:before {
  content: '\e75c';
} /* '' */
.icon-right-open:before {
  content: '\e75e';
} /* '' */
.icon-up-open:before {
  content: '\e75f';
} /* '' */
