/**
 * Default OM HTML5 Subtheme
 *
 */
 
/* General */
body { font-family: Arial, Helvetica, sans-serif; }
table { border-collapse: separate; }

/* Layout */
.wrapper-outer {}
.wrapper {}
.wrapper-inner {}
.region { background-color: #f9f9f9; }
.region-inner {}
.block-inner {}

/* Header */
#header {}

/* Navigation */
#nav {}

/* Main Menu */
#menubar-main-menu {}
#menubar-main-menu ul.menu {}
#menubar-main-menu ul.menu li {}
#menubar-main-menu ul.menu li a {}
#menubar-main-menu ul.menu li:hover>a {}
#menubar-main-menu ul.menu li.active-trail>a {}

/* Main Menu Submenu */
#menubar-main-menu ul.menu ul {}
#menubar-main-menu ul.menu ul li {}
#menubar-main-menu ul.menu ul li a {}
#menubar-main-menu ul.menu ul li:hover>a {}

/* Secondary Menu */
#menubar-secondary-menu {}
#menubar-secondary-menu ul.menu {}
#menubar-secondary-menu ul.menu li {}
#menubar-secondary-menu ul.menu li a {}
#menubar-secondary-menu ul.menu li:hover>a {}
#menubar-secondary-menu ul.menu li.active-trail>a {}

/* Secondary Menu Submenu */
#menubar-secondary-menu ul.menu ul {}
#menubar-secondary-menu ul.menu ul li {}
#menubar-secondary-menu ul.menu ul li a {}
#menubar-secondary-menu ul.menu ul li:hover>a {}

/* Main */
.wrapper-middle {}
.two-sidebars .wrapper-middle {}
.one-sidebar .wrapper-middle {}
.sidebar-first .wrapper-middle {}
.sidebar-second .wrapper-middle {}

/* Content */
#content .node .content h1 {}
#content .node .content h2 {}
#content .node .content h3 {}
#content .node .content h4 {}
#content .node .content h5 {}
#content .node .content h6 {}
#content .node .content ul {}
#content .node .content ul li {}
#content .node .content ol {}
#content .node .content ol li {}
#content .node .content a {}
#content .node .content p {}
#content .node .content table {}
#content .node .content tr {}
#content .node .content th {}
#content .node .content td {}
#content .node .content img {}

/* Sidebars */
#sidebar-first {}
#sidebar-second {}

/* Footer */
footer {}

/* Turn-off OM Base Theme Credit */
/* #legal { display: none; } */

/* For Adaptive Design */
@media screen and (max-width: 1440px) {}
@media screen and (max-width: 1280px) {}
@media screen and (max-width: 1120px) {}
@media screen and (max-width: 960px) {}
@media screen and (max-width: 800px) {}
@media screen and (max-width: 640px) {}
@media screen and (max-width: 480px) {}


