/** CHANNEL TEASER **/

.view-brighttalk-channel {
  width: 615px;
}

.view-brighttalk-channel .views-row {
  margin: 0;
}

.view-brighttalk-channel .views-row-even {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.025);
}

.view-brighttalk-channel .views-row-odd {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.050);
}

.view-brighttalk-channel .node-brighttalk-webcast.node-teaser {
  padding: 10px 0;
  margin: 0;
  font: 13px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.view-brighttalk-channel .node-brighttalk-webcast.node-teaser .image {
  float: left;
  width: 100px;
  padding: 0;
  margin: 0 10px;
}

.view-brighttalk-channel .node-brighttalk-webcast.node-teaser .info {
  float: left;
  width: 380px;
  height: 80px;
  padding: 0;
  margin: 0 5px;
  border-right: 1px solid #ccc;
}

#content .view-brighttalk-channel .node-brighttalk-webcast.node-teaser .info h2 {
  font-size: 15px;
  font-weight: bold;
}

.view-brighttalk-channel .node-brighttalk-webcast.node-teaser .action {
  float: left;
  width: 83px;
  padding: 25px 0 0 0;
  margin: 0 5px;
}

.view-brighttalk-channel .node-brighttalk-webcast.node-teaser .action .duration {
  width: 83px;
  text-align: center;
}

/** Teaser outside of View **/
.node-brighttalk-webcast.node-teaser {
  padding: 10px 0;
  font: 13px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.node-brighttalk-webcast.node-teaser .image {
  float:  left;
  width: 100px;
  padding: 0;
  margin: 0 10px;
}

.node-brighttalk-webcast.node-teaser .info {
  float: left;
  width: 400px;
  padding: 0;
  margin: 0 5px;
  border-right: 1px solid #ccc;
}

.node-brighttalk-webcast.node-teaser .action {
  float: left;
  width: 100px;
  padding: 25px 0 0 0;
  margin: 0 5px;
  text-align: center;
}

.node-brighttalk-webcast.node-teaser .action .duration {
  width: 100px;
  text-align: center;
}

/** CHANNEL LISTING **/

.view-brighttalk-channels td {
  width: 222px;
  background-color: #fff;
}

.view-brighttalk-channels td .node {
  width: 200px;
  
  background-color: #eee;
  padding: 5px 10px;
  border: 1px solid black;
  height: 100%;
}

/** CHANNEL NODE **/

.node-type-brighttalk-webcast .node-brighttalk-webcast .promoted {
  width: 100%;
  padding: 10px 0 0 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}
.node-type-brighttalk-webcast .node-brighttalk-webcast .info {
  padding-right: 20px;
  margin-left: 127px;
}

.node-type-brighttalk-webcast .node-brighttalk-webcast .promoted .image {
  float: left;
  margin: 0 20px 5px 5px;	
}

.node-type-brighttalk-webcast .node-brighttalk-webcast .promoted .image img {
  margin: 0;	
}

.node-type-brighttalk-webcast .node-brighttalk-webcast .promoted .promoted-info {
  float: left;
  width: 425px;
  padding-top: 10px;
}


.node-type-brighttalk-webcast .node-brighttalk-webcast .promoted .promoted-info .field-name-field-bt-feed-author {
  padding-bottom: 10px;
}

.node-type-brighttalk-webcast .node-brighttalk-webcast .promoted .action {
  float: right;
  width: 100px;
  padding: 25px 10px 0 10px;
  margin: 0 5px;
  text-align: center;
  border-left: 1px solid #ccc;
}
