table {
  border-collapse: collapse;
}

#header #site-name {
  line-height: 36px;
  top: 25px;
}

.button input {
  padding-left: 10px;
  padding-right: 10px;
}

#sidebar .block ul li,
#sidebar .block ul li.leaf,
#sidebar .block ul li.expanded,
#sidebar .block ul li.collapsed,
.node .content ul li,
.node-similar .item-list li {
  list-style-image: none;
}

#header .region-header form .button input {
  padding-left: 20px;
}

.node-navigation {
  border: none;
}

.node-navigation .node-prev,
.node-navigation .node-next,
.node-navigation .nav {
  -dt-display: table-cell;
  border: none;
  background: none;
}

.comment-form.title {
  display: inline;
  width: 200px;
}

#comments h2.title {
  width: 100px;

}