/**
 * @file
 * Stylesheet for the (x) close button of module disable_overlay.
 */

body {
  background: none repeat scroll 0 0 #444444 !important;
}
div#branding {
  margin: 70px 6% 0;
  background-color: #444444;
}
#branding h1.page-title {
  color: #ffffff !important;
}
div#page {
  margin-left: 6%;
  margin-right: 6%;
  padding: 20px 35px 40px;
}
.close-wrapper {
  position: absolute;
  right: -26px;
  top: 0;
}
a#overlay-close {
  background: url("../images/close.png") no-repeat scroll right 0 transparent;
  display: block;
  float: right;
  height: 40px;
  overflow: hidden;
  position: relative;
  text-indent: 100%;
  white-space: nowrap;
  width: 48px;
  z-index: 499;
}
