@charset "UTF-8";
/* CSS Document */

#lbsRefTaggerCP {
	width: 22em;
	border: solid 1px #DDD;
	background-color:#FFF;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.4em;
	font-size: 80%;
	text-align: center;
}
#lbsHeader {
	text-align: center;
	font-size: 120%;
	font-weight: bold;
	border-bottom: solid #DDD 1px;
	padding: .25em;
	margin-bottom: 4px;
}
#lbsSaveContainer, #lbsVersionContainer, #lbsLibronixContainer {
	padding:4px;
	display: inline;
}
#lbsSave {
	border:1px solid gray;
	padding: 0em 1em;
	font-family: helvetica, arial, "sans serif";
	cursor: pointer;
}
#lbsVersion {
	font-size:100%;
}
#lbsRefTaggerCP a:link, #lbsRefTaggerCP a:hover, #lbsRefTaggerCP a:visited {
	text-decoration:none;
	display: inline;
}
#lbsFooter {
	font-size: 95%;
	border-top:dashed #DDD 1px;
	padding:4px 4px 4px 10px;
	line-height: 2;
	margin-top: 4px;
	text-align: left;
}
#lbsLogo {
	display:inline;
	float:right;
	background-image:url(http://www.logos.com/images/Reftagger/logowhitebg.jpg);
	background-position:center;
	background-repeat:no-repeat;
}
#lbsUseLibronixLinks {
	cursor: pointer;
}