/* 
    Document   : error_helper
    Created on : Feb 15, 2011, 2:43:37 PM
    Author     : denes
    Description:
        Purpose of the stylesheet to style the error messages changed by the module
*/

a.error_helper_href {
  color: inherit;
}

