.quick-registration-settings .form-textarea-wrapper {
  width: 700px;
}

.quick-registration-settings .form-item-first-name,
.quick-registration-settings .form-item-last-name,
.quick-registration-settings .form-item-gender {
  float: left;
  padding-right: 20px !important;
}

.quick-registration-settings-create-new-fields,
.quick-registration-settings-submit {
  clear: both;
}
