/**
 * @file
 * Pop typography CSS.
 */

/* our typography */
body {
  font: 13px/24px "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
}

h1,h2,h3,h4,h5,h6 { font-weight: normal; font-family: "Times New Roman", Times, serif; line-height: 1.231; margin: 0; }

h1 { font-size: 40px; padding: 20px 0; }
h2 { font-size: 32px; padding: 19px 0; }
h3 { font-size: 28px; padding: 18px 0; }
h4 { font-size: 24px; padding: 14px 0; }
h5 { font-size: 20px; padding: 13px 0; }
h6 { font-size: 18px; padding: 12px 0; }

#page-title { margin-bottom: 24px; }
#site-name  { font-family: "Times New Roman", Times, serif; font-size: 40px; line-height: 1; padding: 0; }

p  { margin-top: 0; margin-bottom: 24px; }
/* drop cap - uncomment to enable */
/*
p:first-child:first-letter {
  font-family: "Times New Roman", Times, serif;
  font-size : 80px;
  float : left;
  line-height: 60px;
  padding-top: 5px;
  font-style: normal;
}
*/
textarea    { line-height: 24px; }

table       { font-size: 12px; }
tfoot       { font-style: italic; }
td, td img  { vertical-align: top; }

blockquote  { font-style: italic; padding: 24px; }
blockquote p:last-child { margin-bottom: 0; }
b, strong   { font-weight: bold; }
em, dfn     { font-style: italic; }
dfn         { font-weight: bold; }
small       { font-size: 85%; }
sub, sup    { font-size: 75%; line-height: 0; position: relative; }
sup         { top: -7px; }
sub         { bottom: -3px; }

abbr,
acronym     { border-bottom: 1px dotted #a2a2a2; }
address     { font-style: normal; margin-bottom: 24px; }

code, pre {
  font-family: "Lucida Console", monospace;
}
pre {
  padding: 12px;
}
