div.sidebar {
  width: 100%;
}
div.sidebar .view-popular-tags .view-content .views-row {
  display: block;
}
#header .region-header .custom-show-menu {
  width: auto;
  float: right;
  position: static;
  margin-right: 15px;
}
#header .region-header .region-inner {
  padding: 24px 0;
}
#header .region-header .region-inner .block.block-search {
  float: left;
  width: 200px;
  margin: 15px 0 0 0;
}
#header .region-header .region-inner .block {
  margin-right: 0;
  margin-left: 0;
}
#header .region-header .region-inner .block-delta-blocks {
  display: block;
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 24px;
}

#main-content .view-products-for-homepage .view-content .views-row {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.view-product-slideshow- .skin-default .views-slideshow-controls-bottom {
  position: absolute;
  top: 24%;
  left: 5%;
  right: 6%;
}

.node-type-product .field-name-field-tags .field-label {
  margin-bottom: 20px;
}
.node-type-product #main-content .view-products-for-homepage .view-content {
  text-align: center;
}
.node-type-product #main-content .view-products-for-homepage .view-content .views-row {
  width: 90%;
  margin: auto;
}

#header .region-header .block-menu {
  top: 213px;
}

.view-commerce-cart-form .views-table thead th {
  padding-left: 4px;
}
.view-commerce-cart-form .views-table tbody td {
  padding-left: 4px;
}