/* Common */
#columns {
  max-width: 1170px;
  margin: auto;
  padding: 45px 15px 0;
}

#block-views-important-information-block {
  margin-bottom: 0;
}

#header .region-header .region-inner .custom-show-menu.block {
	display: none;
}