table.relevant-content-block {
  margin: 3px 0;
  border: 1px solid #ddd;
  background-color: white;
  color: #494949; /* matches garland */
  clear: left; /* LTR */
  width: 100%;
}

table.relevant-content-block tbody {
  border: none;
}

table.relevant-content-block td.relevant-content-block-name,
table.relevant-content-block td.relevant-content-ops {
  background-color: #eee;
}
table.relevant-content-block td.relevant-content-ops {
  width: 45%;
  text-align: right; /* LTR */
}

table.relevant-content-block td.relevant-content-header {
  vertical-align:top;
}

table.relevant-content-block-disabled {
  color:#999;
}
table.relevant-content-block-enabled td.relevant-content-block-name,
table.relevant-content-block-enabled td.relevant-content-ops {
  background-color:#E4F0F8;
}
