/*
** For devices with a width of 480 pixels or less.
*/

body {
  #page-wrapper,
  .page-wrapper {
    width: auto;
    padding: 0 10px;

    .column {
      float: none;
      width: auto;
      margin: 0 0 20px;
    }
  }
}