/**
 * @file
 * Example style sheet for Superior Colors Module
 */

div.status,
.ok {
  color: [[message_ok_text]];
}
div.status,
table tr.ok {
  background-color: [[message_ok_background]];
}

div.warning,
.warning {
  color: [[message_warning_text]];
}
div.warning,
table tr.warning {
  background-color: [[message_warning_background]];
}

div.error,
.error {
  color: [[message_error_text]];
}
div.error,
table tr.error {
  background-color: [[message_error_background]];
}
div.error p.error {
  color: [[message_error_text]];
}
