#plinko-toolbar {
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 999;
  
  &.plinko-open { 
    width: 100%; bottom: auto; top: 60px; 
  }
  
  .plinko-plus, .plinko-minus {
    display: block;
    height: 25px;
    width: 25px;
    background: #db218e;
    font-size: 2.5em;
    font-weight: bold;
    color: #FFF;
    overflow:hidden;
    line-height: 22px;
    text-align:center;
    vertical-align:middle;
    margin: 2px;
    padding: 0px;
    cursor: pointer;
  }  
  
  .plinko-minus {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  
  // Plinko Expanded Elements
  .plinko-expanded {
    width: 95%;
    margin: 0px auto;
    overflow-y:scroll;
    background: #FFF;
    border: solid 1px #CDCDCD;
    padding: 5px;
    -moz-box-shadow: 0px 0px 10px #DB218E;
    -webkit-box-shadow: 0px 0px 10px #DB218E;
    box-shadow: 0px 0px 10px #DB218E;
  }
  
} // Plinko-toolbar



// CLOSED TOOLBAR
.plinko-closed {
  .plinko-expanded { display: none; }
  .plinko-collapsed { display: block; }    
} // plinko-closed


// EXPANDED TOOLBAR
.plinko-open {
  .plinko-expanded { display: block; }
  .plinko-collapsed { display: none; }
} // plinko-open