/* General font settings */
a {
  color: #336666;
  text-decoration: none;
}

a:link {
  font-weight: bold;
}

a:hover, #nav a:active {
  text-decoration: underline;
}

a:visited {
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

p {
  margin-bottom: 10px;
  color: #666666;
}

.node p {
  line-height: 1.75;
}

.large-bold p {
  color: #996633;
  font-family: serif;
  font-size: 160%;
}

.medium-ital p {
  color: #999999;
  font-family: serif;
  font-size: 130%;
  font-style: italic;
}


/* Region-specific settings */
#banner {
  height: 174px;
}

#feature .decoration {
  display: block;
  margin-bottom: 30px;
  text-align: center;
}

#feature blockquote {
  text-align: center;
}

#copyright {
  border-top: 2px dotted #336666;
  color: #336666;
  font-size: 80%;
  padding-top: 10px;
  margin-top: 30px;
  text-align: center;
}

#nav, #nav a {
  font-size: 110%;
  font-family: serif;
  text-decoration: none;
}

#nav #block-system-main-menu a {
  color: #336666;
}

#nav #block-menu-menu-utility-links a {
  color: #996633;
}

#nav #block-system-main-menu ul.menu {
  border-top: 2px dotted #336666;
}

#nav #block-system-main-menu ul.menu li {
  border-bottom: 2px dotted #336666;
  list-style-image: none;
  list-style-type: none;
  padding: 10px;
  margin: 0;
  text-align: center;
}

#nav #block-menu-menu-utility-links ul.menu {
  border-top: none;
}

#nav #block-menu-menu-utility-links ul.menu li {
  border-bottom: none;
  list-style-image: none;
  list-style-type: none;
  padding: 20px 10px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

#site-name {
  margin: 15px 0 30px 0;
}

#content h1 {
  color: #999999;
  margin-top: 10px;
}

li.node-readmore {
  float: right;
  margin-top: -10px;
  text-transform: uppercase;
}


/* Front page-specific settings */
.front #content .block:first-child p:first-child {
  color: #336666;
  font-style: normal;
}

.front #content .block:first-child p {
  color: #666666;
  font-style: italic;
  font-family: serif;
  line-height: 2;
}

.front #content {
  margin-top: 40px;
}

.front #content .node {
  float: left;
  font-size: 90%;
  padding-right: 4%;
  width: 45%;
}

.front #content .node h2 a {
  color: #996633;
  text-transform: uppercase;
}

.front #content .node p:first-child {
  color: #996633;
  font-weight: bold;
}

.front #content .node .field-type-image {
  float: left;
  width: 60px;
  padding: 0 10px 5px 0;
}
