/* Form Clerk style sheet. */
/* Improve readability of 'Get Form Information' table. */

/* Emphasize table caption. */
table.form_clerk_table caption {
  font-size: 140%;
  font-weight: bold;
  text-align: left;
}

/* De-emphasize table rows for hidden form elements. */
tr.form_clerk_hidden td {
  background-color: #eee;
}

/* Emphasize table cells (columns) for key form elements. */
td.form_clerk_highlighted, th.form_clerk_highlighted {
  background-color: #FEE;
  font-weight: bold;
}

form_clerk_table
