body {
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.5;
  font-size: 80%;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-image: url("../images/texture.png");
  color: #666666;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.0em 0 0.5em;
  font-weight: inherit;
  color: #a23c41;
}
h1 {
  font-size: 1.8em;
}
h2 {
  font-size: 1.143em;
}
a {
  text-decoration: none;
  color: #006233;
}

#page-wrapper,
#page {
  width: 100%;
}

/* Search block in region header */
.header #block-search-form {
  width: 208px;
  float: right;
  padding-top: 2px;
}
#search-block-form input.form-submit,
#search-form input.form-submit {
  margin-left: 0;
  margin-right: 0;
  height: 22px;
  width: 34px;
  padding: 0;
  cursor: pointer;
  text-indent: -9999px;
  border-color: #e4e4e4 #d2d2d2 #b4b4b4;
  background: url(../images/search-button.png) no-repeat center;
  overflow: hidden;
}

/* Header section */
.header {
  background-color: #323437;
  border-bottom: 5px solid #4eb3d0;
  position: fixed;
  width: 100%;
  margin: 0 auto;
  z-index: 200;
  z-index: none\9; /* IE 8 and below */
}
.header-inside {
  width: 960px!important;
  margin: 0 auto;
}
.header-inside-left {
  float: left;
  height: 6.3em;
  width: 25%;
}
.header-inside-right {
  float: right;
  width: 75%;
  line-height: 1;
}

/* User Menu - Main Menu */
.dc_scratch-user-menu {
  color: #ffffff;
  float: right;
  margin: 0;
  padding-top: 5px;
  padding-right: 5px;
}
.dc_scratch-user-menu ul li a {
  color: #ffffff;
  text-decoration: none;
}
.dc_scratch-user-menu ul li {
  list-style-type: none;
}

/* Breadcrumb */
#breadcrumb .region-breadcrumb {
  height: 20px;
  margin-top: 2px;
  padding: 5px 5px 5px 10px;
}

/* Main content */
.dc_scratch-content-container {
  background-color: #f0f0f0;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 87px;
}

.form-item input {
  width: 50%;
}

/* Sidebar */
.sidebar h2 {
  margin: 0 0 0.5em;
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 5px;
  font-size: 1.2em;
  line-height: 1.2;
}
.sidebar tr.even,
.sidebar tr.odd {
  border-bottom: 1px solid #d6d6d6;
}
#sidebar-first {
  width: 20%;
  float: left;
}
#sidebar-first .section,
#sidebar-second .section {
  padding: 10px;
}
#sidebar-first .block,
#sidebar-second .block {
  padding-bottom: 15px;
}
#sidebar-first .content ul li,
#sidebar-second .content ul li {
  list-style: none outside none;
}
#sidebar-second {
  width: 20%;
  float: right;
}
ul.language-switcher-locale-url li a img {
  height: auto!important;
  width: auto!important;
}
#content {
  width: 60%;
  float: left;
  background-color: #fff;
  min-height: 500px;
}
#content .section {
  padding: 15px;
}

/* Footer */
#footer-wrapper {
  font-size: 0.9em;
  background-color: #4eb3d0;
  margin: 0 auto;
  width: 960px;
}
#footer-wrapper .block h2 {
  color: #fff;
  font-weight: bold;
}
.footer_firstcolumn,
.footer_secondcolumn,
.footer_thirdcolumn,
.footer_fourthcolumn {
  margin: 2px;
  padding: 10px 15px;
  width: 20%;
  float: left;
}
.dc_scratch-footer {
  color: #fff;
  font-family: Titillium Web;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.3px;
  text-align: center;
  background-color: #323437;
  padding: 10px;
}

ul,
ul li {
  list-style-image: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Media screen */
/**
 * 320
 */
@media screen and (max-width : 320px) {
  .header {
    width: 100%;
    margin: 0 auto;
  }
  .header-inside-left {
    float: left;
    width: 15%;
  }
  .header-inside-right {
    float: right;
    width: 85%;
  }
  .logo-menu {
    width: 255px;
  }
  .dc_scratch-user-menu {
    width: 100%px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
  }
  .dc_scratch-content-container {
    width: 257px;
    margin-left: 0;
  }
  #sidebar-first {
    width: 240px;
  }
  #content {
    width: 100%;
  }
  #sidebar-second {
    width: 240px;
  }
  #footer-wrapper {
    width: 100%;
    margin: 0 auto;
  }
  .footer_firstcolumn,
  .footer_secondcolumn,
  .footer_thirdcolumn,
  .footer_fourthcolumn {
    margin: 5px 5px 0;
    padding: 10px 10px 0;
    width: 85%;
  }
}

/**
 * 320
 */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .header {
    width: 100%;
    margin: 0 auto;
  }
  .header-inside-left {
    float: left;
    width: 20%;
  }
  .header-inside-right {
    float: right;
    width: 80%;
  }
  .logo-menu {
    width: 100%;
  }
  .dc_scratch-content-container {
    width: 100%;
  }
  #sidebar-first {
    background: none repeat scroll 0 0 #fff;
    width: 100%;
  }
  #content {
    width: 100%;
  }
  #sidebar-second {
    background: none repeat scroll 0 0 #fff;
    float: left;
    width: 100%;
  }
  #footer-wrapper {
    width: 100%;
    margin: 0 auto;
  }
  .footer_firstcolumn,
  .footer_secondcolumn,
  .footer_thirdcolumn,
  .footer_fourthcolumn {
    margin: 5px 5px 0;
    padding: 10px 10px 0;
    width: 85%;
  }
}

/**
 * 481
 */
@media screen and (min-width: 481px) and (max-width: 960px) {
  .header-inside {
    width: 100%;
  }
  .header {
    width: 100%;
    margin: 0 auto;
  }
  .logo-menu {
    width: 100%;
  }
  .dc_scratch-content-container {
    width: 100%;
  }
  #sidebar-first {
    width: 25%;
  }
  #content {
    width: 67%;
  }
  #sidebar-second {
    background: none repeat scroll 0 0 #fff;
    float: left;
    margin-left: 25%;
    width: 67%;
  }
  #footer-wrapper {
    width: 100%;
    margin: 0 auto;
  }

}

/**
 * 767
 */
@media screen and (max-width: 767px) {
  #rightHeader li {
    padding: 0 0.4em 0 0;
    font-size: 12px;
  }
  #rightHeader {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 10px;
  }

}

/* ------------------------------------------
  NECESSARY STYLES FOR RESPONSIVE NAV
  Smaller menu when on small screen
  All padding and margin are in em, so they will scale as well
--------------------------------------------- */
.dc_scratch-main-menu {
  clear: both;
  height: 36px;
  padding-top: 8px;
  width: 100%;
  float: right;
}
div.dc_scratch-main-menu .menu {
  padding: 0.4em;
  line-height: 0.8em;
  background: #323437;
}
.menu ul {
  transition: max-height .25s linear;
  margin: 0;
  padding: 0;
  text-align: center;
}
.menu li {
  /* visibility transition is on li because multiple transition selectors is not well supported*/
  transition: visibility .25s linear;
  display: inline-block;
  padding: .45em 1.1em;
  margin: 0 .3em;
}
.dc_scratch-main-menu .menu ul li a {
  font-family: Titillium Web;
  font-size: 1.44em;
  color: #fff;
}
.dc_scratch-main-menu .menu a:visited {
  color: #fff;
  text-decoration: none;
}
.dc_scratch-main-menu .menu a:hover {
  color: #4eb3d0;
  text-decoration: none;
}
.dc_scratch-main-menu .menu ul li a.active {
  color: #4eb3d0;
  text-decoration: none;
}

@media (max-width : 650px) {
  .menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .menu ul {
    max-height: 0;
    overflow: hidden;
    margin: 0 3.5em 0 1em;
  }

  .menu li {
    visibility: hidden;
    display: block;
    padding: 0.5em 0.6em;
    border: none;
  }

  .menu .navbar-handle {
    display: block;
  }

  #navbar-checkbox:checked + .menu ul {
    max-height: 300px;
  }

  #navbar-checkbox:checked + .menu li {
    visibility: visible;
  }

  #navbar-checkbox:checked + .menu .navbar-handle,
  #navbar-checkbox:checked + .menu .navbar-handle:after,
  #navbar-checkbox:checked + .menu .navbar-handle:before {
    border-color: #4eb3d0;
  }

  /* -- Extra -- */
  .navbar-handle:before {
    top: 0.377778em;
  }
  .navbar-handle:before,
  .navbar-handle:after {
    border-top: 0.133333em solid;
    content: " ";
    left: 0;
    position: absolute;
    right: 0;
  }
  .navbar-handle:after {
    top: 0.888889em;
  }
  .navbar-handle:before,
  .navbar-handle:after {
    border-top: 0.133333em solid;
    content: " ";
    left: 0;
    position: absolute;
    right: 0;
  }
  .menu .navbar-handle {
    font-size: 1.2em;
    position: absolute;
    right: 12px;
    top: 0.7em;
    z-index: 10;
  }
  .menu .navbar-handle {
    display: block;
  }
  .navbar-handle {
    border-top: 0.133333em solid;
    cursor: pointer;
    display: none;
    font-size: 45px;
    height: 0;
    padding: 0.5em 0;
    position: relative;
    width: 1.66667em;
  }

}

.navbar-checkbox {
  display: none;
}

.navbar-handle {
  @height: 45px; /* just a reference to compute em values on the fly */
  display: none;
  cursor: pointer;
  position: relative;
  font-size: @height;
  padding: .5em 0;
  height: 0;
  width: 1em * 75px / @height;
  border-top: (1em * 6px / @height) solid #323437;
}
.navbar-handle:after,
.navbar-handle:before {
  position: absolute;
  left: 0;
  right: 0;
  content: ' ';
  border-top: (1em * 6px / @height) solid #323437;
}

.navbar-handle:before {
  top: 1em * 17px / @height;
}

.navbar-handle:after {
  top: 1em * 40px / @height;
}

.menu .navbar-handle {
  position: absolute;
  font-size: 1.2em;
  top: 0.7em;
  right: 12px;
  z-index: 10;
}
