.main-container .row .region-content #news {
  display: none;
}
.region-content #news.active {
  display: block !important;
}
.region-content #news .content .news-items {
  margin-top: 30px;
}
.region-content #news .content .add-news-button {
  clear: both;
  height: 30px;
  width: 100%;
  margin-bottom: 15px;
}
.region-content #news .content .add-news-button a {
  float: right;
}
.region-content #news .content .add-news-button a::before {
  font-family: 'Glyphicons Halflings';
  content: "\2b";
  margin: 4px;
  top: 1px;
  position: relative;
}
#block-openlucius-core-frontpage-tabs .frontpage-tabs a.news::before {
  font-family: 'Glyphicons Halflings';
  content: "\2709";
  margin: 4px;
  top: 1px;
  position: relative;
}
.page-node-add-ol-news .vertical-tabs-list li a[href="#edit-options"] {
  display: inline-block !important;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 12px !important;
  color: #222 !important;
  background-color: transparent !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}
.page-node-add-ol-news .vertical-tabs-list li a[href="#edit-options"] .summary,
.page-node-add-ol-news .vertical-tabs-pane > .panel-body > .form-item-status {
  display: none;
}
.page-node-add-ol-news #edit-comment-settings .panel-body {
  padding: 0;
}
/* Promoted news items */
#block-openlucius-news-promoted-news-block .content {
  margin-top: 15px;
  font-size: 12px;
}
#block-openlucius-news-promoted-news-block .content a {
  display: block;
  float: left;
  margin-bottom: 15px;
}
#block-openlucius-news-promoted-news-block .content a.promoted-item {
  width: 100%;
}
#block-openlucius-news-promoted-news-block .content-header {
  margin-bottom: 10px;
}
#block-openlucius-news-promoted-news-block .content-body-wrapper {
  float: left;
}
#block-openlucius-news-promoted-news-block .content-body-wrapper .content-body-full {
  float: left;
  width: 100%;
}
#block-openlucius-news-promoted-news-block .content-body-wrapper .content-body {
  float: left;
  max-width: 75%;
}
#block-openlucius-news-promoted-news-block .content-body-wrapper .content-image {
  float: right;
  margin: 0 0 15px 15px;
}
#block-openlucius-news-promoted-news-block .title {
  font: bold 15px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #008cba;
}
#block-openlucius-news-promoted-news-block .content .title {
  margin-bottom: 5px;
}
#block-openlucius-news-promoted-news-block .content .badge {
  margin-top: 5px;
}
.node-type-ol-news .ol-content .field-name-body {
  margin-top: 20px;
}
.main-container .activity_item.news_activity a.btn-default {
  color: #69758a !important;
}
